<div>
	<div flex layout="row" layout-align="center center" layout-fill>
		<md-card flex="100" class="tri-wizard-card md-whiteframe-z4 margin-bottom-100" tri-wizard>
			<md-toolbar class="md-primary">
				<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
					<h2 flex>Organization Registration - You have choosen {{vm.planRate}}</h2>
					<md-button class="md-accent md-raised" ng-click="vm.GotoPricing()">Go Back</md-button>
				</div>
				<md-progress-linear class="md-accentss" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
				<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
			</md-toolbar>
			<md-card-content>
				<md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
					<md-tab id="basic">
						<md-tab-label>
							<span class="oxy-step-label">1</span>
							<span translate>Basic Information</span>
						</md-tab-label>
						<md-tab-body>
							<md-content class="md-padding">
								<form name="accountForm" tri-wizard-form novalidate>
									<div>
										<div layout="row" layout-xs="column">
											<md-input-container flex class="mrgR-10">
												<label translate>Organization Name</label>
												<input name="agencyname"  ng-maxlength="100" ng-minlength="3" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.agency.AgencyName"
													required />
												<div ng-messages="accountForm.agencyname.$error" md-auto-hide="false" ng-show="accountForm.agencyname.$touched">
													<div ng-message when="required">
														<span translate>Organization name is required</span>
													</div>
													<div ng-message when="pattern"><span>Only text is allowed.</span></div>
													<div ng-message when="minlength"><span>Minimum 3 character is required.</span></div>
													<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
												</div>
											</md-input-container>
										</div>
										<h3>Owner</h3>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="mrgR-10">
												<label>First Name</label>
												<input type="text" name="OwnerFirstName" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.agency.OwnerFirstName" ng-maxlength="100"
													ng-minlength="3" required>
												<div ng-messages="accountForm.OwnerFirstName.$error" md-auto-hide="false" ng-show="accountForm.OwnerFirstName.$touched">
													<div ng-message when="required">
														<span translate>First name is required</span>
													</div>
													<div ng-message when="pattern"><span>Only text is allowed.</span></div>
													<div ng-message when="minlength"><span>Minimum 3 character is required.</span></div>
													<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
												</div>
											</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label>Last Name</label>
												<input type="text" name="OwnerLastName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="3" ng-model="vm.agency.OwnerLastName"
													required>
												<div ng-messages="accountForm.OwnerLastName.$error" md-auto-hide="false" ng-show="accountForm.OwnerLastName.$touched">
													<div ng-message when="required">
														<span translate>Last name is required.</span>
													</div>
													<div ng-message when="pattern"><span>Only text is allowed.</span></div>
													<div ng-message when="minlength"><span>Minimum 3 character is required.</span></div>
													<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
												</div>
											</md-input-container>
										</div>
										<h3 flex>Contact Person</h3>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="mrgR-10">
												<label>First Name</label>
												<input type="text" name="ContactPersonFirstName" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.agency.ContactPersonFirstName"
													ng-maxlength="100 " ng-minlength="3" required>
												<div ng-messages="accountForm.ContactPersonFirstName.$error" md-auto-hide="false" ng-show="accountForm.ContactPersonFirstName.$touched">
													<div ng-message when="required">
														<span translate>First name is required</span>
													</div>
													<div ng-message when="pattern"><span>Only text is allowed.</span></div>
													<div ng-message when="minlength"><span>Minimum 3 character is required.</span></div>
													<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
												</div>
											</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label>Last Name</label>
												<input type="text" name="ContactPersonLastName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="3" ng-model="vm.agency.ContactPersonLastName"
													required>
												<div ng-messages="accountForm.ContactPersonLastName.$error" md-auto-hide="false" ng-show="accountForm.ContactPersonLastName.$touched">
													<div ng-message when="required">
														<span translate>Last name is required.</span>
													</div>
													<div ng-message when="pattern"><span>Only text is allowed.</span></div>
													<div ng-message when="minlength"><span>Minimum 3 character is required.</span></div>
													<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
												</div>
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="mrgR-10">
												<label translate>Email</label>
												<input type="email" name="email" id="username" ng-unique="username" ng-pattern="emailFormat" validate-username-remotely ng-maxlength="100" ng-model="vm.agency.Email"
													ng-change="vm.assignEmailToLocation(vm.agency.Email)" 
													required>
												<div ng-messages="accountForm.email.$error" md-auto-hide="false" ng-show="accountForm.email.$touched">
													<div ng-message when="required">
														<span translate>Email is required.</span>
													</div>
													<div ng-message when="pattern"><span>Please enter a valid email address.</span></div>
													<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
													<div ng-message when="validUsername"><span>Maximum 100 character is allowed.</span></div>
													<div ng-message when="unique"><span>Email already Exists</span></div>
												</div>
												</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label>Phone Number</label>
												<input name="phonenumber" type="text" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____" ng-model="vm.agency.PhoneNumber"
													required>
												<div ng-messages="accountForm.phonenumber.$error" md-auto-hide="false" ng-show="accountForm.phonenumber.$touched">
													<div ng-message when="required">
														<span>Phonenumber is required</span>
													</div>
													<div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
												</div>
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="mrgR-10">
												<label>Password</label>
												<input type="password" name="Password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-model="vm.agency.password"
													tri-same-password="accountForm.confirmpassword" required>
												<div ng-messages="accountForm.Password.$error" md-auto-hide="false" ng-show="accountForm.Password.$touched">
													<div ng-message when="required">
														<span translate>Password is required.</span>
													</div>
													<div ng-message when="pattern"><span>Password should be atleast 8 characters long and should contain one number,one character and one special character.<strong class=""></strong></span></div>

												</div>
											</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label>Confirm Password</label>
												<input type="password" name="confirmpassword" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
													ng-model="vm.agency.confirmpassword" tri-same-password="accountForm.Password" required>
												<div ng-messages="accountForm.confirmpassword.$error" md-auto-hide="false" ng-show="accountForm.confirmpassword.$touched">
													<div ng-message when="required">
														<span translate>Confirm password is required.</span>
													</div>
													<div ng-message when="samePassword"><span translate>Passwords do not match.</span></div>
												</div>
											</md-input-container>
										</div>
									</div>
								</form>
							</md-content>
						</md-tab-body>
					</md-tab>
					<md-tab id="information" ng-disabled="accountForm.$invalid">
						<md-tab-label>
							<span class="oxy-step-label">2</span>
							<span translate>Physical Address</span>
						</md-tab-label>
						<md-tab-body>
							<md-content class="md-padding">
								<form name="addressForm" tri-wizard-form>
									<div>
										<div layout="row" layout-xs="column">
											<md-input-container flex>
												<label translate>Address</label>
												<input name="address" ng-model="vm.agency.Address" ng-maxlength="200" required>
												<div ng-messages="addressForm.address.$error" md-auto-hide="false" ng-show="addressForm.address.$touched">
													<div ng-message when="required">
														<span translate>Address is required.</span>
													</div>
													<div ng-message when="maxlength">
														<span translate>Maximum 200 character allowed.</span>
													</div>
												</div>
											</md-input-container>
										</div>
										<div layout="row" layout-xs="column" class="margin-bottom-20">
											<md-input-container flex class="mrgR-10">
												<label translate>City</label>
												<input type="text" ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/" name="cityname" ng-model="vm.agency.CityName" ng-maxlength="100" ng-minlength="3">
												<div ng-messages="addressForm.cityname.$error" md-auto-hide="false" ng-show="addressForm.cityname.$touched">
													<div ng-message when="pattern"><span>Invalid city name.</span></div>
													<div ng-message when="minlength"><span>Minimum 3 character is required.</span></div>
													<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
												</div>
											</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label for="state">State</label>
												<md-select name="state" id="state" ng-model="vm.agency.StateId" ng-disabled="!vm.agency.CountryId" required>
													<md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
												</md-select>
												<div ng-messages="addressForm.state.$error" md-auto-hide="false" ng-show="addressForm.state.$touched">
													<div ng-message when="required">
														<span translate>State is required.</span>
													</div>
												</div>
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="mrgR-10">
												<label>Zip Code</label>
												<input name="postalcode" type="text" ng-maxlength="6" ng-minlength="5" ng-model="vm.agency.PostalCode">
												<div ng-messages="addressForm.postalcode.$error" md-auto-hide="false" ng-show="addressForm.postalcode.$touched">
													<div ng-message when="maxlength"><span>Maximum length is 6.</span></div>
													<div ng-message when="minlength"><span>Minimum length is 5.</span></div>
													<div ng-message when="required"><span>Postal code is required.</span></div>
												</div>
											</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label translate>Country</label>
												<md-select name="country" ng-model="vm.agency.CountryId" ng-change="vm.GetState(vm.agency.CountryId)" required>
													<md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
												</md-select>
												<div ng-messages="addressForm.country.$error" md-auto-hide="false" ng-show="addressForm.country.$touched">
													<div ng-message when="required">
														<span translate>Country is required.</span>
													</div>
												</div>
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="mrgR-10">
												<label>Location Name</label>
												<input name="locationname" type="text" ng-init="vm.agency.LocationName='Main'" ng-maxlength="100" ng-model="vm.agency.LocationName"
													required>
												<div ng-messages="addressForm.locationname.$error" md-auto-hide="false" ng-show="addressForm.locationname.$touched" required>
													<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
													<div ng-message when="required"><span>Location is required.</span></div>
												</div>
											</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label>Location Email</label>
												<input type="email" name="locationemail" ng-model="vm.agency.LocationEmailId" ng-maxlength="100" ng-pattern="emailFormat"
													>
												<div ng-messages="addressForm.locationemail.$error" md-auto-hide="false" ng-show="addressForm.locationemail.$touched">
													<div ng-message when="email">
														<span translate>Please enter a valid email.</span>
													</div>
													<div ng-message when="pattern"><span>Please enter a valid email address.</span></div>
													<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
												</div>
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="mrgR-10">
												<label for="TimeZone">Select Time Zone</label>
												<md-select placeholder="Time Zone" name="TimeZone" id="TimeZone" ng-model="vm.TimeZone" required>
													<md-option value="{{timezone.Id}}" ng-repeat="timezone in vm.TimezoneList">{{timezone.DisplayName}}</md-option>
												</md-select>
												<div ng-messages="addressForm.TimeZone.$error" md-auto-hide="false" ng-show="addressForm.TimeZone.$error">
													<div ng-message when="required"><span>Please select Time Zone.</span></div>
												</div>
											</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label>Description</label>
												<input name="Description" type="text" ng-model="vm.agency.Description" ng-maxlength="200">
												<div ng-messages="addressForm.Description.$error" md-auto-hide="false" ng-show="addressForm.Description.$touched">
													<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
												</div>
											</md-input-container>
										</div>
									</div>
								</form>
							</md-content>
						</md-tab-body>
					</md-tab>
					<md-tab id="billing" ng-disabled="addressForm.$invalid">
						<md-tab-label>
							<span class="oxy-step-label">3</span>
							<span translate>Billing Information</span>
						</md-tab-label>
						<md-tab-body>
							<md-content class="md-padding">
								<form name="billingForm" tri-wizard-form>
									<div layout="row" layout-xs="column">
										<md-input-container flex class="mrgR-10">
											<label translate>Authorized Billing Contact Name</label>
											<input name="contactname" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.agency.AuthorizedBillingAccountname" ng-maxlength="100">
											<div ng-messages="billingForm.contactname.$error" md-auto-hide="false" ng-show="billingForm.contactname.$touched">
												<div ng-message when="required">
                                                    <span translate>This field is required</span>
                                                </div>
												<div ng-message when="pattern"><span>Only text is allowed.</span></div>
												<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
											</div>
										</md-input-container>
										<md-input-container flex class="mrgR-10">
											<label translate>Billing Contact Email</label>
											<input type="email" name="billingEmail" ng-model="vm.agency.BillingEmail"  ng-pattern="emailFormat" ng-maxlength="100" 
												required>
											<div ng-messages="billingForm.billingEmail.$error" md-auto-hide="false" ng-show="billingForm.billingEmail.$touched">
												<div ng-message when="required">
													<span translate>Email is required.</span>
												</div>
												<div ng-message when="pattern"><span>Please enter a valid email address.</span></div>
												<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
											</div>
										</md-input-container>
									</div>
									<div layout="row" layout-xs="column">
										<md-checkbox class="md-primary" value="0" ng-model="IsChecked" ng-change="vm.OnCheck()" aria-label="Primary Checkbox">
											Same as physical address
										</md-checkbox>
									</div>
									<div>
										<md-input-container class="md-block">
											<textarea placeholder="Address" name="CardBillingAddress" ng-maxlength="200" ng-model="vm.agency.CardBillingAddress"></textarea>
											<div ng-messages="billingForm.CardBillingAddress.$error" md-auto-hide="false" ng-show="billingForm.CardBillingAddress.$touched">
												<div ng-message when="maxlength"><span>Maximum 200 character is allowed.</span></div>
											</div>
										</md-input-container>
									</div>
									<div layout layout-xs="column" flex class="margin-bottom-20">
										<md-input-container flex class="mrgR-10">
											<label translate>Country</label>
											<md-select name="country" ng-model="vm.agency.CardCountryId" ng-change="vm.GetState(vm.agency.CardCountryId)">
												<md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
											</md-select>
										</md-input-container>
										<md-input-container flex class="mrgL-10">
											<label translate>State/Province</label>
											<md-select name="state" ng-model="vm.agency.CardStateId" ng-disabled="!vm.agency.CardCountryId">
												<md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
											</md-select>
										</md-input-container>
									</div>
									<div layout layout-xs="column" flex>
										<md-input-container flex class="mrgR-10">
											<label translate>City</label>
											<input type="text" ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/" name="cityname" ng-model="vm.agency.CardCityName" >
											<div ng-messages="billingForm.cityname.$error" md-auto-hide="false" ng-show="billingForm.cityname.$touched">
												<div ng-message when="pattern"><span>Invalid city name.</span></div>
												<div ng-message when="minlength"><span>Minimum 3 character is required.</span></div>
												<div ng-message when="maxlength"><span>Maximum 4 character is allowed.</span></div>
											</div>
										</md-input-container>
										<md-input-container flex class="mrgL-10">
											<label translate>Postal Code</label>
											<input type="text" name="postal" ng-model="vm.agency.CardPostalCode">
										</md-input-container>
									</div>
									<p>The Authorized Billing Contact will receive monthly billing emails/has authority to manage the billing account</p>

								</form>
							</md-content>
						</md-tab-body>
					</md-tab>
					<md-tab id="payment" ng-disabled="addressForm.$invalid">
						<md-tab-label>
							<span class="oxy-step-label">4</span>
							<span translate>Payment Method</span>
						</md-tab-label>
						<md-tab-body>
							<md-content class="md-padding">
								<form name="paymentForm" tri-wizard-form>
									<div>
										<md-input-container class="md-block">
											<label translate>Name appears on Card</label>
											<input type="text" name="name" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.agency.CardName" ng-maxlength="100" required>
											<div ng-messages="paymentForm.name.$error" md-auto-hide="false" ng-show="paymentForm.name.$touched">
												<div ng-message when="required">
                                                    <span translate>Card name is required.</span>													
                                                </div>
												<div ng-message when="pattern"><span>Only text is allowed.</span></div>
												<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
											</div>
										</md-input-container>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="mrgR-10">
												<label translate>Card Type</label>
												<md-select name="CardType" ng-model="vm.agency.CardType" ng-change="vm.checkStatus()" required>
													<md-option value="Visa" translate>Visa</md-option>
													<md-option value="Master Card" translate>Master Card</md-option>
													<md-option value="American Express" translate>American Express</md-option>
													<md-option value="Discover" translate>Discover</md-option>
												</md-select>
												<div ng-messages="paymentForm.CardType.$error" md-auto-hide="false" ng-show="paymentForm.CardType.$touched">
                                                    <div ng-message when="required">
                                                        <span translate>Card type is required</span>
                                                    </div>
                                                </div>
											</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label translate>Card Number</label>
												<input type="text" name="number" id="cardnumber" ng-model="vm.agency.CardNumber"  ui-mask="{{vm.pattern}}" placeholder="{{vm.placeholder}}" required>
												<div ng-messages="paymentForm.number.$error" md-auto-hide="false" ng-show="paymentForm.number.$touched">
													<div ng-message when="required">
                                                        <span translate>Card number is required.</span>
                                                    </div>
												</div>
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="mrgR-10">
												<label translate>Card Expiry Month</label>
												<md-select name="month" ng-model="vm.agency.CardExpiryMonth" required>
													<md-option value="01" translate>01</md-option>
													<md-option value="02" translate>02</md-option>
													<md-option value="03" translate>03</md-option>
													<md-option value="04" translate>04</md-option>
													<md-option value="05" translate>05</md-option>
													<md-option value="06" translate>06</md-option>
													<md-option value="07" translate>07</md-option>
													<md-option value="08" translate>08</md-option>
													<md-option value="09" translate>09</md-option>
													<md-option value="10" translate>10</md-option>
													<md-option value="11" translate>11</md-option>
													<md-option value="12" translate>12</md-option>
												</md-select>
												<div ng-messages="paymentForm.month.$error" md-auto-hide="false" ng-show="paymentForm.month.$touched">
                                                            <div ng-message when="required">
                                                                <span translate>Month is required.</span>
                                                            </div>
                                                        </div>
											</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label translate>Card Expiry Year</label>
												<md-select name="year" ng-model="vm.agency.CardExpiryYear" required>
													<md-option ng-repeat="year in years" value="{{year}}" translate>{{year}}</md-option>
												</md-select>
												<div ng-messages="paymentForm.year.$error" md-auto-hide="false" ng-show="paymentForm.year.$touched">
                                                            <div ng-message when="required">
                                                                <span translate>Year is required.</span>
                                                            </div>
                                                        </div>
											</md-input-container>
											<md-input-container flex class="mrgL-10">
												<label translate>CVV</label>
												<input type="password" name="CVV" ng-model="vm.agency.CVV"  ng-minlength={{vm.CVV}} ng-maxlength={{vm.CVVmax}} required>
												<div ng-messages="paymentForm.CVV.$error" md-auto-hide="false"  ng-show="paymentForm.CVV.$touched">
													<div ng-message when="required">
                                                        <span translate>CVV is required</span>
                                                    </div>
													<div ng-message when="minlength"><span>Minimum length is {{vm.CVV}}.</span></div>
													<div ng-message when="maxlength"><span>Maximum length is {{vm.CVVmax}}.</span></div>
												</div>
											</md-input-container>
										</div>
									</div>
								</form>
							</md-content>
						</md-tab-body>
					</md-tab>
					<md-tab id="accept" ng-disabled="addressForm.$invalid">
						<md-tab-label>
							<span class="oxy-step-label">5</span>
							<span translate>Acceptance</span>
						</md-tab-label>
						<md-tab-body>
							<md-content class="md-padding">
								<md-input-container class="md-block">
									<div class="padding-10" flex layout="column" layout-align="center center">
										<h2 class="md-display-1" translate>Acceptance of Terms and Submit Transaction</h2>
									</div>
									<div class="padding-left-20 padding-left-20 padding-bottom-20 termsTrans ">
										<p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id
											quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi.
											Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra
											eget.
										</p>
										<p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id
											quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi.
											Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra
											eget.
										</p>
										<p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id
											quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi.
											Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra
											eget.
										</p>
										<p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id
											quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi.
											Nulla wisi laoreet suspendisse integer vivamus elit eu mauris hendrerit facilisi, mi mattis pariatur aliquam pharetra
											eget.
										</p>
									</div>
									<p layout="row" layout-align="center center">
										<md-checkbox class="md-primary" ng-change="vm.stateChange()" ng-model="vm.agency.Acceptance" aria-label="Primary Checkbox"
											required>
											<span style="font-size: 15px;color: red;">*</span> I Accept the above Terms and Conditions
										</md-checkbox>
									</p>
								</md-input-container>

							</md-content>
						</md-tab-body>
					</md-tab>
				</md-tabs>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end">
				<md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 4 || triWizard.currentStep == 0"
					ng-disabled="triWizard.prevStepDisabled()">Previous</md-button>
				<md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.currentStep > 3" ng-disabled="triWizard.nextStepDisabled()">Next</md-button>
				<md-button class="md-accent md-raised" style="margin-right:8px" ng-disabled="vm.disable" ng-click="vm.addAgency(accountForm, addressForm, billingForm,paymentForm)"
					ng-show="triWizard.currentStep > 3">Register</md-button>
				<md-button class="md-warn md-raised" href="#pricing" ng-show="triWizard.currentStep > 3">Cancel</md-button>
			</md-card-actions>
	</div>
	</md-card>
</div>