<md-content class="padded-content-page">
    <div layout="row" layout-xs="column" layout-align="end center">
        <h2 flex>Class Details - {{vm.classname}}</h2>
        <span flex></span>
        <md-button class="md-accent md-raised" ng-href="/classes">Back</md-button>
    </div>
    <md-content>
        <div layout="row" layout-align="center center" class="classpage">
            <md-card flex>
                <md-tabs class="md-primary" md-selected="selectedTabIndex"  md-dynamic-height md-border-bottom>
                    <md-tab label="Summary">
                        <md-card-content ng-controller="UpdateClassController as vm" ng-include="'app/class/classdetails/tabs/summary/views/summary.tmpl.html'"></md-card-content>
                    </md-tab>
                    <md-tab label="Enrolled List">
                        <md-card-content ng-controller="ClassStudentScheduleDetailController as vm" ng-include="'app/class/classdetails/views/details/pages/classstudentscheduleList.tmpl.html'"></md-card-content>
                    </md-tab>
                    <md-tab label="Future Enrollment List">
                         <md-card-content ng-controller="WaitingListByClassController as vm" ng-include="'app/class/classdetails/views/waitinglist.tmpl.html'"></md-card-content>
                    </md-tab>
                    <md-tab label="Lesson Plans">
                        <md-card-content ng-controller="LessonPlanPageController as vm" ng-include="'app/class/LessonPlan/views/lessonplan.tmpl.html'"></md-card-content>
                    </md-tab>
                     <md-tab label="Fees Details">
                        <md-card-content ng-controller="UpdateFeesToClassController as vm" ng-include="'app/class/classdetails/views/details/pages/addfeestoclass.tmpl.html'"></md-card-content>
                    </md-tab>
                    <md-tab label="Meal Schedule">
                        <md-card-content  ng-include="'app/class/classdetails/views/details/pages/mealSchedularlist.tmpl.html'"></md-card-content>
                    </md-tab>
                </md-tabs>
            </md-card>
        </div>
    </md-content>
</md-content>