<<template>
    <div class="card bg-light mb-3" style="max-width: 20rem;">
        <img class="card-img-top img-thumbnail" :src="profileImagePath" :alt="staffName">
        <div class="card-body">
            <h4 class="card-title">{{staffName}}</h4>
            <p class="card-text">
                <strong>{{staffDesignation}}</strong><br />
                {{staffContactNo}}<br />
                {{staffEmail}}
            </p>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
            <div class="col-6">
                <a href="javascript:void(0)" v-on:click="sendMessage()" class="btn btn-sm">Send Message</a>
            </div>
            <div class="col-6 text-right">
                <a href="javascript:void(0)" v-on:click="contactCard()" class="btn btn-sm">Contact Card</a>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "staff-card",
    props: {
        staffId: {
            type: Number,
            default () {
                return 1;
            }
        },
        profileImagePath: {
            type: String,
            default () {
                return 'http://images.amcnetworks.com/amc.com/wp-content/uploads/2012/09/the-walking-dead-season-8-maggie-cohan-800x600-cast.jpg';
            }
        }, 
        staffName: {
            type: String,
            default () {
                return 'Morgan Jones';
            }
        }, 
        staffDesignation: {
            type: String,
            default () {
                return 'Toddlers Teacher';
            }
        },
        staffContactNo: {
            type: String,
            default () {
                return '276-555-5555';
            }
        },
        staffEmail:{
            type: String,
            default () {
                return 'mwilliams@robcochildcare.com';
            }
        },
    },
    // data: () => ({
    //     staffId: '1',
    //     profileImagePath: 'http://images.amcnetworks.com/amc.com/wp-content/uploads/2012/09/the-walking-dead-season-8-maggie-cohan-800x600-cast.jpg',
    //     staffName: 'Morgan Jones',
    //     staffDesignation: 'Toddlers Teacher',
    //     staffContactNo: '276-555-5555',
    //     staffEmail:'mwilliams@robcochildcare.com'
    // }),
    methods: {
        sendMessage : function() {
            this.$emit('sendMessage', {
                staffId: this.staffId,
                profileImagePath: this.profileImagePath,
                staffName: this.staffName,
                staffDesignation: this.staffDesignation,
                staffContactNo: this.staffContactNo,
                staffEmail: this.staffEmail
            });
        },
        contactCard : function() {
            this.$emit('contactCard', {
                staffId: this.staffId,
                profileImagePath: this.profileImagePath,
                staffName: this.staffName,
                staffDesignation: this.staffDesignation,
                staffContactNo: this.staffContactNo,
                staffEmail: this.staffEmail
            });
        }
    }
}
</script>

<style scoped>

</style>
