<template>
  <div class="wrapper">
    <section>
      <div class="content-wrapper">
        <h4 class="page_header">
          <em class="icon-user"></em> Staffs
          <span class="float-right">
              <a href="javascript:void(0)"id="hfAddClass" class="btn btn-link text-success" data-toggle="modal" data-target="#addClassModal">
                <i class="icon-plus"></i>&nbsp;&nbsp;Add Staff
              </a>
            </span>
        </h4>
        <div class="row">
          <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
              <img class="card-img-top" src="https://pbs.twimg.com/media/DKthX-YX0AAtL8T.jpg" alt="...">
              <div class="card-body">

                <h4 class="card-title">Rick Grimes</h4>
                <p class="card-text">
                  <strong>Director</strong><br /> 276-555-1111
                  <br /> rgrimes@robcochildcare.com
                </p>
              </div>
              <div class="card-footer text-muted">
                <div class="row">
                  <div class="col-6">
                    <a href="javascript:void(0)" class="btn btn-sm">Send Message</a>
                  </div>
                  <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-sm">Contact Card</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
              <img class="card-img-top" src="http://images.amcnetworks.com/amc.com/wp-content/uploads/2011/09/the-walking-dead-season-8-daryl-reedus-800x600-cast.jpg"
                alt="..." >
              <div class="card-body">

                <h4 class="card-title">Daryl Dixon</h4>
                <p class="card-text">
                  <strong>Associate Director</strong><br /> 276-555-2222
                  <br /> ddixon@robcochildcare.com
                </p>
              </div>
              <div class="card-footer text-muted">
                <div class="row">
                  <div class="col-6">
                    <a href="javascript:void(0)" class="btn btn-sm">Send Message</a>
                  </div>
                  <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-sm">Contact Card</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
              <img class="card-img-top" src="http://images.amcnetworks.com/amc.com/wp-content/uploads/2012/09/the-walking-dead-season-8-maggie-cohan-800x600-cast.jpg"
                alt="..." >
              <div class="card-body">

                <h4 class="card-title">Maggie Greene</h4>
                <p class="card-text">
                  <strong>Infant Teacher</strong><br /> 276-555-3333
                  <br /> mgreene@robcochildcare.com
                </p>
              </div>
              <div class="card-footer text-muted">
                <div class="row">
                  <div class="col-6">
                    <a href="javascript:void(0)" class="btn btn-sm">Send Message</a>
                  </div>
                  <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-sm">Contact Card</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
              <img class="card-img-top" src="http://images.amcnetworks.com/amc.com/wp-content/uploads/2012/09/the-walking-dead-season-8-michonne-gurira-800x600-cast.jpg"
                alt="..." >
              <div class="card-body">

                <h4 class="card-title">Michonne Williams</h4>
                <p class="card-text">
                  <strong>Toddlers Teacher</strong><br /> 276-555-4444
                  <br /> mwilliams@robcochildcare.com
                </p>
              </div>
              <div class="card-footer text-muted">
                <div class="row">
                  <div class="col-6">
                    <a href="javascript:void(0)" class="btn btn-sm">Send Message</a>
                  </div>
                  <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-sm">Contact Card</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
              <img class="card-img-top" src="http://images.amcnetworks.com/amc.com/wp-content/uploads/2010/12/the-walking-dead-season-8-morgan-james-800x600-cast.jpg"
                alt="..." >
              <div class="card-body">

                <h4 class="card-title">Morgan Jones</h4>
                <p class="card-text">
                  <strong>Pre-K Teacher</strong><br /> 276-555-5555
                  <br /> rgrimes@robcochildcare.com
                </p>
              </div>
              <div class="card-footer text-muted">
                <div class="row">
                  <div class="col-6">
                    <a href="javascript:void(0)" class="btn btn-sm">Send Message</a>
                  </div>
                  <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-sm">Contact Card</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
              <img class="card-img-top" src="http://images.amcnetworks.com/amc.com/wp-content/uploads/2014/09/the-walking-dead-season-8-eugene-mcdermitt-800x600-cast.jpg"
                alt="..." >
              <div class="card-body">

                <h4 class="card-title">Eugene Porter</h4>
                <p class="card-text">
                  <strong>Cafeteria Manager</strong><br /> 276-555-6666
                  <br /> rgrimes@robcochildcare.com
                </p>
              </div>
              <div class="card-footer text-muted">
                <div class="row">
                  <div class="col-6">
                    <a href="javascript:void(0)" class="btn btn-sm">Send Message</a>
                  </div>
                  <div class="col-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-sm">Contact Card</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
// import HeaderComponent from '../Layouts/header.vue';
// import SideBarComponent from '../Layouts/sidebar.vue';
// import FooterComponent from '../Layouts/footer.vue';

export default {
  name: 'Staffs',
  data () {
    return {
      msg: 'Staffs'
    }
  }
  // ,
  // components:{
  //   HeaderComponent,
  //   SideBarComponent,
  //   FooterComponent
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1,
  h2 {
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #42b983;
  }
</style>