.seed-list { list-style: lower-greek;}
.fontsize16{ font-size:16px;}
.colorgreen{ color:#4caf50;}
.whitebg{ background:#fff !important;}

.whitebg-p {
	background:#fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}
.mrgl-class{ margin-left:10px;}
.mrgR-class{ margin-right:10px;}


.attendance-search .md-button.md-icon-button {margin: 0 0px; width: 34px;}

@media(max-width: 1280px) {
.mrgl-class{ margin-left:0px;}
.mrgR-class{ margin-right:0px;}
}