<template>
  <div class="wrapper">
    <section>
      <div class="content-wrapper">
        <h4 class="page_header"><em class="icon-speedometer"></em> Dashboard</h4>
        <div class="row">

          <div class="col-4">
            <div class="panel widget bg-gray-lighter">
              <div class="row row-table">
                <div class="col-4 text-center bg-gray pv-lg">
                  <em class="material-icons md-48">face</em>
                </div>
                <div class="col-8 pv-lg">
                  <div class="h2 mt0">104</div>
                  <div class="text-uppercase">Participants</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="panel widget bg-gray-lighter">
              <div class="row row-table">
                <div class="col-4 text-center bg-gray pv-lg">
                  <i class="material-icons md-48">event_available</i>
                </div>
                <div class="col-8 pv-lg">
                  <div class="h2 mt0">97</div>
                  <div class="text-uppercase">Checked In</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="panel widget bg-gray-lighter">
              <div class="row row-table">
                <div class="col-4 text-center bg-gray pv-lg">
                  <em class="material-icons md-48">monetization_on</em>
                </div>
                <div class="col-8 pv-lg">
                  <div class="h2 mt0">15</div>
                  <div class="text-uppercase">Overdue Accounts</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
// import HeaderComponent from '../Layouts/header.vue';
// import SideBarComponent from '../Layouts/sidebar.vue';
// import FooterComponent from '../Layouts/footer.vue';

export default {
  name: 'Dashboard',
  data () {
    return {
      msg: 'Dashboard'
    }
  }
  // ,
  // components:{
  //   HeaderComponent,
  //   SideBarComponent,
  //   FooterComponent
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1,
  h2 {
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #42b983;
  }
</style>