<style>
	.login-frame md-toolbar .md-headline {
    margin: 0;
    margin-top: -9px;
}
</style>
<md-card style="width:500px;" >
	<md-toolbar class="padding-20 text-center">
		<a ng-click="vm.redirectToHomePage()"><img ng-src="{{vm.LoginLogo}}" class="margin-top-20" width="250" alt="{{vm.triSettings.name}}"></a>
		<h1 style="color: black;font-size: 20px;font-style: inherit;font-weight: bold; font-family: sans-serif;" class="md-headline" translate>Please reset your password</h1>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
	<md-content class="md-padding" style="height: 316px;">
		<form name="login">
			<md-input-container class="md-block">
				<label for="oldpassword" translate>Old Password</label>
				<input id="oldpassword" label="oldpassword" name="oldpassword" ng-maxlength="100" type="password" ng-model="vm.user.oldpassword"   required/>
				<div ng-messages="login.oldpassword.$error" md-auto-hide="false" ng-show="login.oldpassword.$touched">
					<div ng-message when="required"><span translate>Please enter your old password.</span></div>	
				</div>
			</md-input-container>
			<md-input-container class="md-block" >
				<label for="newpassword" translate>New Password</label>
				<input id="newpassword" label="newpassword" name="newpassword" tri-same-password="login.confirmpassword" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"  type="password" ng-model="vm.user.Password" required />
				<div ng-messages for="login.newpassword.$error" md-auto-hide="false" ng-show="login.newpassword.$touched">
					<div ng-message when="required"><span translate>Please enter your new password.</span></div>
                    <div ng-message when="pattern"><span>Password should be atleast 8 characters long and should contain one number,one character and one special character.<strong class=""></strong></span></div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" >
				<label for="confirmpassword" translate>Confirm new Password</label>
				<input id="confirmpassword" label="confirmpassword" tri-same-password="login.newpassword" name="confirmpassword"  type="password" ng-model="vm.user.confirmpassword" required ng-keyup="$event.keyCode == 13 ? vm.loginClick(vm.user) : null"/>
				<div ng-messages for="login.confirmpassword.$error" md-auto-hide="false" ng-show="login.confirmpassword.$touched">
					<div ng-message when="required"><span translate>Please confirm your new password.</span></div>
                    <div ng-message when="samePassword"><span translate>Passwords do not match.</span></div>
				</div>
			</md-input-container>
			<md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click= "vm.loginClick(vm.user)" 
				ng-disabled="login.$invalid">Reset</md-button>
		</form>
	</md-content>
</md-card>