// Login
.login-frame {
  md-card {
    max-width: 400px;
  }
  md-checkbox {
    margin: 0;
  }
  img {
    display: inline-block;
    width: auto;
    max-height: 100px !important;
    height: initial !important;
  }
  md-content {
    flex-shrink: 0;
  }
  md-toolbar {
    min-height: 180px;
    display: block;
    align-items: center;
    .md-headline {
      margin: 0;
    }
  }
}
.homebtn-log{
   position: absolute; 
   top:15px; 
   left:15px;
   }