<style>
    .login-frame md-card {
    width: 400px;
}
    </style>
<md-card>
	<md-toolbar class="padding-20 text-center">
		<img ng-src="{{::vm.triSettings.logo}}" alt="{{vm.triSettings.name}}">
		<h1 class="md-headline" translate>Reset Password</h1>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
	<md-content class="md-padding">
<form name="password">
    <md-input-container class="md-block">
        <label for="password" translate>New password</label>
        <input id="password" label="password" name="password" type="password" ng-model="vm.user.Password" tri-same-password="password.confirm"
            ng-minlength="8" required/>
        <div ng-messages="password.password.$error" ng-include="'app/examples/authentication/signup/password.messages.html'" md-auto-hide="false"
            ng-show="password.password.$touched"></div>
    </md-input-container>

    <md-input-container class="md-block">
        <label for="confirm" translate>Confirm password</label>
        <input id="confirm" label="confirm" name="confirm" type="password" ng-model="vm.user.confirm" tri-same-password="password.password"
            ng-minlength="8" required/>
        <div ng-messages="password.confirm.$error" ng-include="'app/examples/authentication/signup/password.messages.html'" md-auto-hide="false"
            ng-show="password.confirm.$touched"></div>
    </md-input-container>

    <md-button class="md-raised full-width md-primary margin-left-0" ng-click="vm.ResetPassword()" ng-disabled="password.$invalid">Change</md-button>

</form>
	</md-content>
</md-card>
