// Login
.pricing-frame {
  md-card {
    max-width:1000px;
	min-width:1100px;
  }
  md-checkbox {
    margin: 0;
  }
  img {
    display: inline-block;
    width: auto;
    max-height: 100px !important;
    height: initial !important;
  }
  md-content {
    flex-shrink: 0;
  }
  md-toolbar {
    display: block;
    align-items: center;
    .md-headline {
      margin: 0;
    }
  }
}

.mrgL-10{ margin-left:10px;}
.mrgR-10{ margin-right:10px;}
.white-background{ background:#fff; color:#333; text-align:center; padding:10px; width:100%;}
.big-button{ font-size:22px; line-height:normal; padding:15px 30px; background-color:#f44336 !important;}
.includebg{ background:#f4f4f4; font-size:18px; padding:5px;}
md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
  color: #9e9e9e;
  font-size: 36px;
  margin-right: 28px;
}
.relative{ position:relative}
.price-title{ position:absolute; left:0; right:0; max-width:150px; margin:0 auto !important; top:0; text-align:center;line-height: 40px;}
@media(max-width: 1100px) {
.pricing-frame md-card{min-width:inherit;}
}
@media(max-width: 767px) {
.pricing-frame md-card{min-width:inherit;}
}
 CustomWidth {
    width: 25%;
  }