<div class="full-image-background mb-bg-21" layout="column" flex layout-align="center center">

    <div layout="row" class="error-container">
        <div flex>
           
        </div>
        <div flex>
            <img src="assets/images/workinprogress.png">
        </div> 
        <div flex>
            
        </div>
               
    </div>

    <md-card class="error-container">
        <md-card-content class="text-center">
            <h1 class="md-display-1" translate>Acess Denied</h1>
            <p translate>This section is under construction. Please visit after some time.</p>
            <md-button class="md-primary md-raised" ng-click="vm.goHome()" aria-label="Go Home">Go Home</md-button>
        </md-card-content>
    </md-card>

</div>
