<h3>{{vm.Title}}</h3>

    

                <form name="registerClass" novalidate>
                    <div layout="row" layout-xs="column">
                        <div flex>
                            <md-input-container class="md-block mrgR-10">
                                <label for="classname">Class Name</label>
                                <input id="classname" ng-unique="classname" label="classname" ng-maxlength="50"  name="classname"  ng-model="vm.class.classname" ng-pattern="/^[a-zA-Z\s]*$/"
                                    required/>
                                <div ng-messages="registerClass.classname.$error" md-auto-hide="false" ng-show="registerClass.classname.$touched">
                                    <div ng-message when="required"><span>Please enter Class name.</span></div>
                                    <div ng-message when="pattern"><span>Only text is allowed.</span></div> 
                                    <div ng-message when="unique"><span>Class name already exists!</span></div>
                                </div> 
                            </md-input-container>
                        </div>
                        <div flex>
                            <md-input-container class="md-block mrgL-10">
                                <md-select placeholder="category" name="category" id="category" ng-model="vm.class.category" required>
                                    <md-option ng-repeat="option in vm.AllCategories" value="{{option.ID}}">{{option.Name}}</md-option>
                                </md-select>
                                <div ng-messages="registerClass.category.$error" md-auto-hide="false" ng-show="registerClass.category.$touched">
                                    <div ng-message when="required"><span>Please choose category.</span></div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column">
                        <div flex>
                            <md-input-container class="md-block mrgR-10">
                                <md-select placeholder="status" name="status" id="status" ng-model="vm.class.status"  required>
                                    <md-option value="1">Active</md-option>
                                    <md-option value="2">Inactive</md-option>
                                </md-select>
                                <div ng-messages="registerClass.status.$error" md-auto-hide="false" ng-show="registerClass.status.$touched">
                                    <div ng-message when="required"><span>Please choose status.</span></div>
                                </div>
                                </md-input-container>
                        </div>
                        <div flex>
                            <md-input-container class="md-block mrgL-10">
                                <label>Enroll  Capacity</label>
                                <input type="number" id="enrollcapacity" ng-maxlength="4" ng-model="vm.class.enrollcapacity" label="enrollcapacity" name="enrollcapacity"
                                    required/>

                                <div ng-messages="registerClass.enrollcapacity.$error" md-auto-hide="false" ng-show="registerClass.enrollcapacity.$touched">
                                    <div ng-message when="required"><span>Enroll capacity is required.</span></div>
                                    <div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                    <div layout="row" layout-xs="column">
                        <div flex>
                            <md-input-container class="md-block mrgR-10">
                                <md-select placeholder="session" name="session" id="session" ng-model="vm.class.session"  required>
                                    <md-option ng-repeat="option in vm.AllSessions" value="{{option.ID}}">{{option.Name}}</md-option>
                                </md-select>
                                <div ng-messages="registerClass.session.$error" md-auto-hide="false" ng-show="registerClass.session.$touched">
                                    <div ng-message when="required"><span>Please choose session.</span></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex>
                            <md-input-container class="md-block mrgL-10">
                                <md-select placeholder="Room" name="room" id="room" ng-model="vm.class.room"  required>
                                    <md-option ng-repeat="option in vm.AllRooms" value="{{option.ID}}">{{option.Name}}</md-option>
                                </md-select>
                                <div ng-messages="registerClass.room.$error" md-auto-hide="false" ng-show="registerClass.room.$touched">
                                    <div ng-message when="required"><span>Please choose room.</span></div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column">
                     
                     
                        <div flex class="mrgL-10">
                            <p>Days</p>
                            <md-checkbox class="md-primary" value="1" ng-model="vm.class.Mon" aria-label="Primary Checkbox">
                                Mon
                            </md-checkbox>
                            <md-checkbox class="md-primary" value="2" ng-model="vm.class.Tue" aria-label="Primary Checkbox">
                                Tue
                            </md-checkbox>
                            <md-checkbox class="md-primary" value="3" ng-model="vm.class.Wed" aria-label="Primary Checkbox">
                                Wed
                            </md-checkbox>
                            <md-checkbox class="md-primary" value="4" ng-model="vm.class.Thu" aria-label="Primary Checkbox">
                                Thu
                            </md-checkbox>
                            <md-checkbox class="md-primary" value="5" ng-model="vm.class.Fri" aria-label="Primary Checkbox">
                                Fri
                            </md-checkbox>
                            <md-checkbox class="md-primary" value="6" ng-model="vm.class.Sat" aria-label="Primary Checkbox">
                                Sat
                            </md-checkbox>
                            <md-checkbox class="md-primary" value="6" ng-model="vm.class.Sun" aria-label="Primary Checkbox">
                                Sun
                            </md-checkbox>
                        </div>

                    </div>


                    <div layout="row" layout-xs="column">
                        <div flex>
                            <p class="margin-bottom-0">Min. Age</p>
                            <div layout="row" layout-xs="column">
                                <div flex>
                                    <md-input-container class="md-block mrgR-10">
                                        <md-select placeholder="Year" name="minagefrom" id="minagefrom" ng-model="vm.class.minagefrom"  required>
                                           <md-option ng-repeat="option in vm.AllAgeYears" value="{{option.ID}}">{{option.Name}}</md-option>
                                        </md-select>
                                        <div ng-messages="registerClass.minagefrom.$error" md-auto-hide="false" ng-show="registerClass.minagefrom.$touched">
                                            <div ng-message when="required"><span>Please select year</span></div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <md-input-container class="md-block mrgR-10">
                                        <md-select placeholder="Months" name="minageto" id="minageto" ng-model="vm.class.minageto"  required>
                                            <md-option ng-repeat="option in vm.AllAgeMonths" value="{{option.ID}}">{{option.Name}}</md-option>
                                        </md-select>
                                        <div ng-messages="registerClass.minageto.$error" md-auto-hide="false" ng-show="registerClass.minageto.$touched">
                                            <div ng-message when="required"><span>Please select month</span></div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>

                        </div>
                        <div flex>
                            <p class="mrgL-10 margin-bottom-0">Max. Age</p>
                            <div layout="row" layout-xs="column">
                                <div flex>
                                    <md-input-container class="md-block mrgR-10">
                                        <md-select placeholder="Year" name="maxagefrom" id="maxagefrom" ng-model="vm.class.maxagefrom">
                                           <md-option ng-repeat="option in vm.AllAgeYears" value="{{option.ID}}">{{option.Name}}</md-option>
                                        </md-select>
                                        <div ng-messages="registerClass.maxagefrom.$error" md-auto-hide="false" ng-show="registerClass.maxagefrom.$touched">
                                            <div ng-message when="required"><span>Please select year</span></div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <md-input-container class="md-block">
                                        <md-select placeholder="Months" name="maxageto" id="maxageto" ng-model="vm.class.maxageto">
                                            <md-option ng-repeat="option in vm.AllAgeMonths" value="{{option.ID}}">{{option.Name}}</md-option>
                                        </md-select>
                                        <div ng-messages="registerClass.maxageto.$error" md-auto-hide="false" ng-show="registerClass.maxageto.$touched">
                                            <div ng-message when="required"><span>Please select month</span></div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="margin-bottom-20">

                        <div class="col-25">
                            <md-input-container class="md-block mrgR-10">
                                <p class="mrgL-10">Registration Start Date</p>
                                <md-datepicker ng-model="vm.class.registrationstartDate" ng-blur="vm.setClassStartDate(vm.class.registrationstartDate)" md-min-date=vm.registrationstartDate
                                    name="registrationstartDate" id="registrationstartDate" md-placeholder="Enter date" required></md-datepicker>
                                <div ng-messages="registerClass.registrationstartDate.$error" md-auto-hide="false" ng-show="registerClass.registrationstartDate.$touched">
                                    <div ng-message when="required"><span>Please select date</span></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-25">
                            <md-input-container class="md-block mrgR-10">
                                <p class="mrgL-10">Class Start Date</p>
                                <md-datepicker ng-model="vm.class.classstartdate" name="classstartdate" id="classstartdate" ng-blur="vm.setClassEndDate(vm.class.classstartdate)"
                                    ng-disabled=vm.disabled md-min-date=vm.classstartdate md-placeholder="Enter date"></md-datepicker>
                                <div ng-messages="registerClass.classstartdate.$error" md-auto-hide="false" ng-show="registerClass.classstartdate.$touched">
                                    <div ng-message when="required"><span>Please select date</span></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-25">
                            <md-input-container class="md-block mrgR-10">
                                <p class="mrgL-10">Class End Date</p>
                                <md-datepicker ng-model="vm.class.classenddate" name="classenddate" id="classenddate" md-placeholder="Enter date" ng-disabled=vm.disabledClassEndDatePicker
                                    md-min-date=vm.classenddate></md-datepicker>
                                <div ng-messages="registerClass.classenddate.$error" md-auto-hide="false" ng-show="registerClass.classenddate.$touched">
                                    <div ng-message when="required"><span>Please select date</span></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-25">
                            <md-input-container class="md-block mrgR-10">
                                <p class="mrgL-10">Age Cutoff Date</p>
                                <!--<md-datepicker ng-model="vm.class.agecutoffdate" ng-disabled="vm.disabledagecutoffdate" md-min-date=vm.minagecutoffdate md-max-date=vm.maxagecutoffdate
                                    ng-maxlength="10" name="agecutoffdate" id="agecutoffdate" md-placeholder="Enter date" required></md-datepicker>
                                <div ng-messages="registerClass.agecutoffdate.$error" md-auto-hide="false" ng-show="registerClass.agecutoffdate.$touched">
                                    <div ng-message when="required"><span>Please select date</span></div>-->
                                    <md-datepicker ng-model="vm.class.agecutoffdate"  ng-maxlength="10" name="agecutoffdate" id="agecutoffdate" md-placeholder="Enter date"></md-datepicker>
                                    <!--<div ng-messages="registerClass.agecutoffdate.$error" md-auto-hide="false" ng-show="registerClass.agecutoffdate.$touched">-->
                                    <!--<div ng-message when="required"><span>Please select date</span></div>-->
                                </div>
                            </md-input-container>
                        </div>
                        <div style="clear:both"></div>
                    
                    <div layout="row" layout-xs="column">
                        <div flex>
                            <md-input-container class="md-block mrgR-10">
                                <label>Start Time</label>
                                <input type="time" placeholder="Format : 14:00:00" ng-model="vm.class.starttime" name="starttime" id="starttime">
                            </md-input-container>
                        </div>
                        <div flex>
                            <md-input-container class="md-block mrgL-10">
                                <label>End Time</label>
                                <input type="time" ng-model="vm.class.endtime" placeholder="Format : 14:00:00" name="endtime" id="endtime">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column">
                        <div flex>
                            <md-input-container class="md-block">
                                <label>Description</label>
                                <textarea ng-model="vm.class.description" ng-maxlength="100" name="description" id="description"></textarea>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="button-toolbar" layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-show="id == 0" ng-click="vm.addClass(registerClass)" ng-disabled="registerClass.$invalid">Add Class</md-button>
                        <md-button class="md-primary md-raised" ng-show="id > 0" ng-click="vm.updateClass(registerClass)" ng-disabled="registerClass.$invalid">Update Class</md-button>
                        <md-button class="md-primary md-raised" ng-click="vm.cancelUpdate()">Cancel</md-button>
                        <!--<md-button>Cancel</md-button>-->
                    </div>
                </form>
           

