

	<md-toolbar>

		<div class="md-toolbar-tools">
			<h2>Organization payment history<span ng-show="vm.selected.length">({{vm.selected.length}} {{vm.selected.length > 1 ? 'Agencys' : 'Agency'}} selected )</span></h2>
			<span flex></span>
			<span print-remove><h3>Search</h3></span>
			<md-button print-remove ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon print-remove class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padded-content-page">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form name="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Plan Name</label>
								<input type="text" label="name" name="name" id="name" ng-model="vm.query.PlanName">
							</md-input-container>
							<md-input-container flex>
								<label for="Status">Status</label>
								<md-select placeholder="Status" name="PaymentStatus" id="PaymentStatus" ng-model="vm.query.PaymentStatus">
									<md-option value="invoice.payment_succeeded">Succeeded</md-option>
									<md-option value="invoice.payment_failed">Failed</md-option>
								</md-select>
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="Date"> From Date</label>
								<md-datepicker flex md-placeholder="From Date" ng-model="vm.query.FromDate" md-max-date="vm.MaxDate" ng-change="vm.setToDate()"
									name="FromDate" id="FromDate" ng-model-options="{ timezone: 'utc' }" required></md-datepicker>
								<div ng-messages="Search.FromDate.$error" md-auto-hide="false" ng-show="Search.FromDate.$touched">
									<div ng-message when="required"><span>Please select From Date.</span></div>
								</div>
							</md-input-container>
							<md-input-container flex>
								<label for="Date">To Date</label>
								<md-datepicker flex md-placeholder="To Date"  ng-model-options="{ timezone: 'utc' }" ng-model="vm.query.ToDate" md-max-date="vm.MaxDate" md-min-date="vm.query.FromDate"
									name="ToDate" id="ToDate" required></md-datepicker>
									<div ng-messages="Search.ToDate.$error" md-auto-hide="false" ng-show="Search.ToDate.$touched">
									<div ng-message when="required"><span>Please select To Date.</span></div>
								</div>
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-disabled="Search.$invalid" ng-click="vm.GetAgencyPaymeHistoryList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
		<div print-remove>
			<p>
				<h3>Plan Name : {{Plan}} </h3>
				<h3>Status : {{PaymentStatus}} </h3>
				<h3>From Date : {{vm.query.FromDate|date:"MM/dd/yyyy"}} </h3>
				<h3>To Date : {{vm.query.ToDate|date:"MM/dd/yyyy"}} </h3>
			</p>
		</div>
		<div class="margin-top-20">

			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
			<md-table-container>
				<md-card-actions print-hide layout="row" layout-align="end center ">
					<md-button print-hide class="md-primary" ng-click="vm.printDiv('printable')">
						<md-icon print-hide md-font-icon="fa fa-print"></md-icon>
						Print</md-button>
				</md-card-actions>
				<table print-table="payment" md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="vm.selected"
					md-progress="vm.promise">
					<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetAgencyPaymeHistoryList">
						<tr md-row>
							<!--<th md-column><span>#</span></th>-->
							<!--<th md-column md-order-by="AgencyName"><span>{{vm.columns.AgencyName}}</span></th>
							<th md-column md-order-by="Email"><span>{{vm.columns.Email}}</span></th>
							<th md-column md-order-by="PhoneNumber"><span>{{vm.columns.PhoneNumber}}</span></th>-->
							<th md-column md-order-by="PlanName"><span>{{vm.columns.PlanName}}</span></th>
							<th md-column md-order-by="PlanAmount"><span>{{vm.columns.PlanAmount}}</span></th>
							<th md-column md-order-by="CreatedDate" mddesc><span>{{vm.columns.CreatedDate}}</span></th>
							<!--<th md-column md-order-by="StartDate"><span>{{vm.columns.StartDate}}</span></th>
							<th md-column md-order-by="ExpiryDate"><span>{{vm.columns.ExpiryDate}}</span></th>-->
							<th md-column md-order-by="EventType"><span>{{vm.columns.EventType}}</span></th>
							<!--<th md-column><span>ACTION</span></th>-->
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="data" md-select-id="data.ID" ng-repeat="data in vm.agencyPaymentList">
							<!--<td md-cell>{{ $index + 1 }}</td>-->
							<!--<td md-cell><a style="cursor:pointer" ng-click="vm.editAgency($event,agency)">{{data.OrganizationName}}</a></td>
							<td md-cell>{{data.EmailAddress}}</td>
							<td md-cell>{{data.PhoneNumber}}</td>-->
							<td md-cell>{{data.PlanName}}</td>
							<td md-cell>${{data.PlanAmount}}</td>
							<td md-cell>{{data.CreatedDate| date:"MM/dd/yyyy h:mma"}}</td>
							<!--<td md-cell>{{data.StartDate| date:'MM/dd/yyyy'}}</td>
							<td md-cell>{{data.PlanExpiryDate| date:'MM/dd/yyyy'}}</td>-->
							<td md-cell ng-if="data.EventType=='invoice.payment_succeeded'">succeeded</td>
							<td md-cell ng-if="data.EventType=='invoice.payment_failed'">failed</td>
							<td md-cell ng-if="data.EventType=='customer.subscription.created'">created</td>
							<!--<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.editAgency($event,agency)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
									<md-tooltip>Edit</md-tooltip>
								</a> &nbsp;
								<a class="md-primary" ng-click="vm.showDeleteAgencyConfirmDialoue($event,agency.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
									<md-tooltip>Delete</md-tooltip>
								</a>
							</td>-->
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
				<md-input-container flex class="text-center">
					<h2>No Payment History found.</h2>
				</md-input-container>
			</div>
			<md-table-pagination print-remove md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page"
				md-total="{{vm.agencyPaymentListCount}}" md-on-paginate="vm.GetAgencyPaymeHistoryList" md-page-select></md-table-pagination>
			<!--</div>-->
		</div>
		<!--<md-button ng-click="vm.GoToPricing()" class="md-fab md-accent md-fab-bottom-right addbtn-pos md-hue-3" aria-label="Add Organization">
			<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
			<md-tooltip>Add Organization</md-tooltip>
		</md-button>-->
	</div>


<div id="printable" ng-hide="true" class="margin-top-20">
	<div style="margin-bottom:25px;"><img print-only width="150" src="assets/images/logo.svg" /></div>
	<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
	<md-table-container>
		<h1>Organization payment history</h1>
		<table border="1" print-table="payment" md-table class="md-primary md-data-table table table-bordered table-hover table-striped"
			ng-model="vm.selected" md-progress="vm.promise">
			<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetAgencyPaymeHistoryList">
				<tr md-row>
					<!--<th md-column><span>#</span></th>-->
					<!--<th md-column md-order-by="AgencyName"><span>{{vm.columns.AgencyName}}</span></th>
							<th md-column md-order-by="Email"><span>{{vm.columns.Email}}</span></th>
							<th md-column md-order-by="PhoneNumber"><span>{{vm.columns.PhoneNumber}}</span></th>-->
					<th><span>{{vm.columns.PlanName}}</span></th>
					<th><span>{{vm.columns.PlanAmount}}</span></th>
					<th><span>{{vm.columns.CreatedDate}}</span></th>
					<!--<th md-column md-order-by="StartDate"><span>{{vm.columns.StartDate}}</span></th>
							<th md-column md-order-by="ExpiryDate"><span>{{vm.columns.ExpiryDate}}</span></th>-->
					<th><span>{{vm.columns.EventType}}</span></th>
					<!--<th md-column><span>ACTION</span></th>-->
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-auto-select md-select="data" md-select-id="data.ID" ng-repeat="data in vm.agencyPaymentList">
					<!--<td md-cell>{{ $index + 1 }}</td>-->
					<!--<td md-cell><a style="cursor:pointer" ng-click="vm.editAgency($event,agency)">{{data.OrganizationName}}</a></td>
							<td md-cell>{{data.EmailAddress}}</td>
							<td md-cell>{{data.PhoneNumber}}</td>-->
					<td md-cell>{{data.PlanName}}</td>
					<td md-cell>${{data.PlanAmount}}</td>
					<td md-cell>{{data.CreatedDate| date:"MM/dd/yyyy h:mma"}}</td>
					<!--<td md-cell>{{data.StartDate| date:'MM/dd/yyyy'}}</td>
							<td md-cell>{{data.PlanExpiryDate| date:'MM/dd/yyyy'}}</td>-->
					<td md-cell ng-if="data.EventType=='invoice.payment_succeeded'">succeeded</td>
					<td md-cell ng-if="data.EventType=='invoice.payment_failed'">failed</td>
					<td md-cell ng-if="data.EventType=='customer.subscription.created'">created</td>
					<!--<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.editAgency($event,agency)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
									<md-tooltip>Edit</md-tooltip>
								</a> &nbsp;
								<a class="md-primary" ng-click="vm.showDeleteAgencyConfirmDialoue($event,agency.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
									<md-tooltip>Delete</md-tooltip>
								</a>
							</td>-->
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
		<md-input-container flex class="text-center">
			<h2>No Payment History found.</h2>
		</md-input-container>
	</div>

	<!--</div>-->
</div>