<div class="example-code md-whiteframe-z1 margin-bottom-10">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Future Enrollment List <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Enrolls' : 'Enroll'}} selected )</span></h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padded-content-page">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Participant</label>
								<input type="text" label="name" name="name" id="name" ng-model="query.ParticipantName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetWaitingListByClass()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
		<div>
			<p>
				<h3>Participant Name : {{ParticipantName}}</h3>
			</p>
		</div>
		<div class="margin-top-20">
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
					<thead md-head md-order="query.order" md-on-reorder="vm.GetWaitingListByClass">
						<tr md-row>
							<th md-column><span>{{vm.columns.Image}}</span></th>
							<th md-column md-order-by="FirstName"><span>{{vm.columns.FirstName}}</span></th>
							<th md-column md-order-by="LastName"><span>{{vm.columns.LastName}}</span></th>
							<th md-column><span>{{vm.columns.ClassName}}</span></th>
							<th md-column md-order-by="StartDate"><span>{{vm.columns.StartDate | date:'MM/dd/yyyy'}}</span></th>
							<th md-column md-order-by="Room"><span>{{vm.columns.Room}}</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="schedule" md-select-id="schedule.ID" ng-repeat="schedule in vm.WaitingList">
							<td md-cell><img ng-src="{{vm.ImageUrlPath}}{{schedule.ImagePath}}" err-src="../assets/images/profilepic/images4.png" /></td>
							<td md-cell>{{schedule.FirstName}}</td>
							<td md-cell>{{schedule.LastName}}</td>
							<td md-cell>{{schedule.ClassName}}</td>
							<td md-cell>{{schedule.Startdate | date:'MM/dd/yyyy' }}</td>
							<td md-cell>{{schedule.RoomName}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<div ng-if="vm.NoData==true" layout layout-xs="column" flex>
				<md-input-container flex class="text-center">
					<h2>No Waiting list found.</h2>
				</md-input-container>
			</div>
			<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page-select md-page="query.page"
				md-total="{{vm.WaitingListCount}}" md-on-paginate="vm.GetWaitingListByClass"></md-table-pagination>
		</div>
	</div>