<!--<md-content class="padded-content-page">-->
<form name="registerDropReason" id="DropReasonForm">
	<!--<md-card flex>-->
		<!--<md-card-content>-->
			<!--Child Information-->
			<!--<md-whiteframe class="md-whiteframe-z5 margin-20">-->
				<!--<h2>Category Information</h2>-->
				<div layout layout-xs="column" flex>

					<md-input-container flex>
						<label for="DropReason">Drop Reason</label>
						<input type="text" label="DropReason" name="DropReason" id="DropReason" ng-model="vm.DropReason.Name" md-maxlength="50" required>
						<div ng-messages="registerDropReason.Name.$error" md-auto-hide="false" ng-show="registerDropReason.Name.$touched">
							<div ng-message when="required"><span>Please enter drop reason.</span></div>
						</div>
					</md-input-container>
				</div>
				<div layout layout-xs="column" flex>
				</div>
				<div layout layout="row" layout-align="end center">
					<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addDropReason(registerDropReason)"
						ng-disabled="registerDropReason.$invalid" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>
					<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.loginClick()"
						ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
				</div>
			<!--</md-whiteframe>-->
		<!--</md-card-content>-->
	<!--</md-card>-->
</form>
<!--</md-content>-->