<div>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Student</h2>
		</div>
	</md-toolbar>
	<md-card flex flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
		<md-card-content>
			<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
			<md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always" md-dynamic-height>
				<md-tab label="Drop Reasone">
					<div flex ng-controller="CategoryController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Category/views/addcategory.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Category List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/Category/views/categorylist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Enroll Type">
					<div flex ng-controller="RoomController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Room/views/addroom.tmpl.html'"></md-content>
						<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Room List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/Room/views/roomlist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Grade Level">
					<div flex ng-controller="SessionController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Session/views/addsession.tmpl.html'"></md-content>
						<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Sesson List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/Session/views/sessionlist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Martial Arts Belt Size">
					<div flex ng-controller="PositionController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Position/views/addPosition.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Position List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/Position/views/Positionlist.tmpl.html'"></md-content>
					</div>
				</md-tab>
					<md-tab label="Sizes(T-shirt, Vendor Size, Chart Size)">
					<div flex ng-controller="PayTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/addpaytype.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>PayType List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/paytypelist.tmpl.html'"></md-content>
					</div>
				</md-tab>
                <md-tab label="Skill Level Attained">
					<div flex ng-controller="PayTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/addpaytype.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>PayType List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/paytypelist.tmpl.html'"></md-content>
					</div>
				</md-tab>
                 <md-tab label="Student Uniform Size">
					<div flex ng-controller="PayTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/addpaytype.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>PayType List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/paytypelist.tmpl.html'"></md-content>
					</div>
				</md-tab>
			</md-tabs>
		</md-card-content>
	</md-card>
</div>