<div>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Student</h2>
		</div>
	</md-toolbar>
	<md-card flex flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
		<md-card-content>
			<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
			<md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always" md-dynamic-height>
				<md-tab label="Drop Reason">
					<div flex ng-controller="DropReasonController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Student/views/adddropreason.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Drop Reason List</h2>
							<span flex></span>
							<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
								<md-icon md-font-icon="zmdi zmdi-filter-list" class="whiteColor"></md-icon>
							</md-button>
						</div>
						<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
							<md-toolbar class="md-theme-light">
								<h1 class="md-toolbar-tools">Search</h1>
							</md-toolbar>
							<div class="padded-content-page">
								<md-content class="overflowVisible">
									<form id="Search">
										<div layout layout-xs="column" flex>
											<md-input-container flex>
												<label for="name">Drop Reason</label>
												<input type="text" label="name" name="name" id="name" ng-model="query.name" ng-maxlength="100">
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="text-center">
												<md-button class="md-primary md-raised" ng-click="vm.GetDropReasonList()">Search</md-button>
												<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
												<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
											</md-input-container>
										</div>
									</form>
								</md-content>
							</div>
						</md-sidenav>
						<md-content class="md-padding" ng-include="'app/Tools/Student/views/dropreasonlist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Enroll Type">
					<div flex ng-controller="EnrollTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Student/Views/addenrolltype.tmpl.html'"></md-content>
						<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Enroll Type List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/Student/Views/enrolltypelist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<!--<md-tab label="Grade Level">
					<div flex ng-controller="SessionController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Session/views/addsession.tmpl.html'"></md-content>
						<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Sesson List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/Session/views/sessionlist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Martial Arts Belt Size">
					<div flex ng-controller="PositionController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Position/views/addPosition.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Position List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/Position/views/Positionlist.tmpl.html'"></md-content>
					</div>
				</md-tab>
					<md-tab label="Sizes(T-shirt, Vendor Size, Chart Size)">
					<div flex ng-controller="PayTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/addpaytype.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>PayType List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/paytypelist.tmpl.html'"></md-content>
					</div>
				</md-tab>
                <md-tab label="Skill Level Attained">
					<div flex ng-controller="PayTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/addpaytype.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>PayType List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/paytypelist.tmpl.html'"></md-content>
					</div>
				</md-tab>
                 <md-tab label="Student Uniform Size">
					<div flex ng-controller="PayTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/addpaytype.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>PayType List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/PayType/views/paytypelist.tmpl.html'"></md-content>
					</div>
				</md-tab>-->
			</md-tabs>
		</md-card-content>
	</md-card>
</div>