<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Update Drop Reason</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="updateDropReason">
            <h2>Drop Reason Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="DropReason">Drop Reason</label>
                    <input type="text" label="DropReason" name="DropReason" id="DropReason" ng-model="vm.dropReason.Name" md-maxlength="50" required>
                    <div ng-messages="updateDropReason.DropReason.$error" md-auto-hide="false" ng-show="updateDropReason.DropReason.$touched">
                        <div ng-message when="required"><span>Please enter drop reason.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateDropReason(updateDropReason)"
                    ng-disabled="updateDropReason.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Update</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>