﻿<form name="PositionList">
	<md-table-container>
		<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped"  ng-model="selected"
			md-progress="vm.promise">
			<thead md-head md-order="query.order" md-on-reorder="vm.GetPositionList">
				<tr md-row>
					<th md-column><span>#</span></th>
					<th md-column md-order-by="Name"><span>{{vm.columns.Name}}</span></th>
					<th md-column><span>ACTION</span></th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-auto-select md-select="Position" @*md-select-id="Position.ID" *@ ng-repeat="Position in vm.PositionList">
					<td md-cell>{{ $index + 1 }}</td>
					<td md-cell>{{Position.Name}}</td>
					<td md-cell>
						<a class="md-primary" ng-click="vm.showUpdatePositionDialoue($event,Position)" style="cursor:pointer">
							<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
						</a> &nbsp;
						<a class="md-primary" ng-click="vm.showDeletePositionConfirmDialoue($event,Position.ID)" style="cursor:pointer">
							<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
							</md-icon>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.PositionCount}}"
		md-on-paginate="vm.GetPositionList" md-page-select></md-table-pagination>
</form>