<!DOCTYPE html>
<html>

<head>

    <!--<base href="http://demos.telerik.com/kendo-ui/scheduler/angular">-->
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.min.css" />
    <!--<link rel="stylesheet" href="../customcss/css/kendo.min.css">-->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.timezones.min.js"></script>

    <style>
        .k-block,
        .k-button,
        .k-draghandle,
        .k-grid-header,
        .k-grouping-header,
        .k-header,
        .k-pager-wrap,
        .k-toolbar,
        .k-treemap-tile,
        html .km-pane-wrapper .k-header {
            background-color: #00bcd4;
        }
        
        .k-gantt-toolbar .k-button,
        .k-gantt>.k-header .k-link,
        .k-gantt>.k-header li,
        .k-grid .k-header .k-button,
        .k-scheduler .k-header .k-button,
        .k-scheduler .k-header .k-link,
        .k-scheduler .k-header li,
        .km-pane-wrapper .k-header .k-button {
            background-color: #00bcd4;
            border-color: #00bcd4;
        }
        
        .k-gantt .k-gantt-toolbar .k-button:hover,
        .k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover,
        .k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover .k-link,
        .k-grid .k-header .k-button:hover,
        .k-scheduler .k-header .k-button:hover,
        .k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover,
        .k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover .k-link,
        .km-pane-wrapper .k-header .k-button:hover {
            background-color: #57cfde;
            border-color: #57cfde;
        }
        
        .k-gantt-toolbar .k-button,
        .k-scheduler .k-scheduler-toolbar .k-state-selected,
        .k-scheduler .k-scheduler-toolbar ul li.k-state-hover {
            background-color: #00bcd4;
            border-color: #00bcd4;
        }
        
        .k-calendar .k-footer .k-nav-today {
            color: #00bcd4;
        }
        
        .k-list>.k-state-selected.k-state-focused {
            color: #00bcd4;
        }
        
        .div {
            background-color: rgb(0, 188, 212);
            border-color: rgb(0, 188, 212);
        }
        
        .span {
            background-color: #00bcd4;
        }
        /*div[data-container-for='isAllDay'] {
            display: none;
        }
        
        label[for='isAllDay'] {
            display: none;
        }*/
        /*.k-icon:before {
            color: rgb(250, 250, 250);
        }*/
        /*.k-dropdown .k-state-focused,
        .k-filebrowser-dropzone,
        .k-list>.k-state-hover,
        .k-mobile-list .k-edit-label.k-check:active,
        .k-mobile-list .k-item>.k-label:active,
        .k-mobile-list .k-item>.k-link:active,
        .k-mobile-list .k-recur-view .k-check:active,
        .k-pager-wrap .k-link:hover,
        .k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
        .k-splitbar-horizontal-hover:hover,
        .k-splitbar-vertical-hover:hover,
        .k-state-hover,
        .k-state-hover:hover {
            color: #00bcd4;
            background-color: #00bcd4;
            border-color: #00bcd4;
        }*/
        /*.k-edit-form-container .k-primary,
        .k-popup .k-primary {
            color: #00bcd4;
        }
        
        .k-edit-form-container .k-scheduler-delete {
            color: #00bcd4;
        }*/
    </style>
</head>

<body>


    <div id="example" ng-app="KendoDemos">




        <div ng-controller="MyCtrl">

            <div id="team-schedule">
                <div id="people">
                    <!--<label ng-repeat="staff in staffData">
                        <input  type="checkbox" ng-value="{{staff.Id}}"  /> {{staff.Name}} 
                    </label>-->
                    {{model.entities}}
                    <table>
                        <thead>
                            <tr>
                                <th><input type="checkbox" ng-model="model.allItemsSelected" ng-change="selectAll()"></th>
                                <th>Item List</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entity in model.entities" ng-class="{selected: entity.isChecked}">
                                <td><input type="checkbox" ng-model="entity.isChecked" ng-change="selectEntity()"></td>
                                <td>{{entity.Name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div kendo-tooltip k-content="theContent" k-filter="'.k-event'" class="k-group">
                <div kendo-scheduler k-options="schedulerOptions">
                    <span k-event-template class='custom-event'>{{dataItem.className}} - {{dataItem.title}} </span>
                    <div k-all-day-event-template class='custom-all-day-event'>{{dataItem.className}} - {{dataItem.title}} </div>

                </div>
            </div>
        </div>
        <style>
            .custom-event {
                color: #fff;
                /*text-shadow: 0 1px 0 #000;*/
            }
            
            .custom-all-day-event {
                text-align: center;
                text-transform: uppercase
            }
        </style>
    </div>


    <script id="template" type="text/x-kendo-template">
            #var uid = target.attr("data-uid");#
            #var scheduler = target.closest("[data-role=scheduler]").data("kendoScheduler");#
            #if (scheduler) {#
            #var model = scheduler.occurrenceByUid(uid);#

            #if(model) {#
                <strong>Start:</strong> #=kendo.format('{0:d}',model.start)#  #: kendo.toString(model.start, "t") #<br />
                <strong>End:</strong> #=kendo.format('{0:d}',model.end)#  #: kendo.toString(model.end, "t") #<br />
                <strong>Description:</strong> #=model.description#<br />
            #} else {#
                <strong>No event data is available</strong>
            #}#
            #}#
    </script>



    <script>
        angular.module("KendoDemos", [ "kendo.directives" ])
        .controller("MyCtrl", function($scope,$http,$q,$timeout,$window,$location){


        var familyId=$window.localStorage.getItem('FamilyId');    
        var staffId=$window.localStorage.getItem('staffId');
        var agencyId=$window.localStorage.getItem('agencyId');
        var HostUrl=$window.localStorage.getItem('HostUrl');
        var profileName=$window.localStorage.getItem('profileName');
        var profileName=profileName.replace('"', '')
        var profileName=profileName.replace('"', '')
        var TimeZone=$window.localStorage.getItem('TimeZone');
        var TimeZone=TimeZone.replace('"', '')
        var TimeZone=TimeZone.replace('"', '')
        var HostUrl=HostUrl.replace('"', '')
        var HostUrl=HostUrl.replace('"', '')
        var combine=agencyId +"~"+TimeZone+"~"+"e"+"~"+staffId+"~"+familyId;



         


             $scope.model = {};

        // This property is bound to the checkbox in the table header
        $scope.model.allItemsSelected = false;

        // Initialize the entity list
        // $scope.model.entities = [
        //     { "key": 1, "value": "Item 1" },
        //     { "key": 2, "value": "Item 2" },
        //     { "key": 3, "value": "Item 3" }
        // ];
      

     

         var deferred = $q.defer();
            $http.get(HostUrl+"api/Tasks/GetAllStaffs?AgencyId="+combine).success(function (response, status, headers, config) {
                deferred.resolve(response);
                  $scope.model.entities = response;
            }).error(function (errResp) {
                deferred.reject({ message: "Really bad" });
            });
            //return deferred.promise;

               // Fired when an entity in the table is checked
        $scope.selectEntity = function () {
            // If any entity is not checked, then uncheck the "allItemsSelected" checkbox
            for (var i = 0; i < $scope.model.entities.length; i++) {
                if (!$scope.model.entities[i].isChecked) {
                    $scope.model.allItemsSelected = false;
                    return;
                }
            }

            // ... otherwise check the "allItemsSelected" checkbox
            $scope.model.allItemsSelected = true;
        };

        // Fired when the checkbox in the table header is checked
        $scope.selectAll = function () {
            // Loop through all the entities and set their isChecked property
            for (var i = 0; i < $scope.model.entities.length; i++) {
                $scope.model.entities[i].isChecked = $scope.model.allItemsSelected;
            }
        };



        $scope.staffsDataSource = {
            //type: "odata",
            //serverFiltering: true,
            transport: {
                read: {
                    // type: "POST",
                              url:HostUrl+"api/Tasks/GetAllStaffs?AgencyId="+combine,                     
                             dataType: 'json'  
                }
            }
        };

        $scope.classDataSource = {
            //type: "odata",
            //serverFiltering: true,
            transport: {
                read: {
                    // type: "POST",
                              url:HostUrl+"api/Tasks/GetAllClass?AgencyId="+combine,                     
                             dataType: 'json'  
                }
            }
        };

        $scope.theContent = kendo.template($("#template").html());

        $scope.schedulerOptions = {
            editable: {
              template: $("#customEditorTemplate").html()
            },
             mobile: true,
            date: new Date(),
            messages: {
            editor: {
                editorTitle: "Events"
            }
            },
             dataBound: function () {
            var view = this.view();
            var events = this.dataSource.view();
            var eventElement;
            var event;

            for (var idx = 0, length = events.length; idx < length; idx++) {
              event = events[idx];
              eventElement = view.element.find("[data-uid=" + event.uid + "]");
              eventElement.css("background-color", "#00BDD6");
              eventElement.css("border-color", "#00BDD6");
            }
          },
            startTime: new Date("2013/6/13 07:00 AM"),
            height: 515,
            views: [
                 "day",
                //"workWeek",
                "week",
                { type: "month", selected: true },
            ],
            add: function(e) {
        
                 if(staffId == null)
                 {
                 }
                 else
                 {
                    e.event.staffId=staffId;     
                 }
            },
            edit: function(e) {
                 if(staffId == null)
                 {
                 }
                 else
                 {
                    e.event.staffId=staffId;
                 }
             },

              edit: function(e) {
                 e.event.set("isAllDay", false);
            },
            //allDaySlot: false,
            //save: function(e) {
                //e.event.typeId=4;
                //console.log('save');
           // },
            //timezone: "Etc/UTC",

            //       dataBinding: scheduler_dataBinding,
            //dataBound: scheduler_dataBound,

            dataSource: {
                batch: true,
                sync: function() {
                        this.read();
                },
                transport: {
                      read: {
                             type: "POST",
                              url:HostUrl+"api/Tasks/GetAll?AgencyId="+combine,                     
                             dataType: 'json'  
                    },
                    update: {
                             type: "POST",
                             url:HostUrl+"api/Tasks/UpdateTasks",                             
                             dataType: 'json'  
                    },
                    create: {
                         type: "POST",
                             url:HostUrl+"api/Tasks/AddTasks",                             
                             dataType: 'json'  
                    },
                    destroy: {
                            type: "POST",
                             url:HostUrl+"api/Tasks/DeleteTasksById?tasksId='0'",                             
                             dataType: 'json'  
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                        }

                    }
                },
                schema: {
                    model: {
                        id: "taskId",
                        fields: {
                            taskId: { from: "TaskID", type: "number" },
                            title: { from: "Title", defaultValue: "No title", validation: { required: true } },
                            start: { type: "date", from: "Start" },
                            end: { type: "date", from: "End" },
                            startTimezone: { from: "StartTimezone" },
                            endTimezone: { from: "EndTimezone" },
                            description: { from: "Description" },
                            recurrenceId: { from: "RecurrenceID" },
                            recurrenceRule: { from: "RecurrenceRule" },
                            recurrenceException: { from: "RecurrenceException" },
                            ownerId: { from: "OwnerID", defaultValue: 1 },
                            isAllDay: { type: "boolean", from: "IsAllDay" },
                            agencyId: { from: "AgencyId", defaultValue: agencyId },
                            staffId: { from: "StaffId", defaultValue: 0 },
                            staffName: { from: "StaffName", defaultValue: "" },
                            classId: { from: "ClassId", defaultValue: 0 },
                            className: { from: "ClassName", defaultValue: "" }
                        }
                    }
                },
                filter: {
                    logic: "or",
                    filters: [
                        { field: "ownerId", operator: "eq", value: 1 },
                        { field: "ownerId", operator: "eq", value: 2 }
                    ]
                }
            },
            resources: [
                {
                    field: "ownerId",
                    title: "Owner",
                    // dataSource: [
                    //     { text: "Alex", value: 1, color: "#f8a398" },
                    //     { text: "Bob", value: 2, color: "#51a0ed" },
                    //     { text: "Charlie", value: 3, color: "#56ca85" }
                    // ]
                    dataSource: [
                        { text: profileName, value: parseInt(agencyId), color: "#f8a398" }
                    ]
                }
            ]
        };


        //          function scheduler_dataBinding(e) {
        //         console.log("dataBinding");
        //     }

        //     function scheduler_dataBound(e) {
        //         var data = this.dataSource.data();
        //         for (var i = 0, len = data.length; i < len; i++) {
        //   console.log(data);
        // }
                
        //     }


      })

      

  </script>


    <script id="customEditorTemplate" type="text/x-kendo-template">


        <div id="stafflabel" class="k-edit-label"><label for="staffId">Staff</label></div>
        <div   data-container-for="staffId" class="k-edit-field">
            <select  required="required" kendo-drop-down-list id="staffId" name="staffId"  data-bind="value:staffId"
                k-data-text-field="'Name'"
                k-data-value-field="'Id'"
                k-data-source="staffsDataSource"
                style="width: 100%"></select>
        </div>

        <div class="k-edit-label"><label for="classId">Class</label></div>
        <div data-container-for="classId" class="k-edit-field">
            <select required="required" kendo-drop-down-list id="classId" data-bind="value:classId"
                k-data-text-field="'Name'"
                k-data-value-field="'Id'"
                k-data-source="classDataSource"
                style="width: 100%"></select>
        </div>

        <div class="k-edit-label"><label for="title">Title</label></div>
        <div data-container-for="title" class="k-edit-field">
            <input type="text" class="k-input k-textbox" name="title" required="required" data-bind="value:title">
        </div>

        <div class="k-edit-label">
            <label for="start">Start</label>
        </div>
        <div data-container-for="start" class="k-edit-field">
            <input type="text"
                data-role="datetimepicker"
                data-interval="15"
                data-type="date"
                data-bind="value:start,invisible:isAllDay"
                name="start"/>
            <input type="text" data-type="date" data-role="datepicker" data-bind="value:start,visible:isAllDay" name="start" />
            <span data-bind="text: startTimezone"></span>
            <span data-for="start" class="k-invalid-msg" style="display: none;"></span>
        </div>

        <div class="k-edit-label"><label for="end">End</label></div>
        <div data-container-for="end" class="k-edit-field">
            <input type="text" data-type="date" data-role="datetimepicker" data-bind="value:end,invisible:isAllDay" name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />
            <input type="text" data-type="date" data-role="datepicker" data-bind="value:end,visible:isAllDay" name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />
            <span data-bind="text: endTimezone"></span>
            <span data-bind="text: startTimezone, invisible: endTimezone"></span>
            <span data-for="end" class="k-invalid-msg" style="display: none;"></span>
        </div>


        <div class="k-edit-label"><label for="description">Description</label></div>
        <div data-container-for="description" class="k-edit-field">
            <textarea name="description" class="k-textbox" data-bind="value:description"></textarea>
        </div>

        <div class="k-edit-label"><label for="recurrenceRule">Repeat</label></div>
        <div data-container-for="recurrenceRule" class="k-edit-field">
            <div data-bind="value:recurrenceRule" name="recurrenceRule" data-role="recurrenceeditor"></div>
        </div>

  </script>




    <style>
        .k-nav-current > .k-link span + span {
            max-width: 200px;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: top;
        }
        
        #team-schedule {
            background: url('../content/web/scheduler/team-schedule.png') transparent no-repeat;
            height: 115px;
            position: relative;
        }
        
        #people {
            background: url('../content/web/scheduler/scheduler-people.png') no-repeat;
            width: 345px;
            height: 115px;
            position: absolute;
            right: 0;
        }
        
        #alex {
            position: absolute;
            left: 4px;
            top: 81px;
        }
        
        #bob {
            position: absolute;
            left: 119px;
            top: 81px;
        }
        
        #charlie {
            position: absolute;
            left: 234px;
            top: 81px;
        }
    </style>

</body>

</html>