<!DOCTYPE html>
<html>

<head>
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="../customapp/kendo/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="../customapp/kendo/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="../customapp/kendo/styles/kendo.material.mobile.min.css" />

    <script src="../customapp/kendo/js/jquery.min.js"></script>
    <script src="../customapp/kendo/js/angular.min.js"></script>
    <script src="../customapp/kendo/js/kendo.all.min.js"></script>
    <script src="../customapp/kendo/js/kendo.timezones.min.js"></script>

    <style>
        .k-block,
        .k-button,
        .k-draghandle,
        .k-grid-header,
        .k-grouping-header,
        .k-header,
        .k-pager-wrap,
        .k-toolbar,
        .k-treemap-tile,
        html .km-pane-wrapper .k-header {
            background-color: #00bcd4;
        }
        
        .k-gantt-toolbar .k-button,
        .k-gantt>.k-header .k-link,
        .k-gantt>.k-header li,
        .k-grid .k-header .k-button,
        .k-scheduler .k-header .k-button,
        .k-scheduler .k-header .k-link,
        .k-scheduler .k-header li,
        .km-pane-wrapper .k-header .k-button {
            background-color: #00bcd4;
            border-color: #00bcd4;
        }
        
        .k-gantt .k-gantt-toolbar .k-button:hover,
        .k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover,
        .k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover .k-link,
        .k-grid .k-header .k-button:hover,
        .k-scheduler .k-header .k-button:hover,
        .k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover,
        .k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover .k-link,
        .km-pane-wrapper .k-header .k-button:hover {
            background-color: #57cfde;
            border-color: #57cfde;
        }
        
        .k-gantt-toolbar .k-button,
        .k-scheduler .k-scheduler-toolbar .k-state-selected,
        .k-scheduler .k-scheduler-toolbar ul li.k-state-hover {
            background-color: #00bcd4;
            border-color: #00bcd4;
        }
        
        .k-calendar .k-footer .k-nav-today {
            color: #00bcd4;
        }
        
        .k-list>.k-state-selected.k-state-focused {
            color: #00bcd4;
        }
        
        .div {
            background-color: rgb(0, 188, 212);
            border-color: rgb(0, 188, 212);
        }
        
        .span {
            background-color: #00bcd4;
        }
        
        .k-edit-form-container .k-primary,
        .k-popup .k-primary {
            display: none;
        }
        
        .k-scheduler-edit-form .k-edit-buttons .k-scheduler-delete {
            display: none;
        }
        
        .k-event-actions,
        .k-event>.k-link,
        .k-task>.k-link {
            display: none;
        } 
.k-multiselect .k-edit-form-container .k-button{background: #ddd;text-transform: uppercase;}
.k-multiselect-wrap li span{ text-transform:none;}
.k-multiselect-wrap>ul>.k-button { background: #ddd;}
    </style>
</head>

<body>


    <div id="example" ng-app="KendoDemos">
        <div ng-controller="MyCtrl">
            <div kendo-tooltip k-content="theContent" k-filter="'.k-event'" class="k-group">
                <div kendo-scheduler k-options="schedulerOptions">
                    <span k-event-template class='custom-event'>{{dataItem.className}} - {{dataItem.title}} </span>
                    <div k-all-day-event-template class='custom-all-day-event'>{{dataItem.className}} - {{dataItem.title}} </div>

                </div>
            </div>
        </div>
        <style>
            .custom-event {
                color: #fff;
            }
            
            .custom-all-day-event {
                text-align: center;
                text-transform: uppercase
            }

        </style>
    </div>


    <script id="template" type="text/x-kendo-template">
            #var uid = target.attr("data-uid");#
            #var scheduler = target.closest("[data-role=scheduler]").data("kendoScheduler");#
            #if (scheduler) {#
            #var model = scheduler.occurrenceByUid(uid);#

            #if(model) {#
                <strong>Start:</strong> #=kendo.format('{0:d}',model.start)#  #: kendo.toString(model.start, "t") #<br />
                <strong>End:</strong> #=kendo.format('{0:d}',model.end)#  #: kendo.toString(model.end, "t") #<br />
                <strong>Description:</strong> #=model.description#<br />
            #} else {#
                <strong>No event data is available</strong>
            #}#
            #}#
    </script>



    <script>
        angular.module("KendoDemos", [ "kendo.directives" ])
        .controller("MyCtrl", function($scope,$http,$timeout,$window,$location){

        var familyId=$window.localStorage.getItem('FamilyId');
        var staffId=$window.localStorage.getItem('staffId');
        var agencyId=$window.localStorage.getItem('agencyId');
        var HostUrl=$window.localStorage.getItem('HostUrl');
        var profileName=$window.localStorage.getItem('profileName');
        var profileName=profileName.replace('"', '')
        var profileName=profileName.replace('"', '')
        var TimeZone=$window.localStorage.getItem('TimeZone');
        var TimeZone=TimeZone.replace('"', '')
        var TimeZone=TimeZone.replace('"', '')
        var HostUrl=HostUrl.replace('"', '')
        var HostUrl=HostUrl.replace('"', '')
        var combine=agencyId +"~"+TimeZone+"~"+"f"+"~"+staffId+"~"+familyId;
      var Token=$window.localStorage.getItem('Token');

        $scope.classDataSource = {
            transport: {
                read: {
                              url:HostUrl+"api/Tasks/GetAllClass?AgencyId="+combine,                     
                             dataType: 'json',
                             headers:{
                                    'Authorization': Token
                             }  
                }
            }
        };

        $scope.theContent = kendo.template($("#template").html());

        $scope.schedulerOptions = {
            editable: {
              template: $("#customEditorTemplate").html()
            },
            
             mobile: true,
            date: new Date(),
            messages: {
            editor: {
                editorTitle: "Events"
            }
            },
             dataBound: function () {
            var view = this.view();
            var events = this.dataSource.view();
            var eventElement;
            var event;

            for (var idx = 0, length = events.length; idx < length; idx++) {
              event = events[idx];
              eventElement = view.element.find("[data-uid=" + event.uid + "]");
              eventElement.css("background-color", "#00BDD6");
              eventElement.css("border-color", "#00BDD6");
            }
          },
            startTime: new Date("2013/6/13 07:00 AM"),
            height: 515,
            views: [
                 "day",
                //"workWeek",
                "week",
                { type: "month", selected: true },
            ],
             save: function(e) {e.preventDefault();},
             add: function(e) {e.preventDefault();},
              edit: function(e) {
                 e.event.set("isAllDay", false);
                  	var ClassIdJsonCtrl = e.container.find("#ClassIdJson").data("kendoMultiSelect");
                    ClassIdJsonCtrl.dataSource.data(e.sender.resources[0].dataSource.data());
                     ClassIdJsonCtrl.dataSource.filter({});
                     if(e.event.ClassIdJson.length>0)
                     {
                         var model=[];

                       angular.forEach(e.event.ClassIdJson, function(value, key) {
                           Id=value.ClassId;
                         model.push(Id);
                        });
                         ClassIdJsonCtrl.value(model);
                     }

            },
            remove: function(e) {e.preventDefault();},
            dataSource: {
                batch: true,
                sync: function() {
                        this.read();
                },
                transport: {
                      read: {
                             type: "POST",
                              url:HostUrl+"api/Tasks/GetAll?AgencyId="+combine,                     
                             dataType: 'json',
                             headers:{
                                    'Authorization': Token
                             }    
                    },
                    update: {
                             type: "POST",
                             url:HostUrl+"api/Tasks/UpdateTasks",                             
                             dataType: 'json',
                             headers:{
                                    'Authorization': Token
                             }      
                    },
                    create: {
                         type: "POST",
                             url:HostUrl+"api/Tasks/AddTasks",                             
                             dataType: 'json',
                             headers:{
                                    'Authorization': Token
                             }        
                    },
                    destroy: {
                            type: "POST",
                             url:HostUrl+"api/Tasks/DeleteTasksById?tasksId='0'",                             
                             dataType: 'json',
                             headers:{
                                    'Authorization': Token
                             }        
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                        }

                    }
                },
                schema: {
                    model: {
                        id: "taskId",
                        fields: {
                            taskId: { from: "TaskID", type: "number" },
                            title: { from: "Title", defaultValue: "No title", validation: { required: true } },
                            start: { type: "date", from: "Start" },
                            end: { type: "date", from: "End" },
                            startTimezone: { from: "StartTimezone" },
                            endTimezone: { from: "EndTimezone" },
                            description: { from: "Description" },
                            recurrenceId: { from: "RecurrenceID" },
                            recurrenceRule: { from: "RecurrenceRule" },
                            recurrenceException: { from: "RecurrenceException" },
                            ownerId: { from: "OwnerID", defaultValue: 1 },
                            isAllDay: { type: "boolean", from: "IsAllDay" },
                            agencyId: { from: "AgencyId", defaultValue: agencyId },
                            ClassIdJson: { from: "ClassIdJson", defaultValue: 0 },
                            className: { from: "ClassName", defaultValue: "" }
                        }
                    }
                },
                filter: {
                    logic: "or",
                    filters: [
                        { field: "ownerId", operator: "eq", value: 1 },
                        { field: "ownerId", operator: "eq", value: 2 }
                    ]
                }
            },
            resources: [
                // {
                //     field: "ownerId",
                //     title: "Owner",
                //     dataSource: [
                //         { text: profileName, value: parseInt(agencyId), color: "#f8a398" }
                //     ]
                // }

             { 
              field: "ClassIdJson",
              title: "Classes",
              dataSource:$scope.classDataSource
            }
            ]
        };

      })

  </script>


    <script id="customEditorTemplate" type="text/x-kendo-template">

         <div class="k-edit-label"><label for="ClassIdJson">Class</label></div>
        <div data-container-for="ClassIdJson" class="k-edit-field">
            <select id="ClassIdJson" disabled="disabled" data-bind="value:ClassIdJson" class="wdth80"  data-role="multiselect" data-value-field="Id" data-text-field="Name"/>
        </div>

        <div class="k-edit-label"><label for="title">Title</label></div>
        <div data-container-for="title" class="k-edit-field">
            <input disabled="disabled" type="text" class="k-input k-textbox" name="title" required="required" data-bind="value:title">
        </div>

        <div class="k-edit-label">
            <label for="start">Start</label>
        </div>
        <div data-container-for="start" class="k-edit-field">
            <input disabled="disabled" type="text"
                data-role="datetimepicker"
                data-interval="15"
                data-type="date"
                data-bind="value:start,invisible:isAllDay"
                name="start"/>
            <input disabled="disabled" type="text" data-type="date" data-role="datepicker" data-bind="value:start,visible:isAllDay" name="start" />
            <span data-bind="text: startTimezone"></span>
            <span data-for="start" class="k-invalid-msg" style="display: none;"></span>
        </div>

        <div class="k-edit-label"><label for="end">End</label></div>
        <div data-container-for="end" class="k-edit-field">
            <input  disabled="disabled" type="text" data-type="date" data-role="datetimepicker" data-bind="value:end,invisible:isAllDay" name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />
            <input disabled="disabled" type="text" data-type="date" data-role="datepicker" data-bind="value:end,visible:isAllDay" name="end" data-datecompare-msg="End date should be greater than or equal to the start date" />
            <span data-bind="text: endTimezone"></span>
            <span data-bind="text: startTimezone, invisible: endTimezone"></span>
            <span data-for="end" class="k-invalid-msg" style="display: none;"></span>
        </div>


        <div class="k-edit-label"><label for="description">Description</label></div>
        <div data-container-for="description" class="k-edit-field">
            <textarea disabled="disabled" name="description" class="k-textbox" data-bind="value:description"></textarea>
        </div>

<fieldset ng-disabled="true" style="border: none;"> 
        <div class="k-edit-label"><label for="recurrenceRule">Repeat</label></div>
        <div data-container-for="recurrenceRule" class="k-edit-field">
            <div  data-bind="value:recurrenceRule" name="recurrenceRule" data-role="recurrenceeditor"></div>
        </div>
        </fieldset>

  </script>


    <style scoped>
        .k-nav-current > .k-link span + span {
            max-width: 400px;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: top;
        }
        
        #team-schedule {
            background: url('../content/web/scheduler/team-schedule.png') transparent no-repeat;
            height: 115px;
            position: relative;
        }
        
        #people {
            background: url('../content/web/scheduler/scheduler-people.png') no-repeat;
            width: 345px;
            height: 115px;
            position: absolute;
            right: 0;
        }
        
        #alex {
            position: absolute;
            left: 4px;
            top: 81px;
        }
        
        #bob {
            position: absolute;
            left: 119px;
            top: 81px;
        }
        
        #charlie {
            position: absolute;
            left: 234px;
            top: 81px;
        }
    </style>

</body>

</html>