<!DOCTYPE html>
<html>

<head>
    <base href="http://demos.telerik.com/kendo-ui/scheduler/angular">
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.min.css" />
    <!--<link rel="stylesheet" href="../customcss/css/kendo.min.css">-->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.timezones.min.js"></script>

    <style>
        .k-block,
        .k-button,
        .k-draghandle,
        .k-grid-header,
        .k-grouping-header,
        .k-header,
        .k-pager-wrap,
        .k-toolbar,
        .k-treemap-tile,
        html .km-pane-wrapper .k-header {
            background-color: #00bcd4;
        }
        
        .k-gantt-toolbar .k-button,
        .k-gantt>.k-header .k-link,
        .k-gantt>.k-header li,
        .k-grid .k-header .k-button,
        .k-scheduler .k-header .k-button,
        .k-scheduler .k-header .k-link,
        .k-scheduler .k-header li,
        .km-pane-wrapper .k-header .k-button {
            background-color: #00bcd4;
            border-color: #00bcd4;
        }
        
        .k-gantt .k-gantt-toolbar .k-button:hover,
        .k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover,
        .k-gantt .k-gantt-toolbar .k-gantt-views li.k-state-hover .k-link,
        .k-grid .k-header .k-button:hover,
        .k-scheduler .k-header .k-button:hover,
        .k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover,
        .k-scheduler .k-scheduler-toolbar .k-scheduler-views li.k-state-hover .k-link,
        .km-pane-wrapper .k-header .k-button:hover {
            background-color: #57cfde;
            border-color: #57cfde;
        }
        
        .k-gantt-toolbar .k-button,
        .k-scheduler .k-scheduler-toolbar .k-state-selected,
        .k-scheduler .k-scheduler-toolbar ul li.k-state-hover {
            background-color: #00bcd4;
            border-color: #00bcd4;
        }
        
        .k-calendar .k-footer .k-nav-today {
            color: #00bcd4;
        }
        
        .k-list>.k-state-selected.k-state-focused {
            color: #00bcd4;
        }
        
        .div {
            background-color: rgb(0, 188, 212);
            border-color: rgb(0, 188, 212);
        }
        
        .span {
            background-color: #00bcd4;
        }
        /*div[data-container-for='isAllDay'] {
            display: none;
        }
        
        label[for='isAllDay'] {
            display: none;
        }*/
    </style>
</head>

<body>


    <div id="example" ng-app="KendoDemos">
        <div ng-controller="MyCtrl">
            <div kendo-tooltip k-content="theContent" k-filter="'.k-event'" class="k-group">
                <div kendo-scheduler k-options="schedulerOptions">
                    <span k-event-template class='custom-event'>{{dataItem.title}} </span>
                    <div k-all-day-event-template class='custom-all-day-event'>{{dataItem.title}} </div>

                </div>
            </div>
        </div>

        <style>
            .custom-event {
                color: #fff;
                text-shadow: 0 1px 0 #000;
            }
            
            .custom-all-day-event {
                text-align: center;
                text-transform: uppercase
            }
        </style>
    </div>



    <script id="template" type="text/x-kendo-template">
    #var uid = target.attr("data-uid");#
    #var scheduler = target.closest("[data-role=scheduler]").data("kendoScheduler");#
    #if (scheduler) {#
      #var model = scheduler.occurrenceByUid(uid);#

      #if(model) {#
          <strong>start:</strong> #=kendo.format('{0:d}',model.start)#<br />
          <strong>end:</strong> #=kendo.format('{0:d}',model.end)#<br />
          <strong>description:</strong> #=model.description#<br />
      #} else {#
          <strong>No event data is available</strong>
      #}#
    #}#
</script>


    <script>
  angular.module("KendoDemos", [ "kendo.directives"])
    .controller("MyCtrl", function($scope,$http,$timeout,$window,$location){
        // console.log($window.localStorage.getItem('agencyId'));
        // console.log($window.localStorage.getItem('HostUrl'));
        //    console.log($window.localStorage.getItem('profileName'));
        console.log($window.localStorage.getItem('TimeZone'));
         
        var agencyId=$window.localStorage.getItem('agencyId');
        var HostUrl=$window.localStorage.getItem('HostUrl');
        var profileName=$window.localStorage.getItem('profileName');
        var profileName=profileName.replace('"', '')
        var profileName=profileName.replace('"', '')
        var TimeZone=$window.localStorage.getItem('TimeZone');
        var TimeZone=TimeZone.replace('"', '')
        var TimeZone=TimeZone.replace('"', '')
        var HostUrl=HostUrl.replace('"', '')
        var HostUrl=HostUrl.replace('"', '')

        var combine=agencyId +"~"+TimeZone;


var GetUrl=HostUrl+"api/Tasks/GetAll";
console.log(GetUrl);
        var postArgs = new Object(); 
   postArgs.agency = combine;
  var postData = {agency:combine}; 


        
$scope.theContent = kendo.template($("#template").html());

        $scope.schedulerOptions = {
            date: new Date(),
            startTime: new Date("2013/6/13 07:00 AM"),
            height: 500,
            views: [
                "day",
                //"workWeek",
                "week",
                { type: "month", selected: true },
            ],
            //timezone: "Etc/UTC",

 edit: function(e) {
    e.event.set("isAllDay", false);
  },


            //allDayEventTemplate: $("#event-template").html(),
            //allDaySlot: false,
            //autoBind: false,
            //currentTimeMarker: false,
            //currentTimeMarker: {updateInterval: 100},
            // timezone: "Europe/London", // Use the London timezone
            //currentTimeMarker: {useLocalTimezone: false},
            //dateHeaderTemplate: kendo.template("<strong>#=kendo.toString(date, 'd')#</strong>"),
            //editable: false
             //editable: {confirmation: false},
             //editable: {confirmation: "Are you sure you want to delete this meeting?" },
            //editable: {create: false},
            //editable: {destroy: false},
              //editable: {editRecurringMode: "series"},
                //editable: {move: false}
                  //editable: {resize: false}
                   // editable: {template: $("#editor").html()},
                   //editable: {update: false},
                   //editable: {window: {title: "My Custom Title",animation: false,open: myOpenEventHandler}},
                    //footer: false
                    // group: {resources: ["Rooms"],orientation: "vertical",date: true},
                     // groupHeaderTemplate: $("#groupHeaderTemplate").html(),
                     //majorTick: 120, // a major tick represents 120 minutes (2 hours)
        //majorTimeHeaderTemplate: kendo.template("<strong>#=kendo.toString(date, 'h')#</strong><sup>00</sup>"),
        //max: new Date("2013/7/6"),
         //messages: {allDay: "daily"},
         //messages: {ariaEventLabel: "Selected event is {0}. It starts on {1:d} {2:t}"},
         // messages: {ariaSlotLabel: "Selected from {0:g} to {0:g}"},
         //  messages: {cancel: "Undo"},
          // messages: {date: "Date"},
          //messages: {deleteWindowTitle: "Remove event"},
          // messages: {destroy: "Destroy"},
        //messages: {event: "Schedule"},
          //messages: {defaultRowText: "Conference room"},
          // messages: {pdf: "PDF Export"},
           // messages: {save: "Update"},
             //messages: {showFullDay: "Show 24h"},
              // messages: {showWorkDay: "Show work hours"},
               //messages: {time: "Time of the day"},
               // messages: {today: "Current Date"},
        //messages: {editable: {confirmation: "Are you sure you want to delete this meeting?"}},
        //messages: {editor: {allDayEvent: "Full day"}},
        //minorTickCount: 1, // display one time slot per major tick
        //mobile: true,
         //toolbar: ["pdf"],
        //pdf: {author: "John Doe",creator: "John Doe",date: new Date("2014/10/10"),fileName: "Events.pdf",keywords: "events interviews",landscape: true,   margin: {left: 10,right: "10pt",top: "10mm",bottom: "1in"}, paperSize: ["20mm", "20mm"],proxyURL: "/save",forceProxy: true,proxyURL: "/save",proxyTarget: "_blank",},
        //selectable: true,
        //showWorkHours: true,
        //snap: false,

        // eventTemplate: kendo.template('<div title="(#=kendo.format("{0:t} - {1:t}", start, end)#): #=title.replace(/"/g,"&\\#34;")#">' +
        //                                 '<div class="k-event-template k-event-time">#:kendo.format("{0:t} - {1:t}", start, end)#</div>' +
        //                                 '<div class="k-event-template">${title}</div>' +
        //                                 '</div>'),




            dataSource: {
                batch: true,
                sync: function() {
                        this.read();
                }, 
                transport: {
                    read: {
                        // url: "http://demos.telerik.com/kendo-ui/service/tasks",
                        //  dataType: "jsonp"
                             type: "POST",
                             //url:"http://localhost:51824/api/Tasks/GetAll?AgencyId='1'", 
                              url:HostUrl+"api/Tasks/GetAll?AgencyId="+combine,  
                              //url:GetUrl, 
                            //   contentType: "application/json; charset=utf-8", 
                            //   data: postData ,    
                             //url:"http://localhost:51824/api/Tasks/GetAll",                      
                             dataType: 'json'  
                    },
                    update: {
                        // url: "https://demos.telerik.com/kendo-ui/service/tasks/update",
                        // dataType: "jsonp"
                             type: "POST",
                        //  contentType: "application/json; charset=utf-8",
                             url:HostUrl+"api/Tasks/UpdateTasks",                             
                             dataType: 'json'  
                    },
                    create: {
                 
                        // url: "https://demos.telerik.com/kendo-ui/service/tasks/create",
                        // dataType: "jsonp"
                         type: "POST",
                        //  contentType: "application/json; charset=utf-8",
                             url:HostUrl+"api/Tasks/AddTasks",                             
                             dataType: 'json'  
                    },
                    destroy: {
                        // url: "https://demos.telerik.com/kendo-ui/service/tasks/destroy",
                        // dataType: "jsonp"

                            type: "POST",
                             url:HostUrl+"api/Tasks/DeleteTasksById?tasksId='0'",                             
                             dataType: 'json'  
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {models: kendo.stringify(options.models)};
                            //return {models: JSON.stringify(options.models)};
                        }
                        //  if (operation === "read") {
                            
                        //     return postData;
                        //     //return {models: JSON.stringify(options.models)};
                        // }
                   
                         //return {};
                        //   if (operation === "destroy" && options.models) {
                        //       alert('Destroy');
                        //     return {models: kendo.stringify(options.models)};
                        // }

                        // if (operation=="create" || operation=="update"){
                        // var rootModel = {rootProperty:"foo",models:[]};
                        // data.models.forEach(function(model)){
                        // //do whatever transformation of the individual models here
                        // //and add to the aggregate model.
                        // rootModel.models.push(model);
                        // }
                        // return rootModel; //whatever you return from parameterMap is what will be sent in the HTTP request.
                        // }
                    }
                    

                },
                schema: {
                    model: {
                        id: "taskId",
                        fields: {
                            //roomId: { from: "RoomID", nullable: false },
                            taskId: { from: "TaskID", type: "number" },
                            title: { from: "Title", defaultValue: "No title", validation: { required: true } },
                            start: { type: "date", from: "Start" },
                            end: { type: "date", from: "End" },
                            startTimezone: { from: "StartTimezone" },
                            endTimezone: { from: "EndTimezone" },
                            description: { from: "Description" },
                            recurrenceId: { from: "RecurrenceID" },
                            recurrenceRule: { from: "RecurrenceRule" },
                            recurrenceException: { from: "RecurrenceException" },
                            ownerId: { from: "OwnerID", defaultValue: 1 },
                            isAllDay: { type: "boolean", from: "IsAllDay" },
                            agencyId: { from: "AgencyId", defaultValue: agencyId }
                            //timeZone: { from: "TimeZone", defaultValue: TimeZoneName  }
                        }
                    }
                    
                },
                filter: {
                    logic: "or",
                    filters: [
                        { field: "ownerId", operator: "eq", value: 1 },
                        { field: "ownerId", operator: "eq", value: 2 }
                    ]
                }
            },
            resources: [
                //    {
                //     field: "roomId",
                //     name: "Rooms",
                //     dataSource: [
                //         { text: "Meeting Room 101", value: 1, color: "#6eb3fa" },
                //         { text: "Meeting Room 201", value: 2, color: "#f58a8a" }
                //     ],
                //      //multiple: true,
                //     title: "Room"
                // },
                {
                    field: "ownerId",
                    title: "Owner",
                    dataSource: [
                        { text: "Agency", value: 1, color: "#f8a398" },
                        { text: "Bob", value: 2, color: "#51a0ed" },
                        { text: "Charlie", value: 3, color: "#56ca85" }
                    ]
                    // dataSource: [
                    //     { text: profileName, value: parseInt(agencyId), color: "#f8a398" }
                    // ]
                }
            ]
        };




      })

//       dataSource.fetch(function() {
//     var event = this.at(0);
//     console.log(event.title); // outputs "Bowling tournament"
// });




</script>

    <script type="text/javascript">


// var $matching = $(parent.document).find('iframe').filter(function(){
//     var srcTokens = this.src.split('/');
//     return srcTokens[srcTokens.length-1]=='taskHtml.html';
// });


</script>




</body>

</html>