<div class="example-code md-whiteframe-z1 ">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{vm.Title}}</h2>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
    <form name="AddStaff">
        <div class="padded-content-page">

            <md-input-container flex>
                <!--<label for="UploadFile">UploadFile</label>
						<input type="text" label="UploadFile" name="UploadFile" id="UploadFile" ng-model="vm.lessonplan.UploadFile" md-maxlength="50"
							required>-->
                <!--<img ng-src="{{vm.ImageUrlPath}}{{vm.staff.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" alt="girl-avatar" class="make-round" width="100" />
          <md-button class="md-primary md-raised md-fab"  ngf-select="vm.uploadImage($files)" ngf-multiple="true" ng-disabled="vm.status != 'idle'" accept="image/*" aria-label="upload" >
          <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>

          </md-button>-->
                <img ng-src="{{vm.ProfilePicComplete}}" err-src="assets/images/avatars/avatar-5.png"  alt="girl-avatar" class="make-round"
                    width="100" height="100" />
                <md-button name="Profile" id="Profile" class="md-primary md-raised md-fab" ngf-select="vm.uploadImage($files)" accept="image/*"
                    ng-disabled="vm.status != 'idle'" aria-label="upload" required>
                    <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
                </md-button>

                <div ng-messages="AddStaff.UploadFile.$error" md-auto-hide="false" ng-show="AddStaff.UploadFile.$touched">
                    <div ng-message when="required"><span>Please select Image.</span></div>
                </div>
            </md-input-container>
            <h2>Basic Information</h2>
            <div layout="row" layout-xs="column" layout-sm="column" flex>
                <md-input-container flex class="mrgR-class">
                    <md-checkbox class="md-primary" value="1" ng-model="vm.staff.IsTimeClockUser" ng-disabled="true" ng-change="vm.CheckTimeClockUser(vm.staff.IsTimeClockUser)"
                        aria-label="Primary Checkbox">
                        Time clock user
                    </md-checkbox>
                </md-input-container>
                <md-input-container flex class="mrgl-class">
                    <label translate>Location</label>
                    <md-select name="location" id="location" ng-model="vm.selectedLocation" multiple ng-change="vm.getRooms(vm.class.AgencyLocationInfoId)"
                        required>
                        <md-option ng-repeat="option in vm.AllLocations" ng-value="option.ID">{{option.LocationName}}</md-option>
                    </md-select>
                    <div ng-messages="AddStaff.location.$error" md-auto-hide="false" ng-show="AddStaff.location.$touched">
                        <div ng-message when="required"><span>Please choose location.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column" layout-sm="column" flex>

                <md-input-container flex class="mrgR-class">
                    <label for="Name">First Name</label>
                    <input type="text" label="firstname" name="firstname" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2" id="firstname"
                        ng-model="vm.staff.FirstName" required>
                    <div ng-messages="AddStaff.firstname.$error" md-auto-hide="false" ng-show="AddStaff.firstname.$touched">
                        <div ng-message when="required"><span>Firstname is required.</span></div>
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex class="mrgl-class">
                    <label for="Name">Last Name</label>
                    <input type="text" label="Name" name="lastname" id="lastname" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2"
                        ng-model="vm.staff.LastName" required>
                    <div ng-messages="AddStaff.lastname.$error" md-auto-hide="false" ng-show="AddStaff.lastname.$touched">
                        <div ng-message when="required"><span>Lastname is required.</span></div>
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column" layout-sm="column" flex>
                <md-input-container flex class="mrgR-class">
                    <label for="Position">Position</label>
                    <md-select placeholder="Position" name="Position" id="Position" ng-model="vm.staff.PositionId" required>
                        <md-option value="{{Position.ID}}" ng-repeat="Position in vm.AllPosition">{{ Position.Name }}</md-option>
                    </md-select>
                    <div ng-messages="AddStaff.Position.$error" md-auto-hide="false" ng-show="AddStaff.Position.$touched">
                        <div ng-message when="required"><span>Please choose Position.</span></div>
                    </div>
                    <!--<label for="Position">Position</label>
                        <input type="text" label="Position" name="Position" id="Position" ng-model="vm.staff.Position" required>
                        <div ng-messages="AddStaff.Position.$error" md-auto-hide="false" ng-show="AddStaff.Position.$touched">
                            <div ng-message when="required"><span>Please enter Position.</span></div>
                        </div>-->
                </md-input-container>
                <md-input-container flex class="mrgl-class">
                    <label for="Email">Email</label>
                    <input type="email" label="Email" name="Email" id="Email" ng-model="vm.staff.Email" ng-unique="staffusername" ng-pattern="emailFormat"
                        validate-username-remotely pattern=".{6,100}" allow-pattern="(\d|[a-z\@\.\_])" required>
                    <div ng-messages="AddStaff.Email.$error" md-auto-hide="false" ng-show="AddStaff.Email.$touched">
                        <div ng-message when="required"><span>Email is required.</span></div>
                        <div ng-message="pattern">Please enter a valid email address.</div>
                        <div ng-message when="unique"><span>Email already Exists</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column" layout-sm="column" flex>
                <md-input-container flex class="mrgR-class">
                    <label for="Gender">Gender</label>
                    <md-select placeholder="Gender" name="gender" id="gender" ng-model="vm.staff.Gender" required>
                        <md-option value="1">Male</md-option>
                        <md-option value="2">Female</md-option>
                        <md-option value="3">Other</md-option>
                    </md-select>
                    <div ng-messages="AddStaff.gender.$error" md-auto-hide="false" ng-show="AddStaff.gender.$touched">
                        <div ng-message when="required"><span>Please choose gender.</span></div>
                    </div>
                </md-input-container>

                <div flex class="mrgl-class">
                    <div layout="row" layout-xs="column">
                        <md-input-container flex="50" flex-xs="100">
                            <label for="birth">Date of Birth</label>
                            <md-datepicker flex ng-model="vm.staff.DateOfBirth" md-max-date=vm.dateOfBirth md-placeholder="Enter Date" name="dateofbirth"
                                id="dateofbirth" required></md-datepicker>
                            <div ng-messages="AddStaff.dateofbirth.$error" md-auto-hide="false" ng-show="AddStaff.dateofbirth.$touched">
                                <div ng-message when="required"><span>Date of birth is required.</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="50" flex-xs="100">
                            <label for="DateHired">Date Hired</label>
                            <md-datepicker flex ng-model="vm.staff.DateHired" md-placeholder="Enter Date" name="DateHired" id="DateHired" required></md-datepicker>
                            <div ng-messages="AddStaff.DateHired.$error" md-auto-hide="false" ng-show="AddStaff.DateHired.$touched">
                                <div ng-message when="required"><span>Date Hired is required.</span></div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                    <label>Password</label>
                    <input type="password" name="Password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-model="vm.staff.Password"
                        tri-same-password="AddStaff.confirmpassword" required>
                    <div ng-messages="AddStaff.Password.$error" md-auto-hide="false" ng-show="AddStaff.Password.$touched">
                        <div ng-message when="required">
                            <span translate>Password is required.</span>
                        </div>
                        <!--<div ng-message when="minlength"><span>Minimum 8 character is required.</span></div>-->
                        <div ng-message when="pattern"><span>Password should be atleast 8 characters long and should contain one number,one character and one special character.<strong class=""></strong></span></div>
                        <!--<div ng-message when="maxlength"><span>Maximum 50 character is allowed.</span></div>-->
                        <!--<div ng-message when="samePassword"><span translate>Password and confirm password mismatch.</span></div>-->
                    </div>
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmpassword" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                        ng-model="vm.staff.confirmpassword" tri-same-password="AddStaff.Password" required>
                    <div ng-messages="AddStaff.confirmpassword.$error" md-auto-hide="false" ng-show="AddStaff.confirmpassword.$touched">
                        <div ng-message when="required">
                            <span translate>Confirm password is required.</span>
                        </div>
                        <!--<div ng-message when="pattern"><span>Confirm Password should be atleast 8 characters long and should contain 1 number,1 character and 1 special character.<strong class=""></strong></span></div>-->
                        <!--<div ng-message when="minlength"><span>Minimum 8 character is required.</span></div>
													<div ng-message when="maxlength"><span>Maximum 50 character is allowed.</span></div>-->
                        <div ng-message when="samePassword"><span translate>Passwords do not match.</span></div>
                    </div>
                </md-input-container>
            </div>

            <h2>Contact Information</h2>
            <div>
                <md-input-container flex class="md-block">
                    <label for="Address">Address</label>
                    <textarea ng-model="vm.staff.Address" name="address" id="address" ng-maxlength="100"></textarea>
                    <div ng-messages="AddStaff.address.$error" md-auto-hide="false" ng-show="AddStaff.address.$touched">
                        <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                        <!--<div ng-message when="minlength"><span>Minimum 20 character is required.</span></div>-->
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>

            </div>
            <div layout="row" layout-xs="column" layout-sm="column" flex class="margin-bottom-20">
                <md-input-container flex class="mrgR-class">
                    <label for="apartment">Apt/Suite</label>
                    <input type="text" label="apartment" name="apartment" id="apartment" ng-maxlength="100" ng-model="vm.staff.Apartment">
                    <div ng-messages="AddStaff.apartment.$error" md-auto-hide="false" ng-show="AddStaff.apartment.$touched">
                        <!--<div ng-message when="required"><span>Lastname is required.</span></div>-->
                        <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                        <!--<div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>-->
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                    <!--<label for="Country">Country</label>
                    <md-select placeholder="Country" name="country" id="country" ng-model="vm.staff.CountryId" ng-change="vm.GetState(vm.staff.CountryId)"
                        required>
                        <md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
                    </md-select>
                    <div ng-messages="AddStaff.country.$error" md-auto-hide="false" ng-show="AddStaff.country.$touched">
                        <div ng-message when="required"><span>Please choose country.</span></div>
                    </div>-->
                </md-input-container>
                <md-input-container flex class="mrgl-class">
                    <label for="City">City</label>
                    <input name="City" ng-model="vm.staff.CityName" id="City" ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/" required ng-maxlength="100" ng-minlength="2">
                    <div ng-messages="AddStaff.City.$error" md-auto-hide="false" ng-show="AddStaff.City.$touched">
                        <div ng-message when="required"> <span translate>City is required.</span> </div>
                        <div ng-message when="pattern"><span>Invalid city name.</span></div>
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>

            </div>

            <div layout="row" layout-xs="column" layout-sm="column" flex>
                <md-input-container flex class="mrgR-class">
                    <label for="State">State</label>
                    <md-select placeholder="State" name="state" id="state" ng-model="vm.staff.StateId" required>
                        <md-option value="{{state.ID}}" ng-selected="1" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
                    </md-select>
                    <div ng-messages="AddStaff.state.$error" md-auto-hide="false" ng-show="AddStaff.state.$touched">
                        <div ng-message when="required"><span>Please choose state.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex class="mrgl-class">
                    <label for="">Zip Code</label>
                    <input label="postalcode" type="text" ng-maxlength="6" ng-minlength="5" name="postalcode" id="postalcode" ng-model="vm.staff.PostalCode">
                    <div ng-messages="AddStaff.postalcode.$error" md-auto-hide="false" ng-show="AddStaff.postalcode.$touched">
                        <!--<div ng-message when="pattern"><span>Please enter valid postal code.</span></div>-->

                        <!--<div ng-message when="required"><span>Postal code is required.</span></div>-->
                        <div ng-message when="maxlength"><span>Maximum length is 6.</span></div>
                        <div ng-message when="minlength"><span>Minimum length is 5.</span></div>
                    </div>
                </md-input-container>

            </div>
            <div layout="row" layout-xs="column" layout-sm="column" flex>
                <md-input-container flex class="mrgR-class">
                    <label for="homephone">Home Phone</label>
                    <input type="text" label="homephone" min="0" name="homephone" id="homephone" ng-model="vm.staff.HomePhone" ui-mask="{{'(999) 999-9999'}}"
                        placeholder="(___) ___-____">
                    <!--<div ng-messages="AddStaff.homephone.$error" md-auto-hide="false" ng-show="AddStaff.homephone.$touched">
                        <div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
                        <div ng-message when="required"><span>Please enter phone number.</span></div>
                    </div>-->
                </md-input-container>
                <md-input-container flex class="mrgl-class">
                    <label for="Phone">Mobile Number</label>
                    <input type="text" label="phonenumber" min="0" name="phonenumber" id="phonenumber" ng-model="vm.staff.PhoneNumber" ui-mask="{{'(999) 999-9999'}}"
                        placeholder="(___) ___-____" required>
                    <div ng-messages="AddStaff.phonenumber.$error" md-auto-hide="false" ng-show="AddStaff.phonenumber.$touched">
                        <div ng-message when="pattern"><span>Please enter valid mobile number.</span></div>
                        <div ng-message when="required"><span>Please enter mobile number.</span></div>
                        <!--<div ng-message when="minlength"><span>Minimum length is 10.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 15.</span></div>-->
                    </div>
                </md-input-container>
            </div>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-show="id == 0" ng-click="vm.addStaff(AddStaff)" ng-disabled="AddStaff.$invalid">
                    Add </md-button>
                <md-button class="md-primary md-raised" ng-show="id > 0" ng-click="vm.updateStaff(AddStaff)" ng-disabled="AddStaff.$invalid">
                    Update </md-button>
                <!--<md-button class="md-accent md-raised" ng-click="vm.reset()"> Reset </md-button>-->
                <md-button class="md-warn md-raised" ng-href="/staffdashboard"> Cancel </md-button>
            </md-dialog-actions>

        </div>
    </form>


</div>