<!--<md-content class="padded-content-page">-->
<form name="registerPayType">
	<!--<md-card flex>-->
	<!--<md-card-content>-->
	<!--Child Information-->
	<!--<md-whiteframe class="md-whiteframe-z5 margin-20">-->
	<!--<h2>PayType Information</h2>-->
	<div layout layout-xs="column" flex>

		<md-input-container flex>
			<label for="PayType">PayType</label>
			<input type="text" label="PayType" name="PayType" id="PayType" ng-model="vm.PayType.Name" md-maxlength="50" required>
			<div ng-messages="registerPayType.Name.$error" md-auto-hide="false" ng-show="registerPayType.Name.$touched">
				<div ng-message when="required"><span>Please enter Name.</span></div>
			</div>
		</md-input-container>
	</div>
	<div layout layout-xs="column" flex>
	</div>
	<div layout layout="row" layout-align="end center">
		<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addPayType(registerPayType)"
			ng-disabled="registerPayType.$invalid">Save</md-button>
		<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()"
			ng-disabled="login.$invalid">Cancel</md-button>
	</div>
	<!--</md-whiteframe>-->
	<!--</md-card-content>-->
	<!--</md-card>-->
</form>
<!--</md-content>-->