.seed-list {
  list-style: lower-greek;
}
.mrgR-10{ margin-right:10px;}
.mrgL-10{ margin-left:10px;}
.classpage md-input-container .md-errors-spacer {min-height:0;}
.col-25{width:25%; float:left;}
.classpage md-radio-button { display: inline-block; margin-right: 16px;}
.md-tab{padding: 12px 15px;}

.date-box{ background:#fafafa; padding:20px;}
.col-35{ float:left; width:35%;}
.col-30{ float:left; width:30%;}
.clear{ clear:both;}
.left-heading{ float:left;}
.lesson-table md-card .md-actions, .lesson-table md-card md-card-actions { margin: 0;}
.lesson-table .md-button{ min-width:30px; }
.text-center{ text-align:center;}
.mrg-inst{ margin:5px 10px;}
.mrgL40{ margin-left:40%;}
a{ cursor:pointer;}
.customdialog40{ width:40%;}
.profiletab md-list-item.md-2-line::before, .profiletab md-list-item.md-2-line > .md-no-style::before { min-height: 32px;}
.profiletab md-list-item.md-2-line, .profiletab md-list-item.md-2-line > .md-no-style { min-height: 32px;}
.mrgT50{ margin-top:50px;}
.mrgl-class{ margin-left:10px;}
.mrgR-class{ margin-right:10px;}
md-select-menu[multiple] md-option.md-checkbox-enabled[selected] .md-icon { border-color:rgb(0, 188, 212);}
.md-cyan-theme.md-primary.color-white{ color: #fff;}
.fa-print.white{ color:#fff !important;}

md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
  font-size: 16px;
}

.select-font-size label{font-size: 18px;}

.actionAlign{
   white-space:nowrap;
}
.md-fab-bottom-right.addbtn-pos{
  position: absolute;
  bottom:6px !important;
  right: 80px !important;
  z-index: 999;
}

@media(max-width: 1280px) {
.mrgl-class{ margin-left:0px;}
.mrgR-class{ margin-right:0px;}
}
@media(max-width: 1100px) {
.col-25{width:50%;}
.col-35{width:50%;}
.customdialog40{ width:80%;}
}
@media(max-width: 980px) {
.customdialog40{ width:60%;}
}
@media (max-width: 767px) {
.left-heading{ float:noe;}
.customdialog40{ width:80%;}
}
@media (max-width: 600px) {
.mrgR-10{ margin-right:0px;}
.mrgL-10{ margin-left:0px;}
.col-25{width:100%;}
.col-35{width:100%;}
.col-30{width:100%;}
.mrg-inst{ margin:20px 0px 20px 0px;}
.mrgL40{ margin-left:0;}
.mobile-text-center{ text-align:center; width:100%;}
.profiletab md-list-item.md-2-line::before, .profiletab md-list-item.md-2-line > .md-no-style::before { min-height:52px;}
.profiletab md-list-item.md-2-line, .profiletab md-list-item.md-2-line > .md-no-style { min-height: 52px;}
.mrgT50{ margin-top:30px;}
}

.margin30{
      margin-top: 33px
}