<style>
	input[type=time]::-webkit-outer-spin-button,
	input[type=time]::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
	
	input[type=time] {
		-moz-appearance: textfield;
	}
</style>
<md-dialog class="mobile-fullwidth-dialog" flex="40" flex-xs="30">
	<md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.scheduleEvent.selectedColor.textColor }">
		<div class="md-toolbar-tools">
			<h2>
				<span translate>{{vm.PurposeName}} - {{vm.ParticipantName}}</span>
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
				<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-divider></md-divider>
	<md-dialog-content class="md-dialog-content">
		<form name="dailyStatusform">
			  <ng-form name="dailyStatusComment">
			<div layout="row">

				<md-input-container flex class="md-block mrgR-10">
					<label translate>Comments</label>
					<input type="text" name="Comment" ng-maxlength="100"  ng-model="vm.DailyStatus.Comments" required>
					<div ng-messages="dailyStatusComment.Comment.$error" md-auto-hide="false" ng-show="dailyStatusComment.Comment.$touched">
                        <div ng-message when="required"><span>Please enter Comment.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
				</md-input-container>
			</div>
			  </ng-form>
		</form>
	</md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button class="md-primary md-raised"  ng-if="vm.DailyStatusId==0" ng-click="vm.addDailyStatus(vm.DailyStatus)" ng-disabled="dailyStatusform.$invalid">
			Add </md-button>
		<md-button class="md-primary md-raised" ng-if="vm.DailyStatusId>0" ng-click="vm.updateDailyStatus(vm.DailyStatus)" ng-disabled="dailyStatusform.$invalid">
			Update </md-button>
		<md-button class="md-warn md-raised" ng-click="vm.cancelClick()"> Cancel </md-button>
	</md-dialog-actions>

</md-dialog>

<link rel="stylesheet" href="../customapp/css/bootstrap.css">