

<md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Daily Status List <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'class' : 'class'}} selected )</span></h2>
            <span flex></span>
            <span><h3>Search</h3></span>
            <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">

                <md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
                <md-tooltip>Search</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
<div class="padding-20">
   
    <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
   
        <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
			<form name="DailystatusForm">
            <div class="padded-content-page">
                <md-content class="overflowVisible">
                    <div layout layout-xs="column" flex>
                        <md-input-container flex>
                            <label for="ParticipantName">Participant</label>
                            <input type="text" label="ParticipantName" ng-maxlength="50" name="ParticipantName" id="ParticipantName" ng-pattern="/^[a-zA-Z\s]*$/"
                                ng-model="query.ParticipantName">
                           
                        </md-input-container>
                       
                    </div>
                   
                    <div layout layout-xs="column" flex>
                        <md-input-container flex="50" flex-xs="100">
                            <label for="fromDate">From Date</label>
								<md-datepicker flex ng-model="query.FromDate" ng-model-options="{ timezone: 'utc' }" md-max-date="vm.dsrMinDate" ng-change=vm.setToDate() md-placeholder="Enter Date" name="FromDate"  id="FromDate"
                                required></md-datepicker>
								<div ng-messages="DailystatusForm.FromDate.$error" md-auto-hide="false" ng-show="DailystatusForm.FromDate.$touched">
									<div ng-message when="required"><span>Please select From Date</span></div>
								</div>
                        </md-input-container>
                        <md-input-container flex="50" flex-xs="100">
                            <label for="toDate">To Date</label>
								<md-datepicker flex ng-model="query.ToDate" ng-model-options="{ timezone: 'utc' }" md-max-date=vm.dsrMinDate md-min-date=query.FromDate md-placeholder="Enter Date" name="ToDate"   id="ToDate"
                                required></md-datepicker>
                           
								<div ng-messages="DailystatusForm.ToDate.$error" md-auto-hide="false" ng-show="DailystatusForm.ToDate.$touched">
									<div ng-message when="required"><span>Please select To Date</span></div>
								</div>
                        </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                        <md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetDailyStatusList()" ng-disabled="DailystatusForm.$invalid">Search</md-button>
                            <md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
                            <md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
                    </div>
                </md-content>
            </div>
			</form>
        </md-sidenav>
 <md-card>
        <form name="dailystatus">
            
            <div class="padding-20" ng-if="vm.FamilyId==0">

                <div layout="row" layout-xs="column" layout-sm="row" flex>

                 
                    <md-autocomplete required class="mrgR-10" flex="30" flex-xs="100" required md-input-name="autocompleteField" ng-model="vm.test" md-selected-item-change="vm.setClassName()"
                        md-input-minlength="2" md-input-maxlength="40" md-no-cache="vm.noCache" md-selected-item="vm.selectedItem"
                        md-search-text="vm.searchText" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.display"
                        md-require-match md-floating-label="Select Participant">
                        <md-item-template>
                            <span md-highlight-text="vm.searchText">{{item.display}}</span>
                        </md-item-template>
                          <div ng-messages="dailystatus.autocompleteField.$invalid"  ng-if="dailystatus.autocompleteField.$touched">
                            <div ng-if="dailystatus.autocompleteField.$invalid">Please enter existing participant.</div>                            
                        </div>
                       
                    </md-autocomplete>
                    <md-input-container flex="30" class="mrgL-10" flex-xs="100">
                        <label for="className">Class Name:</label>
                        <!--<input ng-hide="vm.ClassName!=''">None</input>-->
                        <input ng-hide="vm.ClassName==''" ng-model=vm.ClassName ng-disabled="true"></input>
                    </md-input-container>
                       <md-input-container class="mrgL-10" flex="40" flex-xs="100">
                        <label for="birth">Date</label>
                        <md-datepicker flex ng-model="vm.Date" md-max-date=vm.dsrMinDate md-placeholder="Enter Date"
                            name="DateOfDailyStatus" id="DateOfDailyStatus" required></md-datepicker>
                        <div ng-messages="dailystatus.DateOfDailyStatus.$error" md-auto-hide="false" ng-show="dailystatus.DateOfDailyStatus.$touched">
                            <div ng-message when="required"><span>Date is required.</span></div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column"  layout-sm="column" flex>
                   

                    <md-button class="md-primary md-raised margin-left-0" ng-disabled="vm.selectedItem==null" ng-click="vm.ShowDailogueDailyStatusAdd(1,'Eat')">Eat</md-button>
                    <md-button class="md-primary md-raised" ng-disabled="vm.selectedItem==null" ng-click="vm.ShowDailogueDailyStatusAdd(2,'Sleep')">Sleep</md-button>
                    <md-button class="md-primary md-raised" ng-disabled="vm.selectedItem==null" ng-click="vm.ShowDailogueDailyStatusAdd(3,'Toilet')">Toilet</md-button>
                    <md-button class="md-primary md-raised" ng-disabled="vm.selectedItem==null" ng-click="vm.ShowDailogueDailyStatusAdd(4,'General')">General</md-button>
                </div>
                 </div>
        </form>
       
        <div class="padding-20">
           
                <h3><strong>Participant :</strong> {{Participant}} </h3>
                <h3><strong>Period :</strong> {{FromDate | date:'MM/dd/yyyy'}} - {{ToDate | date:'MM/dd/yyyy'}} </h3>
            
        </div>
      
            <div >
                <md-table-container>
                    <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
                        <thead md-head md-order="query.order" md-on-reorder="vm.GetDailyStatusList">
                           
                            <tr md-row>
                                <!--<th md-column><span>#</span></th>-->
                                <th md-column md-order-by="FirstName"><span>Participant</span></th>
                                <th md-column md-order-by="ClassName"><span>Class</span></th>
                                <th md-column md-order-by="Age"><span>Age</span></th>
                                <th md-column md-order-by="Count"><span>Count</span></th>
                                <!--<th md-column md-order-by="Endtime"><span>End time</span></th>
                                <th md-column md-order-by="Comments"><span>Comments</span></th>-->
                                <!--<th md-column><span>&nbsp;ACTION&nbsp;</span></th>-->
                                <th md-column><span>&nbsp;Details&nbsp;</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-auto-select md-select="dailyStatus" @*md-select-id="dailyStatus.ID" *@ ng-repeat="dailyStatus in vm.dailyStatusList">
                                <!--<td md-cell>{{ $index + 1 }}</td>-->
                                <td md-cell><a style="cursor:pointer" ng-click="vm.showParticipantDailyStatusDetailDialogue(dailyStatus.First.StudentInfo)">{{dailyStatus.First.StudentInfo.FirstName}} {{dailyStatus.First.StudentInfo.LastName}}</a></td>
                                <!--<td md-cell>{{dailyStatus.DailyStatusCategory.Name}}</td>
                                <td md-cell>{{dailyStatus.StartTime|ampmtime}}</td>
                                <td md-cell>{{dailyStatus.EndTime|ampmtime}}</td>
                                <td md-cell>{{dailyStatus.Comments}}</td>-->
                                <td md-cell>{{dailyStatus.First.ClassName}}</td>
                                <td md-cell>{{dailyStatus.First.ParticipantAge}}</td>
                                <td md-cell>{{dailyStatus.First.Count}}</td>
                                <td md-cell>
                                    <md-button ng-click="vm.showParticipantDailyStatusDetailDialogue(dailyStatus.First.StudentInfo)" class="md-icon-button" aria-label="Open Order">
                                        <md-icon md-font-icon="fa fa-eye"></md-icon>
                                    </md-button>
                                </td>
                               
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-if="vm.dailyStatusList==0" layout layout-xs="column" flex>
                    <md-input-container flex class="text-center">
                        <h2>No participant daily status list found.</h2>
                    </md-input-container>
                </div>
                <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100,200,500,1000,2000,5000]" md-limit="query.limit" md-page="query.page"
                    md-total="{{vm.dailyStatusCount}}" md-on-paginate="vm.GetDailyStatusList" md-page-select></md-table-pagination>
            </div>
        
        </md-card>
       
         </div>
    