<div class="example-code md-whiteframe-z1 margin-bottom-10">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Details-{{vm.ParticipantName}}
                <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Staffs' : 'Staff'}} selected )</span>
            </h2>
            <span flex></span>
            <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
                <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
                <md-tooltip>Search</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <!--<div layout="row" layout-xs="column" layout-align="end center">
        <h3 flex>Participant-{{vm.dailyStatusDetail[0].StudentInfo.FirstName}} {{vm.dailyStatusDetail[0].StudentInfo.LastName}}</h3>
        <h3 flex>Age-{{vm.dailyStatusDetail[0].ParticipantAge}}</h3>
        <span flex></span>
        <md-button class="md-accent md-raised" ng-href="#/dailyStatus">Back</md-button>
    </div>-->
    <div class="padded-content-page">
        <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <form name="DailystatusFormDetails">
                <div class="padded-content-page">
                    <md-content class="overflowVisible">

                        <div layout layout-xs="column" flex>
                            <md-input-container flex>
                                <label for="purposeid">Purpose</label>
                                <md-select placeholder="Select Purpose" name="purposeid" id="purposeid" ng-model="query.purposeid">
                                    <md-option ng-repeat="option in vm.DailyStatusCatgory" value="{{option.ID}}">{{option.Name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex="50" flex-xs="100">
                                <label for="fromDate">From Date</label>
                                <md-datepicker flex ng-model="query.FromDate" ng-model-options="{ timezone: 'utc' }" md-max-date="vm.dsrMaxDate" md-placeholder="Enter Date" ng-change="vm.setToDate()"
                                    name="FromDt" id="FromDt" required></md-datepicker>
                                <div ng-messages="DailystatusFormDetails.FromDt.$error"  md-auto-hide="false" ng-show="DailystatusFormDetails.FromDt.$touched">
                                    <div ng-message when="required"><span>Please select From Date</span></div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="50" flex-xs="100">
                                <label for="toDate">To Date</label>
                                <md-datepicker flex ng-model="query.ToDate" ng-model-options="{ timezone: 'utc' }" md-max-date=vm.dsrMaxDate md-min-date=query.FromDate md-placeholder="Enter Date"
                                    name="ToDt" id="ToDt" required></md-datepicker>
                                <div ng-messages="DailystatusFormDetails.ToDt.$error" md-auto-hide="false" ng-show="DailystatusFormDetails.ToDt.$touched">
                                    <div ng-message when="required"><span>Please select To Date</span></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex class="text-center">
                                <md-button class="md-primary md-raised"  ng-disabled="DailystatusFormDetails.$invalid" ng-click="vm.GetDailyStatusDetail()">Search</md-button>
                                <md-button class="md-accent md-raised"  ng-click="vm.reset()">Reset</md-button>
                                <md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
                            </md-input-container>
                        </div>

                    </md-content>

                </div>
            </form>
        </md-sidenav>
        <div layout="row" layout-xs="column" layout-align="end center">

            <md-button class="md-accent md-raised" ng-click="vm.redirectToList()" translate="Back">Back</md-button>
        </div>
        <h3 style="margin-left: 10px;"><strong>Date :</strong> {{vm.FromDate|date:'MM/dd/yyyy'}} - {{vm.ToDate|date:'MM/dd/yyyy'}}</h3>
        <h3 style="margin-left: 10px;"><strong>Purpose :</strong> {{vm.purpose}}
            <div class="margin-top-20">
                <!--<div ng-if="vm.NoStaffData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Staff list found.</h2>
                </md-input-container>
            </div>-->
                <div class="margin-top-20">
                    <md-table-container>
                        <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise1">
                            <thead md-head md-order="query.order" md-on-reorder="vm.GetDailyStatusDetail">
                                <tr md-row>
                                    <!--<th md-column><span>#</span></th>-->
                                    <th md-column md-order-by="Purpose"><span>Purpose</span></th>
                                    <th md-column md-order-by="Date"><span>Date</span></th>
                                    <th md-column md-order-by="StartTime"><span>Start Time</span></th>
                                    <th md-column md-order-by="EndTime"><span>End Time</span></th>
                                    <th md-column md-order-by="Comments"><span>Comments</span></th>
                                    <th md-column ng-if="vm.FamilyId==0"><span>&nbsp;ACTION&nbsp;</span></th>

                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-auto-select md-select="dailyStatus" @*md-select-id="dailyStatus.ID" *@ ng-repeat="dailyStatus in vm.dailyStatusDetail">
                                    <!--<td md-cell>{{ $index + 1 }}</td>-->
                                    <td md-cell>{{dailyStatus.DailyStatusCategory.Name}}</td>
                                    <td md-cell>{{dailyStatus.Date| date:'MM/dd/yyyy'}}</td>
                                    <td md-cell>{{dailyStatus.StartTime|ampmtime}}</td>
                                    <td md-cell>{{dailyStatus.EndTime|ampmtime}}</td>
                                    <td md-cell>{{dailyStatus.Comments}}</td>

                                    <td md-cell style="min-width:60px; white-space:nowrap;" ng-if="vm.FamilyId==0">

                                        <a class="md-primary"  ng-click="vm.ShowDialogueDailyStatusUpdate(dailyStatus)" style="cursor:pointer; margin-left: 7px;">
                                            <md-icon style="font-size: 16px;  height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
                                            <md-tooltip>Edit</md-tooltip>
                                        </a> &nbsp;
                                        <a class="md-primary" ng-click="vm.showDeleteClassConfirmDialoue(dailyStatus.ID)" style="cursor:pointer">
                                            <md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
                                            </md-icon>
                                            <md-tooltip>Delete</md-tooltip>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <div ng-if="vm.dailyStatusCount==0" layout layout-xs="column" flex>
                        <md-input-container flex class="text-center">
                            <h2>No Daily Status Details found.</h2>
                        </md-input-container>
                    </div>
                    <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100,200,500,1000,2000,5000]" md-limit="query.limit" md-page="query.page"
                        md-total="{{vm.dailyStatusCount}}" md-on-paginate="vm.GetDailyStatusDetail" md-page-select></md-table-pagination>
                </div>
            </div>