
ul.footer-social{ margin:20px 0 0; padding:0; list-style:none;}
ul.footer-social li{ display:inline-block; margin-left:8px;}
ul.footer-social li a{ display:block; width:47px; height:47px; background-color:#464a2f; border-radius:50%; color:#fff; text-align:center; line-height:47px; font-size:22px;}
ul.footer-social li a.fb{ background:#2685c4;}
ul.footer-social li a.gplus{ background:#e88970;}
ul.footer-social li a.tw{ background:#03a9ff;}
ul.footer-social li a.inst{ background:#fc5170;}
ul.footer-social li a:hover, ul.footer-social li a:focus{ background-color:#0a5772;}


.signup-btn{ display:inline-block; background:#3c9b9f; border-radius:5px; min-width:220px; color:#fff; text-align:center; font-size:20px; font-weight:300; padding:10px 15px;}
.signup-btn:hover, .signup-btn:focus{ background:#238286; color:#fff; text-decoration:none;}

.head {
        background-color: rgb(0, 188, 212);
        height:87px;
    }
    .topMargin {
        margin-top: 150px;
    }
    .mainBox {
        width: 450px;
        margin: 0 auto;
        border: 1px thick rgb(0, 188, 212);
    }
    .headerFont {
        font-family:Calibri;
        font-weight:bold;
        font-size:23px;
    }
    a:hover, a:visited, a:link, a:active {
        color: rgb(0, 188, 212);
        text-decoration: none;
    }
    .contentAlign {
        align-content: center;
        text-align:center;
    }
    .textContent {
        font-family:Calibri;
        font-size: 18px;
    }
    .footerArea {
        margin-top: 90px;
        width: 100%;
        height: 80px;
        background-color: rgb(0, 188, 212);
        color: white;
        font-family: Calibri;
        font-size: 18px;
        text-align: center;
        line-height: 80px;
    }