<style>
	.login-frame md-toolbar .md-headline {
    margin: 0;
    margin-top: -9px;
}
</style>
<md-card >
	<md-toolbar class="padding-20 text-center">
		<a ng-click="vm.redirectToHomePage()"><img ng-src="{{vm.LoginLogo}}" class="margin-top-20" width="250" alt="{{vm.triSettings.name}}"></a>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
	<md-content class="md-padding">
		<form name="login">
			<md-input-container class="md-block">
				<label for="email" translate>Email</label>
				<input id="email" label="email" name="email" ng-maxlength="100" type="email" ng-model="vm.user.email" ng-pattern="emailFormat"  required/>
				<div ng-messages="login.email.$error" md-auto-hide="false" ng-show="login.email.$touched">
					<div ng-message when="required"><span translate>Please enter your email address.</span></div>
					<div ng-message when="pattern"><span translate>Please enter a valid email address.</span></div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" id="passContainer">
				<label for="password" translate>Password</label>
				<input id="password" label="password" name="password"   type="password" ng-model="vm.user.password" required ng-keyup="$event.keyCode == 13 ? vm.loginClick(login) : null"/>
				<div ng-messages for="login.password.$error" md-auto-hide="false" ng-show="login.password.$touched">
					<div ng-message when="required"><span translate>Please enter your password.</span></div>
				</div>
			</md-input-container>
			<div layout="row" layout-align="space-between center">
				<md-input-container>
					<md-checkbox ng-model="vm.user.rememberMe">
						<span translate>Remember Me</span>
					</md-checkbox>
				</md-input-container>
				<md-input-container>
					<md-button flex class="md-primary" href="/forgot" translate="Forgot password?" aria-label="{{'Forgot password?' | triTranslate}}">Forgot password?</md-button>
				</md-input-container>
			</div>
			<md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click= "vm.loginClick(login)" 
				ng-disabled="login.$invalid">Login</md-button>
			<md-button class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-if="vm.redirectPricing==1" href="http://beta.pinwheelcare.com/pricing">Don't have an account? Create one now</md-button>
			<md-button class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-if="vm.redirectPricing==0" href="/pricing">Don't have an account? Create one now</md-button>
		</form>
	</md-content>
</md-card>