<md-content class="">
    <div layout="row" layout-align="center center">
        <h2 class="md-display-3" translate>Welcome to the triangular test page</h2>
    </div>
    <div class="margin-20" layout="row" layout-align="center center">
        <ul class="seed-list">
            <li class="md-headline" ng-repeat="test in vm.testData">
                {{test}}
            </li>
        </ul>
    </div>
</md-content>