<md-content class="padded-content-page">
    <div class="example-code md-whiteframe-z1 margin-bottom-20">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Student</h2>
            </div>
        </md-toolbar>
        <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
        <div class="md-tabs-content padding-40">
            <form name="registerStudent">
                <md-card flex>
                    <md-card-content>
                        <!--Child Information-->
                        <md-whiteframe class="md-whiteframe-z5 margin-20">
                            <h2>Child Information</h2>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="firstname">First name</label>
                                    <input type="text" label="first name" name="firstname" id="firstname" ng-model="vm.student.firstname" ng-pattern="/^[a-zA-Z\s]*$/"required>
                                    <div ng-messages="registerStudent.firstname.$error" md-auto-hide="false" ng-show="registerStudent.firstname.$touched">
                                        <div ng-message when="required"><span>Please enter first name.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="lastname">Last name</label>
                                    <input type="text" label="last name" name="lastname" id="lastname" ng-model="vm.student.lastname" required>
                                    <div ng-messages="registerStudent.lastname.$error" md-auto-hide="false" ng-show="registerStudent.lastname.$touched">
                                        <div ng-message when="required"><span>Please enter last name.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="gender">Gender</label>
                                    <md-select placeholder="select gender" name="gender" id="gender" ng-model="vm.student.gender" required>
                                        <md-option value="1">Male</md-option>
                                        <md-option value="2">Female</md-option>
                                        <md-option value="3">Other</md-option>
                                    </md-select>
                                    <div ng-messages="registerStudent.gender.$error" md-auto-hide="false" ng-show="registerStudent.gender.$touched">
                                        <div  ng-message when="required"><span>Please choose gender.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="dateofbirth">Date of Birth</label>
                                    <md-datepicker ng-model="vm.student.dateofbirth" md-placeholder="Date Of Birth" name="dateofbirth" id="dateofbirth" required></md-datepicker>
                                    <div ng-messages="registerStudent.dateofbirth.$error" md-auto-hide="false" ng-show="registerStudent.dateofbirth.$touched">
                                        <div ng-message when="required"><span>Please enter date of birth.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-whiteframe>
                    </md-card-content>
                </md-card>

                <!-- Parent Information-->
                <md-card>
                    <md-card-content>
                        <md-whiteframe class="md-whiteframe-z2 margin-20 ">
                            <h2>Parent Information</h2>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="firstname">Father name</label>
                                    <input type="text" label="father name" name="fathername" id="fathername" ng-model="vm.student.fathername" required>
                                    <div ng-messages="registerStudent.fathername.$error" md-auto-hide="false" ng-show="registerStudent.fathername.$touched">
                                        <div ng-message when="required"><span>Please enter father name.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="mothername">Mother name</label>
                                    <input type="text" label="mother name" name="mothername" id="mothername" ng-model="vm.student.mothername" required>
                                    <div ng-messages="registerStudent.mothername.$error" md-auto-hide="false" ng-show="registerStudent.mothername.$touched">
                                        <div ng-message when="required"><span>Please enter mother name.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="email">Email</label>
                                    <input type="text" label="email" name="email" id="email" ng-model="vm.student.email" ng-pattern="emailFormat" pattern=".{6,100}" allow-pattern="(\d|[a-z\@\.\_])" required>
                                    <div ng-messages="registerStudent.email.$error" md-auto-hide="false" ng-show="registerStudent.email.$touched">
                                        <div ng-message when="required"><span>Please enter email.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="mobile">Mobile</label>
                                    <input type="number" label="mobile" name="mobile" id="mobile" ng-model="vm.student.mobile" required>
                                    <div ng-messages="registerStudent.mobile.$error" md-auto-hide="false" ng-show="registerStudent.mobile.$touched">
                                        <div ng-message when="required"><span>Please enter mobile number.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-whiteframe>
                    </md-card-content>
                </md-card>

                <!-- Guardian Information-->
                <md-card flex>
                    <md-card-content>
                        <md-whiteframe class="md-whiteframe-z2 margin-20 ">
                            <h2>Guardian Information</h2>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="guardianfirstname">First name</label>
                                    <input type="text" label="first name" name="guardianfirstname" id="guardianfirstname" ng-model="vm.student.guardianfirstname"
                                        required>
                                    <div ng-messages="registerStudent.guardianfirstname.$error" md-auto-hide="false" ng-show="registerStudent.guardianfirstname.$touched">
                                        <div ng-message when="required"><span>Please enter guardian first name.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="guardianlastname">Last name</label>
                                    <input type="text" label="last name" name="guardianlastname" id="guardianlastname" ng-model="vm.student.guardianlastname"
                                        required>
                                    <div ng-messages="registerStudent.guardianlastname.$error" md-auto-hide="false" ng-show="registerStudent.guardianlastname.$touched">
                                        <div ng-message when="required"><span>Please enter guardian last name.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="relation">Relation</label>
                                    <md-select placeholder="select relation" name="relation" id="relation" ng-model="vm.student.relation" required>
                                        <md-option value="1">Uncle</md-option>
                                        <md-option value="2">Auntie</md-option>
                                        <md-option value="3">Grand Mother</md-option>
                                    </md-select>
                                    <div ng-messages="registerStudent.relation.$error" md-auto-hide="false" ng-show="registerStudent.relation.$touched">
                                        <div ng-message when="required"><span>Please choose relation.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="guardianemail">Email</label>
                                    <input type="email" label="guardianemail" name="guardianemail" id="guardianemail" ng-model="vm.student.guardianemail" ng-pattern="emailFormat" pattern=".{6,100}" allow-pattern="(\d|[a-z\@\.\_])" required>
                                    <div ng-messages="registerStudent.guardianemail.$error" md-auto-hide="false" ng-show="registerStudent.guardianemail.$touched">
                                        <div ng-message when="required"><span>Please enter guardians email.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="guardianmobile">Mobile</label>
                                    <input type="number" label="guardianmobile" name="guardianmobile" id="guardianmobile" ng-model="vm.student.guardianmobile"
                                        required>
                                    <div ng-messages="registerStudent.guardianmobile.$error" md-auto-hide="false" ng-show="registerStudent.guardianmobile.$touched">
                                        <div ng-message when="required"><span>Please enter guardians mobile number.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-whiteframe>
                    </md-card-content>
                </md-card>
                <!-- Contact Information-->
                <md-card>
                    <md-card-content>
                        <md-whiteframe class="md-whiteframe-z2 margin-20 ">
                            <h2>Contact Information</h2>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="address">Address</label>
                                    <textarea name="address" label="address" id="address" ng-model="vm.student.address" cols="30" rows="2" required></textarea>
                                    <div ng-messages="registerStudent.address.$error" md-auto-hide="false" ng-show="registerStudent.address.$touched">
                                        <div ng-message when="required"><span>Please enter address.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="country">Country</label>
                                    <md-select placeholder="select country" name="country" id="country" ng-model="vm.student.country" required>
                                        <md-option ng-repeat="option in vm.AllCountries" value="{{option.ID}}">{{option.CountryName}}</md-option>
                                    </md-select>
                                    <div ng-messages="registerStudent.country.$error" md-auto-hide="false" ng-show="registerStudent.country.$touched">
                                        <div ng-message when="required"><span>Please choose country.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="state">State</label>
                                    <md-select placeholder="select state" ng-disabled="!vm.student.country" name="state" id="state" ng-model="vm.student.state" required>
                                        <md-option value="1">Assam</md-option>
                                        <md-option value="2">Bihar</md-option>
                                    </md-select>
                                    <div ng-messages="registerStudent.state.$error" md-auto-hide="false" ng-show="registerStudent.state.$touched" >
                                        <div ng-message when="required"><span>Please choose state.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="city">City</label>
                                    <md-select placeholder="select city" name="city" ng-disabled="!vm.student.state" id="city" ng-model="vm.student.city" required>
                                        <md-option value="1">Nagpur</md-option>
                                        <md-option value="2">Mohali</md-option>
                                    </md-select>
                                    <div ng-messages="registerStudent.city.$error" md-auto-hide="false" ng-show="registerStudent.city.$touched">
                                        <div ng-message when="required"><span>Please choose city.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="postalcode">Postal Code</label>
                                    <input type="number" label="postalcode" name="postalcode" id="postalcode" ng-model="vm.student.postalcode" required>
                                    <div ng-messages="registerStudent.postalcode.$error" md-auto-hide="false" ng-show="registerStudent.postalcode.$touched">
                                        <div ng-message when="required"><span>Please enter postalcode.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-whiteframe>
                    </md-card-content>
                </md-card>

                <!-- Enrollment Information-->
                <md-card>
                    <md-card-content>
                        <md-whiteframe class="md-whiteframe-z2 margin-20 ">
                            <h2>Enrollment Information</h2>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="class">Class</label>
                                    <md-select placeholder="select class" name="class" id="class" ng-model="vm.student.class">
                                        <md-option value="1">Pre school</md-option>
                                        <md-option value="2">Infant</md-option>
                                    </md-select>
                                    <div ng-messages="registerStudent.class.$error" md-auto-hide="false" ng-show="registerStudent.class.$touched">
                                        <div ng-message when="required"><span>Please choose class.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label for="room">Room</label>
                                    <md-select placeholder="select room" name="room" id="room" ng-model="vm.student.room">
                                        <md-option value="1">Room 1</md-option>
                                        <md-option value="2">Room 2</md-option>
                                    </md-select>
                                    <div ng-messages="registerStudent.room.$error" md-auto-hide="false" ng-show="registerStudent.room.$touched">
                                        <div ng-message when="required"><span>Please choose room.</span></div>
                                    </div>
                                </md-input-container>
                                
                                <md-input-container flex>
                                    <label for="startdate">Start Date</label>
                                    <md-datepicker ng-model="vm.student.startdate" md-placeholder="Start Date" name="startdate" id="startdate" required></md-datepicker>
                                    <div ng-messages="registerStudent.startdate.$error" md-auto-hide="false" ng-show="registerStudent.startdate.$touched">
                                        <div ng-message when="required"><span>Please enter start date.</span></div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex>
                                    <label for="enddate">End Date</label>
                                    <md-datepicker ng-model="vm.student.enddate" md-placeholder="End Date" name="enddate" id="enddate" required></md-datepicker>
                                    <div ng-messages="registerStudent.enddate.$error" md-auto-hide="false" ng-show="registerStudent.enddate.$touched">
                                        <div ng-message when="required"><span>Please enter end date.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-whiteframe>
                    </md-card-content>
                </md-card>

                <!-- Additional Information-->
                <md-card>
                    <md-card-content>
                        <md-whiteframe class="md-whiteframe-z2 margin-20 ">
                            <h2>Additional Information</h2>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex>
                                    <label for="additionalInformation">Additional Information</label>
                                    <textarea name="additionalInformation" label="additionalInformation" id="additionalInformation" ng-model="vm.student.additionalInformation"
                                        cols="30" rows="3"></textarea>
                                </md-input-container>
                            </div>
                        </md-whiteframe>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-primary md-raised" ng-click="vm.addStudent(registerStudent)" ng-disabled="registerStudent.$invalid">add student</md-button>
                        </div>
                    </md-card-content>
                </md-card>

            </form>
        </div>
    </div>
</md-content>