<div>
	<!--<md-toolbar class="md-primary">-->
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 ng-show="id == 0">Add Participant Wizard</h2>
			<h2 ng-show="id > 0">Update Participant Wizard</h2>
			<span flex></span>
			<md-button class="md-raised md-warn" ng-href="#/students">Back</md-button>
			<!--<h2> {{triWizard.progress}}% <span translate>Complete</span></h2>-->
		</div>
		<!--<md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>-->
	</md-toolbar>
	<md-card flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
		<md-card-content>
			<md-tabs class="md-primary" md-stretch-tabs="always" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
				<md-tab id="childinformation">
					<md-tab-label>
						<span class="oxy-step-label">1</span>
						<span translate>Child Information</span>
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding">
							<form name="childinformationform" tri-wizard-form novalidate>
								<div>
									<md-input-container class="md-block">
										<label for="Firstname">First name</label>
										<input type="text" label="first name" name="Firstname" id="Firstname" ng-model="vm.student.Firstname" ng-pattern="/^[a-zA-Z\s]*$/"
											required>
										<div ng-messages="childinformationform.Firstname.$error" md-auto-hide="false" ng-show="childinformationform.Firstname.$touched">
											<div ng-message when="required"><span>Please enter first name.</span></div>
											<div ng-message when="pattern"><span>Only text is allowed.</span></div>
										</div>
									</md-input-container>
									<md-input-container class="md-block">
										<label for="Lastname">Last name</label>
										<input type="text" label="last name" name="Lastname" id="Lastname" ng-model="vm.student.Lastname" ng-pattern="/^[a-zA-Z\s]*$/"
											required>
										<div ng-messages="childinformationform.Lastname.$error" md-auto-hide="false" ng-show="childinformationform.Lastname.$touched">
											<div ng-message when="required"><span>Please enter last name.</span></div>
											<div ng-message when="pattern"><span>Only text is allowed.</span></div>
										</div>
									</md-input-container>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="Gender">Gender</label>
											<md-select placeholder="select gender" name="Gender" id="Gender" ng-model="vm.student.Gender" required>
												<md-option value="1">Male</md-option>
												<md-option value="2">Female</md-option>
												<md-option value="3">Other</md-option>
											</md-select>
											<div ng-messages="childinformationform.Gender.$error" md-auto-hide="false" ng-show="childinformationform.Gender.$touched">
												<div ng-message when="required"><span>Please choose gender.</span></div>
											</div>
										</md-input-container>
										<md-input-container flex>
											<label for="Dateofbirth">Date of Birth</label>
											<md-datepicker flex ng-model="vm.student.Dateofbirth" md-placeholder="Date Of Birth" name="Dateofbirth" md-min-date="vm.NewMinDate" md-max-date="vm.minBirthDate"
												id="Dateofbirth" max="{{vm.minBirthDate | date:'yyyy-MM-dd'}}" min="{{vm.NewMinDate | date:'yyyy-MM-dd'}}" required></md-datepicker>
											<div ng-messages="childinformationform.Dateofbirth.$error" md-auto-hide="false" ng-show="childinformationform.Dateofbirth.$touched">
												<div ng-message when="required"><span>Please enter date of birth.</span></div>
												<div ng-message when="max"><span>Date of birth should be at;least one year back.</span></div>
											</div>
										</md-input-container>
									</div>
								</div>
							</form>
						</md-content>
					</md-tab-body>
				</md-tab>
				<md-tab id="parentinformation" ng-disabled="childinformationform.$invalid">
					<md-tab-label>
						<span class="oxy-step-label">2</span>
						<span translate>Parent Information</span>
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding">
							<form name="parentinformationform" tri-wizard-form>
								<div>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="Fathername">Father name</label>
											<input type="text" label="father name" name="Fathername" id="Fathername" ng-model="vm.student.Fathername" ng-pattern="/^[a-zA-Z\s]*$/"
												required>
											<div ng-messages="parentinformationform.Fathername.$error" md-auto-hide="false" ng-show="parentinformationform.Fathername.$touched">
												<div ng-message when="required"><span>Please enter father name.</span></div>
												<div ng-message when="pattern"><span>Only text is allowed.</span></div>
											</div>
										</md-input-container>
										<md-input-container flex>
											<label for="Mothername">Mother name</label>
											<input type="text" label="mother name" name="Mothername" id="Mothername" ng-model="vm.student.Mothername" ng-pattern="/^[a-zA-Z\s]*$/"
												required>
											<div ng-messages="parentinformationform.Mothername.$error" md-auto-hide="false" ng-show="parentinformationform.Mothername.$touched">
												<div ng-message when="required"><span>Please enter mother name.</span></div>
												<div ng-message when="pattern"><span>Only text is allowed.</span></div>
											</div>
										</md-input-container>
									</div>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="Email">Email</label>
											<input type="email" label="email" name="Email" id="Email" ng-model="vm.student.Email" ng-pattern="emailFormat" pattern=".{6,100}" allow-pattern="(\d|[a-z\@\.\_])" required>
											<div ng-messages="parentinformationform.Email.$error" md-auto-hide="false" ng-show="parentinformationform.Email.$touched">
												<div ng-message when="required"><span>Please enter email.</span></div>
												<div ng-message when="email"><span>please enter a valid email address.</span></div>
											</div>
										</md-input-container>
										<md-input-container flex>
											<label for="ParentsMobile">Mobile</label>
											<input type="number" label="mobile" name="ParentsMobile" ng-minlength="10" ng-maxlength="15" id="ParentsMobile" ng-model="vm.student.ParentsMobile"
												required>
											<div ng-messages="parentinformationform.ParentsMobile.$error" md-auto-hide="false" ng-show="parentinformationform.ParentsMobile.$touched">
												<div ng-message when="required"><span>Please enter mobile number.</span></div>
												<div ng-message when="maxlength"><span>Maximum length should be 15</span></div>
												<div ng-message when="minlength"><span>Minimum length should be 10</span></div>
											</div>
										</md-input-container>
									</div>
								</div>
							</form>
						</md-content>
					</md-tab-body>
				</md-tab>
				<md-tab id="guardianinformation" ng-disabled="parentinformationform.$invalid">
					<md-tab-label>
						<span class="oxy-step-label">3</span>
						<span translate>Guardian Information</span>
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding">
							<form name="guardianinformationform" tri-wizard-form>
								<div>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="Guardianfirstname">First name</label>
											<input type="text" label="first name" name="Guardianfirstname" id="Guardianfirstname" ng-model="vm.student.Guardianfirstname">
										</md-input-container>
										<md-input-container flex>
											<label for="Guardianlastname">Last name</label>
											<input type="text" label="last name" name="Guardianlastname" id="Guardianlastname" ng-model="vm.student.Guardianlastname">
										</md-input-container>
									</div>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="Relation">Relation</label>
											<md-select placeholder="select relation" name="Relation" id="Relation" ng-model="vm.student.Relation">
												<md-option value="1">Uncle</md-option>
												<md-option value="2">Auntie</md-option>
												<md-option value="3">Grand Mother</md-option>
											</md-select>
										</md-input-container>
									</div>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="Guardianemail">Email</label>
											<input type="email" label="email" name="Guardianemail" id="Guardianemail" ng-model="vm.student.Guardianemail" ng-pattern="emailFormat" pattern=".{6,100}" allow-pattern="(\d|[a-z\@\.\_])" >
											<div ng-messages="guardianinformationform.Guardianemail.$error" md-auto-hide="false" ng-show="guardianinformationform.Guardianemail.$touched">
												<div ng-message when="email"><span>please enter a valid email address.</span></div>
											</div>
										</md-input-container>
										<md-input-container flex>
											<label for="Guardianmobile">Mobile</label>
											<input type="number" label="mobile" name="Guardianmobile" ng-maxlength="12" id="Guardianmobile" ng-model="vm.student.Guardianmobile">
											<div ng-messages="guardianinformationform.Guardianmobile.$error" ng-minlength="15" ng-maxlength="15" md-auto-hide="false"
												ng-show="guardianinformationform.Guardianmobile.$touched">
												<div ng-message when="maxlength"><span>Maximum length should be 15</span></div>
												<div ng-message when="minlength"><span>Minimum length should be 10</span></div>
											</div>
										</md-input-container>
									</div>
								</div>
							</form>
						</md-content>
					</md-tab-body>
				</md-tab>
				<md-tab id="contactinformation" ng-disabled="parentinformationform.$invalid">
					<md-tab-label>
						<span class="oxy-step-label">4</span>
						<span translate>Contact Information</span>
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding">
							<form name="contactinformationform" tri-wizard-form>
								<div>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="Address">Address</label>
											<textarea name="Address" label="address" id="Address" ng-model="vm.student.Address" cols="30" rows="2" required></textarea>
											<div ng-messages="contactinformationform.Address.$error" md-auto-hide="false" ng-show="contactinformationform.Address.$touched">
												<div ng-message when="required"><span>This field is required.</span></div>
											</div>
										</md-input-container>
									</div>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="Country">Country</label>
											<md-select placeholder="select country" name="Country" id="Country" ng-model="vm.student.Country" ng-change="vm.GetState()"
												required>
												<md-option ng-repeat="option in vm.AllCountries" value="{{option.ID}}">{{option.CountryName}}</md-option>
											</md-select>
											<div ng-messages="contactinformationform.Country.$error" md-auto-hide="false" ng-show="contactinformationform.Country.$touched">
												<div ng-message when="required"><span>This field is required.</span></div>
											</div>
										</md-input-container>
										<md-input-container flex>
											<label for="State">State</label>
											<md-select placeholder="select state" ng-disabled="!vm.student.Country" name="State" id="State" ng-model="vm.student.State" required>
												<md-option ng-repeat="option in vm.AllStates" value="{{option.ID}}">{{option.StateName}}</md-option>
											</md-select>
											<div ng-messages="contactinformationform.State.$error" md-auto-hide="false" ng-show="contactinformationform.State.$touched">
												<div ng-message when="required"><span>This field is required.</span></div>
											</div>
										</md-input-container>
									</div>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="City">City</label>
											<input type="text"  label="city" name="City" id="City" ng-model="vm.student.City">
											<!--<md-select placeholder="select city" name="City" ng-disabled="!vm.student.State" id="City" ng-model="vm.student.City" required>
												<md-option ng-repeat="option in vm.AllCity" value="{{option.ID}}">{{option.CityName}}</md-option>
											</md-select>-->
											<div ng-messages="contactinformationform.City.$error" md-auto-hide="false" ng-show="contactinformationform.City.$touched">
												<div ng-message when="required"><span>This field is required.</span></div>
											</div>
										</md-input-container>
										<md-input-container flex>
											<label for="Postalcode">Postal Code</label>
											<input type="number" ng-minlength="0" ng-maxlength="6" label="postal code" name="Postalcode" id="Postalcode" ng-model="vm.student.Postalcode">
											<div ng-messages="contactinformationform.Postalcode.$error" md-auto-hide="false" ng-show="contactinformationform.Postalcode.$touched">
												<div ng-message when="maxlength"><span>Maximum length should be 6</span></div>
											</div>
										</md-input-container>
									</div>
								</div>
							</form>
						</md-content>
					</md-tab-body>
				</md-tab>
				<md-tab id="enrollmentinformation" ng-disabled="contactinformationform.$invalid">
					<md-tab-label>
						<span class="oxy-step-label">5</span>
						<span translate>Enrollment Information</span>
					</md-tab-label>
					<md-tab-body>
						<md-content class="md-padding">
							<form name="enrollmentinformationform" tri-wizard-form>
								<div>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="ClassID">Class</label>
											<md-select placeholder="select class" name="ClassID" name="ClassID" id="ClassID" ng-model="vm.student.ClassID" required>
												<md-option value="1">Pre school</md-option>
												<md-option value="2">Infant</md-option>
											</md-select>
											<div ng-messages="enrollmentinformationform.ClassID.$error" md-auto-hide="false" ng-show="enrollmentinformationform.ClassID.$touched">
												<div ng-message when="required"><span>This field is required.</span></div>
											</div>
										</md-input-container>
										<md-input-container flex>
											<label for="Room">Room</label>
											<md-select placeholder="select room" name="Room" id="Room" ng-model="vm.student.Room">
												<md-option value="1">Room 1</md-option>
												<md-option value="2">Room 2</md-option>
											</md-select>
											<div ng-messages="enrollmentinformationform.Room.$error" md-auto-hide="false" ng-show="enrollmentinformationform.Room.$touched">
												<div ng-message when="required"><span>This field is required.</span></div>
											</div>
										</md-input-container>
										<md-input-container flex>
											<label for="Startdate">Start Date</label>
											<md-datepicker ng-model="vm.student.Startdate" md-placeholder="Start Date" md-min-date="vm.todayData" name="Startdate" id="Startdate"
												min="{{vm.todayData | date:'yyyy-MM-dd'}}" max="{{vm.student.Enddate | date:'yyyy-MM-dd'}}" required></md-datepicker>
											<div ng-messages="enrollmentinformationform.Startdate.$error" md-auto-hide="false" ng-show="enrollmentinformationform.Startdate.$touched">
												<div ng-message when="required"><span>Please enter start date.</span></div>
												<div ng-message when="max"><span>Start date should be less than end date and greater than today.</span></div>
												<div ng-message when="min"><span>Start date should be greater than today.</span></div>
											</div>
										</md-input-container>

										<md-input-container flex>
											<label for="Enddate">End Date</label>
											<md-datepicker ng-model="vm.student.Enddate" md-placeholder="End Date" md-min-date="vm.student.Startdate" name="Enddate"
												id="Enddate" min="{{vm.student.Startdate && vm.todayData | date:'yyyy-MM-dd'}}" required></md-datepicker>
											<div ng-messages="enrollmentinformationform.Enddate.$error" md-auto-hide="false" ng-show="enrollmentinformationform.Enddate.$touched">
												<div ng-message when="required"><span>Please enter end date.</span></div>
												<div ng-message when="min"><span>End date should be greater than start date and current date</span></div>
											</div>
										</md-input-container>
									</div>
									<div layout layout-xs="column" flex>
										<md-input-container flex>
											<label for="AdditionalInformation">Additional Information</label>
											<textarea ng-maxlength="190" name="AdditionalInformation" label="additional Information" id="AdditionalInformation" ng-model="vm.student.AdditionalInformation"
												cols="30" rows="3"></textarea>
											<div ng-messages="enrollmentinformationform.AdditionalInformation.$error" md-auto-hide="false" ng-show="enrollmentinformationform.AdditionalInformation.$touched">
												<div ng-message when="maxlength"><span>Maximum length is 190</span></div>
											</div>
										</md-input-container>
									</div>
								</div>
							</form>
						</md-content>
					</md-tab-body>
				</md-tab>
			</md-tabs>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 4" ng-disabled="triWizard.prevStepDisabled()">Previous</md-button>
			<md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.currentStep > 3" ng-disabled="triWizard.nextStepDisabled()">Next</md-button>
			<md-button class="md-accent md-raised" ng-click="vm.addStudent(childinformationform, parentinformationform, guardianinformationform, contactinformationform, enrollmentinformationform)"
				ng-show="triWizard.currentStep > 3  && id == 0" ng-disabled="childinformationform.$invalid || enrollmentinformationform.$invalid || parentinformationform.$invalid">ADD</md-button>
			<md-button class="md-accent md-raised" ng-click="vm.updateStudent(childinformationform, parentinformationform, guardianinformationform, contactinformationform, enrollmentinformationform)"
				ng-show="id > 0" ng-disabled="childinformationform.$invalid || enrollmentinformationform.$invalid || parentinformationform.$invalid">UPDATE</md-button>
		</md-card-actions>
	</md-card>
	<!--</div>-->
</div>