@{
    Layout = null;
}
<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Pension Details</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon ng-style="{ 'font-size': size, 'height': size, 'width': size }" ng-class="vm.selectedIcon.className" class="ng-isolate-scope md-cyan-theme material-icons zmdi zmdi-close" aria-hidden="true" style="font-size: 24px; height: 24px; width: 24px;"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-tabs-content padding-40">
            <form name="editPensionDialogue">
                <md-card>
                    <md-card-content>
                        <div layout layout-xs="column" flex ng-model="pension.pensionid" name="pensionid" id="pensionid">
                            <md-input-container flex>
                                <label for="firstname">First name</label>
                                <input type="text" label="first name" name="firstname" id="firstname" ng-model="pension.firstname" required>
                            </md-input-container>
                            <md-input-container flex>
                                <label for="lastname">Last name</label>
                                <input type="text" label="last name" name="lastname" id="lastname" ng-model="pension.lastname" required>
                            </md-input-container>
                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex>
                                <label for="middlename">Middle name</label>
                                <input type="text" label="middle name" name="middlename" id="middlename" ng-model="pension.middlename">
                            </md-input-container>
                            <md-input-container flex>
                                <label for="extensionname">Extension name</label>
                                <input type="text" label="extension name" name="extensionname" id="extensionname" ng-model="pension.extensionname">
                            </md-input-container>
                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex>
                                <label for="barangay">Barangay</label>
                                <input type="text" label="barangay" name="barangay" id="barangay" ng-model="pension.barangay" required>
                            </md-input-container>
                            <md-input-container flex>
                                <label for="city">City</label>
                                <input type="text" label="city" name="city" id="city" ng-model="pension.city" required>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label for="amount">Amount</label>
                            <input label="amount" name="amount" id="amount" type="number" ng-model="pension.amount" required>
                        </md-input-container>
                        <md-dialog-actions layout="row">
                            <div layout="row" layout-align="end center">
                                <md-button class="md-primary" ng-click="vm.UpdatePensionDetail(editPensionDialogue)" ng-disabled="editPensionDialogue.$invalid">Update</md-button>
                                <md-button ng-click="hide()">Cancel</md-button>
                            </div>
                        </md-dialog-actions>
                    </md-card-content>
                </md-card>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>
