<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Add Holiday</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="addHoliday">
            <h2>Holiday Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Title">Title </label>
                    <input type="Title" ng-maxlength="100" ng-change="vm.checkTitle(vm.holiday.Title)" label="Title" name="Title" id="Title" ng-model="vm.holiday.Title" required>
                    <div ng-messages="addHoliday.Title.$error"  md-auto-hide="false" ng-show="addHoliday.Title.$touched">
                        <div ng-message when="required"><span>Please enter Title.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
                        <div ng-message when="title"><span>Holiday title already exists.</span></div>
                    </div>
                </md-input-container>
                    <md-input-container flex>
                    <label for="HolidayDate">Holiday Date</label>
                    <md-datepicker ng-model="vm.holiday.HolidayDate"
                        name="HolidayDate" id="HolidayDate" md-placeholder="Enter date" ng-model-options="{ timezone: 'utc' }"
                        required></md-datepicker>
                    <div ng-messages="addHoliday.HolidayDate.$error" md-auto-hide="false" ng-show="addHoliday.HolidayDate.$touched">
								<div ng-message when="required"><span>Please select date</span></div>
							</div>
                </md-input-container>
               
            </div>

            <div layout layout-xs="column" flex>
                

                 <md-input-container flex>
                    <label for="Description">Description</label>
                    <input type="Description"  label="Description" name="Description" id="Description" ng-model="vm.holiday.Description">
                </md-input-container>

                 

            </div>


            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addHoliday(addHoliday) " ng-disabled="addHoliday.$invalid"
                    translate="Add" aria-label="{{'Add' | triTranslate}}">Add</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>