﻿<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Update Holiday</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="updateHoliday">
            <h2>Holiday Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Title">Title</label>
                    <input type="text" ng-maxlength="100" label="Title" name="Title" id="Title" ng-model="vm.holiday.Title"
                        required>
                    <div ng-messages="updateHoliday.Title.$error" md-auto-hide="false" ng-show="updateHoliday.Title.$touched">
                        <div ng-message when="required"><span>Please enter Title.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="HolidayDate">Holiday Date</label>
                    <md-datepicker ng-model="vm.holiday.HolidayDate"
                        name="HolidayDate" id="HolidayDate" md-placeholder="Enter date" ng-model-options="{ timezone: 'utc' }"
                        required></md-datepicker>
            <div ng-messages="updateHoliday.HolidayDate.$error" md-auto-hide="false" ng-show="updateHoliday.HolidayDate.$touched">
                <div ng-message when="required"><span>Please enter date.</span></div>
            </div>
                </md-input-container>
            </div>

              <div layout layout-xs="column" flex>

                <md-input-container flex>
                    <label for="Description">Description</label>
                    <input type="text" label="Description" name="Description" id="Description" ng-model="vm.holiday.Description">
                   
                </md-input-container>

                

            </div>
        

            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateHoliday(updateHoliday) " required
                    ng-disabled="updateHoliday.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Update</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>