<template>
  <div class="wrapper">
    <section>
      <div class="content-wrapper">
        <h4 class="page_header"><em class="icon-people"></em> All Participants
          <span class="float-right">
              <button id="btnAddParticipant" type="button" class="btn btn-link text-success">
                <i class="icon-user-follow"></i>&nbsp;&nbsp;Add Participant
              </button>
              <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select View
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">All Participants</a>
                <a class="dropdown-item" href="#">Assigned Participants</a>
                <a class="dropdown-item" href="#">Unassigned Participants</a>
                <a class="dropdown-item" href="#">Waiting List Participants</a>
              </div>
            </span>
        </h4>
        <div class="row">
          <div class="col">
            <table id="tblParticipants" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Gender</th>
                  <th>DOB (age)</th>
                  <th>Classes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Doe</td>
                  <td>John</td>
                  <td>Male</td>
                  <td>1/1/2010 (7y)</td>
                  <td>After School</td>
                </tr>
                <tr>
                  <td>Smith</td>
                  <td>Jane</td>
                  <td>Female</td>
                  <td>5/12/2010 (7y)</td>
                  <td>After School</td>
                </tr>
                <tr>
                  <td>Williams</td>
                  <td>Buzz</td>
                  <td>Male</td>
                  <td>1/1/2012 (5y)</td>
                  <td>Pre-K</td>
                </tr>
                <tr>
                  <td>Fuente</td>
                  <td>Justin</td>
                  <td>Male</td>
                  <td>1/17/2015 (2y)</td>
                  <td>Toddlers</td>
                </tr>
                <tr>
                  <td>Kendrick</td>
                  <td>Anna</td>
                  <td>Female</td>
                  <td>10/10/2008 (9y)</td>
                  <td>After School</td>
                </tr>
                <tr>
                  <td>Bourne</td>
                  <td>Jason</td>
                  <td>Male</td>
                  <td>10/19/2007 (10y)</td>
                  <td>After School</td>
                </tr>
                <tr>
                  <td>Baby</td>
                  <td>Boss</td>
                  <td>Male</td>
                  <td>7/10/2016 (1y)</td>
                  <td>Infants</td>
                </tr>
                <tr>
                  <td>Doe</td>
                  <td>John</td>
                  <td>Male</td>
                  <td>1/1/2010 (7y)</td>
                  <td>After School</td>
                </tr>
                <tr>
                  <td>Smith</td>
                  <td>Jane</td>
                  <td>Female</td>
                  <td>5/12/2010 (7y)</td>
                  <td>After School</td>
                </tr>
                <tr>
                  <td>Williams</td>
                  <td>Buzz</td>
                  <td>Male</td>
                  <td>1/1/2012 (5y)</td>
                  <td>Pre-K</td>
                </tr>
                <tr>
                  <td>Fuente</td>
                  <td>Justin</td>
                  <td>Male</td>
                  <td>1/17/2015 (2y)</td>
                  <td>Toddlers</td>
                </tr>
                <tr>
                  <td>Kendrick</td>
                  <td>Anna</td>
                  <td>Female</td>
                  <td>10/10/2008 (9y)</td>
                  <td>After School</td>
                </tr>
                <tr>
                  <td>Bourne</td>
                  <td>Jason</td>
                  <td>Male</td>
                  <td>10/19/2007 (10y)</td>
                  <td>After School</td>
                </tr>
                <tr>
                  <td>Baby</td>
                  <td>Boss</td>
                  <td>Male</td>
                  <td>7/10/2016 (1y)</td>
                  <td>Infants</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
// import HeaderComponent from '../Layouts/header.vue';
// import SideBarComponent from '../Layouts/sidebar.vue';
// import FooterComponent from '../Layouts/footer.vue';

export default {
  name: 'Participant',
  data () {
    return {
      msg: 'Participant'
    }
  }
  // ,
  // components:{
  //   HeaderComponent,
  //   SideBarComponent,
  //   FooterComponent
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1,
  h2 {
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #42b983;
  }
</style>