<div class="dashboard-container padded-content-page">
    <!--<md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Dashboard</h2>
    </div>
  </md-toolbar>-->
    <div >

        <div class="drag-container" layout="row" layout-xs="column"  layout-margin dragula='"drag-analytics-container"'>
            <tri-widget  style="cursor:pointer;" palette-background="deep-orange:500" ng-click=" vm.redirectToAllParticipants()" content-layout="row"
                content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-accounts-alt"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" decimals="0" countupto="vm.ParticipantCount"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Participants</p>
                </div>
            </tri-widget>
           <tri-widget style="cursor:pointer;" palette-background="triCyan:500" content-layout="row" ng-click="vm.redirectToEvents()"
                content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-accounts-alt"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="vm.EventCount" decimals="0"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Events</p>
                </div>
            </tri-widget>
            <tri-widget style="cursor:pointer;" palette-background="indigo:500" content-layout="row" ng-click="vm.redirectToLeave()"
                content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="fa fa-sitemap"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.DailyStatusCount" decimals="0"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Daily Status</p>
                </div>
            </tri-widget>
            <tri-widget style="cursor:pointer;" palette-background="teal:500" content-layout="row" ng-click="vm.redirectToParticipantAttendance()"
                content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-check-all"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.AttendanceCount" decimals="0"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Attendance</p>
                </div>
            </tri-widget>
        </div>
        <div layout="row" layout-xs="column" layout-margin>
            <tri-widget flex title="Attendance Status" content-layout="column" content-layout-align="center">
                <div layout="row" layout-align="center center" ng-if="vm.attendanceList.length==0">
                    <h2>No Records!</h2>
                </div>

                <!--<div class="full-width" layout="row" ng-repeat="toDo in vm.ToDoList| limitTo : 5" layout-padding>
                    <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>{{toDo.Name}}</h4>

                    <div flex class="font-size-1 text-right sales-dashboard padding-right-10">
                        <span class="status status-pending ">{{toDo.Priority.Name}}</span>
                    </div>
                </div>
                <div layout="row" ng-if="vm.ToDoList.length>5" layout-align="end center">
                    <md-button class="md-accent md-raised" ng-click="vm.GotoToDoList()"> More </md-button>
                </div>-->

                <md-table-container style="max-height: 300px;" ng-if="vm.attendanceList.length>0">
                    <table md-table class="md-data-table" md-progress="vm.promise">
                        <thead md-head md-order="vm.query.order" md-on-reorder="vm.AgencyList">
                            <tr md-row>
                                <!--<th md-column md-order-by="Name" decend-first>Name</th>
                                <th md-column md-order-by="OwnerName">Owner Name</th>
                                <th md-column md-order-by="Email">Email</th>
                                <th md-column md-order-by="Pricingplan">Pricing Plan</th>
                                <th md-column md-order-by="Timeclockuserplan">Timeclockuser plan</th>
                                <th md-column>Details</th>-->
                                <th md-column decend-first>Image</th>
                                <th md-column>Name</th>
                                <th md-column>Class</th>
                                <th md-column>Drop By</th>
                                <th md-column>Pickup By</th>
                                <th md-column>In Time</th>
                                <th md-column>Out Time</th>
                                <th md-column>Details</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="attendance in vm.attendanceList">
                                <td md-cell><img ng-src="{{vm.ImageUrlPath}}{{attendance.Student.ImagePath}}" err-src="assets/images/profilepic/images4.png"
                                        alt="girl-avatar" class="make-round md-avatar" width="70" /></td>
                                <td md-cell><a style="cursor:pointer;color:#00bcd4;border-bottom: none;md-cyan-theme" ng-click="vm.showParticipantDetailDialogue(attendance.Student)">{{attendance.StudentName}}</a></td>
                                <td md-cell>{{attendance.StudentSchedule.ClassName}}</td>

                                <td md-cell ng-if="attendance.DropedBy==null && attendance.DropedByOther==null">--</td>
                                <td md-cell ng-if="attendance.DropedBy!=null">{{attendance.DropedBy.FullName}} ({{attendance.DropByRelationName}})</td>
                                <td md-cell ng-if="attendance.DropedByOther!=null">{{attendance.DropedByOther.Name}}</td>
                                <td md-cell ng-if="attendance.PickupBy==null && attendance.PickupByOtherName==''">--</td>
                                <td md-cell ng-if="attendance.PickupBy!=null">{{attendance.PickupBy.FullName}} ({{attendance.PickedByRelationName}})</td>
                                <td md-cell ng-if="attendance.PickupByOtherName!=null && attendance.PickupByOtherName!=''">{{attendance.PickupByOtherName}}</td>
                                <td md-cell>{{attendance.InTime|ampmtime}}</td>
                                <td md-cell ng-if="attendance.OutTime!=null">{{attendance.OutTime|ampmtime}}</td>
                                <td md-cell ng-if="attendance.OutTime==null">--</td>
                                <td md-cell>
                                    <md-button ng-click="vm.showParticipantDetailDialogue(attendance.Student)" class="md-icon-button" aria-label="Open Order">
                                        <md-icon md-font-icon="fa fa-eye"></md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <!--<div layout="row" ng-if="vm.AgencyList.length>3" layout-align="end center">
                    <md-button class="md-accent md-raised" ng-href="#/superadmin" >Show More </md-button>
                </div>-->
                <div ng-if="vm.AgencyList.length>3 && vm.buttonText==1" layout="row" layout-align="end center">
                    <md-button class="md-accent md-raised" ng-click="vm.moreClick()"> More </md-button>
                </div>
                <div ng-if="vm.buttonText==0" layout="row" layout-align="end center">
                    <md-button class="md-accent md-raised" ng-click="vm.lessClick()"> Less </md-button>
                </div>

                <!--<md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.salesData.orders.length}}" md-page-select></md-table-pagination>-->
            </tri-widget>

        </div>

    </div>
</div>