<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Add Attendance</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="AddAttendance">
            <h2>Attendance Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Instructor">Instructor</label>
                    <md-select placeholder="Select Instructor" name="Instructor" id="Instructor" ng-model="vm.AttendanceData.StaffScheduleId"
                        required>
                        <md-option value="{{Student.StudentId}}" ng-repeat="Student in vm.StudentList">{{ Student.StudentFullName }}</md-option>
                    </md-select>
                    <div ng-messages="AddAttendance.Instructor.$error" md-auto-hide="false" ng-show="AddAttendance.Instructor.$touched">
                        <div ng-message when="required"><span>Student is required.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="InTime">In Time</label>
                    <input type="time" ng-model="vm.AttendanceData.InTime" name="intime" id="intime" required>
                    <div ng-messages="AddAttendance.intime.$error" md-auto-hide="false" ng-show="AddAttendance.intime.$touched">
                        <div ng-message when="required"><span>In Time is required.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="OutTime">Out Time</label>
                    <input type="time" ng-model="vm.AttendanceData.OutTime" name="outtime" id="outtime" required>
                    <div ng-messages="AttendanceData.outtime.$error" md-auto-hide="false" ng-show="AttendanceData.outtime.$touched">
                        <div ng-message when="required"><span>Out Time is required.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-input-container class="md-block">
                    <md-checkbox class="md-primary" ng-model="vm.AttendanceData.OnLeave" name="OnLeave" id="OnLeave" aria-label="Checkbox1">
                        On Leave
                    </md-checkbox>
                </md-input-container>
            </div>
            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.SaveAttendance(vm.AttendanceData)"
                    ng-disabled="AddAttendance.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Save</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>