<h2>{{vm.Name}}</h2>
<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2 ng-if="vm.toggle==1">[Sign In] {{vm.attendanceData.StudentName}}</h2>
            <h2 ng-if="vm.toggle==0">[Sign Out] {{vm.attendanceData.StudentName}}</h2>

            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-if="vm.showSaveProgress"></md-progress-linear>
    <md-divider></md-divider>
    <md-dialog-content class="md-dialog-content" ng-disabled="true">
        <h2>Parents</h2>
        <div layout="row" layout-sm="column" ng-if="vm.showProgressbar" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-list >
            <md-list-item class="md-1-line" ng-repeat="item in ::vm.allParentList" ng-click="vm.SaveAttendance(item,vm.attendanceData,false)"
                ng-class="{selectedIndex: selectedIndex===$index}">
                <div class="md-list-item-text" layout="column">
                    <h3> {{::item.FirstName}} {{::item.LastName}}({{::item.RelationName}})</h3>
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <h2 ng-if="vm.toggle==1">Convenience Mode</h2>
            <md-list-item ng-if="vm.toggle==1" class="md-1-line" ng-click="vm.SaveAttendance(item,vm.attendanceData,true)" ng-repeat="item in ::vm.convenienceModeList"
                ng-class="{selectedIndex: selectedIndex===$index}">
                <div class="md-list-item-text" layout="column">
                    <h3> {{::item.Name}}</h3>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <h2 ng-if="vm.toggle==0">By Others</h2>
        <form name="othersSecurity" novalidate>
            <div layout="row" flex=60 ng-if="vm.toggle==0">
                <div flex="40">
                    <md-input-container>
                        <label for="SecurityCode">Pin Number</label>
                        <textarea ng-model="vm.attendanceData.CheckSecurityKey" name="SecurityKey" required></textarea>
                        <div ng-messages="othersSecurity.SecurityKey.$error" md-auto-hide="false" ng-show="othersSecurity.SecurityKey.$touched">
                            <div ng-message when="required"><span>Please enter pin number.</span></div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="40">
                    <md-input-container>
                        <label for="PickupByOtherName">Person Name</label>
                        <textarea ng-model="vm.attendanceData.PickupByOtherName" name="PickupByOtherName" required></textarea>
                        <div ng-messages="othersSecurity.PickupByOtherName.$error" md-auto-hide="false" ng-show="othersSecurity.PickupByOtherName.$touched">
                            <div ng-message when="required"><span>Please enter person name.</span></div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="20">
                    <md-input-container>
                        <md-button class="md-primary md-raised" ng-disabled="othersSecurity.$invalid" ng-click="vm.SaveAttendance(null,vm.attendanceData,true)">SIGN OUT</md-button>
                    </md-input-container>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>