
<!--<div>
	<md-card flex flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
		<md-card-content>
			<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
			<md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always" md-dynamic-height>
				<md-tab label="Participant Failed Signout">
					<div flex ng-controller="FailedSignoutController as vm">
						<md-content class="md-padding" ng-include="'app/Attendance/views/participantfailedsignout.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Staff Failed Signout">
					<div flex ng-controller="FailedSignoutController as vm">
						<md-content class="md-padding" ng-include="'app/Attendance/views/stafffailedsignoutlist.tmpl.html'"></md-content>
					</div>
				</md-tab>
			</md-tabs>
		</md-card-content>
	</md-card>
</div>-->



    <!--<div layout="row" layout-xs="column" layout-align="end center">
        <h2 flex>Family - {{vm.familyname}}</h2>
        <span flex></span>
        <md-button class="md-accent md-raised" ng-href="#/families">Back</md-button>
    </div>-->
   
        <div layout="row" layout-align="center center" class="classpage padding-20">
            <md-card flex>
                <md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always" md-dynamic-height md-border-bottom>
                    <md-tab label="Participant Failed Signout">
                            <md-card-content class="overlay-10" ng-controller="FailedSignoutController as vm"  ng-include="'app/Attendance/views/participantfailedsignout.tmpl.html'" ng-style="{ 'height' : (vm.StudentCount < 3) ? '450px' : 'auto' }"  ></md-card-content>
                    </md-tab>
                    <md-tab label="Staff Failed Signout">
                        <md-card-content class="overlay-10" ng-controller="FailedSignoutController as vm" ng-include="'app/Attendance/views/stafffailedsignoutlist.tmpl.html'" ng-style="{ 'height' : (vm.staffCount < 3) ? '450px' : 'auto' }" ></md-card-content>
                    </md-tab>
                   
                </md-tabs>
            </md-card>
        </div>
    
