<style>
	.login-frame md-toolbar .md-headline {
		margin: 0;
		margin-top: -9px;
		    width: 300px;
	}
	.login-frame md-card {
    width: 300px;
}

</style>
<md-card>
	<md-toolbar class="padding-20 text-center">
		<a ng-click="vm.redirectToDashBoard()"><img ng-src="{{vm.LoginLogo}}" class="margin-top-20" width="250" alt="{{vm.triSettings.name}}"></a>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar">
	</md-progress-linear>
	<md-content class="md-padding">
		<form name="parentSignIn">
			<md-input-container class="md-block">
				<label for="phonenum" translate>Phone Number</label>
				<input type="text" label="phonenum" required  name="phonenum" ng-model="query.PhoneNumber" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____">
				<div ng-messages="parentSignIn.phonenum.$error" md-auto-hide="false" ng-show="parentSignIn.phonenum.$touched">
					<div ng-message when="required"><span translate>Please enter Phone Number.</span></div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" id="pinnum">
				<label for="pinnum" translate>Phone Number</label>
				<input type="text" name="pinnum" required ng-model="query.PinNumber" />
				<div ng-messages for="parentSignIn.pinnum.$error" md-auto-hide="false" ng-show="parentSignIn.pinnum.$touched">
					<div ng-message when="required"><span translate>Please enter Pin number.</span></div>
				</div>
			</md-input-container>
			
			<md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.SignIn(parentSignIn)"
				ng-disabled="parentSignIn.$invalid || IsDisabled">Sign In</md-button>
			
		</form>
	</md-content>
</md-card>