<md-dialog class="mobile-fullwidth-dialog" flex="40" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>{{attendanceDataDetail.StudentName}} Sign In Attendance</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="DropInAttendance">
            <h2>Attendance Information</h2>
            <input type="text" label="Category" name="Category" id="Category" ng-model="vm.AttendanceData.ClassId" ng-hide="true">
            <div layout="row" layout-xs="column" flex>
                <div flex>
                    <md-input-container class="md-block">
                        <md-checkbox class="md-primary" ng-model="vm.AttendanceData.OnLeave" name="OnLeave" id="OnLeave" aria-label="Checkbox1">
                            On Leave
                        </md-checkbox>
                    </md-input-container>
                </div>
                <div flex ng-if="vm.AttendanceData.OnLeave==0">
                    <div layout="row" layout-align="end center">
                        <span class="padding-right-20">Guardian</span>
                        <md-switch class="md-primary padding-right-20" ng-model="vm.IsParents" aria-label="Primary Switch">
                            Others
                        </md-switch>
                    </div>
                </div>
            </div>
            <div layout layout-xs="column" flex ng-if="vm.AttendanceData.OnLeave==0">
                <md-input-container flex ng-if="vm.IsParents==0">
                    <label for="Parent">Parent</label>
                    <md-select placeholder="Select Guardian" name="Parent" id="Parent" ng-model="vm.AttendanceData.ParentId" required>
                        <md-option value="{{Parent.ID}}" ng-repeat="Parent in vm.ParentList">{{ Parent.FirstName }} {{Parent.LastName}}</md-option>
                    </md-select>
                    <div ng-messages="DropInAttendance.Instructor.$error" md-auto-hide="false" ng-show="DropInAttendance.Parent.$touched">
                        <div ng-message when="required"><span>Parent is required.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex ng-if="vm.IsParents==1">
                    <label for="Other">Mode of convenience</label>
                    <md-select placeholder="Select Mode of convenience" name="Other" id="Other" ng-model="vm.AttendanceData.DropedByOtherId"
                        required>
                        <md-option value="{{other.ID}}" ng-repeat="other in vm.OtherDroppedByList">{{ other.Name }}</md-option>
                    </md-select>
                    <div ng-messages="DropInAttendance.Other.$error" md-auto-hide="false" ng-show="DropInAttendance.Other.$touched">
                        <div ng-message when="required"><span>Mode of convenience is required.</span></div>
                    </div>
                </md-input-container>
                <!--<md-input-container flex>
                    <label for="Instructor">Instructor</label>
                    <md-select placeholder="Select Instructor" name="Instructor" id="Instructor" ng-model="vm.AttendanceData.StaffScheduleId"
                        required>
                        <md-option value="{{Student.StudentId}}" ng-repeat="Student in vm.StudentList">{{ Student.StudentFullName }}</md-option>
                    </md-select>
                    <div ng-messages="AddAttendance.Instructor.$error" md-auto-hide="false" ng-show="AddAttendance.Instructor.$touched">
                        <div ng-message when="required"><span>Student is required.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="InTime">In Time</label>
                    <input type="time" ng-model="vm.AttendanceData.InTime" name="intime" id="intime" required>
                    <div ng-messages="AddAttendance.intime.$error" md-auto-hide="false" ng-show="AddAttendance.intime.$touched">
                        <div ng-message when="required"><span>In Time is required.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="OutTime">Out Time</label>
                    <input type="time" ng-model="vm.AttendanceData.OutTime" name="outtime" id="outtime" required>
                    <div ng-messages="AttendanceData.outtime.$error" md-auto-hide="false" ng-show="AttendanceData.outtime.$touched">
                        <div ng-message when="required"><span>Out Time is required.</span></div>
                    </div>
                </md-input-container>-->
            </div>
            <div>

            </div>
            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.SaveAttendance(vm.AttendanceData,1)"
                    ng-disabled="DropInAttendance.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Save</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.cancelClick()"
                    ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>