<md-dialog class="mobile-fullwidth-dialog" flex="40" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>{{attendanceDataDetail.StudentName}} Sign Out Attendance</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="PickUpAttendance">
            <h2>Attendance Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Parent">Parent</label>
                    <md-select placeholder="Select Guardian" name="Parent" id="Parent" ng-model="vm.AttendanceData.ParentId" ng-change="vm.checkOthers(vm.AttendanceData.ParentId)"
                        required>
                        <md-option value="{{Parent.ID}}" ng-repeat="Parent in vm.ParentList">{{ Parent.FirstName }} {{Parent.LastName}}</md-option>
                        <md-option value="0">Others</md-option>
                    </md-select>
                    <div ng-messages="PickUpAttendance.Parent.$error" md-auto-hide="false" ng-show="PickUpAttendance.Parent.$touched">
                        <div ng-message when="required"><span>Parent is required.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                 <md-input-container flex ng-if="vm.IsOthers == 1">
                    <label for="SecurityCode">Security Code</label>
                    <textarea ng-model="vm.AttendanceData.SecurityKey" name="SecurityKey" required></textarea>
                </md-input-container>
                <md-input-container flex ng-if="vm.IsOthers == 1">
                    <label for="PickupByOtherName">Person Name</label>
                    <textarea ng-model="vm.AttendanceData.PickupByOtherName" name="PickupByOtherName" required></textarea>
                </md-input-container>
            </div>
            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.SaveAttendance(vm.AttendanceData)"
                    ng-disabled="PickUpAttendance.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Save</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.cancelClick()"
                    ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>