<div class="example-code md-whiteframe-z1 margin-bottom-20">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Mark Attendance</h2>
            <span flex></span>
            <span><h3>Search</h3></span>
            <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
                <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
                <md-tooltip>Search</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div class="padded-content-page">
        <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <div class="padded-content-page">
                <md-content class="overflowVisible">
                    <div layout layout-xs="column" flex>
                        <md-input-container flex>
                            <label for="Name">Name</label>
                            <input type="text" label="Name" name="Name" id="Name" ng-model="query.Name">
                            <!--<div ng-messages="Attendance.Name.$error" md-auto-hide="false" ng-show="Attendance.Name.$touched">
                            <div ng-message when="required"><span>Please enter name.</span></div>
                        </div>-->
                        </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                        <md-input-container flex="40">
                            <label for="Class">Class</label>
                            <md-select placeholder="Class" name="Class" id="Class" ng-model="query.ClassId">
                                <md-option value="{{Class.ID}}" ng-repeat="Class in vm.classList">{{ Class.ClassName }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="60">
                            <!--<label for="Date">Date</label>-->
                            <md-datepicker flex md-placeholder="Enter Date" ng-model="query.Date" name="Date" id="Date" ng-model-options="{ timezone: 'utc' }" class='margin0'></md-datepicker>
                        </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                        <md-input-container flex class="text-center">
                            <md-button class="md-primary md-raised" ng-click="vm.getAttendanceData()">Search</md-button>
                            <md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
                            <md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
                        </md-input-container>
                    </div>
                </md-content>
            </div>
        </md-sidenav>
        <div class="margin-top-20">

            <md-table-container class="lesson-table">
                <form name="attendanceForm">
                    <table md-table class="md-primary md-data-table table-bordered table-striped" ng-model="vm.selected" md-progress="vm.promise">

                        <thead md-head md-order="vm.query.order" md-on-reorder="vm.AttendanceList">
                            <tr md-row>
                                <th md-column>Image</th>
                                <th md-column>Name</th>
                                <th md-column>Date</th>
                                <th md-column>Class</th>
                                <!--<th md-column>On Leave</th>-->
                                <th md-column>Sign In Time</th>
                                <th md-column>Sign In By</th>
                                <th md-column>Sign Out Time</th>
                                <th md-column>Sign Out By</th>
                                <!--<th md-column class="text-center">ACTION</th>-->
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row @*md-select-id="attendanceData.ID" *@ ng-repeat="attendanceData in vm.EnrolledStudentList">
							<td md-cell><img ng-src="{{vn.ImageUrlPath}}{{attendanceData.ImagePath}}" err-src="assets/images/avatars/avatar-5.png"/></td>
                                <td md-cell><a style="cursor:pointer" ng-click="vm.openAttendancePopup(attendanceData)">{{attendanceData.StudentName}}</a></td>
                                <td md-cell>{{attendanceData.AttendanceDate  | date:'MM/dd/yyyy'}}</td>
                                <td md-cell>{{attendanceData.ClassName}}</a></td>
                                <!--<td md-cell ng-if="attendanceData.OnLeave==0">Yes</td>-->
                                <td md-cell ng-if="attendanceData.InTime != null">{{attendanceData.InTime|date:'HH:mm:ss Z'}}</td> <td md-cell ng-if="attendanceData.InTime == null"> -- </td>
                                <td md-cell ng-if="attendanceData.DropedByName != null || attendanceData.DropedByOtherName != null">{{attendanceData.DropedByName}} {{attendanceData.DropedByOtherName}}</td><td md-cell ng-if="attendanceData.DropedByName == null && attendanceData.DropedByOtherName == null"> -- </td> 
                                <td md-cell ng-if="attendanceData.OutTime != null">{{attendanceData.OutTime}}</td> <td md-cell ng-if="attendanceData.OutTime == null">{{attendanceData.OutTime}}</td>
                                <td md-cell ng-if="attendanceData.PickupByName != null || attendanceData.PickupByOtherName != null">{{attendanceData.PickupByName}} {{attendanceData.PickupByOtherName}}</td> <td md-cell ng-if="attendanceData.PickupByName == null && attendanceData.PickupByOtherName == null"> -- </td>
                                <!--<td md-cell>{{sheduleData.GenderName}}</td>
                                <td md-cell>{{sheduleData.DOB}}</td>-->
                                <!--<td md-cell>
                                    <md-input-container flex>
                                        <input type="time" ng-model="attendanceData.InTime" name="intime" id="intime" required>
                                        <div ng-messages="attendanceForm.intime.$error" md-auto-hide="false" ng-show="attendanceForm.intime.$touched">
													<div ng-message when="required"><span>In Time is required.</span></div>
												</div>
                                    </md-input-container>
                                </td>-->
                                <!--<td md-cell>
                                    <md-input-container flex>
                                        <input type="time" ng-model="attendanceData.OutTime" name="outtime" id="outtime" required>
                                        <div ng-messages="attendanceForm.outtime.$error" md-auto-hide="false" ng-show="attendanceForm.outtime.$touched">
													<div ng-message when="required"><span>Out Time is required.</span></div>
												</div>
                                    </md-input-container>
                                </td>-->
                                <!--<td md-cell class="text-center">
                                    <md-input-container class="md-block">
                                        <md-checkbox class="md-primary" ng-model="attendanceData.OnLeave" aria-label="Checkbox1">
                                        </md-checkbox>
                                    </md-input-container>
                                </td>-->
                                <!--<td md-cell style="min-width:60px">
                                    <a class="md-primary" ng-click="vm.editAttendance($event,attendanceData)" style="cursor:pointer">
                                        <md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
                                    </a> &nbsp;
                                    <a class="md-primary" ng-click="vm.showDeleteClassConfirmDialoue($event,attendanceData.ID)" style="cursor:pointer">
                                        <md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
                                        </md-icon>
                                    </a>
                                </td>-->
                            </tr>


                        </tbody>
                    </table>
                </form>
            </md-table-container>
            <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.EnrolledStudentListCount}}"
				md-on-paginate="vm.EnrolledStudentList" md-page-select></md-table-pagination>

        </div>
        <!--<md-button ng-click="vm.showAddAttendaceDialoue()" class="md-fab md-accent md-fab-bottom-right md-hue-3" aria-label="Add Attendance">
            <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
            <md-tooltip>Add Attendance</md-tooltip>
        </md-button>-->
    </div>
</div>