<style>
	.someclass .md-errors-spacer {
		min-height: inherit;
	}
	
	.rowhover:hover {
		background: #f5f5f5;
		cursor: pointer;
		position: relative;
		z-index: 1;
	}
</style>
<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
<div class="padding-20">
	<md-card>
		<!--<div class="padding-20" layout="row" layout-xs="column">
			<h3 flex flex-xs="100"><strong>Class Name :</strong> {{ClassName}} </h3>
			<h3 flex flex-xs="100"><strong>Participant Name :</strong> {{ParticipantName}} </h3>
			<h3 flex flex-xs="100"><strong>Attendance Date :</strong> {{vm.DisplayDate | date:'MM/dd/yyyy'}} </h3>
		</div>-->
		<div>
			<md-table-container class="lesson-table" ng-if="vm.EnrolledStudentList.length>0">
				<form name="attendanceForm">
					<div layout="row" layout-xs="column" layout-md="row" class="padding-top-10 padding-bottom-10 padding-left-20 padding-right-20 rowhover"
						style="border-bottom:1px solid #f1f1f1;" ng-repeat="attendanceData in vm.EnrolledStudentList">
						<div flex="20">
							<div layout="row" layout-md="column" layout-sm="column">
								<div class="attend-image">
									<a style="cursor:pointer; display:block;" ng-click="vm.detailParticipantInfo(attendanceData)">
										<img ng-src="{{vm.ImageUrlPath}}{{attendanceData.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" alt="girl-avatar"
											class="make-round" width="80" height="80" />
									</a>
								</div>
							</div>
						</div>
						<div flex="60">
							<div layout="row" layout-md="column" layout-sm="column">
								<div>
									<div>
										<a style="cursor:pointer; display:block;" ng-if="attendanceData.TodaysIncidenceCount==0" ng-click="vm.detailParticipantInfo(attendanceData)">
											<h2>{{attendanceData.StudentName}}</h2>
										</a>
									</div>
									<div>
										<a ng-if="attendanceData.TodaysIncidenceCount>0" style="color:red" ng-click="vm.detailParticipantInfo(attendanceData)">
											<h3>{{attendanceData.StudentName}}</h3>
										</a>
									</div>
									<!--<p>{{attendanceData.ClassName}}</p>-->
								</div>
							</div>
						</div>
						<div flex="20">
							<div layout="row" layout-md="column" layout-sm="column" class="margin-top-10">
								<!--<md-input-container class="md-block">-->
									
								<md-checkbox class="md-accent"    aria-label="Primary Checkbox">
									<md-tooltip>Check In</md-tooltip>
								</md-checkbox>
								<md-checkbox class="md-primary"   aria-label="Primary Checkbox">
									<md-tooltip>Check Out</md-tooltip>
								</md-checkbox>	
								<!--<md-checkbox class="md-warn" ng-disabled="true" ng-model="attendanceData.SignOutChecked"  ng-if="attendanceData.InTime!=null&&attendanceData.OutTime!=null" aria-label="Primary Checkbox">
										<md-tooltip>Marked</md-tooltip>
								 </md-checkbox>-->
								<!--<md-checkbox class="md-primary" ng-model="attendanceData.SignOutChecked" ng-disabled="attendanceData.OutTime!=null" aria-label="Primary Checkbox">
										<md-tooltip>Sign Out</md-tooltip>
									</md-checkbox>
									<md-switch ng-if="attendanceData.InTime == null" name="OnLeave" id="OnLeave" ng-change="vm.reset($index)" ng-disabled="attendanceData.InTime!=null||vm.EnrolledStudentList[$index].DisableOnLeave==true"
										ng-model="attendanceData.OnLeave">
										On Leave
									</md-switch>-->
								<!--</md-input-container>-->

							</div>
						</div>
						<!--<div flex="20">
							<div layout="row" layout-md="column" layout-sm="column" class="margin-top-10">
								<md-button ng-if="attendanceData.InTime==null" class="md-raised md-warn md-fab" style="line-height: 4rem;width: 4rem;height: 4rem;"
									aria-label="Sign In">
									<md-tooltip>Sign In</md-tooltip>
								</md-button>
								</md-button>
								<md-button ng-if="attendanceData.InTime!=null&&attendanceData.OutTime==null" class="md-raised md-fab" style="background:green;line-height: 4rem;width: 4rem;height: 4rem;">
									<md-tooltip>Sign Out</md-tooltip>
								</md-button>
								</md-button>
								<md-button ng-if="attendanceData.InTime!=null&&attendanceData.OutTime!=null" class="md-accent md-raised md-fab" style="line-height: 4rem;width: 4rem;height: 4rem;">
									<md-tooltip>Marked</md-tooltip>
								</md-button>
								</md-button>
							</div>
						</div>
					</div>-->
				</form>
			</md-table-container>
			</div>
			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.EnrolledStudentListCount}}"
				md-on-paginate="vm.getAttendanceData" md-page-select></md-table-pagination>
			
	</md-card>
		<div class="button-toolbar" layout="row" layout-align="center">
			<md-button class="md-primary md-raised" ng-click="vm.SaveAttendance(vm.EnrolledStudentList,toggle,false,$index)" ng-disabled="parentSignIn.$invalid || IsDisabled">CHECK IN SELECTED CHILDREN</md-button>
		</div>
	</div>