<style>
	.someclass .md-errors-spacer {
		min-height: inherit;
	}
	
	.rowhover:hover {
		background: #f5f5f5;
		cursor: pointer;
		  position: relative;
  z-index: 1;
	}
</style>
<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
<div class="padding-20">
	<md-card>
		<div class="padding-20" layout="row" layout-xs="column">
			<h3 flex flex-xs="100"><strong>Class Name :</strong> {{ClassName}} </h3>
			<h3 flex flex-xs="100"><strong>Participant Name :</strong> {{ParticipantName}} </h3>
			<h3 flex flex-xs="100"><strong>Attendance Date :</strong> {{vm.DisplayDate | date:'MM/dd/yyyy'}} </h3>
		</div>
		<div>
			<md-table-container class="lesson-table" ng-if="vm.EnrolledStudentList.length>0">
				<form name="attendanceForm">
					<div layout="row" layout-xs="column"  layout-md="row" ng-click="vm.openDropPickupByListDialogue(attendanceData)" class="padding-top-10 padding-bottom-10 padding-left-20 padding-right-20 rowhover"
						style="border-bottom:1px solid #f1f1f1;" ng-repeat="attendanceData in vm.EnrolledStudentList">
						<div flex="80">
							<div layout="row" layout-md="column" layout-sm="column">
								<div>
									<div>
										<a style="cursor:pointer; display:block;" ng-if="attendanceData.TodaysIncidenceCount==0" ng-click="vm.detailParticipantInfo(attendanceData)">
											<h2>{{attendanceData.StudentName}}</h2>
										</a>
									</div>
									<div>
										<a ng-if="attendanceData.TodaysIncidenceCount>0" style="color:red" ng-click="vm.detailParticipantInfo(attendanceData)">
											<h3>{{attendanceData.StudentName}}</h3>
										</a>
									</div>
									<p>{{attendanceData.ClassName}}</p>
								</div>
							</div>
						</div>
						<div flex="20">
							<div layout="row" layout-md="column" layout-sm="column" class="margin-top-10">
								<md-button ng-if="attendanceData.InTime==null" class="md-raised md-warn md-fab" style="line-height: 4rem;width: 4rem;height: 4rem;"
									aria-label="Sign In">
									<md-tooltip>Sign In</md-tooltip>
								</md-button>
								</md-button>
								<md-button ng-if="attendanceData.InTime!=null&&attendanceData.OutTime==null" class="md-raised md-fab" style="background:green;line-height: 4rem;width: 4rem;height: 4rem;">
									<md-tooltip>Sign Out</md-tooltip>
								</md-button>
								</md-button>
								<md-button ng-if="attendanceData.InTime!=null&&attendanceData.OutTime!=null" class="md-accent md-raised md-fab" style="line-height: 4rem;width: 4rem;height: 4rem;">
									<md-tooltip>Marked</md-tooltip>
								</md-button>
								</md-button>
							</div>
						</div>
					</div>
				</form>
			</md-table-container>
			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.EnrolledStudentListCount}}"
				md-on-paginate="vm.getAttendanceData" md-page-select></md-table-pagination>
		</div>
	</md-card>
</div>