<md-card flex flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
    <md-card-content>
        <div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
            <h2>Participant Failed SignOut List</h2>
            <span flex></span>
            <span><h3>Search</h3></span>
            <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
                <md-icon class="searchIcon whiteColor" md-font-icon="zmdi zmdi-filter-list" class="whiteColor"></md-icon>
                <md-tooltip>Search</md-tooltip>
            </md-button>
        </div>
        <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%;height: 100%;" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <div class="padded-content-page">
                <md-content class="overflowVisible">
                    <div layout layout-xs="column" flex>
                        <md-input-container flex>
                            <label for="Name">Name</label>
                            <input type="text" label="Name" name="Name" id="Name" ng-model="query.Name">
                        </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                        <md-input-container flex="60">
                            <md-datepicker flex md-placeholder="Enter Date" ng-model="query.Date" name="Date" id="Date" ng-model-options="{ timezone: 'utc' }"
                                class='margin0' md-max-date="todaysDate"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                        <md-input-container flex class="text-center">
                            <md-button class="md-primary md-raised" ng-click="vm.GetParticipantFailedSignout()">Search</md-button>
                            <md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
                            <md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
                        </md-input-container>
                    </div>
                </md-content>

            </div>
        </md-sidenav>

       <div class="padding-20">
			
				<h3><strong>Participant Name :</strong> {{ParticipantName}} </h3>
                <h3><strong>Attendance Date :</strong> {{DisplayDate | date:'MM/dd/yyyy'}} </h3>
			
		</div>
        <div >
           
            <!--<div ng-if="vm.NoParticipantFailedSignOut==false" class="margin-top-20">-->
                <md-table-container class="lesson-table">
                 <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
                    <form name="attendanceForm">
                        <table md-table class="md-primary md-data-table table-bordered table-striped" ng-model="vm.selected" >
                            <thead md-head md-order="vm.query.order" md-on-reorder="vm.AttendanceList">
                                <tr md-row>
                                    <!--<th md-column><span>#</span></th>-->
                                    <th md-column>Image</th>
                                    <th md-column>Name</th>
                                    <th md-column width="20">Attendance Date</th>
                                    <th md-column>Class</th>
                                    <th md-column>Sign In Time</th>
                                    <th md-column>Sign In By</th>
                                    <th md-column>Sign Out Time</th>
                                    <th md-column>Sign Out By</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select-id="attendanceData.ID" ng-repeat="attendanceData in EnrolledStudentList">
                                    <!--<td md-cell>{{ $index + 1 }}</td>-->
                                    <td md-cell><img ng-src="{{vm.ImageUrlPath}}{{attendanceData.ImagePath}}" err-src="assets/images/avatars/avatar-5.png"
                                        /></td>
                                    <td md-cell><a style="cursor:pointer" ng-click="vm.detailParticipantInfo(attendanceData)">{{attendanceData.StudentName}}</a></td>
                                    <td md-cell>{{attendanceData.AttendanceDate  | date:'MM/dd/yyyy'}}</td>
                                    <td md-cell>{{attendanceData.ClassName}}</a>
                                    </td>
                                    <td md-cell ng-if="attendanceData.InTime != null">{{attendanceData.InTime|ampmtime}}</td>
                                    <td md-cell ng-if="attendanceData.InTime == null">
                                    </td>
                                    <td md-cell ng-if="attendanceData.DropedByName != null || attendanceData.DropedByOtherName != null">{{attendanceData.DropedByName}} {{attendanceData.DropedByOtherName}}<span ng-if="attendanceData.DropByRelationName!=null">({{attendanceData.DropByRelationName}})</span></td>
                                    <!--<td md-cell ng-if="attendanceData.DropedByName != null || attendanceData.DropedByOtherName != null">{{attendanceData.DropedByName}}({{attendanceData.DropByRelationName}})</td>-->
                                    <td md-cell ng-if="attendanceData.DropedByName == null && attendanceData.DropedByOtherName == null">
                                    </td>
                                    <td md-cell ng-if="attendanceData.OutTime != null">{{attendanceData.OutTime | ampmtime}}</td>
                                    <td md-cell ng-if="attendanceData.OutTime == null">{{attendanceData.OutTime | ampmtime}}</td>
                                    <td md-cell ng-if="attendanceData.PickupByName != null || attendanceData.PickupByOtherName != null">{{attendanceData.PickupByName}} {{attendanceData.PickupByOtherName}}<span ng-if="attendanceData.PickedByRelationName!=null">({{attendanceData.PickedByRelationName}})</span></td>
                                    <!--<td md-cell ng-if="attendanceData.PickupByName != null || attendanceData.PickupByOtherName != null">{{attendanceData.PickupByName}} {{attendanceData.PickupByOtherName}}</td>-->
                                    <td md-cell ng-if="attendanceData.PickupByName == null && attendanceData.PickupByOtherName == null">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form> 
                </md-table-container>
                 <div ng-if="vm.NoParticipantFailedSignOut==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Participant Failed SignOut.</h2>
                </md-input-container>
            </div>
                <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100,200,500,1000,2000,5000]" md-limit="query.limit" md-page="query.page"
                    md-total="{{vm.StudentCount}}" md-on-paginate="vm.GetParticipantFailedSignout" md-page-select></md-table-pagination>
            </div>
        </div>
    </md-card-content>
</md-card>
