<div class="example-code md-whiteframe-z1 margin-bottom-10">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Staff Time Clock<span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Staffs' : 'Staff'}} selected )</span></h2>
            <span flex></span>
            <span><h3>Search</h3></span>
            <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
                <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
                <md-tooltip>Search</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div class="padded-content-page">
        <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <div class="padded-content-page">
                <md-content>
                    <form id="Search">
                        <div layout layout-xs="column" flex>
                            <md-input-container flex>
                                <label for="Date"> From Date</label>
                                <md-datepicker flex md-placeholder="From Date" ng-model="query.FromDate" ng-blur="vm.setStartDate(query.FromDate)" md-max-date="vm.attendancestartDate"
                                    name="FromDate" id="FromDate" ng-disabled="false"></md-datepicker>
                            </md-input-container>
                            <md-input-container flex>
                                <label for="Date">To Date</label>
                                <md-datepicker flex md-placeholder="To Date" ng-model="query.ToDate" md-min-date="vm.attendanceendDate" md-max-date="vm.attendancestartDate"
                                    ng-disabled="vm.disabled" name="ToDate" id="ToDate" ng-disabled="false"></md-datepicker>
                            </md-input-container>
                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex class="text-center">
                                <md-button class="md-primary md-raised" ng-click="vm.GetStaffList()">Search</md-button>
                                <md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
                                <md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
                            </md-input-container>
                        </div>
                    </form>
                </md-content>
            </div>
        </md-sidenav>
        <div class="margin-top-20">
            <md-table-container class="lesson-table">
                <form name="attendanceForm">
                    <table md-table class="md-primary md-data-table table-bordered table-striped" ng-model="vm.selected" md-progress="vm.promise">
                        <thead md-head md-order="vm.query.order" md-on-reorder="vm.AttendanceList">
                            <tr md-row>
                                <th md-column>{{vm.columns.Date}}</th>
                                <th md-column>{{vm.columns.DaySignIn}}</th>
                                <th md-column>{{vm.columns.LunchSignOut}}</th>
                                <th md-column>{{vm.columns.LunchSignIn}}</th>
                                <th md-column>{{vm.columns.BreakSignOut}}</th>
                                <th md-column>{{vm.columns.BreakSignIn}}</th>
                                <th md-column>{{vm.columns.DaySignOut}}</th>
                                <th md-column>{{vm.columns.TotalHours}}</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row @*md-select-id="attendanceData.ID" *@ ng-repeat="attendanceData in EnrolledStudentList">
                                <td md-cell>{{attendanceData.AttendanceDate  | date:'MM/dd/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </md-table-container>
        </div>
    </div>
</div>