<md-card flex flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
	<md-card-content>
		<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
			<h2>Staff Failed SignOut List</h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight1()" ng-hide="vm.isOpenRight1()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon whiteColor" md-font-icon="zmdi zmdi-filter-list" class="whiteColor"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right1">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<div layout layout-xs="column" flex>
						<md-input-container flex>
							<label for="Name">Name</label>
							<input type="text" label="Name" name="Name" id="Name" ng-model="query.StaffName">
							<!--<div ng-messages="Attendance.Name.$error" md-auto-hide="false" ng-show="Attendance.Name.$touched">
                            <div ng-message when="required"><span>Please enter name.</span></div>
                        </div>-->
						</md-input-container>
					</div>
					<div layout layout-xs="column" flex>
						<md-input-container flex="60">
							<!--<label for="Date">Date</label>-->
							<md-datepicker flex md-placeholder="Enter Date" ng-model="query.AttendanceDate" name="Date" id="Date" ng-model-options="{ timezone: 'utc' }"
								class='margin0' md-max-date="todaysDate"></md-datepicker>
						</md-input-container>
					</div>
					<div layout layout-xs="column" flex>
						<md-input-container flex class="text-center">
							<md-button class="md-primary md-raised" ng-click="vm.GetStaffFailedSignout()">Search</md-button>
							<md-button class="md-accent md-raised" ng-click="vm.reset1()">Reset</md-button>
							<md-button ng-click="vm.close1()" class="md-warn md-raised">Close</md-button>
						</md-input-container>
					</div>
				</md-content>

			</div>
		</md-sidenav>
		<div class="padding-20">
			
				<h3><strong>Staff Name :</strong> {{StaffName}} </h3>
				<h3><strong>Attendance Date :</strong> {{DisplayDate | date:'MM/dd/yyyy'}} </h3>
			
		</div>
		<div>
			
			
				<form name="participantFailedSignoutList">
					<md-table-container>
						<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
							<thead md-head md-order="query.order" md-on-reorder="vm.GetRoomLevelList">
								<tr md-row>
									<!--<th md-column><span>#</span></th>-->
									<th md-column>Image</th>
									<th md-column>Name</th>
									<th md-column>Sign In Date</th>
									<!--<th md-column>CATEGORY</th>
                    <th md-column>CLASS</th>-->
									<th md-column>Sign In Time</th>
									<th md-column>Sign Out Time</th>
								</tr>
							</thead>
							<tbody md-body>
								<tr md-row md-auto-select md-select="staff" @*md-select-id="staff.ID" *@ ng-repeat="staff in StaffList">
									<!--<td md-cell>{{ $index + 1 }}</td>-->
									<td md-cell><img ng-src="{{vm.ImageUrlPath}}{{staff.Staff.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" /></td>
									<td md-cell><a style="cursor:pointer" ng-click="vm.detailStaffInfo($event,staff.Staff)">{{staff.Staff.FirstName}} {{staff.Staff.LastName}}</a></td>
									<td md-cell>{{staff.AttendanceDate | date:'MM/dd/yyyy'}}</td>
									<!--<td md-cell>{{staff.AttendanceDate | date:'dd-MM-yyyy'}}</td>
                     <td md-cell>{{staff.AttendanceDate | date:'dd-MM-yyyy'}}</td>-->
									<td md-cell>{{staff.InTime | ampmtime }}</td>
									<td md-cell>{{staff.OutTime | ampmtime }}</td>
									<!--<td md-cell>
                        <a class="md-primary" ng-click="vm.showUpdateRoomDialoue($event,room)" style="cursor:pointer">
                            <md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
                        </a> &nbsp;
                        <a class="md-primary" ng-click="vm.showDeleteRoomConfirmDialoue($event,room)" style="cursor:pointer">
                            <md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
                            </md-icon>
                        </a>
                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <div ng-if="vm.NoStaffFailedSignOut=='true'" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Staff Failed SignOut.</h2>
                </md-input-container>
            </div>
                    <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.staffCount}}"
                        md-on-paginate="vm.GetStaffFailedSignout" md-page-select></md-table-pagination>
                </form>
            <!--</div>-->
        </div>
    </md-card-content>
</md-card>