
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Staff Attendance<span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Staffs' : 'Staff'}} selected )</span></h2>
            <span flex></span>
            <span><h3>Search</h3></span>
            <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
                <md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
                <md-tooltip>Search</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div class="padding-20">
        <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <div class="padded-content-page">
                <md-content>
                    <form id="Search">
                        <div layout="row" layout-xs="column" flex>
                            <md-input-container flex="40">
                                <label for="name">Staff Name</label>
                                <input type="text" label="name" name="name" id="name" ng-model="query.StaffName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
                            </md-input-container>
                            <md-input-container flex="60">
                                <!--<label for="status">Attendance Date</label>-->
                                <md-datepicker flex md-placeholder="Enter Date" ng-model="query.AttendanceDate"  name="Date" id="Date" md-max-date="todaysDate"></md-datepicker>
                            </md-input-container>
                        </div>
                        <!--<div layout layout-xs="column" flex>
                            <md-input-container flex>
                                <label for="Position">Position</label>
                                <md-select placeholder="Select Position" name="Position" id="Position" ng-model="query.PositionId">
                                    <md-option value="{{Position.ID}}" ng-repeat="Position in vm.AllPosition">{{ Position.Name }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>-->
                        <div layout layout-xs="column" flex>

                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex class="text-center">
                                <md-button class="md-primary md-raised" ng-click="vm.GetStaffList()">Search</md-button>
                                <md-button class="md-accent md-raised" ng-click="vm.resetSearch()">Reset</md-button>
                                <md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
                            </md-input-container>
                        </div>
                    </form>
                </md-content>
            </div>
        </md-sidenav>
        <md-card>
        <div class="padding-20">
			
				<h3><strong>Staff Name :</strong> {{StaffName}} </h3>
                <h3><strong>Attendance Date :</strong> {{DisplayDate | date:'MM/dd/yyyy'}} </h3>

		</div>
        <div>
           
			<!--<div ng-if="vm.NoData==false" class="margin-top-20">-->
            <md-table-container>

                <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
                    <thead md-head md-order="query.order" md-on-reorder="vm.GetStaffList">
                        <tr md-row>
                            <!--<th md-column><span>#</span></th>-->
                            <th md-column><span>{{vm.columns.ProfilePic}}</span></th>
                            <th md-column md-order-by="StaffName"><span>{{vm.columns.Name}}</span></th>
                            <th md-column><span>{{vm.columns.IsTimeClockUser}}</span></th>
                            <th md-column><span>{{vm.columns.Date }}</span></th>
                            <th md-column><span>{{vm.columns.IsPresent}}</span></th>
                            <th md-column><span>{{vm.columns.Comment}}</span></th>
                            <th md-column><span>{{vm.columns.CheckInTime}}</span></th>
                            <th md-column><span>{{vm.columns.CheckOutTime}}</span></th>
                            <th md-column><span>ACTION</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-auto-select md-select="staff" md-select-id="staff.ID" ng-repeat="staff in vm.staffList">

                            <!--<td md-cell>{{ $index + 1 }}</td>-->
                            <td md-cell>
                                <a style="cursor:pointer" ng-click="vm.detailStaffInfo(staff)"><img ng-src="{{vm.ImageUrlPath}}{{staff.ImagePath}}" err-src="assets/images/avatars/avatar-5.png"
                                    /></a>
                            </td>
                            <td md-cell><a style="cursor:pointer" ng-click="vm.detailStaffInfo(staff)">{{staff.FullName}}</a></td>
                            <td md-cell ng-if="staff.IsTimeClockUser==true">Yes</td>
                            <td md-cell ng-if="staff.IsTimeClockUser==false||staff.IsTimeClockUser==Null">No</td>
                            <td md-cell>{{staff.AttendanceDate | date:'MM/dd/yyyy'}}</td>
                            <td md-cell>
                                <md-switch class="md-primary" ng-disabled="staff.InTime!=null || staff.OutTime!=null" ng-change="vm.onSwitchChange($index,staff.OnLeave)"
                                    ng-model="staff.OnLeave" aria-label="Primary Switch">
                                    Yes
                                </md-switch>
                                <!--ng-change="vm.onSwitchChange($index,staff.OnLeave)"-->
                            </td>
                            <td md-cell>
                                <md-input-container class="md-block" style="width:150px;">
                                    <textarea ng-disabled="staff.OnLeave==false" ng-model="staff.Comment" name="Comment"></textarea>
                                </md-input-container>
                            </td>
                            <td md-cell>
                                <!--<md-input-container class="md-block">
                                    <input type="time" ng-disabled="staff.OnLeave==true" ng-model="staff.InTime" name="starttime" id="starttime">
                                </md-input-container>-->

                                <div >
                                    <div uib-timepicker ng-disabled="staff.OnLeave==true" ng-model-options="{ timezone: 'utc' }" ng-model="staff.InTime"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                                </div>
                            </td>
                            <td md-cell>
                                <!--<md-input-container class="md-block">
                                    <input type="time" ng-disabled="staff.OnLeave==true" ng-model="staff.OutTime" name="starttime" id="starttime">
                                </md-input-container>-->

                                  <div >
                                    <div uib-timepicker ng-disabled="staff.OnLeave==true" ng-model="staff.OutTime"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                                </div>
                            </td>
                            <td md-cell style="min-width:60px">
                                <md-button ng-if="staff.ID==0" class="md-primary md-raised" ng-click="vm.saveStaffAttendance(staff)" aria-label="Save">Mark</md-button>
                                <md-button ng-if="staff.ID>0" class="md-primary md-raised" ng-click="vm.saveStaffAttendance(staff)" aria-label="Save">Update</md-button>
                                <!--<a class="md-primary" ng-click="vm.editStaff($event,staff)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
								</a> &nbsp;
								<a class="md-primary" ng-click="vm.showDeleteStaffConfirmDialoue($event,staff.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
								</a>-->
                            </td>

                        </tr>
                    </tbody>
                </table>

            </md-table-container>

             <div ng-if="vm.staffList==0" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Staff attendance list found.</h2>
                </md-input-container>
            </div>
            <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.staffCount}}"
                md-on-paginate="vm.GetStaffList" md-page-select></md-table-pagination>
        <!--</div>-->
        <!--<md-button ng-click="vm.markattendance()" class="md-fab md-accent md-fab-bottom-right md-hue-3" aria-label="Add Staff">
			<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
			<md-tooltip>Add Staff</md-tooltip>
		</md-button>-->
    </div>
    </md-card>
</div>


<link rel="stylesheet" href="../customapp/css/bootstrap.css">