.addlink-align{
    float: left; margin-right: 45px; font-size: 16px; 
}
.add-btn-mrg{  margin: -15px 0 20px 0px;}
.add-title{ font-weight: 700; }
.closebtn{
    position: absolute;
    right: -5px;
    top: -22px;
    min-width: inherit;
    margin: 0;
    // float: right;
}
.md-toolbar-tools.someclass md-radio-button.md-cyan-theme .md-off {
    border-color: rgba(255,255,255,1) ;
}
.table-details{
    text-align: right;
}
.Namelabel{
        color: rgba(0,0,0,0.54);
}
.valuelabel{
    text-align: left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}