<form name="registerfood">
	<h2>Manage Food
	</h2>
	<div layout="row" layout-xs="column">
		<div flex="50" flex-xs="100">
			<p class="margin-bottom-0">Min. Age</p>
			<div layout="row" layout-xs="column">
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label translate>Year</label>
						<md-select name="MinAgeFrom" id="MinAgeFrom" ng-change="vm.MinAge(vm.food.MinAgeFrom)" ng-model="vm.food.MinAgeFrom" required>
							<md-option ng-repeat="option in vm.AllAgeYears" value="{{option.ID}}">{{option.Name}}</md-option>
						</md-select>
						<div ng-messages="registerfood.MinAgeFrom.$error" md-auto-hide="false" ng-show="registerfood.MinAgeFrom.$touched">
							<div ng-message when="required"><span>Please select year</span></div>
						</div>
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block select-font-size mrgR-10">
						<label translate>Months</label>
						<md-select name="MinAgeTo" id="MinAgeTo" ng-change="vm.MinMon(vm.food.MinAgeTo)" ng-model="vm.food.MinAgeTo" required>
							<md-option ng-repeat="option in vm.AllAgeMonths" value="{{option.ID}}">{{option.Name}}</md-option>
						</md-select>
						<div ng-messages="registerfood.MinAgeTo.$error" md-auto-hide="false" ng-show="registerfood.MinAgeTo.$touched">
							<div ng-message when="required"><span>Please select month</span></div>
						</div>
					</md-input-container>
				</div>
			</div>

		</div>
		<div flex="50" flex-xs="100">
			<p class="mrgL-10 margin-bottom-0">Max. Age</p>
			<div layout="row" layout-xs="column">
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label translate>Year</label>
						<md-select name="MaxAgeFrom" id="MaxAgeFrom" required ng-change="vm.MaxAge(vm.food.MaxAgeFrom)" ng-model="vm.food.MaxAgeFrom">
							<md-option ng-repeat="option in vm.AllAgeYears" value="{{option.ID}}">{{option.Name}}</md-option>
						</md-select>
						<div ng-messages="registerfood.MaxAgeFrom.$error" md-auto-hide="false" ng-show="registerfood.MaxAgeFrom.$touched">
							<div ng-message when="required"><span>Please select year</span></div>
						</div>
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block">
						<label translate>Months</label>
						<md-select name="MaxAgeTo" id="MaxAgeTo" required ng-change="vm.MaxMonth(vm.food.MaxAgeTo)" ng-model="vm.food.MaxAgeTo">
							<md-option ng-repeat="option in vm.AllAgeMonths" value="{{option.ID}}">{{option.Name}}</md-option>
						</md-select>
						<div ng-messages="registerfood.MaxAgeTo.$error" md-auto-hide="false" ng-show="registerfood.MaxAgeTo.$touched">
							<div ng-message when="required"><span>Please select month</span></div>
						</div>
					</md-input-container>
				</div>
			</div>

		</div>
	</div>
	<div layout="row" layout-xs="column">

		<div flex="50" flex-xs="100">
			<p class="margin-bottom-0">&nbsp;</p>
			<div layout="row" layout-xs="column">
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label translate>Meal type</label>
						<md-select name="MealTypeId" id="MealTypeId" required ng-model="vm.food.MealTypeId">
							<md-option value="{{MealType.ID}}" ng-repeat="MealType in vm.AllMealTypes">{{ MealType.Name }}</md-option>
						</md-select>
						<div ng-messages="registerfood.MealTypeId.$error" md-auto-hide="false" ng-show="registerfood.MealTypeId.$touched">
							<div ng-message when="required"><span>Please select meal type.</span></div>
						</div>
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label for="Item">Meal Item</label>
						<md-select name="MealItemId" id="MealItemId" required ng-model="vm.food.MealItemId">
							<md-option value="{{MealItem.ID}}" ng-repeat="MealItem in vm.AllMealItems">{{ MealItem.Name }}</md-option>
						</md-select>
						<div ng-messages="registerfood.MealItemId.$error" md-auto-hide="false" ng-show="registerfood.MealItemId.$touched">
							<div ng-message when="required"><span>Please select Meal Item.</span></div>
						</div>
					</md-input-container>
				</div>
			</div>
		</div>
		<div flex="50" flex-xs="100">
			<p class="mrgL-10 margin-bottom-0">Serving size</p>
			<div layout="row" layout-xs="column">

				<div flex>

					<md-input-container class="md-block mrgR-10">
						<label for="Item">Select</label>
						<md-select name="ServingSizeId" id="ServingSizeId" ng-model="vm.food.ServingSizeId" required>
							<md-option value="{{item.ID}}" ng-repeat="item in vm.AllMealServeSizes">{{ item.Name }}</md-option>
						</md-select>
						<div ng-messages="registerfood.ServingSizeId.$error" md-auto-hide="false" ng-show="registerfood.ServingSizeId.$touched">
							<div ng-message when="required"><span>Please enter the field.</span></div>
						</div>
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label for="Item">Select</label>
						<md-select name="ServingSizeProportionId" required id="ServingSizeProportionId" ng-selected="1/10" ng-model="vm.food.ServingSizeProportionId">
						<md-option value="{{item.ID}}" ng-repeat="item in vm.AllMealServeQuantity">{{ item.Name }}</md-option>
						</md-select>
						<div ng-messages="registerfood.ServingSizeProportionId.$error" md-auto-hide="false" ng-show="registerfood.ServingSizeProportionId.$touched">
							<div ng-message when="required"><span>Please enter the field.</span></div>
						</div>
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label for="Item">Select</label>
						<md-select name="ServingSizeTitleId" required id="ServingSizeTitleId" ng-model="vm.food.ServingSizeTitleId">
						<md-option value="{{item.ID}}" ng-repeat="item in vm.AllMealServeTypes">{{ item.Name }}</md-option>
						</md-select>
						<div ng-messages="registerfood.ServingSizeTitleId.$error" md-auto-hide="false" ng-show="registerfood.ServingSizeTitleId.$touched">
							<div ng-message when="required"><span>Please enter the field.</span></div>
						</div>
					</md-input-container>
				</div>
			</div>
		</div>



	</div>

	<div layout layout="row" layout-align="end center">
		<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.AddFoodMaster(registerfood,vm.food)"
			ng-disabled="registerfood.$invalid" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>

	</div>
	<!--</md-whiteframe>-->
	<!--</md-card-content>-->
	<!--</md-card>-->
</form>
<!--</md-content>-->