
<div class="padding-20">
	
		<h3><strong>Age group :</strong> {{Agegroup}}  </h3>
		<h3><strong>Meal Item :</strong>{{MealItem}}</h3>
		<h3><strong>Meal type :</strong>{{MealName}}</h3>
</div>

<form name="FoodMasterList">

			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
	<md-table-container>
		<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
		<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped"  ng-model="vm.selected"
			>
			<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetFoodMasterList">
				<tr md-row>
					<!--<th md-column><span>#</span></th>-->
					<th md-column md-order-by="Age"><span>{{vm.columns.Age}}</span></th>
                    <th md-column md-order-by="Meal"><span>{{vm.columns.Meal}}</span></th>
                    <th md-column md-order-by="Item"><span>{{vm.columns.Item}}</span></th>
					<th md-column md-order-by="Item"><span>{{vm.columns.Serving}}</span></th>
					<th md-column><span>ACTION</span></th>
				</tr>
			</thead>
			
			<tbody md-body>
				<tr md-row md-auto-select md-select="item" @*md-select-id="item.ID" *@ ng-repeat="item in vm.foodMasterList">
					<!--<td md-cell>{{ $index + 1 }}</td>-->
					<td md-cell>{{item.Agegroup}}</td>
                    <td md-cell>{{item.MealType.Name}}</td>
                    <td md-cell>{{item.MealItem.Name}}</td>
					<td md-cell>{{item.ServingSizeName}}<sup style="vertical-align: super;" ng-if="item.ServingSizeProportionName!=0">{{item.ServingSizeProportionName}}</sup> {{item.ServingSizeTitleName}}</td>
					<td md-cell>
						<a class="md-primary" ng-click="vm.showUpdateFoodDetailsConfirmDialoue($event,item)" style="cursor:pointer">
							<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
							<md-tooltip>Edit</md-tooltip>
						</a> &nbsp;
						<a class="md-primary" ng-click="vm.showDeleteFoodDetailsConfirmDialoue($event,item)" style="cursor:pointer">
							<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
							</md-icon>
							<md-tooltip>Delete</md-tooltip>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No food details list found.</h2>
                </md-input-container>
            </div>
	<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.foodMasterCount}}"
		md-on-paginate="vm.GetFoodMasterList" md-page-select></md-table-pagination>
			<!--</div>-->
</form>