
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Food Management</h2>
		</div>
	</md-toolbar>
	<div class="padding-20">
		<md-card flex flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
			<md-card-content>
				<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>

				<div flex ng-controller="FoodManagementMasterController as vm">
					<md-content class="md-padding" ng-include="'app/Tools/FoodManagement/views/addfood.tmpl.html'"></md-content>

					<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
						<h2>Food Management List</h2>
						<span flex></span>
						<span><h3>Search</h3></span>
						<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
							<md-icon md-font-icon="zmdi zmdi-filter-list" class="whiteColor searchIcon"></md-icon>
							<md-tooltip>Search</md-tooltip>
						</md-button>
					</div>
					<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
						<md-toolbar class="md-theme-light">
							<h1 class="md-toolbar-tools">Search</h1>
						</md-toolbar>
						<div class="padded-content-page">
							<md-content class="overflowVisible">
								<form id="Search">
									<div layout layout-xs="column" flex>
										<div flex="50" flex-xs="100">
											<p food="margin-bottom-0">Min. Age</p>
											<div layout="row" layout-xs="column">
												<div flex>
													<md-input-container food="md-block mrgR-10">
														<label translate>Year</label>
														<md-select name="MinAgeFrom" id="MinAgeFrom" ng-change="vm.MinAge(vm.food.MinAgeFrom)" ng-model="vm.query.MinAgeFrom">
															<md-option ng-repeat="option in vm.AllAgeYears" value="{{option.ID}}">{{option.Name}}</md-option>
														</md-select>
														<div ng-messages="registerfood.MinAgeFrom.$error" md-auto-hide="false" ng-show="registerfood.MinAgeFrom.$touched">
															<div ng-message when="required"><span>Please select year</span></div>
														</div>
													</md-input-container>
												</div>
												<div flex>
													<md-input-container food="md-block select-font-size mrgR-10">
														<label translate>Months</label>
														<md-select name="MinAgeTo" id="MinAgeTo" ng-change="vm.MinMon(vm.food.MinAgeTo)" ng-model="vm.query.MinAgeTo">
															<md-option ng-repeat="option in vm.AllAgeMonths" value="{{option.ID}}">{{option.Name}}</md-option>
														</md-select>
														<div ng-messages="registerfood.MinAgeTo.$error" md-auto-hide="false" ng-show="registerfood.MinAgeTo.$touched">
															<div ng-message when="required"><span>Please select month</span></div>
														</div>
													</md-input-container>
												</div>
											</div>

										</div>
										<div flex="50" flex-xs="100">
											<p food="mrgL-10 margin-bottom-0">Max. Age</p>
											<div layout="row" layout-xs="column">
												<div flex>
													<md-input-container food="md-block mrgR-10">
														<label translate>Year</label>
														<md-select name="MaxAgeFrom" id="MaxAgeFrom" ng-change="vm.MaxAge(vm.food.MaxAgeFrom)" ng-model="vm.query.MaxAgeFrom">
															<md-option ng-repeat="option in vm.AllAgeYears" value="{{option.ID}}">{{option.Name}}</md-option>
														</md-select>
														<div ng-messages="registerfood.MaxAgeFrom.$error" md-auto-hide="false" ng-show="registerfood.MaxAgeFrom.$touched">
															<div ng-message when="required"><span>Please select year</span></div>
														</div>
													</md-input-container>
												</div>
												<div flex>
													<md-input-container food="md-block">
														<label translate>Months</label>
														<md-select name="MaxAgeTo" id="MaxAgeTo" ng-change="vm.MaxMonth(vm.food.MaxAgeTo)" ng-model="vm.query.MaxAgeTo">
															<md-option ng-repeat="option in vm.AllAgeMonths" value="{{option.ID}}">{{option.Name}}</md-option>
														</md-select>
														<div ng-messages="registerfood.MaxAgeTo.$error" md-auto-hide="false" ng-show="registerfood.MaxAgeTo.$touched">
															<div ng-message when="required"><span>Please select month</span></div>
														</div>
													</md-input-container>
												</div>
											</div>

										</div>
									</div>
									<div flex="50" flex-xs="100">
										<p food="margin-bottom-0">&nbsp;</p>
										<div layout="row" layout-xs="column">
											<div flex>
												<md-input-container class="md-block mrgR-10">
													<label translate>Meal type</label>
													<md-select name="MealTypeId" id="MealTypeId" ng-model="vm.query.MealTypeId">
														<md-option value="{{MealType.ID}}" ng-repeat="MealType in vm.AllMealTypes">{{ MealType.Name }}</md-option>
													</md-select>
													<div ng-messages="registerfood.MealTypeId.$error" md-auto-hide="false" ng-show="registerfood.MealTypeId.$touched">
														<div ng-message when="required"><span>Please select meal type.</span></div>
													</div>
												</md-input-container>
											</div>
											<div flex>
												<md-input-container class="md-block mrgR-10">
													<label for="Item">Meal Item</label>
													<md-select name="ItemName" id="ItemName" ng-model="vm.query.ItemName">
														<md-option value="{{MealItem.ID}}" ng-repeat="MealItem in vm.AllMealItems">{{ MealItem.Name }}</md-option>
													</md-select>
													<!--<input type="text" label="ItemName" name="ItemName" id="ItemName" ng-model="vm.query.ItemName" >-->
													<div ng-messages="registerfood.ItemName.$error" md-auto-hide="false" ng-show="registerfood.ItemName.$touched">
														<div ng-message when="required"><span>Please enter Item name.</span></div>
													</div>
												</md-input-container>
											</div>
										</div>
									</div>
									<div layout layout-xs="column" flex>
										<md-input-container flex class="text-center">
											<md-button class="md-primary md-raised" ng-click="vm.GetFoodMasterList()">Search</md-button>
											<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
											<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
										</md-input-container>
									</div>
								</form>
							</md-content>
						</div>
					</md-sidenav>

					<md-content ng-include="'app/Tools/FoodManagement/views/foodlist.tmpl.html'"></md-content>
				</div>
				</md-tab>
				<!--<md-tab label="Info Source">
					<div flex ng-controller="InfoSourceController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Family/Views/addinfosource.tmpl.html'"></md-content>
						<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Info Source List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/Family/Views/infosourcelist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Membership Type">
					<div flex ng-controller="MembershipTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Family/Views/addmembership.tmpl.html'"></md-content>
						<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Membership List</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/Family/Views/membershiplist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Relationship Type">
					<div flex ng-controller="RelationshipTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Family/Views/addrelationshiptype.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Add relationship type</h2>
						</div>
						<md-content class="md-padding" ng-include="'app/Tools/Family/Views/relationshiplist.tmpl.html'"></md-content>
					</div>
				</md-tab>-->

			</md-card-content>
		</md-card>
	</div>
