<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
	<md-toolbar ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
		<div class="md-toolbar-tools">
			<h2>Update Food Management</h2>
		</div>
	</md-toolbar>
	<md-divider></md-divider>
	<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
	<md-dialog-content class="md-dialog-content">
		<form name="updateFood">
			<h2>Update Food Management
			</h2>
			<div layout="row" layout-xs="column">
				<div flex="50" flex-xs="100">
					<p food="margin-bottom-0">Min. Age</p>
					<div layout="row" layout-xs="column">
						<div flex>
							<md-input-container food="md-block mrgR-10">
								<label translate>Year</label>
								<md-select name="MinAgeFrom" id="MinAgeFrom" ng-change="vm.MinAge(vm.foodupdate.MinAgeFrom)" ng-model="vm.foodupdate.MinAgeFrom"
									required>
									<md-option ng-repeat="option in vm.AllAgeYears" value="{{option.ID}}">{{option.Name}}</md-option>
								</md-select>
								<div ng-messages="updateFood.MinAgeFrom.$error" md-auto-hide="false" ng-show="updateFood.MinAgeFrom.$touched">
									<div ng-message when="required"><span>Please select year</span></div>
								</div>
							</md-input-container>
						</div>
						<div flex>
							<md-input-container food="md-block select-font-size mrgR-10">
								<label translate>Months</label>
								<md-select name="MinAgeTo" id="MinAgeTo" ng-change="vm.MinMon(vm.foodupdate.MinAgeTo)" ng-model="vm.foodupdate.MinAgeTo"
									required>
									<md-option ng-repeat="option in vm.AllAgeMonths" value="{{option.ID}}">{{option.Name}}</md-option>
								</md-select>
								<div ng-messages="updateFood.MinAgeTo.$error" md-auto-hide="false" ng-show="updateFood.MinAgeTo.$touched">
									<div ng-message when="required"><span>Please select month</span></div>
								</div>
							</md-input-container>
						</div>
					</div>

				</div>
				<div flex="50" flex-xs="100">
					<p food="mrgL-10 margin-bottom-0">Max. Age</p>
					<div layout="row" layout-xs="column">
						<div flex>
							<md-input-container food="md-block mrgR-10">
								<label translate>Year</label>
								<md-select name="MaxAgeFrom" id="MaxAgeFrom" required ng-change="vm.MaxAge(vm.foodupdate.MaxAgeFrom)" ng-model=" vm.foodupdate.MaxAgeFrom">
									<md-option ng-repeat="option in vm.AllAgeYears" value="{{option.ID}}">{{option.Name}}</md-option>
								</md-select>
								<div ng-messages="updateFood.MaxAgeFrom.$error" md-auto-hide="false" ng-show="updateFood.MaxAgeFrom.$touched">
									<div ng-message when="required"><span>Please select year</span></div>
								</div>
							</md-input-container>
						</div>
						<div flex>
							<md-input-container food="md-block">
								<label translate>Months</label>
								<md-select name="MaxAgeTo" id="MaxAgeTo" required ng-change="vm.MaxMonth(vm.foodupdate.MaxAgeTo)" ng-model=" vm.foodupdate.MaxAgeTo">
									<md-option ng-repeat="option in vm.AllAgeMonths" value="{{option.ID}}">{{option.Name}}</md-option>
								</md-select>
								<div ng-messages="updateFood.MaxAgeTo.$error" md-auto-hide="false" ng-show="updateFood.MaxAgeTo.$touched">
									<div ng-message when="required"><span>Please select month</span></div>
								</div>
							</md-input-container>
						</div>
					</div>

				</div>
			</div>
			<div layout="row" layout-xs="column">

				<div flex="50" flex-xs="100">
					<p food="margin-bottom-0">&nbsp;</p>
					<div layout="row" layout-xs="column">
						<div flex>
							<md-input-container class="md-block mrgR-10">
								<label translate>Meal type</label>
								<md-select name="MealTypeId" id="MealTypeId" required ng-model="vm.foodupdate.MealTypeId">
									<md-option value="{{MealType.ID}}" ng-repeat="MealType in vm.AllMealTypes">{{ MealType.Name }}</md-option>
								</md-select>
								<div ng-messages="updateFood.MealTypeId.$error" md-auto-hide="false" ng-show="updateFood.MealTypeId.$touched">
									<div ng-message when="required"><span>Please select meal type.</span></div>
								</div>
							</md-input-container>
						</div>
						<div flex>
							<md-input-container class="md-block mrgR-10">
								<label for="Item">Meal Item</label>
								<md-select name="MealItemId" id="MealItemId" required ng-model="vm.foodupdate.MealItemId">
									<md-option value="{{MealItem.ID}}" ng-repeat="MealItem in vm.AllMealItems">{{ MealItem.Name }}</md-option>
								</md-select>
								<div ng-messages="registerfood.MealItemId.$error" md-auto-hide="false" ng-show="registerfood.MealItemId.$touched">
									<div ng-message when="required"><span>Please select Meal Item.</span></div>
								</div>
							</md-input-container>
						</div>
					</div>
				</div>
				<div flex="50" flex-xs="100">
					<p food="mrgL-10 margin-bottom-0">Serving size</p>
					<div layout="row" layout-xs="column">

						<div flex>

							<md-input-container food="md-block mrgR-10">
								<label translate>Select</label>

								<md-select name="ServingSizeId" required id="ServingSizeId" ng-model="vm.foodupdate.ServingSizeId">
								<md-option value="{{item.ID}}" ng-repeat="item in vm.AllMealServeSizes">{{ item.Name }}</md-option>

								</md-select>
								<div ng-messages="updateFood.ServingSizeId.$error" md-auto-hide="false" ng-show="updateFood.ServingSizeId.$touched">
									<div ng-message when="required"><span>Please enter the field.</span></div>
								</div>
							</md-input-container>
						</div>
						<div flex>
							<md-input-container food="md-block mrgR-10">
								<label translate>Select</label>

								<md-select name="ServingSizeProportionId" required id="ServingSizeProportionId" ng-selected="1/10" ng-model="vm.foodupdate.ServingSizeProportionId">
									<md-option value="{{item.ID}}" ng-repeat="item in vm.AllMealServeQuantity">{{ item.Name }}</md-option>
								</md-select>
								<div ng-messages="updateFood.ServingSizeProportionId.$error" md-auto-hide="false" ng-show="updateFood.ServingSizeProportionId.$touched">
									<div ng-message when="required"><span>Please enter the field.</span></div>
								</div>
							</md-input-container>
						</div>
						<div flex>
							<md-input-container food="md-block mrgR-10">
								<label translate>Select</label>
								<md-select name="ServingSizeTitleId" required id="ServingSizeTitleId" ng-model="vm.foodupdate.ServingSizeTitleId">
								<md-option value="{{item.ID}}" ng-repeat="item in vm.AllMealServeTypes">{{ item.Name }}</md-option>
								</md-select>
								<div ng-messages="updateFood.ServingSizeTitleId.$error" md-auto-hide="false" ng-show="updateFood.ServingSizeTitleId.$touched">
									<div ng-message when="required"><span>Please enter the field.</span></div>
								</div>
							</md-input-container>
						</div>
					</div>
				</div>



			</div>

			<div layout layout="row" layout-align="end center">
				<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateFoodData(vm.foodupdate)"
					translate="Save" ng-disabled="updateFood.$invalid">Update</md-button>
				<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" translate="Cancel"
					aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
			</div>
			<!--</md-whiteframe>-->
			<!--</md-card-content>-->
			<!--</md-card>-->
		</form>
	</md-dialog-content>
</md-dialog>