<md-card>
    <md-toolbar class="padding-20 text-center">
        <img ng-src="{{::vm.triSettings.logo}}" alt="{{vm.triSettings.name}}">
        <h1 class="md-headline" translate>SIGN UP</h1>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
    <md-content class="md-padding" md-progress="vm.promise">
        <form name="signup" >
            <md-input-container class="md-block">
                <label for="name" translate>Organization Name</label>
                <input id="name" label="name" ng-maxlength="50" name="name" type="text" ng-model="vm.user.name" required/>
                <div ng-messages="signup.name.$error" md-auto-hide="false" ng-show="signup.name.$touched">
                    <div ng-message when="required">
                        <span translate>Please enter your organization name</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="email" translate>Email</label>
                <input id="email" label="email" name="email" ng-maxlength="100" type="email" ng-model="vm.user.email" ng-pattern="emailFormat" pattern=".{6,100}" allow-pattern="(\d|[a-z\@\.\_])" required/>
                <div ng-messages="signup.email.$error" md-auto-hide="false" ng-show="signup.email.$touched">
                    <div ng-message when="required">
                        <span translate>Please enter your email address</span>
                    </div>
                    <div ng-message when="email">
                        <span translate>Please enter a valid email address</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="password" translate>Password</label>
                <input id="password" label="password" name="password" ng-maxlength="20" type="password" ng-model="vm.user.password" tri-same-password="signup.confirm" ng-minlength="8" required/>
                <ng-messages for="signup.password.$error" md-auto-hide="false" ng-show="signup.password.$touched">
                    <div ng-message when="required">
                        <span translate>Please enter a password</span>
                    </div>
                    <div ng-message when="minlength">
                        <span translate>Your password must be greater than 8 characters long</span>
                    </div>
                    <div ng-message when="samePassword">
                        <span translate>You need to enter the same password</span>
                    </div>
                </ng-messages>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="password" translate>Confirm Password</label>
                <input id="confirm" label="confirm" name="confirm" type="password" ng-maxlength="20" ng-model="vm.user.confirm" tri-same-password="signup.password" ng-minlength="8" required/>
                <ng-messages for="signup.confirm.$error" md-auto-hide="false" ng-show="signup.confirm.$touched">
                    <div ng-message when="required">
                        <span translate>Please enter a password</span>
                    </div>
                    <div ng-message when="minlength">
                        <span translate>Your password must be greater than 8 characters long</span>
                    </div>
                    <div ng-message when="samePassword">
                        <span translate>You need to enter the same password</span>
                    </div>
                </ng-messages>
            </md-input-container>
            <md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.signupClick(signup)" ng-disabled="signup.$invalid">{{submitText}}</md-button>
            <md-button  class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" href="#/login">Already have an account? Login here.</md-button>
        </form>
    </md-content>
</md-card>
