<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>pinwheelcare</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      {{name}}
    </div>
    <script src="./src/main.js"></script>
  </body>
</html>
