<h3 class="left-heading">Add Schedule</h3>
<md-card-actions layout="row" layout-align="end center ">
    <md-button class="md-primary">
      <md-icon md-font-icon="fa fa-print"></md-icon>
      Print</md-button>
  </md-card-actions>
  <div class="clear"></div>
  
  
   <div layout layout-xs="column" layout-align="end center">
   <md-input-container flex>
        <label for="Date">Date</label>
        <md-datepicker flex ng-model="vm.student.Date" md-placeholder="Date" name="Date" id="Date"
            required></md-datepicker>
        <div ng-messages="childinformationform.Date.$error" md-auto-hide="false" ng-show="childinformationform.Date.$touched">
            <div ng-message when="required"><span>Please enter date of birth.</span></div>
        </div>
    </md-input-container>
   
    <md-input-container flex class="mrgL40">
        <label for="Room">Room</label>
        <md-select placeholder="Select Room" name="Room" id="Room" ng-model="vm.student.Room" required>
            <md-option value="1">Room 1</md-option>
            <md-option value="2">Room 2</md-option>
        </md-select>
        <div ng-messages="childinformationform.Room.$error" md-auto-hide="false" ng-show="childinformationform.Room.$touched">
            <div ng-message when="required"><span>Please choose room.</span></div>
        </div>
    </md-input-container>
    
</div>


<md-table-container class="lesson-table">
   
    <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise" >
      <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
        <tr md-row>
          <th md-column>Time</th>
          <th md-column>Lesson Plan</th>
          <th md-column>Instructor</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row >
          <td md-cell><md-input-container flex>
              <input type="text">
            </md-input-container> <span>To</span> <md-input-container flex >
              <input type="text">
            </md-input-container></td>
          <td md-cell> 
          	<div flex>
                    <md-select placeholder="Select" ng-model="Select" class="mrgL-10" >
                      <md-option value="1">Test Lesson 1</md-option>
                      <md-option value="2">Test Lesson 1</md-option>
                    </md-select>
                  </div>
          </td>
          <td md-cell>
        	<div flex>
            <md-select placeholder="Select" ng-model="Select" class="mrgL-10" >
              <md-option value="1">Instructor 1</md-option>
              <md-option value="1">Instructor 1</md-option>
            </md-select>
          </div> 
		  </td>
        </tr>
         <tr md-row >
          <td md-cell><md-input-container flex>
              <input type="text">
            </md-input-container> <span>To</span> <md-input-container flex >
              <input type="text">
            </md-input-container></td>
          <td md-cell> 
          	<div flex>
                    <md-select placeholder="Select" ng-model="Select" class="mrgL-10" >
                      <md-option value="1">Test Lesson 1</md-option>
                      <md-option value="2">Test Lesson 1</md-option>
                    </md-select>
                  </div>
          </td>
          <td md-cell>
        	<div flex>
            <md-select placeholder="Select" ng-model="Select" class="mrgL-10" >
              <md-option value="1">Instructor 1</md-option>
              <md-option value="1">Instructor 1</md-option>
            </md-select>
          </div> 
		  </td>
        </tr>
        
      </tbody>
    </table>
  </md-table-container>
  
   <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
   
   <md-card-actions layout="row" layout-align="end center">
  <md-button class="md-primary md-raised"  translate="Save/Update"></md-button>
</md-card-actions>

