.seed-list { list-style: lower-greek;}
.fontsize16{ font-size:16px;}
.colorgreen{ color:#4caf50;}
.whitebg{ background:#fff !important;}

.whitebg-p {
	background:#fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}
.mrgl-class{ margin-left:10px;}
.mrgR-class{ margin-right:10px;}
.ageChild{ margin-top: 36px;}

.dateTimeInfo{
    margin-top: 20px;
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
    min-height: initial;
    height: auto;
}
.ta-scroll-window > .ta-bind {
   min-height: 200px;
   
}

.parent-mrg{
  margin-top:40px; margin-left:15px;
}
.des-mrgT{
  margin-top:54px;
}
@media(max-width: 1280px) {
.mrgl-class{ margin-left:0px;}
.mrgR-class{ margin-right:0px;}

.attedance-info .md-button.md-icon-button {
    margin: 0 0px;
    width: 24px;
    padding: 0;
    height: 24px;
}
.attedance-info .md-icon-button + .md-datepicker-input-container {
    margin-left: 5px;
}

}
@media(max-width: 767px) {
.attedance-info .mrgL-10{ margin-left: 0;}
.parent-mrg{
  margin-top:40px; margin-left:0;
}
}
.chipsdemoBasicUsage .custom-chips md-chip {
  position: relative; }
  .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; }
    .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip {
      position: relative;
      height: 24px;
      width: 24px;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      transition: background 0.15s linear;
      display: block; }
      .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white; }
      .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:focus {
        background: rgba(255, 0, 0, 0.8); }

.chipsdemoBasicUsage .custom-chips md-chips-wrap.md-removable md-chip md-chip-template {
  padding-right: 5px; }
  .adminFirst{ margin-top: 0;}
   div>label:not(.md-container-ignore).md-required:after {
      content: ' *';
      font-size: 13px;
      vertical-align: top; }
   div.dateTimeInfo .md-cyan-theme:not(.md-input-focused):not(.md-input-invalid) label.md-required:after {
        color : red !important;
      }
       div.Description .md-cyan-theme:not(.md-input-focused):not(.md-input-invalid) label.md-required:after {
        color : red !important;
        opacity: 1;

        
      }
       label.Description .md-cyan-theme:not(.md-input-focused):not(.md-input-invalid) label.md-required:after {
        color : red !important;
        opacity: 1;

        
      }
      label.Description:not(.md-container-ignore).md-required:after {
      content: ' *';
      font-size: 13px;
      vertical-align: top; }
      

@media(max-width: 1000px) {
      .md-icon-button + .md-datepicker-input-container{
        margin-left: 0px;
      }
      .md-button.md-icon-button{
        margin: 0 5px;
      }
}