<md-dialog class="customdialog40">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Drop From Class</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
       		 <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container class="md-block">
                     <label>Scheduled Finish Date</label>
            <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                  </div>
                  <div flex>
                    <md-input-container class="md-block">
                     <label>Drop Date</label>
            <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                  </div>
                </div>
                
                <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container flex class="md-block">
                    <label>Reason</label>
                     <md-select placeholder="Reason" ng-model="Reason" >
                      <md-option value="1">Class Canceled</md-option>
                      <md-option value="2">Family Moved</md-option>
                      <md-option value="3">Left School</md-option>
                      <md-option value="4">No Show</md-option>
                    </md-select>
                    </md-input-container>
                  </div>
                 
                </div>
                <div layout="row" layout-xs="column">
                <md-input-container flex class="md-block">
                    <label>Notes</label>
                    <textarea></textarea>
                </md-input-container>
                
                </div>

                <div layout="row" layout-xs="column">
                	<md-checkbox class="md-primary" ng-model="checkboxes.monday" aria-label="Primary Checkbox">
                        Email Primary Instructor
                    </md-checkbox>
                  </div>
        
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="answer()"> Submit </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()"> Cancel </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

