<md-dialog class="classpage">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Schedule Student</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      <div layout="row" layout-xs="column" class="margin-bottom-20">
      		<md-list flex>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="row" layout-xs="column">
                        <h3 flex="10">Student</h3>
                        <p flex>Katie Green</p>
                    </div>
                    <md-divider ng-hide="$last"></md-divider>
                </md-list-item>
            </md-list>
      </div>
       		 <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container class="md-block">
                     <label>Schedule Start Date</label>
            <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                  </div>
                  <div flex>
                    <md-input-container class="md-block">
                     <label>Schedule End Date</label>
            <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                  </div>
                </div>
                
                <h3>Time</h3>
                
              <md-table-container>
          <table md-table class="md-primary md-data-table table-striped table-bordered" ng-model="vm.selected" md-progress="vm.promise">
            <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
              <tr md-row>
                <th md-column>Monday</th>
                <th md-column>Tuesday</th>
                <th md-column>Wednesday</th>
                <th md-column>Thursday</th>
                <th md-column>Friday</th>
                <th md-column>Saturday</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row >
                <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
               <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
                <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
                <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
                <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
                <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
               
        
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="answer()"> Save </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()"> Cancel </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

