<md-dialog class="customdialog40">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Transfer Student</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      <div layout="row" layout-xs="column" class="margin-bottom-20">
      		<md-list flex>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="row" layout-xs="column">
                        <h3 flex="30">Student</h3>
                        <p flex>Katie Green</p>
                    </div>
                    <md-divider ng-hide="$last"></md-divider>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="row" layout-xs="column">
                        <h3 flex="30">Parent Name</h3>
                        <p flex>Eva Green</p>
                    </div>
                    <md-divider ng-hide="$last"></md-divider>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="row" layout-xs="column">
                        <h3 flex="30">Current Class</h3>
                        <p flex>Katie Green</p>
                    </div>
                    <md-divider ng-hide="$last"></md-divider>
                </md-list-item>
                 <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="row" layout-xs="column">
                        <h3 flex="30">Enrolled</h3>
                        <p flex>08/11/2016</p>
                    </div>
                    <md-divider ng-hide="$last"></md-divider>
                </md-list-item>
            </md-list>
      </div>
       		 <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container class="md-block">
                     <label>Transfer Date</label>
            <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                  </div>
                  <div flex>
                    <md-input-container class="md-block">
                     <label>Drop Date</label>
            <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                  </div>
                </div>
                <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container flex class="md-block margin-top-0">
                    <label>Transfer to Class</label>
                     <md-select placeholder="Transfer to Class" ng-model="Reason" >
                      <md-option value="1">Test Class 1</md-option>
                      <md-option value="2">Test Class 2</md-option>
                    </md-select>
                    </md-input-container>
                  </div>
                </div>
                <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container flex class="md-block">
                    <label>Transfer Reason</label>
                     <md-select placeholder="Transfer Reason" ng-model="Reason" >
                      <md-option value="1">Class Canceled</md-option>
                      <md-option value="2">Family Moved</md-option>
                      <md-option value="3">Left School</md-option>
                      <md-option value="4">No Show</md-option>
                    </md-select>
                    </md-input-container>
                  </div>
                </div>
                 <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container flex class="md-block">
                    <label>Transfer Charges</label>
                     <md-select placeholder="Transfer Charges" ng-model="Reason" >
                      <md-option value="1">Yes</md-option>
                      <md-option value="2">No</md-option>
                    </md-select>
                    </md-input-container>
                  </div>
                </div>
                <div layout="row" layout-xs="column">
                <md-input-container flex class="md-block">
                    <label>Notes</label>
                    <textarea></textarea>
                </md-input-container>
                </div>

                <div layout="row" layout-xs="column">
                	<md-checkbox class="md-primary" ng-model="checkboxes.monday" aria-label="Primary Checkbox">
                        Email Primary Instructor
                    </md-checkbox>
                  </div>
        
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="answer()"> Submit </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()"> Cancel </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

