<h1>Under Construction.</h1>
<!--<h3 class="margin-top-0">Assigned Classes</h3>
    <md-whiteframe class="md-whiteframe-z5 flex layout-column">
      <form name="assigned" novalidate>
        <div class="padded-content-page">
        	<div layout="row" layout-xs="column" layout-sm="column" flex>
            <md-input-container flex class="mrgR-class">
              <label for="Session">Session</label>
              <md-select placeholder="Session" name="Session" id="Session" ng-model="vm.assigned.Session" required>
                <md-option value="1">2015-2016</md-option>
                <md-option value="2">2016</md-option>
              </md-select>
              <div ng-messages="assigned.Category.$error" md-auto-hide="false" ng-show="assigned.Category.$touched">
                <div ng-message when="required"><span>Please choose session.</span></div>
              </div>
            </md-input-container>
            <md-input-container flex class="mrgl-class">
              <label for="Category">Category</label>
              <md-select placeholder="Category" name="Category" id="Category" ng-model="vm.assigned.Category" required>
                <md-option value="1">Infant</md-option>
                <md-option value="2">Pre-school</md-option>
              </md-select>
              <div ng-messages="assigned.Category.$error" md-auto-hide="false" ng-show="assigned.Category.$touched">
                <div ng-message when="required"><span>Please choose category.</span></div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" layout-xs="column" layout-md="row" >
            <div layout="row" layout-xs="column" layout-md="column" layout-sm="column" flex>
             <md-input-container flex class="mrgR-class">
              <label for="Class">Class Status</label>
              <md-select placeholder="Class" name="Class" id="Class" ng-model="vm.assigned.Class" required>
                <md-option value="1">Current</md-option>
                <md-option value="2">Future</md-option>
              </md-select>
              <div ng-messages="assigned.Class.$error" md-auto-hide="false" ng-show="assigned.Class.$touched">
                <div ng-message when="required"><span>Please choose class.</span></div>
              </div>
            </md-input-container>
            </div>
            <div layout="row" layout-xs="column" layout-sm="column" layout-md="column" flex>
              <md-input-container flex>
                <label for="Fromdate">Class Start Date</label>
                <md-datepicker id="Fromdate" ng-model="agecutoff" name="Fromdate" md-placeholder="Enter date" required></md-datepicker>
                <div ng-messages="assigned.Fromdate.$error" md-auto-hide="false" ng-show="assigned.Fromdate.$touched">
                  <div ng-message when="required"><span>Please enter date.</span></div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <label for="Todate">Class End Date</label>
                <md-datepicker id="Todate" ng-model="agecutoff" name="Todate" md-placeholder="Enter date" required></md-datepicker>
                <div ng-messages="assigned.Todate.$error" md-auto-hide="false" ng-show="assigned.Todate.$touched">
                  <div ng-message when="required"><span>Please enter date.</span></div>
                </div>
              </md-input-container>
            </div>
          </div>
          
          <div layout="row" layout-xs="column" layout-md="row" layout-align="end center">
            <md-card-actions>
              <md-button class="md-primary md-raised">Search</md-button>
            </md-card-actions>
          </div>
        </div>
      </form>
    </md-whiteframe>
    <div class="margin-top-40">
      <md-table-container>
    <md-card-actions layout="row" layout-align="end center ">
    <md-button class="md-primary" ng-click="vm.assignclass($event)">
      <md-icon md-font-icon="fa fa-plus-circle"></md-icon>
      Assign Class</md-button>
      <md-button class="md-primary">
        <md-icon md-font-icon="fa fa-print"></md-icon>
        Print</md-button>
        <md-button class="md-accent md-raised" translate="Email Schedule">Email Schedule</md-button>
    </md-card-actions>
   
    <table md-table class="md-primary md-data-table table-bordered table-striped" ng-model="vm.selected" md-progress="vm.promise">
      <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
        <tr md-row>
          <th md-column>CLASS</th>
          <th md-column>SESSION</th>
          <th md-column>START DATE</th>
          <th md-column>END DATE</th>
          <th md-column>ROOM</th>
          <th md-column>MON</th>
          <th md-column>TUE</th>
          <th md-column>WED</th>
          <th md-column>THU</th>
          <th md-column>FRI</th>
          <th md-column>SAT</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row >
          <td md-cell>Test Class</td>
          <td md-cell>2015-16</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>Room 1</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>10.00am-4.00pm</td>
        </tr>
        <tr md-row >
          <td md-cell>Test Class</td>
          <td md-cell>2015-16</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>Room 1</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>10.00am-4.00pm</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
    </div>

-->
