<!--<h3 class="margin-top-0">Attendance History</h3>
    <md-whiteframe class="md-whiteframe-z4 flex layout-column">
      <form name="attedance" novalidate>
        <div class="padded-content-page">
          <div layout="row" layout-xs="column" layout-md="row" >
           
            <div layout="row" layout-xs="column" layout-sm="column" layout-md="column" flex>
              <md-input-container flex>
                <label for="Fromdate">From Date</label>
                <md-datepicker id="Fromdate" ng-model="agecutoff" name="Fromdate" md-placeholder="Enter date" required></md-datepicker>
                <div ng-messages="attedance.Fromdate.$error" md-auto-hide="false" ng-show="attedance.Fromdate.$touched">
                  <div ng-message when="required"><span>Please enter date.</span></div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <label for="Todate">To Date</label>
                <md-datepicker id="Todate" ng-model="agecutoff" name="Todate" md-placeholder="Enter date" required></md-datepicker>
                <div ng-messages="attedance.Todate.$error" md-auto-hide="false" ng-show="attedance.Todate.$touched">
                  <div ng-message when="required"><span>Please enter date.</span></div>
                </div>
              </md-input-container>
            </div>
            
             <div layout="row" layout-xs="column" layout-md="column" layout-sm="column" flex>
               <md-input-container flex class="mrgl-class">
              <label for="Category">Category</label>
              <md-select placeholder="Category" name="Category" id="Category" ng-model="vm.attednace.Category" required>
                <md-option value="Pre-school">Pre-school</md-option>
                <md-option value="Infant">Infant</md-option>
                <md-option value="Toddler">Toddler</md-option>
              </md-select>
              <div ng-messages="attedance.Category.$error" md-auto-hide="false" ng-show="attedance.Category.$touched">
                <div ng-message when="required"><span>Please choose category.</span></div>
              </div>
            </md-input-container>
            </div>
            
          </div>
          <div layout="row" layout-xs="column" layout-sm="column" flex>
           
            <md-input-container class="md-block" flex>
              <label for="Class">Class</label>
              <md-select placeholder="Class" name="Class" id="Class" ng-model="vm.attednace.Class" required>
                <md-option value="1">Test Class 1</md-option>
                <md-option value="2">Test Class 1</md-option>
              </md-select>
              <div ng-messages="attedance.Class.$error" md-auto-hide="false" ng-show="attedance.Class.$touched">
                <div ng-message when="required"><span>Please choose class.</span></div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" layout-xs="column" layout-md="row" layout-align="end center">
            <md-card-actions>
              <md-button class="md-primary md-raised">Search</md-button>
            </md-card-actions>
          </div>
        </div>
      </form>
    </md-whiteframe>
    <div class="margin-top-40">
      <md-table-container>
    <md-card-actions layout="row" layout-align="end center ">
      <md-button class="md-primary">
        <md-icon md-font-icon="fa fa-print"></md-icon>
        Print</md-button>
    </md-card-actions>
   
    <table md-table class="md-primary md-data-table table-bordered table-striped" ng-model="vm.selected" md-progress="vm.promise">
      <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
        <tr md-row>
          <th md-column>CLASS</th>
          <th md-column>CLASS</th>
          <th md-column>DATE</th>
          <th md-column>STATUS</th>
          <th md-column>CHECK IN TIME</th>
          <th md-column>CHECK OUT TIME</th>
          <th md-column>ATTENDANCE MARK BY</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row >
          <td md-cell>Pre-School</td>
          <td md-cell>Test Class 1</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>Present</td>
          <td md-cell>10.00 AM</td>
          <td md-cell>11.00 AM</td>
          <td md-cell>Daniel Ross</td>
        </tr>
        <tr md-row >
          <td md-cell>Infant</td>
          <td md-cell>Test Class 1</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>Present</td>
          <td md-cell>10.00 AM</td>
          <td md-cell>11.00 AM</td>
          <td md-cell>Daniel Ross</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
    </div>

-->
<h1>Under Construction.</h1>