<!--<h3 class="margin-top-0">Education</h3>
    <md-whiteframe class="md-whiteframe-z4 flex layout-column">
      <form name="education" novalidate>
        <div class="padded-content-page">
          <div layout="row" layout-xs="column" layout-md="row">
             
               <md-input-container flex class="mrgR-class">
              <label for="qualification">Highest Qualification</label>
               <input type="text" label="qualification" name="qualification" id="qualification" ng-model="vm.staff.qualification" required>
              <div ng-messages="education.qualification.$error" md-auto-hide="false" ng-show="education.qualification.$touched">
                <div ng-message when="required"><span>Please enter qualification.</span></div>
              </div>
            </md-input-container>
           
               <md-input-container flex class="mrgl-class">
              <label for="year">Passing Year</label>
               <input type="text" label="year" name="year" id="year" ng-model="vm.staff.year" required>
              <div ng-messages="education.year.$error" md-auto-hide="false" ng-show="education.year.$touched">
                <div ng-message when="required"><span>Please enter year.</span></div>
              </div>
            </md-input-container>
           
          </div>
          <div layout="row" layout-xs="column" layout-sm="column" flex>
            <md-input-container flex class="mrgR-class">
              <label for="Institute">Institute Name</label>
               <input type="text" label="Institute" name="Institute" id="Institute" ng-model="vm.staff.Institute" required>
              <div ng-messages="education.Institute.$error" md-auto-hide="false" ng-show="education.Institute.$touched">
                <div ng-message when="required"><span>Please enter name.</span></div>
              </div>
            </md-input-container>
             <md-input-container flex class="mrgl-class">
              <label for="address">Institute Address</label>
              	<textarea name="address" id="address" required></textarea>
              <div ng-messages="education.address.$error" md-auto-hide="false" ng-show="education.address.$touched">
                <div ng-message when="required"><span>Please enter Address.</span></div>
              </div>
            </md-input-container>
          </div>
          
          <div layout="row" layout-xs="column" layout-md="row" layout-align="end center">
            <md-card-actions>
              <md-button class="md-primary md-raised">Save</md-button>
            </md-card-actions>
          </div>
        </div>
      </form>
    </md-whiteframe>
    <div class="margin-top-40">
     <h3 class="left-heading">Skills</h3>
  <md-card-actions layout="row" layout-align="end center ">
    <md-button class="md-primary" ng-click="vm.addskill($event)">
      <md-icon md-font-icon="fa fa-plus-circle"></md-icon>
      Add</md-button>
  </md-card-actions>
  <div class="clear"></div>
  <md-table-container class="lesson-table" >
    <table md-table class="md-primary md-data-table table-bordered table-striped" ng-model="vm.selected" md-progress="vm.promise">
      <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
        <tr md-row>
          <th md-column>TITLE</th>
          <th md-column>SKILL PROFICIENCY</th>
          <th md-column class="text-center">ACTION</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row >
          <td md-cell>CPR Certified</td>
          <td md-cell>08/11/2016</td>
          <td md-cell><md-card-actions layout="row" layout-align="center center ">
             <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-edit"></md-icon>
              </md-button>
              <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-trash"></md-icon>
              </md-button>
            </md-card-actions></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
    </div>

-->
<h1>Under Construction.</h1>