<style>
        .layout-row > .flex-30 {
        max-width: 46%;
</style>

<div class="example-code md-whiteframe-z1 margin-bottom-20">
    <div>
        <div class="profiletab" tri-wizard>
            
            <md-content class="md-padding">
                <h2 class="margin-top-0">Profile</h2>
                <div layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row" layout-gt-md="row" layout-gt-lg="row" layout-align="start left">
                    
                    <div layout="column" layout-xs="row" flex-gt-xs="100" flex-gt-sm="15" flex-gt-md="15" flex-gt-lg="15">
                        <div class="margin-right-10 mobile-text-center">
                            <img ng-src="{{vm.ImageUrlPath}}{{vm.ImagePath}}" " err-src="assets/images/avatars/avatar-5.png " alt="girl-avatar
                                " class="make-round " width="100 " height="100 " />
                </div>
            </div>
            
            <div layout="column " layout-xs="row "  layout-gt-md="column " flex-gt-xs="100 " flex-gt-sm="40" flex-gt-md="40 " flex-gt-lg="30 ">
            	<div flex >
                    	
                        <md-list flex>
                            <md-list-item class="md-2-line padding-left-0 ">
                                <div class="md-list-item-text ">
                                	<div layout="row " layout-xs="column ">
                                    <h3 flex="30" flex-sm="20">Birthday</h3>
                                    <p flex>{{vm.DateOfBirthString | date:'MM/dd/yyyy' }}</p>
                                    </div>
                                </div>
                                <md-divider ng-hide="$last "></md-divider>
                            </md-list-item>
                            
                            <md-list-item class="md-2-line padding-left-0 ">
                                <div class="md-list-item-text ">
                                	<div layout="row " layout-xs="column ">
                                    <h3 flex="30" flex-sm="20">Gender</h3>
                                    <p flex>{{vm.GenderName}}</p>
                                    </div>
                                </div>
                                <md-divider ng-hide="$last "></md-divider>
                            </md-list-item>
                            <md-list-item class="md-2-line padding-left-0 ">
                                <div class="md-list-item-text ">
                                <div layout="row " layout-xs="column ">
                                    <h3 flex="30" flex-sm="20">Position</h3>
                                    <p flex>{{vm.PositionName}}</p>
                                    </div>
                                </div>
                            </md-list-item>
                            
                        </md-list>
                    </div>
            </div>
             <div layout="column " layout-xs="row " flex-gt-xs="100 " flex-gt-sm="45 " flex-gt-md="45 " flex-gt-lg="35 ">
             	 <div flex class="margin-right-20 mrgL-20 ">
                        <md-list flex>
                            <md-list-item class="md-2-line padding-left-0 ">
                                <div class="md-list-item-text ">
                                	<div layout="row " layout-xs="column ">
                                    <h3 flex="30" flex-gt-sm="20 ">Phone</h3>
                                    <p>{{vm.PhoneNumber}}</p>
                                    </div>
                                </div>
                                <md-divider ng-hide="$last "></md-divider>
                            </md-list-item>
                            
                            <md-list-item class="md-2-line padding-left-0 ">
                                <div class="md-list-item-text ">
                                	<div layout="row " layout-xs="column " >
                                    <h3 flex="30" flex-sm="20">Email</h3>
                                    <p>{{vm.Email}}</p>
                                    </div>
                                </div>
                                <md-divider ng-hide="$last "></md-divider>
                            </md-list-item>
                            <md-list-item class="md-2-line padding-left-0 ">
                                <div class="md-list-item-text ">
                                	<div layout="row " layout-xs="column ">
                                    <h3 flex="30" flex-sm="20">Joining Date</h3>
                                    <p>{{vm.DateHiredString  | date:'MM/dd/yyyy'}}</p>
                                    </div>
                                </div>
                            </md-list-item>
                             
                            
                        </md-list>
                    </div>
            </div>
             <!--<div layout="column " layout-xs="row " flex-gt-xs="100 " flex-gt-sm="50 " flex-gt-md="30
                                " flex-gt-lg="30 ">
             	<div flex class="margin-left-10 "><h3>Check In Details</h3>
                    	 <md-list flex>
                            <md-list-item class="md-2-line padding-left-0 ">
                                <div class="md-list-item-text ">
                                	<div layout="row " layout-xs="column ">
                                    <h3 flex="50 ">Check-In</h3>
                                    <p flex>09:00 AM</p>
                                    </div>
                                </div>
                                <md-divider ng-hide="$last "></md-divider>
                            </md-list-item>
                            
                            <md-list-item class="md-2-line padding-left-0 ">
                                <div class="md-list-item-text ">
                                	<div layout="row " layout-xs="column ">
                                    <h3 flex="50 ">Check-Out</h3>
                                    <p flex>-</p>
                                    </div>
                                </div>
                            </md-list-item>
                         
                        </md-list>
                    </div>
            </div>
            -->
            
        </div>        

  
 </div>
 
  </div>
    </div>
    <div class="margin-top-20 ">
        <div layout="row " layout-xs="column " class="profiletab ">
         <!--<tri-widget flex flex="50 " flex-xs="100 " class="mrgR-10 margin-bottom-10 ">
            <md-divider></md-divider>
            <md-list class="overflow-auto padding-top-10 " style="height:300px; ">
                <md-list-item class="md-2-line ">
                    <div class="md-list-item-text ">                	
                         <table class="table ">
                            <thead>
                                <tr>
                                    <th>Class</th>
                                    <th>Room</th>
                                </tr>
                            </thead>
                            <tbody class="md-caption ">
                                <tr ng-repeat="ClassData in vm.scheduleList ">
                                    <td>{{ClassData.Class.ClassName}}</td>
                                    <td>{{ClassData.Room.Name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-list-item>
            </md-list>
        </tri-widget>-->
        
	 <tri-widget flex flex="50 " flex-xs="100 " class="margin-bottom-10 " title="Contact Information ">
            <md-divider></md-divider>
            <md-list class="padding-top-10 padding-bottom-10 ">
                <md-list-item class="md-2-line ">
                    <div class="md-list-item-text ">
                    	<div layout="row " layout-xs="column ">
                        <h3 flex="30 ">Address</h3>
                        <p flex>{{vm.Address}}</p>
                        </div>
                    </div>
                </md-list-item>
                 <!--<md-list-item class="md-2-line ">
                    <div class="md-list-item-text ">
                    	<div layout="row " layout-xs="column ">
                        <h3 flex="30 ">Country</h3>
                        <p flex>{{vm.CountryName}}</p>
                        </div>
                    </div>
                </md-list-item>-->
                <md-list-item class="md-2-line ">
                    <div class="md-list-item-text ">
                    	<div layout="row " layout-xs="column ">
                        <h3 flex="30 ">City</h3>
                        <p flex>{{vm.CityName}}</p>
                        </div>
                    </div>
                </md-list-item>
                <!--<md-list-item class="md-2-line ">
                    <div class="md-list-item-text ">
                    	<div layout="row " layout-xs="column ">
                        <h3 flex="30 ">State/Province</h3>
                        <p flex>{{vm.StateName}}</p>
                        </div>
                    </div>
                </md-list-item>-->
                <md-list-item class="md-2-line ">
                    <div class="md-list-item-text ">
                    	<div layout="row " layout-xs="column ">
                        <h3 flex="30 ">Phone</h3>
                        <p flex>{{vm.PhoneNumber}}</p>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line ">
                    <div class="md-list-item-text ">
                    	<div layout="row " layout-xs="column ">
                        <h3 flex="30 ">Postal/Zip Code</h3>
                        <p flex>{{vm.PostalCode}}</p>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line ">
                    <div class="md-list-item-text ">
                    	<div layout="row " layout-xs="column ">
                        <h3 flex="30 ">Email</h3>
                        <p flex>{{vm.Email}}</p>
                        </div>
                    </div>
                </md-list-item>
                 <md-list-item class="md-2-line">
                    <div class="md-list-item-text ">
                    	<div layout="row " layout-xs="column ">
                        <h3 flex="30 ">Time Clock User</h3>
                       
                        <p flex>{{vm.IsTimeClockUser}}</p>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </tri-widget>
        
    
        
        
</div>
  </div>
  </div>
