<div class="example-code md-whiteframe-z1 margin-bottom-20">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Staff Time Clock<span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Staffs' : 'Staff'}} selected )</span></h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padded-content-page whitebg">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content>
					<form id="Search" name="TimeclockFrm">
						<div layout layout-xs="column" flex>
							<md-input-container flex class="mrgR-class mrgL-class">
								<label for="TimeZone">Select Time Zone</label>
								<md-select placeholder="Time Zone" name="TimeZone" id="TimeZone" ng-model="vm.query.TimeZone">
									<md-option value="{{timezone.Id}}" ng-repeat="timezone in vm.TimezoneList">{{timezone.DisplayName}}</md-option>
								</md-select>
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="Date"> From Date</label>
								<md-datepicker flex md-placeholder="From Date" ng-model="vm.query.FromDate" ng-blur="vm.setStartDate(vm.query.FromDate)"
									md-max-date="vm.attendancestartDate" name="FromDate" id="FromDate" ng-model-options="{ timezone: 'utc' }" required></md-datepicker>
								<div ng-messages="TimeclockFrm.FromDate.$error" md-auto-hide="false" ng-show="TimeclockFrm.FromDate.$touched">
									<div ng-message when="required"><span>Please select From Date</span></div>
								</div>
							</md-input-container>
							<md-input-container flex>
								<label for="Date">To Date</label>
								<md-datepicker flex md-placeholder="To Date" ng-model="vm.query.ToDate" md-min-date="vm.attendanceendDate" md-max-date="vm.attendancestartDate"
									ng-disabled="vm.disabled" name="ToDate" id="ToDate" ng-disabled="false" ng-model-options="{ timezone: 'utc' }" ng-blur="vm.setFromDate(vm.query.ToDate)" required></md-datepicker>
								<div ng-messages="TimeclockFrm.ToDate.$error" md-auto-hide="false" ng-show="TimeclockFrm.ToDate.$touched">
									<div ng-message when="required"><span>Please select To Date</span></div>
								</div>
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="searchTimeSheetWithDates()" ng-disabled="TimeclockFrm.$invalid">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>

		<md-table-container>
			<div class="pull-left" style="font-size: larger;">
				<h3>Period : {{FromDate | date:"MM/dd/yyyy"}} - {{ToDate | date:"MM/dd/yyyy"}}</h3>
				<h3><label for="Date">Time Zone :</label> {{vm.query.TimeZone}}
				</h3>
			</div>
			<!--<div class="pull-right" style="font-size: larger;">
				<label for="Date">Time Zone :</label>
				<b>{{vm.query.TimeZone}}</b>
			</div>-->
		</md-table-container>

		<div class="margin-top-20">
			<md-table-container class="lesson-table">
				<table md-table class="md-primary md-data-table table-bordered table-striped" ng-model="vm.selected" md-progress="vm.promise">
					<thead md-head md-order="vm.query.order" md-on-reorder="vm.getUsers">
						<tr md-row>
							<th md-column rowspan="2">DAY</th>
							<th md-column rowspan="2">DAY CHECK IN</th>
							<th md-column colspan="2">LUNCH</th>
							<th md-column colspan="2">BREAK</th>
							<th md-column rowspan="2">DAY CHECK OUT</th>
							<!--<th md-column rowspan="2">OVERTIME</th>-->
							<th md-column rowspan="2">TOTAL HOURS</th>
						</tr>
						<tr md-row>
							<th md-column>OUT</th>
							<th md-column>IN</th>
							<th md-column>OUT</th>
							<th md-column>IN</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row @*md-select-id="item.ID" *@ ng-repeat="item in timeSheetDetails">
							<td md-cell> <span style="width:100%; font-size:8pt; float:left;">{{item.Day}}</span> {{item.DayCheckIn | date:'MM/dd/yyyy'}}
							</td>
							<td md-cell>{{item.DayCheckIn | date:"hh:mm a"}}</td>
							<td md-cell>
								<span ng-if="item.LunchCheckOut != null">{{item.LunchCheckOut | date:"hh:mm a"}}</span>
							</td>
							<td md-cell>
								<span>
                                            {{item.LunchCheckIn  | date:"hh:mm a"}}
                                        </span>
							</td>
							<td md-cell style="vertical-align:top;">
								<div ng-repeat="break in item.BreakChecks">
									<div style="padding:2px 0px 2px 0px;">
										<span ng-if="break.CheckOut != null">{{ break.CheckOut | date:"hh:mm a" }}</span>
									</div>

								</div>
							</td>
							<td md-cell style="vertical-align:top;">
								<div ng-repeat="break in item.BreakChecks">
									<div style="padding:2px 0px 2px 0px;">
										<span ng-if="break.CheckIn != null">{{ break.CheckIn | date:"hh:mm a" }}</span>
									</div>
								</div>
							</td>
							<td md-cell>
								<span ng-if="item.DayCheckOut != null">
                                            {{item.DayCheckOut   | date:"hh:mm a"}}
                                            <span style="width:100%; font-size:8pt; float:left; background-color:maroon; color:white;" ng-show="item.CheckOutAtNextDay">
                                                {{item.DayCheckOut | date:"dd-MMM-yyyy"}}
                                            </span>
								</span>
							</td>
							<!--<td md-cell class="text-center" style="vertical-align:top;">-</td>-->
							<td md-cell class="text-right" ng-if="item.DayCheckOut==null" style="color:black; font-size:8.25pt;">** Clocked In **</td>
							<td md-cell class="text-right" ng-if="item.DayCheckOut!=null" style="vertical-align:top;">{{ item.TotalHours }}</td>
						</tr>
						<tr md-row ng-if="showGrid">
							<td md-cell colspan="6" class="text-right">
								<strong>Total Hours</strong>
							</td>
							<td md-cell colspan="2" class="text-right"> {{ total_hours | number:2 }} </td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page-select md-page="vm.query.page" md-total="{{total_count}}"
				md-on-paginate="searchTimeSheetWithDates"></md-table-pagination>
		</div>
	</div>
</div>