<div flex="noshrink" layout="column" layout-align="end none">
    <md-toolbar ng-controller="AppFooterController as footer" md-theme="{{triSkin.elements.toolbar}}">
        <div class="md-toolbar-tools md-body-1" layout="row" layout-align="space-between center">
            <h2>{{footer.settings.name}}</h2>
            <h2 hide-xs ng-bind-html="footer.settings.copyright"></h2>
            <h2>v{{footer.settings.version}} </h2>
        </div>
    </md-toolbar>
</div>
