.loader {
  background-color: #FFF;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 4 !important;
  overflow: hidden;
  h3 {
    font-size: 1.6rem; //2
  }
  &.ng-hide {
    @include fadeOut(1s, 1s, 0.5s, ease, both, hidden);
    .loader-inner {
      @include fadeOutDown(1s, 0.5s, 0.3s, ease, both, hidden);
    }
    h3 {
      @include fadeOutDown(1s, 0.5s, 0.1s, ease, both, hidden);
    }
  }
}