<h3>Changes Password</h3>
<form name="changePasswordForm" tri-wizard-form novalidate>
	<div layout="row" layout-xs="column" layout-wrap>
		<div flex="100">
			<md-input-container class="md-block">
				<label for="oldpassword" translate>Old Password</label>
				<input id="oldpassword" label="password" name="oldpassword" type="password" ng-model="vm.user.oldpassword" required/>
				<div ng-messages="changePasswordForm.oldpassword.$error" md-auto-hide="false" ng-show="changePasswordForm.oldpassword.$touched">
					<div ng-message when="required"><span translate>Please enter old password</span></div>
				</div>
			</md-input-container>
		</div>
		<div flex="100">
			<md-input-container class="md-block">
				<label for="newpassword">New Password</label>
				<input id="newpassword" label="new password" name="newpassword" type="password" ng-model="vm.user.newpassword" required/>
				<div ng-messages="changePasswordForm.newpassword.$error" md-auto-hide="false" ng-show="changePasswordForm.newpassword.$touched">
					<div ng-message when="required"><span translate>Please enter new password</span></div>
				</div>
			</md-input-container>
		</div>
		<div flex="100">
			<md-input-container class="md-block">
				<label for="confirmpassword" translate>Confirm New Password</label>
				<input id="confirmpassword" label="confirm new password" name="confirmpassword" type="password" ng-model="vm.user.confirmpassword" required/>
				<div ng-messages="changePasswordForm.confirmpassword.$error" md-auto-hide="false" ng-show="changePasswordForm.confirmpassword.$touched">
					<div ng-message when="required"><span translate>Please confirm new password</span></div>
				</div>
			</md-input-container>
		</div>
	</div>
	<md-card-actions layout="row" layout-align="end center">
		<md-button ng-disabled="changePasswordForm.$invalid" class="md-primary md-raised">Change Password</md-button>
	</md-card-actions>
</form>