<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
  <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
    <div class="md-toolbar-tools">
      <h2>{{DisplayText}}</h2>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
  <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
  <md-divider></md-divider>
  <md-dialog-content class="md-dialog-content">
    <form name="addressForm">
      <div>
        <div layout layout-xs="column" flex>
          <md-input-container flex class="mrgR-10">
            <label>Location Name</label>
            <input name="locationname" type="text" ng-maxlength="100" ng-model="vm.agency.LocationName" required>
            <div ng-messages="addressForm.locationname.$error" md-auto-hide="false" ng-show="addressForm.locationname.$touched" required>
              <!--<div ng-message when="pattern"><span>Please enter valid mobile number.</span></div>-->
              <!--<div ng-message when="pattern"><span>Please enter valid postal code.</span></div>-->
              <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
              <div ng-message when="required"><span>Location is required.</span></div>
              <!--<div ng-message when="maxlength"><span>Maximum length is 6.</span></div>-->
            </div>
          </md-input-container>
          <md-input-container flex class="mrgL-10">
            <label>Location Mobile</label>
            <input name="locationphonenumber" type="text" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____" ng-model="vm.agency.LocationPhoneNumber"
              required>
            <div ng-messages="addressForm.locationphonenumber.$error" md-auto-hide="false" ng-show="addressForm.locationphonenumber.$touched">
              <div ng-message when="required">
                <span>Location Mobile number required</span>
              </div>
              <div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
              <!--<div ng-message when="minlength"><span>Minimum length is 10.</span></div>
                                                    <div ng-message when="maxlength"><span>Maximum length is 15.</span></div>-->
            </div>
          </md-input-container>
        </div>
        <div layout layout-xs="column" flex>
          <md-input-container flex class="mrgR-10">
            <label>First Name</label>
            <input type="text" name="ContactFirstName" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.agency.ContactFirstName" ng-maxlength="100 "
              ng-minlength="4" required>
            <div ng-messages="addressForm.ContactFirstName.$error" md-auto-hide="false" ng-show="addressForm.ContactFirstName.$touched">
              <div ng-message when="required">
                <span translate>First name is required</span>
              </div>
              <div ng-message when="pattern"><span>Only text is allowed.</span></div>
              <div ng-message when="minlength"><span>Minimum 4 character is required.</span></div>
              <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
            </div>
          </md-input-container>
          <md-input-container flex class="mrgL-10">
            <label>Last Name</label>
            <input type="text" name="ContactLastName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="4" ng-model="vm.agency.ContactLastName"
              required>
            <div ng-messages="addressForm.ContactLastName.$error" md-auto-hide="false" ng-show="addressForm.ContactLastName.$touched">
              <div ng-message when="required">
                <span translate>Last name is required.</span>
              </div>
              <div ng-message when="pattern"><span>Only text is allowed.</span></div>
              <div ng-message when="minlength"><span>Minimum 4 character is required.</span></div>
              <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
            </div>
          </md-input-container>
        </div>
        <div layout layout-xs="column" flex>
          <md-input-container flex class="mrgR-10">
            <label>Location Email</label>
            <input type="email" name="locationemail" ng-model="vm.agency.LocationEmailId" ng-maxlength="100" ng-pattern="emailFormat"
              pattern=".{6,100}" allow-pattern="(\d|[a-z\@\.\_])">
            <div ng-messages="addressForm.locationemail.$error" md-auto-hide="false" ng-show="addressForm.locationemail.$touched">
              <div ng-message when="email">
                <span translate>Please enter a valid email.</span>
              </div>
              <div ng-message when="pattern"><span>Please enter a valid email address.</span></div>
              <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
            </div>
          </md-input-container>
          <md-input-container flex class="mrgL-10">
            <label>Description</label>
            <input name="Description" type="text" ng-model="vm.agency.Description" ng-maxlength="200">
            <div ng-messages="addressForm.Description.$error" md-auto-hide="false" ng-show="addressForm.Description.$touched">
              <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-xs="column">
          <md-input-container flex class="mrgR-10">
            <label translate>Address</label>
            <input name="address" ng-model="vm.agency.Address" ng-maxlength="200" required>
            <div ng-messages="addressForm.address.$error" md-auto-hide="false" ng-show="addressForm.address.$touched">
              <div ng-message when="required">
                <span translate>Address is required.</span>
              </div>
              <div ng-message when="maxlength">
                <span translate>Maximum 200 character allowed.</span>
              </div>
              <!--<div ng-message when="minlength">
														<span translate>Minimum 20 character required.</span>
													</div>-->
            </div>
          </md-input-container>
          <md-input-container flex class="mrgL-10">
            <label translate>City</label>
            <input type="text" name="cityname" ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/"  ng-model="vm.agency.CityName" ng-maxlength="100" ng-minlength="3">
            <div ng-messages="addressForm.cityname.$error" md-auto-hide="false" ng-show="addressForm.cityname.$touched">
              <div ng-message when="minlength"><span>Minimum 3 characters are required.</span></div>
              <div ng-message when="maxlength"><span>Maximum 100 characters are allowed.</span></div>
              <div ng-message when="pattern"><span>Invalid city name.</span></div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-xs="column" class="margin-bottom-20">
          <md-input-container flex class="mrgR-10">
            <label for="state">State</label>
            <md-select name="state" id="state" ng-model="vm.agency.StateId" ng-disabled="!vm.agency.CountryId" required>
              <md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
            </md-select>
            <div ng-messages="addressForm.state.$error" md-auto-hide="false" ng-show="addressForm.state.$touched">
              <div ng-message when="required">
                <span translate>State is required.</span>
              </div>
            </div>
           
          </md-input-container>
          <md-input-container flex class="mrgL-10">
             <label translate>Country</label>
            <md-select name="country" ng-model="vm.agency.CountryId" ng-change="vm.GetState(vm.agency.CountryId)" required>
              <md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
            </md-select>
            <div ng-messages="addressForm.country.$error" md-auto-hide="false" ng-show="addressForm.country.$touched">
              <div ng-message when="required">
                <span translate>Country is required.</span>
              </div>
            </div>
            

          </md-input-container>
        </div>
        <div layout layout-xs="column" flex>
          <md-input-container flex class="mrgR-10">
            <label>Zip Code</label>
            <input name="postalcode" type="text" ng-maxlength="6" ng-minlength="5" ng-model="vm.agency.PostalCode">
            <div ng-messages="addressForm.postalcode.$error" md-auto-hide="false" ng-show="addressForm.postalcode.$touched">
              <!--<div ng-message when="pattern"><span>Please enter valid mobile number.</span></div>-->
              <!--<div ng-message when="pattern"><span>Please enter valid postal code.</span></div>-->
              <div ng-message when="maxlength"><span>Maximum length is 6.</span></div>
              <div ng-message when="minlength"><span>Minimum length is 5.</span></div>
              <div ng-message when="required"><span>Postal code is required.</span></div>
              <!--<div ng-message when="maxlength"><span>Maximum length is 6.</span></div>-->
            </div>
          </md-input-container>

          <!--<md-input-container flex class="mrgL-10">
            <label>Phone Number</label>
            <input name="phonenumber" type="text" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____" ng-model="vm.agency.PhoneNumber"
              required>
            <div ng-messages="addressForm.phonenumber.$error" md-auto-hide="false" ng-show="addressForm.phonenumber.$touched">
              <div ng-message when="required">
                <span>Phonenumber is required</span>
              </div>
              <div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
            </div>
          </md-input-container>-->
        </div>

      </div>
      <div class="button-toolbar" layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-show="id == 0" ng-click="vm.editLocation(addressForm,vm.agency)" ng-disabled="addressForm.$invalid">{{vm.buttonText}}</md-button>
        <!--<md-button class="md-primary md-raised" ng-show="id > 0" ng-click="vm.updateLocation(addressForm,vm.agency)" ng-disabled="addressForm.$invalid">Update</md-button>-->
        <md-button class="md-warn md-raised" ng-click="vm.cancelClick()">Cancel</md-button>
        <!--<md-button>Cancel</md-button>-->
      </div>
    </form>
  </md-dialog-content>
</md-dialog>