<!--<h3>Agency Information</h3>
<md-divider></md-divider>
<h4>Basic Information</h4>-->
<md-content class="padded-content-page">
	<form name="agencyObj" tri-wizard-form novalidate>
		<div layout="row" layout-xs="column" layout-wrap>
			<div flex-gt-sm="50" flex-gt-md="50" flex-gt-xs="100">
				<md-input-container class="md-block mrgR-10">
					<label for="agencyname" translate>Organization Name</label>
					<input id="agencyname" label="agencyname" name="agencyname" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" type="text" ng-minlength="3"
						ng-model="vm.agency.agencyname" required/>
					<div ng-messages="agencyObj.agencyname.$error" md-auto-hide="false" ng-show="agencyObj.agencyname.$touched">
						<div ng-message when="required"><span>Organization name is required.</span></div>
						<div ng-message when="pattern"><span>Only text is allowed.</span></div>
						<div ng-message when="maxlength">
							<span translate>Maximum 100 character allowed.</span>
						</div>
						<div ng-message when="minlength">
							<span translate>Minimum 3 character required.</span>
						</div>
					</div>
				</md-input-container>
			</div>
			<div flex-gt-md="50" flex-gt-sm="50" flex-gt-xs="100">
				<md-input-container class="md-block mrgL-10">
					<label for="email" translate>Email</label>
					<input id="email" label="email" name="email" type="email" ng-model="vm.agency.email" ng-maxlength="100" ng-pattern="emailFormat"
						pattern=".{6,100}" allow-pattern="(\d|[a-z\@\.\_])" required ng-disabled="true" />
					<div ng-messages="agencyObj.email.$error" md-auto-hide="false" ng-show="agencyObj.email.$touched">
						<div ng-message when="required"><span>Email is required.</span></div>
						<div ng-message when="pattern"><span>please enter a valid email address.</span></div>
						<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
					</div>
				</md-input-container>
			</div>
		</div>
		<h3>Owner</h3>
		<div layout layout-xs="column" flex>
			<md-input-container flex class="mrgR-10">
				<label>First Name</label>
				<input type="text" name="OwnerFirstName" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.agency.OwnerFirstName" ng-maxlength="100"
					ng-minlength="3" required>
				<div ng-messages="agencyObj.OwnerFirstName.$error" md-auto-hide="false" ng-show="agencyObj.OwnerFirstName.$touched">
					<div ng-message when="required">
						<span translate>First name is required</span>
					</div>
					<div ng-message when="pattern"><span>Only text is allowed.</span></div>
					<div ng-message when="minlength"><span>Minimum 3 character is required.</span></div>
					<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
				</div>
			</md-input-container>
			<md-input-container flex class="mrgL-10">
				<label>Last Name</label>
				<input type="text" name="OwnerLastName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="3" ng-model="vm.agency.OwnerLastName"
					required>
				<div ng-messages="agencyObj.OwnerLastName.$error" md-auto-hide="false" ng-show="agencyObj.OwnerLastName.$touched">
					<div ng-message when="required">
						<span translate>Last name is required.</span>
					</div>
					<div ng-message when="pattern"><span>Only text is allowed.</span></div>
					<div ng-message when="minlength"><span>Minimum 3 character is required.</span></div>
					<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
				</div>
			</md-input-container>
		</div>
		<h3 flex>Contact Person</h3>
		<div layout="row" layout-xs="column" layout-wrap>
			<div flex-gt-sm="50" flex-gt-md="50" flex-gt-xs="100">
				<md-input-container class="md-block mrgR-10">
					<label for="ContactPersonFirstName" translate>First Name</label>
					<input id="ContactPersonFirstName" label="ContactPersonFirstName" name="ContactPersonFirstName" ng-pattern="/^[a-zA-Z\s]*$/"
						ng-maxlength="100" type="text" ng-minlength="3" ng-model="vm.agency.ContactPersonFirstName" required/>
					<div ng-messages="agencyObj.ContactPersonFirstName.$error" md-auto-hide="false" ng-show="agencyObj.ContactPersonFirstName.$touched">
						<div ng-message when="required"><span>First name is required.</span></div>
						<div ng-message when="pattern"><span>Only text is allowed.</span></div>
						<div ng-message when="maxlength">
							<span translate>Maximum 100 character allowed.</span>
						</div>
						<div ng-message when="minlength">
							<span translate>Minimum 3 character required.</span>
						</div>
					</div>
				</md-input-container>
			</div>
			<div flex-gt-md="50" flex-gt-sm="50" flex-gt-xs="100">
				<md-input-container class="md-block mrgL-10">
					<label for="ContactPersonLastName" translate>Last Name</label>
					<input id="agencyname" label="ContactPersonLastName" name="ContactPersonLastName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100"
						type="text" ng-minlength="3" ng-model="vm.agency.ContactPersonLastName" required/>
					<div ng-messages="agencyObj.ContactPersonLastName.$error" md-auto-hide="false" ng-show="agencyObj.ContactPersonLastName.$touched">
						<div ng-message when="required"><span>Last name is required.</span></div>
						<div ng-message when="pattern"><span>Only text is allowed.</span></div>
						<div ng-message when="maxlength">
							<span translate>Maximum 100 character allowed.</span>
						</div>
						<div ng-message when="minlength">
							<span translate>Minimum 3 character required.</span>
						</div>
					</div>
				</md-input-container>
			</div>
		</div>
		<!--<h4>Contact Information</h4>-->

		<div layout="row" layout-xs="column" layout-wrap>
			<div flex="50" flex-xs="100" flex-gt-md="50">
				<md-input-container class="md-block mrgR-10">
					<label for="address" translate>Address</label>
					<input id="address" label="address" name="address" type="text" ng-model="vm.agency.address" required/>
					<div ng-messages="agencyObj.address.$error" md-auto-hide="false" ng-show="agencyObj.address.$touched">
						<div ng-message when="required">
							<span translate>Address is required.</span>
						</div>
						<!--<div ng-message when="maxlength">
							<span translate>Maximum 200 character allowed.</span>
						</div>
						<div ng-message when="minlength">
							<span translate>Minimum 20 character required.</span>
						</div>-->
					</div>
				</md-input-container>
			</div>
				<div flex="50" flex-gt-md="50" flex-xs="100">
				<md-input-container class="md-block mrgL-10">
					<label for="cityname" translate>City</label>
					<!--<md-select name="cityid" id="cityid" placeholder="City" ng-model="vm.agency.cityid" required>
							<md-option value="1">New York</md-option>
							<md-option value="2">New Jersey</md-option>
							<md-option value="3">Texas</md-option>
						</md-select>-->
					<input type="text" name="cityname" ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/"   ng-model="vm.agency.cityname" ng-maxlength="100" ng-minlength="3">
					<div ng-messages="agencyObj.cityname.$error" md-auto-hide="false" ng-show="agencyObj.cityname.$touched">
						<!--<div ng-message when="required">
														<span translate>City name is required</span>
													</div>-->
						<div ng-message when="pattern"><span>Invalid city name.</span></div>
						<div ng-message when="minlength"><span>Minimum 3 characters are required.</span></div>
						<div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
					</div>
				</md-input-container>
			</div>			
			<div flex="50" flex-gt-md="50" flex-xs="100">
				<md-input-container class="md-block mrgR-10">
					<label for="stateid" translate>State</label>
					<md-select name="stateid" id="stateid" placeholder="State" ng-model="vm.agency.stateid" ng-disabled="!vm.agency.countryid">
						<md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
					</md-select>
					<div ng-messages="agencyObj.stateid.$error" md-auto-hide="false" ng-show="agencyObj.stateid.$touched">
						<div ng-message when="required"><span>State is required.</span></div>
					</div>
				</md-input-container>
			</div>
			<div flex="50" flex-xs="100" flex-gt-md="50">
				<md-input-container class="md-block mrgL-10">
					<label for="Country" translate>Country</label>
					<md-select name="countryid" id="countryid" placeholder="Country" ng-model="vm.agency.countryid" ng-change="vm.GetState(vm.agency.countryid)">
						<md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
					</md-select>
					<div ng-messages="agencyObj.countryid.$error" md-auto-hide="false" ng-show="agencyObj.countryid.$touched">
						<div ng-message when="required"><span>Country is required.</span></div>
					</div>
				</md-input-container>
			</div>
			<div flex="50" flex-xs="100" flex-gt-md="50">
				<md-input-container class="md-block mrgR-10">
					<label for="postalcode" translate>Zip Code</label>
					<input type="text" ng-maxlength="6" ng-minlength="5" label="postalcode" name="postalcode" id="postalcode" ng-model="vm.agency.postalcode"
					/>
					<div ng-messages="agencyObj.postalcode.$error" md-auto-hide="false" ng-show="agencyObj.postalcode.$touched">
						<div ng-message when="maxlength"><span>Maximum length should be 6</span></div>
						<div ng-message when="minlength"><span>Minimum length is 5.</span></div>
						<!--<div ng-message when="require
						d"><span>Please enter postal code </span></div>-->
					</div>
				</md-input-container>
			</div>
			<div flex="50" flex-xs="100" flex-gt-md="50">
				<md-input-container class="md-block mrgL-10">
					<label for="phonenumber" translate>Phone Number</label>
					<input name="phonenumber" type="text" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____" id="phonenumber" name='phonenumber'
						label="phonenumber" ng-model="vm.agency.phonenumber" required/>
					<div ng-messages="agencyObj.phonenumber.$error" md-auto-hide="false" ng-show="agencyObj.phonenumber.$touched">
						<div ng-message when="required"><span>Please enter mobile number.</span></div>
						<!--<div ng-message when="maxlength"><span>Maximum length should be 15</span></div>
						<div ng-message when="minlength"><span>Minimum length should be 10</span></div>-->
					</div>
				</md-input-container>
			</div>
			<div flex="50" flex-xs="100" flex-gt-md="50">
			</div>
		</div>
		<div layout="row" layout-xs="column" layout-wrap>
			<md-input-container flex class="mrgR-class mrgL-class">
				<label for="TimeZone">Select Time Zone</label>
				<md-select placeholder="Time Zone" name="TimeZone" id="TimeZone" ng-model="vm.query.TimeZone" required>
					<md-option value="{{timezone.Id}}" ng-repeat="timezone in vm.TimezoneList">{{timezone.DisplayName}}</md-option>
				</md-select>
				<div ng-messages="agencyObj.TimeZone.$error" md-auto-hide="false" ng-show="agencyObj.TimeZone.$touched">
						<div ng-message when="required"><span>Please select Time Zone.</span></div>
						<!--<div ng-message when="maxlength"><span>Maximum length should be 15</span></div>
						<div ng-message when="minlength"><span>Minimum length should be 10</span></div>-->
					</div>
			</md-input-container>
		</div>

		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-primary md-raised" ng-click="vm.updateAgency(agencyObj)" ng-disabled="agencyObj.$invalid">Update</md-button>
			<!--<md-button class="md-accent md-raised">Reset</md-button>-->
			<md-button class="md-warn md-raised" ng-click="vm.cancelUpdate()">Cancel</md-button>

		</md-card-actions>
	</form>
</md-content>