<div class="example-code md-whiteframe-z1 margin-bottom-90">
	<div class="">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content>
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Name</label>
								<input type="text" label="name" name="name" id="name" ng-model="vm.query.LocationName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>

		<div class="margin-top-20">
			
			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
				<md-table-container>
					<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
						<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetLocationList">
							<tr md-row>
								<!--<th md-column><span>#</span></th>-->
								<th md-column md-order-by="LocationName"><span>{{vm.columns.LocationName}}</span></th>
								<th md-column md-order-by="FirstName"><span>{{vm.columns.ContactFirstName}}</span></th>
								<th md-column md-order-by="LastName"><span>{{vm.columns.ContactLastName}}</span></th>
								<th md-column md-order-by="EmailId"><span>{{vm.columns.LocationEmailId}}</span></th>
								<th md-column><span>ACTION</span></th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row md-auto-select md-select="location" md-select-id="location.ID" ng-repeat="location in vm.locationList">
								<!--<td md-cell>{{ $index + 1 }}</td>-->
								<td md-cell>{{location.LocationName}}</a>
								</td>
								<td md-cell>{{location.ContactFirstName}}</td>
								<td md-cell>{{location.ContactLastName}}</td>
								<td md-cell>{{location.LocationEmailId}}</td>

								<td md-cell style="min-width:60px">
									<a class="md-primary" ng-click="vm.showEditLocationDialogue($event,location)" style="cursor:pointer">
										<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
										<md-tooltip>Edit</md-tooltip>
									</a> &nbsp;
									<a class="md-primary" ng-click="vm.showDeleteLocationDialogue($event,location.ID)" style="cursor:pointer">
										<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
										</md-icon>
										<md-tooltip>Delete</md-tooltip>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>

				<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
				<md-input-container flex class="text-center">
					<h2>No Location list found.</h2>
				</md-input-container>
			</div>
				<!--<div layout="row" layout-align="center center"" class="layout-align-center-center layout-row">-->

				<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.locationCount}}"
					md-on-paginate="vm.GetLocationList" md-page-select></md-table-pagination>
			</div>
			<!--</div>-->
		</div>
		<md-button ng-click="vm.showAddLocationDialogue()" class="md-fab md-accent md-fab-bottom-right md-hue-3 addbtn-pos" aria-label="Add Location">
			<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
			<md-tooltip>Add Location</md-tooltip>
		</md-button>
	</div>
</div>