 <h3 class="left-heading">Holiday Listing</h3>
  <md-card-actions layout="row" layout-align="end center ">
    <md-button class="md-primary">
      <md-icon md-font-icon="fa fa-plus"></md-icon>
      Add Holiday</md-button>
  </md-card-actions>
  <div class="clear"></div>
  <md-divider></md-divider>

<md-table-container  class="lesson-table">
        <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
          <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
            <tr md-row>
              <th md-column>Title</th>
              <th md-column>Date</th>
              <th md-column>Status</th>
              <th md-column class="text-center">Action</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row >
              <td md-cell>St John's day</td>
              <td md-cell>08/11/2016</td>
              <td md-cell>Active</td>
               <td md-cell class="text-center">
         <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-pencil-square-o"></md-icon>
              </md-button>
           <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-trash"></md-icon>
              </md-button> </td>
            </tr>
           <tr md-row >
              <td md-cell>St John's day</td>
              <td md-cell>08/11/2016</td>
              <td md-cell>Active</td>
               <td md-cell class="text-center">
         <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-pencil-square-o"></md-icon>
              </md-button>
           <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-trash"></md-icon>
              </md-button> </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>