<style>
	.view-btn{ position:absolute; right:0; top:2px; text-align:center; width:30px; height:30px; line-height:30px; display:block;}
</style>
<md-content class="md-padding">
	<form name="paymentForm" tri-wizard-form>


		<!--<div>
                                        <md-radio-group class="md-primary" ng-model="vm.agency.IsCreditCash" ng-init="data.primary = 'Red'" layout="row">
                                            <md-radio-button value="true">Credit Card</md-radio-button>
                                            <md-radio-button value="false">Cash</md-radio-button>
                                        </md-radio-group>
                                    </div>-->
		<div>
			<md-input-container class="md-block">
				<label translate>Name appears on Card</label>
				<input type="text" name="Card" id="Card" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.paymentDetail.CardName" ng-maxlength="100"
					cc-number required>
				<div ng-messages="paymentForm.Card.$error" md-auto-hide="false" ng-show="paymentForm.Card.$touched">
					<div ng-message when="required">
						<span translate>Card name is required</span>
					</div>
					<div ng-message when="pattern">
						<span translate>Only text is allowed.</span>
					</div>
					<div ng-message ng-if="paymentForm.ccNumber.$invalid">
						<span translate>Please enter correct card number</span>
					</div>

					<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
				</div>
			</md-input-container>
			<div layout layout-xs="column" flex>
				<md-input-container flex class="mrgR-10">
					<label translate>Card Type</label>
					<md-select name="name" ng-model=" vm.paymentDetail.CardType" ng-change="vm.checkStatus()" required>
						<md-option value="Visa" translate>Visa</md-option>
						<md-option value="Master Card" translate>Master Card</md-option>
						<md-option value="American Express" translate>American Express</md-option>
						<md-option value="Discover" translate>Discover</md-option>
					</md-select>
					<div ng-messages="paymentForm.name.$error" md-auto-hide="false" ng-show="paymentForm.name.$touched">
						<div ng-message when="required">
							<span translate>This field is required</span>
						</div>
					</div>
				</md-input-container>

				<md-input-container ng-if="mask== true" flex class="mrgL-10">
					<label translate ng-if="mask==true">Card Number</label>
					<input type="text" ng-if="mask == true" name="number" disabled id="text2"  ng-model="vm.paymentDetail.CardNumberstring" 
						placeholder="{{vm.placeholder}}" required >
						<a class="view-btn" ng-click="vm.show()" ><span class="fa fa-eye" ng-if="mask == true"> </span></a>
						
					<div ng-messages="paymentForm.number.$error" ng-show="paymentForm.number.$touched" md-auto-hide="false">
						<div ng-message when="required">
							<span translate>Card number is required.</span>
						</div>
						<!--<div ng-message when="maxlength"><span>Maximum length is 16.</span></div>-->
					</div>
				</md-input-container>
				
				<md-input-container ng-if="mask==false" flex class="mrgL-10">
					<label translate ng-if="mask==false">Card Number</label>
					
						<input type="text" name="number" ng-if="mask == false" ui-mask={{vm.pattern}}  ng-model="vm.paymentDetail.CardNumber" 
						placeholder="{{vm.placeholder}}" required >
						<a ng-click="vm.hide()" class="view-btn"><span class="fa fa-eye" ng-if="mask == false" > </span></a>
					<div ng-messages="paymentForm.number.$error" ng-show="paymentForm.number.$touched" md-auto-hide="false">
						<div ng-message when="required">
							<span translate>Card number is required.</span>
						</div>
						<!--<div ng-message when="maxlength"><span>Maximum length is 16.</span></div>-->
					</div>
				</md-input-container>
			</div>


			<div layout layout-xs="column" flex>
				<md-input-container flex class="mrgR-10">
					<label translate>Card Expiry Month</label>
					<md-select name="month" ng-model="vm.paymentDetail.CardExpiryMonth" required>
						<md-option value="1" translate>01</md-option>
						<md-option value="2" translate>02</md-option>
						<md-option value="3" translate>03</md-option>
						<md-option value="4" translate>04</md-option>
						<md-option value="5" translate>05</md-option>
						<md-option value="6" translate>06</md-option>
						<md-option value="7" translate>07</md-option>
						<md-option value="8" translate>08</md-option>
						<md-option value="9" translate>09</md-option>
						<md-option value="10" translate>10</md-option>
						<md-option value="11" translate>11</md-option>
						<md-option value="12" translate>12</md-option>
					</md-select>
					<div ng-messages="paymentForm.month.$error" md-auto-hide="false" ng-show="paymentForm.month.$touched">
						<div ng-message when="required">
							<span translate>Month is required.</span>
						</div>
					</div>
				</md-input-container>
				<md-input-container flex class="mrgL-10">
					<label translate>Card Expiry Year</label>
					<md-select name="year" ng-model="vm.paymentDetail.CardExpiryYear" required>
						<md-option ng-repeat="year in years" value="{{year}}" translate>{{year}}</md-option>
						<!--<md-option value="02" translate>2017</md-option>
													<md-option value="03" translate>2018</md-option>
													<md-option value="04" translate>2019</md-option>
													<md-option value="05" translate>2020</md-option>-->
					</md-select>
					<div ng-messages="paymentForm.year.$error" md-auto-hide="false" ng-show="paymentForm.year.$touched">
						<div ng-message when="required">
							<span translate>Year is required.</span>
						</div>
					</div>
				</md-input-container>
				<md-input-container flex class="mrgL-10">
					<label translate>CVV</label>
					<input type="password" name="CVV" ng-minlength="{{vm.CVV}}" ng-maxlength="{{vm.CVVmax}}"  ng-model="vm.paymentDetail.CVV" required>
					<div ng-messages="paymentForm.CVV.$error" md-auto-hide="false" ng-show="paymentForm.CVV.$touched">
						<div ng-message when="required">
							<span translate>CVV is required.</span>
						</div>
						<div ng-message when="minlength"><span>Minimum length is {{vm.CVV}}.</span></div>
						<div ng-message when="maxlength"><span>Maximum length is {{vm.CVVmax}}.</span></div>
						
					</div>
				</md-input-container>
			</div>
		</div>

		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-primary md-raised" ng-click="vm.updatePayment(vm.paymentDetail)" ng-disabled="paymentForm.$invalid">Update</md-button>
			<!--<md-button class="md-accent md-raised">Reset</md-button>-->
			<md-button class="md-warn md-raised" ng-click="vm.cancelUpdate()">Cancel</md-button>

		</md-card-actions>
	</form>
</md-content>