<md-dialog class="classpage">
  <form name="Addschedule" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Schedule</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      <div layout="row" layout-xs="column" class="margin-bottom-20">
      		<md-list flex>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="row" layout-xs="column">
                        <h3 flex="10">Student</h3>
                        <p flex>Katie Green</p>
                    </div>
                    <md-divider ng-hide="$last"></md-divider>
                </md-list-item>
            </md-list>
      </div>
      
    
      
      <div layout="row" layout-xs="column" class="margin-bottom-20">
          <md-input-container flex class="mrgL-10">
            <label for="Category">Category</label>
            <md-select placeholder="Category" name="Category" id="Category" ng-model="vm.student.Category" required>
                <md-option value="1">Pre-School</md-option>
                <md-option value="2">Infant</md-option>
            </md-select>
            <div ng-messages="Addschedule.Category.$error" md-auto-hide="false" ng-show="Addschedule.Category.$touched">
                <div ng-message when="required"><span>Please choose category.</span></div>
            </div>
        </md-input-container>
         <md-input-container flex class="mrgR-10 mrgL-10">
            <label for="Class">Class</label>
            <md-select placeholder="Class" name="Class" id="Class" ng-model="vm.student.Class" required>
                <md-option value="1">Test Class 1</md-option>
                <md-option value="2">Test Class 2</md-option>
            </md-select>
            <div ng-messages="Addschedule.Class.$error" md-auto-hide="false" ng-show="Addschedule.Class.$touched">
                <div ng-message when="required"><span>Please choose class.</span></div>
            </div>
        </md-input-container>
         <md-input-container flex class="mrgL-10">
            <label for="Room">Room</label>
            <md-select placeholder="Room" name="Room" id="Room" ng-model="vm.student.Room" required>
                <md-option value="1">Room 1</md-option>
                <md-option value="2">Room 2</md-option>
            </md-select>
            <div ng-messages="Addschedule.Room.$error" md-auto-hide="false" ng-show="Addschedule.Room.$touched">
                <div ng-message when="required"><span>Please choose room.</span></div>
            </div>
        </md-input-container>
    </div>
      
       		 <div layout="row" layout-xs="column">
                  <div flex="33">
                    <md-input-container class="md-block">
                     <label for="Schedulestartdate">Schedule Start Date</label>
            <md-datepicker id="Schedulestartdate" ng-model="agecutoff" name="Schedulestartdate" md-placeholder="Enter date" required></md-datepicker>
            	<div ng-messages="Addschedule.Schedulestartdate.$error" md-auto-hide="false" ng-show="Addschedule.Schedulestartdate.$touched">
                        <div ng-message when="required"><span>Please enter date.</span></div>
                    </div>
                    </md-input-container>
                  </div>
                  <div flex="33">
                    <md-input-container class="md-block">
                     <label for="Scheduleenddate">Schedule End Date</label>
                    <md-datepicker id="Scheduleenddate" ng-model="agecutoff" name="Scheduleenddate" md-placeholder="Enter date" required></md-datepicker>
                    <div ng-messages="Addschedule.Scheduleenddate.$error" md-auto-hide="false" ng-show="Addschedule.Scheduleenddate.$touched">
                                <div ng-message when="required"><span>Please enter date.</span></div>
                    </div>
                    </md-input-container>
                  </div>
                </div>
                
                <h3>Time</h3>
                
              <md-table-container>
          <table md-table class="md-primary md-data-table table-striped table-bordered" ng-model="vm.selected" md-progress="vm.promise">
            <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
              <tr md-row>
                <th md-column>Monday</th>
                <th md-column>Tuesday</th>
                <th md-column>Wednesday</th>
                <th md-column>Thursday</th>
                <th md-column>Friday</th>
                <th md-column>Saturday</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row >
                <td md-cell>
                	<div layout="row" layout-xs="column">
                  
                    <md-input-container flex class="margin-bottom-0">
                    <label for="Intime">In</label>
                      <input id="Intime" name="Intime" type="text" required>
                      <div ng-messages="Addschedule.Intime.$error" ng-model="vm.student.Intime" md-auto-hide="false" ng-show="Addschedule.Intime.$touched">
                        <div ng-message when="required"><span>Please enter time.</span></div>
                    </div>
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
               <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
                <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
                <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
                <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
                <td md-cell>
                	<div layout="row" layout-xs="column">
                    <md-input-container flex class="margin-bottom-0">
                    <label>In</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                	  <md-input-container flex >
                      <label>Out</label>
                      <input type="text">
                    </md-input-container>
                    </div>
                    </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
               
        
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="answer()"> Save </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()"> Cancel </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

