<md-dialog class="customdialog40">
  <form name="Addtution" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Tution Fee</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      			<div layout="row" layout-xs="column">
                    <md-input-container flex class="md-block mrgR-10">
                    <label for="Tutionrate">Tution Rate</label>
                     <md-select placeholder="Tution Rate" ng-model="Tution" id="Tutionrate" name="Tutionrate" required>
                      <md-option value="1">Tution Fee (Monthly-200)</md-option>
                      <md-option value="2">Tution Fee (Monthly-300)</md-option>
                      <md-option value="3">Tution Fee (Monthly-400)</md-option>
                    </md-select>
                     <div ng-messages="Addtution.Tutionrate.$error" md-auto-hide="false" ng-show="Addtution.Tutionrate.$touched">
                        <div ng-message when="required"><span>Please select anyone.</span></div>
                    </div>
                    </md-input-container>
                    <md-input-container flex class="md-block mrgL-10">
                    <label for="Payername">Payer Name</label>
                     <md-select placeholder="Payer Name" ng-model="Payer" id="Payername" name="Payername" required>
                      <md-option value="1">Emily Green</md-option>
                      <md-option value="2">Emily Green</md-option>
                      <md-option value="3">Emily Green</md-option>
                    </md-select>
                    <div ng-messages="Addtution.Payername.$error" md-auto-hide="false" ng-show="Addtution.Payername.$touched">
                        <div ng-message when="required"><span>Please select anyone.</span></div>
                    </div>
                    </md-input-container>
                </div>
                
                <div layout="row" layout-xs="column" class="margin-bottom-20">
                    <md-input-container flex class="md-block">
                    <label for="Payerrelation">Payer Relation</label>
                     <md-select placeholder="Payer Relation" ng-model="Relation" id="Payerrelation" name="Payerrelation" required>
                      <md-option value="1">Mother</md-option>
                      <md-option value="2">Father</md-option>
                      <md-option value="3">Guardian</md-option>
                    </md-select>
                    <div ng-messages="Addtution.Payerrelation.$error" md-auto-hide="false" ng-show="Addtution.Payerrelation.$touched">
                        <div ng-message when="required"><span>Please select anyone.</span></div>
                    </div>
                    </md-input-container>
                </div>
      
      		  <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container class="md-block">
                     <label for="From">From</label>
            		<md-datepicker ng-model="agecutoff" md-placeholder="Enter date" id="From" name="From" required></md-datepicker>
            	<div ng-messages="Addtution.From.$error" md-auto-hide="false" ng-show="Addtution.From.$touched">
                        <div ng-message when="required"><span>Please enter date.</span></div>
                    </div>
                    </md-input-container>
                  </div>
                  <div flex>
                    <md-input-container class="md-block">
                     <label for="To">To</label>
            	<md-datepicker ng-model="agecutoff" md-placeholder="Enter date" id="To" name="To" required></md-datepicker>
            	<div ng-messages="Addtution.To.$error" md-auto-hide="false" ng-show="Addtution.To.$touched">
                        <div ng-message when="required"><span>Please enter date.</span></div>
                    </div>
                    </md-input-container>
                  </div>
                </div>
                
            	 <div layout="row" layout-xs="column" >
                
                 
                <md-input-container flex class="md-block mrgR-10 margin-top-0" >
                    <label for="Discount">Discount</label>
                    <input type="text" label="Discount"  id="Discount" name="Discount" ng-model="Discount" required>
                    <div ng-messages="Addtution.Discount.$error" md-auto-hide="false" ng-show="Addtution.Discount.$touched">
                        <div ng-message when="required"><span>Please add amount.</span></div>
                    </div>
                </md-input-container>
                 <md-input-container flex class="md-block mrgL-10 margin-top-0">
                    <label for="Disctype">Disc. Type</label>
                     <md-select placeholder="Disc. Type" ng-model="Disctype" id="Disctype" name="Disctype" required>
                      <md-option value="1">Percentage</md-option>
                      <md-option value="2">Amount</md-option>
                    </md-select>
                     <div ng-messages="Addtution.Disctype.$error" md-auto-hide="false" ng-show="Addtution.Disctype.$touched">
                        <div ng-message when="required"><span>Please select type.</span></div>
                    </div>
                    </md-input-container>
                </div>
              
                <div layout="row" layout-xs="column">
                <md-input-container flex class="md-block margin-top-0 margin-bottom-0">
                    <label>Notes</label>
                    <textarea></textarea>
                </md-input-container>
                </div>
              
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="answer()"> Submit </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()"> Cancel </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

