<md-dialog class="customdialog40">
  <form name="StudentSkill" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Student Skill</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      		  <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container class="md-block">
                     <label for="Skillstartdate">Skill Start Date</label>
            			<md-datepicker id="Skillstartdate" ng-model="skill1" name="Skillstartdate" md-placeholder="Enter date" required></md-datepicker>
                        <div ng-messages="StudentSkill.Skillstartdate.$error" md-auto-hide="false" ng-show="StudentSkill.Skillstartdate.$touched">
                        <div ng-message when="required"><span>Please enter date.</span></div>
                    </div>
                    </md-input-container>
                  </div>
                  <div flex>
                    <md-input-container class="md-block">
                     <label for="Skillduedate">Skill Due Date</label>
            		<md-datepicker id="Skillduedate" ng-model="skill2" name="Skillduedate" md-placeholder="Enter date" required></md-datepicker>
                     <div ng-messages="StudentSkill.Skillduedate.$error" md-auto-hide="false" ng-show="StudentSkill.Skillduedate.$touched">
                        <div ng-message when="required"><span>Please enter date.</span></div>
                    </div>
                    </md-input-container>
                  </div>
                  
                </div>
                
                <div layout="row" layout-xs="column">
                 <div flex>
                    <md-input-container class="md-block margin-bottom-0">
                     <label for="Skillattained">Skill Attained Date</label>
            <md-datepicker id="Skillattained" ng-model="agecutoff" name="Skillattained" md-placeholder="Enter date" required></md-datepicker>
             <div ng-messages="StudentSkill.Skillattained.$error" md-auto-hide="false" ng-show="StudentSkill.Skillattained.$touched">
                        <div ng-message when="required"><span>Please enter date.</span></div>
                    </div>
                    </md-input-container>
                  </div>
                  </div>
                
       		 <div layout="row" layout-xs="column">
                    <md-input-container flex>
                    <label for="Topping">Topping</label>
                    <md-select name="Topping" id="Topping" ng-model="selectedToppings" multiple required>
                        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'skill' }">{{topping.name}}</md-option>
                    </md-select>
                    <div ng-messages="StudentSkill.Topping.$error" md-auto-hide="false" ng-show="StudentSkill.Topping.$touched">
                        <div ng-message when="required"><span>Please select category.</span></div>
                    </div>
                  </md-input-container>
                    
                
                </div>
                
                <div layout="row" layout-xs="column">
                <md-input-container flex class="md-block" class="margin-bottom-0">
                    <label for="Skillinstructor">Skill Instructor</label>
                    <textarea></textarea>
                </md-input-container>
                </div>
              
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="answer()"> Submit </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()"> Cancel </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

