<md-dialog class="customdialog40">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Update Tution Fee</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      			<div layout="row" layout-xs="column">
                    <md-input-container flex class="md-block mrgR-10">
                    <label>Tution Rate</label>
                     <md-select placeholder="Tution Rate" ng-model="Tution" >
                      <md-option value="1">Tution Fee (Monthly-200)</md-option>
                      <md-option value="2">Tution Fee (Monthly-300)</md-option>
                      <md-option value="3">Tution Fee (Monthly-400)</md-option>
                    </md-select>
                    </md-input-container>
                    <md-input-container flex class="md-block mrgL-10">
                    <label>Payer Name</label>
                     <md-select placeholder="Payer Name" ng-model="Payer" >
                      <md-option value="1">Emily Green</md-option>
                      <md-option value="2">Emily Green</md-option>
                      <md-option value="3">Emily Green</md-option>
                    </md-select>
                    </md-input-container>
                </div>
                
                <div layout="row" layout-xs="column" class="margin-bottom-20">
                    <md-input-container flex class="md-block">
                    <label>Payer Relation</label>
                     <md-select placeholder="Payer Relation" ng-model="Relation" >
                      <md-option value="1">Mother</md-option>
                      <md-option value="2">Father</md-option>
                      <md-option value="3">Guardian</md-option>
                    </md-select>
                    </md-input-container>
                </div>
      
      		  <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container class="md-block">
                     <label>From</label>
            <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                  </div>
                  <div flex>
                    <md-input-container class="md-block">
                     <label>To</label>
            <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                  </div>
                </div>
                
            	 <div layout="row" layout-xs="column" >
                <md-input-container flex class="md-block mrgR-10 margin-top-0" >
                    <label>Discount</label>
                    <input type="text">
                </md-input-container>
                 <md-input-container flex class="md-block mrgL-10 margin-top-0">
                    <label>Disc. Type</label>
                     <md-select placeholder="Disc. Type" ng-model="Disc" >
                      <md-option value="1">Percentage</md-option>
                      <md-option value="2">Amount</md-option>
                    </md-select>
                    </md-input-container>
                </div>
              
                <div layout="row" layout-xs="column">
                <md-input-container flex class="md-block margin-top-0 margin-bottom-0">
                    <label>Notes</label>
                    <textarea></textarea>
                </md-input-container>
                </div>
              
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="answer()"> Submit </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()"> Cancel </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

