<md-list>
    <md-subheader class="md-no-sticky">Primary Action</md-subheader>
    <md-list-item class="md-3-line" ng-repeat="item in ::vm.emails track by $index">
        <md-checkbox ng-model="item.selected"></md-checkbox>
        <div class="md-list-item-text">
            <h3>{{::item.from.name}}</h3>
            <h4>{{::item.subject}}</h4>
            <p>{{::item.content[0]}}</p>
        </div>
    </md-list-item>
    <md-divider ></md-divider>
    <md-subheader class="md-no-sticky">Primary & Secondary Action</md-subheader>
    <md-list-item ng-repeat="item in ::vm.emails track by $index">
        <img ng-src="{{::item.from.image}}" class="md-avatar" alt="{{::item.from.name}}" />
        <p>{{::item.from.name}}</p>
        <md-switch class="md-secondary" ng-model="item.selected"></md-switch>
    </md-list-item>
</md-list>
