.seed-list {
  list-style: lower-greek;
}

.md-button.md-icon-button.margin0 {
    margin: 0 0px;
}
table.md-table{
  overflow:auto;
}
.side-menu-link{
  padding: 0 14px;
}

.attend-image{
  width: 30%;
  float: left;
  margin-right: 5%;
}
.attend-content{
  width: 65%;
  float: left;
}
.drop-down-list:not(.ng-hide) .side-menu-link{
  padding-right: 10px;
}
.width-100{
  width: 100%;
}
@media(max-width:1200px) {
.attend-image{
 width: 100%;
 margin-right: 0;
}
.attend-content{
  width: 100%;
}
}