$sidenav-mobile-width: 220px; //260
$sidenav-desktop-width: 240px; //300
$body-font-size-base:  12px;
$headline-font-size-base: 16px;
$title-font-size-base: 18px;
// import angular material scss
@import "angular-material/angular-material.scss";

body {
  color: #212121;
}

// set template font family
button, select, html, textarea, input {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// import app scss
@import "scss/material-backgrounds";

// Add your CSS here

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
//For astrik(*) required in red color
md-input-container.md-cyan-theme:not(.md-input-focused):not(.md-input-invalid) label.md-required:after{
  color : red !important;
}

.overflowVisible{
  overflow:inherit;
}

md-icon.md-cyan-theme.whiteColor {
    color:white;
}

