.seed-list { list-style: lower-greek;}
.fontsize16{ font-size:16px;}
.colorgreen{ color:#4caf50;}
.whitebg{ background:#fff !important;}

.whitebg-p {
	background:#fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}
.eventdetail.profiletab md-list-item.md-2-line::before, .eventdetail.profiletab md-list-item.md-2-line > .md-no-style::before {
  min-height: 42px;
}

.addp-plus.md-button.md-fab.md-fab-bottom-right {
    right: 10px;
    bottom: 10px;
}

.searchIcon{
  font-size:20px !important;
}
strong{ font-weight: 600;}

@media(max-width: 1280px) {

}
@media(max-width: 1100px) {

}
@media(max-width: 980px) {

}
@media (max-width: 767px) {
.mrgL-10{margin-left: 0 !important;}
.mrgR-10{margin-right: 0 !important}
}
@media (max-width: 600px) {

}

.md-fab-bottom-right.addbtn-pos{
  position: absolute;
  bottom:6px !important;
  right: 80px !important;
  z-index: 9 !important;
}
@media (max-width: 991px) {
._md-datepicker-floating-label.registration-date._md-datepicker-has-calendar-icon>label:not(.md-no-float):not(.md-container-ignore) {
    width: calc(100% - 70px);
}
}