<md-progress-linear class="padding-bottom-10" md-mode="indeterminate" ng-if="IsLoaded==false" ></md-progress-linear>
<iframe  src="../customapp/agencyeventcustomscheduler.html"  onLoad="loadAgencyEvent();" width="100%" height="600" ></iframe>

