<style>
	.md-dialog {
		overflow: hidden;
	}
	
	.flex-30 {
		max-width: 35%;
	}
	
	md-select {
		width: 40%;
	}
</style>
<md-dialog style="overflow: hidden;" class="mobile-fullwidth-dialog" flex="30" flex-xs="100">
	<md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
		<div class="md-toolbar-tools">
			<h2>
				<span translate>{{::vm.dialogData.title}}</span>
				<span ng-show="vm.event.title"> - {{vm.event.title}}</span>
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
				<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-divider></md-divider>
	<md-dialog-content class="md-dialog-content">
		<form class="event-dialog-form" name="eventForm">
			<md-input-container class="md-block">
				<h3 translate>Title</h3>
				<input ng-model="vm.event.title" required>
			</md-input-container>
			<div class="event-dialog-input-row" layout="row" layout-align="start center">
				<h3 flex hide-xs>Staff</h3>
				<md-select placeholder="Select staff" name="staff" id="staff" ng-model="vm.staff" required>
					<md-option ng-repeat="option in vm.dialogData.staffs" value="{{option.ID}}">{{option.Name}}</md-option>
				</md-select>
			</div>
			<div class="event-dialog-input-row" layout="row" layout-align="start center">
				<h3 flex hide-xs>Class</h3>
				<md-select placeholder="Select class" name="classes" id="classes" ng-model="vm.class" required>
					<md-option ng-repeat="option in vm.dialogData.classes" value="{{option.ID}}">{{option.ClassName}}</md-option>
				</md-select>
			</div>
			<div class="event-dialog-input-row" layout="row" layout-align="start center">
				<h3 flex hide-xs>Room</h3>
				<md-select placeholder="Select room" name="rooms" id="rooms" ng-model="vm.room" required>
					<md-option ng-repeat="option in vm.dialogData.rooms" value="{{option.ID}}">{{option.Name}}</md-option>
				</md-select>
			</div>
			<div class="event-dialog-input-row" layout="row" layout-align="start center">
				<h3 flex hide-xs translate>Start Date</h3>
				<md-datepicker ng-model="vm.start" md-placeholder="Start | triTranslate"></md-datepicker>
			</div>

			<div class="event-dialog-input-row" layout="row" layout-align="start center">
				<h3 flex translate>Start Time</h3>
				<div layout="row" layout-align="start center">
					<md-icon class="padding-right-10" md-font-icon="zmdi zmdi-access-time"></md-icon>
					<md-select class="padding-right-10" placeholder="{{'Hour' | triTranslate}}" ng-model="vm.startTime.hour">
						<md-option ng-repeat="hour in vm.dateSelectOptions.hours" ng-value="hour">{{::hour | padding:2}}</md-option>
					</md-select>
					<md-select class="padding-right-10" placeholder="{{'Minute' | triTranslate}}" ng-model="vm.startTime.minute">
						<md-option ng-repeat="minute in vm.dateSelectOptions.minutes" ng-value="minute">{{::minute | padding:2}}</md-option>
					</md-select>
				</div>
			</div>

			<div class="event-dialog-input-row" layout="row" layout-align="end center">
				<h3 flex hide-xs translate>End Date</h3>
				<md-datepicker ng-model="vm.end" ></md-datepicker>
			</div>

	<div class="event-dialog-input-row" layout="row" layout-align="start center">
				<h3 flex translate>End Time</h3>
				<div layout="row" layout-align="start center">
					<md-icon class="padding-right-10" md-font-icon="zmdi zmdi-access-time"></md-icon>
					<md-select class="padding-right-10" placeholder="{{'Hour' | triTranslate}}" ng-model="vm.endTime.hour">
						<md-option ng-repeat="hour in vm.dateSelectOptions.hours" ng-value="hour">{{::hour | padding:2}}</md-option>
					</md-select>
					<md-select class="padding-right-10" placeholder="{{'Minute' | triTranslate}}" ng-model="vm.endTime.minute">
						<md-option ng-repeat="minute in vm.dateSelectOptions.minutes" ng-value="minute">{{::minute | padding:2}}</md-option>
					</md-select>
				</div>
			</div>

			<div class="event-dialog-input-row" layout="row" layout-align="start center">
				<h3 flex hide-xs>Lesson</h3>
				<md-select placeholder="Select lesson" name="lesson" id="lesson" ng-model="vm.lesson" required>
					<md-option ng-repeat="option in vm.dialogData.lessons" value="{{option.ID}}">{{option.Name}}</md-option>
				</md-select>
			</div>
		</form>
	</md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button class="md-warn md-raised" ng-click="vm.deleteClick()" ng-show="vm.edit">Delete</md-button>
		<span flex></span>
		<md-button class="md-warn md-raised" ng-click="vm.cancelClick()">Cancel</md-button>
		<md-button ng-click="vm.okClick()" class="md-primary md-raised" ng-disabled="eventForm.$invalid">{{::vm.dialogData.confirmButtonText}}</md-button>
	</md-dialog-actions>
</md-dialog>