<md-button ng-click="vm.addSchedule($event)" class="md-fab md-accent md-fab-bottom-right" aria-label="{{'Add_EVENT' | triTranslate}}">
    <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
    <md-tooltip>Add Schedule</md-tooltip>
</md-button>
