<md-card >
    <md-toolbar class="padding-20 text-center">
        <img ng-src="{{::vm.triSettings.logo}}" alt="{{vm.triSettings.name}}">
        <h1 class="md-headline" translate>Login</h1>
    </md-toolbar>

    <md-content class="md-padding">
        <form name="login">
            <md-input-container class="md-block">
                <label for="email" translate>email</label>
                <input id="email" label="email" name="email" type="email" ng-model="vm.user.email" required/>
                <div ng-messages="login.email.$error" md-auto-hide="false" ng-show="login.email.$touched">
                    <div ng-message when="required"><span translate>Please enter your email address.</span></div>
                    <div ng-message when="email"><span translate>Please enter a valid email address.</span></div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="password" translate>password</label>
                <input  id="password" label="password" name="password" type="password" ng-model="vm.user.password" required/>
                <div ng-messages for="login.password.$error" md-auto-hide="false" ng-show="login.password.$touched">
                    <div ng-message when="required"><span translate>Please enter your password.</span></div>
                </div>
            </md-input-container>

            <div layout="row" layout-align="space-between center">
                <md-input-container>
                    <md-checkbox ng-model="vm.user.rememberMe">
                        <span translate>Remember Me</span>
                    </md-checkbox>
                </md-input-container>

                <md-input-container>
                    <md-button flex class="md-primary" href="#/forgot" translate="Forgot password?" aria-label="{{'Forgot password?' | triTranslate}}">Forgot password?</md-button>
                </md-input-container>
            </div>

            <md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10"  ng-click="vm.loginClick()" ng-disabled="login.$invalid" translate="Log in" aria-label="{{'Log in' | triTranslate}}">Log in</md-button>

            <md-button class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" href="#/signup" translate="Don't have an account? Create one now" aria-label="{{'Don\'t have an account? Create one now' | triTranslate}}">Don't have an account? Create one now</md-button>

            <div class="social-login">
                <md-divider></md-divider>

                <div class="text-center margin-20" translate>or login with</div>

                <div layout="row" layout-align="space-between center"  layout-margin>
                    <md-button href="#" ng-repeat="social in ::vm.socialLogins" class="md-icon-button" ng-style="{ 'background-color': social.color }" aria-label="{{social.icon}}">
                        <md-icon md-font-icon="{{::social.icon}}"></md-icon>
                    </md-button>
                </div>
            </div>
        </form>
    </md-content>
</md-card>
