<style type="text/css">
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: #192837;
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 20px;
    margin: 0;
  }
  
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 30px;
    -webkit-transform: translate(-50%, -50%);
  }
  
  input {
    border: none;
    color: #A6CAE6;
    font-family: "Titillium Web";
    font-size: 20px;
    line-height: 43px;
    padding: 0 0.75em;
    width: 400px;
    -webkit-transition: all 0.35s ease-in;
  }
  
  input:focus {
    outline: none;
    border: none;
  }
  
  textarea {
    background-color: #070F24;
    border: 1px solid #122435;
    color: #606B88;
    padding: 0.5em;
    width: 100%;
    -webkit-transition: all 0.35s ease-in;
  }
  
  input:active,
  input:focus,
  textarea:active,
  textarea:focus {
    outline: none;
  }
  
  /*.btn {
    background-color: #126178;
    border: 1px solid #549EAF;
    color: #549EAF;
    cursor: pointer;
    display: inline-block;
    font-family: "Titillium Web";
    font-size: 20px;
    line-height: 43px;
    padding: 0 0.75em;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.35s ease-in;
  }*/
  
  .btn:hover {
    background-color: #1888A9;
    color: #183035;
  }
  
  .debug {
    bottom: 0;
    position: fixed;
    right: 0;
  }
  
  .debug__content {
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.35s ease-in;
  }
  
  .debug__content.is-active {
    display: block;
    max-height: 500px;
  }
  
  .debug__btn {
    width: 100%;
  }
  
  .spoken-response {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.35s ease-in;
  }
  
  .spoken-response.is-active {
    max-height: 400px;
  }
  
  .spoken-response__text {
    background-color: wheat;
    color: saddlebrown;
    padding: 1em;
    border-radius: 31px;
  }
  
  .font30 {
    font-size: 40px !important;
  }
  
  /*.md-button.md-fab {
    width: 90px;
    height: 90px;
  }*/
</style>

<div class="">
  <!--<md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Chat Bot </h2>
            <span flex></span>


        </div>
    </md-toolbar>-->
  <div class="padding-20">
    <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">

      <div class="padded-content-page">

      </div>
    </md-sidenav>
    <md-card>

      <div>
        <md-table-container>




          <div class="container md-whiteframe-z1">
            <!--<div class="text-center">
              <md-button id="rec" aria-label="menu" class="md-fab md-warn ">
                <md-icon md-font-icon="zmdi zmdi-mic" class="font30"></md-icon>
              </md-button>
            </div>
            <input id="speech" type="text">

            <!--<md-button id="rec" class="btn"><i class="fa fa-microphone" aria-hidden="true"></i></md-button>-->
            <!--<div id="spokenResponse" class="spoken-response">
              <div class="spoken-response__text"></div>-->
            </div>
          </div>
        </md-table-container>

      </div>
    </md-card>

  </div>
</div>