<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
	<md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
		<div class="md-toolbar-tools">
			<h2>Class Detail</h2>
		</div>
	</md-toolbar>
	<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
	<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
	<md-divider></md-divider>
	<md-dialog-content class="md-dialog-content">

		<form name="registerClass" novalidate>
			<div layout="row" layout-xs="column">
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label translate>Location</label>
						<md-select ng-disabled="true" name="location" id="location" ng-model="vm.class.AgencyLocationInfoId" ng-change="vm.getRooms(vm.class.AgencyLocationInfoId)"
							required>
							<md-option ng-repeat="option in vm.AllLocations" value="{{option.ID}}">{{option.LocationName}}</md-option>
						</md-select>
						<!--<div ng-messages="registerClass.location.$error" md-auto-hide="false" ng-show="registerClass.location.$touched">
							<div ng-message when="required"><span>Please choose location.</span></div>
						</div>-->
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block mrgL-10">
						<label for="classname">Class Name</label>
						<input ng-disabled="true" id="classname" ng-unique="classname" classidattrb="{{vm.class.ID}}" label="classname" ng-minlength="3"
							ng-maxlength="50" name="classname" ng-model="vm.class.ClassName" required/>
						<!--<div ng-messages="registerClass.classname.$error" md-auto-hide="false" ng-show="registerClass.classname.$touched">
							<div ng-message when="required"><span>Please enter Class name.</span></div>
							<div ng-message when="unique"><span>Class name already exists!</span></div>
							<div ng-message when="ng-minlength"><span>Atleast enter 3 characters!</span></div>
						</div>-->
					</md-input-container>
				</div>

			</div>
			<div layout="row" layout-xs="column">
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label translate>Category</label>
						<md-select ng-disabled="true" name="category" id="category" ng-model="vm.class.CategoryId" required>
							<md-option ng-repeat="option in vm.AllCategories" value="{{option.ID}}">{{option.Name}}</md-option>
						</md-select>
						<!--<div ng-messages="registerClass.category.$error" md-auto-hide="false" ng-show="registerClass.category.$touched">
							<div ng-message when="required"><span>Please choose category.</span></div>
						</div>-->
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block mrgL-10">
						<label translate>Status</label>
						<md-select name="status" id="status" ng-model="vm.class.ClassStatusId" ng-disabled="true" required>
							<!--<md-option value="1">Active</md-option>
								<md-option value="2">Inactive</md-option>-->
							<md-option ng-repeat="option in vm.AllClassStatus" value="{{option.ID}}">{{option.Name}}</md-option>
						</md-select>
						<!--<div ng-messages="registerClass.status.$error" md-auto-hide="false" ng-show="registerClass.status.$touched">
							<div ng-message when="required"><span>Please choose status.</span></div>
						</div>-->
					</md-input-container>
				</div>

			</div>

			<div layout="row" layout-xs="column">
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label translate>Session</label>
						<md-select ng-disabled="true" name="session" id="session" ng-model="vm.class.SessionId">
							<md-option ng-repeat="option in vm.AllSessions" value="{{option.ID}}">{{option.Name}}</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block mrgL-10">
						<label translate>Room</label>
						<md-select ng-disabled="true" name="room" id="room" ng-model="vm.class.RoomId">
							<md-option ng-repeat="option in vm.AllRooms" value="{{option.ID}}">{{option.Name}}</md-option>
						</md-select>
						<!--<div ng-messages="registerClass.room.$error" md-auto-hide="false" ng-show="registerClass.room.$touched">
							<div ng-message when="required"><span>Please choose room.</span></div>
						</div>-->
					</md-input-container>
				</div>
			</div>
			<div layout="row" layout-xs="column">
				<div flex class="mrgL-10">
					<p>Days</p>
					<md-checkbox ng-disabled="true" class="md-primary" value="1" ng-model="vm.class.Mon" aria-label="Primary Checkbox">
						Mon
					</md-checkbox>
					<md-checkbox ng-disabled="true" class="md-primary" value="2" ng-model="vm.class.Tue" aria-label="Primary Checkbox">
						Tue
					</md-checkbox>
					<md-checkbox ng-disabled="true" class="md-primary" value="3" ng-model="vm.class.Wed" aria-label="Primary Checkbox">
						Wed
					</md-checkbox>
					<md-checkbox ng-disabled="true" class="md-primary" value="4" ng-model="vm.class.Thu" aria-label="Primary Checkbox">
						Thu
					</md-checkbox>
					<md-checkbox ng-disabled="true" class="md-primary" value="5" ng-model="vm.class.Fri" aria-label="Primary Checkbox">
						Fri
					</md-checkbox>
					<md-checkbox ng-disabled="true" class="md-primary" value="6" ng-model="vm.class.Sat" aria-label="Primary Checkbox">
						Sat
					</md-checkbox>
					<md-checkbox ng-disabled="true" class="md-primary" value="6" ng-model="vm.class.Sun" aria-label="Primary Checkbox">
						Sun
					</md-checkbox>
				</div>
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label>Enroll  Capacity</label>
						<input ng-disabled="true" type="number" id="enrollcapacity" ng-maxlength="4" ng-model="vm.class.EnrollCapacity" label="enrollcapacity"
							name="enrollcapacity" required/>

						<!--<div ng-messages="registerClass.enrollcapacity.$error" md-auto-hide="false" ng-show="registerClass.enrollcapacity.$touched">
							<div ng-message when="required"><span>Enroll capacity is required.</span></div>
							<div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
						</div>-->
					</md-input-container>
				</div>
			</div>


			<div layout="row" layout-xs="column">
				<div flex>
					<p class="margin-bottom-0">Min. Age</p>
					<div layout="row" layout-xs="column">
						<div flex>
							<md-input-container class="md-block mrgR-10">
								<label translate>Year</label>
								<md-select ng-disabled="true" name="minagefrom" id="minagefrom" ng-model="vm.class.MinAgeFrom" required>
									<md-option ng-repeat="option in vm.AllAgeYears" value="{{option.ID}}">{{option.Name}}</md-option>
								</md-select>
								<!--<div ng-messages="registerClass.minagefrom.$error" md-auto-hide="false" ng-show="registerClass.minagefrom.$touched">
									<div ng-message when="required"><span>Please select year</span></div>
								</div>-->
							</md-input-container>
						</div>
						<div flex>
							<md-input-container class="md-block mrgR-10">
								<label translate>Months</label>
								<md-select ng-disabled="true" name="minageto" id="minageto" ng-model="vm.class.MinAgeTo" required>
									<md-option ng-repeat="option in vm.AllAgeMonths" value="{{option.ID}}">{{option.Name}}</md-option>
								</md-select>
								<!--<div ng-messages="registerClass.minageto.$error" md-auto-hide="false" ng-show="registerClass.minageto.$touched">
									<div ng-message when="required"><span>Please select month</span></div>
								</div>-->
							</md-input-container>
						</div>
					</div>

				</div>
				<div flex>
					<p class="mrgL-10 margin-bottom-0">Max. Age</p>
					<div layout="row" layout-xs="column">
						<div flex>
							<md-input-container class="md-block mrgR-10">
								<label translate>Year</label>
								<md-select ng-disabled="true" name="maxagefrom" id="maxagefrom" ng-model="vm.class.MaxAgeFrom">
									<md-option ng-repeat="option in vm.AllAgeYears" value="{{option.ID}}">{{option.Name}}</md-option>
								</md-select>
								<!--<div ng-messages="registerClass.maxagefrom.$error" md-auto-hide="false" ng-show="registerClass.maxagefrom.$touched">
									<div ng-message when="required"><span>Please select year</span></div>
								</div>-->
							</md-input-container>
						</div>
						<div flex>
							<md-input-container class="md-block">
								<label translate>Months</label>
								<md-select ng-disabled="true" name="maxageto" id="maxageto" ng-model="vm.class.MaxAgeTo">
									<md-option ng-repeat="option in vm.AllAgeMonths" value="{{option.ID}}">{{option.Name}}</md-option>
								</md-select>
								<!--<div ng-messages="registerClass.maxageto.$error" md-auto-hide="false" ng-show="registerClass.maxageto.$touched">
									<div ng-message when="required"><span>Please select month</span></div>
								</div>-->
							</md-input-container>
						</div>
					</div>

				</div>
			</div>
			<div layout="row" layout-xs="column">

				<md-checkbox ng-disabled="true" class="md-primary" value="0" ng-model="vm.class.OnGoing" ng-change="vm.CheckUncheckOngoing()"
					aria-label="Primary Checkbox">
					On Going
				</md-checkbox>
			</div>


			<div class="margin-bottom-20">

				<div class="col-25" ng-if="!vm.class.OnGoing">
					<md-input-container class="md-block mrgR-10">
						<label class="mrgL-10">Registration Start Date</label>
						<md-datepicker ng-disabled="true" ng-model="vm.class.RegistrationStartDate" ng-blur="vm.setClassStartDate(vm.class.RegistrationStartDate)"
							md-min-date=vm.registrationstartDate name="registrationstartDate" id="registrationstartDate" md-placeholder="Enter date"
							required></md-datepicker>
						<!--<div ng-messages="registerClass.registrationstartDate.$error" md-auto-hide="false" ng-show="registerClass.registrationstartDate.$touched">
							<div ng-message when="required"><span>Please select date</span></div>
						</div>-->
					</md-input-container>
				</div>
				<div class="col-25" ng-if="!vm.class.OnGoing">
					<md-input-container class="md-block mrgR-10">
						<label class="mrgL-10">Class Start Date</label>
						<md-datepicker ng-disabled="true" ng-model="vm.class.ClassStartDate" name="classstartdate" id="classstartdate" ng-blur="vm.setClassEndDate(vm.class.ClassStartDate)"
							ng-disabled=vm.disabled md-min-date=vm.classstartdate md-placeholder="Enter date" required></md-datepicker>
						<!--<div ng-messages="registerClass.classstartdate.$error" md-auto-hide="false" ng-show="registerClass.classstartdate.$touched">
							<div ng-message when="required"><span>Please select date</span></div>
						</div>-->
					</md-input-container>
				</div>
				<div class="col-25" ng-if="!vm.class.OnGoing">
					<md-input-container class="md-block mrgR-10">
						<label class="mrgL-10">Class End Date</label>
						<md-datepicker ng-disabled="true" ng-model="vm.class.ClassEndDate" name="classenddate" id="classenddate" md-placeholder="Enter date"
							ng-disabled=vm.disabledClassEndDatePicker md-min-date=vm.classenddate required></md-datepicker>
						<div ng-messages="registerClass.classenddate.$error" md-auto-hide="false" ng-show="registerClass.classenddate.$touched">
							<div ng-message when="required"><span>Please select date</span></div>
						</div>
					</md-input-container>
				</div>
				<div class="col-50">
					<md-input-container class="md-block mrgR-10">
						<label class="mrgL-10">Age Cutoff Date</label>
						<md-datepicker ng-disabled="true" ng-model="vm.class.AgeCutOffDate" ng-maxlength="10" name="agecutoffdate" id="agecutoffdate"
							md-placeholder="Enter date"></md-datepicker>
				</div>
				</md-input-container>
			</div>
			<div style="clear:both"></div>

			<div layout="row" layout-xs="column">
				<div flex>
					<md-input-container class="md-block mrgR-10">
						<label>Start Time</label>
						<input ng-disabled="true" type="time" placeholder="Format : 14:00:00" ng-model="vm.class.StartTime" name="starttime" id="starttime">
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block mrgL-10">
						<label>End Time</label>
						<input ng-disabled="true" type="time" ng-model="vm.class.EndTime" placeholder="Format : 14:00:00" name="endtime" id="endtime">
					</md-input-container>
				</div>
			</div>
			<div layout="row" layout-xs="column">
				<div flex>
					<md-input-container class="md-block">
						<label>Description</label>
						<textarea ng-disabled="true" ng-model="vm.class.Description" ng-maxlength="100" name="description" id="description"></textarea>
					</md-input-container>
				</div>
			</div>

			<div class="button-toolbar" layout="row" layout-align="end center">
				<md-button class="md-warn md-raised" ng-click="vm.cancel()">Cancel</md-button>
			</div>

			<div layout="row" layout-align="start center"> </div>
		</form>

	</md-dialog-content>
</md-dialog>