<style>
    #truncate {
        /*width: 300px;*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


<div class="dashboard-container overlay-10 padded-content-page">
    <div class="drag-container" layout="row" layout-xs="column" layout-margin dragula='"drag-analytics-container"'>
        <tri-widget style="cursor:pointer;" ng-click="vm.redirectToFamily()" palette-background="deep-orange:500" content-layout="row"
            content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-male-female"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="vm.EventCount" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Events</p>
            </div>
        </tri-widget>

        <tri-widget style="cursor:pointer;" ng-click="vm.redirectToAllParticipants()" palette-background="triCyan:500" content-layout="row"
            content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-accounts-alt"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="vm.ParticipantCount" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Participants</p>
            </div>
        </tri-widget>

        <tri-widget style="cursor:pointer;" palette-background="indigo:500" ng-click="vm.redirectToAllStaff()" content-layout="row"
            content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-account-box-o"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.StaffCount" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Staff</p>
            </div>
        </tri-widget>

       <tri-widget style="cursor:pointer;" palette-background="teal:500" content-layout="row" ng-click="vm.redirectToParticipantAttendance()"
            content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-check-all"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.AttendanceCount" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Signed In</p>
            </div>
        </tri-widget>
       
    </div>

    <div layout="row" layout-xs="column" layout-margin>
        <tri-widget flex-xs="100" title="Classes" palette-background="triCyan:600">
            <md-divider></md-divider>
            <div layout="row" layout-align="center center" ng-if="vm.ClassList.length==0">
                <h2>No Records!</h2>
            </div>
            <md-divider></md-divider>

            <md-table-container style="max-height: 205px;" ng-if="vm.ClassList.length>0">

                <div class="full-width" layout="row" ng-repeat="class in vm.ClassList| limitTo : vm.classListLimit" layout-padding>
                    <!--<a ng-href="#/classes" style="cursor:pointer;border-bottom: none;md-cyan-theme">
                    <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>{{class.ClassName}}</h4>
                </a>-->
                    <div flex="40">
                        <!--<a ng-click="vm.detailClassInfo($event,class)" style="cursor:pointer;border-bottom: none;md-cyan-theme">
                        <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>{{class.ClassName}}</h4>
                    </a>-->
                        <a ng-click="vm.showClassDetailDialogue(class.ID)" style="cursor:pointer;border-bottom: none;md-cyan-theme">
                            <h4 class="opacity-80 margin-0 margin-right-20" translate>{{class.ClassName}}</h4>
                        </a>
                    </div>
                    <div flex="60">
                        <md-progress-linear class="md-warn margin-bottom-10" md-mode="determinate" value="{{class.EnrolledParticipants*100/class.EnrollCapacity}}"></md-progress-linear>
                        <span class="md-caption">( 	{{class.EnrolledParticipants}}  <span translate>Out of {{class.EnrollCapacity}}</span>)</span>
                    </div>
                </div>

            </md-table-container>
            <!--<div layout="row" ng-if="vm.ClassList.length>4" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="vm.GotoClassList()"> More </md-button>
            </div>-->
            <div ng-if="vm.ClassList.length>3 && vm.buttonText==1" layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="vm.moreClick()"> More </md-button>
            </div>
            <div ng-if="vm.buttonText==0" layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="vm.lessClick()"> Less </md-button>
            </div>

            <!--<md-divider flex></md-divider>-->
            <!--<div class="full-width" layout="row" layout-padding>
                <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>Music</h4>
                <div flex>
                    <md-progress-linear class="md-accent margin-bottom-10" md-mode="determinate" value="30"></md-progress-linear>
                    <span class="md-caption">( 	10  <span translate>Out of 50</span>)</span>
                </div>
            </div>
            <md-divider flex></md-divider>
            <div class="full-width" layout="row" layout-padding>
                <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>Class 1</h4>
                <div flex>
                    <md-progress-linear class="md-warn margin-bottom-10" md-mode="determinate" value="83"></md-progress-linear>
                    <span class="md-caption">( 	40  <span translate>Out of 50</span>)</span>
                </div>
            </div>
            <md-divider flex></md-divider>
            <div class="full-width" layout="row" layout-padding>
                <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>Class 2</h4>
                <div flex>
                    <md-progress-linear class="md-accent margin-bottom-10" md-mode="determinate" value="65"></md-progress-linear>
                    <span class="md-caption">( 	30  <span translate>Out of 50</span>)</span>
                </div>
            </div>-->
        </tri-widget>

        <tri-widget title="Subscription Plans" class="profiletab" content-padding>

            <md-list class="padding-0 padding-bottom-10">
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <div layout="row" layout-xs="column">
                            <h3 flex="30">Plan Name</h3>
                            <p flex>{{vm.PlanName}}</p>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <div layout="row" layout-xs="column">
                            <h3 flex="30">Active plan</h3>
                            <p flex>{{vm.PlanPrice}}</p>
                        </div>
                    </div>
                </md-list-item>

            </md-list>
            <md-divider class="padding-0"></md-divider>
            <div class="full-width" layout="column" layout-padding>
                <h4 class="opacity-80 margin-0 margin-right-20" translate>Enrolled Participants</h4>
                <div>
                    <md-progress-linear class="md-primary margin-bottom-10" md-mode="determinate" value="{{vm.TotalEnrolledParticipants*100/vm.PlanParticipantCount}}"></md-progress-linear>
                    <span class="md-caption">( 	{{vm.TotalEnrolledParticipants}}  <span translate>Out of {{vm.PlanParticipantCount}}</span>)</span>
                </div>
            </div>
            <md-dialog-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="vm.UpdatePricingPlan()"> Upgrade Plan </md-button>
            </md-dialog-actions>

        </tri-widget>

    </div>

    <div layout="row" layout-xs="column" layout-margin>

        <tri-widget title="Time Clock" flex-xs="100" content-padding>
            <div>
                
                <div class="full-width" layout="column" layout-padding>
                    <h4 class="opacity-80 margin-0 margin-right-20 padding-left-0" translate>Time clock staff</h4>
                    <div class="padding-left-0">
                        <md-progress-linear class="md-primary margin-bottom-10 padding-left-0" md-mode="determinate" value="{{vm.TimeClockStaffCount*100/vm.TimeClockUsers}}"></md-progress-linear>
                        <span class="md-caption padding-left-0 padding-top-0">( 	{{vm.TimeClockStaffCount}}  <span translate>Out of {{vm.TimeClockUsers}}</span>)</span>
                    </div>
                </div>
                <md-dialog-actions layout="row" layout-align="end center" class="padding-bottom-10">
                    <md-button class="md-primary md-raised" ng-click="vm.UpdateTimeClockUsersPlan()"> Buy Now </md-button>
                </md-dialog-actions>
            </div>
            <md-divider></md-divider>
            <div>
                <h4 class="margin-top-0 margin-bottom-5">Staff Count</h4>
                <div layout="row" layout-align="left center" class="font-size-4 padding-top-20" layout-padding>{{vm.StaffCount}}</div>

            </div>

        </tri-widget>
        <tri-widget title="Participants" content-padding>
            <div layout="row" layout-align="center center" ng-if="vm.data==null">
                <h2>No Records!</h2>
            </div>
            <canvas flex class="chart-pie" chart-data="vm.data" chart-legend="true" chart-labels="vm.labels"></canvas>
        </tri-widget>
    </div>
    <div layout="row" layout-xs="column" layout-margin>

       
    </div>

    <div layout="row" layout-xs="column" layout-sm="column" layout-margin>
        <tri-widget title="Staff Status" flex-xs="100">

          
            <md-list class="overflow-auto">

                <div layout="row" layout-align="center center" ng-if="vm.AttendanceList.length==0">
                    <h2>No Records!</h2>
                </div>
                <md-divider></md-divider>
                <div layout="row" ng-repeat="staffattendance in vm.AttendanceList">
                    <md-list-item class="md-3-line">
                        <img ng-src="{{vm.ImageUrlPath}}{{staffattendance.Student.ImagePath}}" err-src="assets/images/profilepic/images4.png" alt="girl-avatar"
                            class="make-round md-avatar margin-top-20" width="70" />
                        <div class="md-list-item-text">
                            <h3><a style="cursor:pointer;color:#00bcd4;border-bottom: none;md-cyan-theme" ng-href="#/attendance/staffattendance">{{staffattendance.Staff.FirstName}} {{staffattendance.Staff.LastName}}</a></h3>
                          
                        </div>
                        <div flex class="font-size-1 text-right sales-dashboard md-secondary">
                            <span ng-if="staffattendance.OnLeave==1" class="status status-pending ">On Leave</span>
                            <span ng-if="staffattendance.InTime!=null && staffattendance.OutTime==null && (staffattendance.OnLeave==null || staffattendance.OnLeave==0) "
                                class="status status-complete ">On Duty</span>
                            <span ng-if="staffattendance.InTime!=null && staffattendance.OutTime!=null && (staffattendance.OnLeave==null || staffattendance.OnLeave==0)"
                                class="status status-complete ">Clocked Out</span>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </div>

            </md-list>

        </tri-widget>
       
        <tri-widget flex-xs="100" title="To Do">
            <md-list class="overflow-auto">
                <div layout="row" layout-align="center center" ng-if="vm.ToDoList.length==0">
                    <h2>No Records!</h2>
                </div>
                <md-divider></md-divider>

                <div class="full-width" layout="row" ng-repeat="toDo in vm.ToDoList| limitTo : 5" layout-padding>

                    <h3 flex="70" flex-xs="50" flex-md="50" class="margin-0  margin-right-50" id="truncate" translate><a class='ellipsis' style="cursor:pointer;color:#00bcd4;border-bottom: none;md-cyan-theme" ng-href="/todo">{{toDo.Name}}</a></h3>
                    <div flex class="font-size-1 text-right sales-dashboard padding-right-10">

                        <span class="status status-pending">{{toDo.Priority.Name}}</span>

                    </div>
                   
                </div>

                <div layout="row" ng-if="vm.ToDoList.length>5" layout-align="end center">
                    <md-button class="md-accent md-raised" ng-click="vm.GotoToDoList()"> More </md-button>
                </div>
            </md-list>
    </tri-widget>
</div>


<div layout="row" layout-xs="column" layout-sm="column" layout-margin ng-if="vm.EnhancementList.length > 0">
    <tri-widget flex title="Recent Enhancements" content-padding>
      
        <md-list class="overflow-auto padding-top-10" style="height:300px; min-height:100px">
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody class="md-caption">
                            <tr ng-repeat="enhancement in vm.EnhancementList">
                                <td>
                                    <p>{{enhancement.Title}}</p>
                                </td>
                                <td>
                                    <p>{{enhancement.EnhancementDate | date:"MM/dd/yyyy"}}</p>
                                </td>
                                <td>
                                    <p ng-bind-html="enhancement.Description"></p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </md-list-item>
        </md-list>
    </tri-widget>
</div>

</div>
