<div>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{PageTitle}}</h2>
			<!--<h2> {{triWizard.progress}}% <span translate>Complete</span></h2>-->
		</div>
		<!--<md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>-->
	</md-toolbar>
	<!--<md-content class="padded-content-page">-->
	<!--<div layout="row" layout-align="center center" class="classpage">-->
		<div class="padding-20">
	<md-card flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
		<md-card-content>
			<md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
				<md-tab id="childinformation">
                <md-tab-label>
					<!--<span class="oxy-step-label">1</span>-->
					<span translate>Organization Information</span>
				</md-tab-label>
				
				<md-tab-body>
					<md-card-content class="md-padding" ng-controller="UpdateAgencyController as vm" ng-include="'app/Tools/UserSettings/views/information.tmpl.html'"></md-card-content>
				</md-tab-body>
                </md-tab>
				<md-tab label="Locations">
					<md-card-content ng-controller="locationController as vm" ng-include="'app/Tools/UserSettings/views/locationlist.tmpl.html'"></md-card-content>
				</md-tab>
				<md-tab label="Payment Method">
					<md-card-content ng-controller="paymentController as vm" ng-include="'app/Tools/UserSettings/views/payment.tmpl.html'"></md-card-content>
				</md-tab>
				<!--<md-tab label="Manage Holidays">
					<md-card-content ng-include="'app/Tools/UserSettings/views/manage_holidays.tmpl.html'"></md-card-content>
				</md-tab>
				<md-tab label="Set Fees">
					<md-card-content ng-include="'app/Tools/UserSettings/views/setfees.tmpl.html'"></md-card-content>
				</md-tab>
				<md-tab label="Tasks">
					<md-card-content ng-include="'app/Tools/UserSettings/views/tasks.tmpl.html'"></md-card-content>
				</md-tab>
				<md-tab label="Master Value">
					<md-card-content ng-include="'app/Tools/UserSettings/views/master_value.tmpl.html'"></md-card-content>
				</md-tab>
				<md-tab label="Other Setting">
					<md-card-content ng-include="'app/Tools/UserSettings/views/other_settings.tmpl.html'"></md-card-content>
				</md-tab>
				<md-tab label="Configuration">
					<md-card-content ng-include="'app/Tools/UserSettings/views/configuration.tmpl.html'"></md-card-content>
				</md-tab>-->
				
			</md-tabs>
		</md-card-content>
	</md-card>
		</div>
	<!--</div>-->
	<!--</md-content>-->
</div>