<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>{{DisplayText}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-divider></md-divider>
    <md-dialog-content class="md-dialog-content">
        <form name="AddParticipant">
            
            <div class="padding-20">              
                <md-card>                  
                        <md-input-container flex>
                            <img ng-src="{{vm.ProfilePicComplete}}" err-src="assets/images/avatars/avatar-5.png" alt="girl-avatar" class="make-round"
                                width="100" height="100" />                   
                        </md-input-container>
                          <h2><strong>{{DisplayText}}</strong></h2>
                        <div layout="row" layout-xs="column" layout-sm="column" flex>
                            <md-input-container flex class="mrgR-class">                              
                                <div class="col-sm-10">
                                    <table  md-table class="md-primary md-data-table table table-bordered table-hover table-striped">
                                        <tbody  md-body>
                                                <tr>
                                                    <td class="Namelabel">First Name</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.FirstName}}</td>                                     
                                                    <td class="Namelabel">Last Name</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.LastName}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="Namelabel">Gender</td>
                                                    	<td class="valuelabel" >{{vm.AddParticipant.Gender}}</td>                                     
                                                    <td class="Namelabel">Date of Birth</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.DateOfBirth| date:'MM/dd/yyyy'}}</td>
                                                </tr>
                                                 <tr>
                                                    <td class="Namelabel">Address</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.Address}}</td>                                     
                                                    <td class="Namelabel">Membership Type</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.MembershipType.Name}}</td>
                                                </tr>
                                                 <tr>
                                                    <td class="Namelabel">City</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.CityName}}</td>                                     
                                                    <td class="Namelabel">State</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.StateName}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="Namelabel">Zip Code</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.PostalCode}}</td>                                     
                                                    <td class="Namelabel">Country</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.CountryName}} </td>
                                                </tr>
                                                <tr>
                                                    <td class="Namelabel">School</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.SchoolName}}</td>                                     
                                                    <td class="Namelabel">Grade Level</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.GradeLevel.Name}} </td>
                                                </tr>
                                                 <tr>
                                                    <td class="Namelabel">Transportation</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.Transportation}}</td>                                     
                                                    <td class="Namelabel">Disabilities</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.Disabilities}} </td>
                                                </tr>
                                                <tr>
                                                    <td class="Namelabel">Allergies</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.Allergies}}</td>                                     
                                                    <td class="Namelabel">Medications</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.Medications}} </td>
                                                </tr>
                                                <tr>
                                                    <td class="Namelabel">PrimaryDoctor</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.PrimaryDoctor}}</td>                                                          
                                                </tr>
                        
                                        </tbody>
                                    </table>
                            </div>
                            </md-input-container>                           
                        </div>                      
                        <div layout layout-xs="column" flex>
                            <h2 translate><strong>Health Insurance Carrier Info</strong></h2>
                          </div>   
                          <div layout="row" layout-xs="column" flex>
                            <md-input-container flex class="mrgR-10">
                                <div class="col-sm-10">
                                    <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped">
                                        <tbody md-body>
                                                <tr>
                                                    <td class="Namelabel">Insurance Carrier</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.InsuranceCarrier}}</td>                                     
                                                    <td class="Namelabel">Policy Number</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.InsurancePolicyNumber}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="Namelabel">Preferred Hospital Name</td>
                                                    	<td class="valuelabel" >{{vm.AddParticipant.PreferredHospitalName}}</td>                                     
                                                    <td class="Namelabel">Preferred Hospital Address</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.PreferredHospitalAddress}}</td>
                                                </tr>
                                                 <tr>
                                                    <td class="Namelabel">Family Doctor Name</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.FamilyDoctorName}}</td>                                     
                                                    <td class="Namelabel">Family Doctor Phone Number</td>
                                                    <td class="valuelabel">{{vm.AddParticipant.FamilyDoctorPhoneNumber}}</td>
                                                </tr>
                                                 <tr>
                                                    <td class="Namelabel">Notes</td>
                                                    <td class="valuelabel"> {{vm.AddParticipant.Description}}</td>                                                                                     
                                                </tr>                                  
                                        </tbody>
                                    </table>
                            </div>
                            </md-input-container>                            
                          </div>                                         
                </md-card>
            </div>
          

            <div class="padding-20">
                <md-card ng-show="vm.AddParticipant.Radio == 'existing'">
                    <div class="padding-20">
                        <div class="position-relative">
                            <h2 class="add-title">Associated Participant </h2>                                                 
                                <div layout="row" layout-xs="column" layout-sm="column" flex>
                                    <md-input-container flex class="mrgR-10">                                 
                                        <div class="col-sm-10">
                                            <table md-table class="md-primary md-data-table  table  table-hover table-striped" >
                                                <tbody  md-body ng-repeat="AssociationForm in vm.AssociationForms track by $index" class="position-relative">
                                                        <tr>
                                                            <td class="Namelabel">{{AssociationForm.AssociatedParticipantInfo.FirstName}}</td>
                                                            <td class="valuelabel"> {{AssociationForm.AssociationTypeMaster.AssociationTypeName}}</td>                                                      
                                                        </tr>                                                                            
                                                </tbody>
                                            </table>
                                        </div>                            
                                    </md-input-container>                                   
                                </div>                                                    
                            <div class="position-relative" ng-if="vm.AddParticipant.RadioParent=='existing'">
                                <h2 class="add-title">Add Parent/Guardian Association</h2>
                                <div ng-repeat="ParentAssociation in vm.ParentAssociationForms track by $index" class="position-relative">
                                    <!--<md-button ng-if="$index > 0" class="md-button md-cyan-theme md-ink-ripple md-primary md-default closebtn" ng-click="vm.removeNewAssociationParent(ParentAssociation)"
                                        aria-label="flat button">
                                        <md-icon class="md-cyan-theme material-icons zmdi zmdi-close-circle" aria-hidden="true" style="font-size: 24px; height: 24px; width: 24px;"></md-icon>
                                        <md-tooltip>Close</md-tooltip>
                                    </md-button>-->
                                    <div layout="row" layout-xs="column" layout-sm="column" flex>
                                        <md-input-container flex class="md-block mrgR-class">
                                            <label translate>Associate Parent/Guardian</label>
                                            <md-select  name="AssociationParent" ng-model="ParentAssociation.NewParentInfoID" required>
                                                <md-option value="{{AssociationParent.ID}}" ng-repeat="AssociationParent in vm.AllAssociationParent ">{{ AssociationParent.FullName }}</md-option>
                                            </md-select>
                                            <div ng-messages="AddParticipant.AssociationParent.$error" md-auto-hide="false" ng-show="AddParticipant.AssociationParent.$touched">
                                                <div ng-message when="required"><span>Associate Parent is required.</span></div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex class="mrgR-10">
                                            <label translate>Association Type</label>
                                            <md-select ng-change="vm.selectedRelation(ParentForm.RelationTypeId)" name="Type" id="Type" ng-model="ParentAssociation.RelationTypeId"
                                                required>
                                                <md-option value="{{RelationType.ID}}" ng-repeat="RelationType in vm.AllRelationType">{{ RelationType.Name }}</md-option>
                                            </md-select>
                                            <div ng-messages="AddParticipant.Type.$error" md-auto-hide="false" ng-show="AddParticipant.Type.$touched">
                                                <div ng-message when="required"> <span translate>Association Type is required.</span> </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <!--<md-button class="md-button md-cyan-theme md-ink-ripple md-primary md-default add-btn-mrg" ng-click="vm.addNewAssociationParent()"
                                    aria-label="flat button">
                                    <md-icon class="md-cyan-theme material-icons zmdi zmdi-plus-circle" aria-hidden="true" style="font-size: 24px; height: 24px; width: 24px;"></md-icon>
                                    ADD ADDITIONAL PARENT ASSOCIATION</md-button>-->
                            </div>
                            <div ng-if="vm.AddParticipant.RadioParent=='newParent'">
                                 <div layout layout-xs="column" flex>
                                        <h2 translate><strong>Parent/Gurdian Info</strong></h2>
                                 </div> 
                            <div layout="row" layout-xs="column" layout-sm="column" flex>                                  
                             <md-input-container flex class="mrgR-10">                                 
                                <div class="col-sm-10">
                                    <table md-table class="md-primary md-data-table table  table-hover table-striped">
                                        <tbody  md-body>
                                                <tr>
                                                    <td class="Namelabel">Full Name</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObjExisting.FullName}}</td>                                     
                                                    <td class="Namelabel">Participant Relationship</td>
                                                    <td class="valuelabel">{{vm.ParentFormsObjExisting.RelationType.Name}}</td>
                                                </tr>
                                                <!--<tr>
                                                    <td class="Namelabel">Mobile Phone Carrier</td>
                                                    	<td class="valuelabel" >{{vm.ParentFormsObjExisting.SMSCarrier.Carrier}}</td>                                     
                                                    <td class="Namelabel">Mobile</td>
                                                    <td class="valuelabel">{{vm.ParentFormsObjExisting.Mobile}}</td>
                                                </tr>
                                                 <tr>
                                                    <td class="Namelabel">Email</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObjExisting.EmailId}}</td>                                     
                                                    <td class="Namelabel">Pin Number</td>
                                                    <td class="valuelabel">{{vm.ParentFormsObjExisting.SecurityKey}}</td>
                                                </tr>
                                                 <tr>
                                                    <td class="Namelabel">{{ vm.ParentFormsObjExisting.SecurityQuestion.SecurityQuestion}}</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObjExisting.SecurityQuestionAnswer}}</td>   
                                                    <td class="Namelabel">Participant Relationship Type</td>
                                                    <td class="valuelabel">{{vm.ParentFormsObjExisting.RelationType.Name}}</td>                                                                                  
                                                </tr> 
                                                <tr>
                                                    <td class="Namelabel">Address</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObjExisting.Address}}</td>                                     
                                                    <td class="Namelabel">City</td>
                                                    <td class="valuelabel">{{vm.ParentFormsObjExisting.CityName}}</td>
                                                </tr>  
                                                <tr>
                                                    <td class="Namelabel">Zip Code</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObjExisting.PostalCode}}</td>          
                                                    <td class="Namelabel">Country</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObjExisting.CountryId}}</td>                                  
                                                </tr>                                -->
                                        </tbody>
                                    </table>
                                </div>                            
                             </md-input-container>
                           </div>                            
                           </div>
                        </div>
                    </div>
                </md-card>

                <md-card ng-show="vm.AddParticipant.Radio=='newParent'">
                    <div class="padding-20">
                        <div>
                            <div layout layout-xs="column" flex>
                            <h2 translate><strong>Parent/Gurdian Info</strong></h2>
                          </div> 
                            <div layout="row" layout-xs="column" layout-sm="column" flex>                                
                            <md-input-container flex class="mrgR-10">                                 
                                <div class="col-sm-10">
                                    <table md-table class="md-primary md-data-table table  table-hover table-striped">
                                        <tbody  md-body>
                                                <tr>
                                                    <td class="Namelabel">FullName</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObj.FullName}}</td>                                     
                                                       <td class="Namelabel">Participant Relationship</td>
                                                    <td class="valuelabel">{{vm.ParentFormsObj.RelationType.Name}}</td> 
                                                </tr>
                                                <!--<tr>
                                                    <td class="Namelabel">Mobile Phone Carrier</td>
                                                    	<td class="valuelabel" >{{vm.ParentFormsObj.SMSCarrier.Carrier}}</td>                                     
                                                    <td class="Namelabel">Mobile</td>
                                                    <td class="valuelabel">{{vm.ParentFormsObj.Mobile}}</td>
                                                </tr>
                                                 <tr>
                                                    <td class="Namelabel">Email</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObj.EmailId}}</td>                                     
                                                    <td class="Namelabel">Pin Number</td>
                                                    <td class="valuelabel">{{vm.ParentFormsObj.SecurityKey}}</td>
                                                </tr>
                                                 <tr>
                                                    <td class="Namelabel">{{ vm.ParentFormsObj.SecurityQuestion.SecurityQuestion}}</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObj.SecurityQuestionAnswer}}</td>   
                                                    <td class="Namelabel">Participant Relationship Type</td>
                                                    <td class="valuelabel">{{vm.ParentFormsObj.RelationType.Name}}</td>                                                                                  
                                                </tr> 
                                                <tr>
                                                    <td class="Namelabel">Address</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObj.Address}}</td>                                     
                                                    <td class="Namelabel">City</td>
                                                    <td class="valuelabel">{{vm.ParentFormsObj.CityName}}</td>
                                                </tr>  
                                                <tr>
                                                    <td class="Namelabel">Zip Code</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObj.PostalCode}}</td>          
                                                    <td class="Namelabel">Country</td>
                                                    <td class="valuelabel"> {{vm.ParentFormsObj.CountryId}}</td>                                  
                                                </tr>                                -->
                                        </tbody>
                                    </table>
                            </div>                            
                            </md-input-container>                         
                            </div>

                        </div>
                    </div>
                </md-card>
            </div>

        </form>
    </md-dialog-content>
</md-dialog>