<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
  <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
    <div class="md-toolbar-tools">
      <h2>{{DisplayText}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
        <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
  <md-divider></md-divider>
  <md-dialog-content class="md-dialog-content">
    <form name="AddParticipant">
      <div class="padding-20">
        <md-card>
          <div class="padding-20">
            <md-input-container flex>
              <img ng-src="{{vm.ProfilePicComplete}}" err-src="assets/images/avatars/avatar-5.png" alt="girl-avatar" class="make-round"
                width="100" height="100" />
              <md-button name="Profile" id="Profile" class="md-primary md-raised md-fab" ngf-select="vm.uploadImage($files)" accept="image/*"
                ng-disabled="vm.status != 'idle'" aria-label="upload" required>
                <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
              </md-button>
              <div ng-messages="AddParticipant.Profile.$error" md-auto-hide="false" ng-show="AddParticipant.Profile.$touched">
                <div ng-message when="required"><span>Please select Image.</span></div>
                <div ng-message when="maxFile"><span>xcgfgt Image.</span></div>
              </div>
            </md-input-container>
            <div layout="row" layout-xs="column" layout-sm="column" flex>
              <md-input-container flex class="mrgR-class">
                <label for="Name">First Name</label>
                <input type="text" label="firstname" name="firstnameParticipant" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2"
                  id="firstname" ng-model="vm.AddParticipant.FirstName" required>
                <div ng-messages="AddParticipant.firstnameParticipant.$error" md-auto-hide="false" ng-show="AddParticipant.firstnameParticipant.$touched">
                  <div ng-message when="required"><span>First name is required.</span></div>
                  <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                  <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                  <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                </div>
              </md-input-container>
              <md-input-container flex class="mrgl-class">
                <label for="Name">Last Name</label>
                <input type="text" label="Name" name="lastnameParticipant" id="lastname" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100"
                  ng-minlength="2" ng-model="vm.AddParticipant.LastName" required>
                <div ng-messages="AddParticipant.lastnameParticipant.$error" md-auto-hide="false" ng-show="AddParticipant.lastnameParticipant.$touched">
                  <div ng-message when="required"><span>Last name is required.</span></div>
                  <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                  <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                  <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                </div>
              </md-input-container>
            </div>
            <div layout="row" layout-xs="column" layout-sm="column" flex>
              <md-input-container flex class="mrgR-class">
                <label for="Gender">Gender</label>
                <md-select placeholder="Gender" name="gender" id="gender" ng-model="vm.AddParticipant.Gender" required>
                  <md-option value="1">Male</md-option>
                  <md-option value="2">Female</md-option>
                  <md-option value="3">Other</md-option>
                </md-select>
                <div ng-messages="AddParticipant.gender.$error" md-auto-hide="false" ng-show="AddParticipant.gender.$touched">
                  <div ng-message when="required"><span>Please choose gender.</span></div>
                </div>
              </md-input-container>
              <md-input-container flex="50" flex-xs="100">
                <label for="birth">Date of Birth</label>
                <md-datepicker flex ng-model="vm.AddParticipant.DateOfBirth" md-min-date=vm.NewMinDate md-max-date=vm.dateOfBirth md-placeholder="Enter Date"
                  name="dateofbirth" id="dateofbirth" ng-model-options="{ timezone: 'utc' }" required></md-datepicker>
                <div ng-messages="AddParticipant.dateofbirth.$error" md-auto-hide="false" ng-show="AddParticipant.dateofbirth.$touched">
                  <div ng-message when="required"><span>Date of birth is required.</span></div>
                </div>
              </md-input-container>
            </div>
            <div layout="row" layout-xs="column" layout-sm="column" flex>
              <md-input-container flex class="mrgR-10">
                <label for="Name">Address</label>
                <input type="text" label="Address" name="AddressParticipant" ng-maxlength="200" id="Address" ng-model="vm.AddParticipant.Address"
                  required>
                <div ng-messages="AddParticipant.AddressParticipant.$error" md-auto-hide="false" ng-show="AddParticipant.AddressParticipant.$touched">
                  <div ng-message when="required"><span>Address is required.</span></div>
                  <div ng-message when="maxlength"><span>Maximum 200 character is allowed.</span></div>
                </div>
              </md-input-container>
              <md-input-container flex class="md-block mrgL-10">
                <label translate>Membership Type</label>
                <md-select ng-change="triWizard.updateProgress()" name="Membership" ng-model="vm.AddParticipant.MembershipTypeId" required>
                  <md-option value="{{Membership.ID}}" ng-repeat="Membership in vm.AllMembership">{{ Membership.Name }}</md-option>
                </md-select>
                <div ng-messages="AddParticipant.Membership.$error" md-auto-hide="false" ng-show="AddParticipant.Membership.$touched">
                  <div ng-message when="required"><span>Membership Type is required.</span></div>
                </div>
              </md-input-container>
            </div>
            <div layout="row" layout-xs="column" class="margin-bottom-20">
              <md-input-container flex class="mrgR-10">
                <label translate>City</label>
                <input type="text" ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/" required name="cityname" ng-model="vm.AddParticipant.CityName"
                  ng-maxlength="100" ng-minlength="3">
                <div ng-messages="AddParticipant.cityname.$error" md-auto-hide="false" ng-show="AddParticipant.cityname.$touched">
                  <div ng-message when="pattern"><span>Invalid city name.</span></div>
                  <div ng-message when="required"><span>City name is required.</span></div>
                  <div ng-message when="minlength"><span>Minimum 3 character is required.</span></div>
                  <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                </div>
              </md-input-container>
              <md-input-container flex class="mrgL-10">
                <label for="state">State</label>
                <md-select name="state" id="state" ng-model="vm.AddParticipant.StateId" ng-disabled="!vm.AddParticipant.CountryId" required>
                  <md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
                </md-select>
                <div ng-messages="AddParticipant.state.$error" md-auto-hide="false" ng-show="AddParticipant.state.$touched">
                  <div ng-message when="required">
                    <span translate>State is required.</span>
                  </div>
                </div>
              </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
              <md-input-container flex class="mrgR-10">
                <label>Zip Code</label>
                <input name="postalcode" type="text" required ng-maxlength="6" ng-minlength="5" ng-model="vm.AddParticipant.PostalCode">
                <div ng-messages="AddParticipant.postalcode.$error" md-auto-hide="false" ng-show="AddParticipant.postalcode.$touched">
                  <div ng-message when="maxlength"><span>Maximum length is 6.</span></div>
                  <div ng-message when="minlength"><span>Minimum length is 5.</span></div>
                  <div ng-message when="required"><span>Zip code is required.</span></div>
                </div>
              </md-input-container>
              <md-input-container flex class="mrgL-10">
                <label translate>Country</label>
                <md-select name="country" ng-model="vm.AddParticipant.CountryId" ng-change="vm.GetState(vm.AddParticipant.CountryId)" required>
                  <md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
                </md-select>
                <div ng-messages="AddParticipant.country.$error" md-auto-hide="false" ng-show="AddParticipant.country.$touched">
                  <div ng-message when="required">
                    <span translate>Country is required.</span>
                  </div>
                </div>
              </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                    <label translate>School</label>
                    <input name="School" ng-model="vm.AddParticipant.SchoolName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2">
                    <div ng-messages="AddParticipant.School.$error" md-auto-hide="false" ng-show="AddParticipant.School.$touched">
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Grade Level</label>
                    <md-select ng-change="triWizard.updateProgress()" name="GradeLevel" ng-model="vm.AddParticipant.GradeLevelId">
                        <md-option value="{{GradeLevel.ID}}" ng-repeat="GradeLevel in vm.AllGradeLevel">{{ GradeLevel.Name }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                    <label translate>Transportation</label>
                    <input name="Transportation" ng-model="vm.AddParticipant.Transportation" ng-maxlength="100" ng-minlength="2">
                    <div ng-messages="AddParticipant.Transportation.$error" md-auto-hide="false" ng-show="AddParticipant.Transportation.$touched">
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Disabilites</label>
                    <textarea ng-model="vm.AddParticipant.Disabilities" name="Disabilities" ng-maxlength="100" ng-minlength="2"></textarea>
                    <div ng-messages="AddParticipant.Disabilities.$error" md-auto-hide="false" ng-show="AddParticipant.Disabilities.$touched">
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                    <label translate>Allergies</label>
                    <textarea ng-model="vm.AddParticipant.Allergies" name="Allergies" ng-maxlength="100" ng-minlength="2"></textarea>
                    <div ng-messages="AddParticipant.Allergies.$error" md-auto-hide="false" ng-show="AddParticipant.Allergies.$touched">
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Medications</label>
                    <textarea ng-model="vm.AddParticipant.Medications" name="Medications" ng-maxlength="100" ng-minlength="2"></textarea>
                    <div ng-messages="AddParticipant.Medications.$error" md-auto-hide="false" ng-show="AddParticipant.Medications.$touched">
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="md-block">
                    <label translate>Primary Doctor</label>
                    <input name="PrimaryDoctor" ng-model="vm.AddParticipant.PrimaryDoctor" ng-pattern="/^[a-zA-Z\s]*$/" name="PrimaryDoctor"
                        ng-maxlength="100" ng-minlength="2">
                    <div ng-messages="AddParticipant.PrimaryDoctor.$error" md-auto-hide="false" ng-show="AddParticipant.PrimaryDoctor.$touched">
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <h2 translate><strong>Health Insurance Carrier Info</strong></h2>
              </div>

              <div layout="row" layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                  <label translate>Insurance Carrier</label>
                  <input name="InsuranceCarrier" ng-model="vm.AddParticipant.InsuranceCarrier" ng-maxlength="100" ng-minlength="2">
                  <div ng-messages="AddParticipant.InsuranceCarrier.$error" md-auto-hide="false" ng-show="AddParticipant.InsuranceCarrier.$touched">
                    <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                  </div>
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                  <label translate>Policy Number</label>
                  <input name="InsurancePolicyNumber" ng-model="vm.AddParticipant.InsurancePolicyNumber" ng-maxlength="100" ng-minlength="2">
                  <div ng-messages="AddParticipant.InsurancePolicyNumber.$error" md-auto-hide="false" ng-show="AddParticipant.InsurancePolicyNumber.$touched">
                    <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row" layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                  <label translate>Preferred Hospital Name</label>
                  <input ng-model="vm.AddParticipant.PreferredHospitalName" ng-pattern="/^[a-zA-Z\s]*$/" name="PreferredHospitalName"
                    id="PreferredHospitalName" ng-maxlength="100">
                  <div ng-messages="AddParticipant.PreferredHospitalName.$error" md-auto-hide="false" ng-show="AddParticipant.PreferredHospitalName.$touched">
                    <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                  </div>
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                  <label translate>Preferred Hospital Address</label>
                  <textarea ng-model="vm.AddParticipant.PreferredHospitalAddress" name="PreferredHospitalAddress" id="PreferredHospitalAddress"
                    ng-maxlength="100"></textarea>
                  <div ng-messages="AddParticipant.PreferredHospitalAddress.$error" md-auto-hide="false" ng-show="AddParticipant.PreferredHospitalAddress.$touched">
                    <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row" layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                  <label translate>Family Doctor Name</label>
                  <input ng-model="vm.AddParticipant.FamilyDoctorName" ng-pattern="/^[a-zA-Z\s]*$/" name="FamilyDoctorName" id="FamilyDoctorName"
                    ng-maxlength="100">
                  <div ng-messages="AddParticipant.FamilyDoctorName.$error" md-auto-hide="false" ng-show="AddParticipant.FamilyDoctorName.$touched">
                    <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                  </div>
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                  <label translate>Family Doctor Phone Number</label>
                  <input name="FamilyDoctorPhoneNumber" ng-model="vm.AddParticipant.FamilyDoctorPhoneNumber" ui-mask="{{'(999) 999-9999'}}"
                    placeholder="(___) ___-____" min="0">
                  <div ng-messages="AddParticipant.FamilyDoctorPhoneNumber.$error" md-auto-hide="false" ng-show="AddParticipant.FamilyDoctorPhoneNumber.$touched">
                  </div>
                </md-input-container>
              </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="md-block">
                    <label translate>Notes</label>
                    <textarea name="Description" ng-model="vm.AddParticipant.Description" name="Description" ng-maxlength="100" ng-minlength="2"></textarea>
                    <div ng-messages="AddParticipant.Description.$error" md-auto-hide="false" ng-show="AddParticipant.PrimaryDoctor.$touched">
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
            </div>
          </div>
        </md-card>
      </div>

      <md-toolbar>
        <div class="md-toolbar-tools someclass">
          <div layout="row" class="padding-top-10 padding-left-10">
            <md-radio-group name="LinkParticipant" required class="md-default" ng-model="vm.AddParticipant.Radio">
              <md-radio-button class="addlink-align" value="existing">Add link to Existing participant </md-radio-button>
              <md-radio-button class="addlink-align" value="newParent">Add a new Parent/Guardian</md-radio-button>
            </md-radio-group>
            <div ng-messages="AddParticipant.LinkParticipant.$error" md-auto-hide="false" ng-show="AddParticipant.LinkParticipant.$touched">

            </div>
          </div>
        </div>
      </md-toolbar>


      <div class="padding-20">
        <md-card ng-if="vm.AddParticipant.Radio == 'existing'">
          <div class="padding-20">

            <div class="position-relative">
              <h2 class="add-title">Add Participant Association</h2>
              <div ng-repeat="AssociationForm in vm.AssociationForms track by $index" class="position-relative">
                <ng-form name="paricipantAssociation">
                <md-button ng-if="$index > 0" class="md-button md-cyan-theme md-ink-ripple md-primary md-default closebtn" ng-click="vm.removeNewAssociation(AssociationForm)"
                  aria-label="flat button">
                  <md-icon class="md-cyan-theme material-icons zmdi zmdi-close-circle" aria-hidden="true" style="font-size: 24px; height: 24px; width: 24px;"></md-icon>
                  <md-tooltip>Close</md-tooltip>
                </md-button>
                <div layout="row" layout-xs="column" layout-sm="column" flex>
                  <md-input-container flex class="md-block mrgR-class">
                    <label translate>Associate Participant</label>
                    <md-select ng-change="vm.getAssociationParent(vm.AssociationForms)" name="AssociateParticipant" ng-model="AssociationForm.AssociatedParticipantInfoId"
                      ng-required="vm.AddParticipant.Radio == 'existing'">
                      <md-option value="{{AssociationParticipant.ID}}" ng-repeat="AssociationParticipant in vm.AllAssociationParticipantType">{{ AssociationParticipant.FullName }}</md-option>
                    </md-select>
                    <div ng-messages="paricipantAssociation.AssociateParticipant.$error" md-auto-hide="false" ng-show="paricipantAssociation.AssociateParticipant.$touched">
                      <div ng-message when="required"><span>Associate Participant is required.</span></div>
                    </div>
                  </md-input-container>
                  <md-input-container flex class="md-block mrgl-class">
                    <label translate>Association Type</label>
                    <md-select ng-change="triWizard.updateProgress()" ng-required="vm.AddParticipant.Radio == 'existing'" name="AssociateType"
                      ng-model="AssociationForm.AssociationTypeMasterID  ">
                      <md-option value="{{Association.ID}}" ng-repeat="Association in vm.AllAssociationType">{{ Association.AssociationTypeName }}</md-option>
                    </md-select>
                    <div ng-messages="paricipantAssociation.AssociateType.$error" md-auto-hide="false" ng-show="paricipantAssociation.AssociateType.$touched">
                      <div ng-message when="required"><span>Association Type is required.</span></div>
                    </div>
                  </md-input-container>
                </div>
                </ng-form>
              </div>
              <md-button class="md-button md-cyan-theme md-ink-ripple md-primary md-default add-btn-mrg" ng-click="vm.addNewAssociation()"
                aria-label="flat button">
                <md-icon class="md-cyan-theme material-icons zmdi zmdi-plus-circle" aria-hidden="true" style="font-size: 24px; height: 24px; width: 24px;"></md-icon>
                ADD ADDITIONAL PARTICIPANT ASSOCIATION</md-button>
              <div layout="row" ng-if="vm.AddParticipant.Radio=='existing'">
                <md-radio-group class="md-primary" name="linkParent" ng-required="vm.AddParticipant.Radio=='existing'" ng-model="vm.AddParticipant.RadioParent">
                  <md-radio-button class="addlink-align" value="existing">Link Existing Parent/Guardian</md-radio-button>
                  <md-radio-button class="addlink-align" value="newParent">Add a new Parent/Guardian</md-radio-button>
                </md-radio-group>
                <div ng-messages="AddParticipant.linkParent.$error" md-auto-hide="false" ng-show="AddParticipant.linkParent.$touched">

                </div>
              </div>
              <div class="position-relative" ng-if="vm.AddParticipant.RadioParent=='existing'">
                <h2 class="add-title">Add Parent/Guardian Association</h2>
                <div ng-repeat="ParentAssociation in vm.ParentAssociationForms track by $index" class="position-relative">
                    <ng-form name="parentAssociation">
                    <md-button ng-if="$index > 0" class="md-button md-cyan-theme md-ink-ripple md-primary md-default closebtn" ng-click="vm.removeNewAssociationParent(ParentAssociation)"
                    aria-label="flat button">
                    <md-icon class="md-cyan-theme material-icons zmdi zmdi-close-circle" aria-hidden="true" style="font-size: 24px; height: 24px; width: 24px;"></md-icon>
                    <md-tooltip>Close</md-tooltip>
                  </md-button>

                  <div layout="row" layout-xs="column" layout-sm="column" flex>
                    <md-input-container flex class="md-block mrgR-class">
                      <label translate>Associate Parent/Guardian</label>
                      <md-select  name="AssociationParent" ng-model="ParentAssociation.NewParentInfoID" required>
                        <md-option value="{{AssociationParent.ID}}" ng-repeat="AssociationParent in vm.AllAssociationParent ">{{ AssociationParent.FullName }}</md-option>
                      </md-select>
                      <div ng-messages="parentAssociation.AssociationParent.$error" md-auto-hide="false" ng-show="parentAssociation.AssociationParent.$touched">
                        <div ng-message when="required"><span>Associate Parent is required.</span></div>
                      </div>
                    </md-input-container>
                    <md-input-container flex class="mrgR-10">
                      <label translate>Association Type</label>
                      <md-select ng-change="vm.selectedRelation(ParentForm.RelationTypeId)" name="Type" id="Type" ng-model="ParentAssociation.RelationTypeId"
                        required>
                        <md-option value="{{RelationType.ID}}" ng-repeat="RelationType in vm.AllRelationType">{{ RelationType.Name }}</md-option>
                      </md-select>
                      <div ng-messages="parentAssociation.Type.$error" md-auto-hide="false" ng-show="parentAssociation.Type.$touched">
                        <div ng-message when="required"> <span translate>Participant Relationship is required.</span> </div>
                      </div>
                    </md-input-container>
                  </div>
                  </ng-form>
                </div>
                <md-button class="md-button md-cyan-theme md-ink-ripple md-primary md-default add-btn-mrg" ng-click="vm.addNewAssociationParent()"
                  aria-label="flat button">
                  <md-icon class="md-cyan-theme material-icons zmdi zmdi-plus-circle" aria-hidden="true" style="font-size: 24px; height: 24px; width: 24px;"></md-icon>
                  ADD ADDITIONAL PARENT ASSOCIATION</md-button>
              </div>
              <div ng-if="vm.AddParticipant.RadioParent=='newParent'">
                <div ng-repeat="ParentFormsObjExisting in vm.ParentFormsExisting">
                    <ng-form name="ParentUserFormExisting">
                        <div layout="row" layout-align="end center" flex>
                            <md-button class="md-fab md-warn" ng-hide="$index==0" aria-label="fab button" ng-click="vm.removeParentExisting(ParentFormsObjExisting)">
                                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                                <md-tooltip>Close</md-tooltip>
                            </md-button>
                        </div>
                        <div layout="row" layout-xs="column" layout-sm="column" flex>
                            <md-input-container flex class="mrgR-class">
                                <label for="Name">First Name</label>
                                <input type="text" label="parentfirstname" name="parentfirstname" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-sminlength="2"
                                    id="firstname" ng-model="ParentFormsObjExisting.FirstName" required>
                                <div ng-messages="ParentUserFormExisting.parentfirstname.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.parentfirstname.$touched">
                                    <div ng-message when="required">
                                        <span>First name is required.</span>
                                    </div>
                                    <div ng-message when="pattern">
                                        <span>Only text is allowed.</span>
                                    </div>
                                    <div ng-message when="minlength">
                                        <span>Minimum 2 character is required.</span>
                                    </div>
                                    <div ng-message when="maxlength">
                                        <span>Maximum 100 character is allowed.</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex class="mrgl-class">
                                <label for="Name">Last Name</label>
                                <input type="text" label="Name" name="lastname" id="lastname" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2"
                                    ng-model="ParentFormsObjExisting.LastName" required>
                                <div ng-messages="ParentUserFormExisting.lastname.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.lastname.$touched">
                                    <div ng-message when="required">
                                        <span>Last name is required.</span>
                                    </div>
                                    <div ng-message when="pattern">
                                        <span>Only text is allowed.</span>
                                    </div>
                                    <div ng-message when="minlength">
                                        <span>Minimum 2 character is required.</span>
                                    </div>
                                    <div ng-message when="maxlength">
                                        <span>Maximum 100 character is allowed.</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-xs="column" flex>
                            <md-input-container flex class="mrgR-10">
                                <label for="Provider" translate>Mobile Phone Carrier</label>
                                <md-select name="ProviderId" id="ProviderId" ng-change="vm.CarrierAddress(vm.ParentFormsObjExisting.SMSCarrierId)" ng-model="ParentFormsObjExisting.SMSCarrierId"
                                    required>
                                    <md-option value="{{Carrier.ID}}" ng-repeat="Carrier in vm.AllSMSCarrier">{{ Carrier.Carrier }}</md-option>
                                </md-select>
                                <div ng-messages="ParentUserFormExisting.ProviderId.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.ProviderId.$touched">
                                    <div ng-message when="required">
                                        <span translate>Please choose Mobile Phone Carrier.</span>
                                    </div>
                                </div>

                            </md-input-container>
                            <md-input-container flex class="mrgL-10">
                                <label translate>Mobile</label>
                                <input name="phonenumber" ng-mobile="mobileNumber" ng-model="ParentFormsObjExisting.Mobile" ui-mask="{{'(999) 999-9999'}}"
                                    placeholder="(___) ___-____" min="0" required>
                                <div ng-messages="ParentUserFormExisting.phonenumber.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.phonenumber.$touched">
                                    <div ng-message when="required">
                                        <span translate>Mobile number required.</span>
                                    </div>
                                    <div ng-message when="pattern">
                                        <span>Please enter valid phone number.</span>
                                    </div>
                                    <div ng-message when="mobileNumber">
                                        <span>Mobile Number already exists.</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-xs="column" flex>
                            <md-input-container flex class="mrgR-10">
                                <label translate>Email</label>
                                <input type="email" id="email" ng-parent="parentusername" name="email" ng-model="ParentFormsObjExisting.EmailId" ng-pattern="emailFormat"
                                    required>
                                <div ng-messages="ParentUserFormExisting.email.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.email.$touched">
                                    <div ng-message when="required">
                                        <span translate>Email is required.</span>
                                    </div>
                                    <div ng-message when="pattern">
                                        <span translate>Please enter a valid email.</span>
                                    </div>
                                    <div ng-message when="parent">
                                        <span>Email already Exists</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex class="mrgL-10">
                                <label for="SecurityKey">Pin Number</label>
                                <input type="text" min="0" name="SecurityKey" ng-unique="securitycode" ng-model="ParentFormsObjExisting.SecurityKey"
                                    ng-maxlength="50" ng-pattern="/^[0-9]*$/" maxlength="50" ng-minlength="4" required>
                                <div ng-messages="ParentUserFormExisting.SecurityKey.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.SecurityKey.$touched">
                                    <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                                    <div ng-message when="required">
                                        <span translate>Pin Number is required.</span>
                                    </div>
                                    <div ng-message when="minlength">
                                        <span>Minimum 4 characters are required.</span>
                                    </div>
                                    <div ng-message when="maxlength">
                                        <span>Maximum 50 characters are allowed.</span>
                                    </div>
                                    <div ng-message when="unique">
                                        <span>Security Code Already Exists.</span>
                                    </div>
                                    <div ng-message when="pattern">
                                        <span>Enter valid Pin Number.</span>
                                    </div>
                                </div>
                            </md-input-container>

                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex class="mrgR-10">
                                <label for="SecurityQuestion" translate>Add a Security question</label>
                                <md-select name="SecurityQuestion" id="SecurityQuestion" required ng-model="ParentFormsObjExisting.SecurityQuestionId">
                                    <md-option value="{{Question.ID}}" ng-repeat="Question in vm.AllQuestions">{{ Question.SecurityQuestion }}</md-option>
                                </md-select>
                                <div ng-messages="ParentUserFormExisting.SecurityQuestion.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.SecurityQuestion.$touched">
                                    <div ng-message when="required">
                                        <span translate>Security Question is needed.</span>
                                    </div>
                                </div>

                            </md-input-container>
                            <md-input-container flex class="mrgL-10">
                                <label translate>Your Answer</label>
                                <input name="Answer" type="text" ng-model="ParentFormsObjExisting.SecurityQuestionAnswer" required>
                                <div ng-messages="ParentUserFormExisting.Answer.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.Answer.$touched">
                                    <div ng-message when="required">
                                        <span translate>Please fill the answer for security question.</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-xs="column" flex>
                            <md-input-container flex class="mrgR-10">
                                <label translate>Participant Relationship Type</label>
                                <md-select ng-change="vm.selectedRelation(ParentFormsObj.RelationTypeId)" name="Type" id="Type" ng-model="ParentFormsObjExisting.RelationTypeId"
                                    required>
                                    <md-option value="{{RelationType.ID}}" ng-repeat="RelationType in vm.AllRelationType">{{ RelationType.Name }}</md-option>
                                </md-select>
                                <div ng-messages="ParentUserFormExisting.Type.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.Type.$touched">
                                    <div ng-message when="required">
                                        <span translate>Participant Relationship is required.</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex class="mrgL-10">
                                <label translate>Home Address</label>
                                <input type="text" name="Address" ng-model="ParentFormsObjExisting.Address" ng-maxlength="100" ng-minlength="2" required>
                                <div ng-messages="ParentUserFormExisting.Address.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.Address.$touched">
                                    <div ng-message when="required">
                                        <span>Home Address is required.</span>
                                    </div>
                                    <div ng-message when="minlength">
                                        <span>Minimum 2 character is required.</span>
                                    </div>
                                    <div ng-message when="maxlength">
                                        <span>Maximum 100 character is allowed.</span>
                                    </div>
                                </div>
                            </md-input-container>

                        </div>
                        <div layout="row" layout-xs="column" class="margin-bottom-20">
                            <md-input-container flex class="mrgR-10">
                                <label translate>City</label>
                                <input type="text" ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/" required name="cityname" ng-model="ParentFormsObjExisting.CityName"
                                    ng-maxlength="100" ng-minlength="3">
                                <div ng-messages="ParentUserFormExisting.cityname.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.cityname.$touched">
                                    <div ng-message when="pattern">
                                        <span>Invalid city name.</span>
                                    </div>
                                    <div ng-message when="required">
                                        <span>City name is required.</span>
                                    </div>
                                    <div ng-message when="minlength">
                                        <span>Minimum 3 character is required.</span>
                                    </div>
                                    <div ng-message when="maxlength">
                                        <span>Maximum 100 character is allowed.</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex class="mrgL-10">
                                <label for="state">State</label>
                                <md-select name="state" id="state" ng-model="ParentFormsObjExisting.StateId" ng-disabled="!ParentFormsObjExisting.CountryId"
                                    required>
                                    <md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
                                </md-select>
                                <div ng-messages="ParentUserFormExisting.state.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.state.$touched">
                                    <div ng-message when="required">
                                        <span translate>State is required.</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex class="mrgR-10">
                                <label>Zip Code</label>
                                <input name="postalcodeparent" type="text" required ng-maxlength="6" ng-minlength="5" ng-model="ParentFormsObjExisting.PostalCode">
                                <div ng-messages="ParentUserFormExisting.postalcodeparent.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.postalcodeparent.$touched">
                                    <div ng-message when="maxlength">
                                        <span>Maximum length is 6.</span>
                                    </div>
                                    <div ng-message when="minlength">
                                        <span>Minimum length is 5.</span>
                                    </div>
                                    <div ng-message when="required">
                                        <span>Zip code is required.</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex class="mrgL-10">
                                <label translate>Country</label>
                                <md-select name="country" ng-model="ParentFormsObjExisting.CountryId" ng-change="vm.GetState(ParentFormsObjExisting.CountryId)"
                                    required>
                                    <md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
                                </md-select>
                                <div ng-messages="ParentUserFormExisting.country.$error" md-auto-hide="false" ng-show="ParentUserFormExisting.country.$touched">
                                    <div ng-message when="required">
                                        <span translate>Country is required.</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </ng-form>
                </div>
            </div>
            <div layout="row" layout-xs="column" layout-align="start center" flex>
              <span flex></span>
              <div layout="row" layout-xs="column" layout-align="end center"> Add Another Parent
                  <md-button class="md-fab md-accent" aria-label="fab button" ng-click="vm.AddParentFormExisting($index)">
                      <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                      <md-tooltip>Add Parent</md-tooltip>
                  </md-button>
              </div>
          </div>

            </div>
          </div>
        </md-card>

        <md-card ng-if="vm.AddParticipant.Radio=='newParent'">
          <div ng-repeat="ParentFormsObj in vm.ParentForms">
              <ng-form name="ParentUserForm">
                  <div class="padding-20">
                      <div>
                          <div layout="row" layout-align="end center" flex>
                              <md-button class="md-fab md-warn" ng-hide="$index==0" aria-label="fab button" ng-click="vm.removeParent(ParentFormsObj)">
                                  <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                                  <md-tooltip>Close</md-tooltip>
                              </md-button>
                          </div>
                          <div layout="row" layout-xs="column" layout-sm="column" flex>
                              <md-input-container flex class="mrgR-class">
                                  <label for="Name">First Name</label>
                                  <input type="text" label="firstname" name="firstname" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2" id="firstname"
                                      ng-model="ParentFormsObj.FirstName" ng-required="vm.AddParticipant.Radio=='newParent'">
                                  <div ng-messages="ParentUserForm.firstname.$error" md-auto-hide="false" ng-show="ParentUserForm.firstname.$touched">
                                      <div ng-message when="required">
                                          <span>First name is required.</span>
                                      </div>
                                      <div ng-message when="pattern">
                                          <span>Only text is allowed.</span>
                                      </div>
                                      <div ng-message when="minlength">
                                          <span>Minimum 2 character is required.</span>
                                      </div>
                                      <div ng-message when="maxlength">
                                          <span>Maximum 100 character is allowed.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                              <md-input-container flex class="mrgl-class">
                                  <label for="Name">Last Name</label>
                                  <input type="text" label="Name" name="lastname" id="lastname" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2"
                                      ng-model="ParentFormsObj.LastName" ng-required="vm.AddParticipant.Radio=='newParent'">
                                  <div ng-messages="ParentUserForm.lastname.$error" md-auto-hide="false" ng-show="ParentUserForm.lastname.$touched">
                                      <div ng-message when="required">
                                          <span>Last name is required.</span>
                                      </div>
                                      <div ng-message when="pattern">
                                          <span>Only text is allowed.</span>
                                      </div>
                                      <div ng-message when="minlength">
                                          <span>Minimum 2 character is required.</span>
                                      </div>
                                      <div ng-message when="maxlength">
                                          <span>Maximum 100 character is allowed.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                          </div>
                          <div layout="row" layout-xs="column" flex>
                              <md-input-container flex class="mrgR-10">
                                  <label for="Provider" translate>Mobile Phone Carrier</label>
                                  <md-select name="ProviderId" id="ProviderId" ng-change="vm.CarrierAddress(ParentFormsObj.SMSCarrierId)" ng-required="vm.AddParticipant.Radio=='newParent'"
                                      ng-model="ParentFormsObj.SMSCarrierId">
                                      <md-option value="{{Carrier.ID}}" ng-repeat="Carrier in vm.AllSMSCarrier">{{ Carrier.Carrier }}</md-option>
                                  </md-select>
                                  <div ng-messages="ParentUserForm.ProviderId.$error" md-auto-hide="false" ng-show="ParentUserForm.ProviderId.$touched">
                                      <div ng-message when="required">
                                          <span translate>Please choose Mobile Phone Carrier.</span>
                                      </div>
                                  </div>

                              </md-input-container>
                              <md-input-container flex class="mrgL-10">
                                  <label translate>Mobile</label>
                                  <input name="phonenumber" ng-mobile="mobileNumber" ng-model="ParentFormsObj.Mobile" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____"
                                      min="0" ng-required="vm.AddParticipant.Radio=='newParent'">
                                  <div ng-messages="ParentUserForm.phonenumber.$error" md-auto-hide="false" ng-show="ParentUserForm.phonenumber.$touched">
                                      <div ng-message when="required">
                                          <span translate>Mobile number required.</span>
                                      </div>
                                      <div ng-message when="pattern">
                                          <span>Please enter valid phone number.</span>
                                      </div>
                                      <div ng-message when="mobileNumber">
                                          <span>Mobile Number already exists.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                          </div>
                          <div layout="row" layout-xs="column" flex>
                              <md-input-container flex class="mrgR-10">
                                  <label translate>Email</label>
                                  <input type="email" id="email" ng-parent="parentusername" name="email" ng-model="ParentFormsObj.EmailId" ng-pattern="emailFormat"
                                      ng-required="vm.AddParticipant.Radio=='newParent'">
                                  <div ng-messages="ParentUserForm.email.$error" md-auto-hide="false" ng-show="ParentUserForm.email.$touched">
                                      <div ng-message when="required">
                                          <span translate>Email is required.</span>
                                      </div>
                                      <div ng-message when="pattern">
                                          <span translate>Please enter a valid email.</span>
                                      </div>
                                      <div ng-message when="parent">
                                          <span>Email already Exists</span>
                                      </div>
                                  </div>
                              </md-input-container>
                              <md-input-container flex class="mrgL-10">
                                  <label for="SecurityKey">Pin Number</label>
                                  <input type="text" min="0" name="SecurityKey" ng-unique="securitycode" ng-model="ParentFormsObj.SecurityKey" ng-maxlength="50"
                                      ng-pattern="/^[0-9]*$/" maxlength="50" ng-minlength="4" ng-required="vm.AddParticipant.Radio=='newParent'">
                                  <div ng-messages="ParentUserForm.SecurityKey.$error" md-auto-hide="false" ng-show="ParentUserForm.SecurityKey.$touched">
                                      <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                                      <div ng-message when="required">
                                          <span translate>Pin Number is required.</span>
                                      </div>
                                      <div ng-message when="minlength">
                                          <span>Minimum 4 characters are required.</span>
                                      </div>
                                      <div ng-message when="maxlength">
                                          <span>Maximum 50 characters are allowed.</span>
                                      </div>
                                      <div ng-message when="unique">
                                          <span>Security Code Already Exists.</span>
                                      </div>
                                      <div ng-message when="pattern">
                                          <span>Enter valid Pin Number.</span>
                                      </div>
                                  </div>
                              </md-input-container>

                          </div>
                          <div layout layout-xs="column" flex>
                              <md-input-container flex class="mrgR-10">
                                  <label for="SecurityQuestion" translate>Add a Security question</label>
                                  <md-select name="SecurityQuestion" id="SecurityQuestion" ng-required="vm.AddParticipant.Radio=='newParent'" ng-model="ParentFormsObj.SecurityQuestionId">
                                      <md-option value="{{Question.ID}}" ng-repeat="Question in vm.AllQuestions">{{ Question.SecurityQuestion }}</md-option>
                                  </md-select>
                                  <div ng-messages="ParentUserForm.SecurityQuestion.$error" md-auto-hide="false" ng-show="ParentUserForm.SecurityQuestion.$touched">
                                      <div ng-message when="required">
                                          <span translate>Security Question is needed.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                              <md-input-container flex class="mrgL-10">
                                  <label translate>Your Answer</label>
                                  <input name="Answer" type="text" ng-model="ParentFormsObj.SecurityQuestionAnswer" ng-required="vm.AddParticipant.Radio=='newParent'">
                                  <div ng-messages="ParentUserForm.Answer.$error" md-auto-hide="false" ng-show="ParentUserForm.Answer.$touched">
                                      <div ng-message when="required">
                                          <span translate>Please fill the answer for security question.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                          </div>
                          <div layout="row" layout-xs="column" flex>
                              <md-input-container flex class="mrgR-10">
                                  <label translate>Participant Relationship Type</label>
                                  <md-select ng-change="vm.selectedRelation(ParentForm.RelationTypeId)" name="Type" id="Type" ng-model="ParentFormsObj.RelationTypeId"
                                      ng-required="vm.AddParticipant.Radio=='newParent'">
                                      <md-option value="{{RelationType.ID}}" ng-repeat="RelationType in vm.AllRelationType">{{ RelationType.Name }}</md-option>
                                  </md-select>
                                  <div ng-messages="ParentUserForm.Type.$error" md-auto-hide="false" ng-show="ParentUserForm.Type.$touched">
                                      <div ng-message when="required">
                                          <span translate>Participant Relationship is required.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                              <md-input-container flex class="mrgL-10">
                                  <label translate>Home Address</label>
                                  <input type="text" name="Address" ng-model="ParentFormsObj.Address" ng-maxlength="100" ng-minlength="2" ng-required="vm.AddParticipant.Radio=='newParent'">
                                  <div ng-messages="ParentUserForm.Address.$error" md-auto-hide="false" ng-show="ParentUserForm.Address.$touched">
                                      <div ng-message when="required">
                                          <span>Home Address is required.</span>
                                      </div>
                                      <div ng-message when="minlength">
                                          <span>Minimum 2 character is required.</span>
                                      </div>
                                      <div ng-message when="maxlength">
                                          <span>Maximum 100 character is allowed.</span>
                                      </div>
                                  </div>
                              </md-input-container>

                          </div>
                          <div layout="row" layout-xs="column" class="margin-bottom-20">
                              <md-input-container flex class="mrgR-10">
                                  <label translate>City</label>
                                  <input type="text" ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/" required name="cityname" ng-model="ParentFormsObj.CityName"
                                      ng-maxlength="100" ng-minlength="3">
                                  <div ng-messages="ParentUserForm.cityname.$error" md-auto-hide="false" ng-show="ParentUserForm.cityname.$touched">
                                      <div ng-message when="pattern">
                                          <span>Invalid city name.</span>
                                      </div>
                                      <div ng-message when="required">
                                          <span>City name is required.</span>
                                      </div>
                                      <div ng-message when="minlength">
                                          <span>Minimum 3 character is required.</span>
                                      </div>
                                      <div ng-message when="maxlength">
                                          <span>Maximum 100 character is allowed.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                              <md-input-container flex class="mrgL-10">
                                  <label for="state">State</label>
                                  <md-select name="state" id="state" ng-model="ParentFormsObj.StateId" ng-disabled="!ParentFormsObj.CountryId" required>
                                      <md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
                                  </md-select>
                                  <div ng-messages="ParentUserForm.state.$error" md-auto-hide="false" ng-show="ParentUserForm.state.$touched">
                                      <div ng-message when="required">
                                          <span translate>State is required.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                          </div>
                          <div layout layout-xs="column" flex>
                              <md-input-container flex class="mrgR-10">
                                  <label>Zip Code</label>
                                  <input name="postalcodeparent" type="text" required ng-maxlength="6" ng-minlength="5" ng-model="ParentFormsObj.PostalCode">
                                  <div ng-messages="ParentUserForm.postalcodeparent.$error" md-auto-hide="false" ng-show="ParentUserForm.postalcodeparent.$touched">
                                      <div ng-message when="maxlength">
                                          <span>Maximum length is 6.</span>
                                      </div>
                                      <div ng-message when="minlength">
                                          <span>Minimum length is 5.</span>
                                      </div>
                                      <div ng-message when="required">
                                          <span>Zip code is required.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                              <md-input-container flex class="mrgL-10">
                                  <label translate>Country</label>
                                  <md-select name="country" ng-model="ParentFormsObj.CountryId" ng-change="vm.GetState(ParentFormsObj.CountryId)" required>
                                      <md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
                                  </md-select>
                                  <div ng-messages="ParentUserForm.country.$error" md-auto-hide="false" ng-show="ParentUserForm.country.$touched">
                                      <div ng-message when="required">
                                          <span translate>Country is required.</span>
                                      </div>
                                  </div>
                              </md-input-container>
                          </div>
                      </div>
                  </div>
              </ng-form>
          </div>
          <div layout="row" layout-xs="column" layout-align="start center" flex>
              <span flex></span>
              <div layout="row" layout-xs="column" layout-align="end center"> Add Another Parent
                  <md-button class="md-fab md-accent" aria-label="fab button" ng-click="vm.AddParentForm($index)">
                      <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                      <md-tooltip>Add Parent</md-tooltip>
                  </md-button>
              </div>
          </div>
      </md-card>


        <md-dialog-actions layout="row" layout-align="end center">
          <md-button class="md-primary md-raised" ng-disabled="AddParticipant.$invalid" ng-click="vm.updateParticipantModule(vm.AddParticipant)">
            Update </md-button>
          <md-button class="md-primary md-raised" ng-click="vm.cancelClick()">
            Cancel </md-button>
        </md-dialog-actions>



      </div>

    </form>
  </md-dialog-content>
</md-dialog>