<md-content class="md-padding full-width">
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" ng-src="{{::vm.email.to[0].image}}"/>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{::vm.email.to[0].name}}</span>
                <span class="md-subhead">{{::vm.email.subject}}</span>
            </md-card-header-text>
            <md-card-icon-actions>
                <md-button class="md-icon-button" aria-label="close" ng-click="vm.closeEmail()">
                    <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                    <md-tooltip>Close</md-tooltip>
                </md-button>
            </md-card-icon-actions>
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
            <!--<p>{{vm.email.content}}</p>-->
            <p ng-bind-html="vm.email.content"></p>
             <!--<p ng-repeat="paragraph in vm.email.content">{{paragraph}}</p>-->
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" ng-click="vm.emailAction($event, 'Reply')" aria-label="Reply">
                <md-icon md-font-icon="zmdi zmdi-mail-reply"></md-icon>
                <md-tooltip>Reply</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.emailAction($event, 'Reply_ALL')" aria-label="Reply All">
                <md-icon md-font-icon="zmdi zmdi-mail-reply-all"></md-icon>
                <md-tooltip>Reply All</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.emailAction($event, 'Forward')" aria-label="Forward">
                <md-icon md-font-icon="zmdi zmdi-forward"></md-icon>
                <md-tooltip>Forward</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.deleteEmail(vm.email)" aria-label="Delete">
                <md-icon md-font-icon="zmdi zmdi-delete"></md-icon>
                <md-tooltip>Delete</md-tooltip>
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
