  body {
      font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    }
    
    .hide {
      display: none;
    }
    
    img {
      max-width: 100%;
      height: auto;
    }
    
    .chat-circle {
      backface-visibility: hidden;
      background: #2392ec none repeat scroll 0 0;
      border-radius: 50%;
      cursor: pointer;
      font-family: "intercom-font", "Helvetica Neue", Helvetica, Arial, sans-serif;
      height: 60px;
      right: 15px;
      overflow: hidden;
      position: absolute;
      bottom: 10px;
      transform-origin: center center 0;
      width: 60px;
      line-height: 60px;
      text-align: center;
      z-index: 5;
    }
    
    .chat-window {
      background: #fff none repeat scroll 0 0;
      border-radius: 20px;
      bottom: 80px;
      box-shadow: 0 0 20px #ccc;
      height: 500px;
      position: absolute;
      right: 15px;
      width: 350px;
      overflow: hidden;
      z-index: 1;
    }
    
    .chat-window-header {
      max-height: 100px;
      background: #333;
      min-height: 30px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
      padding: 20px;
    }
    
    .chat-avtar {
      display: inline-block;
      float: left;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    
    .chat-avtar-body {
      margin-left: 50px;
      color: #fff;
      font-size: 14px;
    }
    
    .avtar-active-time {
      font-size: 13px;
    }
    
    .chat-window-content {
      height: 370px;
      overflow-x: hidden;
      overflow-y: scroll;
      background: #f1f1f1;
    }
    
    .chat-window-footer {
      background: #fff none repeat scroll 0 0;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
    }
    
    .message-box {
      bottom: 0;
      left: 0;
      max-height: 200px;
      min-height: 62px;
      position: absolute;
      right: 0;
      height: 100%;
    }
    
    .message-box pre {
      visibility: hidden;
      box-sizing: border-box;
      font-size: 15px;
      font-weight: 400;
      height: 100%;
      line-height: 1.33;
      overflow-wrap: break-word;
      padding: 18px 100px 18px 30px;
      white-space: pre;
      white-space: pre-wrap;
      width: 100%;
    }
    
    .message-box textarea {
      background-color: #f4f7f9;
      border: medium none;
      bottom: 0;
      color: #565867;
      left: 0;
      position: absolute;
      resize: none;
      transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
      box-sizing: border-box;
      font-size: 15px;
      font-weight: 400;
      height: 100%;
      line-height: 1.33;
      overflow-wrap: break-word;
      padding: 18px 100px 18px 30px;
      white-space: pre;
      white-space: pre-wrap;
      width: 100%;
      overflow: auto;
      max-height: 200px;
      display: block;
      min-height: 62px;
    }
    
    .message-box textarea:focus {
      outline: none;
    }
    
    * {
      margin: 0;
      padding: 0;
    }
    
    #chat-messages {
      margin-top: 30px;
      opacity: 0;
      padding-right: 20px;
      transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1) 0s;
    }
    
    #chat-messages.animate {
      margin-top: 0;
      opacity: 1;
    }
    
    #chat-messages label {
      color: #aab8c2;
      display: block;
      font-size: 12px;
      font-weight: 600;
      margin: 15px 0;
      text-align: center;
    }
    
    #chat-messages div.message {
      clear: both;
      margin-bottom: 0;
      padding: 10px 0 10px 28px;
    }
    
    #chat-messages div.message.right {
      margin-left: 19px;
      margin-right: -19px;
      padding: 0 18px 0px 0;
    }
    
    #chat-messages .message img {
      border-radius: 50%;
      float: left;
      margin-left: -38px;
      margin-top: 12px;
      width: 30px;
    }
    
    #chat-messages div.message.right img {
      float: right;
      margin-left: 0;
      margin-right: -38px;
    }
    
    .message .bubble {
      background: #82E8F5;
      border-radius: 5px 5px 5px 0;
      color: #000;
      float: left;
      font-size: 13px;
      font-weight: 600;
      padding: 12px 13px;
      position: relative;
    }
    
    #chat-messages div.message.right .bubble {
      border-radius: 5px 5px 0;
      float: right;
      background: burlywood;
    }
    
    .bubble .corner {
      background: rgba(0, 0, 0, 0) url(images/bubble-corner.png) no-repeat scroll 0 0;
      bottom: 0;
      height: 7px;
      left: -5px;
      position: absolute;
      width: 7px;
    }
    
    div.message.right .corner {
      background: rgba(0, 0, 0, 0) url(images/bubble-cornerR.png) no-repeat scroll 0 0;
      left: auto;
      right: -5px;
    }
    
    .bubble span {
      bottom: -22px;
      color: #aab8c2;
      font-size: 11px;
      position: absolute;
      right: 0;
    }
    
    .chat-window {
      display: none;
    }
    
    #img2 {
      transform: rotate(-30deg);
    }
    
    .img1 {
      background-image: url("pinwheel_64.png");
      background-position: center 14px;
      background-repeat: no-repeat;
      background-size: 32px 36px;
      opacity: 1;
      transform: rotate(0deg) scale(1);
      width: 40px;
      height: 60px;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: transform 0.16s linear 0s, opacity 0.08s linear 0s, -webkit-transform 0.16s linear 0s;
    }
    
    .img2 {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUAAAD///////////////////////////8AAADr8xjQAAAAB3RSTlMAM7cPx7jIAE21/gAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABESURBVAjXYxAyYGBgYFZkUHcG0ialDCYlBgzM7slA7MxgUgaUNCkzdgfJMbunlIDUMpiUg7hwGiYOVQfTBzMHZi7UHgCB3RAZ7HszogAAAABJRU5ErkJggg==");
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: center 25px;
      transform: rotate(-30deg) scale(0);
      opacity: 0;
      width: 30px;
      height: 60px;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: transform 0.16s linear 0s, opacity 0.08s linear 0s, -webkit-transform 0.16s linear 0s;
    }
    
    .mg2click {
      background-size: 14px 14px;
      transform: rotate(0deg) scale(1)!important;
      opacity: 1;
    }
    
    .mg1click {
      background-size: 14px 14px;
      transform: rotate(30deg) scale(0)!important;
      opacity: 0;
    }
    
    .composer-buttons {
      position: absolute;
      right: 15px;
      bottom: 3px;
    }
    
    .intercom-composer-gif-button {
      width: 40px;
      cursor: pointer;
      display: inline-block;
      float: left;
      height: 55px;
      opacity: 0.7;
      position: relative;
      background: none;
      border: none;
    }
    
    .intercom-composer-gif-button::before {
      background-image: url("https://js.intercomcdn.com/images/gif-button.0eaa0461.png");
      background-repeat: no-repeat;
      background-size: 30px 18px;
      border-radius: 10px;
      content: " ";
      height: 18px;
      left: 5px;
      width: 30px;
    }
    
    .intercom-composer-emoji-button {
      width: 30px;
      cursor: pointer;
      display: inline-block;
      float: left;
      height: 55px;
      opacity: 0.7;
      position: relative;
      background: none;
      border: none;
    }
    
    .intercom-composer-emoji-button:focus {
      outline: none;
    }
    
    .intercom-composer-emoji-button::before {
      background-image: url("https://js.intercomcdn.com/images/emoji-button.9a0a2659.png");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      border-radius: 50%;
      content: " ";
      height: 18px;
      left: 5px;
      width: 18px;
    }
    
    .intercom-composer-emoji-button::before,
    .intercom-composer-gif-button::before,
    .intercom-composer-send-button::before,
    .intercom-composer-upload-button::before {
      background-position: 50% center;
      position: absolute;
      top: 20px;
    }
    
    .intercom-composer-upload-button {
      width: 30px;
      cursor: pointer;
      display: inline-block;
      float: left;
      height: 55px;
      opacity: 0.7;
      position: relative;
    }
    
    .intercom-composer-upload-button::before {
      background-image: url("https://js.intercomcdn.com/images/upload-button.a152384b.png");
      background-repeat: no-repeat;
      background-size: 16px 18px;
      content: " ";
      height: 18px;
      left: 5px;
      width: 16px;
    }
    
    .intercom-composer-send-button {
      width: 30px;
      cursor: pointer;
      display: inline-block;
      float: left;
      height: 55px;
      opacity: 0.7;
      position: relative;
      background: none;
      border: none;
    }
    
    .intercom-composer-send-button:focus {
      outline: none;
    }
    
    .intercom-composer-send-button::before {
      background-image: url("https://js.intercomcdn.com/images/send-button.553b8d28.png");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      content: " ";
      height: 20px;
      left: 5px;
      top: 19px;
      width: 20px;
      background-position: 50% center;
      position: absolute;
      top: 20px;
    }
    
    .avtar-name {
      padding-top: 10px;
    }