<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
  <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
    <div class="md-toolbar-tools">
      <h2>{{DisplayText}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
				<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
			</md-button>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
  <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
  <md-divider></md-divider>
  <md-dialog-content class="md-dialog-content">
    <form name="studentForm">
      <div layout layout-xs="column" flex>
        <md-input-container flex>
          <!--<label for="UploadFile">UploadFile</label>
						<input type="text" label="UploadFile" name="UploadFile" id="UploadFile" ng-model="vm.lessonplan.UploadFile" md-maxlength="50"
							required>-->
          <img ng-src="{{vm.ImageUrlPath}}{{vm.ParticipantFormsObj.Student.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" alt="girl-avatar" class="make-round" height="100" width="100" />
          <md-button class="md-primary md-raised md-fab" ng-disabled="vm.status != 'idle'" ngf-select="vm.uploadImage($files)" ngf-multiple="true" aria-label="upload">
            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
          </md-button>
          <div ng-messages="studentForm.UploadFile.$error" md-auto-hide="false" ng-show="studentForm.UploadFile.$touched">
            <div ng-message when="required"><span>Please select Image.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column">
        <md-input-container flex class="mrgR-10">
          <label for="First Name">First Name</label>
          <input name="FirstName" ng-model="vm.ParticipantFormsObj.Student.FirstName" ng-maxlength="100" ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/" required>
          <div ng-messages="studentForm.FirstName.$error" md-auto-hide="false" ng-show="studentForm.FirstName.$touched" 
            >
            <div ng-message when="required"> <span translate>First name is required</span> </div>
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label for="Last Name">Last Name</label>
          <input name="LastName" ng-model="vm.ParticipantFormsObj.Student.LastName" ng-maxlength="100" ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/" required>
          <div ng-messages="studentForm.LastName.$error" md-auto-hide="false" ng-show="studentForm.LastName.$touched">
            <div ng-message when="required"> <span translate>Last name is required</span> </div>
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label translate>Gender</label>
          <md-select ng-change="triWizard.updateProgress()" name="Gender" ng-model="vm.ParticipantFormsObj.Student.Gender" required>
            <md-option value="1" translate>Male</md-option>
            <md-option value="2" translate>Female</md-option>
          </md-select>
          <div ng-messages="studentForm.Gender.$error" md-auto-hide="false" ng-show="studentForm.Gender.$touched">
            <div ng-message when="required"> <span translate>Please choose gender.</span> </div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label for="BirthDate">Birth Date</label>
          <md-datepicker flex ng-model="vm.ParticipantFormsObj.Student.DateOfBirth" ng-model-options="{timezone:'utc'}" md-min-date=vm.NewMinDate md-max-date=vm.dateOfBirth
            md-placeholder="Enter Date" name="BirthDate" id="BirthDate" required></md-datepicker>
          <div ng-messages="studentForm.BirthDate.$error" md-auto-hide="false" ng-show="studentForm.BirthDate.$touched">
            <div ng-message when="required"><span>Please enter birth date.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column" flex>
        <md-input-container flex class="md-block">
          <label translate>Membership Type</label>
          <md-select ng-change="triWizard.updateProgress()" name="Membership" ng-model="vm.ParticipantFormsObj.Student.MembershipTypeId"
            required>
            <md-option value="{{Membership.ID}}" ng-repeat="Membership in vm.AllMembership">{{ Membership.Name }}</md-option>
          </md-select>
          <div ng-messages="studentForm.Membership.$error" md-auto-hide="false" ng-show="studentForm.Membership.$touched">
            <div ng-message when="required"><span>Membership Type is required.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label translate>Phone Number</label>
          <input name="phonenumber" ng-model="vm.ParticipantFormsObj.PhoneNumber" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____"
            min="0">
          <!--<div ng-messages="studentForm.phonenumber.$error" md-auto-hide="false" ng-show="studentForm.phonenumber.$touched">
            <div ng-message when="required"> <span translate>Please enter phone number.</span> </div>
            <div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
          </div>-->
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label translate>Email</label>
          <input type="email" id="participantemail" name="participantemail" ng-model="vm.ParticipantFormsObj.Email">
          <div ng-messages="studentForm.participantemail.$error" md-auto-hide="false" ng-show="studentForm.participantemail.$touched">
            <div ng-message when="email"> <span translate>Please enter a valid email.</span> </div>
          </div>
        </md-input-container>
      </div>
      <div layout layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label translate>School</label>
          <input name="School" ng-model="vm.ParticipantFormsObj.SchoolName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2">
          <div ng-messages="studentForm.School.$error" md-auto-hide="false" ng-show="studentForm.School.$touched">
            <!--<div ng-message when="required"> <span translate>School name is required</span> </div>-->
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label translate>Grade Level</label>
          <md-select ng-change="triWizard.updateProgress()" name="GradeLevel" ng-model="vm.ParticipantFormsObj.GradeLevelId">
            <md-option value="{{GradeLevel.ID}}" ng-repeat="GradeLevel in vm.AllGradeLevel">{{ GradeLevel.Name }}</md-option>
          </md-select>
          <!--<div ng-messages="studentForm.GradeLevel.$error" md-auto-hide="false" ng-show="studentForm.GradeLevel.$touched">
            <div ng-message when="required"> <span translate>Please choose grade level.</span> </div>
          </div>-->
        </md-input-container>
      </div>
      <div layout layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label translate>Transportation</label>
          <input name="Transportation" ng-model="vm.ParticipantFormsObj.Transportation"  ng-maxlength="100" ng-minlength="2">
          <div ng-messages="studentForm.Transportation.$error" md-auto-hide="false" ng-show="studentForm.Transportation.$touched">
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label translate>Disabilites</label>
          <textarea ng-model="vm.ParticipantFormsObj.Disabilities" name="Disabilities"  ng-maxlength="100" ng-minlength="2"></textarea>
          <div ng-messages="studentForm.Disabilities.$error" md-auto-hide="false" ng-show="studentForm.Disabilities.$touched">
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label translate>Allergies</label>
          <textarea ng-model="vm.ParticipantFormsObj.Allergies" name="Allergies" ng-maxlength="100" ng-minlength="2"></textarea>
          <div ng-messages="studentForm.Allergies.$error" md-auto-hide="false" ng-show="studentForm.Allergies.$touched">
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label translate>Medications</label>
          <textarea ng-model="vm.ParticipantFormsObj.Medications" name="Medications"  ng-maxlength="100" ng-minlength="2"></textarea>
          <div ng-messages="studentForm.Medications.$error" md-auto-hide="false" ng-show="studentForm.Medications.$touched">
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout layout-xs="column" flex>
        <md-input-container flex class="md-block">
          <label translate>Primary Doctor</label>
          <input name="PrimaryDoctor" ng-model="vm.ParticipantFormsObj.PrimaryDoctor" ng-pattern="/^[a-zA-Z\s]*$/" name="PrimaryDoctor" ng-maxlength="100" ng-minlength="2"/>
          <div ng-messages="studentForm.PrimaryDoctor.$error" md-auto-hide="false" ng-show="studentForm.PrimaryDoctor.$touched">
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
      </div>
          <div layout layout-xs="column" flex>
        <md-input-container flex class="md-block">
          <label translate>Notes</label>
          <input name="Description" ng-model="vm.ParticipantFormsObj.Description" name="Description" ng-maxlength="100" ng-minlength="2">
            <div ng-messages="studentForm.Description.$error" md-auto-hide="false" ng-show="studentForm.Description.$touched">
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
      </div>
      <div class="button-toolbar" layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-show="id == 0" ng-click="vm.addParticipant(studentForm,vm.ParticipantFormsObj)"
          ng-disabled="studentForm.$invalid">Add</md-button>
        <md-button class="md-primary md-raised" ng-show="id > 0" ng-click="vm.updateParticipant(studentForm,vm.ParticipantFormsObj)"
          ng-disabled="studentForm.$invalid">Update</md-button>
        <md-button class="md-warn md-raised" ng-click="vm.cancelClick()">Cancel</md-button>
        <!--<md-button>Cancel</md-button>-->
      </div>
      <!--</div>-->
      <!--<div layout="row" layout-xs="column" layout-align="start center" flex>
               
                  <span flex></span>
                  <div layout="row" layout-xs="column" layout-align="end center"> Add Participant Information
                    <md-button class="md-fab md-accent" aria-label="fab button" ng-click="vm.AddParentForm($index)">
                      <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                    </md-button>
                  </div>
                </div>-->

      <div layout="row" layout-align="start center"> </div>
    </form>
  </md-dialog-content>
</md-dialog>