<md-content class="padded-content-page">
    <div layout="row" layout-xs="column" layout-align="end center">
        <h2 flex>Family - {{vm.familyname}}</h2>
        <span flex></span>
        <md-button class="md-accent md-raised" ng-click="vm.redirectToFamily()">Back</md-button>
    </div>
    <md-content>
        <div layout="row" layout-align="center center" class="classpage">
            <md-card flex>
                <md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always" md-dynamic-height md-border-bottom>
                    <md-tab label="Summary">
                        <md-card-content ng-controller="familydetailupdate as vm"  ng-include="'app/familiesDetails/views/pages/profile_details_inner.tmpl.html'"></md-card-content>
                    </md-tab>
                    <md-tab label="Participants">
                        <md-card-content ng-controller="FamilyInnerDetailController as vm" ng-include="'app/familiesDetails/views/pages/studentList.tmpl.html'"></md-card-content>
                    </md-tab>
                    <md-tab label="Contacts">
                        <md-card-content  ng-controller="ParentDetailController as vm" ng-include="'app/familiesDetails/views/pages/parentList.tmpl.html'"></md-card-content>
                    </md-tab>
                    <md-tab label="Enrollments">
                        <md-card-content ng-controller="StudentScheduleDetailController as vm" ng-include="'app/familiesDetails/views/pages/studentscheduleList.tmpl.html'"></md-card-content>
                    </md-tab>
                    <!--<md-tab label="Events">
                        <md-card-content>
                            <h1>Under Construction.</h1>
                        </md-card-content>
                    </md-tab>-->
                    <!--<md-tab label="Transactions">
                        <md-card-content>
                            <h1>Under Construction.</h1>
                        </md-card-content>
                    </md-tab>-->
                    <md-tab label="Billing Info">
                        <md-card-content ng-controller="PaymentDetailController as vm" ng-include="'app/familiesDetails/views/pages/updatepaymentinfo.tmpl.html'"></md-card-content>
                    </md-tab>
                    <!--<md-tab label="Misc">
                        <md-card-content>
                            <h1>Under Construction.</h1>
                        </md-card-content>
                    </md-tab>-->
                </md-tabs>
            </md-card>
        </div>
    </md-content>	
</md-content>