<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Add To do</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="addToDo">
            <h2>To do Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container class="mrgR-10" flex>

                    <label for="Name">To do</label>
                    <input type="Name" ng-maxlength="100" label="Name" name="Name" id="Name" ng-model="vm.toDo.Name" required>
                    <div ng-messages="addToDo.Name.$error" md-auto-hide="false" ng-show="addToDo.Name.$touched">
                        <div ng-message when="required"><span>Please enter To do.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
                    </div>
                </md-input-container>
                <md-input-container class="mrgL-10" flex>
                    <label for="DueDate">Due Date</label>
                    <md-datepicker ng-model="vm.toDo.DueDate" md-min-date=vm.todayDate name="DueDate" id="DueDate" md-placeholder="Enter date"
                        ng-model-options="{ timezone: 'utc' }" required></md-datepicker>
                   <div ng-messages="addToDo.DueDate.$error" md-auto-hide="false" ng-show="addToDo.DueDate.$touched">
                        <div ng-message when="required"><span>Due Date is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
                    </div>
                </md-input-container>

            </div>

            <div layout layout-xs="column" flex>
                <md-input-container class="mrgR-10"  flex>
                    <label for="Priority">Priority</label>
                    <md-select name="Priority" id="Priority" ng-model="vm.toDo.PriorityId" required>
                        <md-option ng-repeat="option in vm.AllPriorities" value="{{option.ID}}">{{option.Name}}</md-option>
                    </md-select>
                    <div ng-messages="addToDo.Priority.$error" md-auto-hide="false" ng-show="addToDo.Priority.$touched">
                        <div ng-message when="required"><span>Please choose Priority.</span></div>
                    </div>
                </md-input-container>
                <md-input-container class="mrgL-10" flex>
                    <label for="Description">Description</label>
                    <input type="Description" label="Description" name="Description" id="Description" ng-model="vm.toDo.Description" </md-input-container>
            </div>


            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addToDo(addToDo) " ng-disabled="addToDo.$invalid"
                    translate="Add" aria-label="{{'Add' | triTranslate}}">Add</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>