
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>To do List </h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padding-20">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="Name">To do</label>
								<input type="Name" ng-maxlength="100" label="Name" name="Name" id="Name" ng-model="vm.query.Name">
								<div ng-messages="Search.Name.$error" md-auto-hide="false" ng-show="Search.Name.$touched">
									<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
								</div>
							</md-input-container>
						</div>

						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="Priority">Priority</label>
								<md-select name="Priority" id="Priority" ng-model="vm.query.PriorityId">
									<md-option ng-repeat="option in vm.AllPriorities" value="{{option.ID}}">{{option.Name}}</md-option>
								</md-select>
							</md-input-container>

							<md-input-container flex>
								<label for="DueDate">Due Date</label>
								<md-datepicker ng-model="vm.query.DueDate" name="DueDate" id="DueDate" md-placeholder="Enter date" ng-model-options="{ timezone: 'utc' }"></md-datepicker>

							</md-input-container>
						</div>

						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetToDoList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
		<md-card>
		<div class="padding-20">
			
				<h3><strong>To do :</strong> {{Todo}}</h3>
				<h3><strong>Priority :</strong> {{priority}}</h3>
				<h3><strong>Due Date :</strong> {{DueDate | date:'MM/dd/yyyy'}}</h3>
			
		</div>
		<div >

			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="vm.selected" md-progress="vm.promise">
					<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetToDoList">
						<tr md-row>
							<!--<th md-column><span>#</span></th>-->
							<th md-column md-order-by="Name"><span>To do</span></th>
							<th md-column md-order-by="Priority"><span>{{vm.columns.Priority}}</span></th>
							<th md-column md-order-by="DueDate"><span>{{vm.columns.DueDate}}</span></th>
							<th md-column md-order-by="Description"><span>{{vm.columns.Description}}</span></th>
							<th md-column><span>ACTION</span></th>
						</tr>
					</thead>
					<tbody md-body>

						<tr md-row md-auto-select md-select="toDo" md-select-id="toDo.ID" ng-repeat="toDo in vm.toDoList ">

							<!--<td md-cell>{{ $index + 1 }} </td>-->
							<td md-cell><a style="cursor:pointer" ng-click="vm.showUpdateToDoDialoue($event,toDo)">{{toDo.Name}}</a></td>
							<td md-cell>{{toDo.Priority.Name}}</td>
							<td md-cell>{{toDo.DueDate | date:'MM/dd/yyyy' }}</td>
							<td md-cell>{{toDo.Description}}</td>
							<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.showUpdateToDoDialoue($event,toDo)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
									<md-tooltip>Edit</md-tooltip>
								</a> &nbsp;
								<a class="md-primary" ng-click="vm.showDeleteToDoConfirmDialoue($event,toDo.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
									<md-tooltip>Delete</md-tooltip>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
				<md-input-container flex class="text-center">
					<h2>No To do list found.</h2>
				</md-input-container>
			</div>
			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.toDoCount}}"
				md-on-paginate="vm.GetToDoList" md-page-select></md-table-pagination>
			<!--</div>-->
		</div>
		</md-card>
	
	</div>

	<md-button ng-click="vm.showAddToDoDialoue($event,toDo)" class="md-fab md-accent md-fab-bottom-right md-hue-3 addbtn-pos" aria-label="Add ToDo">
			<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
			<md-tooltip>Add To do</md-tooltip>
		</md-button>