<template>
    <div class="wrapper" style="margin-bottom:50px;">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <p>Pinwheel Care offers 3 levels of plans that are certain to fit your facility's needs perfectly.</p>
                            </div>
                        </div>
                        <!-- START PLAN TABLE-->
                        <div class="row">
                            <!-- PLAN-->
                            <div class="col-md-4" v-for="plans in PricingPlans">
                                <div class="plan">
                                    <h3 class="plan-header">{{plans.Name}}</h3>
                                    <div class="plan-price">
                                        <div class="text-lg"><sup><small>$</small></sup>{{plans.Price}}
                                            <!-- span.plan-period /mo-->
                                        </div>
                                    </div>
                                    <ul class="plan-features">
                                        <li><em class="icon-check"></em>Up to {{plans.MaxNumberOfParticipants}} Participants</li>
                                        <li><em class="icon-check"></em>{{plans.TimeClockUsers}} Time Clock Users</li>
                                    </ul>
                                    <hr>
                                    <ul class="plan-features">
                                        <li><em class="icon-check"></em>Time Clock</li>
                                        <li><em class="icon-check"></em>Online Registration</li>
                                        <li><em class="icon-check"></em>Unlimited Locations</li>
                                        <li><em class="icon-check"></em>Parent Portal</li>
                                        <li><em class="icon-check"></em>Online Payments</li>
                                        <li><em class="icon-check"></em>QuickBooks Interface</li>
                                        <li><em class="icon-check"></em>Messaging System</li>
                                    </ul>
                                    <hr>
                                    <div class="text-center"><a href="#" @click="GotoAgencyRegistration(plans)" class="btn btn-info">Choose</a>
                                    </div>
                                </div>
                            </div>
                           
                            <!-- PLAN-->
                          
                        </div>
                        <!-- END PLAN TABLE-->
                        <p class="text-center text-muted" style="margin-top:20px;">
                            <small>* Subject to specific license terms. Price and features listed for demo only.</small>
                        </p>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>

</template>
<script>
export default {
  name: "PricingComponent",
  data() {
    return {
      PricingPlans: []
    };
  },
  methods: {
    getPricingPlans: function() {
      this.$Progress.start();
      this.$store.dispatch("LOAD_PRICINGPLANS").then(response => {
        if (response.IsSuccess) this.PricingPlans = response.Content;
        this.$Progress.finish();
      });
    },
    GotoAgencyRegistration: function(data) {
      //   if (vm.selectedPlan.plan != "" && vm.selectedPlan.plan != null) {
      if (
        localStorage.PricePlan == "null" ||
        localStorage.PricePlan == undefined ||
        localStorage.PricePlan == null
      ) {
        localStorage.setItem("PricePlan", JSON.stringify(data));
      }
      //   this.$router.go('/login');
      this.$router.push("/Registration");
      //   https://router.vuejs.org/en/essentials/navigation.html
      // Redirection: $stateParams.Redirection

      // } else {
      //     notificationService.displaymessage('Please choose a plan.');
      // }
    }
  },
  beforeMount() {
    this.getPricingPlans();
  }
};
</script>