<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Add Enhancement</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="addEnhancement">
            <h2>Enhancement Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Title">Title </label>
                    <input type="Title" ng-maxlength="100" label="Title" name="Title" id="Title" ng-model="vm.enhancement.Title" required>
                    <div ng-messages="addEnhancement.Title.$error" md-auto-hide="false" ng-show="addEnhancement.Title.$touched">
                        <div ng-message when="required"><span>Title is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="EnhancementDate">Enhancement Date</label>
                    <md-datepicker ng-model="vm.enhancement.EnhancementDate" name="EnhancementDate" id="EnhancementDate" md-placeholder="Enter date"
                        ng-model-options="{ timezone: 'utc' }" required></md-datepicker>
                     <div ng-messages="addEnhancement.EnhancementDate.$error" md-auto-hide="false" ng-show="addEnhancement.EnhancementDate.$touched">
                        <div ng-message when="required"><span>Enhancement Date is required.</span></div>
                        
                    </div>
                </md-input-container>

            </div>

            <!--<div layout layout-xs="column" flex>


                <md-input-container flex>
                    <label for="Description">Description</label>
                    <input type="Description" label="Description" name="Description" id="Description" ng-model="vm.enhancement.Description">
                </md-input-container>


            </div>-->
   
<label for="Description">Description</label>
                <text-angular class="email-content" name="emailBodyNew" ng-model="vm.enhancement.Description" ta-target-toolbars="editor-toolbar"></text-angular>




            <div layout layout="row" layout-align="end center">
                <text-angular-toolbar name="editor-toolbar" class="email-dialog-editor-toolbar" ta-toolbar-active-button-class="active"></text-angular-toolbar>
        <span flex></span>
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addEnhancement(addEnhancement) "
                    ng-disabled="addEnhancement.$invalid" translate="Add" aria-label="{{'Add' | triTranslate}}">Add</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>