
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Enhancement List </h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padded-content-page">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="Title">Title</label>
								<input type="Title" ng-maxlength="100" label="Title" name="Title" id="Title" ng-model="vm.query.Title">
								<div ng-messages="Search.Title.$error" md-auto-hide="false" ng-show="Search.Title.$touched">
									<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
								</div>
							</md-input-container>
						</div>

						<div layout layout-xs="column" flex>

							<md-input-container flex>
								<label for="EnhancementDate">Enhancement Date</label>
								<md-datepicker ng-model="vm.query.EnhancementDate" name="EnhancementDate" id="EnhancementDate" md-placeholder="Enter date"
									ng-model-options="{ timezone: 'utc' }"></md-datepicker>
								<!--<div ng-messages="registerClass.registrationstartDate.$error" md-auto-hide="false" ng-show="registerClass.registrationstartDate.$touched">
								<div ng-message when="required"><span>Please select date</span></div>
							</div>-->
							</md-input-container>
						</div>

						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetEnhancementList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
		<div>
			<p>
				<h3>Title: {{Title}} </h3>
				<h3>Enhancement Date: {{EnhancementDate | date:'MM/dd/yyyy'}} </h3>
			</p>
		</div>
		<div class="margin-top-20">

			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="vm.selected" md-progress="vm.promise">
					<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetEnhancementList">
						<tr md-row>
							<!--<th md-column><span>#</span></th>-->
							<th md-column md-order-by="Title"><span>Title</span></th>
							<th md-column md-order-by="EnhancementDate"><span>Enhancement Date</span></th>
							<th md-column md-order-by="Description"><span>Description</span></th>
							<th md-column><span>ACTION</span></th>
						</tr>
					</thead>
					<tbody md-body>

						<tr md-row md-auto-select md-select="enhancement" md-select-id="enhancement.ID" ng-repeat="enhancement in vm.enhancementList ">
							<!--<td md-cell>{{ $index + 1 }} </td>-->
							<td md-cell><a style="cursor:pointer" ng-click="vm.showUpdateEnhancementDialoue($event,enhancement)">{{enhancement.Title}}</a></td>
							<td md-cell>{{enhancement.EnhancementDate | date:'MM/dd/yyyy' }}</td>
							<td md-cell>
								<p ng-bind-html="enhancement.Description"></p>
							</td>
							<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.showUpdateEnhancementDialoue($event,enhancement)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
									<md-tooltip>Edit</md-tooltip>
								</a> &nbsp;
								<a class="md-primary" ng-click="vm.showDeleteEnhancementConfirmDialoue($event,enhancement.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
									<md-tooltip>Delete</md-tooltip>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
				<md-input-container flex class="text-center">
					<h2>No Enhancement list found.</h2>
				</md-input-container>
			</div>
			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.enhancementCount}}"
				md-on-paginate="vm.GetEnhancementList" md-page-select></md-table-pagination>
			<!--</div>-->
		</div>
	
	</div>

	<md-button ng-click="vm.showAddEnhancementDialoue($event,enhancement)" class="md-fab md-accent addbtn-pos md-fab-bottom-right md-hue-3"
			aria-label="Add Enhancement">
			<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
			<md-tooltip>Add Enhancement</md-tooltip>
		</md-button>