﻿
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Class List <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'class' : 'class'}} selected )</span></h2>
            <span flex></span>
            <span><h3>Search</h3></span>
            <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
                <md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
                <md-tooltip>Search</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div class="padding-20">
        <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <div class="padded-content-page">
                <md-content class="overflowVisible">
                    <div layout layout-xs="column" flex>
                        <md-input-container flex>
                            <label for="ClassName">Class</label>
                            <input type="text" label="ClassName" ng-maxlength="50" name="ClassName" id="ClassName" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="query.ClassName">
                        </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                        <md-input-container flex>
                            <label for="categoryid">Category</label>
                            <md-select placeholder="Select category" name="categoryid" id="categoryid" ng-model="query.categoryid">
                                <md-option ng-repeat="option in vm.AllCategories" value="{{option.ID}}">{{option.Name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="statusid">Status</label>
                            <md-select placeholder="Select status" name="statusid" id="statusid" ng-model="query.statusid">
                                <md-option ng-repeat="option in vm.AllClassStatus" value="{{option.ID}}">{{option.Name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                        <md-input-container flex class="text-center">
                            <md-button class="md-primary md-raised" ng-click="vm.GetClassList()">Search</md-button>
                            <md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
                            <md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
                    </div>
                </md-content>
            </div>
        </md-sidenav>
        <md-card>
        <div class="padding-20">
				<h3><strong>Class : </strong>{{Class}}</h3>
                <h3><strong>Category : </strong>{{Category}}</h3>
                <h3><strong>Status : </strong>{{Status}}</h3>
		</div>
        <div class="">            
            <md-table-container>
                <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped"  ng-model="selected"
                    md-progress="vm.promise">
                    <thead md-head md-order="query.order" md-on-reorder="vm.GetClassList">
                        <tr md-row>
                            <th md-column md-order-by="ClassName"><span>{{vm.columns.ClassName}}</span></th>
                            <th md-column md-order-by="CategoryName"><span>{{vm.columns.CategoryName}}</span></th>
                            <th md-column md-order-by="CategoryName"><span>{{vm.columns.EnrolledParticipants}}</span></th>
                            <th md-column md-order-by="Status"><span>{{vm.columns.Status}}</span></th>
                            <th md-column><span>&nbsp;ACTION&nbsp;</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-auto-select md-select="class" @*md-select-id="class.ID" *@ ng-repeat="class in vm.classList">
                            <td md-cell><a style="cursor:pointer" ng-click="vm.detailClassInfo($event,class)">{{class.ClassName}}</a></td>
                            <td md-cell>{{class.CategoryName}}</td>
                            <td md-cell>{{class.EnrolledParticipants}} Out of {{class.EnrollCapacity}}</td>
                            <td md-cell>{{class.ClassStatus.Name}}</td>
                            <td md-cell style="min-width:60px">

                                <a class="md-primary" ng-click="vm.editClass($event,class)" style="cursor:pointer">
                                    <md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
                                      <md-tooltip>Edit</md-tooltip>
                                </a> &nbsp;
                                <a class="md-primary" ng-click="vm.showDeleteClassConfirmDialoue($event,class.ID)" style="cursor:pointer">
                                    <md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
                                    </md-icon>
                                    <md-tooltip>Delete</md-tooltip>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <div ng-if="vm.classList==0" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Class list found.</h2>
                </md-input-container>
            </div>
            <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100,200,500,1000,2000,5000]" md-limit="query.limit" md-page="query.page"
                md-total="{{vm.classCount}}" md-on-paginate="vm.GetClassList" md-page-select></md-table-pagination>
        </div>
        </md-card>
    </div>

<md-button ng-href="/classes/add" class="md-fab md-accent md-fab-bottom-right md-hue-3 addbtn-pos" aria-label="Add Class">
    <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
    <md-tooltip>Add Class</md-tooltip>
</md-button>
