﻿<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Update Student</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon ng-style="{ 'font-size': size, 'height': size, 'width': size }" ng-class="vm.selectedIcon.className" class="ng-isolate-scope md-cyan-theme material-icons zmdi zmdi-close" aria-hidden="true" style="font-size: 24px; height: 24px; width: 24px;"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-tabs-content padding-40">
            <form name="updateStudentForm">
                <md-card>
                    <md-card-content>
                        <div layout layout-xs="column" flex ng-model="student.ID" name="ID" id="ID">
                            <md-input-container flex>
                                <label for="FirstName">First name</label>
                                <input type="text" label="First Name" name="FirstName" id="FirstName" ng-model="student.FirstName" required>
                            </md-input-container>
                            <md-input-container flex>
                                <label for="LastName">Last Name</label>
                                <input type="text" label="Last Name" name="LastName" id="LastName" ng-model="student.LastName" required>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label for="Gender">Gender</label>
                            <input label="Gender" name="Gender" id="Gender" type="text" ng-model="student.Gender" required>
                        </md-input-container>
                        <md-dialog-actions layout="row">
                            <div layout="row" layout-align="end center">
                                <md-button class="md-primary" ng-click="vm.UpdateBranch(updateBranchForm)" ng-disabled="updateBranchForm.$invalid">Update</md-button>
                                <md-button ng-click="hide()">Cancel</md-button>
                            </div>
                        </md-dialog-actions>
                    </md-card-content>
                </md-card>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>