<style>
    md-radio-button .md-label {
        width: 90% !important;
    }
</style>

<md-card>
    <md-toolbar>
        <div class="md-toolbar-tools ">
            <div flex layout="row" layout-align="start center" class="relative">
                <md-button class="md-accent md-raised" href="/dashboard"> Back </md-button>
                <h2 class="price-title">Pricing</h2>
            </div>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
    <md-content class="md-padding">
        <div layout layout-xs="column" layout-align="center center" class="margin-bottom-20 margin-top-10">
            <h2 class="main-heading font-size-4">{{vm.planPrice.plan}}</h2>
        </div>
        <md-card-actions layout="row" layout-align="center center" class="margin-bottom-30">
            <md-button class="md-primary md-raised big-button" ng-click="vm.UpdateAgencyTimeClockUsers()">BUY NOW</md-button>
        </md-card-actions>
        <div layout layout-xs="column" layout-align="center center" class="margin-bottom-20 margin-top-10">
            <h1 class="main-heading font-size-2">Purchase for {{vm.registerFor.text}} TimeClockUsers</h1>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-xs="column" layout-align="center center" class="includebg">
            Includes
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-xs="column" class="margin-top-20 margin-bottom-30">
            <div flex="33" flex-xs="100" content-layout="column" class="mrgR-10">
                <md-list flex>
                    <md-list-item>
                        <md-icon md-font-icon="zmdi zmdi-check-circle"></md-icon>
                        <p class="font-size-2">Timeclock</p>

                    </md-list-item>
                    <md-list-item>
                        <md-icon md-font-icon="zmdi zmdi-check-circle"></md-icon>
                        <p class="font-size-2">Online Registration</p>

                    </md-list-item>
                    <md-list-item>
                        <md-icon md-font-icon="zmdi zmdi-check-circle"></md-icon>
                        <p class="font-size-2">Unlimited Lead File</p>

                    </md-list-item>
                </md-list>
            </div>
            <div flex="33" flex-xs="100" content-layout="column" class="mrgL-10 mrgR-10">
                <md-list flex>
                    <md-list-item>
                        <md-icon md-font-icon="zmdi zmdi-check-circle"></md-icon>
                        <p class="font-size-2">Unlimited Locations</p>

                    </md-list-item>
                    <md-list-item>
                        <md-icon md-font-icon="zmdi zmdi-check-circle"></md-icon>
                        <p class="font-size-2">Parent Portal</p>

                    </md-list-item>
                    <md-list-item>
                        <md-icon md-font-icon="zmdi zmdi-check-circle"></md-icon>
                        <p class="font-size-2">EPayments</p>

                    </md-list-item>
                </md-list>
            </div>
            <div flex="33" flex-xs="100" content-layout="column" class="mrgL-10">
                <md-list flex>
                    <md-list-item>
                        <md-icon md-font-icon="zmdi zmdi-check-circle"></md-icon>
                        <p class="font-size-2">Unlimited Support</p>

                    </md-list-item>
                    <md-list-item>
                        <md-icon md-font-icon="zmdi zmdi-check-circle"></md-icon>
                        <p class="font-size-2">QuickBooks Interface</p>

                    </md-list-item>
                    <md-list-item>
                        <md-icon md-font-icon="zmdi zmdi-check-circle"></md-icon>
                        <p class="font-size-2">Email</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <md-radio-group ng-model="vm.selectedPlan.plan" ng-change="vm.GetSelectedPlan()" flex>
            <div layout="row" layout-xs="column" layout-wrap>
                <div flex="25" ng-repeat="timeClockUsersData in vm.TimeClockUsersPlanPricing">
                    <md-radio-button flex value={{timeClockUsersData.Name}} class="md-primary mrgL-10">
                        <tri-widget palette-background="triCyan:600" content-layout="column" content-layout-align="space-between center">
                            <p class="md-display-3 font-weight-100 margin-top-10 margin-bottom-0"><sup class="md-title font-weight-100" style="vertical-align: top;">$</sup>{{timeClockUsersData.Price}}</p>
                            <p class="md-body-2 opacity-70 margin-top-0 margin-bottom-10" translate>per month</p>
                            <div class="white-background">{{timeClockUsersData.MaxNumberOfTimeClockUsers}} TimeClockUsers</div>
                        </tri-widget>
                    </md-radio-button>
                </div>
            </div>
        </md-radio-group>
        <md-card-actions layout="row" layout-align="center center" class="margin-top-40">
            <md-button class="md-primary md-raised big-button" ng-click="vm.UpdateAgencyTimeClockUsers()">BUY NOW</md-button>
        </md-card-actions>
    </md-content>
</md-card>