/* this was added to fix a bug in Safari */
/* https://github.com/oxygenna/triangular/issues/126 */
.triangular-content > div {
  overflow: auto;
}

.triangular-non-scrolling {
  position: relative;
  z-index: 0;
  & > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}

.triangular-toolbar-and-content {
  position: relative;
}

.triangular-loader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.triangular-sidenav-left.md-locked-open {
  width: 200px; //260
  min-width: 200px;//260
  max-width: 200px;//260
  -ms-overflow-style: none; /* ie fix for removing scrollbars */
  &.admin-sidebar-collapsed {
    min-width: 48px;
    max-width: 48px;
    transition: all .3s;
    &.hover {
      min-width: 200px;//260
      max-width: 200px;//260
    }
  }
}
