<div>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Add Lesson Plan</h2>
		</div>
	</md-toolbar>
	<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
	<md-card flex>
		<form name="registerLessonPlan">
			<md-card-content>
				<div layout layout-xs="column" flex>
					<md-input-container flex>
						<label for="Name">Name</label>
						<input type="text" label="Name" name="Name" id="Name" ng-model="vm.lessonplan.Name" md-maxlength="50" required>
						<div ng-messages="registerLessonPlan.Name.$error" md-auto-hide="false" ng-show="registerLessonPlan.Name.$touched">
							<div ng-message when="required"><span>Please enter Name.</span></div>
						</div>
					</md-input-container>
					<md-input-container flex>
						<label for="Date">Date</label>
						<md-datepicker ng-model="vm.lessonplan.Date" name="Date" id="Date" ng-disabled=vm.disabled md-placeholder="Enter date"></md-datepicker>
						<div ng-messages="registerLessonPlan.Date.$error" md-auto-hide="false" ng-show="registerLessonPlan.Date.$touched">
							<div ng-message when="required"><span>Please enter Date.</span></div>
						</div>
					</md-input-container>
				</div>
				<div layout layout-xs="column" flex>
					<md-input-container flex>
						<label for="Theme">Theme</label>
						<input type="text" label="Theme" name="Theme" id="Theme" ng-model="vm.lessonplan.Theme" md-maxlength="100" required>
						<div ng-messages="registerLessonPlan.Theme.$error" md-auto-hide="false" ng-show="registerLessonPlan.Theme.$touched">
							<div ng-message when="required"><span>Please enter Theme.</span></div>
						</div>
					</md-input-container>
					<md-input-container flex>
						<label for="Order">Order</label>
						<input type="number" label="Order" name="Order" id="Order" ng-model="vm.lessonplan.DaysRequired" ng-maxlength="3" ng-pattern="/^[0-9]*$/ "
							required>
						<div ng-messages="registerLessonPlan.Order.$error ||registerLessonPlan.Order.$invalid
                                        " md-auto-hide="false " ng-show="registerLessonPlan.Order.$touched ">
							<div ng-message when="required "><span>Please enter Order.</span></div>
							<div ng-message when="pattern ">Please enter only numbers.</div>
							<div ng-message when="maxlength ">Maximum length is 3</div>
						</div>
					</md-input-container>
				</div>

				<div layout layout-xs="column" flex>
					<md-input-container flex>
						<label for="SpecialInstructions">Special Instructions</label>
						<input type="text" label="SpecialInstructions" name="SpecialInstructions" id="SpecialInstructions" ng-model="vm.lessonplan.SpecialInstructions"
							md-maxlength="50" required>
						<div ng-messages="registerLessonPlan.SpecialInstructions.$error" md-auto-hide="false" ng-show="registerLessonPlan.SpecialInstructions.$touched">
							<div ng-message when="required"><span>Please enter Special Instructions.</span></div>
						</div>
					</md-input-container>
					<md-input-container flex>
						<label for="Description">Description</label>
						<input type="text" label="Description" name="Description" id="Description" ng-model="vm.lessonplan.Description" md-maxlength="50"
							required>
						<div ng-messages="registerLessonPlan.Description.$error" md-auto-hide="false" ng-show="registerLessonPlan.Description.$touched">
							<div ng-message when="required"><span>Please enter lessonplan.</span></div>
						</div>
					</md-input-container>

				</div>
				<div layout layout-xs="column" flex>
					<md-input-container flex>
						<label for="UploadFile">UploadFile</label>
						<input type="text" label="UploadFile" name="UploadFile" id="UploadFile" ng-model="vm.lessonplan.UploadFile" md-maxlength="50"
							ng-disabled="true" required>
						<md-button class="md-primary md-raised md-fab" ngf-select="vm.upload($files)" ngf-multiple="true" aria-label="upload">
							<md-icon md-font-icon="zmdi zmdi-cloud-upload"></md-icon>
							<div ng-messages="registerLessonPlan.UploadFile.$error" md-auto-hide="false" ng-show="registerLessonPlan.UploadFile.$touched">
								<div ng-message when="required"><span>Please enter lessonplan.</span></div>
							</div>
					</md-input-container>
				</div>
				<div layout layout="row " layout-align="end center ">
					<md-button class="md-raised md-primary margin-left-0 margin-top-10 margin-bottom-10" ng-click="vm.addLessonPlan(registerLessonPlan) " ng-disabled="registerLessonPlan.$invalid">Save</md-button>
					<md-button class="md-raised md-warn margin-left-0 margin-right-0 margin-top-10 margin-bottom-10 " ng-href="#/classes/LessonPlan" ng-disabled="login.$invalid ">Cancel</md-button>
				</div>
			</md-card-content>
		</form>
	</md-card>
</div>