<div class="margin-bottom-70">
<md-tabs class="example-tabs-nopadding" md-dynamic-height md-border-bottom>
	<md-tab label="Lesson Plan">
		<div class="md-tabs-content">
				<md-table-container>
							<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
						<thead md-head md-order="query.order" md-on-reorder="vm.GetLessonPlanList">
							<tr md-row>
								<th md-column md-order-by="Name"><span>{{vm.columns.Name}}</span></th>
								<th md-column md-order-by="Date"><span>{{vm.columns.Date}}</span></th>
								<th md-column md-order-by="Theme"><span>{{vm.columns.Theme}}</span></th>
								<th md-column md-order-by="Order"><span>{{vm.columns.Order}}</span></th>
								<th md-column md-order-by="SpecialInstructions"><span>{{vm.columns.SpecialInstructions}}</span></th>
								<th md-column md-order-by="Description"><span>{{vm.columns.Description}}</span></th>
								<th md-column><span>{{vm.columns.UploadFile}}</span></th>
								<th md-column style="min-width:60px"><span>ACTION</span></th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row md-auto-select md-select="lessonplan" @*md-select-id="lessonplan.ID" *@ ng-repeat="lessonplan in vm.lessonplanList">
								<td md-cell>{{lessonplan.Name}}</td>
										<td md-cell>{{lessonplan.Date | date:'MM/dd/yyyy' }}</td>
								<td md-cell>{{lessonplan.Theme}}</td>
								<td md-cell>{{lessonplan.Order}}</td>
								<td md-cell>{{lessonplan.SpecialInstructions}}</td>
								<td md-cell>{{lessonplan.Description}}</td>
								<td md-cell><a href="{{vm.URL}}{{lessonplan.UploadFile}}">{{lessonplan.UploadFile}}</td>
						<td md-cell class="actionAlign">
							<a class="md-primary" ng-click="vm.showUpdateLessonPlanDialoue($event,lessonplan)" style="cursor:pointer">
								</>
								<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
								<md-tooltip>Edit</md-tooltip>
							</a> &nbsp;
									<a class="md-primary" ng-click="vm.showDeleteLessonPlanConfirmDialoue($event,lessonplan.ID)" style="cursor:pointer">
										<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
										</md-icon>
										<md-tooltip>Delete</md-tooltip>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
				<div ng-if="vm.NoData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Lesson plan list found.</h2>
                </md-input-container>
            </div>
				
					<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.lessonplanCount}}"
						md-on-paginate="vm.GetLessonPlanList" md-page-select></md-table-pagination>
				
				</div>

			</div>
		</div>
	</md-tab>
</md-tabs>
<md-button ng-click="vm.showAddLessonPlanController()" class="md-fab md-accent md-fab-bottom-right md-hue-3 addbtn-pos" aria-label="Add Lesson Plan">
	<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
	<md-tooltip>Add Lesson Plan</md-tooltip>
</md-button>
</div>