<md-content class="padded-content-page">
<div layout="row" layout-xs="column" layout-align="end center">
	<h2 class="md-display-1" flex>Details - {{ParticipantName}}</h2>
    <span flex></span>
    <md-button  class="md-accent md-raised" ng-click="vm.checkRedirect()" translate="Back">Back</md-button>
    </div>
	<div layout="row" layout-align="center center" class="classpage">
        <md-card flex>
            <md-tabs class="md-primary" md-selected="selectedTabIndex" md-dynamic-height md-border-bottom>
            <md-tab label="Profile">
                  <md-card-content ng-controller="StudentDetailsController as vm" ng-include="'app/students/studentdetails/views/details/pages/profile.tmpl.html'"></md-card-content>
             </md-tab>  
             <md-tab label="Attendance History">
                  <md-card-content ng-controller="StudentAttendanceDetailsController as vm" ng-include="'app/students/studentdetails/views/studentattendancedetails.tmpl.html'"></md-card-content>
             </md-tab>
              <md-tab label="Enrollment History">
                  <md-card-content ng-controller="StudentEnrollHistoryController as vm" ng-include="'app/students/studentdetails/views/studentenrollmentdetails.tmpl.html'"></md-card-content>
             </md-tab>
            <md-tab label="Billing & Fees">
                  <md-card-content   ng-controller="BillingAndFeesDetailsController as vm"  ng-include="'app/students/studentdetails/views/details/pages/billingfees.tmpl.html'"></md-card-content>
             </md-tab>
             <!--<md-tab label="Medical">
                  <h1>Under Construction.</h1>
             </md-tab>
             <md-tab label="Attendance History">
                  <h1>Under Construction.</h1>
             </md-tab>
             <md-tab label="Skills">
                  <h1>Under Construction.</h1>
             </md-tab>
             <md-tab label="Schedule">
                  <h1>Under Construction.</h1>
             </md-tab>
              <md-tab label="Student Tution">
                  <h1>Under Construction.</h1>
             </md-tab>
             <md-tab label="Emergency Contact">
                  <h1>Under Construction.</h1>
             </md-tab>-->
        </md-tabs>
        </md-card>
    </div>
</md-content>


