<div class="example-code md-whiteframe-z1 margin-bottom-10">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Enrollment History<span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Enrolls' : 'Enroll'}} selected )</span></h2>
            <span flex></span>
            <h3>Search</h3>
            <md-button ng-click="vm.toggleRight4()" ng-hide="vm.isOpenRight4()" class="md-icon-button" aria-label="Settings">
                <md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
                <md-tooltip>Search</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div class="padded-content-page">
        <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right4">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <div class="padded-content-page">
                <md-content class="overflowVisible">
                    <form id="Search">
                        <div layout layout-xs="column" flex>
                            <md-input-container flex>
                                <label for="Class">Class</label>
                                <md-select placeholder="Select Class" name="ClassId" id="ClassId" ng-model="query.ClassId">
                                    <md-option value="{{item.ID}}" ng-repeat="item in vm.AllClasses">{{ item.ClassName }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex class="text-center">
                                <md-button class="md-primary md-raised" ng-click="vm.GetStudentScheduleList()">Search</md-button>
                                <md-button class="md-accent md-raised" ng-click="vm.reset4()">Reset</md-button>
                                <md-button ng-click="vm.close4()" class="md-warn md-raised">Close</md-button>
                            </md-input-container>
                        </div>
                    </form>
                </md-content>
            </div>
        </md-sidenav>
        <div>
			<p>
				<h3>Class : {{Class}}</h3>
			</p>
		</div>
        <div class="margin-top-20">
            <md-table-container>
                <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" md-row-select  ng-model="selected"
                    md-progress="vm.promise">
                    <thead md-head md-order="query.order" md-on-reorder="vm.GetStudentScheduleList">
                        <tr md-row>
                            <th md-column md-order-by="ClassName"><span>{{vm.columns.ClassName}}</span></th>
                            <th md-column md-order-by="StartDate"><span>{{vm.columns.StartDate}}</span></th>
                            <th md-column md-order-by="Status"><span>{{vm.columns.Status}}</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-auto-select md-select="item" md-select-id="item.ID" ng-repeat="item in  vm.enrollHistoryList">
                            <td md-cell>{{item.ClassName}}</td>
                            <td md-cell>{{item.Startdate| date:'MM/dd/yyyy'}}</td>
                            <td md-cell>{{item.EnrollStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <div ng-if="vm.enrollHistoryList==0" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Enrollment History found.</h2>
                </md-input-container>
            </div>
            <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page-select md-page="query.page"
                md-total="{{vm.enrollHistoryListCount}}" md-on-paginate="vm.GetStudentScheduleList"></md-table-pagination>
        </div>
    </div>