<style>
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
</style>
<div>
  <md-toolbar>

    <div class="md-toolbar-tools">
      <h2 flex>Family Registration</h2>
    </div>

  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
  <div class="padding-20">
    <md-card flex class="tri-wizard-card md-whiteframe-z1 " tri-wizard>
      <md-card-content>
        <md-tabs class="md-primary " layout-fill md-selected="triWizard.currentStep" md-dynamic-height md-border-bottom>
          <md-tab id="basic">
            <md-tab-label> <span class="oxy-step-label">1</span> <span translate>References</span> </md-tab-label>
            <md-tab-body>
              <md-content class="md-padding">

                <form name="referralForm" tri-wizard-form novalidate>
                  <md-input-container class="md-block margin-bottom-40">
                    <label translate>How did you hear about us?</label>
                    <md-select ng-change="triWizard.updateProgress()" name="Reference" ng-model="vm.FamilyRegister.ReferenceDetail.InfoSourceId">
                      <md-option value="{{InfoSource.ID}}" ng-repeat="InfoSource in vm.AllInfoSource">{{ InfoSource.Name }}</md-option>
                      <!--<md-option value="1" translate>Drive/Walk By</md-option>
                    <md-option value="2" translate>Online Ad</md-option>
                    <md-option value="3" translate>Referral</md-option>
                    <md-option value="4" translate>Returning Student</md-option>
                    <md-option value="5" translate>Website</md-option>-->
                    </md-select>
                    <!--<div ng-messages="referralForm.Reference.$error" md-auto-hide="false" ng-show="referralForm.Reference.$touched">
                      <div ng-message when="required"> <span translate>Please choose reference.</span> </div>
                    </div>-->
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label translate>Referral Name</label>
                    <input name="ReferralName" ng-model="vm.FamilyRegister.ReferenceDetail.ReferedBy" ng-maxlength="100" ng-minlength="2">
                    <div ng-messages="referralForm.ReferralName.$error" md-auto-hide="false" ng-show="referralForm.ReferralName.$touched">
                      <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                      <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                  </md-input-container>
                </form>
              </md-content>
            </md-tab-body>
          </md-tab>



          <md-tab id="information" ng-disabled="referralForm.$invalid">
            <md-tab-label> <span class="oxy-step-label">2</span> <span id="step2" translate>Parent Information</span> </md-tab-label>
            <md-tab-body>
              <md-content class="md-padding">
                <form name="ParentForm" tri-wizard-form>
                  <div ng-repeat="ParentForm in vm.ParentForms">
                    <ng-form name="parentUserFieldForm">
                      <div ng-hide="vm.ParentForms.length>4" layout="row" layout-align="end center" flex>
                        <!--md-tab-label> <span class="oxy-step-label">Parent</span> <span translate></span> </md-tab-label>{{ $index
                    + 1 }}
                -->
                        <md-button class="md-fab md-warn" ng-hide="$index==0" aria-label="fab button" ng-click="vm.removeParent(ParentForm)">
                          <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                          <md-tooltip>Close</md-tooltip>
                        </md-button>
                      </div>

                      <div class="full-image-background mb-bg-01 padding-20 overlay-gradient-30 margin-bottom-20" layout="row" layout-align="center start">
                        <div class="margin-right-20">
                          <img ng-src="{{vm.ImageUrlPath}}{{ParentForm.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" alt="girl-avatar"
                            class="make-round" width="100" height="100" />
                        </div>
                        <div class="text-light  margin-top-30">
                          <md-button class="md-primary md-raised md-fab" ng-disabled="vm.status != 'idle'" ngf-select="vm.uploadImage($files,$index)"
                            ngf-multiple="true" accept="image/*" aria-label="upload">
                            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
                            <md-tooltip>Upload Image</md-tooltip>
                            <div ng-messages="ParentForm.UploadFile.$error" ng-model="ParentForm.LastName" md-auto-hide="false" ng-show="ParentForm.UploadFile.$touched">
                              <div ng-message when="required"><span>Please select Image.</span></div>
                            </div>
                        </div>
                      </div>
                      <!--<md-button class="md-raised" ng-click="vm.removeParent(ParentForm)" ng-hide="$index==0"><i class="md-icon dp48"></i></md-button>-->

                      <div layout="row" layout-xs="column">



                        <md-input-container flex class="mrgR-10">
                          <label translate>Family Name</label>
                          <input name="FamilyName" ng-model="vm.FamilyRegister.FamilyInfo.FamilyName" ng-pattern="/^[a-zA-Z\s]*$/" ng-change="vm.setLastName(vm.FamilyRegister.FamilyInfo.FamilyName)"
                            ng-maxlength="100" ng-minlength="2" required>
                          <div ng-messages="parentUserFieldForm.FamilyName.$error" md-auto-hide="false" ng-show="parentUserFieldForm.FamilyName.$touched">
                            <div ng-message when="required"> <span translate>Family name is required</span> </div>
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                          </div>
                        </md-input-container>
                       <md-input-container flex class="mrgL-10">
                          <label for="SecurityKey">Pin Number</label>
                          <input type="number" min="0" name="SecurityKey" ng-change="vm.CheckSecurity(ParentForm.SecurityKey)" ng-unique="securitycode" ng-model="ParentForm.SecurityKey" ng-maxlength="50" ng-pattern="/^[0-9]*$/"
                            maxlength="50" ng-minlength="4" required>
                          <div ng-messages="parentUserFieldForm.SecurityKey.$error" md-auto-hide="false" ng-show="parentUserFieldForm.SecurityKey.$touched">
                            <div ng-message when="required"> <span translate>Pin Number is required.</span> </div>
                            <div ng-message when="minlength"><span>Minimum 4 characters are required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 50 characters are allowed.</span></div>
                            <div ng-message when="unique"><span>Pin number Already Exists.</span></div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout="row" layout-xs="column">
                        <md-input-container flex class="mrgR-10">
                          <label for="First Name">First Name</label>
                          <input name="FirstName" ng-model="ParentForm.FirstName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2"
                            required>
                          <div ng-messages="parentUserFieldForm.FirstName.$error" md-auto-hide="false" ng-show="parentUserFieldForm.FirstName.$touched">
                            <div ng-message when="required"> <span translate>First name is required</span> </div>
                            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                          </div>
                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                          <label for="Last Name">Last Name</label>
                          <input name="LastName" ng-model="ParentForm.LastName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2">
                          <div ng-messages="parentUserFieldForm.LastName.$error" md-auto-hide="false" ng-show="parentUserFieldForm.LastName.$touched">
                            <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                          </div>


                        </md-input-container>
                      </div>
                      <div layout layout-xs="column" flex>
                        <md-input-container flex class="mrgR-10">
                          <label for="Provider" translate>Mobile Phone Carrier</label>
                          <md-select name="ProviderId" id="ProviderId" ng-change="vm.CarrierAddress(ParentForm.SMSCarrierId)" required ng-model="ParentForm.SMSCarrierId">
                            <md-option value="{{Carrier.ID}}" ng-repeat="Carrier in vm.AllSMSCarrier">{{ Carrier.Carrier }}</md-option>
                          </md-select>
                          <div ng-messages="parentUserFieldForm.ProviderId.$error" md-auto-hide="false" ng-show="parentUserFieldForm.ProviderId.$touched">
                            <div ng-message when="required"> <span translate>Please choose Mobile Phone Carrier.</span> </div>
                          </div>

                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                          <label translate>Mobile</label>
                          <input name="phonenumber" ng-mobile="mobileNumber" ng-change="vm.CheckMobile(ParentForm.Mobile)" ng-model="ParentForm.Mobile" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____" min="0"
                            required>
                          <div ng-messages="parentUserFieldForm.phonenumber.$error" md-auto-hide="false" ng-show="parentUserFieldForm.phonenumber.$touched">
                            <div ng-message when="required"> <span translate>Mobile number required.</span> </div>
                            <div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
                            <div ng-message when="mobileNumber"><span>Mobile Number already exists.</span></div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout layout-xs="column" flex>
                        <md-input-container flex class="mrgR-10">
                          <label translate>Email</label>
                          <input type="email" id="email" ng-parent="parentusername" name="email" ng-model="ParentForm.EmailId" ng-pattern="emailFormat"
                            required>
                          <div ng-messages="parentUserFieldForm.email.$error" md-auto-hide="false" ng-show="parentUserFieldForm.email.$touched">
                            <div ng-message when="required"> <span translate>Email is required.</span> </div>
                            <div ng-message when="pattern"> <span translate>Please enter a valid email.</span> </div>
                            <div ng-message when="parent"><span>Email already Exists</span></div>
                          </div>
                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                          <label translate>Home Phone</label>
                          <input name="homephonenumber" ng-model="ParentForm.HomePhone" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____"
                            min="0" required>
                          <div ng-messages="parentUserFieldForm.homephonenumber.$error" md-auto-hide="false" ng-show="parentUserFieldForm.homephonenumber.$touched">
                            <div ng-message when="required"> <span translate>Home Phone number required.</span> </div>
                            <div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
                          </div>

                        </md-input-container>
                      </div>
                      <div layout="row" layout-xs="column" flex>
                        <md-input-container flex>
                          <label translate>Participant Relationship Type</label>
                          <md-select ng-change="vm.selectedRelation(ParentForm.RelationTypeId)" name="Type" id="Type" ng-model="ParentForm.RelationTypeId"
                            required>
                            <md-option value="{{RelationType.ID}}" ng-repeat="RelationType in vm.AllRelationType">{{ RelationType.Name }}</md-option>
                          </md-select>
                          <div ng-messages="parentUserFieldForm.Type.$error" md-auto-hide="false" ng-show="parentUserFieldForm.Type.$touched">
                            <div ng-message when="required"> <span translate>Participant Relationship is required.</span> </div>
                          </div>
                        </md-input-container>

                      </div>
                       <div layout layout-xs="column" flex>
                        <md-input-container flex class="mrgR-10">
                          <label for="SecurityQuestion" translate>Add a Security question</label>
                          <md-select name="SecurityQuestion" id="SecurityQuestion" required ng-model="ParentForm.SecurityQuestionId">
                            <md-option value="{{Question.ID}}" ng-repeat="Question in vm.AllQuestions">{{ Question.SecurityQuestion }}</md-option>
                          </md-select>
                          <div ng-messages="parentUserFieldForm.SecurityQuestion.$error" md-auto-hide="false" ng-show="parentUserFieldForm.SecurityQuestion.$touched">
                            <div ng-message when="required"> <span translate>Security Question is needed.</span> </div>
                          </div>

                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                          <label translate>Your Answer</label>
                          <input name="Answer" type="text" ng-model="ParentForm.SecurityQuestionAnswer" 
                            required>
                          <div ng-messages="parentUserFieldForm.Answer.$error" md-auto-hide="false" ng-show="parentUserFieldForm.Answer.$touched">
                            <div ng-message when="required"> <span translate>Please fill the answer for security question.</span> </div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout="row" layout-xs="column" flex>
                        <div flex="30%" class="mrgL-10">
                          <md-checkbox class="md-primary" value="1" ng-checked="true" ng-disabled="true" name="IsPrimary" id="IsPrimary" ng-model="ParentForm.IsPrimary"
                            ng-if="$index==0" ng-change="vm.CheckPrimary(ParentForm.IsPrimary)" aria-label="Primary Checkbox">
                            Is Primary
                          </md-checkbox>
                        </div>
                      </div>
                      <div layout="row" layout-xs="column" flex ng-if="ParentForm.IsPrimary==true">
                        <h3 translate><strong>Notification Mails</strong></h3>
                      </div>
                      <div layout="row" layout-xs="column" flex>
                        <div flex="30%" class="mrgL-10">
                          <div flex="50%">
                            <md-checkbox class="md-primary" name="IsEventMailReceived" id="IsEventMailReceived" ng-model="ParentForm.IsEventMailReceived"
                              ng-if="ParentForm.IsPrimary==true" aria-label="Primary Checkbox">
                              Events
                            </md-checkbox>
                          </div>
                          <div flex="50%">
                            <md-checkbox class="md-primary" name="IsParticipantAttendanceMailReceived" id="IsParticipantAttendanceMailReceived" ng-model="ParentForm.IsParticipantAttendanceMailReceived"
                              ng-if="ParentForm.IsPrimary==true" aria-label="Primary Checkbox">
                              Attendance
                            </md-checkbox>
                          </div>
                        </div>
                      </div>
                    </ng-form>
                  </div>
                  <div ng-hide="vm.ParentForms.length>4" layout="row" layout-align="end center" class="margin-bottom-20" flex> Add Parent{{$index}}
                    <md-button class="md-fab md-accent" aria-label="fab button" ng-click="vm.AddParentForm($index)">
                      <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                      <md-tooltip>Add Parent</md-tooltip>
                    </md-button>
                  </div>
                </form>
              </md-content>
            </md-tab-body>
          </md-tab>
          <md-tab id="familyForm" ng-disabled="ParentForm.$invalid">
            <md-tab-label> <span class="oxy-step-label">3</span> <span translate>Contact Information</span> </md-tab-label>
            <md-tab-body>
              <md-content class="md-padding">
                <form name="contactForm" tri-wizard-form>
                  <div>
                    <div layout="row" layout-xs="column" flex>
                      <md-input-container flex class="mrgR-10">
                        <label translate>Home Address</label>
                        <input type="text" name="Address" ng-model="vm.FamilyRegister.ContactInfo.Address" ng-maxlength="100" ng-minlength="2" required>
                        <div ng-messages="contactForm.Address.$error" md-auto-hide="false" ng-show="contactForm.Address.$touched">
                          <div ng-message when="required"><span>Home Address is required.</span></div>
                          <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                          <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                        </div>
                      </md-input-container>
                    </div>

                    <div layout="row" layout-xs="column" flex>
                      <md-input-container flex class="mrgR-10">
                        <label translate>City</label>
                        <input name="City" ng-model="vm.FamilyRegister.ContactInfo.CityName" ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/" id="City" required ng-maxlength="100"
                          ng-minlength="2">
                        <div ng-messages="contactForm.City.$error" md-auto-hide="false" ng-show="contactForm.City.$touched">
                          <div ng-message when="required"> <span translate>City is required.</span> </div>
                          <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                          <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                          <div ng-message when="pattern"><span>Invalid city name.</span></div>
                          <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                        </div>
                      </md-input-container>
                      <md-input-container flex class="mrgL-10">
                        <label translate>State/Prov</label>
                        <md-select ng-change="triWizard.updateProgress()" name="State" ng-model="vm.FamilyRegister.ContactInfo.StateId" ng-disabled="!vm.FamilyRegister.ContactInfo.CountryId"
                          required>
                          <md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
                        </md-select>
                        <div ng-messages="contactForm.State.$error" md-auto-hide="false" ng-show="contactForm.State.$touched">
                          <div ng-message when="required"> <span translate>Please choose state.</span> </div>
                        </div>
                      </md-input-container>

                    </div>
                    <div layout="row" layout-xs="column" flex>
                      <md-input-container flex>
                        <label translate>Country</label>
                        <md-select name="Country" ng-model="vm.FamilyRegister.ContactInfo.CountryId" ng-change="vm.GetState(vm.FamilyRegister.ContactInfo.CountryId)"
                          required>
                          <md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
                        </md-select>
                        <div ng-messages="contactForm.Country.$error" md-auto-hide="false" ng-show="contactForm.Country.$touched">
                          <div ng-message when="required"> <span translate>Please choose country.</span> </div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                      <md-input-container flex class="mrgR-10">
                        <label translate>Zip Code</label>
                        <input type="text" name="postal" ng-model="vm.FamilyRegister.ContactInfo.PostalCode" ng-maxlength="6" ng-minlength="5" required>
                        <div ng-messages="contactForm.postal.$error" md-auto-hide="false" ng-show="contactForm.postal.$touched">
                          <div ng-message when="required"> <span translate>Zip Code is required</span> </div>
                          <div ng-message when="maxlength"><span>Maximum length is 6.</span></div>
                          <div ng-message when="minlength"><span>Minimum length is 5.</span></div>
                        </div>
                      </md-input-container>
                      <md-input-container flex class="mrgL-10">
                        <label translate>Phone no.</label>
                        <input type="text" name="Phoneno" ng-model="vm.FamilyRegister.ContactInfo.PhoneNumber" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____"
                          min="0" required>
                        <div ng-messages="contactForm.Phoneno.$error" md-auto-hide="false" ng-show="contactForm.Phoneno.$touched">
                          <div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
                          <div ng-message when="required"><span>Phone number required.</span></div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                      <h2 translate><strong>Emergency Contact Info</strong></h2>
                    </div>

                    <div layout="row" layout-xs="column" flex>
                      <md-input-container flex class="mrgR-10">
                        <label translate>First Name</label>
                        <input name="EmergencyFirstName" required ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.FamilyRegister.ContactInfo.EmergencyFirstName"
                          ng-maxlength="100" ng-minlength="2">
                        <div ng-messages="contactForm.EmergencyFirstName.$error" md-auto-hide="false" ng-show="contactForm.EmergencyFirstName.$touched">
                          <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                          <div ng-message when="required"><span>First name is required.</span></div>
                          <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                          <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        </div>
                      </md-input-container>
                      <md-input-container flex class="mrgL-10">
                        <label translate>Last Name</label>
                        <input name="EmergencyLastName" required ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.FamilyRegister.ContactInfo.EmergencyLastName"
                          ng-maxlength="100" ng-minlength="2">
                        <div ng-messages="contactForm.EmergencyLastName.$error" md-auto-hide="false" ng-show="contactForm.EmergencyLastName.$touched">
                          <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                          <div ng-message when="required"><span>Last name is required.</span></div>
                          <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                          <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                      <md-input-container flex class="mrgR-10">
                        <label translate>Relationship To Participant</label>
                        <!--<input name="RelationshipToParticipantId" ng-model="vm.FamilyRegister.ContactInfo.RelationshipToParticipantId" allow-pattern="([a-zA-Z\@\.\_\ ])" ng-maxlength="100" ng-minlength="2">-->
                        <md-select name="RelationshipToParticipantId" required id="RelationshipToParticipantId" ng-model="vm.FamilyRegister.ContactInfo.RelationshipToParticipantId">
                          <md-option value="{{RelationType.ID}}" ng-repeat="RelationType in vm.AllRelationType">{{ RelationType.Name }}</md-option>
                        </md-select>
                        <div ng-messages="contactForm.RelationshipToParticipantId.$error" md-auto-hide="false" ng-show="contactForm.RelationshipToParticipantId.$touched">
                          <div ng-message when="required"><span>Relationship to participant is required.</span></div>
                        </div>
                      </md-input-container>
                      <md-input-container flex class="mrgL-10">
                        <label translate>Phone Number</label>
                        <input name="phonenumber" id="phonenumber" required ng-model="vm.FamilyRegister.ContactInfo.EmergencyPhoneNumber" ui-mask="{{'(999) 999-9999'}}"
                          placeholder="(___) ___-____" min="0">
                        <div ng-messages="contactForm.phonenumber.$error" md-auto-hide="false" ng-show="contactForm.phonenumber.$touched">
                          <div ng-message when="required"><span>Emergency Phone number required.</span></div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                      <h2 translate><strong>Health Insurance Carrier Info</strong></h2>
                    </div>

                    <div layout="row" layout-xs="column" flex>
                      <md-input-container flex class="mrgR-10">
                        <label translate>Insurance Carrier</label>
                        <input name="InsuranceCarrier" ng-model="vm.FamilyRegister.ContactInfo.InsuranceCarrier" ng-maxlength="100" ng-minlength="2">
                        <div ng-messages="contactForm.InsuranceCarrier.$error" md-auto-hide="false" ng-show="contactForm.InsuranceCarrier.$touched">
                          <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                          <!--<div ng-message when="minlength"><span>Minimum 20 character is required.</span></div>-->
                          <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                        </div>
                      </md-input-container>
                      <md-input-container flex class="mrgL-10">
                        <label translate>Policy Number</label>
                        <input name="InsurancePolicyNumber" ng-model="vm.FamilyRegister.ContactInfo.InsurancePolicyNumber" ng-maxlength="100" ng-minlength="2">
                        <div ng-messages="contactForm.InsurancePolicyNumber.$error" md-auto-hide="false" ng-show="contactForm.InsurancePolicyNumber.$touched">
                          <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                          <!--<div ng-message when="minlength"><span>Minimum 20 character is required.</span></div>-->
                          <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column" flex>
                      <md-input-container flex class="mrgR-10">
                        <label translate>Preferred Hospital Name</label>
                        <input ng-model="vm.FamilyRegister.ContactInfo.PreferredHospitalName" ng-pattern="/^[a-zA-Z\s]*$/" name="PreferredHospitalName"
                          id="PreferredHospitalName" ng-maxlength="100">
                        <div ng-messages="contactForm.PreferredHospitalName.$error" md-auto-hide="false" ng-show="contactForm.PreferredHospitalName.$touched">
                          <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                          <!--<div ng-message when="minlength"><span>Minimum 20 character is required.</span></div>-->
                          <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                          <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        </div>
                      </md-input-container>
                      <md-input-container flex class="mrgL-10">
                        <label translate>Preferred Hospital Address</label>
                        <textarea ng-model="vm.FamilyRegister.ContactInfo.PreferredHospitalAddress" name="PreferredHospitalAddress" id="PreferredHospitalAddress"
                          ng-maxlength="100"></textarea>
                        <div ng-messages="contactForm.PreferredHospitalAddress.$error" md-auto-hide="false" ng-show="contactForm.PreferredHospitalAddress.$touched">
                          <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                          <!--<div ng-message when="minlength"><span>Minimum 20 character is required.</span></div>-->
                          <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column" flex>
                      <md-input-container flex class="mrgR-10">
                        <label translate>Family Doctor Name</label>
                        <input ng-model="vm.FamilyRegister.ContactInfo.FamilyDoctorName" ng-pattern="/^[a-zA-Z\s]*$/" name="FamilyDoctorName" id="FamilyDoctorName"
                          ng-maxlength="100">
                        <div ng-messages="contactForm.FamilyDoctorName.$error" md-auto-hide="false" ng-show="contactForm.FamilyDoctorName.$touched">
                          <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                          <!--<div ng-message when="minlength"><span>Minimum 20 character is required.</span></div>-->
                          <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                          <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        </div>
                      </md-input-container>
                      <md-input-container flex class="mrgL-10">
                        <label translate>Family Doctor Phone Number</label>
                        <input name="FamilyDoctorPhoneNumber" ng-model="vm.FamilyRegister.ContactInfo.FamilyDoctorPhoneNumber" ui-mask="{{'(999) 999-9999'}}"
                          placeholder="(___) ___-____" min="0">
                        <div ng-messages="contactForm.FamilyDoctorPhoneNumber.$error" md-auto-hide="false" ng-show="contactForm.FamilyDoctorPhoneNumber.$touched">
                        </div>
                      </md-input-container>
                    </div>
                  </div>
                </form>
              </md-content>
            </md-tab-body>
          </md-tab>

          <md-tab id="accept" ng-disabled="contactForm.$invalid">
            <md-tab-label> <span class="oxy-step-label">4</span> <span translate>Participant Information</span> </md-tab-label>
            <md-tab-body>
              <md-content class="md-padding">
                <form name="studentForm" tri-wizard-form>
                  <div ng-repeat="ParticipantForm in vm.ParticipantForms">
                    <ng-form name="studentUserFieldForm">
                      <!--<md-button class="md-raised" ng-click="vm.removeParticipant(ParticipantForm)" ng-hide="$index==0">Remove</md-button>-->
                      <div layout="row" layout-align="end center" flex>
                        <md-button class="md-fab md-warn" ng-hide="$index==0" aria-label="fab button" ng-click="vm.removeParticipant(ParticipantForm)">
                          <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                          <md-tooltip>Close</md-tooltip>
                        </md-button>
                      </div>
                      <div class="full-image-background mb-bg-01 padding-20 overlay-gradient-30 margin-bottom-20" layout="row" layout-align="center start">
                        <div class="margin-right-20">
                          <img ng-src="{{vm.ImageUrlPath}}{{ParticipantForm.Student.ImagePath}}" alt="girl-avatar" err-src="assets/images/avatars/avatar-5.png"
                            class="make-round" width="100" height="100" />
                        </div>
                        <div class="text-light  margin-top-30">
                          <md-button class="md-primary md-raised md-fab" ng-disabled="vm.status != 'idle'" ng-model="ParticipantForm.Student.ImagePath"
                            ngf-select="vm.uploadImage1($files,$index)" ngf-multiple="true" accept="image/*" aria-label="upload">
                            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
                            <md-tooltip>Upload Image</md-tooltip>
                            <div ng-messages="ParentForm.UploadFile.$error" ng-model="ParentForm.ImagePath" md-auto-hide="false" ng-show="ParentForm.UploadFile.$touched">
                              <div ng-message when="required"><span>Please select Image.</span></div>
                            </div>
                        </div>
                      </div>


                      <div layout="row" layout-xs="column">
                        <md-input-container flex class="mrgR-10">
                          <label for="First Name">First Name</label>
                          <input name="FirstName" ng-model="ParticipantForm.Student.FirstName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2"
                            required>
                          <div ng-messages="studentUserFieldForm.FirstName.$error" md-auto-hide="false" ng-show="studentUserFieldForm.FirstName.$touched">
                            <div ng-message when="required"> <span translate>Firstname is required</span> </div>
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                          </div>
                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                          <label for="Last Name">Last Name</label>
                          <input name="LastName" ng-model="ParticipantForm.Student.LastName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2"
                            required>
                          <div ng-messages="studentUserFieldForm.LastName.$error" md-auto-hide="false" ng-show="studentUserFieldForm.LastName.$touched">
                            <div ng-message when="required"> <span translate>Lastname is required</span> </div>
                            <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout="row" layout-xs="column" flex>
                        <md-input-container flex class="mrgR-10">
                          <label translate>Gender</label>
                          <md-select ng-change="triWizard.updateProgress()" name="Gender" ng-model="ParticipantForm.Student.Gender" required>
                            <md-option value="1" translate>Male</md-option>
                            <md-option value="2" translate>Female</md-option>
                          </md-select>
                          <div ng-messages="studentUserFieldForm.Gender.$error" md-auto-hide="false" ng-show="studentUserFieldForm.Gender.$touched">
                            <div ng-message when="required"> <span translate>Please choose gender.</span> </div>
                          </div>
                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                          <label for="BirthDate">Birth Date</label>
                          <md-datepicker flex ng-model="ParticipantForm.Student.DateOfBirth" md-min-date=vm.NewMinDate md-max-date=vm.dateOfBirth md-placeholder="Enter Date"
                            name="BirthDate" id="BirthDate" required></md-datepicker>
                          <div ng-messages="studentUserFieldForm.BirthDate.$error" md-auto-hide="false" ng-show="studentUserFieldForm.BirthDate.$touched">
                            <div ng-message when="required"><span>Please enter birth date.</span></div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout layout-xs="column" flex>
                        <md-input-container flex class="margin-bottom-40">
                          <label translate>Membership Type</label>
                          <md-select ng-change="triWizard.updateProgress()" name="Membership" ng-model="ParticipantForm.Student.MembershipTypeId" required>
                            <md-option value="{{Membership.ID}}" ng-repeat="Membership in vm.AllMembership">{{ Membership.Name }}</md-option>

                            <!--<md-option value="1" translate>Bi-monthly</md-option>
                        <md-option value="2" translate>monthly</md-option>-->
                          </md-select>
                          <div ng-messages="studentUserFieldForm.Membership.$error" md-auto-hide="false" ng-show="studentUserFieldForm.Membership.$touched">
                            <!--<div ng-message when="minlength"><span>Minimum 20 character is required.</span></div>-->
                            <div ng-message when="required"><span>Membership Type is required.</span></div>

                          </div>
                        </md-input-container>
                      </div>
                      <div layout layout-xs="column" flex>
                        <md-input-container flex class="mrgR-10">
                          <label translate>Phone Number</label>
                          <input name="phonenumber" ng-model="ParticipantForm.PhoneNumber" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____"
                            min="0">
                          <div ng-messages="studentUserFieldForm.phonenumber.$error" md-auto-hide="false" ng-show="studentUserFieldForm.phonenumber.$touched">
                            <!--<div ng-message when="required"> <span translate>Please enter phone number.</span> </div>-->
                            <!--<div ng-message when="pattern"><span>Please enter valid phone number.</span></div>-->
                          </div>
                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                          <label translate>Email</label>
                          <input type="email" id="participantemail" name="participantemail" ng-model="ParticipantForm.Email">
                          <div ng-messages="studentUserFieldForm.participantemail.$error" md-auto-hide="false" ng-show="studentUserFieldForm.participantemail.$touched">
                            <div ng-message when="email"> <span translate>Please enter a valid email</span> </div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout layout-xs="column" flex>
                        <md-input-container flex class="mrgR-10">
                          <label translate>School</label>
                          <input name="School" ng-model="ParticipantForm.SchoolName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2">
                          <div ng-messages="studentUserFieldForm.School.$error" md-auto-hide="false" ng-show="studentUserFieldForm.School.$touched">
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                          </div>
                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                          <label translate>Grade Level</label>
                          <md-select ng-change="triWizard.updateProgress()" name="GradeLevel" ng-model="ParticipantForm.GradeLevelId">
                            <md-option value="{{GradeLevel.ID}}" ng-repeat="GradeLevel in vm.AllGradeLevel">{{ GradeLevel.Name }}</md-option>
                          </md-select>
                        </md-input-container>
                      </div>
                      <div layout layout-xs="column" flex>
                        <md-input-container flex class="mrgR-10">
                          <label translate>Transportation</label>
                          <input name="Transportation" ng-model="ParticipantForm.Transportation" ng-maxlength="100" ng-minlength="2">
                          <div ng-messages="studentUserFieldForm.Transportation.$error" md-auto-hide="false" ng-show="studentUserFieldForm.Transportation.$touched">
                            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                          </div>
                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                          <label translate>Disabilites</label>
                          <textarea ng-model="ParticipantForm.Disabilities" name="Disabilities" ng-maxlength="100" ng-minlength="2"></textarea>
                          <div ng-messages="studentUserFieldForm.Disabilities.$error" md-auto-hide="false" ng-show="studentUserFieldForm.Disabilities.$touched">
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout layout-xs="column" flex>
                        <md-input-container flex class="mrgR-10">
                          <label translate>Allergies</label>
                          <textarea ng-model="ParticipantForm.Allergies" name="Allergies" ng-maxlength="100" ng-minlength="2"></textarea>
                          <div ng-messages="studentUserFieldForm.Allergies.$error" md-auto-hide="false" ng-show="studentUserFieldForm.Allergies.$touched">
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                          </div>
                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                          <label translate>Medications</label>
                          <textarea ng-model="ParticipantForm.Medications" name="Medications" ng-maxlength="100" ng-minlength="2"></textarea>
                          <div ng-messages="studentUserFieldForm.Medications.$error" md-auto-hide="false" ng-show="studentUserFieldForm.Medications.$touched">
                            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout layout-xs="column" flex>
                        <md-input-container flex class="md-block">
                          <label translate>Primary Doctor</label>
                          <input name="PrimaryDoctor" ng-model="ParticipantForm.PrimaryDoctor" ng-pattern="/^[a-zA-Z\s]*$/" name="PrimaryDoctor" ng-maxlength="100"
                            ng-minlength="2">
                          <div ng-messages="studentUserFieldForm.PrimaryDoctor.$error" md-auto-hide="false" ng-show="studentUserFieldForm.PrimaryDoctor.$touched">
                            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout layout-xs="column" flex>
                        <md-input-container flex class="md-block">
                          <label translate>Notes</label>
                          <textarea name="Description" ng-model="ParticipantForm.Description" name="Description" ng-maxlength="100"
                            ng-minlength="2"></textarea>
                          <div ng-messages="studentUserFieldForm.Description.$error" md-auto-hide="false" ng-show="studentUserFieldForm.PrimaryDoctor.$touched">
                          <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                          <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                        </div>
                        </md-input-container>
                      </div>
                    </ng-form>
                  </div>
                  <div layout="row" layout-xs="column" layout-align="start center" flex>
                    <span flex></span>
                    <div layout="row" ng-hide="vm.ParticipantForms.length>4" layout-xs="column" layout-align="end center"> Add Another Participant
                      <md-button class="md-fab md-accent" aria-label="fab button" ng-click="vm.AddParticipantForm($index)">
                        <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                        <md-tooltip>Add Participant</md-tooltip>
                      </md-button>
                    </div>
                  </div>
                </form>
              </md-content>
            </md-tab-body>
          </md-tab>
          <md-tab id="payment" ng-disabled="studentForm.$invalid">
            <md-tab-label>
              <span class="oxy-step-label">5</span>
              <span translate>Payment Method</span>
            </md-tab-label>
            <md-tab-body>
              <md-content class="md-padding">
                <form name="paymentForm" tri-wizard-form>
                  <div>
                    <md-input-container class="md-block">
                      <label translate>Name appears on Card</label>
                      <input type="text" name="name" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.FamilyRegister.PaymentInfo.CardName" ng-maxlength="100">
                      <div ng-messages="paymentForm.name.$error" md-auto-hide="false" ng-show="paymentForm.name.$touched">
                        <!--<div ng-message when="required">
                                                    <span translate>This field is required</span>
                                                </div>-->
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
                      </div>
                    </md-input-container>
                    <div layout layout-xs="column" flex>
                      <md-input-container flex class="mrgR-10">
                        <label translate>Card Type</label>
                        <md-select name="CardType" ng-model="vm.FamilyRegister.PaymentInfo.CardType" ng-change="vm.checkStatus()">
                          <md-option value="1" translate>Visa</md-option>
                          <md-option value="2" translate>Master Card</md-option>
                          <md-option value="3" translate>American Express</md-option>
                          <md-option value="4" translate>Discover</md-option>
                        </md-select>
                        <!--<div ng-messages="paymentForm.name.$error" md-auto-hide="false" ng-show="paymentForm.name.$touched">
                                                    <div ng-message when="required">
                                                        <span translate>This field is required</span>
                                                    </div>
                                                </div>-->
                      </md-input-container>
                      <!--<md-input-container flex class="mrgL-10" ng-show="vm.FamilyRegister.PaymentInfo.CardType=='American Express'">
                        <label translate>Card Number</label>
                        <input type="text" name="CardNumber" ng-model="vm.FamilyRegister.PaymentInfo.CardNumberAmericanExpress"  ui-mask="{{'9999-9999-9999-999'}}"
                          placeholder="____-____-____-___">
                        <div ng-messages="paymentForm.CardNumber.$error" md-auto-hide="false" ng-show="paymentForm.CardNumber.$touched">
                      
                        </div>
                      </md-input-container>-->
                      <md-input-container flex class="mrgL-10">
                        <label translate>Card Number</label>
                        <input type="text" name="CardNumber" ng-model="vm.FamilyRegister.PaymentInfo.CardNumber" ui-mask="{{vm.pattern}}" placeholder="{{vm.placeholder}}">
                        <div ng-messages="paymentForm.CardNumber.$error" md-auto-hide="false" ng-show="paymentForm.CardNumber.$touched">
                          <!--<div ng-message when="required">
                                                        <span translate>This field is required</span>
                                                    </div>-->
                          <!--<div ng-message when="maxlength"><span>Maximum length is 16.</span></div>-->
                        </div>
                      </md-input-container>
                    </div>


                    <div layout layout-xs="column" flex>
                      <md-input-container flex class="mrgR-10">
                        <label translate>Card Expiry Month</label>
                        <md-select name="month" ng-model="vm.FamilyRegister.PaymentInfo.CardExpiryMonth">
                          <md-option value="01" translate>01</md-option>
                          <md-option value="02" translate>02</md-option>
                          <md-option value="03" translate>03</md-option>
                          <md-option value="04" translate>04</md-option>
                          <md-option value="05" translate>05</md-option>
                          <md-option value="06" translate>06</md-option>
                          <md-option value="07" translate>07</md-option>
                          <md-option value="08" translate>08</md-option>
                          <md-option value="09" translate>09</md-option>
                          <md-option value="10" translate>10</md-option>
                          <md-option value="11" translate>11</md-option>
                          <md-option value="12" translate>12</md-option>
                        </md-select>
                        <!--<div ng-messages="paymentForm.month.$error" md-auto-hide="false" ng-show="paymentForm.month.$touched">
                                                            <div ng-message when="required">
                                                                <span translate>This field is required</span>
                                                            </div>
                                                        </div>-->
                      </md-input-container>
                      <md-input-container flex class="mrgL-10 mrgR-10">
                        <label translate>Card Expiry Year</label>
                        <md-select name="year" ng-model="vm.FamilyRegister.PaymentInfo.CardExpiryYear">
                          <md-option value="{{year}}" ng-repeat="year in years" translate>{{year}}</md-option>

                        </md-select>
                        <!--<div ng-messages="paymentForm.year.$error" md-auto-hide="false" ng-show="paymentForm.year.$touched">
                                                            <div ng-message when="required">
                                                                <span translate>This field is required</span>
                                                            </div>
                                                        </div>-->
                      </md-input-container>
                      <md-input-container flex class="mrgL-10">
                        <label translate>CVV</label>
                        <input type="password" name="CVV" ng-model="vm.FamilyRegister.PaymentInfo.CVV" ng-minlength="{{vm.CVV}}" ng-maxlength="{{vm.CVVmax}}">
                        <div ng-messages="paymentForm.CVV.$error" md-auto-hide="false" ng-show="paymentForm.CVV.$touched">
                          <!--<div ng-message when="required">
                                                        <span translate>This field is required</span>
                                                    </div>-->
                          <div ng-message when="minlength"><span>Minimum length is {{vm.CVV}}.</span></div>
                          <div ng-message when="maxlength"><span>Maximum length is {{vm.CVVmax}}.</span></div>
                        </div>
                      </md-input-container>
                    </div>
                  </div>


                </form>
              </md-content>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center" class="padding-bottom-10">
        <md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 4" ng-disabled="triWizard.prevStepDisabled()">Previous</md-button>
        <md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.currentStep > 3" ng-disabled="triWizard.nextStepDisabled()">Next</md-button>
        <md-button class="md-accent md-raised" ng-show="triWizard.currentStep > 3" ng-disabled="isDisabled" ng-click="vm.addFamily(referralForm,ParentForm,contactForm,studentForm,paymentForm,vm.FamilyRegister)">Submit</md-button>
        <md-button class="md-warn md-raised" ng-click="vm.cancel()" ng-show="triWizard.currentStep > 3">Cancel</md-button>
      </md-card-actions>
  </div>
<md-button ng-click="vm.showAddFamilyquickDialogue()" class="md-fab md-accent md-fab-bottom-right md-hue-3 addp-plus"   aria-label="Add Participant">
  <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
  <md-tooltip>Quick Add</md-tooltip>
</md-button>
</div>