
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Family List<span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Familys' : 'Family'}} selected )</span></h2>
			<span flex></span>
			<h3>Search</h3>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padding-20">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<!--<form id="Search" name="familySearch">-->
					<div layout layout-xs="column" flex>
						<md-input-container flex="40" flex-xs="100" >
							<label for="name" >Name</label>
							<input type="text" label="name" name="name" id="name" ng-model="query.FamilyName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
						</md-input-container>
						<md-input-container  flex="60" flex-xs="100" class="registration-date">
							<label for="Date">Registration Date</label>
							<md-datepicker ng-model="query.Date" ng-maxlength="10" name="RegisteredDate" id="RegisteredDate" md-placeholder="Enter Date"
								ng-model-options="{ timezone: 'utc' }" class='margin0'></md-datepicker>
						</md-input-container>
					</div>
					<!--<div layout layout-xs="column" flex>
						<md-input-container>
							<label for="Date">Registration Date</label>
							<md-datepicker ng-model="query.Date" ng-maxlength="10" name="RegisteredDate" id="RegisteredDate" md-placeholder="Enter Date"
								ng-model-options="{ timezone: 'utc' }"></md-datepicker>
						</md-input-container>
					</div>-->
					<div layout layout-xs="column" flex>
						<md-input-container flex class="text-center">
							<md-button class="md-primary md-raised" ng-click="vm.GetFamilyList()">Search</md-button>
							<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
							<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
						</md-input-container>
					</div>
					<!--</form>-->
				</md-content>
			</div>
		</md-sidenav>
		<md-card>
			<div class="padding-20">

				<h3><strong>Name :</strong> {{FamilyName}} </h3>
				<h3><strong>Registered Date :</strong> {{RegisteredDate | date:'MM/dd/yyyy'}}</h3>

			</div>
			<div class="">

				<!--<div ng-if="vm.NoData==false" class="margin-top-20">-->
				<md-table-container>
					<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" multiple ng-model="selected"
						md-progress="vm.promise">
						<thead md-head md-order="query.order" md-on-reorder="vm.GetFamilyList">
							<tr md-row>
								<!--<th md-column><span>#</span></th>-->
								<th md-column><span>{{vm.columns.ProfilePic}}</span></th>
								<th md-column md-order-by="FamilyName"><span>{{vm.columns.FamilyName}}</span></th>
								<th md-column md-order-by="ParticipantCount"><span>{{vm.columns.ParticipantCount}}</span></th>
								<th md-column md-order-by="Email"><span>{{vm.columns.Email}}</span></th>
								<th md-column md-order-by="DateAdded"><span>{{vm.columns.DateAdded}}</span></th>
								<th md-column md-order-by="City"><span>{{vm.columns.City}}</span></th>
								<th md-column md-order-by="Phone"><span>{{vm.columns.Phone}}</span></th>
								<th md-column ng-if="vm.FamilyId==0"><span></span></th>
								<!--<th md-column><span>ACTION</span></th>-->
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row md-select="family" md-select-id="family.ID" ng-repeat="family in vm.FamilyList">
								<!--<td md-cell>{{ $index + 1 }}</td>-->
								<td md-cell>
									<a style="cursor:pointer" ng-click="vm.detailFamilyInfo($event,family)"><img ng-src="{{vm.ImageUrlPath}}{{family.ParentInfo[0].ImagePath}}" err-src="assets/images/avatars/avatar-5.png"
										/></a>
								</td>
								<td md-cell><a style="cursor:pointer" ng-click="vm.detailFamilyInfo($event,family)">{{family.FamilyName}}</a></td>
								<!--<td md-cell>{{family.Status}}</td>-->
								<td md-cell>{{family.FamilyStudentMap.length}}</td>
								<td md-cell>{{family.ParentInfo[0].EmailId}}</td>
								<td md-cell>{{family.CreatedDate | date:'MM/dd/yyyy'}}</td>
								<td md-cell>{{family.ContactInfoMap[0].Contact.CityName}}</td>
								<td md-cell>{{family.ParentInfo[0].Mobile}}</td>
								<td md-cell ng-if="vm.FamilyId==0">
									<md-button class="md-primary" ng-click="vm.SendEmailDialogue(family)">Send Email</md-button>
								</td>

								<!--<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.editFamily($event,family)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
								</a> &nbsp;
								<a class="md-primary" ng-click="vm.showDeleteFamilyConfirmDialoue($event,family.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
								</a>
							</td>-->
							</tr>
						</tbody>
					</table>
				</md-table-container>
				<div ng-if="vm.FamilyList==0" layout layout-xs="column" flex>
					<md-input-container flex class="text-center">
						<h2>No Family list found.</h2>
					</md-input-container>
				</div>
				<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.FamilyCount}}"
					md-on-paginate="vm.GetFamilyList" md-page-select></md-table-pagination>
				<!--</div>-->
			</div>
		</md-card>
		
		
	</div>

<md-button ng-click="vm.RedirectToAddFamily()" ng-if="vm.FamilyId==0" class="md-fab md-accent md-fab-bottom-right addbtn-pos md-hue-3"
			aria-label="Add Family">
			<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
			<md-tooltip>Add Family</md-tooltip>
		</md-button>