<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">

  <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
    <div class="md-toolbar-tools">
      <h2>{{DisplayText}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
        <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
  <md-divider></md-divider>
  <md-dialog-content class="md-dialog-content">
    <form name="studentForm">
      <div layout layout-xs="column" flex>
        <h2 translate><strong>Family/Parent Info</strong></h2>
      </div>
      <div layout="row" layout-xs="column">
        <md-input-container flex class="mrgR-10">
          <label translate>Family Name</label>
          <input name="FamilyName" ng-model="vm.FamilyRegister.FamilyInfo.FamilyName" ng-pattern="/^[a-zA-Z\s]*$/" ng-change="vm.setLastName(vm.FamilyRegister.FamilyInfo.FamilyName)"
            ng-maxlength="100" ng-minlength="2" required>
          <div ng-messages="studentForm.FamilyName.$error" md-auto-hide="false" ng-show="studentForm.FamilyName.$touched">
            <div ng-message when="required"> <span translate>Family name is required</span> </div>
            <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label for="First Name">First Name</label>
          <input name="FirstName" ng-model="vm.ParentInfo.FirstName" ng-maxlength="100" ng-minlength="2" ng-pattern="/^[a-zA-Z\s]*$/"
            required>
          <div ng-messages="studentForm.FirstName.$error" md-auto-hide="false" ng-show="studentForm.FirstName.$touched">
            <div ng-message when="required"> <span translate>First name is required</span> </div>
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label for="Provider" translate>Mobile Phone Carrier</label>
          <md-select name="ProviderId" id="ProviderId" ng-change="vm.CarrierAddress(vm.ParentInfo.SMSCarrierId)" required ng-model="vm.ParentInfo.SMSCarrierId">
            <md-option value="{{Carrier.ID}}" ng-repeat="Carrier in vm.AllSMSCarrier">{{ Carrier.Carrier }}</md-option>
          </md-select>
          <div ng-messages="studentForm.ProviderId.$error" md-auto-hide="false" ng-show="studentForm.ProviderId.$touched">
            <div ng-message when="required"> <span translate>Please choose Mobile Phone Carrier.</span> </div>
          </div>

        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label translate>Mobile</label>
          <input name="phonenumber" ng-mobile="mobileNumber" ng-model="vm.ParentInfo.Mobile" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____"
            min="0" required>
          <div ng-messages="studentForm.phonenumber.$error" md-auto-hide="false" ng-show="studentForm.phonenumber.$touched">
            <div ng-message when="required"> <span translate>Mobile number required.</span> </div>
            <div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
            <div ng-message when="mobileNumber"><span>Mobile Number already exists.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label translate>Email</label>
          <input type="email" id="email" ng-parent="parentusername" name="email" ng-model="vm.ParentInfo.EmailId" ng-pattern="emailFormat"
            required>
          <div ng-messages="studentForm.email.$error" md-auto-hide="false" ng-show="studentForm.email.$touched">
            <div ng-message when="required"> <span translate>Email is required.</span> </div>
            <div ng-message when="pattern"> <span translate>Please enter a valid email.</span> </div>
            <div ng-message when="parent"><span>Email already Exists</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label for="SecurityKey">Pin Number</label>
          <input type="number" min="0" name="SecurityKey" ng-unique="securitycode" ng-model="vm.ParentInfo.SecurityKey" ng-maxlength="50"
            ng-pattern="/^[0-9]*$/" maxlength="50" ng-minlength="4" required>
          <div ng-messages="studentForm.SecurityKey.$error" md-auto-hide="false" ng-show="studentForm.SecurityKey.$touched">
            <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
            <div ng-message when="required"> <span translate>Pin Number is required.</span> </div>
            <div ng-message when="minlength"><span>Minimum 4 characters are required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 50 characters are allowed.</span></div>
            <div ng-message when="unique"><span>Security Code Already Exists.</span></div>
          </div>
        </md-input-container>

      </div>
      <div layout layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label for="SecurityQuestion" translate>Add a Security question</label>
          <md-select name="SecurityQuestion" id="SecurityQuestion" required ng-model="vm.ParentInfo.SecurityQuestionId">
            <md-option value="{{Question.ID}}" ng-repeat="Question in vm.AllQuestions">{{ Question.SecurityQuestion }}</md-option>
          </md-select>
          <div ng-messages="studentForm.SecurityQuestion.$error" md-auto-hide="false" ng-show="studentForm.SecurityQuestion.$touched">
            <div ng-message when="required"> <span translate>Security Question is needed.</span> </div>
          </div>

        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label translate>Your Answer</label>
          <input name="Answer" type="text" ng-model="vm.ParentInfo.SecurityQuestionAnswer" required>
          <div ng-messages="studentForm.Answer.$error" md-auto-hide="false" ng-show="studentForm.Answer.$touched">
            <div ng-message when="required"> <span translate>Please fill the answer for security question.</span> </div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column" flex>
        <md-input-container flex>
          <label translate>Participant Relationship Type</label>
          <md-select ng-change="vm.selectedRelation(ParentForm.RelationTypeId)" name="Type" id="Type" ng-model="vm.ParentInfo.RelationTypeId"
            required>
            <md-option value="{{RelationType.ID}}" ng-repeat="RelationType in vm.AllRelationType">{{ RelationType.Name }}</md-option>
          </md-select>
          <div ng-messages="studentForm.Type.$error" md-auto-hide="false" ng-show="studentForm.Type.$touched">
            <div ng-message when="required"> <span translate>Participant Relationship is required.</span> </div>
          </div>
        </md-input-container>

      </div>

      <div layout layout-xs="column" flex>
        <h2 translate><strong>Parent Contact Info</strong></h2>
      </div>
      <div layout="row" layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label translate>Home Address</label>
          <input type="text" name="Address" ng-model="vm.FamilyRegister.ContactInfo.Address" ng-maxlength="100" ng-minlength="2" required>
          <div ng-messages="studentForm.Address.$error" md-auto-hide="false" ng-show="studentForm.Address.$touched">
            <div ng-message when="required"><span>Home Address is required.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgR-10">
          <label translate>City</label>
          <input name="City" ng-model="vm.FamilyRegister.ContactInfo.CityName" ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/" id="City"
            required ng-maxlength="100" ng-minlength="2">
          <div ng-messages="studentForm.City.$error" md-auto-hide="false" ng-show="studentForm.City.$touched">
            <div ng-message when="required"> <span translate>City is required.</span> </div>
            <!--<div ng-message when="pattern"><span>Only text is allowed.</span></div>-->
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="pattern"><span>Invalid city name.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label translate>State/Prov</label>
          <md-select ng-change="triWizard.updateProgress()" name="State" ng-model="vm.FamilyRegister.ContactInfo.StateId" required>
            <md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
          </md-select>
          <div ng-messages="studentForm.State.$error" md-auto-hide="false" ng-show="studentForm.State.$touched">
            <div ng-message when="required"> <span translate>Please choose state.</span> </div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgR-10">
          <label translate>Zip Code</label>
          <input type="text" name="postal" ng-model="vm.FamilyRegister.ContactInfo.PostalCode" ng-maxlength="6" ng-minlength="5" required>
          <div ng-messages="studentForm.postal.$error" md-auto-hide="false" ng-show="studentForm.postal.$touched">
            <div ng-message when="required"> <span translate>Zip Code is required</span> </div>
            <div ng-message when="maxlength"><span>Maximum length is 6.</span></div>
            <div ng-message when="minlength"><span>Minimum length is 5.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout layout-xs="column" flex>
        <h2 translate><strong>Participant Info</strong></h2>
      </div>
      <div layout="row" layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label for="First Name">First Name</label>
          <input name="ParticipantFirstName" ng-model="vm.StudentDetails.Student.FirstName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100"
            ng-minlength="2" required>
          <div ng-messages="studentForm.ParticipantFirstName.$error" md-auto-hide="false" ng-show="studentForm.ParticipantFirstName.$touched">
            <div ng-message when="required"> <span translate>First name is required</span> </div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label for="BirthDate">Birth Date</label>
          <md-datepicker flex ng-model="vm.StudentDetails.Student.DateOfBirth" md-min-date=vm.NewMinDate md-max-date=vm.dateOfBirth
            md-placeholder="Enter Date" name="BirthDate" id="BirthDate" required></md-datepicker>
          <div ng-messages="studentForm.BirthDate.$error" md-auto-hide="false" ng-show="studentForm.BirthDate.$touched">
            <div ng-message when="required"><span>Please enter birth date.</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgR-10">
          <label translate>Gender</label>
          <md-select ng-change="triWizard.updateProgress()" name="Gender" ng-model="vm.StudentDetails.Student.Gender" required>
            <md-option value="1" translate>Male</md-option>
            <md-option value="2" translate>Female</md-option>
          </md-select>
          <div ng-messages="studentForm.Gender.$error" md-auto-hide="false" ng-show="studentForm.Gender.$touched">
            <div ng-message when="required"> <span translate>Please choose gender.</span> </div>
          </div>
        </md-input-container>

      </div>
      <div layout layout-xs="column" flex>
        <h2 translate><strong>Class Enrollment</strong></h2>
      </div>
      <div layout="row" layout-xs="column" flex>
        <md-input-container flex>
          <label>Class Name</label>
          <md-select flex placeholder="Select Class" name="classes" id="classes" ng-change="vm.getFeesAmount(vm.scheduleData.ClassId)"
            ng-model="vm.FamilyRegister.ClassId">
            <md-option ng-repeat="option in vm.AllClasses" value="{{option.ID}}">{{option.ClassName}}</md-option>
          </md-select>
          <div ng-messages="scheduleform.classes.$error" md-auto-hide="false" ng-show="scheduleform.classes.$touched">
            <div ng-message when="required">
              <span translate>Class is required.</span>
            </div>
            <div ng-message when="capacity">
              <span translate>Class has reached its maximum limit.</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container flex>

          <md-datepicker ng-model="vm.FamilyRegister.StartDate" ng-disabled="vm.FamilyRegister.ClassId==null" name="StartDate" id="StartDate"
            md-placeholder="Start Date" md-min-date=ClassStartDate md-max-date=EndDate ng-model-options="{ timezone: 'utc' }"
            ng-required="vm.FamilyRegister.ClassId!=null"></md-datepicker>
          <div ng-messages="studentForm.StartDate.$error" md-auto-hide="false" ng-show="studentForm.StartDate.$touched">
            <div ng-message when="required">
              <span translate>Date is required.</span>
            </div>
          </div>
        </md-input-container>
        <md-card-actions layout="row" layout-align="end center" style="margin-bottom: 36px;">
          <md-button class="md-primary md-raised" ng-click="vm.addQuickFamily(vm.FamilyRegister)" ng-disabled="studentForm.$invalid || isDisabled">Add</md-button>
          <md-button class="md-warn md-raised" ng-click="vm.cancelClick()">Cancel</md-button>
        </md-card-actions>
      </div>
      <div layout="row" layout-align="start center"> </div>
    </form>
  </md-dialog-content>
</md-dialog>