<md-content class="padded-content-page">
    <div layout="row" layout-xs="column" layout-align="end center">
        <h2 class="margin-left-5" flex><strong>Staff Details -</strong> {{vm.staffname}}</h2>
        <span flex></span>
        <md-button class="md-accent md-raised" ng-click="vm.checkRedirect()">Back</md-button>
    </div>
    <md-content>
        <div layout="row" layout-align="center center" class="classpage">
            <md-card flex>
                <md-tabs class="md-primary" md-selected="selectedTabIndex" md-dynamic-height md-border-bottom>
                    <md-tab label="Profile">
                        <md-card-content class="overlay-10" ng-controller="StaffInnerDetailController as vm" ng-include="'app/Staff/Staff-Details/views/pages/profile_details_inner.tmpl.html'"></md-card-content>
                    </md-tab>
                    <!--<md-tab label="Leaves">
                        <md-card-content ng-include="'app/Staff/Staff-Details/views/pages/leaves.tmpl.html'"></md-card-content>
                         <h1>Under Construction.</h1>
                    </md-tab>-->
                    <!--<md-tab label="Schedule">
                        <md-card-content ng-include="'app/Staff/Staff-Details/views/pages/schedule.tmpl.html'"></md-card-content>
                    </md-tab>-->
                    <md-tab label="Time Clock History">
                        <md-card-content class="overlay-10" ng-controller="timeSheetController as vm" ng-include="'app/Staff/Staff-Details/views/pages/timeclockhistory.tmpl.html'"></md-card-content>
                    </md-tab>
                     <md-tab label="Skill">
                        <md-card-content class="overlay-10" ng-controller="StaffSkillController as vm" ng-include="'app/StaffSkill/views/staffskill.tmpl.html'"></md-card-content>
                    </md-tab>
                    <!--<md-tab label="Assigned Classes">
                        <md-card-content ng-include="'app/Staff/Staff-Details/views/pages/assignedclasses.tmpl.html'"></md-card-content>
                         <h1>Under Construction.</h1>
                    </md-tab>-->
                    <!--<md-tab label="Certificates">
                        <md-card-content ng-include="'app/Staff/Staff-Details/views/pages/certificate.tmpl.html'"></md-card-content>
                         <h1>Under Construction.</h1>
                    </md-tab>-->
                    <!--<md-tab label="Education & Skills">
                        <md-card-content ng-include="'app/Staff/Staff-Details/views/pages/education_skills.tmpl.html'"></md-card-content>
                         <h1>Under Construction.</h1>
                    </md-tab>-->
                    <!--<md-tab label="Availability">
                        <md-card-content ng-include="'app/Staff/Staff-Details/views/pages/availability.tmpl.html'"></md-card-content>
                         <h1>Under Construction.</h1>
                    </md-tab>-->
                </md-tabs>
            </md-card>
        </div>
    </md-content>
</md-content>