
<template>
  <div id="app">
    <!--<img src="./assets/logo.png">-->
    <router-view/>
      <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
// import MyVuetable from './components/MyVuetable'
export default {
  name: "app"
  };
</script>

<!--<style lang="scss">
@import 'src/assets/css/app.css';
</style>-->
<style>
/*@import '../assets/css/app.css'
  @import '../assets/css/simple-line-icons.css'
  @import '../assets/fonts/fonts.min.css'*/
#app {
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  
    background-color:#f5f7fa;*/
  height: 100%;
}
</style>
