<md-dialog class="customdialog40">
  <form name="Addskill" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Skill</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      			<div layout="row" layout-xs="column">
                    <md-input-container flex class="md-block">
                    <label for="Skill">Skill Title</label>
                    <input type="text" label="Skill" name="Skill" id="Skill" ng-model="vm.staff.Skill" required>
                  <div ng-messages="Addskill.Skill.$error" md-auto-hide="false" ng-show="Addskill.Skill.$touched">
                    <div ng-message when="required"><span>Please enter title.</span></div>
                  </div>
                    </md-input-container>
                </div>
      			<div layout="row" layout-xs="column">
                    <md-input-container flex class="md-block">
                    <label for="Proficiency">Proficiency</label>
                     <md-select placeholder="Proficiency" ng-model="Proficiency" id="Proficiency" name="Proficiency" required>
                      <md-option value="1">Expert</md-option>
                      <md-option value="2">Intermediate</md-option>
                      <md-option value="2">New Value</md-option>
                    </md-select>
                    <div ng-messages="Addskill.Proficiency.$error" md-auto-hide="false" ng-show="Addskill.Proficiency.$touched">
                        <div ng-message when="required"><span>Please select proficiency.</span></div>
                    </div>
                    </md-input-container>
                </div>
               
              
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="answer()"> Submit </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()"> Cancel </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

