<md-dialog class="customdialog40">
  <form name="Assignclass" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Assign Class</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
			<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      			<div layout="row" layout-xs="column">
                    <md-input-container flex class="md-block mrgR-10">
                    <label for="Category">Category</label>
                     <md-select placeholder="Category" ng-model="Category" id="Category" name="Category" required>
                      <md-option value="1">Pre-school</md-option>
                      <md-option value="2">Infant</md-option>
                      <md-option value="3">After School</md-option>
                    </md-select>
                     <div ng-messages="Assignclass.Category.$error" md-auto-hide="false" ng-show="Assignclass.Category.$touched">
                        <div ng-message when="required"><span>Please select category.</span></div>
                    </div>
                    </md-input-container>
                    <md-input-container flex class="md-block mrgL-10">
                    <label for="Class">Class</label>
                     <md-select placeholder="Class" ng-model="Class" id="Class" name="Class" required>
                      <md-option value="1">Test Class 1</md-option>
                      <md-option value="2">Test Class 1</md-option>
                    </md-select>
                    <div ng-messages="Assignclass.Payername.$error" md-auto-hide="false" ng-show="Assignclass.Payername.$touched">
                        <div ng-message when="required"><span>Please select class.</span></div>
                    </div>
                    </md-input-container>
                </div>
                
                <div layout="row" layout-xs="column" class="margin-bottom-20">
                    <md-input-container flex class="md-block mrgR-10">
                    <label for="Room">Room</label>
                     <md-select placeholder="Room" ng-model="Room" id="Room" name="Room" required>
                      <md-option value="1">Room 1</md-option>
                      <md-option value="2">Room 2</md-option>
                    </md-select>
                    <div ng-messages="Assignclass.Room.$error" md-auto-hide="false" ng-show="Assignclass.Room.$touched">
                        <div ng-message when="required"><span>Please select room.</span></div>
                    </div>
                    </md-input-container>
                    <md-input-container flex class="md-block mrgL-10">
                    <label for="Session">Session</label>
                     <md-select placeholder="Session" ng-model="Session" id="Session" name="Session" required>
                      <md-option value="1">2015-16</md-option>
                      <md-option value="2">2016</md-option>
                    </md-select>
                    <div ng-messages="Assignclass.Session.$error" md-auto-hide="false" ng-show="Assignclass.Session.$touched">
                        <div ng-message when="required"><span>Please select session.</span></div>
                    </div>
                    </md-input-container>
                </div>
      
      		  <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container class="md-block">
                     <label for="From">Date Start From</label>
            		<md-datepicker ng-model="agecutoff" md-placeholder="Enter date" id="From" name="From" required></md-datepicker>
            	<div ng-messages="Assignclass.From.$error" md-auto-hide="false" ng-show="Assignclass.From.$touched">
                        <div ng-message when="required"><span>Please enter date.</span></div>
                    </div>
                    </md-input-container>
                  </div>
                  <div flex>
                    <md-input-container class="md-block">
                     <label for="To">Date Start To</label>
            	<md-datepicker ng-model="agecutoff" md-placeholder="Enter date" id="To" name="To" required></md-datepicker>
            	<div ng-messages="Assignclass.To.$error" md-auto-hide="false" ng-show="Assignclass.To.$touched">
                        <div ng-message when="required"><span>Please enter date.</span></div>
                    </div>
                    </md-input-container>
                  </div>
                </div>
              
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="answer()"> Submit </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()"> Cancel </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

