
<form name="registerConvenience">
	<h2>Add Convenience Mode</h2>
				<div layout layout-xs="column" flex>
					<md-input-container flex>
						<label for="Convenience">Convenience Mode</label>
						<input type="text" label="ConvenienceMode" name="ConvenienceMode" id="ConvenienceMode" ng-model="vm.Convenience.Name" md-maxlength="50" required>
						<div ng-messages="registerConvenience.ConvenienceMode.$error" md-auto-hide="false" ng-show="registerConvenience.ConvenienceMode.$touched">
							<div ng-message when="required"><span>Please enter Convenience mode.</span></div>
						</div>
					</md-input-container>
				</div>
				<div layout layout-xs="column" flex>
				</div>
				<div layout layout="row" layout-align="end center">
					<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addConvenience(registerConvenience)"
						ng-disabled="registerConvenience.$invalid" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>
					<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.clear(form.registerConvenience)"
						ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
				</div>
			<!--</md-whiteframe>-->
		<!--</md-card-content>-->
	<!--</md-card>-->
</form>
<!--</md-content>-->