<md-progress-linear class="padding-bottom-10" md-mode="indeterminate" ng-if="IsLoaded==false" ></md-progress-linear>

<iframe  src="../customapp/staffeventcustomscheduler.html" onLoad="uploadDone();" width="100%" height="600" ></iframe>
