<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>{{vm.displaytext}} Summary</h2>
             <span flex></span>
             <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
				<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
			</md-button>
        </div>
        
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-divider></md-divider>
    <md-dialog-content class="md-dialog-content">
        <form name="AgencyForm">


            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                    <label translate>Phone Number</label>
                    <input name="text"  ng-disabled="true" ng-model="vm.agency.agencyname">
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Email</label>
                    <input type="text" id="email" ng-disabled="true" name="email" ng-model="vm.agency.email">
                </md-input-container>
            </div>
            <h3 flex>Owner Information</h3>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                    <label translate>First Name</label>
                    <input name="School" ng-disabled="true" ng-model="vm.agency.OwnerFirstName">

                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Last Name</label>
                    <input name="School" ng-disabled="true" ng-model="vm.agency.OwnerLastName">

                </md-input-container>
            </div>
            <h3 flex>Contact Information</h3>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                    <label translate>First Name</label>
                    <input name="firstNa" ng-disabled="true" ng-model="vm.agency.ContactPersonFirstName">

                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Last Name</label>
                    <input name="lstNa" ng-disabled="true" ng-model="vm.agency.ContactPersonLastName">

                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-10">
                    <label translate>Address</label>
                    <textarea ng-model="vm.agency.address" ng-disabled="true"></textarea>

                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Country</label>
                    <md-select ng-dblclick="true" name="countryid" id="countryid" placeholder="Country" ng-disabled="true" ng-model="vm.agency.countryid">
						<md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
					</md-select>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="md-block">
                    <label translate>State</label>
                   <md-select name="stateid" id="stateid"  placeholder="State" ng-model="vm.agency.stateid" ng-disabled="true">
						<md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
					</md-select>
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>City</label>
                    <input name="City" ng-disabled="true" ng-model="vm.agency.cityname">
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="md-block">
                    <label translate>Postal Code</label>
                    <input name="PostalCode" ng-disabled="true" ng-model="vm.agency.postalcode" name="postalcode">

                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Phone Number</label>
                    <input name="phonenumber"  ng-disabled="true" ng-model="vm.agency.phonenumber">
                </md-input-container>
            </div>
            <div class="button-toolbar" layout="row" layout-align="end center">
                <md-button class="md-warn md-raised" ng-click="vm.cancel()">Cancel</md-button>
                <!--<md-button>Cancel</md-button>-->
            </div>

            <div layout="row" layout-align="start center"> </div>
        </form>
    </md-dialog-content>
</md-dialog>