<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <!--<md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Dashboard</h2>
    </div>
  </md-toolbar>-->
    <div >

        <div class="drag-container" layout="row" layout-xs="column" layout-sm="row" layout-margin layout-wrap  dragula='"drag-analytics-container"'>
            <tri-widget  style="cursor:pointer;" palette-background="deep-orange:500" ng-click="vm.redirectToAgency()" content-layout="row" content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="fa fa-sitemap"></md-icon>
                </div>
                <div layout="column" layout-align="center end" >
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="vm.TotalAgencyCount" decimals="0"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Organizations</p>
                </div>
            </tri-widget>
            <tri-widget  style="cursor:pointer;" palette-background="triCyan:500" content-layout="row" ng-click="vm.redirectToPricingPlan()" content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-accounts-alt"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="vm.PricingPlanCount" decimals="0"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0"  translate>Pricing plans</p>
                </div>
            </tri-widget>
            <tri-widget  style="cursor:pointer;" palette-background="indigo:500" content-layout="row" ng-click="vm.redirectToTimeClockUserPlan()" content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-account-box-o"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.TimeClockUserPlanCount" decimals="0"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0"  translate>Time clock users plans</p>
                </div>
            </tri-widget>
            <tri-widget  style="cursor:pointer;" palette-background="teal:500" content-layout="row"  content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="fa fa-usd"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.TotalSum" decimals="0"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" ng-href="#/participants/attendanceHistory" translate>Account($)</p>
                </div>
            </tri-widget>
        </div>
        
        <div layout="row" layout-xs="column" layout-margin>
            <tri-widget flex title="Organization" content-layout="column" content-layout-align="center">
                <div layout="row" layout-align="center center" ng-if="vm.AgencyList.length==0">
                    <h2>No Records!</h2>
                </div>  

                <!--<div class="full-width" layout="row" ng-repeat="toDo in vm.ToDoList| limitTo : 5" layout-padding>
                    <h4 flex="20" class="opacity-80 margin-0 margin-right-20" translate>{{toDo.Name}}</h4>

                    <div flex class="font-size-1 text-right sales-dashboard padding-right-10">
                        <span class="status status-pending ">{{toDo.Priority.Name}}</span>
                    </div>
                </div>
                <div layout="row" ng-if="vm.ToDoList.length>5" layout-align="end center">
                    <md-button class="md-accent md-raised" ng-click="vm.GotoToDoList()"> More </md-button>
                </div>-->

                <md-table-container style="max-height: 210px;" ng-if="vm.AgencyList.length>0">
                    <table md-table class="md-data-table">
                        <thead md-head md-order="vm.query.order" md-on-reorder="vm.AgencyList">
                            <tr md-row>
                                <!--<th md-column md-order-by="Name" decend-first>Name</th>
                                <th md-column md-order-by="OwnerName">Owner Name</th>
                                <th md-column md-order-by="Email">Email</th>
                                <th md-column md-order-by="Pricingplan">Pricing Plan</th>
                                <th md-column md-order-by="Timeclockuserplan">Timeclockuser plan</th>
                                <th md-column>Details</th>-->
                                <th md-column decend-first>Name</th>
                                <th md-column>Owner Name</th>
                                <th md-column>Email</th>
                                <th md-column>Pricing Plan</th>
                                <th md-column>Time clock user plan</th>
                                <th md-column>Details</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="agency in vm.AgencyList | limitTo : vm.agencyListLimit">
                                <td md-cell><a style="cursor:pointer;color:#00bcd4;border-bottom: none;md-cyan-theme" ng-click="vm.showAddParticipantDialogue(agency.ID)">{{agency.AgencyName}}</a></td>
                                <td md-cell>{{agency.OwnerFirstName}} {{agency.OwnerLastName}}</td>
                                <td md-cell>{{agency.Email}}</td>
                                <td md-cell>{{agency.PricingPlan.Name}} : ${{agency.PricingPlan.Price}}/month</td>
                                <td md-cell ng-if="agency.TimeClockUsersPlan==null">--</td>
                                <td md-cell ng-if="agency.TimeClockUsersPlan!=null">{{agency.TimeClockUsersPlan.Name}} : ${{agency.TimeClockUsersPlan.Price}}/month</td>
                                <td md-cell>
                                    <md-button ng-click="vm.showAddParticipantDialogue(agency.ID)" class="md-icon-button" aria-label="Open Order">
                                        <md-icon md-font-icon="fa fa-eye"></md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <!--<div layout="row" ng-if="vm.AgencyList.length>3" layout-align="end center">
                    <md-button class="md-accent md-raised" ng-href="#/superadmin" >Show More </md-button>
                </div>-->
                  <div ng-if="vm.AgencyList.length>3 && vm.buttonText==1" class="padding-10"  layout="row"  layout-align="end center">
                    <md-button class="md-accent md-raised" ng-click="vm.moreClick()" > More </md-button>
                </div>
                 <div ng-if="vm.buttonText==0"    layout="row"  layout-align="end center">
                    <md-button class="md-accent md-raised" ng-click="vm.lessClick()" > Less </md-button>
                </div>

                <!--<md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.salesData.orders.length}}" md-page-select></md-table-pagination>-->
            </tri-widget>

        </div>
        <div layout="row" layout-xs="column" layout-margin>
            <tri-widget flex flex-xs="100"  title="Pricing Plan Status" content-padding>
                <div layout="row" layout-align="center center" ng-if="vm.dataPricingPlan.length==0">
                    <h2>No Records!</h2>
                </div>
                <canvas class="chart-doughnut"  chart-data="vm.dataPricingPlan" chart-legend="true" chart-labels="vm.PricingPlanlabels"></canvas>
            </tri-widget>
            <tri-widget flex flex-xs="100" ng-click="vm.redirectToTimeClockUserPlan()" title="Time clock users Plan Status" content-padding>
                <div layout="row" layout-align="center center" ng-if="vm.dataTimeclockusers.length==0">
                    <h2>No Records!</h2>
                </div>
                <canvas class="chart-doughnut"  chart-data="vm.dataTimeclockusers" chart-legend="true" chart-labels="vm.Timeclockuserslabels"></canvas>
            </tri-widget>
        </div>
    </div>
</div>