
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>All<span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Enrolls' : 'Enroll'}} selected )</span></h2>
			<span flex></span>
      <span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
        <md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padding-20">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Participant</label>
								<input type="text" label="name" name="name" id="name" ng-model="query.StudentName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetStudentScheduleList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
<md-card>
<div class="padding-20">

				<h3><strong>Participant Name :</strong> {{StudentName}} </h3>
		
		</div>
		<div>
     
			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
			 <md-table-container>

    <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped"  ng-model="selected"
      md-progress="vm.promise">
      <thead md-head md-order="query.order" md-on-reorder="vm.GetStudentScheduleList">
        <tr md-row>
          <!--<th md-column><span>#</span></th>-->
          <th md-column><span>{{vm.columns.Image}}</span></th>
          <th md-column md-order-by="FirstName"><span>{{vm.columns.FirstName}}</span></th>
          <th md-column><span>{{vm.columns.EnrolledClasses}}</span></th>
          <th md-column ng-if="vm.FamilyId==0"><span>{{vm.columns.Schedule}}</span></th>
          <!--<th md-column><span>{{vm.columns.Active}}</span></th>-->
          <th md-column md-order-by="Gender"><span>{{vm.columns.Gender}}</span></th>
          <th md-column md-order-by="DateOfBirth"><span>{{vm.columns.BirthDate}}</span></th>
          <!--<th md-column md-order-by="Age"><span>{{vm.columns.Age}}</span></th>-->
          <!--<th md-column><span>ACTION</span></th>-->
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-auto-select md-select="participant" md-select-id="participant.ID" ng-repeat="participant in vm.StudentList">
          <!--<td md-cell>{{ $index + 1 }}</td>-->
          <td md-cell><a style="cursor:pointer" ng-click="vm.detailParticipantInfo(participant)"><img ng-src="{{vm.ImageUrlPath}}{{participant.ImagePath}}" err-src="assets/images/avatars/avatar-5.png"/></a></td>
          <td md-cell><a style="cursor:pointer" ng-click="vm.detailParticipantInfo(participant)">{{participant.FirstName}} {{participant.LastName}}</a></td>
          <!--<td md-cell>{{parti
            cipant.Student.FirstName}}</td>-->
         
          <td md-cell ng-if="participant.MappedClass!=null"><span  ng-repeat="item in participant.MappedClass.split(',')">{{item}}<br/></span></td>
          <td md-cell ng-if="participant.MappedClass==null">Not Enrolled</td>
          <td md-cell ng-if="vm.FamilyId==0"><a style="cursor:pointer"  ng-click="vm.goToSchedule(participant);">Enroll</a></td>
          <!--<td md-cell>Active</td>-->
          <td ng-if="participant.Gender==0" md-cell>Male</td>
          <td ng-if="participant.Gender==1" md-cell>Male</td>
          <td ng-if="participant.Gender==2" md-cell>Female</td>
          <td ng-if="participant.Gender==3" md-cell>Others</td>
          <td md-cell>{{participant.DateOfBirth | date:"MM/dd/yyyy"}}</td>
          <!--<td md-cell>{{participant.Student.Age}}</td>-->
          <!--<td md-cell style="min-width:60px">
            <a class="md-primary" ng-click="vm.showEditParticipantDialogue(participant)" style="cursor:pointer">
              <md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
            </a> &nbsp;
            <a class="md-primary" ng-click="vm.showDeleteParticipantConfirmDialoue($event,participant.ID)" style="cursor:pointer">
              <md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
              </md-icon>
            </a>
          </td>-->
        </tr>
      </tbody>
    </table>
  </md-table-container>
   <div ng-if="vm.StudentList==0" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Participant list found.</h2>
                </md-input-container>
            </div>

  <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit"  md-page-select md-page="query.page"
    md-total="{{vm.participantCount}}" md-on-paginate="vm.GetStudentScheduleList"></md-table-pagination>
			<!--</div>-->
		</div>
</md-card>
	</div>