
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Attendance History <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Enrolls' : 'Enroll'}} selected )</span></h2>
            <span flex></span>
            <span><h3>Search</h3></span>
            <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
                <md-tooltip>Search</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div class="padding-20">
        <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <div class="padded-content-page">
                <md-content class="overflowVisible">
					<form id="Search" name="SearchAttendance">
                        <div layout layout-xs="column" flex>
                            <md-input-container class="mrgR-10" flex>
                                <label for="name">Participant Name</label>
                                <input type="text" label="name" name="name" id="name" ng-model="query.StudentName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
                            </md-input-container>
                            <md-input-container class="mrgL-10" flex>
                                <label for="Class">Class</label>
                                <md-select placeholder="Class" name="Class" id="Class" ng-model="query.ClassId">
                                    <md-option value="{{Class.ID}}" ng-repeat="Class in vm.AllClasses">{{ Class.ClassName }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex>
                                <label for="Date"> From Date</label>
                                <md-datepicker flex md-placeholder="From Date" md-max-date="vm.MaxDate" ng-model="query.FromDate"  md-max-date="vm.attendancestartDate" ng-change="vm.setToDate()"
									name="FromDate" id="FromDate" ng-disabled="false" ng-model-options="{ timezone: 'utc' }" required></md-datepicker>
								<div ng-messages="SearchAttendance.FromDate.$error" md-auto-hide="false" ng-show="SearchAttendance.FromDate.$touched">
									<div ng-message when="required"><span>Please select From Date.</span></div>
								</div>
                            </md-input-container>
                            <md-input-container flex>
                                <label for="Date">To Date</label>
                                <md-datepicker flex md-placeholder="To Date" md-max-date="vm.MaxDate" md-min-date="query.FromDate" ng-model="query.ToDate" md-min-date="vm.attendanceendDate" md-max-date="vm.attendancestartDate"
									name="ToDate" id="ToDate" ng-disabled="false" required></md-datepicker>
								<div ng-messages="SearchAttendance.ToDate.$error" md-auto-hide="false" ng-show="SearchAttendance.ToDate.$touched">
									<div ng-message when="required"><span>Please select To Date.</span></div>
								</div>
                            </md-input-container>
                        </div>
                        <div layout layout-xs="column" flex>
                            <md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-disabled="SearchAttendance.$invalid" ng-click="vm.getAttendanceHistoryList()" ng-disabled="SearchAttendance.$invalid">Search</md-button>
                                <md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
                                <md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
                            </md-input-container>
                        </div>
                    </form>
                </md-content>
            </div>
        </md-sidenav>
<md-card>
		<div class="padding-20">
			
              <h3><strong>Class :</strong> {{Class}}</h3>
				<h3><strong>Participant Name :</strong> {{StudentName}} </h3>
				<h3><strong>Period :</strong> {{fromDate | date:'MM/dd/yyyy'}} - {{toDate | date:'MM/dd/yyyy'}} </h3>
			
		</div>
		<div class="">
            
			<!--<div ng-if="vm.NoData==false" class="margin-top-20">-->
            <md-table-container>
					<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
                    <thead md-head md-order="query.order" md-on-reorder="vm.getAttendanceHistoryList">
                        <tr md-row>
                            <!--<th md-column><span>#</span></th>-->
                            <th md-column><span>{{vm.columns.Image}}</span></th>
                            <th md-column md-order-by="StudentName"><span>{{vm.columns.StudentName}}</span></th>
                            <th md-column md-order-by="ClassName"><span>{{vm.columns.ClassName}}</span></th>
                            <th md-column md-order-by="AttendanceDate" mddesc><span>{{vm.columns.AttendanceDate}}</span></th>
								<th md-column><span>{{vm.columns.DropedByName}}</span></th>
								<th md-column><span>{{vm.columns.InTime}}</span></th>
								<th md-column><span>{{vm.columns.PickupByName}}</span></th>
								<th md-column><span>{{vm.columns.OutTime}}</span></th>
                                <th md-column><span>Leave Status</span></th>
                                <th md-column><span>Leave Comments</span></th>
                            <!--<th md-column md-order-by="Session"><span>{{vm.columns.SessionName}}</span></th>-->
                            <!--<th md-column md-order-by="StartDate"><span>{{vm.columns.StartDate}}</span></th>							
							<th md-column md-order-by="Room"><span>{{vm.columns.Room}}</span></th>-->
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-auto-select md-select="attendance" md-select-id="attendance.ID" ng-repeat="attendance in vm.attendanceHistoryList">
                            <!--<td md-cell>{{ $index + 1 }}</td>-->
								<td md-cell>
									<a style="cursor:pointer" ng-click="vm.detailParticipantInfo(attendance)"><img ng-src="{{vm.ImageUrlPath}}{{attendance.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" /></a>
								</td>
                            <td md-cell><a style="cursor:pointer" ng-click="vm.detailParticipantInfo(attendance)">{{attendance.StudentName }}</a></td>
                            <td md-cell>{{attendance.StudentSchedule.ClassName}}</td>
								<td md-cell>{{attendance.AttendanceDate | date:'MM/dd/yyyy'}}</td>
                            <!--<td md-cell>{{attendance.DropedByName}}</td>-->
                            <td md-cell ng-if="attendance.DropedByName != null || attendance.DropedByOtherName != null">{{attendance.DropedByName}} {{attendance.DropedByOtherName}}<span ng-if="attendance.DropByRelationName!=null">({{attendance.DropByRelationName}})</span></td>
                            <td md-cell ng-if="attendance.DropedByName == null && attendance.DropedByOtherName == null"> -- </td>
                            <td md-cell>{{attendance.InTime | ampmtime}}</td>
                            <!--<td md-cell>{{attendance.PickupByName}}</td>-->
                            <td md-cell ng-if="attendance.PickupByName != null || attendance.PickupByOtherName != null">{{attendance.PickupByName}} {{attendance.PickupByOtherName}}<span ng-if="attendance.PickedByRelationName!=null">({{attendance.PickedByRelationName}})</span></td>
                            <td md-cell ng-if="attendance.PickupByName == null && attendance.PickupByOtherName == null"> -- </td>
                            <td md-cell>{{attendance.OutTime | ampmtime}}</td>
                            <td md-cell ng-if="attendance.OnLeave==true">Yes</td>
                            <td md-cell ng-if="attendance.OnLeave==false||attendance.OnLeave==null">No</td>
                            <td md-cell ng-if="attendance.OnLeaveComment!=''">{{attendance.OnLeaveComment}}</td>
                            <td md-cell ng-if="attendance.OnLeaveComment==''">--</td>

                            <!--<td md-cell>{{schedule.SessionName}}</td>-->
                            <!--<td md-cell>{{attendance.Startdate| date:"dd-MM-yyyy"}}</td>
							<td md-cell>{{attendance.RoomName}}</td>-->
                        </tr>
                    </tbody>
                </table>
            </md-table-container>


            <div ng-if="vm.attendanceHistoryList==0" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Attendance history list found.</h2>
                </md-input-container>
            </div>
            
            <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page-select md-page="query.page"
                md-total="{{vm.attendanceHistoryCount}}" md-on-paginate="vm.getAttendanceHistoryList"></md-table-pagination>
       
        <!--</div>-->
        </md-card>
    </div>