
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Current Enrollment <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Enrolls' : 'Enroll'}} selected )</span></h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padding-20">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Participant</label>
								<input type="text" label="name" name="name" id="name" ng-model="query.ParticipantName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetStudentScheduleList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
		<md-card>
		<div class="padding-20">
			
				<h3><strong>Participant Name :</strong> {{StudentName}} </h3>
			
		</div>
		<div >
			
			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
			<md-table-container>
				<!--<md-card-actions layout="row" layout-align="end center ">
      <md-button class="md-primary">
        <md-icon md-font-icon="fa fa-print"></md-icon>
        Print</md-button>
    </md-card-actions>-->

				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
					<thead md-head md-order="query.order" md-on-reorder="vm.GetStudentScheduleList">
						<tr md-row>
							<!--<th md-column><span>#</span></th>-->
							<th md-column><span>{{vm.columns.Image}}</span></th>
							<th md-column md-order-by="FirstName"><span>{{vm.columns.FirstName}}</span></th>

							<th md-column><span>{{vm.columns.ClassName}}</span></th>
							<!--<th md-column md-order-by="Session"><span>{{vm.columns.SessionName}}</span></th>-->
							<th md-column md-order-by="StartDate"><span>{{vm.columns.StartDate}}</span></th>
							<!--<th md-column md-order-by="EndDate"><span>{{vm.columns.EndDate}}</span></th>
          <th md-column md-order-by="Mon"><span>{{vm.columns.Mon}}</span></th>
          <th md-column md-order-by="Tue"><span>{{vm.columns.Tue}}</span></th>
          <th md-column md-order-by="Wed"><span>{{vm.columns.Wed}}</span></th>
          <th md-column md-order-by="Thu"><span>{{vm.columns.Thu}}</span></th>
          <th md-column md-order-by="Fri"><span>{{vm.columns.Fri}}</span></th>
          <th md-column md-order-by="Sat"><span>{{vm.columns.Sat}}</span></th>-->
							<th md-column md-order-by="Room"><span>{{vm.columns.Room}}</span></th>
							<th md-column ng-hide="vm.FamilyId>0"><span>Cancel Enrollment</span></th>
							<th md-column ng-hide="vm.FamilyId>0"><span>Transfer Enrollment</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="schedule" md-select-id="schedule.ID" ng-repeat="schedule in vm.ScheduleList">
							<!--<td md-cell>{{ $index + 1 }}</td>-->
							<td md-cell>
								<a style="cursor:pointer" ng-click="vm.detailParticipantInfo(schedule)"><img ng-src="{{vm.ImageUrlPath}}{{schedule.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" /></a>
							</td>
							<td md-cell><a style="cursor:pointer" ng-click="vm.detailParticipantInfo(schedule)">{{schedule.FirstName}} {{schedule.LastName}}</a></td>

							<td md-cell>{{schedule.ClassName}}</td>
							<!--<td md-cell>{{schedule.SessionName}}</td>-->
							<td md-cell>{{schedule.Startdate| date:"MM/dd/yyyy"}}</td>
							<!--<td md-cell>{{schedule.Enddate|date:"dd-mm-yyyy"}}</td>
          <td md-cell>{{schedule.MondayIn}}-{{schedule.MondayOut}}</td>
          <td md-cell>{{schedule.TuesdayIn}}-{{schedule.TuesdayOut}}</td>
          <td md-cell>{{schedule.WednesdayIn}}-{{schedule.WednesdayOut}}</td>
          <td md-cell>{{schedule.ThursdayIn}}-{{schedule.ThursdayOut}}</td>
          <td md-cell>{{schedule.FridayIn}}-{{schedule.FridayOut}}</td>
          <td md-cell>{{schedule.SaturdayIn}}-{{schedule.SaturdayOut}}</td>-->
							<td md-cell>{{schedule.RoomName}}</td>
							<td md-cell ng-hide="vm.FamilyId>0">
								<md-button class="md-raised md-warn" ng-click="vm.CancelEnrollment(schedule)">Cancel</md-button>
							</td>
							<td md-cell ng-hide="vm.FamilyId>0">
								<md-button class="md-raised md-primary" ng-click="vm.goToSchedule(schedule)">Transfer</md-button>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>

			<div ng-if="vm.ScheduleList==0" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Current enrolled participant list found.</h2>
                </md-input-container>
            </div>

			<!--<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Current enrolled participant list found.</h2>
                </md-input-container>
            </div>-->
			<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page-select md-page="query.page"
				md-total="{{vm.participantScheduleCount}}" md-on-paginate="vm.GetStudentScheduleList"></md-table-pagination>
			<!--</div>-->
		</div>
		</md-card>
	