<md-dialog class="mobile-fullwidth-dialog" flex="40" flex-xs="30">
	<md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.scheduleEvent.selectedColor.textColor }">
		<div class="md-toolbar-tools">
			<h2>
				<span translate>Transfer-{{ParticipantName}}</span>
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
				<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-divider></md-divider>
	<md-dialog-content class="md-dialog-content">
		<form name="scheduleform">
			<div layout="row">
				<md-input-container flex class="md-block mrgR-10">
					<label>Class</label>
					<md-select flex placeholder="select class" name="classes" id="classes" ng-model="vm.scheduleData.ClassId" ng-change="vm.getFeesAmount()" required>
						<md-option ng-repeat="option in vm.AllClasses" value="{{option.ID}}">{{option.ClassName}}</md-option>
					</md-select>
					<div ng-messages="scheduleform.classes.$error" md-auto-hide="false" ng-show="scheduleform.classes.$touched">
						<div ng-message when="required">
							<span translate>Class is required.</span>
						</div>
					</div>
				</md-input-container>
				<md-input-container flex class="md-block mrgR-10">
					<label hide-xs translate>Schedule Start Date</label>
					<md-datepicker ng-model="vm.scheduleData.StartDate"  name="StartDate" id="StartDate" md-placeholder="Start Date" ng-model-options="{ timezone: 'utc' }" required></md-datepicker>
					<div ng-messages="scheduleform.StartDate.$error" md-auto-hide="false" ng-show="scheduleform.StartDate.$touched">
						<div ng-message when="required">
							<span translate>Date is required.</span>
						</div>
					</div>
				</md-input-container>
			</div>
				<div layout="row">
				<md-input-container flex class="md-block mrgR-10">
					<label translate>Amount($)</label>
					<input type="text" name="Amount" ng-disabled="true" ng-model="vm.scheduleData.TutionFees" ng-disabled="true"   allow-pattern="(\d|[.\])">
					<!--<div ng-messages="paymentForm.Amount.$error" md-auto-hide="false" ng-show="paymentForm.Amount.$touched">
						<div ng-message when="required"><span>Amount is required.</span></div>
					</div>-->
				</md-input-container>
				<md-input-container flex class="md-block mrgR-10">
					<label translate>Discount($)</label>
					<input type="number" name="PaidFees" ng-change="vm.Discount(vm.scheduleData.PaidFees)" ng-model="vm.scheduleData.PaidFees"  min="0">
					<div ng-messages="scheduleform.PaidFees.$error" md-auto-hide="false" ng-show="scheduleform.PaidFees.$touched">
						<div ng-message when="required"><span>Discount is required.</span></div>
					</div>
				</md-input-container>
			</div>
			<div layout="row">
				<h3 flex>Note: {{vm.FeesType}} Charges Applied.</h3>
			</div>
		</form>
	</md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button class="md-primary md-raised" ng-show="id == 0" ng-click="vm.addSchedule(scheduleform,vm.scheduleData)" ng-disabled="scheduleform.$invalid">
			Add </md-button>
		<md-button class="md-primary md-raised" ng-show="id > 0" ng-click="vm.updateStaff(scheduleform,vm.scheduleData)" ng-disabled="scheduleform.$invalid">
			Update </md-button>
		<md-button class="md-warn md-raised" ng-click="vm.cancelClick()"> Cancel </md-button>
	</md-dialog-actions>
</md-dialog>