
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Unassigned<span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Unenroll' : 'Unenroll'}} selected )</span></h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padding-20">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Participant</label>
								<input type="text" label="name" name="name" id="name" ng-model="query.ParticipantName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetUnenrollParticipantList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
		<md-card>
		<div class="padding-20">
			
				<h3><strong>Participant Name : </strong>{{StudentName}} </h3>
			
		</div>
		<div class="margin-top-20">
			
			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
			<md-table-container>

					<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
					<thead md-head md-order="query.order" md-on-reorder="vm.GetUnenrollParticipantList">
						<tr md-row>							
							<th md-column><span>{{vm.columns.Image}}</span></th>
							<th md-column md-order-by="FirstName"><span>{{vm.columns.FirstName}}</span></th>
							<th md-column ng-if="vm.FamilyId==0"><span>{{vm.columns.Enroll}}</span></th>
							<th md-column md-order-by="Gender"><span>{{vm.columns.Gender}}</span></th>							
							<th md-column md-order-by="DateOfBirth"><span>{{vm.columns.DateOfBirth}}</span></th>
							<th md-column md-order-by="Age"><span>{{vm.columns.Age}}</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="item" md-select-id="item.ID" ng-repeat="item in vm.UnEnrollList">
							<!--<td md-cell>{{ $index + 1 }}</td>-->
								<td md-cell>
									<a style="cursor:pointer" ng-click="vm.detailParticipantInfo(item)"><img ng-src="{{vm.ImageUrlPath}}{{item.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" /></a>
								</td>
							<td md-cell><a style="cursor:pointer" ng-click="vm.detailParticipantInfo(item)">{{item.FirstName}} {{item.LastName}}</a></td>
							
							<td md-cell ng-if="vm.FamilyId==0"><a style="cursor:pointer" ng-click="vm.goToSchedule(item);">Enroll</a></td>
							<td ng-if="item.Gender==1" md-cell>Male</td>
							<td ng-if="item.Gender==2" md-cell>Female</td>
							<td ng-if="item.Gender==3" md-cell>Others</td>
							<td md-cell>{{item.DateOfBirth| date:'MM/dd/yyyy'}}</td>
							<td md-cell>{{item.Age}}</td>							
						</tr>
					</tbody>
				</table>
			</md-table-container>

			<div ng-if="vm.UnEnrollList==0" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Unassigned participant list found.</h2>
                </md-input-container>
            </div>
			<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page-select md-page="query.page"
				md-total="{{vm.UnEnrollListCount}}" md-on-paginate="vm.GetUnenrollParticipantList"></md-table-pagination>
		<!--</div>-->
	</div>
		</md-card>