<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Future Enrollment</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="UpdateStudent">
            <h2>Future Enrolled Student Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="FirstName">First Name</label>
                    <input type="text" label="FirstName" ng-disabled="true" name="FirstName" id="FirstName" ng-model="vm.futureStudent.FirstName" md-maxlength="50"
                        required>
                    <div ng-messages="UpdateStudent.FirstName.$error" md-auto-hide="false" ng-show="UpdateStudent.FirstName.$touched">
                        <div ng-message when="required"><span>Please enter first name.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="LastName">Last Name</label>
                    <input type="text" label="LastName" name="LastName" ng-disabled="true" id="LastName" ng-model="vm.futureStudent.LastName" md-maxlength="50"
                        required>
                    <div ng-messages="UpdateStudent.LastName.$error" md-auto-hide="false" ng-show="UpdateStudent.LastName.$touched">
                        <div ng-message when="required"><span>Please enter last name.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label>Class</label>
                    <md-select flex placeholder="select class" name="classes" id="classes" ng-model="vm.futureStudent.ClassId" ng-change="vm.getFeesAmount()"
                        required>
                        <md-option ng-repeat="option in vm.AllClasses" value="{{option.ID}}">{{option.ClassName}}</md-option>
                    </md-select>
                    <div ng-messages="scheduleform.classes.$error" md-auto-hide="false" ng-show="scheduleform.classes.$touched">
                        <div ng-message when="required">
                            <span translate>Class is required.</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="StartDate">Start Date</label>
                    <md-datepicker flex ng-model="vm.futureStudent.Startdate" md-max-date=vm.Startdate md-placeholder="Enter Date" name="StartDate"
                        id="StartDate" required></md-datepicker>
                    <div ng-messages="UpdateStudent.StartDate.$error" md-auto-hide="false" ng-show="UpdateStudent.StartDate.$touched">
                        <div ng-message when="required"><span>Please enter start date.</span></div>
                    </div>
                </md-input-container>
                <!--<md-input-container flex>
                    <label translate>Room</label>
                    <md-select name="Room" id="Room" ng-model="vm.futureStudent.RoomId" required>
                        <md-option ng-repeat="option in vm.AllRooms" value="{{option.ID}}">{{option.Name}}</md-option>
                    </md-select>
                    <div ng-messages="UpdateStudent.Room.$error" md-auto-hide="false" ng-show="UpdateStudent.Room.$touched">
                        <div ng-message when="required"><span>Please choose room.</span></div>
                    </div>
                </md-input-container>-->
            </div>
            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateFutureEnrolledStudent(UpdateStudent,vm.futureStudent)"
                    ng-disabled="UpdateStudent.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Update</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.cancelClick()"
                    ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>