<template>
  <div class="wrapper">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="card">
          <!--<img class="card-img-top" src="..." alt="Card image cap">-->
          <div class="card-body">
            <h4 class="card-title">Sign In!</h4>
            <form>
              <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" id="txtEmail" v-validate="'required|email'" v-model="model.UserName" name="email" class="form-control">
                 <span v-show="errors.has('email')">{{ errors.first('email') }}</span>
              </div>
              <div class="form-group">
                <label for="txtEmail">Password</label>
                <input type="password" v-validate="'required'"  id="password" name="password" v-model="model.Password"  class="form-control">
                <span v-show="errors.has('password')">{{ errors.first('password') }}</span>
              </div>  
              <div class="row" style="margin-bottom:20px;">
                <div class="col-6">
                  <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    Remember me
                                    <span class="custom-control-indicator"></span>
                                </label>
                </div>
                <div class="col-6 text-right">
                  <a href="#" class="btn btn-link">Forgot password?</a>
                </div>
              </div>
              <a  href="#" @click="loginClick()" class="btn btn-primary btn-block btn-lg"><i class="icon-login" style="margin-right:8px"></i> Log-in</a>
              <!-- <a  @click="loginClick()" class="btn btn-primary btn-block btn-lg"><i class="icon-login" style="margin-right:8px"></i> Log-in</a> -->
            </form>
            <h5 style="margin-top:50px;margin-bottom:20px;">Ready to Sign-up?</h5>
            <a href="/Pricing" class="btn btn-success btn-block btn-lg"><i class="icon-note" style="margin-right:8px"></i> Register Now!</a>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      model: {
        UserName: "",
        Password: "",
        Url: "http://localhost:8080/login"
      },
      roleModel: {
        RoleName:'',
        ID:''
      },
      rolesLst: []
    };
  },
  methods: {
    loginClick() {
      this.$Progress.start();
      this.$store.dispatch("LOGIN", { model: this.model }).then(response => {
        if (response.IsSuccess) {
          // if (
          //   response.data.Content.TimeZone == null ||
          //   response.data.Content.TimeZone == undefined
          // )
          //   localStorage.TimeZone = vm.TimeZone;
          // else localStorage.TimeZone = response.data.Content.TimeZone;
          // this.$Progress.finish();
          // vm.currentUser = {
          //   displayName: "",
          //   avatar: "assets/images/avatars/avatar-5.png"
          // };
          localStorage.Token = response.Token;
          console.log("Token is:" + response.Token);
          this.roleModel.ID = response.Content.RoleId;
          localStorage.RoleId = this.roleModel.ID;
          this.roleModel.RoleName = response.Content.RoleName;
          localStorage.UserId = response.Content.UserId;
          localStorage.EmailId = response.Content.Email;
          this.rolesLst.push(this.roleModel.RoleName);
          localStorage.setItem("roles", JSON.stringify(this.rolesLst));
          if (this.roleModel.RoleName == "AGENCY") {
            localStorage.MaxNumberOfParticipants = null;
            localStorage.PlanId = null;
            localStorage.PlanId = response.Content.PricingPlan.ID;
            localStorage.StripeUserId = response.Content.StripeUserId;
            localStorage.StripeTimeClockSubscriptionId =
              response.Content.StripeTimeClockSubscriptionId;
            localStorage.Image = "assets/images/avatars/avatar-5.png";
            localStorage.setItem(
              "PricingPlan",
              JSON.stringify(response.Content.PricingPlan)
            );
            localStorage.MaxNumberOfParticipants =
              response.Content.PricingPlan.MaxNumberOfParticipants;
            localStorage.AgencyTimeClockUsers =
              response.Content.PricingPlan.TimeClockUsers;
            if (response.Content.TimeClockUsersPlan != null) {
              localStorage.TimeClockPlanUsers =
                response.Content.TimeClockUsersPlan.MaxNumberOfTimeClockUsers;
              localStorage.TotalTimeClockUsers =
                response.Content.TotalTimeClockUsers;
            } else {
              localStorage.TimeClockPlanUsers = 0;
              localStorage.TotalTimeClockUsers = 0;
            }
            // vm.currentUser.displayName = response.Content.AgencyName;
            localStorage.profileName = response.Content.AgencyName;
            localStorage.displayName = response.Content.AgencyName;
            // AgencyService.SetId(
            //   response.data.Content.ID,
            //   response.data.Content.AgencyName
            // );
            localStorage.agencyId = response.Content.ID;
            localStorage.AgencyName = response.Content.AgencyName;
            localStorage.agencyName = response.Content.AgencyName;
            localStorage.Portal = "AGENCY";
            localStorage.DifferPortal = "AGENCY";
            //////////////////for local storage///////////////////////////////
            //////For Checking Maxmimum Enrolled Participants
            // vm.query = {
            //   AgencyId: localStorage.agencyId
            // };
            // vm.promise = CommonService.getEnrolledParticipantsCount(vm.query);

            // vm.promise.then(function(responseForEnrolledParticipants) {
            //   if (responseForEnrolledParticipants.IsSuccess) {
            //     localStorage.TotalEnrolledParticipants =
            //       responseForEnrolledParticipants.TotalEnrolledParticipants;

            ////////////////////////////////////
            ///For Trial Period Expires

            // if (response.data.Content.IsTrial == true) {
            //   var days = response.data.trialDays;
            //   if (days <= 0) {
            //     notificationService.displaymessage(
            //       "You trial period expired,you can not login."
            //     );
            //     return;
            //   }
            // }
            localStorage.DashboardagencyId = localStorage.agencyId;
           
            //////////////////////////////////////
            ///For checking first time login then jump to usersetting
            // var IsLoggedFirstTime = response.data.Content.IsLoggedFirstTime;
            // if (response.data.Content.IsLoggedFirstTime == false) {
            //   vm.promise = AgencyService.SetIsLoggedFirstTime(
            //     response.data.Content.ID
            //   );
            //   vm.promise.then(function(response) {
            //     if (response.IsSuccess == true) {
            // $state.go("triangular.dashboard", {
            //   obj: IsLoggedFirstTime
            //   //     });
            //   //   }
            // });
            this.$Progress.finish();
             this.$toaster.success("You have logged in successfully.");
            this.$router.push("/Dashboard");
          } else {
             this.$router.push("/Dashboard");
            // $state.go("triangular.dashboard", { obj: IsLoggedFirstTime });
          }
        } else {
          this.$toaster.error("Invalid login");
          this.$Progress.fail();
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
