<template>
   <div class="wrapper">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="card">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
              <h4 class="card-title">Register Now!</h4>
              <form>
                <div class="form-group">
                  <label for="txtEmail">Organization Name <small class="text-danger">*</small></label>
                  <input type="text"  v-validate="'required'"  name="Organization" v-model="model.AgencyName" id="Organization" class="form-control">
                   <i v-show="errors.has('Organization')" class="fa fa-warning"></i>
            <span v-show="errors.has('Organization')">The organization name is required.</span>
                </div>
                <div class="form-group">
                  <label for="txtEmail">Email <small class="text-danger">*</small></label>
                  <input type="text" v-validate="'required|email'"  name="email" id="email" v-model="model.Email" class="form-control" >
                   <span v-show="errors.has('email')">{{ errors.first('email') }}</span>
                </div>
                <div class="form-group">
                  <label for="txtEmail">Password <small class="text-danger">*</small></label>
                  <input type="password" v-validate="'required'"  name="password"  id="password" v-model="model.Password" class="form-control" >
                   <span v-show="errors.has('password')">{{ errors.first('password') }}</span>
                </div>
                <div class="form-group">
                  <label for="txtEmail">Confirm Password <small class="text-danger">*</small></label>
                  <input type="password" validate="'required|confirmed:password'"  id="ConfirmPassword" name="ConfirmPassword" v-model="model.confirmpassword" class="form-control">
                    <span v-show="errors.has('ConfirmPassword')">confirm password is required.</span>
                </div>
                <a @click="submitData()" href="#" class="btn btn-primary btn-block btn-lg"><i class="icon-check" style="margin-right:8px"></i> Register!</a>
                <!-- <a  href="#" class="btn btn-primary btn-block btn-lg" :disabled="errors.any()" @click="submitData()"><i class="icon-check" style="margin-right:8px"></i> Register!</a> -->
              </form>
              <h5 style="margin-top:50px;margin-bottom:20px;">Already have an account?</h5>
              <a href="/Login" class="btn btn-success btn-block btn-lg"><i class="icon-login" style="margin-right:8px"></i> Sign In Now!</a>              
            </div>
          </div>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
</template>

<script>
// import {
//   myMixin
// } from '../core/myMixin';

export default {
  name: "Registration",
  // mixins: [myMixin],
  data() {
    return {
      model: {
        AgencyName: "",
        Email: "",
        Password: "",
        confirmpassword: "",
        IsExistingAccount: false,
        TimeZone: "Eastern Standard Time",
        PricingPlanId: JSON.parse(localStorage.getItem("PricePlan")).ID,
        TotalRequireEnrollParticipants: JSON.parse(
          localStorage.getItem("PricePlan")
        ).MaxNumberOfParticipants,
        TotalTimeClockUsers: JSON.parse(localStorage.getItem("PricePlan"))
          .TimeClockUsers
      },
      roleModel: { RoleName: "Agency" }
    };
  },
  methods: {
    submitData: function() {
      this.$Progress.start();
      this.$store
        .dispatch("REGISTRATION", { model: this.model })
        .then(response => {
          if (response.IsSuccess) {
            this.$Progress.finish();
            this.$toaster.success(response.ReturnMessage[0]);
            this.$router.push("/Login");
          } else {
            this.$toaster.success(response.ReturnMessage[0]);
            this.$Progress.fail();
          }
        });
    }
  }
};
</script>

