<md-dialog class="mobile-fullwidth-dialog" flex="70" flex-xs="100">
	<md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.scheduleEvent.selectedColor.textColor }">
		<div class="md-toolbar-tools">
			<h2>
				<span translate>{{::vm.dialogData.title}}</span>
				<span ng-show="vm.scheduleEvent.title"> - {{vm.scheduleEvent.title}}</span>
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
				<md-icon md-font-icon="zmdi zmdi-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-divider></md-divider>
	<md-dialog-content class="md-dialog-content">
		<form class="event-dialog-form" name="eventForm">
			<md-input-container class="md-block">
				<label>Title</label>
				<input ng-model="vm.scheduleEvent.title" required>
			</md-input-container>
			<div layout="row">
				<md-input-container flex class="md-block mrgR-10">
					<label>Class</label>
					<md-select flex placeholder="select class" name="classes" id="classes" ng-model="vm.scheduleEvent.class" required>
						<md-option ng-repeat="option in vm.dialogData.classes" value="{{option.ID}}">{{option.ClassName}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container flex class="md-block mrgR-10">
					<label hide-xs translate>Schedule Start Date</label>
					<md-datepicker ng-model="vm.start" md-placeholder="Start Date"></md-datepicker>
				</md-input-container>
				<md-input-container flex class="md-block mrgR-10">
					<label hide-xs translate>Schedule End Date</label>
					<md-datepicker ng-model="vm.enddate" md-placeholder="End Date"></md-datepicker>
				</md-input-container>
			</div>
			<div class="event-dialog-input-row" layout="row" layout-align="start center" flex>
				<h3 flex>Monday Hours</h3>
				<md-input-container flex class="md-block mrgR-10">
					<label>IN Time</label>
					<input type="time" placeholder="Format : 14:00:00" ng-model="vm.scheduleEvent.starttimeMonday" name="endtimeMonday" id="endtimeMonday">
				</md-input-container>
				<md-input-container flex class="md-block mrgR-10">
					<label>OUT Time</label>
					<input type="time" placeholder="Format : 14:00:00" ng-model="vm.scheduleEvent.endtimeMonday" name="endtimeMonday" id="endtimeMonday">
				</md-input-container>
			</div>
			<div class="event-dialog-input-row" layout="row" layout-align="start center" flex>
				<h3 flex>Tuesday Hours</h3>
				<md-input-container flex class="md-block mrgR-10">
					<label>IN Time</label>
					<input type="time" placeholder="Format : 14:00:00" ng-model="vm.scheduleEvent.starttimeTuesday" name="starttimeTuesday" id="starttimeTuesday">
				</md-input-container>
				<md-input-container flex class="md-block mrgR-10">
					<label>OUT Time</label>
					<input type="time" placeholder="Format : 14:00:00" ng-model="vm.scheduleEvent.endtimeTuesday" name="starttimeTuesday" id="starttimeTuesday">
				</md-input-container>
			</div>
			<div class="event-dialog-input-row" layout="row" layout-align="start center" flex>
				<h3 flex>Wednesday Hours</h3>
				<md-input-container flex class="md-block mrgR-10">
					<label>IN Time</label>
					<input type="time" placeholder="Format : 14:00:00" ng-model="vm.scheduleEvent.starttimeWednesday" name="starttimeWednesday" id="starttimeWednesday">
				</md-input-container>
				<md-input-container flex class="md-block mrgR-10">
					<label>OUT Time</label>
					<input type="time" placeholder="Format : 14:00:00" ng-model="vm.scheduleEvent.endtimeWednesday" name="starttimeWednesday" id="starttimeWednesday">
				</md-input-container>
			</div>
			<div class="event-dialog-input-row" layout="row" layout-align="start center" flex>
				<h3 flex>Thursday Hours</h3>
				<md-input-container flex class="md-block mrgR-10">
					<label>IN Time</label>
					<input type="time" placeholder="Format : 14:00:00" ng-model="vm.scheduleEvent.starttimeThursday" name="starttimeThursday" id="starttimeThursday">
				</md-input-container>
				<md-input-container flex class="md-block mrgR-10">
					<label>OUT Time</label>
					<input type="time" placeholder="Format : 14:00:00" ng-model="vm.scheduleEvent.endtimeThursday" name="starttimeThursday" id="starttimeThursday">
				</md-input-container>
			</div>
			<div class="event-dialog-input-row" layout="row" layout-align="start center" flex>
				<h3 flex>Friday Hours</h3>
				<md-input-container flex class="md-block mrgR-10">
					<label>IN Time</label>
					<input type="time" placeholder="Format : 14:00:00" ng-model="vm.scheduleEvent.starttimeFriday" name="starttimeFriday" id="starttimeFriday">
				</md-input-container>
				<md-input-container flex class="md-block mrgR-10">
					<label>OUT Time</label>
					<input type="time" placeholder="Format : 14:00:00" ng-model="vm.scheduleEvent.endtimeFriday" name="starttimeFriday" id="starttimeFriday">
				</md-input-container>
			</div>
		</form>
	</md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button class="md-warn md-raised" ng-click="vm.deleteClick()" ng-show="vm.edit">Delete</md-button>
		<span flex></span>
		<md-button class="md-warn md-raised" ng-click="vm.cancelClick()">Cancel</md-button>
		<md-button ng-click="vm.okClick()" class="md-primary md-raised" ng-disabled="eventForm.$invalid">{{::vm.dialogData.confirmButtonText}}</md-button>
	</md-dialog-actions>
</md-dialog>