<div class="example-code md-whiteframe-z1 margin-bottom-10">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Enroll Details <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Enrolls' : 'Enroll'}} selected )</span></h2>
			<span flex></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padded-content-page">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content>
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="classname">Class</label>
								<input type="text" label="classname" name="classname" id="classname" ng-model="query.classId" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
							</md-input-container>
						</div>			
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetStaffList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>

		<div class="margin-top-20">
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" md-row-select multiple ng-model="selected"
					md-progress="vm.promise">
					<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetStaffList">
						<tr md-row>
							<th md-column><span>#</span></th>
							<!--<th md-column md-order-by="ScheduleName"><span>{{vm.columns.ScheduleName}}</span></th>-->
							<th md-column md-order-by="ClassName"><span>{{vm.columns.ClassName}}</span></th>
							<th md-column md-order-by="Startdate"><span>{{vm.columns.StartDate}}</span></th>
							<!--<th md-column md-order-by="Email"><span>{{vm.columns.Email}}</span></th>
							<th md-column md-order-by="Gender"><span>{{vm.columns.Gender}}</span></th>
							<th md-column md-order-by="DateOfJoining"><span>{{vm.columns.DateOfJoining}}</span></th>
							<th md-column md-order-by="Position"><span>{{vm.columns.Position}}</span></th>
							<th md-column><span>{{vm.columns.Status}}</span></th>-->
							<th md-column><span>ACTION</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="schedule" md-select-id="schedule.ID" ng-repeat="schedule in vm.scheduleList">
							<td md-cell>{{ $index + 1 }}</td>
							<!--<td md-cell>{{staff.ScheduleName}}</td>-->
							<td md-cell>{{schedule.ClassName}}</td>
							<td md-cell>{{schedule.StartDate | date:'dd-MM-yyyy'}}</td>
							<!--<td md-cell>{{staff.Email}}</td>
							<td md-cell>{{staff.GenderName}}</td>
							<td md-cell>{{staff.DateOfJoiningString}}</td>
							<td md-cell>{{staff.PositionName}}</td>
							<td md-cell>{{staff.StatusName}}</td>-->
							<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.editSchedule($event,staff)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
								</a> &nbsp;
								<a class="md-primary" ng-click="vm.showDeleteScheduleConfirmDialoue($event,schedule.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.scheduleCount}}"
				md-on-paginate="vm.GetScheduleListByScheduleId" md-page-select></md-table-pagination>
		</div>
		<md-button ng-click="vm.showAddScheduleDialogue($event)"  class="md-fab md-accent md-fab-bottom-right md-hue-3" aria-label="Add Schedule">
			<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
			<md-tooltip>Enroll Participant</md-tooltip>
		</md-button>
	</div>
</div>