<div flex layout="row">


    <md-content flex="100" flex-gt-xs="50" flex-gt-lg="40" ng-show="vm.showEmailList">
        
        <md-list class="inbox-list">
            <div ng-repeat="group in vm.emailGroups">
                <md-subheader class="md-primary" ng-show="group.emails.length > 0">{{::group.name}}</md-subheader>
                
                
                <md-list-item class="inbox-list__email inbox-list__email--animated md-3-line md-long-text" ng-repeat="email in group.emails | orderBy:'-mailDate'" ng-click="vm.openMail(email)" ng-class="{ 'inbox-list__email--active': vm.selectedMail === email.id, 'inbox-list__email--unread': email.unread }">
                    <img class="md-avatar" ng-src="{{::email.from.image}}" alt="{{::email.from.name}}">
                    <div class="md-list-item-text" layout="column">
                        <h3><span class="md-caption" am-time-ago="email.mailDate"></span>{{::email.from.name}}</h3>
                        <h4>{{::email.subject}}</h4>
                        <p>{{::email.content | cut:true:80:' ...'}}</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </div>
        </md-list>
    </md-content>
    <div class="md-whiteframe-z1 animate-wrapper" layout="column" layout-align="start center" flex>
        <div flex id="ui-admin-email" ui-view layout="column" layout-align="start center" class="overflow-auto full-width">
            <div flex class="inbox-no-email-selected" layout="column" layout-align="center">
                <h2 hide-xs translate>No email selected</h2>
            </div>
        </div>
    </div>
</div>
<md-button ng-click="vm.composeClick($event)" class="md-fab md-accent md-fab-bottom-right" aria-label="{{'EMAIL.COMPOSE_EMAIL' | triTranslate}}">
    <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
</md-button>



