<style>
    /*.calendar-page .fc-view .fc-day-header {
        height: 48px;
        vertical-align: middle;
        font-size: 16px;
    }
    
    .fc table {
        font-size: 1.1em;
    }*/
    


.calendar-background-month-0 {
    background-image: none; }

.calendar-background-month-1 {
    background-image: none;}

.calendar-background-month-2 {
   background-image: none; }

.calendar-background-month-3 {
    background-image: none; }

.calendar-background-month-4 {
    background-image: none; }

.calendar-background-month-5 {
    background-image: none;}

.calendar-background-month-6 {
    background-image: none; }

.calendar-background-month-7 {
   background-image: none; }

.calendar-background-month-8 {
   background-image: none; }

.calendar-background-month-9 {
    background-image: none;}

.calendar-background-month-10 {
  background-image: none; }

.calendar-background-month-11 {
    background-image: none;}
  
</style>
<div style="background-color: #eee;" class="calendar-page" flex="noshrink">
    <h2 style="color: #666;" class="font-weight-300 font-size-5 text-light margin-top-60 margin-bottom-30" flex ng-hide="vm.currentView == 'agendaWeek'">
        {{vm.currentDay | amDateFormat:vm.viewFormats[vm.currentView]}}
    </h2>
    <h2 style="color: #666;" class="font-weight-300 font-size-5 text-light margin-top-60 margin-bottom-30" flex ng-show="vm.currentView == 'agendaWeek'">
        Week {{vm.currentDay | amDateFormat:vm.viewFormats[vm.currentView]}} - {{vm.currentDay | amDateFormat:'YYYY'}}
    </h2>
    <div class="margin-bottom-60" flex ui-calendar="vm.calendarOptions" ng-model="vm.eventSources" calendar="triangular-calendar"
        class="triangular-calendar"></div>
</div>