<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
  <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
    <div class="md-toolbar-tools">
      <h2>{{DisplayText}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
        <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
  <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
  <md-divider></md-divider>
  <md-dialog-content class="md-dialog-content">
    <form name="parentForm">
      <div class="full-image-background mb-bg-01 padding-5 overlay-gradient-30" layout="row" layout-align="center start">
        <div class="margin-right-20">
          <img ng-src="{{vm.ImageUrlPath}}{{vm.ParentFormsObj.ImagePath}}" alt="girl-avatar" err-src="assets/images/avatars/avatar-5.png"
            class="make-round" width="100" height="100" />
        </div>
        <div class="text-light  margin-top-30">
          <md-button class="md-primary md-raised md-fab" ngf-select="vm.uploadImage($files)" ng-disabled="vm.status != 'idle'" ngf-multiple="true"
            accept="image/*" aria-label="upload">
            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
            <div ng-messages="parentForm.UploadFile.$error" ng-model="vm.ParentFormsObj.ImagePath" md-auto-hide="false" ng-show="parentForm.UploadFile.$touched">
              <div ng-message when="required"><span>Please select Image.</span></div>
            </div>
        </div>
      </div>
      <div layout="row" layout-xs="column">
        <md-input-container flex class="mrgR-10">
          <label for="Family Name">Family Name</label>
          <input name="FamilyName" ng-model="vm.ParentFormsObj.FamilyName" ng-pattern="/^[a-zA-Z\s]*$/" ng-disabled="true" required>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label translate>Relation Type</label>
          <md-select name="Type" ng-model="vm.ParentFormsObj.RelationTypeId" ng-change="vm.selectedRelation(vm.ParentFormsObj.RelationTypeId,vm.ParentFormsObj.ID)"
            required>
            <md-option value="{{RelationType.ID}}" ng-repeat="RelationType in vm.AllRelationType">{{ RelationType.Name }}</md-option>
          </md-select>
          <div ng-messages="parentForm.Type.$error" md-auto-hide="false" ng-show="parentForm.Type.$touched">
            <div ng-message when="required"> <span translate>Please choose Relation Type.</span> </div>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column">

        <md-input-container flex class="mrgR-10">
          <label translate>First Name</label>
          <input name="FirstName" ng-model="vm.ParentFormsObj.FirstName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100"
            ng-minlength="2" required>
          <div ng-messages="parentForm.FirstName.$error" md-auto-hide="false" ng-show="parentForm.FirstName.$touched" >
            <div ng-message when="required"> <span translate>Firstname is required</span> </div>
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label for="Last Name">Last Name</label>
          <input name="LastName" required ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.ParentFormsObj.LastName" ng-maxlength="100"
            ng-minlength="2">
          <div ng-messages="parentForm.LastName.$error" md-auto-hide="false" ng-show="parentForm.LastName.$touched" >
            <div ng-message when="required"> <span translate>Last name is required</span> </div>
            <div ng-message when="pattern"><span>Only text is allowed.</span></div>
            <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
            <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
          </div>
        </md-input-container>
      </div>
      <div layout layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label translate>Email</label>
          <input type="email" id="email" name="email" ng-model="vm.ParentFormsObj.EmailId" required>
          <div ng-messages="parentForm.email.$error" md-auto-hide="false" ng-show="parentForm.email.$touched">
            <div ng-message when="pattern"> <span translate>Please enter a valid email.</span> </div>
            <div ng-message when="required"><span>Email is required.</span></div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label translate>Home Phone</label>
          <input name="homephonenumber" ng-model="vm.ParentFormsObj.HomePhone" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____"
            min="0" required>
          <div ng-messages="parentForm.homephonenumber.$error" md-auto-hide="false" ng-show="parentForm.homephonenumber.$touched">
            <div ng-message when="required"> <span translate>Home Phone number required.</span> </div>
            <div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
          </div>
        </md-input-container>

      </div>
      <div layout layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label translate>Mobile Phone Carrier</label>
          <md-select name="ProviderId" required ng-model="vm.ParentFormsObj.SMSCarrierId">
            <md-option value="{{Carrier.ID}}" ng-repeat="Carrier in vm.AllSMSCarrier">{{ Carrier.Carrier }}</md-option>
          </md-select>
          <div ng-messages="parentForm.ProviderId.$error" md-auto-hide="false" ng-show="parentForm.ProviderId.$touched">
            <div ng-message when="required"> <span translate>Please choose Mobile Phone Carrier.</span> </div>
          </div>
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label translate>Mobile</label>
          <input name="phonenumber" ng-model="vm.ParentFormsObj.Mobile" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____"
            min="0" required>
          <div ng-messages="parentForm.phonenumber.$error" md-auto-hide="false" ng-show="parentForm.phonenumber.$touched">
            <div ng-message when="required"> <span translate>Mobile number required.</span> </div>
            <div ng-message when="pattern"><span>Please enter valid mobile number.</span></div>
          </div>
        </md-input-container>

      </div>
       <div layout layout-xs="column" flex>
        <md-input-container flex class="mrgR-10">
          <label for="SecurityQuestion" translate>Add a Security question</label>
          <md-select name="SecurityQuestion" id="SecurityQuestion" required ng-model="vm.ParentFormsObj.SecurityQuestionId">
            <md-option value="{{Question.ID}}" ng-repeat="Question in vm.AllQuestions">{{ Question.SecurityQuestion }}</md-option>
          </md-select>
          <div ng-messages="parentForm.SecurityQuestion.$error" md-auto-hide="false" ng-show="parentForm.SecurityQuestion.$touched">
            <div ng-message when="required"> <span translate>Security Question is needed.</span> </div>
          </div>

        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label translate>Your Answer</label>
          <input name="Answer" type="text" ng-model="vm.ParentFormsObj.SecurityQuestionAnswer" required>
          <div ng-messages="parentForm.Answer.$error" md-auto-hide="false" ng-show="parentForm.Answer.$touched">
            <div ng-message when="required"> <span translate>Please fill the answer for security question.</span> </div>
          </div>
        </md-input-container>
      </div>
      <div layout layout-xs="column" flex>
        <div flex="30%">
          <md-input-container flex class="mrgL-10">
            <md-checkbox class="md-primary" value="1" ng-model="vm.ParentFormsObj.IsPrimary" ng-disabled="true" ng-show="vm.ParentFormsObj.IsPrimary==true"
              ng-change="vm.CheckPrimary(vm.ParentFormsObj)" aria-label="Primary Checkbox">
              Is Primary
            </md-checkbox>
          </md-input-container>
        </div>
      </div>
      <div class="button-toolbar" layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-show="vm.id == 0" ng-click="vm.addParent(parentForm,vm.ParentFormsObj)" ng-disabled="parentForm.$invalid">Add</md-button>
        <md-button class="md-primary md-raised" ng-show="vm.id > 0" ng-click="vm.updateParent(parentForm,vm.ParentFormsObj)" ng-disabled="parentForm.$invalid">Update</md-button>
        <md-button class="md-warn md-raised" ng-click="vm.cancelClick()">Cancel</md-button>
        <!--<md-button>Cancel</md-button>-->
      </div>
      <!--</div>-->
      <!--<div layout="row" layout-xs="column" layout-align="start center" flex>
               
                  <span flex></span>
                  <div layout="row" layout-xs="column" layout-align="end center"> Add Participant Information
                    <md-button class="md-fab md-accent" aria-label="fab button" ng-click="vm.AddParentForm($index)">
                      <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                    </md-button>
                  </div>
                </div>-->

      <div layout="row" layout-align="start center"> </div>
    </form>
  </md-dialog-content>
</md-dialog>