<h3 class="margin-top-0">Availability</h3>
<p>Enter the staff's general availablity here. The staff's availability will be displayed on <a href="#">schedule calendar</a></p>
<form name="Availability" novalidate>
 <div layout="row" layout-xs="column" layout-md="row" class="margin-top-30">
    
    <div layout="row" layout-xs="column" layout-sm="column" layout-md="column" flex>
      <md-input-container flex>
        <label for="Fromdate">Date</label>
        <md-datepicker id="Fromdate" ng-model="agecutoff" name="Fromdate" md-placeholder="Enter date" required></md-datepicker>
        <div ng-messages="Availability.Fromdate.$error" md-auto-hide="false" ng-show="Availability.Fromdate.$touched">
          <div ng-message when="required"><span>Please enter date.</span></div>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-xs="column" layout-md="column" layout-sm="column" flex>
     <md-input-container flex class="mrgR-class">
      <label for="Status">Availability Status</label>
      <md-select placeholder="Status" name="Status" id="Status" ng-model="vm.Availability.Status" required>
        <md-option value="1">Available</md-option>
        <md-option value="2">Part-Time Available</md-option>
        <md-option value="3">Not Available</md-option>
      </md-select>
      <div ng-messages="Availability.Status.$error" md-auto-hide="false" ng-show="Availability.Status.$touched">
        <div ng-message when="required"><span>Please choose status.</span></div>
      </div>
    </md-input-container>
    </div>
  </div>

	 <div layout="row" layout-xs="column" layout-md="row" >
    
    <div layout="row" layout-xs="column" layout-sm="column" layout-md="column" flex>
      <md-input-container flex class="mrgR-class">
        <label for="From">From Time</label>
       <input type="text" label="From" name="From" id="From" ng-model="vm.staff.From" required>
              <div ng-messages="Availability.From.$error" md-auto-hide="false" ng-show="Availability.From.$touched">
                <div ng-message when="required"><span>Please enter time.</span></div>
              </div>
      </md-input-container>
       <md-input-container flex class="mrgR-class ">
        <label for="To">To Time</label>
       <input type="text" label="To" name="To" id="To" ng-model="vm.staff.To" required>
      <div ng-messages="Availability.To.$error" md-auto-hide="false" ng-show="Availability.To.$touched">
        <div ng-message when="required"><span>Please enter time.</span></div>
      </div>
      </md-input-container>
    </div>
    <div layout="row" layout-xs="column" layout-md="column" layout-sm="column" flex>
     <md-input-container flex class="mrgR-class">
        <label>Notes</label>
       <textarea></textarea>
      </md-input-container>
    </div>
  </div>
  <div layout="row" layout-xs="column" layout-md="row" layout-align="end center">
    <md-card-actions>
      <md-button class="md-primary md-raised">Save</md-button>
    </md-card-actions>
  </div>

</form>
    

