<h3 class="margin-top-0">Leaves</h3>
  <md-table-container class="lesson-table" >
    <table md-table class="md-primary md-data-table table-bordered table-striped" ng-model="vm.selected" md-progress="vm.promise">
      <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
        <tr md-row>
          <th md-column>NAME</th>
          <th md-column>PHONE</th>
          <th md-column>EMAIL</th>
          <th md-column>LEAVE DATE</th>
          <th md-column>Position</th>
          <th md-column>STATUS</th>
          <th md-column class="text-center">ACTION</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row >
          <td md-cell><a ng-click="vm.leaves_detail()">Daniel Ross</a></td>
          <td md-cell>8909878909</td>
          <td md-cell>dan@abc.com</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>Admin</td>
          <td md-cell>Pending</td>
          <td md-cell class="text-center"> 
          	<div layout-xs="row">
            	<md-button class="md-primary" ng-click="vm.editlessonplanitem($event)">
                Cancel
              </md-button>
            	<md-button class="md-primary">
                Approve
              </md-button>
              </div>
              	</td>
        </tr>
         <tr md-row >
          <td md-cell>Daniel Ross</td>
          <td md-cell>8909878909</td>
          <td md-cell>dan@abc.com</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>Admin</td>
          <td md-cell>Pending</td>
          <td md-cell class="text-center"> 
            	<strong class="fontsize16 colorgreen">Approved</strong>
              	</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>


           
      

