﻿

<div class="example-code md-whiteframe-z1 margin-bottom-70">
      <md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Parent List<span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Enrolls' : 'Enroll'}} selected )</span></h2>
			<span flex></span>
            <h3>Search</h3>
			<md-button ng-click="vm.toggleRight4()" ng-hide="vm.isOpenRight4()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
                <md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
    
        <div class="padded-content-page">
            <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right4">
      	<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
      <div class="padded-content-page">
    	<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name"> Parent Name</label>
                <input type="text" label="ParentName"  ng-maxlength="50" name="ParentName" id="ParentName" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.query.ParentName">
							</md-input-container>
						</div>
					
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetParentListByFamily()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset4()">Reset</md-button>
								<md-button ng-click="vm.close4()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
      </md-sidenav>
        
 </div>
 <div class="margin-left-10">
			<p>
				<h3>Parent Name : {{ParentName}} </h3>
			</p>
		</div>
<div class="margin-top-0 margin-left-10 margin-right-10">
    
			<!--<div ng-if="vm.NoData==false" class="margin-top-20">-->
    <md-table-container>
        <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped"  ng-model="selected"
            md-progress="vm.promise">
            <thead md-head md-order="query.order" md-on-reorder="vm.GetParentListByFamily">
                <tr md-row>
                    <!--<th md-column><span>#</span></th>-->
                      <th md-column md-order-by="ProfilePic"><span>{{vm.columns.ProfilePic}}</span></th>
                    <th md-column md-order-by="Name"><span>{{vm.columns.ParentName}}</span></th>
                    <th md-column md-order-by="EmailId"><span>{{vm.columns.EmailId}}</span></th>
                    <th md-column md-order-by="MobileCategoryName"><span>{{vm.columns.Mobile}}</span></th>
                    <th md-column md-order-by="RelationName"><span>{{vm.columns.RelationName}}</span></th>
                    <th md-column ng-if="vm.FamilyId==0"><span>&nbsp;ACTION&nbsp;</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-auto-select md-select="parent" @*md-select-id="parent.ID" *@ ng-repeat="parent in vm.ParentList">
                    <!--<td md-cell>{{ $index + 1 }}</td>-->
                    <!--<td md-cell><a style="cursor:pointer" ng-click="vm.detailClassInfo($event,class)">{{parent.FirstName}} {{parent.LastName}}</a></td>-->
                    <td md-cell><img ng-src="{{vm.ImageUrlPath}}{{parent.ImagePath}}" err-src="assets/images/avatars/avatar-5.png"/></td>
                    <td md-cell>{{parent.FirstName}} {{parent.LastName}}</td>
                    <td md-cell>{{parent.EmailId}}</td>
                    <td md-cell>{{parent.Mobile}}</td>
                    <td md-cell>{{parent.RelationName}}</td>
                    <td md-cell style="min-width:60px" ng-if="vm.FamilyId==0">

                        <a class="md-primary" ng-click="vm.showEditParentDialogue(parent)" style="cursor:pointer">
                            <md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
                              <md-tooltip>Edit</md-tooltip>
                        </a> &nbsp;
                        <a class="md-primary" ng-click="vm.showDeleteParentConfirmDialoue($event,parent)" style="cursor:pointer">
                            <md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
                            </md-icon>
                              <md-tooltip>Delete</md-tooltip>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <div ng-if="vm.NoData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Parent list found.</h2>
                </md-input-container>
            </div>
    
   
        <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100,200,500,1000,2000,5000]" md-limit="vm.query.limit" md-page="vm.query.page"
            md-total="{{vm.ParentCount}}" md-on-paginate="vm.GetParentListByFamily" md-page-select></md-table-pagination>
    
<!--</div>-->
<md-button ng-click="vm.showAddParentDialogue()" ng-if="vm.FamilyId==0" class="md-fab md-accent md-fab-bottom-right md-hue-3 addp-plus" aria-label="Add Parent">
    <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
    <md-tooltip>Add Parent</md-tooltip>
</md-button>
</div>