<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>
<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbarForDisplay"></md-progress-linear>
<h3 class="margin-top-0">Profile</h3>
<div class="example-code md-whiteframe-z1 margin-bottom-20">
    <div>
        <div class="profiletab margin-top-10" tri-wizard>
            <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
            <md-content class="md-padding">
                <div layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row" layout-gt-md="row" layout-gt-lg="row" layout-align="start left">
                    <div layout="column" layout-xs="row" flex-gt-xs="100" flex-gt-sm="15" flex-gt-md="15" flex-gt-lg="15">
                        <div class="margin-right-12 mobile-text-center" style="text-align: center;">
                            <img ng-src="{{vm.ImageUrlPath}}{{vm.FamilyRegister.ParentInfo.ImagePath}}" err-src="assets/images/avatars/avatar-5.png"
                                class="make-round" height="100" width="100" />

                        </div>
                        <div class="margin-right-12 text-light margin-top: 7px;  " style="text-align: center;">
                            <md-button class="md-primary md-raised md-fab" ngf-select="vm.uploadImage($files)" ngf-multiple="true" ng-disabled="vm.status != 'idle'"
                                accept="image/*" aria-label="upload">
                                <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
                                <div ng-messages="parentForm.UploadFile.$error" ng-model="vm.ParentFormsObj.ImagePath" md-auto-hide="false" ng-show="parentForm.UploadFile.$touched">
                                    <div ng-message when="required"><span>Please select Image.</span></div>
                                </div>
                        </div>
                    </div>

                    <div layout="column" layout-xs="row" layout-gt-md="column" flex-gt-xs="100">
                        <form name="parentForm">
                            <div layout="row" layout-xs="column">
                                <md-input-container flex class="mrgR-10 mrgL-10">
                                    <label for="Family Name">Family Name</label>
                                    <input name="FamilyName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100" ng-minlength="2" ng-model=" vm.FamilyRegister.FamilyName"
                                        required>
                                    <div ng-messages="parentForm.FamilyName.$error" md-auto-hide="false" ng-show="parentForm.FamilyName.$touched">
                                        <div ng-message when="required"> <span translate>Family name is required</span> </div>
                                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                                         <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex class="mrgL-10">
                                    <label for="SecurityKey">Pin Number</label>
                                    <input type="number" min="0" ng-pattern="/^[0-9]*$/" name="SecurityKey" ng-model=" vm.FamilyRegister.SecurityKey" ng-maxlength="50"
                                        ng-minlength="2" maxlength="50" required>
                                    <div ng-messages="parentForm.SecurityKey.$error" md-auto-hide="false" ng-show="parentForm.SecurityKey.$touched">
                                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                                        <div ng-message when="required"> <span translate>Pin Number is required</span> </div>
                                    </div>
                                </md-input-container>
                            </div>                            
                            <div layout="row" layout-xs="column">
                                <md-input-container flex class="mrgR-10 mrgL-10">
                                    <label translate>First Name</label>
                                    <input name="FirstName" ng-model="vm.FamilyRegister.ParentInfo.FirstName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100"
                                        ng-minlength="2" allow-pattern="([a-zA-Z\@\.\_\ ])" required>
                                    <div ng-messages="parentForm.FirstName.$error" md-auto-hide="false" ng-show="parentForm.FirstName.$touched">
                                        <div ng-message when="required"> <span translate>First name is required</span> </div>
                                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                    </div>

                                </md-input-container>
                                <md-input-container flex class="mrgL-10">
                                    <label for="Last Name">Last Name</label>
                                    <input name="LastName" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.FamilyRegister.ParentInfo.LastName" ng-maxlength="100" ng-minlength="2"
                                        required>
                                    <div ng-messages="parentForm.LastName.$error" md-auto-hide="false" ng-show="parentForm.LastName.$touched">
                                        <div ng-message when="required"> <span translate>Last name is required</span> </div>
                                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex class="mrgR-10 mrgL-10">
                                    <label translate>Phone Number</label>
                                    <input name="phonenumber" ng-model="vm.FamilyRegister.ParentInfo.Mobile" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____"
                                        min="0" required>
                                    <div ng-messages="parentForm.phonenumber.$error" md-auto-hide="false" ng-show="parentForm.phonenumber.$touched">
                                        <div ng-message when="required"> <span translate>Phone number required.</span> </div>
                                        <div ng-message when="pattern"><span>Please enter valid phone number.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex class="mrgL-10">
                                    <label translate>Email</label>
                                    <input type="email" id="email" name="email" ng-model="vm.FamilyRegister.ParentInfo.EmailId" ng-pattern="emailFormat" pattern=".{6,100}"
                                        allow-pattern="(\d|[a-z\@\.\_])" required>
                                    <div ng-messages="parentForm.email.$error" md-auto-hide="false" ng-show="parentForm.email.$touched">
                                        <div ng-message when="pattern"> <span translate>Please enter a valid email.</span> </div>
                                        <div ng-message when="required"><span>Email is required.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex class="mrgL-10">
                                    <label translate>Relationship type</label>
                                    <md-select name="Type" ng-model="vm.FamilyRegister.ParentInfo.RelationTypeId">
                                        <md-option value="{{RelationType.ID}}" ng-repeat="RelationType in vm.AllRelationType">{{ RelationType.Name }}</md-option>
                                    </md-select>
                                    <div ng-messages="parentForm.RelationTypeId.$error" md-auto-hide="false" ng-show="parentForm.RelationTypeId.$touched">
                                        <div ng-message when="required"> <span translate>Please choose Relationship type.</span> </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-xs="column" flex class="mrgL-10">
                                <h3 translate><strong>Notification Mails</strong></h3>
                            </div>
                            <div layout="row" layout-xs="column" flex>
                                <div flex="30%" class="mrgL-10">
                                    <div flex="50%">
                                        <md-checkbox class="md-primary" name="IsEventMailReceived" id="IsEventMailReceived" ng-model="vm.FamilyRegister.ParentInfo.IsEventMailReceived"
                                            aria-label="Primary Checkbox">
                                            Events
                                        </md-checkbox>
                                    </div>
                                    <div flex="50%">
                                        <md-checkbox class="md-primary" name="IsParticipantAttendanceMailReceived" id="IsParticipantAttendanceMailReceived" ng-model="vm.FamilyRegister.ParentInfo.IsParticipantAttendanceMailReceived"
                                            aria-label="Primary Checkbox">
                                            Attendance
                                        </md-checkbox>
                                    </div>
                                </div>
                            </div>

                            <div class="button-toolbar" layout="row" layout-align="end center">
                                <md-button class="md-primary md-raised" ng-click="vm.updateParent(parentForm,vm.FamilyRegister.ParentInfo)" ng-disabled="parentForm.$invalid">Update</md-button>
                            </div>
                            <div layout="row" layout-align="start center"> </div>
                        </form>
                    </div>
                </div>
        </div>

    </div>

</div>
<div class="margin-top-20">
    <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbarForContact"></md-progress-linear>
    <div layout="row" layout-xs="column" class="profiletab">
        <tri-widget flex flex-xs="100" class="margin-bottom-10" title="Contact Information">
            <md-divider></md-divider>
            <form name="contactForm">
                <md-list class="padding-top-10 padding-bottom-10">
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <div layout="row" layout-xs="column" flex>
                                <md-input-container flex class="mrgR-10">
                                    <label translate>Home Address</label>
                                    <input type="text" name="Address" ng-model="vm.FamilyRegister.ContactInfo.Address" ng-maxlength="100" ng-minlength="2" required>
                                    <div ng-messages="contactForm.Address.$error" md-auto-hide="false" ng-show="contactForm.Address.$touched">
                                        <div ng-message when="required"><span>Home Address is required.</span></div>
                                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div layout="row" layout-xs="column" flex class="mrgR-11">
                            <md-input-container flex>
                                <label translate>City</label>
                                <input name="City" ng-model="vm.FamilyRegister.ContactInfo.CityName" id="City" required ng-pattern="/^(?:[a-zA-Z]+(?:[.'\-,])?\s?)+$/"
                                    ng-maxlength="100" ng-minlength="2">
                                <div ng-messages="contactForm.City.$error" md-auto-hide="false" ng-show="contactForm.City.$touched">
                                    <div ng-message when="required"> <span translate>City is required.</span> </div>
                                    <div ng-message when="pattern"><span>Invalid city name.</span></div>
                                    <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                                    <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                </div>

                            </md-input-container>
                            <md-input-container flex class="mrgL-10">
                                <label translate>State/Prov</label>
                                <md-select ng-change="triWizard.updateProgress()" name="State" ng-model="vm.FamilyRegister.ContactInfo.StateId" ng-disabled="!vm.FamilyRegister.ContactInfo.CountryId"
                                    required>
                                    <md-option value="{{state.ID}}" ng-repeat="state in vm.States">{{ state.StateName }}</md-option>
                                </md-select>
                                <div ng-messages="contactForm.State.$error" md-auto-hide="false" ng-show="contactForm.State.$touched">
                                    <div ng-message when="required"> <span translate>Please choose state.</span> </div>
                                </div>

                            </md-input-container>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div layout="row" layout-xs="column" flex>
                            <md-input-container flex class="mrgR-10">
                                <label translate>Country</label>
                                <md-select name="Country" ng-model="vm.FamilyRegister.ContactInfo.CountryId" ng-change="vm.GetState(vm.FamilyRegister.ContactInfo.CountryId)"
                                    required>
                                    <md-option value="{{country.ID}}" ng-repeat="country in vm.AllCountries">{{ country.CountryName }}</md-option>
                                </md-select>
                                <div ng-messages="contactForm.Country.$error" md-auto-hide="false" ng-show="contactForm.Country.$touched">
                                    <div ng-message when="required"> <span translate>Please choose country.</span> </div>
                                </div>

                            </md-input-container>
                            <md-input-container flex class="mrgL-10">
                                <label translate>Zip Code</label>
                                <input type="text" name="postal" ng-model="vm.FamilyRegister.ContactInfo.PostalCode" ng-maxlength="6" ng-minlength="5" required>
                                <div ng-messages="contactForm.postal.$error" md-auto-hide="false" ng-show="contactForm.postal.$touched">
                                    <div ng-message when="required"> <span translate>Zip Code is required</span> </div>
                                    <div ng-message when="maxlength"><span>Maximum length is 6.</span></div>
                                    <div ng-message when="minlength"><span>Minimum length is 5.</span></div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <div layout layout-xs="column" flex>
                                <label translate>Emergency Contact Info</label>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-xs="column" flex>
                                <md-input-container flex class="mrgR-10">
                                    <label translate>First Name</label>
                                    <input name="EmergencyFirstName" required ng-model="vm.FamilyRegister.ContactInfo.EmergencyFirstName" allow-pattern="([a-zA-Z\@\.\_\ ])"
                                        ng-maxlength="100" ng-minlength="2">
                                    <div ng-messages="contactForm.EmergencyFirstName.$error" md-auto-hide="false" ng-show="contactForm.EmergencyFirstName.$touched">
                                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                        <div ng-message when="required"><span>First name is required.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex class="mrgL-10">
                                    <label translate>Last Name</label>
                                    <input name="EmergencyLastName" required ng-model="vm.FamilyRegister.ContactInfo.EmergencyLastName" allow-pattern="([a-zA-Z\@\.\_\ ])"
                                        ng-maxlength="100" ng-minlength="2">
                                    <div ng-messages="contactForm.EmergencyLastName.$error" md-auto-hide="false" ng-show="contactForm.EmergencyLastName.$touched">
                                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                                        <div ng-message when="required"><span>Last name is required.</span></div>
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-xs="column" flex>
                                <md-input-container flex class="mrgR-10">
                                    <label translate>Relationship To Participant</label>
                                    <md-select required name="RelationshipToParticipantId" id="RelationshipToParticipantId"
                                        ng-model="vm.FamilyRegister.ContactInfo.RelationshipToParticipantId">
                                        <md-option value="{{RelationType.ID}}" ng-repeat="RelationType in vm.AllRelationType">{{ RelationType.Name }}</md-option>
                                    </md-select>
                                    <div ng-messages="contactForm.RelationshipToParticipantId.$error" md-auto-hide="false">

                                        <div ng-message when="required"><span>Relationship to participant is required.</span></div>

                                    </div>
                                </md-input-container>
                                <md-input-container flex class="mrgL-10">
                                    <label translate>Phone Number</label>
                                    <input name="phonenumber" required ng-model="vm.FamilyRegister.ContactInfo.EmergencyPhoneNumber" ui-mask="{{'(999) 999-9999'}}"
                                        placeholder="(___) ___-____">
                                    <div ng-messages="contactForm.phonenumber.$error" md-auto-hide="false" ng-show="contactForm.phonenumber.$touched">
                                        <div ng-message when="required"><span>Emergency Phone number is required.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-xs="column" flex>
                                <label translate>Health Insurance Carrier Info</label>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-xs="column" flex>
                                <md-input-container flex class="mrgR-10">
                                    <label translate>Insurance Carrier</label>
                                    <input name="InsuranceCarrier" ng-model="vm.FamilyRegister.ContactInfo.InsuranceCarrier" allow-pattern="([a-zA-Z\@\.\_\ ])"
                                        ng-maxlength="100" ng-minlength="2">
                                    <div ng-messages="contactForm.InsuranceCarrier.$error" md-auto-hide="false" ng-show="contactForm.InsuranceCarrier.$touched">
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex class="mrgL-10">
                                    <label translate>Policy Number</label>
                                    <input name="InsurancePolicyNumber" ng-model="vm.FamilyRegister.ContactInfo.InsurancePolicyNumber" ng-maxlength="100" ng-minlength="2">
                                    <div ng-messages="contactForm.InsurancePolicyNumber.$error" md-auto-hide="false" ng-show="contactForm.InsurancePolicyNumber.$touched">
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-xs="column" flex>
                                <md-input-container flex class="mrgR-10">
                                    <label translate>Preferred Hospital Name</label>
                                    <input ng-model="vm.FamilyRegister.ContactInfo.PreferredHospitalName" ng-pattern="/^[a-zA-Z\s]*$/" name="PreferredHospitalName"
                                        id="PreferredHospitalName" ng-maxlength="100">
                                    <div ng-messages="contactForm.PreferredHospitalName.$error" md-auto-hide="false" ng-show="contactForm.PreferredHospitalName.$touched">
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex class="mrgL-10">
                                    <label translate>Preferred Hospital Address</label>
                                    <textarea ng-model="vm.FamilyRegister.ContactInfo.PreferredHospitalAddress" name="PreferredHospitalAddress" id="PreferredHospitalAddress"
                                        ng-maxlength="100"></textarea>
                                    <div ng-messages="contactForm.PreferredHospitalAddress.$error" md-auto-hide="false" ng-show="contactForm.PreferredHospitalAddress.$touched">
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-xs="column" flex>
                                <md-input-container flex class="mrgR-10">
                                    <label translate>Family Doctor Name</label>
                                    <input ng-model="vm.FamilyRegister.ContactInfo.FamilyDoctorName" name="FamilyDoctorName" allow-pattern="([a-zA-Z\@\.\_\ ])"
                                        id="FamilyDoctorName" ng-maxlength="100">
                                    <div ng-messages="contactForm.FamilyDoctorName.$error" md-auto-hide="false" ng-show="contactForm.FamilyDoctorName.$touched">
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex class="mrgL-10">
                                    <label translate>Family Doctor Phone Number</label>
                                    <input name="FamilyDoctorPhoneNumber" ng-model="vm.FamilyRegister.ContactInfo.FamilyDoctorPhoneNumber" ui-mask="{{'(999) 999-9999'}}"
                                        placeholder="(___) ___-____" min="0">
                                    <div ng-messages="contactForm.FamilyDoctorPhoneNumber.$error" md-auto-hide="false" ng-show="contactForm.FamilyDoctorPhoneNumber.$touched">
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
                <div class="button-toolbar padding-right-20 margin-bottom-20" layout="row" layout-align="end center">
                    <md-button class="md-primary md-raised" ng-click="vm.updateContactDatails(contactForm,vm.FamilyRegister)" ng-disabled="contactForm.$invalid">Update</md-button>
                </div>
            </form>
        </tri-widget>
    </div>
</div>