<style>
	.view-btn{ position:absolute; right:0; top:2px; text-align:center; width:30px; height:30px; line-height:30px; display:block;}
</style>
    <form name="paymentForm">
      <div>
           <md-input-container class="md-block">
                      <label translate>Name appears on Card</label>
                      <input type="text" name="CardName" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.FamilyRegister.PaymentInfo.CardName" ng-maxlength="100">
                      <div ng-messages="paymentForm.CardName.$error" md-auto-hide="false" ng-show="paymentForm.CardName.$touched">
                      
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
                      </div>
                    </md-input-container>
        <!--<md-input-container class="md-block">
          <label translate>Name appears on Card</label>
          <input type="text" ng-pattern="/^[a-zA-Z\s]*$/" name="name" ng-model="vm.FamilyRegister.PaymentInfo.CardName" ng-maxlength="100">
          <div ng-messages="paymentForm.name.$error" md-auto-hide="false" ng-show="paymentForm.name.$touched">
            <div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
             <div ng-message when="pattern">
						<span translate>Only text is allowed.</span>
					</div>
          </div>
        </md-input-container>-->
        <div layout layout-xs="column" flex>
          <md-input-container flex class="mrgR-10">
            <label translate>Card Type</label>
            <md-select name="name" ng-model="vm.FamilyRegister.PaymentInfo.CardType" ng-change="vm.checkStatus()">
              <md-option value="1" translate>Visa</md-option>
              <md-option value="2" translate>Master Card</md-option>
              <md-option value="3" translate>American Express</md-option>
              <md-option value="4" translate>Discover</md-option>
            </md-select>
          </md-input-container>
          <!--<md-input-container flex class="mrgL-10" ng-show="vm.FamilyRegister.PaymentInfo.CardType=='American Express'">
            <label translate>Card Number</label>
            <input type="text" name="number" ng-model="vm.FamilyRegister.PaymentInfo.CardNumberAmericanExpress" ui-mask="{{'9999-9999-9999-999'}}"
              placeholder="____-____-____-___">
            <div ng-messages="paymentForm.number.$error" md-auto-hide="false" ng-show="paymentForm.number.$touched">
              
            </div>
          </md-input-container>-->
          	<md-input-container ng-if="mask== true" flex class="mrgL-10">
					<label translate ng-if="mask==true">Card Number</label>
					<input type="text" ng-if="mask == true" name="number" disabled id="text2"  ng-model="vm.FamilyRegister.PaymentInfo.CardNumberstring" 
						placeholder="{{vm.placeholder}}" required >
						<a ng-click="vm.show()" class="view-btn" ><span class="fa fa-eye" ng-if="mask == true" > </span></a>
						
					<div ng-messages="paymentForm.number.$error" ng-show="paymentForm.number.$touched" md-auto-hide="false">
						<div ng-message when="required">
							<span translate>Card number is required.</span>
						</div>
						<!--<div ng-message when="maxlength"><span>Maximum length is 16.</span></div>-->
					</div>
				</md-input-container>
				
				<md-input-container ng-if="mask==false" flex class="mrgL-10">
					<label translate ng-if="mask==false">Card Number</label>
					
						<input type="text" name="number" ng-if="mask == false" ui-mask={{vm.pattern}}  ng-model="vm.FamilyRegister.PaymentInfo.CardNumber" 
						placeholder="{{vm.placeholder}}" required >
						<a ng-click="vm.hide()" class="view-btn" ><span class="fa fa-eye" ng-if="mask == false" > </span></a>
					<div ng-messages="paymentForm.number.$error" ng-show="paymentForm.number.$touched" md-auto-hide="false">
						<div ng-message when="required">
							<span translate>Card number is required.</span>
						</div>
						<!--<div ng-message when="maxlength"><span>Maximum length is 16.</span></div>-->
					</div>
				</md-input-container>
        </div>


        <div layout layout-xs="column" flex>
          <md-input-container flex class="mrgR-10">
            <label translate>Card Expiry Month</label>
            <md-select name="month" ng-model="vm.FamilyRegister.PaymentInfo.CardExpiryMonth">
              <md-option value="1" translate>01</md-option>
              <md-option value="2" translate>02</md-option>
              <md-option value="3" translate>03</md-option>
              <md-option value="4" translate>04</md-option>
              <md-option value="5" translate>05</md-option>
              <md-option value="6" translate>06</md-option>
              <md-option value="7" translate>07</md-option>
              <md-option value="8" translate>08</md-option>
              <md-option value="9" translate>09</md-option>
              <md-option value="10" translate>10</md-option>
              <md-option value="11" translate>11</md-option>
              <md-option value="12" translate>12</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex class="mrgL-10">
            <label translate>Card Expiry Year</label>
            <md-select name="year" ng-model="vm.FamilyRegister.PaymentInfo.CardExpiryYear">
              <md-option value="{{year}}" ng-repeat="year in years" translate>{{year}}</md-option>
              
             
            </md-select>
          </md-input-container>
           <md-input-container flex class="mrgL-10">
            <label translate>CVV</label>
            <input type="password" name="CVV" ng-maxlength="{{vm.CVVmax}}" ng-minlength="{{vm.CVV}}" ng-model="vm.FamilyRegister.PaymentInfo.CVV" ui-mask="{{vm.cvvpattern}}" placeholder="{{vm.cvvplaceholder}}">
            <div ng-messages="paymentForm.CVV.$error" md-auto-hide="false" ng-show="paymentForm.CVV.$touched">
              <div ng-message when="minlength"><span>Minimum length is {{vm.CVV}}.</span></div>
              <div ng-message when="maxlength"><span>Maximum length is {{vm.CVVmax}}.</span></div>
            </div>
          </md-input-container>
        </div>
      </div>
      <div class="button-toolbar" layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="vm.updatePayment(paymentForm,vm.FamilyRegister.PaymentInfo)" ng-disabled="paymentForm.$invalid">Update</md-button>
      </div>
    </form>
