<style>
   .login-frame md-toolbar .md-headline {
    margin: 0;
    margin-left: -2px;
}
</style>

<md-card>
    <md-toolbar class="padding-20 text-center">
        <img ng-src="{{vm.ResetLogo}}" alt="{{vm.triSettings.name}}">
        <h1 class="md-headline" translate>Forgot your password?</h1>
    </md-toolbar>

    <md-content class="md-padding">
        <form name="forgot">
            <md-input-container class="md-block">
                <label for="email" translate>Email</label>
                <input id="email" label="email" name="email" type="email" ng-model="vm.user.EmailId" ng-pattern="emailFormat" 
                     required/>
                <div ng-messages="forgot.email.$error" md-auto-hide="false" ng-show="forgot.email.$touched">
                    <div ng-message when="required"><span translate>Please enter your email address.</span></div>
                    <div ng-message when="email"><span translate>Please enter a valid email address.</span></div>
                    <div ng-if="forgot.$pending.usernameExists">Checking....</div>
                    <div ng-if="forgot.$error.usernameExists">Your email address was not found.</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.forgotPassword()"
                ng-disabled="forgot.$invalid" translate="Reset" aria-label="{{'Reset' | triTranslate}}">Reset</md-button>
            <md-button class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" href="/login" translate="Remembered it? Login in here"
                aria-label="{{'Remembered it? Login in here' | triTranslate}}">Remembered it? Login in here</md-button>
        </form>
    </md-content>
</md-card>