
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Pricing Plans List <span ng-show="vm.selected.length">({{vm.selected.length}} {{vm.selected.length > 1 ? 'ParticipantPlans' : 'ParticipantPlan'}} selected )</span></h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padded-content-page">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Name</label>
								<input type="text" label="name" name="name" id="name" ng-model="vm.query.Name">
							</md-input-container>
						</div>

						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetParticipantPlanList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
		<div>
			<p>
				<h3>Pricing Plan : {{Pricinglan}} </h3>
			</p>
		</div>
		<div class="margin-top-20">

			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="vm.selected" md-progress="vm.promise">
					<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetParticipantPlanList">
						<tr md-row>
							<!--<th md-column><span>#</span></th>-->
							<th md-column md-order-by="Name"><span>{{vm.columns.Name}}</span></th>
							<th md-column md-order-by="Price"><span>{{vm.columns.Price}}</span></th>
							<!--<th md-column md-order-by="MinNumberOfParticipants"><span>{{vm.columns.MinNumberOfParticipants}}</span></th>-->
							<th md-column md-order-by="MaxNumberOfParticipants"><span>Max Number Of Participants</span></th>
							<th md-column md-order-by="TimeClockUsers"><span>Time Clock Users</span></th>
							<th md-column><span>ACTION</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="participantplan" md-select-id="participantplan.ID" ng-repeat="participantplan in vm.participantplanList">
							<!--<td md-cell>{{ $index + 1 }}</td>-->
							<td md-cell><a style="cursor:pointer" ng-click="vm.showUpdateParticipantPlanDialoue($event,participantplan)">{{participantplan.Name}}</a></td>
							<td md-cell>$ {{participantplan.Price}}</td>
							<!--<td md-cell>{{participantplan.MinNumberOfParticipants}}</td>-->
							<td md-cell>{{participantplan.MaxNumberOfParticipants}}</td>
							<td md-cell>{{participantplan.TimeClockUsers}}</td>

							<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.showUpdateParticipantPlanDialoue($event,participantplan)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
									<md-tooltip>Edit</md-tooltip>
								</a> &nbsp;
								<a class="md-primary" ng-click="vm.showDeleteParticipantPlanConfirmDialoue($event,participantplan.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
									<md-tooltip>Delete</md-tooltip>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
				<md-input-container flex class="text-center">
					<h2>No Participant Plans list found.</h2>
				</md-input-container>
			</div>
			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.participantplanCount}}"
				md-on-paginate="vm.GetParticipantPlanList" md-page-select></md-table-pagination>
			<!--</div>-->
		
		</div>
	</div>

		<md-button ng-click="vm.showAddParticipantPlanDialoue($event,participantplan)" class="md-fab addbtn-pos md-accent md-fab-bottom-right md-hue-3"
				aria-label="Add Organization">
				<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
				<md-tooltip>Add Participant Plan</md-tooltip>
			</md-button>