
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Organization List <span ng-show="vm.selected.length">({{vm.selected.length}} {{vm.selected.length > 1 ? 'Agencys' : 'Agency'}} selected )</span></h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padded-content-page">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Organization Name</label>
								<input type="text" label="name" name="name" id="name" ng-model="vm.query.AgencyName">
							</md-input-container>
						</div>

						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetAgencyList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
		<div>
			<p>	
				<h3>Organization Name : {{Organization}} </h3>
			</p>
		</div>
		<div class="margin-top-20">

			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="vm.selected" md-progress="vm.promise">
					<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetAgencyList">
						<tr md-row>
							<!--<th md-column><span>#</span></th>-->
							<th md-column md-order-by="AgencyName"><span>{{vm.columns.AgencyName}}</span></th>
							<th md-column><span>{{vm.columns.PhoneNumber}}</span></th>
							<th md-column md-order-by="Email"><span>{{vm.columns.Email}}</span></th>
							<th md-column><span>{{vm.columns.Address}}</span></th>
							<th md-column><span>ACTION</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="agency" md-select-id="agency.ID" ng-repeat="agency in vm.agencyList">
							<!--<td md-cell>{{ $index + 1 }}</td>-->
							<td md-cell><a style="cursor:pointer" ng-click="vm.editAgency($event,agency)">{{agency.AgencyName}}</a></td>
							<td md-cell>{{agency.PhoneNumber}}</td>
							<td md-cell>{{agency.Email}}</td>
							<td md-cell>{{agency.Address}}</td>

							<td md-cell style="min-width:60px; white-space:nowrap;">
								<a class="md-primary" ng-click="vm.editAgency($event,agency)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
									<md-tooltip>Edit</md-tooltip>
								</a> &nbsp;
								<a class="md-primary" ng-click="vm.showDeleteAgencyConfirmDialoue($event,agency.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
									<md-tooltip>Delete</md-tooltip>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
				<md-input-container flex class="text-center">
					<h2>No Organization list found.</h2>
				</md-input-container>
			</div>
			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.agencyCount}}"
				md-on-paginate="vm.GetAgencyList" md-page-select></md-table-pagination>
			<!--</div>-->
		</div>
	
	</div>

	<md-button ng-click="vm.GoToPricing()" class="md-fab md-accent md-fab-bottom-right addbtn-pos md-hue-3" aria-label="Add Organization">
			<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
			<md-tooltip>Add Organization</md-tooltip>
		</md-button>