﻿<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Update Participant Plan</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="updateParticipantPlan">
            <h2>Participant Plan Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-class">
                    <label for="Name">Name</label>
                    <input type="text" ng-maxlength="50" label="Name" name="Name" id="Name" ng-model="vm.participantplan.Name" required>
                    <div ng-messages="updateParticipantPlan.Name.$error" md-auto-hide="false" ng-show="updateParticipantPlan.Name.$touched">
                        <div ng-message when="required"><span>Please enter Participant Plan name.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 50.</span></div>
                    </div>
                </md-input-container>
                 <md-input-container flex class="mrgL-class">
                <md-checkbox class="md-primary" value="1" ng-model="vm.participantplan.IsTrial" aria-label="Primary Checkbox">
                    IsTrial
                </md-checkbox>
                </md-input-container>
            </div>

            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Price">Price($)</label>
                    <input type="number" ng-maxlength="5" min="0" label="Price" name="Price" id="Price" ng-model="vm.participantplan.Price" required>
                    <div ng-messages="updateParticipantPlan.Price.$error" md-auto-hide="false" ng-show="updateParticipantPlan.Price.$touched">
                        <div ng-message when="required"><span>Please enter Price.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 5.</span></div>
                        <div ng-message when="min"><span>Price should be greater than 0.</span></div>
                    </div>
                </md-input-container>

                <!--<md-input-container flex>
                    <label for="MinNumberOfParticipants">MinNumberOfParticipants</label>
                    <input type="number"  ng-maxlength="3" min="0" label="MinNumberOfParticipants" name="MinNumberOfParticipants" id="MinNumberOfParticipants" ng-model="vm.participantplan.MinNumberOfParticipants" required>
                    <div ng-messages="updateParticipantPlan.MinNumberOfParticipants.$error" md-auto-hide="false" ng-show="updateParticipantPlan.Price.$touched">
                        <div ng-message when="required"><span>Please enter MinNumberOfParticipants.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 3.</span></div>
                    </div>
                </md-input-container>-->

                <md-input-container flex>
                    <label for="MaxNumberOfParticipants">Max Number Of Participants</label>
                    <input type="number" ng-maxlength="4" min="0" label="MaxNumberOfParticipants" name="MaxNumberOfParticipants" id="MaxNumberOfParticipants"
                        ng-model="vm.participantplan.MaxNumberOfParticipants" required>
                    <div ng-messages="updateParticipantPlan.MaxNumberOfParticipants.$error" md-auto-hide="false" ng-show="updateParticipantPlan.Price.$touched">
                        <div ng-message when="required"><span>Please enter Max Number Of Participants.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
                        <div ng-message when="min"><span>Number should be greater than 0.</span></div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label for="TimeClockUsers">Time Clock Users</label>
                    <input type="number" ng-maxlength="4" min="0" label="TimeClockUsers" name="TimeClockUsers" id="TimeClockUsers" ng-model="vm.participantplan.TimeClockUsers">
                    <div ng-messages="updateParticipantPlan.TimeClockUsers.$error" md-auto-hide="false" ng-show="updateParticipantPlan.Price.$touched">
                        <div ng-message when="required"><span>Please enter Time Clock Users.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
                        <div ng-message when="min"><span>Number should be greater than 0.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateParticipantPlan(updateParticipantPlan)"
                    ng-disabled="updateParticipantPlan.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Update</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>