﻿<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Update Time Clock User Plan</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="updateTimeClockUserPlan">
            <h2>Time Clock User Plan Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Name">Name</label>
                    <input type="text" ng-maxlength="50" label="Name" name="Name" id="Name" ng-model="vm.timeclockuserplan.Name"
                        required>
                    <div ng-messages="updateTimeClockUserPlan.Name.$error" md-auto-hide="false" ng-show="updateTimeClockUserPlan.Name.$touched">
                        <div ng-message when="required"><span>Please enter Time Clock User Plan name.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 50.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Price">Price($)</label>
                    <input type="number"  ng-maxlength="5" min="0" label="Price" name="Price" id="Price" ng-model="vm.timeclockuserplan.Price" required>
                    <div ng-messages="updateTimeClockUserPlan.Price.$error" md-auto-hide="false" ng-show="updateTimeClockUserPlan.Price.$touched">
                        <div ng-message when="required"><span>Please enter Price.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 5.</span></div>
                        <div ng-message when="min"><span>Price should be greater than 0.</span></div>
                    </div>
                </md-input-container>

                  <md-input-container flex>
                    <label for="MaxNumberOfTimeClockUsers">Number Of Time Clock Users</label>
                    <input type="number"  ng-maxlength="4" min="0" label="MaxNumberOfTimeClockUsers" name="MaxNumberOfTimeClockUsers" id="MaxNumberOfTimeClockUsers" ng-model="vm.timeclockuserplan.MaxNumberOfTimeClockUsers" required>
                    <div ng-messages="updateTimeClockUserPlan.MaxNumberOfTimeClockUsers.$error" md-auto-hide="false" ng-show="updateTimeClockUserPlan.Price.$touched">
                        <div ng-message when="required"><span>Please enter Number Of Time Clock Users.</span></div>
                        <div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
                        <div ng-message when="min"><span>Number should be greater than 0.</span></div>
                    </div>
                </md-input-container>
            </div>

            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateTimeClockUserPlan(updateTimeClockUserPlan) " required
                    ng-disabled="updateTimeClockUserPlan.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Update</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>