<h3>Attendance History</h3>

<md-whiteframe class="md-whiteframe-z5 flex layout-column margin-bottom-20">
<form name="Search" novalidate>
<div class="padded-content-page">
<div layout="row" layout-xs="column" layout-md="row" >

	 <div layout="row" layout-xs="column" layout-sm="column" layout-md="column" flex>
     	<md-input-container flex>
            <label for="Fromdate">From Date</label>
            <md-datepicker id="Fromdate" ng-model="agecutoff" name="Fromdate" md-placeholder="Enter date" required></md-datepicker>
            <div ng-messages="Search.Fromdate.$error" md-auto-hide="false" ng-show="Search.Fromdate.$touched">
                        <div ng-message when="required"><span>Please enter date of birth.</span></div>
                    </div>
        </md-input-container>
        <md-input-container flex>
             <label for="Todate">To Date</label>
    		<md-datepicker id="Todate" ng-model="agecutoff" name="Todate" md-placeholder="Enter date" required></md-datepicker>
            <div ng-messages="Search.Todate.$error" md-auto-hide="false" ng-show="Search.Todate.$touched">
                        <div ng-message when="required"><span>Please enter date of birth.</span></div>
                    </div>
        </md-input-container>
     </div>
     
     <div layout="row" layout-xs="column" layout-md="column" layout-sm="column" flex>
     	<md-input-container flex class="mrgR-class">
            <label for="Category">Category</label>
             <md-select placeholder="Category" name="Category" id="Category" ng-model="vm.attednace.Category" required>
                <md-option value="1">Pre School</md-option>
                <md-option value="2">Kindergarten</md-option>
            </md-select>
            <div ng-messages="Search.Category.$error" md-auto-hide="false" ng-show="Search.Category.$touched">
                <div ng-message when="required"><span>Please choose category.</span></div>
            </div>
          </md-input-container>
                  
       	<md-input-container flex class="mrgl-class">
            <label for="Class">Class</label>
             <md-select placeholder="Class" name="Class" id="Class" ng-model="vm.attednace.Class" required>
                <md-option value="1">Test Class1</md-option>
                <md-option value="2">Test Class1</md-option>
            </md-select>
            <div ng-messages="Search.Class.$error" md-auto-hide="false" ng-show="Search.Class.$touched">
                <div ng-message when="required"><span>Please choose class.</span></div>
            </div>
          </md-input-container>
     </div>
     
     
    
</div>
<div layout="row" layout-xs="column" layout-md="row" layout-align="end center">
 
    <md-card-actions>
      <md-button class="md-primary md-raised"  translate="Search"></md-button>
    </md-card-actions>

</div>

</div>
</form>

 </md-whiteframe>

 <md-card-actions layout="row" layout-align="end center ">
      <md-button class="md-primary">
        <md-icon md-font-icon="fa fa-print"></md-icon>
        Print</md-button>
    </md-card-actions>
<md-table-container>
        <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
          <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
            <tr md-row>
              <th md-column>Date</th>
              <th md-column>Status</th>
              <th md-column>Category</th>
              <th md-column>Class</th>
              <th md-column>Check In Time</th>
              <th md-column>Check Out Time</th>
              <th md-column>Attendance Mark By</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row >
              <td md-cell>08/11/2016</td>
              <td md-cell>Present</td>
              <td md-cell>Pre-School</td>
              <td md-cell>Test Class 1</td>
              <td md-cell>10.00 AM</td>
              <td md-cell>11.00 AM</td>
              <td md-cell>Daniel Ross</td>
            </tr>
           <tr md-row >
              <td md-cell>08/11/2016</td>
              <td md-cell>Present</td>
              <td md-cell>Pre-School</td>
              <td md-cell>Test Class 1</td>
              <td md-cell>10.00 AM</td>
              <td md-cell>11.00 AM</td>
              <td md-cell>Daniel Ross</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
