<div class="example-code md-whiteframe-z1 margin-bottom-10">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Payment History<span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Enrolls' : 'Enroll'}} selected )</span></h2>
      <span flex></span>
      <h3>Search</h3>
      <md-button ng-click="vm.toggleRight1()" ng-hide="vm.isOpenRight1()" class="md-icon-button" aria-label="Settings">
        <md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
        <md-tooltip>Search</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <div class="padded-content-page">
    <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right1">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Search</h1>
      </md-toolbar>
      <div class="padded-content-page">
        <md-content class="overflowVisible">
          <form name="Search">
            <div layout layout-xs="column" flex>
              <md-input-container flex>
                <label for="Class">Class</label>
                <md-select placeholder="Select Class" name="ClassId" id="ClassId" ng-model="query.ClassId">
                  <md-option value="{{item.ID}}" ng-repeat="item in vm.AllClasses">{{ item.ClassName }}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label for="Status">Status</label>
                <md-select placeholder="Status" name="PaymentStatus" id="PaymentStatus" ng-model="query.PaymentStatus">
                  <md-option value="1">Paid</md-option>
                  <md-option value="0">Unpaid</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
              <md-input-container flex>
                <label for="Date"> From Date</label>
                <md-datepicker flex md-placeholder="From Date" ng-model="query.FromDate" name="FromDate" md-max-date="vm.MaxDate" ng-change="vm.setToDate()" id="FromDate" ng-model-options="{ timezone: 'utc' }" required></md-datepicker>
                	<div ng-messages="Search.FromDate.$error" md-auto-hide="false" ng-show="Search.FromDate.$touched">
									<div ng-message when="required"><span>Please select From Date.</span></div>
								</div>
              </md-input-container>
              <md-input-container flex>
                <label for="Date">To Date</label>
                <md-datepicker flex md-placeholder="To Date" ng-model="query.ToDate" md-min-date="query.FromDate" md-max-date="vm.MaxDate" name="ToDate" id="ToDate" required></md-datepicker>
                <div ng-messages="Search.ToDate.$error" md-auto-hide="false" ng-show="Search.ToDate.$touched">
									<div ng-message when="required"><span>Please select To Date.</span></div>
								</div>
              </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
              <md-input-container flex class="text-center">
                <md-button class="md-primary md-raised" ng-disabled="Search.$invalid" ng-click="vm.getFeesUnpaidList()">Search</md-button>
                <md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
                <md-button ng-click="vm.close1()" class="md-warn md-raised">Close</md-button>
              </md-input-container>
            </div>
          </form>
        </md-content>
      </div>
    </md-sidenav>
    <div>
      <p>
        <!--<h3>Participant Name : {{ParticipantName}} </h3>-->
        <h3>Class Name : {{ClassName}} </h3>
        <h3>Status : {{PaymentStatus}} </h3>
        <h3>From Date : {{FromDate|date:"MM/dd/yyyy"}} </h3>
        <h3>To Date : {{ToDate|date:"MM/dd/yyyy"}} </h3>
      </p>
    </div>
    <div class="margin-top-20">
      <md-table-container>
        <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
          <thead md-head md-order="query.order" md-on-reorder="vm.getFeesUnpaidList">
            <tr md-row>
              <th md-column md-order-by="ClassName">Class</th>
              <th md-column md-order-by="Fees">Fees($)</th>
              <th md-column md-order-by="ScheduleDate" mddesc>Enrollment</th>
              <th md-column md-order-by="ModifiedDate">Paid On</th>
              <th md-column md-order-by="Amount">Amount($)</th>
              <!--<th md-column md-order-by="Discount">Discount($)</th>-->
              <th md-column md-order-by="PaymentMode">Payment Method</th>
              <th md-column>Status</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="data in vm.studentPaymentHistoryList">
              <td md-cell>{{data.ClassName}}</td>
              <td md-cell ng-if="data.ClassInfo.Fees==null">{{0|currency}}</td>
              <td md-cell ng-if="data.ClassInfo.Fees!=null">{{data.ClassInfo.Fees|currency}}</td>
              <td md-cell>{{data.PaymentStatusList[0].scheduleDate| date:'MM/dd/yyyy'}}</td>
              <td md-cell ng-if="data.PaymentStatusList[0].ModifiedDate==null">--</td>
              <td md-cell ng-if="data.PaymentStatusList[0].ModifiedDate!=null">{{data.PaymentStatusList[0].ModifiedDate| date:'MM/dd/yyyy'}}</td>
              <td md-cell>{{data.PaymentStatusList[0].Fees-data.PaymentStatusList[0].Discount|currency}}</td>
              <!--<td md-cell ng-if="data.PaymentStatusList[0].Discount!=null">{{data.PaymentStatusList[0].Discount|currency}}</td>
              <td md-cell ng-if="data.PaymentStatusList[0].Discount==null">{{0|currency}}</td>-->
              <td md-cell ng-if="data.PaymentStatusList[0].PaymentMode!=''">{{data.PaymentStatusList[0].PaymentMode}}</td>
              <td md-cell ng-if="data.PaymentStatusList[0].PaymentMode==''">--</td>
              <td md-cell>
                <md-button ng-if="data.PaymentStatusList[0].PaymentStatus==0" class="md-raised md-warn" ng-click="vm.goToPayment(data.PaymentStatusList[0])"
                  ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==1">UnPaid</md-button>
                <md-button class="md-raised md-primary" ng-if="data.PaymentStatusList[0].PaymentStatus>0" ng-disabled="true">Paid</md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
        <md-input-container flex class="text-center">
          <h2>No Payment History found.</h2>
        </md-input-container>
      </div>
      <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page-select md-page="query.page"
        md-total="{{vm.studentPaymentHistoryListCount}}" md-on-paginate="vm.getFeesUnpaidList"></md-table-pagination>
    </div>
  </div>