<md-tabs class="example-tabs-nopadding" md-dynamic-height md-border-bottom>
  <md-tab label="Billing Details">
    <div class="md-tabs-content">
    	<div layout="row" layout-xs="column" class="margin-top-20">
          <md-radio-group class="md-primary" ng-model="data.primary" ng-init="data.primary = 'Student'">
            <md-radio-button value="Fees Paid">Fees Paid</md-radio-button>
            <md-radio-button value="Pending Fees">Pending Fees</md-radio-button>
          </md-radio-group>
        </div>
      <div>
        <md-table-container >
          <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
            <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
              <tr md-row>
                <th md-column>Pending Fees</th>
                <th md-column>Fee Type</th>
                <th md-column>Paid By</th>
                <th md-column>Relation</th>
                <th md-column>Paid On</th>
                <th md-column>Amount($)</th>
                <th md-column>Payment Method</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row >
                <td md-cell>08/02/2016</td>
                <td md-cell>Registration</td>
                <td md-cell>Demo User</td>
                <td md-cell>Guardian</td>
                <td md-cell>08/02/2016</td>
                <td md-cell>200.00</td>
                <td md-cell>Cash</td>
              </tr>
              <tr md-row >
                <td md-cell>08/02/2016</td>
                <td md-cell>Registration</td>
                <td md-cell>Demo User</td>
                <td md-cell>Guardian</td>
                <td md-cell>08/02/2016</td>
                <td md-cell>200.00</td>
                <td md-cell>Cash</td>
              </tr>
              <tr md-row >
                <td md-cell colspan="5">
                	<div flex layout="row" layout-align="end center" class="font-size-2">
                  	Total Payment
                  </div>
                </td>
                <td md-cell colspan="2" class="font-size-2">$250.00</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </div>
  </md-tab>
  <md-tab label="Make Payment">
    <div class="md-tabs-content">
     	<md-card-content class="padding-top-20">
            <form novalidate>
            	<div layout="row" layout-xs="column">
                  <md-input-container flex class="mrgR-10">
                  	<label>Fee Type</label>
                     <md-select placeholder="Fee Type" ng-model="category" >
                        <md-option value="1">Late Fee</md-option>
                        <md-option value="2">Registration</md-option>
                        <md-option value="3">Tution Fee</md-option>
                        <md-option value="3">Other</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container flex class="mrgL-10">
                  <label>Class</label>
                    <md-select placeholder="Class" ng-model="class" >
                        <md-option value="1">Pre-School</md-option>
                        <md-option value="2">Kindergarten</md-option>
                        <md-option value="3">Infant</md-option>
                    </md-select>
                  </md-input-container>
                </div>
                 <div layout="row" layout-xs="column">
                  <div flex>
                     <md-input-container class="md-block mrgR-10">
                    <label>Amount</label>
                    <input type="text">
                	</md-input-container>
                  </div>
                  <div flex>
                     <md-input-container class="md-block mrgL-10">
                    <label>Discount (if any)</label>
                    <input type="text">
                	</md-input-container>
                  </div>
                </div>
                
                 <div layout="row" layout-xs="column">
                  <div flex>
                     <md-input-container class="md-block mrgR-10">
                    <label>Amount to be paid</label>
                    <input type="text">
                	</md-input-container>
                  </div>
                  <div flex class="mrgL-10">
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea></textarea>
                </md-input-container>
                </div>
                  
                </div>
                 <div layout="row" layout-xs="column">
                	<div flex class="mrgR-10">
                      <p>Payment Mode</p>
                       <md-radio-group class="md-primary" ng-model="data.primary" ng-init="data.primary = 'Red'">
                            <md-radio-button value="Cash">Cash</md-radio-button>
                            <md-radio-button value="Credit Card">Credit Card</md-radio-button>
                        </md-radio-group>

                  </div>
                  <div flex class="button-toolbar" layout="row" layout-align="end center">
                  	<md-button class="md-primary md-raised">Pay Now</md-button>
                  </div>
                  
                </div>
                
                
                
            </form>
        </md-card-content>
    </div>
  </md-tab>
</md-tabs>
