<h3>Emergency Contact</h3>

<div layout="row" layout-align="center center" class="classpage">
        <div flex>
            <form name="Emergencycontact" novalidate>
                <div layout="row" layout-xs="column">
                 
                     <md-input-container flex class="md-block mrgR-10">
                    <label for="Firstname">First Name</label>
                    <input id="Firstname" label="Firstname" name="Firstname" type="text" ng-model="user.text" required/>
                    <div ng-messages="Emergencycontact.Firstname.$error" md-auto-hide="false" ng-show="Emergencycontact.Firstname.$touched">
                        <div ng-message="required">
                            Please enter your first name.
                        </div>
                    </div>
                </md-input-container>
                
                <md-input-container flex class="md-block mrgL-10">
                    <label for="Lastname">Last Name</label>
                    <input id="Lastname" label="Lastname" name="Lastname" type="text" ng-model="user.text" required/>
                    <div ng-messages="Emergencycontact.Lastname.$error" md-auto-hide="false" ng-show="Emergencycontact.Lastname.$touched">
                        <div ng-message="required">
                            Please enter your last name.
                        </div>
                    </div>
                </md-input-container>
                </div>
               
               <div layout="row" layout-xs="column">
                  <md-input-container flex class="mrgR-10">
                    <label for="Relation">Relation</label>
                     <md-select placeholder="Relation" ng-model="Relation"  id="Relation" name="Relation" required>
                        <md-option value="1">Mother</md-option>
                        <md-option value="2">Father</md-option>
                        <md-option value="3">Guardian</md-option>
                    </md-select>
                     <div ng-messages="Emergencycontact.Relation.$error" md-auto-hide="false" ng-show="Emergencycontact.Relation.$touched">
                        <div ng-message when="required"><span>Please select anyone.</span></div>
                    </div>
                  </md-input-container>
                  
                     <md-input-container flex class="md-block mrgL-10">
                    <label for="Email">Email</label>
                    <input type="email" label="Email" name="Email" id="Email" ng-model="user.email" ng-pattern="emailFormat" pattern=".{6,100}" allow-pattern="(\d|[a-z\@\.\_])" required>
                     <div ng-messages="Emergencycontact.Email.$error" md-auto-hide="false" ng-show="Emergencycontact.Email.$touched">
                        <div ng-message="required">
                            Please enter your email address.
                        </div>
                        <div ng-message="email">
                            Please enter a valid email address.
                        </div>
                    </div>
                	</md-input-container>
                 
                </div>
                
                <div layout="row" layout-xs="column">
                  <md-input-container flex class="md-block mrgR-10">
                    <label for="Addres">Address</label>
                    <textarea></textarea>
                	</md-input-container>
                
                 <md-input-container flex class="mrgL-10">
                    <label for="Country">Country</label>
                     <md-select placeholder="Country" ng-model="Country" id="Country" name="Country" required>
                        <md-option value="1">US</md-option>
                        <md-option value="2">UK</md-option>
                        <md-option value="3">India</md-option>
                    </md-select>
                     <div ng-messages="Emergencycontact.Country.$error" md-auto-hide="false" ng-show="Emergencycontact.Country.$touched">
                        <div ng-message when="required"><span>Please select country.</span></div>
                    </div>
                  </md-input-container>
                </div>
                
                <div layout="row" layout-xs="column">
                  <md-input-container flex class="mrgR-10">
                    <label for="state">State</label>
                     <md-select placeholder="State" ng-model="State" id="state" name="state" required>
                        <md-option value="1">Verginia</md-option>
                        <md-option value="2">Verginia</md-option>
                        <md-option value="3">Verginia</md-option>
                    </md-select>
                     <div ng-messages="Emergencycontact.state.$error" md-auto-hide="false" ng-show="Emergencycontact.state.$touched">
                        <div ng-message when="required"><span>Please select state.</span></div>
                    </div>
                  </md-input-container>
                
                 <md-input-container flex class="mrgL-10">
                    <label for="City">City</label>
                     <md-select placeholder="City" ng-model="City" id="City" name="City" required>
                        <md-option value="1">New York</md-option>
                        <md-option value="2">New Jersey</md-option>
                        <md-option value="3">Texas</md-option>
                    </md-select>
                    <div ng-messages="Emergencycontact.City.$error" md-auto-hide="false" ng-show="Emergencycontact.City.$touched">
                        <div ng-message when="required"><span>Please select city.</span></div>
                    </div>
                  </md-input-container>
                </div>
               
             
                  
                 
                  <div layout="row" layout-xs="column">
                  	
               <md-input-container flex class="md-block mrgR-10">
                    <label for="Postalcode">Postal Code</label>
                    <input type="text">
                </md-input-container>
               
                	 <md-input-container flex class="md-block mrgL-10">
                    <label for="Phonenumber">Phone Number</label>
                    <input type="text" id="Firstname" label="Phonenumber" name="Phonenumber" type="text" ng-model="user.text" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____" required>
                    <div ng-messages="Emergencycontact.Phonenumber.$error" md-auto-hide="false" ng-show="Emergencycontact.Phonenumber.$touched">
                        <div ng-message when="required"><span>Please add your number.</span></div>
                    </div>
                </md-input-container>
                
                </div>
                
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary md-raised"  translate="Update">Submit</md-button>
                    <md-button class="md-accent md-raised" translate="Reset">Reset</md-button>
                  </md-card-actions>
                
                </form>
                </div>
           
    </div>