<h3 class="left-heading">Details</h3>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary" ng-click="vm.addskill($event)">
      <md-icon md-font-icon="fa fa-plus"></md-icon>
      Add Medication</md-button>
  </md-card-actions>
   <div class="clear"></div>
  <md-divider class="margin-bottom-10"></md-divider>  
 
<div layout="row" layout-align="end center">
	<div class="md-body-1"><span>04 Aug 2016</span><span> Checked In</span></div>
</div>
<div class="clear"></div>