

<md-dialog class="mobile-fullwidth-dialog" flex="40" flex-xs="30">
  <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.scheduleEvent.selectedColor.textColor }">
    <div class="md-toolbar-tools">
      <h2>
        <span translate>Payment-{{vm.ClassName}}</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
        <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <md-dialog-content class="md-dialog-content">
    <form name="classpaymentForm">
      <div layout="row" layout-xs="column">
        <md-input-container flex class="mrgR-10">
          <label>Fee Type</label>
          <md-select placeholder="Fee Type" name="FeeType" ng-model="vm.FeeTypeId" required>
            <md-option value="1">Monthly</md-option>
            <md-option value="2">Weekly</md-option>
            <md-option value="3">Biweekly</md-option>
            <md-option value="4">One Time</md-option>
          </md-select>
              <div ng-messages="classpaymentForm.FeeType.$error" md-auto-hide="false" ng-show="classpaymentForm.FeeType.$touched">
              <div ng-message when="required"><span>Fee type is required.</span></div>
            </div>  
        </md-input-container>
        <md-input-container flex class="mrgL-10">
          <label>Parent</label>
          <md-select placeholder="Parent" ng-model="vm.ParentId" name="ParentId" required>
            <md-option ng-repeat="option in vm.ParentList" value="{{option.ID}}">{{option.FullName}} ({{option.RelationName}})</md-option>
          </md-select>
          <div ng-messages="classpaymentForm.ParentId.$error" md-auto-hide="false" ng-show="classpaymentForm.ParentId.$touched">
              <div ng-message when="required"><span>Parent name is required.</span></div>
            </div>  
        </md-input-container>
      </div>
      <div layout="row" layout-xs="column">
        <div flex>
          <md-input-container class="md-block mrgR-10">
            <label>Amount</label>
            <input type="text" ng-disabled="true" ng-model="vm.Fees">
          </md-input-container>
        </div>
        <div flex>
          <md-input-container class="md-block mrgL-10">
            <label>Discount (if any)</label>
            <input type="number" name="PaidFees"  ng-model="vm.Discount"  ng-change="vm.CalculateTotalAmount(vm.Discount)" min="0">
            <!--<input type="text"  name="DiscountAmt" id="DiscountAmt" ng-pattern="/^[0-9]+\.?[0-9]*$/" maxlength="5" ng-model="vm.Discount"  ng-change="vm.CalculateTotalAmount(vm.Discount)">-->
             <div ng-messages="classpaymentForm.DiscountAmt.$error" md-auto-hide="false" ng-show="classpaymentForm.DiscountAmt.$touched">
              <div ng-message when="pattern"><span>Please enter valid decimal number.</span></div>
            </div>  
          </md-input-container>
        </div>
      </div>

      <div layout="row" layout-xs="column">
        <div flex>
          <md-input-container class="md-block mrgR-10">
            <label>Amount to be paid</label>
            <input type="text" ng-disabled="true" ng-model="vm.PaidAmount">
          </md-input-container>
        </div>
        <div flex class="mrgL-10">
          <md-input-container class="md-block" ng-model="vm.Description">
            <label>Description</label>
            <textarea></textarea>
          </md-input-container>
        </div>

      </div>
      <div layout="row" layout-xs="column">
        <div flex class="mrgR-10">
          <h2>Payment Method</h2>
          <md-radio-group class="md-primary" ng-model="vm.PaymentMode">
            <md-radio-button value="Cash">Cash</md-radio-button>
            <md-radio-button value="Credit Card">Credit Card</md-radio-button>
            <md-radio-button value="Check">Check</md-radio-button>
            <md-radio-button value="Money Order">Money Order</md-radio-button>
            <md-radio-button value="Wire Transfer">Wire Transfer</md-radio-button>
            <md-radio-button value="Bank Draft">Bank Draft</md-radio-button>
          </md-radio-group>

        </div>
        <div flex class="button-toolbar" layout="row" layout-align="end center">
          <md-button class="md-primary md-raised" ng-disabled="classpaymentForm.$invalid" ng-click="vm.updateFeesDetails()">Pay Now</md-button>
        </div>

      </div>





    </form>
  </md-dialog-content>
</md-dialog>