<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbarForDisplay"></md-progress-linear>
<md-card class="tri-wizard-card md-whiteframe-z1 profiletab" tri-wizard>
    <md-content class="md-padding">
        <div layout="row" layout-sm="row" layout-xs="column" layout-align="start left">
            <div flex="15" flex-sm="25">
                <div layout="column" layout-xs="row">
                    <div class="margin-right-10 mobile-text-center">
                        <img ng-src="{{vm.ImageUrlPath}}{{vm.StudentDetails.Student.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" alt="girl-avatar"
                            class="make-round" width="100" height="100" />
                    </div>
                    <div class="text-light  margin-top:7; margin-left:1px;">
                        <md-button ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" class="md-primary md-raised md-fab" ng-disabled="vm.status != 'idle'"
                            ngf-select="vm.uploadImage($files)" ngf-multiple="true" accept="image/*" aria-label="upload">
                            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-cloud-upload': vm.status == 'idle', 'fa fa-spinner fa-pulse': vm.status == 'uploading', 'zmdi zmdi-check': vm.status == 'complete'}"></md-icon>
                            <div ng-messages="studentForm.UploadFile.$error" ng-model="vm.StudentDetails.Student.ImagePath" md-auto-hide="false" ng-show="studentForm.UploadFile.$touched">
                                <div ng-message when="required"><span>Please select Image.</span></div>
                            </div>
                    </div>
                </div>
            </div>
            <div flex="85" flex-sm="75">
                <div layout="column" layout-xs="row">
                    <form name="parentForm">
                        <div layout="row" layout-xs="column">
                            <md-input-container flex class="mrgR-10 mrgL-10">
                                <label for="First Name">First Name</label>
                                <input ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" name="FirstName" ng-model="vm.StudentDetails.Student.FirstName"
                                    required>
                                <div ng-messages="studentForm.FirstName.$error" md-auto-hide="false" ng-show="studentForm.FirstName.$touched" allow-pattern="([a-zA-Z\@\.\_\ ])"
                                    ng-maxlength="100" ng-minlength="4">
                                    <div ng-message when="required"> <span translate>Firstname is required</span> </div>
                                    <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                                    <div ng-message when="minlength"><span>Minimum 4 character is required.</span></div>
                                    <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                </div>
                            </md-input-container>
                            <md-input-container flex class="mrgL-10">
                                <label for="Last Name">Last Name</label>
                                <input ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" name="LastName" ng-model="vm.StudentDetails.Student.LastName">
                                <div ng-messages="studentForm.LastName.$error" md-auto-hide="false" ng-show="studentForm.LastName.$touched" allow-pattern="([a-zA-Z\@\.\_\ ])"
                                    ng-maxlength="100" ng-minlength="4">
                                    <div ng-message when="required"> <span translate>Lastname is required</span> </div>
                                    <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                                    <div ng-message when="minlength"><span>Minimum 4 character is required.</span></div>
                                    <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-xs="column">
                            <md-input-container flex class="mrgR-10 mrgL-10">
                                <label translate>Gender</label>
                                <md-select ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" ng-change="triWizard.updateProgress()" name="Gender" ng-model="vm.StudentDetails.Student.Gender"
                                    required>
                                    <md-option value="1" translate>Male</md-option>
                                    <md-option value="2" translate>Female</md-option>
                                </md-select>
                                <div ng-messages="studentForm.Gender.$error" md-auto-hide="false" ng-show="studentForm.Gender.$touched">
                                    <div ng-message when="required"> <span translate>Please choose gender.</span> </div>
                                </div>

                            </md-input-container>
                            <md-input-container flex class="mrgL-10">
                                <label for="BirthDate">Birth Date</label>
                                <md-datepicker ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" flex ng-model="vm.StudentDetails.Student.DateOfBirth"
                                    md-max-date=vm.dateOfBirth ng-model-options="{timezone:'utc'}" md-min-date=vm.NewMinDate
                                    md-max-date=vm.dateOfBirth md-placeholder="Enter Date" name="BirthDate" id="BirthDate" required></md-datepicker>
                                <div ng-messages="studentForm.BirthDate.$error" md-auto-hide="false" ng-show="studentForm.BirthDate.$touched">
                                    <div ng-message when="required"><span>Please enter birth date.</span></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-xs="column" flex>
                            <md-input-container flex class="mrgL-10">
                                <label translate>Membership Type</label>
                                <md-select ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" ng-change="triWizard.updateProgress()" name="Membership"
                                    ng-model="vm.StudentDetails.Student.MembershipTypeId" required>
                                    <md-option value="{{Membership.ID}}" ng-repeat="Membership in vm.AllMembership">{{ Membership.Name }}</md-option>
                                </md-select>
                                <div ng-messages="studentForm.Membership.$error" md-auto-hide="false" ng-show="studentForm.Membership.$touched">
                                    <div ng-message when="required"><span>Membership Type is required.</span></div>
                                </div>
                            </md-input-container>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </md-content>
</md-card>

<md-tabs class="example-tabs-nopadding" md-dynamic-height md-border-bottom>
    <md-tab label="Current Enrollment">
        <div class="md-tabs-content">
            <div>
                <md-table-container class="lesson-table">
                    <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" md-row-select multiple ng-model="selected"
                        md-progress="vm.promise">
                        <thead md-head md-order="query.order" md-on-reorder="vm.GetStudentScheduleList">
                            <tr md-row>
                                <!--<th md-column><span>#</span></th>-->
                                <th md-column><span>{{vm.columns.Image}}</span></th>
                                <th md-column md-order-by="FirstName"><span>{{vm.columns.FirstName}}</span></th>
                                <th md-column><span>{{vm.columns.ClassName}}</span></th>
                                <th md-column md-order-by="StartDate"><span>{{vm.columns.StartDate}}</span></th>
                                <th md-column md-order-by="Room"><span>{{vm.columns.Room}}</span></th>
                                <th md-column ng-hide="vm.Cancel==1"><span>Cancel Enrollment</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-auto-select md-select="schedule" md-select-id="schedule.ID" ng-repeat="schedule in vm.ScheduleList">
                                <!--<td md-cell>{{ $index + 1 }}</td>-->
                                <td md-cell>
                                    <img ng-src="{{vm.ImageUrlPath}}{{schedule.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" width="100" height="100"
                                    />
                                </td>
                                <td md-cell>{{schedule.FirstName}} {{schedule.LastName}}</td>

                                <td md-cell>{{schedule.ClassName}}</td>

                                <td md-cell>{{schedule.Startdate| date:"MM/dd/yyyy"}}</td>
                                <td md-cell>{{schedule.RoomName}}</td>
                                <td md-cell ng-hide="vm.Cancel==1">
                                    <md-button class="md-raised md-warn" ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" ng-click="vm.CancelEnrollment(schedule)">Cancel</md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-if="vm.ScheduleList==0" layout layout-xs="column" flex>
                    <md-input-container flex class="text-center">
                        <h2>No Current Enrollment list found.</h2>
                    </md-input-container>
                </div>
                <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page-select md-page="vm.query.page"
                    md-total="{{participantScheduleCount}}" md-on-paginate="vm.GetStudentScheduleList"></md-table-pagination>

            </div>
        </div>
    </md-tab>
    <md-tab label="Future Enrollment">
        <div class="md-tabs-content">
            <div>
                <md-table-container class="lesson-table">
                    <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" md-row-select multiple ng-model="selected"
                        md-progress="vm.promise">
                        <thead md-head md-order="query.order" md-on-reorder="vm.GetFutureEnrolledStudent">
                            <tr md-row>
                                <!--<th md-column><span>#</span></th>-->
                                <th md-column><span>{{vm.columns.Image}}</span></th>
                                <th md-column md-order-by="FirstName"><span>{{vm.columns.FirstName}}</span></th>
                                <th md-column><span>{{vm.columns.ClassName}}</span></th>
                                <th md-column md-order-by="StartDate"><span>{{vm.columns.StartDate }}</span></th>
                                <th md-column md-order-by="Room"><span>{{vm.columns.Room}}</span></th>
                                <th md-column ng-hide="vm.Cancel==1"><span>ACTION</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-auto-select md-select="schedule" md-select-id="schedule.ID" ng-repeat="schedule in vm.FutureScheduleList">
                                <!--<td md-cell>{{ $index + 1 }}</td>-->
                                <td md-cell><img ng-src="{{vm.ImageUrlPath}}{{schedule.ImagePath}}" err-src="assets/images/avatars/avatar-5.png"
                                    /></td>
                                <td md-cell>{{schedule.FirstName}} {{schedule.LastName}}</td>
                                <td md-cell>{{schedule.ClassName}}</td>
                                <td md-cell>{{schedule.Startdate| date:'MM/dd/yyyy'}}</td>
                                <td md-cell>{{schedule.RoomName}}</td>
                                <td md-cell style="min-width:60px" ng-hide="vm.Cancel==1||vm.IsEnableForStaff==true">
                                    <a class="md-primary" ng-click="vm.showUpdateFutureStudentDialoue($event,schedule)" style="cursor:pointer">
                                        </>
                                        <md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
                                        <md-tooltip>Edit</md-tooltip>
                                    </a> &nbsp;
                                    <a class="md-primary" ng-click="vm.showDeleteFutureStudentConfirmDialoue($event,schedule)" style="cursor:pointer">
                                        <md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
                                        </md-icon>
                                        <md-tooltip>Delete</md-tooltip>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div ng-if="vm.ScheduleList==0" layout layout-xs="column" flex>
                    <md-input-container flex class="text-center">
                        <h2>No Future Enrollment list found.</h2>
                    </md-input-container>
                </div>
                <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{futureCount}}" md-on-paginate="vm.GetFutureEnrolledStudent"></md-table-pagination>
            </div>
        </div>
    </md-tab>
</md-tabs>

<div layout="row" layout-xs="column" class="profiletab">
    <tri-widget flex flex="50" flex-xs="100" class="mrgR-10 margin-bottom-10" title="Contact Information">
        <md-divider></md-divider>
        <form name="parentForm" class="padding-20">
            <div layout="row" layout-xs="column">
                <md-input-container flex class="mrgR-10 mrgL-10">
                    <label translate>Phone Number</label>
                    <input ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" name="phonenumber" ng-model="vm.StudentDetails.PhoneNumber"
                        ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____" min="0">
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Email</label>
                    <input ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" type="email" id="email" name="email" ng-model="vm.StudentDetails.Email"
                        ng-pattern="emailFormat">
                    <div ng-messages="parentForm.email.$error" md-auto-hide="false" ng-show="parentForm.email.$touched">
                        <div ng-message when="pattern"> <span translate>Please enter a valid email.</span> </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container flex class="mrgR-10 mrgL-10">
                    <label translate>School</label>
                    <input name="School" ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" ng-model="vm.StudentDetails.SchoolName" ng-maxlength="100"
                        ng-minlength="2">
                    <div ng-messages="parentForm.School.$error" md-auto-hide="false" ng-show="parentForm.School.$touched">
                        <!--<div ng-message when="required"> <span translate>School name is required</span> </div>-->
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>

                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Grade Level</label>
                    <md-select ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" ng-change="triWizard.updateProgress()" name="GradeLevel"
                        ng-model="vm.StudentDetails.GradeLevelId">
                        <md-option value="{{GradeLevel.ID}}" ng-repeat="GradeLevel in vm.AllGradeLevel">{{ GradeLevel.Name }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-10 mrgL-10">
                    <label translate>Transportation</label>
                    <input ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" name="Transportation" ng-model="vm.StudentDetails.Transportation"
                        ng-maxlength="100" ng-minlength="1">
                    <div ng-messages="parentForm.Transportation.$error" md-auto-hide="false" ng-show="parentForm.Transportation.$touched">
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="minlength"><span>Minimum 1 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Disabilites</label>
                    <textarea ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" ng-model="vm.StudentDetails.Disabilities" name="Disabilities"
                        ng-maxlength="100" ng-minlength="1"></textarea>
                    <div ng-messages="parentForm.Disabilities.$error" md-auto-hide="false" ng-show="parentForm.Disabilities.$touched">
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="minlength"><span>Minimum 1 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="mrgR-10 mrgL-10">
                    <label translate>Allergies</label>
                    <textarea ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" ng-model="vm.StudentDetails.Allergies" name="Allergies"
                        ng-maxlength="100" ng-minlength="1"></textarea>
                    <div ng-messages="parentForm.Allergies.$error" md-auto-hide="false" ng-show="parentForm.Allergies.$touched">
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="minlength"><span>Minimum 1 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex class="mrgL-10">
                    <label translate>Medications</label>
                    <textarea ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" ng-model="vm.StudentDetails.Medications" name="Medications"
                        ng-maxlength="100" ng-minlength="1"></textarea>
                    <div ng-messages="parentForm.Medications.$error" md-auto-hide="false" ng-show="parentForm.Medications.$touched">
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="minlength"><span>Minimum 1 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex class="md-block" class="mrgR-10">
                    <label translate>Primary Doctor</label>
                    <input ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" name="PrimaryDoctor" ng-model="vm.StudentDetails.PrimaryDoctor"
                        name="PrimaryDoctor" ng-maxlength="100" ng-minlength="1">
                    <div ng-messages="parentForm.PrimaryDoctor.$error" md-auto-hide="false" ng-show="parentForm.PrimaryDoctor.$touched">
                        <div ng-message when="pattern"><span>Only text is allowed.</span></div>
                        <div ng-message when="minlength"><span>Minimum 1 character is required.</span></div>
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>
            </div>

            <div layout="row" layout-align="start center"> </div>
        </form>
    </tri-widget>

    <tri-widget flex flex="50" flex-xs="100" class="mrgL-10  margin-bottom-10" title="Notes">
        <md-divider></md-divider>
        <md-input-container flex class="mrgL-10 mrgR-10">

            <textarea ng-disabled="vm.FamilyId>0||vm.IsEnableForStaff==true" ng-model="vm.StudentDetails.Description" name="Description"></textarea>

        </md-input-container>
        
        <div class="button-toolbar" layout="row" layout-align="end center" ng-if="vm.FamilyId==0&&vm.IsEnableForStaff==0">
            <md-button class="md-primary md-raised" ng-click="vm.updateParticipant(vm.StudentDetails)" ng-disabled="parentForm.$invalid">Update</md-button>
        </div>
    </tri-widget>


</div>