<div>
  <h3 class="left-heading">Schedule</h3>
  <md-card-actions layout="row" layout-xs="column" layout-align="end center ">
    <md-button class="md-primary"  ng-click="vm.addschedule($event)">
      <md-icon md-font-icon="fa fa-plus"></md-icon>
      Add Schedule</md-button>
  </md-card-actions>
  <div class="clear"></div>
  <md-divider></md-divider>
  <md-table-container class="lesson-table" >
    <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
      <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
        <tr md-row>
          <th md-column>Category</th>
          <th md-column>Class</th>
          <th md-column>Start Date</th>
          <th md-column>End Date</th>
          <th md-column>Mon</th>
          <th md-column>Tue</th>
          <th md-column>Wed</th>
          <th md-column>Thu</th>
          <th md-column>Fri</th>
          <th md-column>Sat</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row >
          <td md-cell>Infant</td>
          <td md-cell>Test Class 1</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>09/11/2016</td>
          <td md-cell>10.00am-11.00am</td>
          <td md-cell>10.00am-11.00am</td>
          <td md-cell>10.00am-11.00am</td>
          <td md-cell>10.00am-11.00am</td>
          <td md-cell>10.00am-11.00am</td>
          <td md-cell>10.00am-11.00am</td>
        </tr>
        <tr md-row >
          <td md-cell>Pre-School</td>
          <td md-cell>Test Class 2</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>09/11/2016</td>
          <td md-cell>10.00am-11.00am</td>
          <td md-cell>10.00am-11.00am</td>
          <td md-cell>10.00am-11.00am</td>
          <td md-cell>10.00am-11.00am</td>
          <td md-cell>10.00am-11.00am</td>
          <td md-cell>10.00am-11.00am</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
</div>
