<h3 class="left-heading">Skills</h3>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary" ng-click="vm.addskill($event)">
      <md-icon md-font-icon="fa fa-plus"></md-icon>
      Add Skill</md-button>
  </md-card-actions>
  <div class="clear"></div>
  <md-divider></md-divider>
<md-table-container class="lesson-table">
  <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
    <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
      <tr md-row>
        <th md-column>Skills</th>
        <th md-column>Skill</th>
        <th md-column>Subskill</th>
        <th md-column>Date Started</th>
        <th md-column>Date Attained</th>
        <th md-column>Notes</th>
        <th md-column>Instructor</th>
        <th md-column class="text-center">Action</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row >
        <td md-cell>Infant</td>
        <td md-cell>Feeding</td>
        <td md-cell>-</td>
        <td md-cell>08/11/2016</td>
        <td md-cell>09/11/2016</td>
        <td md-cell>Test Notes</td>
        <td md-cell>Daniel Ross</td>
        <td md-cell class="text-center">
        	<md-card-actions layout="row" layout-align="end center ">
              <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-trash"></md-icon>
              </md-button>
            </md-card-actions>
            </td>
      </tr>
     <tr md-row >
        <td md-cell>Infant</td>
        <td md-cell>Feeding</td>
        <td md-cell>-</td>
        <td md-cell>08/11/2016</td>
        <td md-cell>09/11/2016</td>
        <td md-cell>Test Notes</td>
        <td md-cell>Daniel Ross</td>
        <td md-cell>
        	<md-card-actions layout="row" layout-align="end center ">
              <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-trash"></md-icon>
              </md-button>
            </md-card-actions>
            </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
