<h3 class="left-heading">Tution Fee</h3>
  <md-card-actions layout="row" layout-align="end center ">
    <md-button class="md-primary" ng-click="vm.addtution($event)">
      <md-icon md-font-icon="fa fa-plus"></md-icon>
      Add Tution</md-button>
  </md-card-actions>
  <div class="clear"></div>
  <md-divider></md-divider>
<md-table-container class="lesson-table">
  <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
    <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
      <tr md-row>
        <th md-column>Payer Name</th>
        <th md-column>Payer Relation</th>
        <th md-column>Tution Rate</th>
        <th md-column>Tution Cycle</th>
        <th md-column>Rate Amount</th>
        <th md-column>Discount</th>
        <th md-column>Net Tution</th>
        <th md-column>From</th>
        <th md-column>To</th>
        <th md-column class="text-center">Action</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row >
        <td md-cell>Emily Green</td>
        <td md-cell>Mother</td>
        <td md-cell>Tution Fee(Monthly-20)</td>
        <td md-cell>Monthly</td>
        <td md-cell>200.00</td>
        <td md-cell>0.00</td>
        <td md-cell>200.00</td>
        <td md-cell>08/11/2016</td>
        <td md-cell>09/11/2016</td>
        <td md-cell>
        	<md-card-actions layout="row" layout-align="end center ">
            <md-button class="md-primary" ng-click="vm.edittution($event)">
                <md-icon md-font-icon="fa fa-edit"></md-icon>
              </md-button>
              <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-trash"></md-icon>
              </md-button>
              </md-card-actions>
            </td>
      </tr>
     
    </tbody>
  </table>
</md-table-container>
<md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
