<form name="registerRoom">
	<h2>Add Room</h2>
	<div layout="row" layout-xs="column">
		<div flex>
			<md-input-container class="md-block mrgR-10">
				<label translate>Location</label>
				<md-select name="location" id="location" ng-model="vm.Room.AgencyLocationInfoId" required>
					<md-option ng-repeat="option in vm.AllLocations" value="{{option.ID}}">{{option.LocationName}}</md-option>
				</md-select>
				<div ng-messages="registerClass.location.$error" md-auto-hide="false" ng-show="registerClass.location.$touched">
					<div ng-message when="required"><span>Please choose location.</span></div>
				</div>
			</md-input-container>
		</div>
		<div flex>
			<md-input-container class="md-block mrgL-10">
				<label for="Room">Room</label>
				<input type="text" label="Room" name="Room" id="Room" ng-model="vm.Room.Name" md-maxlength="50" required>
				<div ng-messages="registerRoom.Room.$error" md-auto-hide="false" ng-show="registerRoom.Room.$touched">
					<div ng-message when="required"><span>Please enter Room.</span></div>
				</div>
			</md-input-container>
		</div>

	</div>

	<div layout layout="row" layout-align="end center">
		<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addRoom(registerRoom)"
			ng-disabled="registerRoom.$invalid" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>
		<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.loginClick()"
			ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
	</div>
	<!--</md-whiteframe>-->
	<!--</md-card-content>-->
	<!--</md-card>-->
</form>
<!--</md-content>-->