<!--<md-content class="padded-content-page">-->
<form name="registerStatus">
	<!--<md-card flex>-->
		<!--<md-card-content>-->
			<!--Child Information-->
			<!--<md-whiteframe class="md-whiteframe-z5 margin-20">-->
				<!--<h2>Category Information</h2>-->
				<h2>Add Status</h2>
				<div layout layout-xs="column" flex>

					<md-input-container flex>
						<label for="Status">Status</label>
						<input type="text" label="Status" name="Status" id="Status" ng-model="vm.Status.Name" md-maxlength="50" required>
						<div ng-messages="registerStatus.Status.$error" md-auto-hide="false" ng-show="registerStatus.Status.$touched">
							<div ng-message when="required"><span>Please enter Status.</span></div>
						</div>
					</md-input-container>
				</div>
				<div layout layout-xs="column" flex>
				</div>
				<div layout layout="row" layout-align="end center">
					<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addStatus(registerStatus)"
						ng-disabled="registerStatus.$invalid" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>
					<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.loginClick()"
						ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
				</div>
			<!--</md-whiteframe>-->
		<!--</md-card-content>-->
	<!--</md-card>-->
</form>
<!--</md-content>-->