<form name="registerSession">
	<h2>Add Session</h2>
	<h2>From</h2>
	<div layout layout-xs="column" flex>

		<md-input-container flex>
			<label for="frommonth">Month</label>
			<md-select placeholder="Select month" name="frommonth" id="frommonth" ng-model="Session.frommonth" ng-change="vm.ValidateSession();"
				required>
				<md-option ng-repeat="month in Months" ng-value="month.id">
					{{month.name}}
				</md-option>
			</md-select>
			<div ng-messages="registerSession.frommonth.$error" md-auto-hide="false" ng-show="registerSession.frommonth.$touched">
				<div ng-message when="required"><span>Please select month.</span></div>
				<div ng-show="vm.monthValidation"><span>From date must be lesser than To date.</span></div>
			</div>
		</md-input-container>
		<md-input-container flex>
			<label for="fromyear">Year</label>
			<input type="number" label="year" name="fromyear" id="fromyear" ng-min="vm.currentYear" ng-max="Session.toyear" ng-model="Session.fromyear"
				ng-minlength="4" ng-maxlength="4" ng-change="vm.ValidateSession();" required>
			<div ng-messages="registerSession.fromyear.$error" md-auto-hide="false" ng-show="registerSession.fromyear.$touched">
				<div ng-message when="required"><span>Please enter year.</span></div>
				<div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
				<div ng-message when="minlength"><span>Minlength length is 4.</span></div>
				<div ng-message when="max"><span>Value must be less than end year.</span></div>
				<div ng-message when="min"><span>Value must be equal/greater than current year.</span></div>
			</div>
		</md-input-container>
	</div>
	<h2>To</h2>
	<div layout layout-xs="column" flex>
		<md-input-container flex>
			<label for="tomonth">Month</label>
			<md-select placeholder="Select month" name="tomonth" id="tomonth" ng-model="Session.tomonth" ng-change="vm.ValidateSession();"
				required>
				<md-option ng-repeat="month in Months" ng-value="month.id">
					{{month.name}}
				</md-option>
			</md-select>
			<div ng-messages="registerSession.tomonth.$error" md-auto-hide="false" ng-show="registerSession.tomonth.$touched">
				<div ng-message when="required"><span>Please select month.</span></div>
			</div>
		</md-input-container>
		<md-input-container flex>
			<label for="toyear">Year</label>
			<input type="number" label="year" name="toyear" id="toyear" ng-min="Session.fromyear" ng-model="Session.toyear" ng-minlength="4"
				ng-maxlength="4" ng-change="vm.ValidateSession();" required>
			<div ng-messages="registerSession.toyear.$error" md-auto-hide="false" ng-show="registerSession.toyear.$touched">
				<div ng-message when="required"><span>Please enter year.</span></div>
				<div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
				<div ng-message when="minlength"><span>Minlength length is 4.</span></div>
				<div ng-message when="min"><span>Value must be greater than from year</span></div>
			</div>
		</md-input-container>
	</div>
	<div layout layout="row" layout-align="end center">
		<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addSession(registerSession)"
			ng-disabled="registerSession.$invalid || vm.monthValidation" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>
		<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.loginClick()"
			ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
	</div>
</form>