	
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Class</h2>
		</div>
	</md-toolbar>
	<div class="padding-20">
	<md-card  flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
		<md-card-content>
			<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
			<md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always" md-dynamic-height>
				<md-tab label="Category">
					<div flex ng-controller="CategoryController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Classes/Views/addcategory.tmpl.html'" ></md-content>
						<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Category List</h2>
							
							<span flex></span>
							<span><h3>Search</h3></span>
							<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
								<md-icon class="searchIcon whiteColor" md-font-icon="zmdi zmdi-filter-list" ></md-icon>
								<md-tooltip>Search</md-tooltip>
							</md-button>
						</div>
						<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
							<md-toolbar class="md-theme-light">
								<h1 class="md-toolbar-tools">Search</h1>
							</md-toolbar>
							<div class="padded-content-page">
								<md-content class="overflowVisible">
									<form id="Search">
										<div layout layout-xs="column" flex>
											<md-input-container flex>
												<label for="name">Category</label>
												<input type="text" label="name" name="name" id="name" ng-model="query.name" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="text-center">
												<md-button class="md-primary md-raised" ng-click="vm.GetCategoryList()">Search</md-button>
												<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
												<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
											</md-input-container>
										</div>
									</form>
								</md-content>
							</div>
						</md-sidenav>
						<md-content ng-include="'app/Tools/Classes/Views/categorylist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Room">
					<div flex ng-controller="RoomController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Classes/Views/addroom.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Room List</h2>
							<span flex></span>
							<span><h3>Search</h3></span>
							<md-button ng-click="vm.toggleRight1()" ng-hide="vm.isOpenRight1()" class="md-icon-button" aria-label="Settings">
								<md-icon class="searchIcon whiteColor" md-font-icon="zmdi zmdi-filter-list" ></md-icon>
								<md-tooltip>Search</md-tooltip>
							</md-button>
						</div>
						<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right1">
							<md-toolbar class="md-theme-light">
								<h1 class="md-toolbar-tools">Search</h1>
							</md-toolbar>
							<div class="padded-content-page">
								<md-content class="overflowVisible">
									<form id="Search">
										<div layout layout-xs="column" flex>
											<md-input-container flex>
												<label for="name">Room</label>
												<input type="text" label="name" name="name" id="name" ng-model="query.name" ng-maxlength="100">
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="text-center">
												<md-button class="md-primary md-raised" ng-click="vm.GetRoomList()">Search</md-button>
												<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
												<md-button ng-click="vm.close1()" class="md-warn md-raised">Close</md-button>
											</md-input-container>
										</div>
									</form>
								</md-content>
							</div>
						</md-sidenav>
						<md-content ng-include="'app/Tools/Classes/Views/roomlist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Session">
					<div flex ng-controller="ClassSessionController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Classes/Views/addsession.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Session List</h2>
							<span flex></span>
							<span><h3>Search</h3></span>
							<md-button ng-click="vm.toggleRight2()" ng-hide="vm.isOpenRight2()" class="md-icon-button" aria-label="Settings">
								<md-icon class="whiteColor searchIcon" md-font-icon="zmdi zmdi-filter-list" class="whiteColor"></md-icon>
								<md-tooltip>Search</md-tooltip>
							</md-button>
						</div>
						<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right2">
							<md-toolbar class="md-theme-light">
								<h1 class="md-toolbar-tools">Search</h1>
							</md-toolbar>
							<div class="padded-content-page">
								<md-content class="overflowVisible">
									<form name="registerSession1">
										<h2>From</h2>
										<div layout layout-xs="column" flex>

											<md-input-container flex class="select-font-size">
												<label for="frommonth">Month</label>
												<md-select placeholder="Select month" name="frommonth" id="frommonth" ng-model="Session1.frommonth" ng-change="vm.ValidateSearchSession();"
													required>
													<md-option ng-repeat="month in Months" ng-value="month.id">
														{{month.name}}
													</md-option>
												</md-select>
												<div ng-messages="registerSession1.frommonth.$error" md-auto-hide="false" ng-show="registerSession1.frommonth.$touched">
													<div ng-message when="required"><span>Please select month.</span></div>
													<div ng-show="vm.monthValidation1"><span>From date must be lesser than to date.</span></div>
												</div>
											</md-input-container>
											<md-input-container flex>
												<label for="fromyear">Year</label>
												<input type="number" label="year" name="fromyear" id="fromyear" ng-min="vm.currentYear" ng-max="Session1.toyear" ng-model="Session1.fromyear"
													ng-minlength="4" ng-maxlength="4" ng-change="vm.ValidateSearchSession();" required>
												<div ng-messages="registerSession1.fromyear.$error" md-auto-hide="false" ng-show="registerSession1.fromyear.$touched">
													<div ng-message when="required"><span>Please enter year.</span></div>
													<div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
													<div ng-message when="minlength"><span>Minimum length length is 4.</span></div>
													<div ng-message when="max"><span>Value must be less than end year.</span></div>
													<div ng-message when="min"><span>Value must be equal/greater than current year.</span></div>
												</div>
											</md-input-container>
										</div>
										<h2>To</h2>
										<div layout layout-xs="column" flex>
											<md-input-container flex>
												<label for="tomonth">Month</label>
												<md-select placeholder="Select month" name="tomonth" id="tomonth" ng-model="Session1.tomonth" ng-change="vm.ValidateSearchSession();"
													required>
													<md-option ng-repeat="month in Months" ng-value="month.id">
														{{month.name}}
													</md-option>
												</md-select>
												<div ng-messages="registerSession1.tomonth.$error" md-auto-hide="false" ng-show="registerSession1.tomonth.$touched">
													<div ng-message when="required"><span>Please select month.</span></div>
												</div>
											</md-input-container>
											<md-input-container flex>
												<label for="toyear">Year</label>
												<input type="number" label="year" name="toyear" id="toyear" ng-min="Session1.fromyear" ng-model="Session1.toyear" ng-minlength="4"
													ng-maxlength="4" ng-change="vm.ValidateSearchSession();" required>
												<div ng-messages="registerSession1.toyear.$error" md-auto-hide="false" ng-show="registerSession1.toyear.$touched">
													<div ng-message when="required"><span>Please enter year.</span></div>
													<div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
													<div ng-message when="minlength"><span>Minimum length length is 4.</span></div>
													<div ng-message when="min"><span>Value must be greater than from year</span></div>
												</div>
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="text-center">
												<md-button class="md-primary md-raised" ng-click="vm.GetSearchedSessionList(registerSession1)" ng-disabled="registerSession1.$invalid || vm.monthValidation1">Search</md-button>
												<md-button class="md-accent md-raised" ng-click="vm.reset(registerSession1)">Reset</md-button>
												<md-button ng-click="vm.close2()" class="md-warn md-raised">Close</md-button>
											</md-input-container>
										</div>
									</form>
								</md-content>
							</div>
						</md-sidenav>
						<md-content ng-include="'app/Tools/Classes/Views/sessionlist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Status">
					<div flex ng-controller="StatusController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Classes/Views/addstatus.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Status List</h2>
							<span flex></span>
							<span><h3>Search</h3></span>
							<md-button ng-click="vm.toggleRight3()" ng-hide="vm.isOpenRight3()" class="md-icon-button" aria-label="Settings">
								<md-icon md-font-icon="zmdi zmdi-filter-list" class="whiteColor searchIcon"></md-icon>
								<md-tooltip>Search</md-tooltip>
							</md-button>
						</div>
						<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right3">
							<md-toolbar class="md-theme-light">
								<h1 class="md-toolbar-tools">Search</h1>
							</md-toolbar>
							<div class="padded-content-page">
								<md-content class="overflowVisible">
									<form id="Search">
										<div layout layout-xs="column" flex>
											<md-input-container flex>
												<label for="name">Status</label>
												<input type="text" label="name" name="name" id="name" ng-model="query.name" ng-maxlength="100">
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="text-center">
												<md-button class="md-primary md-raised" ng-click="vm.GetStatusList()">Search</md-button>
												<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
												<md-button ng-click="vm.close3()" class="md-warn md-raised">Close</md-button>
											</md-input-container>
										</div>
									</form>
								</md-content>
							</div>
						</md-sidenav>
						<md-content ng-include="'app/Tools/Classes/Views/classstatuslist.tmpl.html'"></md-content>
					</div>
				</md-tab>
			</md-tabs>
		</md-card-content>
	</md-card>
	</div>
