
<div class="padding-20">
	
		<h3><strong>Period :</strong> {{Period}}</h3>

</div>
<form name="">
	<div>
			
			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
	<md-table-container>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
	<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped"  ng-model="selected"
		>
		<thead md-head md-order="query.order" md-on-reorder="vm.GetSessionList">
			<tr md-row>
				<!--<th md-column><span>#</span></th>-->
				<th md-column md-order-by="Name"><span>{{vm.columns.Name}}</span></th>
				<th md-column><span>ACTION</span></th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row md-auto-select md-select="session" @*md-select-id="session.ID" *@ ng-repeat="session in vm.sessionList">
				<!--<td md-cell>{{ $index + 1 }}</td>-->
				<td md-cell>{{session.Name}}</td>
				<td md-cell>
					<a class="md-primary" ng-click="vm.showUpdateSessionDialoue($event,session)" style="cursor:pointer">
						<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
					<md-tooltip>Edit</md-tooltip>
					</a> &nbsp;
					<a class="md-primary" ng-click="vm.showDeleteSessionConfirmDialoue($event,session)" style="cursor:pointer">
						<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
						</md-icon>
						<md-tooltip>Delete</md-tooltip>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	</md-table-container>
	<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Session list found.</h2>
                </md-input-container>
            </div>
	<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.sessionCount}}"
		md-on-paginate="vm.GetSessionList" md-page-select></md-table-pagination>
		</div>
		</div>
</form>