<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
	<md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
		<div class="md-toolbar-tools">
			<h2>Update Session</h2>
		</div>
	</md-toolbar>
	<md-divider></md-divider>
	<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
	<!--<div class="md-tabs-content padding-40">-->
	<md-dialog-content class="md-dialog-content">
		<form name="updateSessionform">
			<h2>From</h2>
			<div layout layout-xs="column" flex>
				<md-input-container flex>
					<label for="frommonth">Month</label>
					<md-select placeholder="select month" name="frommonth" id="frommonth" ng-model="vm.updatesessionmodel.frommonth" ng-change="vm.ValidateSession();"
						required>
						<md-option ng-repeat="month in Months" ng-value="month.id">
							{{month.name}}
						</md-option>
					</md-select>
					<div ng-messages="updateSessionform.frommonth.$error" md-auto-hide="false" ng-show="updateSessionform.frommonth.$touched">
						<div ng-message when="required"><span>Please select month.</span></div>
						<div ng-show="vm.monthValidation"><span>From date must be lesser than to date.</span></div>
					</div>
				</md-input-container>
				<md-input-container flex>
					<label for="fromyear">Year</label>
					<input type="number" label="year" name="fromyear" id="fromyear" ng-min="vm.currentYear" ng-max="vm.updatesessionmodel.toyear"
						ng-model="vm.updatesessionmodel.fromyear" ng-minlength="4" ng-maxlength="4" ng-change="vm.ValidateSession();" required>
					<div ng-messages="updateSessionform.fromyear.$error" md-auto-hide="false" ng-show="updateSessionform.fromyear.$touched">
						<div ng-message when="required"><span>Please enter year.</span></div>
						<div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
						<div ng-message when="minlength"><span>Minimum length is 4.</span></div>
						<div ng-message when="max"><span>Value must be less than end year.</span></div>
						<div ng-message when="min"><span>Value must be equal/greater than current year.</span></div>
					</div>
				</md-input-container>
			</div>
			<h2>To</h2>
			<div layout layout-xs="column" flex>
				<md-input-container flex>
					<label for="tomonth">Month</label>
					<md-select placeholder="select month" name="tomonth" id="tomonth" ng-model="vm.updatesessionmodel.tomonth" ng-change="vm.ValidateSession();"
						required>
						<md-option ng-repeat="month in Months" ng-value="month.id">
							{{month.name}}
						</md-option>
					</md-select>
					<div ng-messages="updateSessionform.tomonth.$error" md-auto-hide="false" ng-show="updateSessionform.tomonth.$touched">
						<div ng-message when="required"><span>Please select month.</span></div>
					</div>
				</md-input-container>
				<md-input-container flex>
					<label for="toyear">Year</label>
					<input type="number" label="year" name="toyear" id="toyear" ng-min="vm.updatesessionmodel.fromyear" ng-model="vm.updatesessionmodel.toyear"
						ng-minlength="4" ng-maxlength="4" ng-change="vm.ValidateSession();" required>
					<div ng-messages="updateSessionform.toyear.$error" md-auto-hide="false" ng-show="updateSessionform.toyear.$touched">
						<div ng-message when="required"><span>Please enter year.</span></div>
						<div ng-message when="maxlength"><span>Maximum length is 4.</span></div>
						<div ng-message when="minlength"><span>Minimum length is 4.</span></div>
						<div ng-message when="min"><span>Value must be greater than from year</span></div>
					</div>
				</md-input-container>
			</div>
			<div layout layout="row" layout-align="end center">
				<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateSession(updateSessionform)"
					ng-disabled="updateSessionform.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Update</md-button>
				<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
					translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
			</div>		<!--</md-whiteframe>-->
		</form>
	</md-dialog-content>
	<!--</div>-->
	<!--</div>-->
</md-dialog>