<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Update Room</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="updateRoom">
            <h2>Room Information</h2>
            <div layout="row" layout-xs="column">
                <div flex>
                    <md-input-container class="md-block mrgR-10">
                        <label translate>Location</label>
                        <md-select name="location" id="location" ng-model="vm.room.AgencyLocationInfoId" required>
                            <md-option ng-repeat="option in vm.AllLocations" value="{{option.ID}}">{{option.LocationName}}</md-option>
                        </md-select>
                        <div ng-messages="registerClass.location.$error" md-auto-hide="false" ng-show="registerClass.location.$touched">
                            <div ng-message when="required"><span>Please choose location.</span></div>
                        </div>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container class="md-block mrgL-10">
                        <label for="Room">Room</label>
                        <input type="text" label="Room" name="Room" id="Room" ng-model="vm.room.Name" md-maxlength="50" required>
                        <div ng-messages="updateRoom.Room.$error" md-auto-hide="false" ng-show="updateRoom.Room.$touched">
                            <div ng-message when="required"><span>Please enter room.</span></div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateRoom(updateRoom)"
                    ng-disabled="updateRoom.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Update</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>