<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Update Duration</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="updateDuration">
            <h2>Duration Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Duration">Duration</label>
                    <input type="text" label="Duration" name="Duration" id="Duration" ng-model="vm.duration.Name" md-maxlength="50" required>
                    <div ng-messages="updateDuration.Duration.$error" md-auto-hide="false" ng-show="updateDuration.Duration.$touched">
                        <div ng-message when="required"><span>Please enter duration.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateDuration(updateDuration)"
                    ng-disabled="updateDuration.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Update</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>