<!--<md-content class="padded-content-page">-->
<form name="registerRoom">
	<!--<md-card flex>-->
	<!--<md-card-content>-->
	<!--Child Information-->
	<!--<md-whiteframe class="md-whiteframe-z5 margin-20">-->
	<div layout layout-xs="column" flex>
		
		<md-input-container flex mrgL-10>
			<label for="Room">Room</label>
			<input type="text" label="Room" name="Room" id="Room" ng-model="vm.Room.Name" md-maxlength="50" required>
			<div ng-messages="registerRoom.Room.$error" md-auto-hide="false" ng-show="registerRoom.Room.$touched">
				<div ng-message when="required"><span>Please enter Room.</span></div>
			</div>
		</md-input-container>

	</div>
	<div layout layout-xs="column" flex>



	</div>
	<div layout layout="row" layout-align="end center">
		<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addRoom(registerRoom)"
			ng-disabled="registerRoom.$invalid" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>
		<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.loginClick()"
			ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
	</div>
	<!--</md-whiteframe>-->
	<!--</md-card-content>-->
	<!--</md-card>-->
</form>
<!--</md-content>-->