@font-face {
	font-family: 'Segoe Script';
	src: url('../fonts/SegoeScript-Bold.eot');
	src: url('../fonts/SegoeScript-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeScript-Bold.woff') format('woff'),
		url('../fonts/SegoeScript-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OswaldStencilRegular';
	src: url('../fonts/OswaldStencilRegular.eot');
	src: url('../fonts/OswaldStencilRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OswaldStencilRegular.woff') format('woff'),
		url('../fonts/OswaldStencilRegular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/Pacifico-Regular.eot');
	src: url('../fonts/Pacifico-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Pacifico-Regular.woff') format('woff'),
		url('../fonts/Pacifico-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    width: 100%;
    height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}

html {
    width: 100%;
    height: 100%;
}
img{ max-width:100%;}
a{-moz-transition: all 0.3s;
 -webkit-transition:all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
	  }
p{ color:#636363; font-size:16px;}
.intro-section {text-align: center;}
/* CSS for child care start*/
.top-nav-collapse.navbar-default{ background-color:#37a4cc;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {width:100%;}
.navbar-brand { padding: 5px 15px;}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  font-size: 48px; color:#2a929a; margin-top: -10px;}
.carousel-control .fa-angle-left, .carousel-control .icon-prev { left: 50%; margin-left: -10px;}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  display: inline-block; margin-top:0px; position: absolute; top: 50%; z-index: 5;}
.carousel-control .fa-angle-left, .carousel-control .icon-next { margin-right: -10px; right: 50%;}
.carousel-control.right, .carousel-control.left{ background:none; text-shadow:none;}
.carousel-control { width: 5%;}
.carousel-control.right { right: 10px;}


.navbar-default .navbar-brand{
	width:auto;
	height:auto;
	-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
	
	}
.navbar-default .navbar-brand img{	-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;}
.navbar-default{ background-color:#37a4cc; border:none;}

.top-nav-collapse.navbar-default .navbar-brand { height: auto;  padding:0 15px;
-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}
.top-nav-collapse.navbar-default .navbar-brand img{ max-width:50%;
	-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;}
.top-nav-collapse.navbar-default .navbar-nav {
  margin-top: 4px;
  -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}  
.navbar-default .navbar-nav > li > a {
  color: #b2eaff;
  font-size:20px;
 font-family: 'Segoe Script';
border-bottom:3px solid transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #e7ff6e;
  border:3px solid transparent;
  border-radius:5px;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
   border-bottom:3px solid #288fb5;
  color: #b2eaff;
  outline:none;
}
.navbar-default .navbar-nav > li > a:focus{
	 background-color: transparent;
   border-bottom:3px solid #288fb5;
  color: #b2eaff;
  outline:none;
}
.navbar-nav > li{ margin:0 15px;}
.navbar-nav > li > a { padding:8px 3px;}
.navbar-right{ margin-right:0;}


.navbar-nav > li a.signin-btn {
  background-color: #236f8b;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: -20px;
  margin-top: -33px;
  padding: 20px 20px 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  border:none;
  -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}
.navbar-nav > li a:hover.signin-btn, .navbar-nav > li a:focus.signin-btn{ background-color:#05626c; color:#fff;border:none;}
.navbar-nav > li a.signin-btn span{ display:block; margin-bottom:10px;-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #002e70;
}
.navbar-nav > li.drawer .dropdown-menu > li > a:focus, .navbar-nav > li.drawer .dropdown-menu > li > a:hover {
  background-color: #0c4ba6;
  text-decoration: none;
}
.navbar-nav { margin-top:23px; -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;}

.top-nav-collapse .navbar-nav > li a.signin-btn {
  margin-bottom: -20px;
  margin-top: -28px;
  padding: 20px 20px 7px;
}
.top-nav-collapse .navbar-nav > li a.signin-btn span {
  margin-bottom: 4px;
}
.intro-section .carousel-caption h2{ font-size:57px; color:#ffffff; text-transform:uppercase; margin:0 0 8px 0;  font-weight:600; line-height:52px;}
.intro-section .carousel-caption h3{ font-size:30px; color:#ffffff; text-transform:uppercase; margin:0 0 20px 0; font-weight:400; line-height:30px;}
.intro-section .carousel-caption h5{ font-size:18px; color:#ffffff; text-transform:uppercase; margin:0 0 10px 0;  font-weight:300; line-height:18px;}

.pink-btn{ background-color:#ffa800; color:#fff; display:inline-block; font-size:25px; font-weight:400; border-radius:50px; padding:10px 25px 15px; text-align:center; min-width:196px;}
.pink-btn:hover, .pink-btn:focus{ background-color:#df9301; color:#fff;}
.intro-section .carousel-caption { top: 38%;}


.main-titles{ margin:0 0 30px 0; padding:0 40px; font-size:45px; font-weight:bold; text-align:center; display:inline-block; position:relative; text-transform:uppercase;font-family: 'OswaldStencilRegular'; line-height:0;}
.main-titles:before{ position:absolute; content:""; left:-110px; top:8px; width:112px; height:28px; background:url(../images/head_left_white.png) top left no-repeat; background-size:100%;}
.main-titles:after{ position:absolute; content:""; right:-130px; top:12px; width:131px; height:28px; background:url(../images/head_right_white.png) top left no-repeat; background-size:100%;}
.welcome{ background:url(../images/welcome_bg.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; position:relative;}
.welcome h2{ color:#fff;}
.welcome p{ text-align:center; color:#fff; font-size:26px; font-weight:300; line-height:41px; padding:0 5%;}
.welcome-content{ padding:40px 0 0 0;}
.welcome-overlay{ position:absolute; height:100%; width:100%; left:0; top:0; background-color:rgba(63,176,217,0.65);}
.computer-screen{ position:relative; text-align:center; margin-top:40px;}
.computer-screen img{ position:relative;}
.comp-content{ position:absolute; left:0; right:0; width:100%; top:22%;}
.demo-txt{font-family: 'Pacifico'; font-size:40px; color:#fff; font-weight:normal; text-align:center; display:block; margin-top:20px;}
.blue-bg{ background:#3fb0d9; padding:30px 0; }
.blue-bg p{ font-size:26px; font-weight:300; color:#fff; margin-bottom:0; line-height:41px; padding:0;}
.parent-portal{ background:#edede7; position:relative; padding:30px 0 130px 0;}
.parent-portal .main-titles{ color:#fc5170;}
.parent-portal .main-titles:before{ background:url(../images/head_left_red.png) top left no-repeat;}
.parent-portal .main-titles:after{ background:url(../images/head_right_red.png) top left no-repeat;}
.parent-content{ text-align:center; padding:0 5%;}
.parent-content h3{ font-size:35px; font-weight:400; color:#3fb0d9; margin:100px 10% 20px;}
.parent-content p{ font-weight:100; color:#5b5b5b; margin-bottom:20px;}
.parent-img{ position:absolute; right:0; bottom:0;}
.pos-rel{ position:relative;}

.event-sec{ background:url(../images/event_bg.jpg) top center no-repeat; background-size:cover; background-attachment:fixed; min-height:669px; position:relative;}
.event-overlay{ position:absolute; height:100%; width:100%; left:0; top:0; background-color:rgba(63,176,217,0.50);}
.event-content{ padding:40px 0;}
.event-sec .main-titles{ color:#fff;}
.event-sec p{ text-align:center; color:#fff; font-size:26px; font-weight:300; line-height:41px; padding:0 5%;}
.event-box{ background:#393333; border-radius:50%; width:284px; height:284px; margin:40px auto 0 auto; text-align:center; padding:70px 0;}
.event-box i{ font-size:80px; color:#fff;}
.event-box h4{ font-size:27px; color:#fff; margin:20px 20px 0; text-transform:uppercase; font-weight:400;}
.event-box.yellow{ background:#ffa800;}
.event-box.red{ background:#fc5170;}
.event-box.green{ background:#63ba3d;}
.quick-sec{ background:#ffffff; padding:0;}
.quick-sec .main-titles{ color:#63ba3d;}
.quick-sec .main-titles:before{ background:url(../images/head_left_green.png) top left no-repeat;}
.quick-sec .main-titles:after{ background:url(../images/head_right_green.png) top left no-repeat;}
.quick-content{  padding:30px 0 150px 0; position:relative; z-index:1;}
.quick-bg{ position:absolute; bottom:0; left:0; right:0; margin:0 auto; height:100%; width:100%; background:url(../images/quick_bg.jpg) bottom right no-repeat; z-index:0;}
.pdT40{ padding-top:40px;}
.more-btn{ background:#3fb0d9; border-radius:5px; color:#fff; font-size:20px; font-weight:300; padding:12px 15px; min-width:158px; display:inline-block;}
.more-btn:hover, .more-btn:focus{ background:#2b93b9; color:#fff; text-decoration:none;}
/* CSS for child care start*/



.footer{ background:url(../images/footer_bg.jpg) top center no-repeat; background-size:cover;  padding-top:50px;}
.footer h3{ color:#ffffff;  margin:0 0 25px 0; font-size:24px; font-weight:300;  position:relative; line-height:24px;}
ul.footer-link{ margin:0; padding:0; list-style:none;}
ul.footer-link li{ display:block;}
ul.footer-link li a{ display:inline-block; color:#ffffff; font-weight:100; font-size:16px; padding:0 0 5px 0;}

ul.footer-social{ margin:20px 0 0; padding:0; list-style:none;}
ul.footer-social li{ display:inline-block; margin-left:8px;}
ul.footer-social li a{ display:block; width:47px; height:47px; background-color:#464a2f; border-radius:50%; color:#fff; text-align:center; line-height:47px; font-size:22px;}
ul.footer-social li a.fb{ background:#2685c4;}
ul.footer-social li a.gplus{ background:#e88970;}
ul.footer-social li a.tw{ background:#03a9ff;}
ul.footer-social li a.inst{ background:#fc5170;}
ul.footer-social li a:hover, ul.footer-social li a:focus{ background-color:#0a5772;}

.intro-section{ position:relative;}
.footer-last{ text-align:right;}
.signup-btn{ display:inline-block; background:#3c9b9f; border-radius:5px; min-width:220px; color:#fff; text-align:center; font-size:20px; font-weight:300; padding:10px 15px;}
.signup-btn:hover, .signup-btn:focus{ background:#238286; color:#fff; text-decoration:none;}
/*new css*/

.usecase-box{ height:auto; min-height:300px; padding: 50px 20px;}
.usecase-box h4{ margin-bottom:20px;}
.box-pic { height: 140px;}
.usecase-box h4 { display: table; font-size: 22px;  height: 50px;  width: 100%;}
.usecase-box h4 span{ display:table-cell; vertical-align:bottom;}
.copyright-bg{ background:#3c9b9f; text-align:center; padding:15px 0; color:#fff; font-size:13px; font-weight:300; letter-spacing:1px; margin-top:30px;}

.back-to-top { cursor: pointer;position: fixed; bottom: 20px; right: 20px; display:none;}
.backtotop-btn{ background:#fc5170; border-radius:50%; color:#fff; font-size:36px; width:70px; height:70px;box-shadow:0px 3px 3px #555;}
.backtotop-btn:hover, .backtotop-btn:focus { color:#fff; outline:none; background:#e83a5a; }
.backtotop-btn:active{outline:none;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline:none;
  outline-offset: -2px;
}



@media(min-width:767px) {
    .navbar {
        padding:10px 0;
		background:#37a4cc;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding:10px 0;
    }
}
@media(max-width:1200px) {
	
}
@media(max-width:1200px) {
	
}
@media(max-width:1024px) {
	
	}
@media(max-width:980px) {
.navbar-nav > li > a { padding: 8px 7px;}
.navbar-default .navbar-nav > li > a { font-size: 15px;}
.navbar-header { width: 140px;}
.navbar-nav > li { margin: 0 2px;}
.navbar-nav { margin-top: 13px;}
.navbar-nav > li a.signin-btn { padding: 17px 20px 12px;}
.top-nav-collapse.navbar-default .navbar-brand img { max-width: 80%;}

}
@media(max-width:767px) {
	.navbar-header { width:auto;}
	.navbar-brand > img { max-width: 45%;}
	.top-nav-collapse.navbar-default .navbar-brand{ padding: 5px 15px;}
	.navbar-toggle { margin-left: 15px; float:left; position:relative; z-index:1;}
	.navbar-default .navbar-toggle {border-color: #fff;}
	.navbar-default .navbar-toggle .icon-bar { background-color: #fff;}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #387988;}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { background-color: rgba(9,88,114,0.9); padding:0;}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form { border: medium none;}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
		border-radius:0;
		border-left:none;
		border-right:none;}
		.navbar-nav { margin-top: 0px;}
		
		
		.footer h3 { margin-top: 30px; text-align: center;}
		
		.footer{ text-align:center;}
		
		.navbar-default .navbar-nav > li > a { font-size: 14px;}
		.navbar-nav > li > a { padding: 8px 18px;}
.navbar-default .navbar-brand { display: block; float: none; left: 0; margin: 0 auto; position: absolute; right: 0; text-align: center; width: 100%;}
.navbar-brand > img { margin: 0 auto; max-width: 100px; z-index:0;}
.top-nav-collapse.navbar-default .navbar-brand img {
  max-width: 100px;
  transition: all 0.3s ease 0s;
}
.intro-section { margin-top: 50px;}

.intro-section .carousel-caption { top: 22%;}
	.carousel-caption { padding-bottom: 5px; padding-top: 5px;}
	.intro-section .carousel-caption h2 { font-size: 32px; line-height: normal;  margin: 0;}
	.intro-section .carousel-caption h3 { font-size: 26px; line-height: normal; margin: 0 0 5px;}
	.intro-section .carousel-caption h5 { font-size: 24px; line-height: normal; margin: 0 0 5px;}
	.pink-btn { font-size: 18px; padding: 12px 25px 16px;}
.navbar-nav > li a.signin-btn span {
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 10px;
}
.navbar-nav > li a.signin-btn { margin-bottom: 0; margin-top: 0; padding:20px;}
.navbar-default .navbar-nav > li > a { text-align: center;}
.comp-content { top: 22%;}
.demo-txt { font-size: 36px;}
.parent-content h3 {  margin: 50px 10% 20px;}
.parent-img { margin-top: 40px; position: relative; text-align:center;}
.parent-portal { padding: 30px 0 0;}
.quick-bg { background-size: 100% auto; height: 450px; margin-top: 40px; position: relative;}
.quick-content { padding: 30px 0 0; position: relative; z-index: 1;}
.footer-last { margin-top: 50px; text-align: center;}
}
@media(max-width:640px) {
.intro-section .carousel-caption { top: 20%;}
	.carousel-caption { padding-bottom: 5px; padding-top: 5px;}
	.intro-section .carousel-caption h2 { font-size: 28px; line-height: normal;  margin: 0;}
	.intro-section .carousel-caption h3 { font-size: 22px; line-height: normal; margin: 0 0 5px;}
	.intro-section .carousel-caption h5 { font-size: 20px; line-height: normal; margin: 0 0 5px;}
	.pink-btn { font-size: 18px; padding: 10px 25px 14px;}
	.main-titles::before, .main-titles::after{ display:none;}
		.welcome p { font-size:20px;line-height: 26px; padding: 10px 5%;}
		.event-sec p{font-size:20px;line-height: 26px; padding: 10px 5%;}
		.comp-content { top: 22%;}
.demo-txt { font-size: 34px;}
.quick-bg { background-size: 100% auto; height: 350px; margin-top: 40px; position: relative;}
}

@media(max-width:560px) {
.intro-section .carousel-caption { top: 15%;}
	.carousel-caption { padding-bottom: 5px; padding-top: 5px;}
	.intro-section .carousel-caption h2 { font-size: 24px; line-height: normal;  margin: 0;}
	.intro-section .carousel-caption h3 { font-size: 18px; line-height: normal; margin: 0 0 5px;}
	.intro-section .carousel-caption h5 { font-size: 16px; line-height: normal; margin: 0 0 5px;}
	.pink-btn { font-size: 18px; padding: 8px 25px 12px;}
	.comp-content { top: 20%;}
.demo-txt { font-size: 30px;}
.quick-bg { background-size: 100% auto; height:300px; margin-top: 40px; position: relative;}
}

@media(max-width:480px) {
	.intro-section .carousel-caption { top: 15%;}
	.carousel-caption { padding-bottom: 5px; padding-top: 5px;}
	.intro-section .carousel-caption h2 { font-size: 20px; line-height: normal;  margin: 0;}
	.intro-section .carousel-caption h3 { font-size: 16px; line-height: normal; margin: 0 0 5px;}
	.intro-section .carousel-caption h5 { font-size: 14px; line-height: normal; margin: 0 0 5px;}
	.pink-btn { font-size: 18px; padding: 6px 25px 10px;}
	.welcome p { font-size: 18px;line-height: 24px; padding: 10px 5%;}
	.comp-content { top: 15%;}
.demo-txt { font-size: 30px;}
.event-sec p{font-size: 18px;line-height: 24px; padding: 10px 5%;}
}
@media(max-width:360px) {
	.intro-section .carousel-caption { top: 5%;}
	}