<md-content flex layout class="admin-notifications">
    <md-tabs flex md-stretch-tabs="always" md-selected="vm.currentTab">
        <md-tab>
            <md-tab-label>
                <md-icon md-font-icon="zmdi zmdi-email"></md-icon>
            </md-tab-label>
            <md-tab-body>
                <md-content>
                    <md-list class="md-dense">
                        <md-list-item class="md-2-line" ng-repeat="email in ::vm.emails track by $index" ng-click="vm.openMail(email)">
                            <img class="md-avatar" ng-src="{{::email.from.image}}" alt="{{::email.from.name}}">
                            <div class="md-list-item-text">
                                <h3>{{::email.from.name}}</h3>
                                <h4>{{::email.subject}}</h4>
                                <p class="md-caption" am-time-ago="::email.date"></p>
                            </div>
                            <md-divider ng-hide="$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <md-icon md-font-icon="fa fa-bell-o"></md-icon>
            </md-tab-label>
            <md-tab-body>
                <md-content>
                    <md-list>
                        <div ng-repeat="group in ::vm.notificationGroups">
                            <md-subheader class="md-primary">{{::group.name}}</md-subheader>
                            <md-list-item ng-repeat="notification in ::group.notifications" layout="row" layout-align="space-between center">
                                <md-icon md-font-icon="{{::notification.icon}}" ng-style="{ color: notification.iconColor }"></md-icon>
                                <p>{{::notification.title}}</p>
                                <span class="md-caption" am-time-ago="::notification.date"></span>
                            </md-list-item>
                        </div>
                    </md-list>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
            </md-tab-label>
            <md-tab-body>
                <md-content>
                    <md-list>
                        <div ng-repeat="group in ::vm.settingsGroups">
                            <md-subheader class="md-primary"><span translate>{{::group.name}}</span></md-subheader>
                            <md-list-item ng-repeat="setting in ::group.settings" layout="row" layout-align="space-around center">
                                <md-icon md-font-icon="{{::setting.icon}}"></md-icon>
                                <p translate>{{::setting.title}}</p>
                                <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
                            </md-list-item>
                        </div>
                        <div ng-repeat="group in ::vm.statisticsGroups">
                            <md-subheader class="md-primary"><span translate>{{::group.name}}</span></md-subheader>
                            <md-list-item ng-repeat="stat in ::group.stats" layout="column" layout-align="space-around start">
                                <md-progress-linear class="margin-top-20 ng-class="::stat.mdClass" md-mode="determinate" ng-value="::stat.value"></md-progress-linear>
                                <p translate>{{::stat.title}}</p>
                            </md-list-item>
                        </div>
                    </md-list>
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
