<md-toolbar class="sidebar-left-toolbar" md-theme="{{::triSkin.elements.logo}}">
    <div  class="md-toolbar-tools" layout="row" layout-align="start center">

        <div class="sidebar-left-logo">
            <img ng-src="{{::vm.sidebarInfo.appLogo}}" width="40" alt="{{::vm.sidebarInfo.appName}}">
        </div>

        <h2 flex class="sidebar-left-title">{{::vm.sidebarInfo.appName}}</h2>
        <div >
        <md-button class="md-icon-button sidebar-left-icon" ng-click="vm.toggleIconMenu()" aria-label="Open side menu">
            <md-icon md-font-icon ng-class="{ 'zmdi zmdi-chevron-right' : vm.layout.sideMenuSize == 'icon', 'zmdi zmdi-chevron-left' : vm.layout.sideMenuSize == 'full' }"></md-icon>
        </md-button>
        </div>

    </div>
</md-toolbar>


<tri-menu md-theme="{{triSkin.elements.sidebar}}" flex layout="column"></tri-menu>
