<style>
    input[type=time]::-webkit-outer-spin-button,
    input[type=time]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    
    input[type=time] {
        -moz-appearance: textfield;
    }
    
    .my-small-area .ta-editor {
        height: 100px;
    }
</style>
<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{vm.Title}}</h2>
        </div>
    </md-toolbar>
    <div class="padding-20">
        <md-card>
            <md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
            <form name="AddIncident">
                <div class="padded-content-page">
                    <div layout="row" layout-xs="column">
                        <div flex="50" flex-xs="100">

                            <md-autocomplete style="margin-top:18px;" flex required  md-input-name="SearchParticipant" ng-disabled="vm.isDisabled" md-no-cache="vm.noCache" md-selected-item="vm.selectedItem"
                                md-search-text-change="vm.searchTextChange(vm.searchText)" md-selected-item-change="vm.getParentInformation(vm.selectedItem)" md-search-text="vm.searchText" 
                                md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.name" md-min-length="0" placeholder="Search participant">
                                <md-item-template>
                                       <img md-highlight-text="searchText" ng-src="{{vm.ImageUrlPath}}{{item.image}}" err-src="assets/images/avatars/avatar-5.png"
                                        width="30">
                                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No participant matching "{{vm.searchText}}" were found.
                                </md-not-found>
                                <div ng-messages="AddIncident.SearchParticipant.$invalid" ng-if="AddIncident.SearchParticipant.$touched">
                                    <div ng-if="AddIncident.SearchParticipant.$invalid">Please enter existing participant.</div>
                                </div>
                            </md-autocomplete>
                        </div>


                        <md-input-container flex class="mrgL-10 ageChild">
                            <label>Age of child</label>
                            <input type="Participant" required ng-ini name="AgeOfChild" ng-disabled="true" ng-model="vm.Incident.AgeOfChild">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                        <div flex="50" flex-xs="100">
                            <md-input-container class="md-block">
                                <label for="Reporter name" translate>Reported By</label>
                                <md-select name="StaffInfoId" id="StaffInfoId" required ng-model="vm.Incident.StaffInfoId" required>
                                    <md-option value="{{Staff.ID}}" ng-repeat="Staff in vm.AllStaff">{{ Staff.FirstName}} {{Staff.LastName}}</md-option>
                                </md-select>
                                <div ng-messages="AddIncident.StaffInfoId.$error" md-auto-hide="false" ng-show="AddIncident.StaffInfoId.$touched">
                                    <div ng-message when="required"> <span translate>Reported By is required.</span> </div>
                                </div>



                        </div>
                        <md-input-container flex class="mrgL-class mrgL-10">
                            <label for="Name">Parent Name</label>
                            <input type="text" required label="ParentName" name="ParentName" ng-disabled="true" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100"
                                ng-minlength="2" id="ParentName" ng-model="vm.ParentName">

                        </md-input-container>

                    </div>
                    <div layout="row" layout-xs="column" flex>


                        <md-input-container flex class="mrgR-class">
                            <label for="Name">Phone Number</label>
                            <input name="homephonenumber" ng-model="vm.PhoneNumber" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____" min="0"
                                required>
                            <div ng-messages="AddIncident.homephonenumber.$error" md-auto-hide="false" ng-show="AddIncident.homephonenumber.$touched">
                                <div ng-message when="required"> <span translate>Phone number required.</span> </div>
                                <div ng-message when="pattern"><span>Please enter valid Phone Number.</span></div>
                            </div>

                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                            <label for="Address">Place of Accident</label>
                            <textarea ng-model="vm.Incident.PlaceOfAccident" name="PlaceOfAccident" id="PlaceOfAccident" ng-maxlength="100" required></textarea>
                            <div ng-messages="AddIncident.PlaceOfAccident.$error" md-auto-hide="false" ng-show="AddIncident.PlaceOfAccident.$touched">
                                <div ng-message when="required"><span>Place of Accident is required.</span></div>
                                <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                            </div>
                        </md-input-container>
                    </div>



                    <div layout="row" layout-xs="column" flex>

                        <md-input-container flex class="mrgR-10">
                            <label for="NatureOfInjury">Nature of Injury</label>
                            <textarea ng-model="vm.Incident.NatureOfInjury" name="NatureOfInjury" id="NatureOfInjury" ng-maxlength="100"></textarea>
                            <div ng-messages="AddIncident.NatureOfInjury.$error" md-auto-hide="false" ng-show="AddIncident.NatureOfInjury.$touched">
                                <div ng-message when="required"><span>Nature of Injury is required.</span></div>
                                <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="mrgL-10">
                            <label for="Other">Other treatment</label>
                            <textarea ng-model="vm.Incident.OtherTreatment" name="OtherTreatment" id="OtherTreatment" ng-maxlength="100"></textarea>
                            <div ng-messages="AddIncident.OtherTreatment.$error" md-auto-hide="false" ng-show="AddIncident.OtherTreatment.$touched">
                                <!--<div ng-message when="required"><span>Other treatment is required.</span></div>-->
                                <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column" flex>
                        <md-input-container flex="50" flex-xs="100" class="mrgR-10">
                            <label>Involved participant(s)</label>
                            <md-chips allow-pattern="([a-zA-Z\@\.\_\ ])" ng-model="vm.ParticipantIds.OtherStudentInfoId" md-autocomplete-snap md-transform-chip="vm.transformChip($chip)"
                                md-require-match="vm.autocompleteDemoRequireMatch">
                                <md-autocomplete md-selected-item="vm.selectedItemOther" md-search-text="vm.searchTextOther" md-items="itemOther in vm.querySearchOther(vm.searchTextOther)"
                                    md-item-text="itemOther.name">
                                    <img md-highlight-text="searchText" ng-src="{{vm.ImageUrlPath}}{{itemOther.image}}" err-src="assets/images/avatars/avatar-5.png"
                                        width="30">
                                    <span md-highlight-text="vm.searchText">{{itemOther.name}} </span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>
                           <strong>{{$chip.name}}</strong>
                           <!--<em>({{$chip.type}})</em>-->
                             </span>
                                </md-chip-template>
                            </md-chips>
                            <!--<label>Involved participant </label>-->
                            <!--<md-contact-chips flex ng-model="vm.email.OtherStudentInfoId" md-contacts="vm.queryContacts($query)" md-contact-name="name"
                        md-contact-image="image" md-contact-email="email" md-require-match filter-selected="true" placeholder="{{'Involved participant' | triTranslate}}">
                    </md-contact-chips>-->
                        </md-input-container>
                        <md-input-container flex="25" flex-xs="50" class="mrgL-10">
                            <div flex class="mrgL-10">
                                <p>First aid administered?</p>
                                <md-radio-group layout="row" name="FirstAid" required ng-model="vm.Incident.FirstAidAdministered" ng-init="vm.Incident.FirstAidAdministered = 'false'">
                                    <md-radio-button value='true' class="md-primary">Yes</md-radio-button>
                                    <md-radio-button value='false' class="md-primary">No</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div ng-messages="AddIncident.FirstAid.$error" md-auto-hide="false" ng-show="AddIncident.FirstAid.$touched">
                                <div ng-message when="required"><span>The field is required.</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="25" flex-xs="50" class="mrgR-10">
                            <div flex class="mrgR-10">
                                <p>Doctor Required?</p>
                                <md-radio-group layout="row" required ng-model="vm.Incident.DoctorRequired" name="Doctor" ng-init="vm.Incident.DoctorRequired = 'false'">
                                    <md-radio-button value='true' class="md-primary">Yes</md-radio-button>
                                    <md-radio-button value='false' class="md-primary">No</md-radio-button>
                                </md-radio-group>
                            </div>
                            <div ng-messages="AddIncident.Doctor.$error" md-auto-hide="false" ng-show="AddIncident.Doctor.$touched">
                                <div ng-message when="required"><span>The field is required.</span></div>
                            </div>
                        </md-input-container>

                    </div>

                    <div layout="row" layout-xs="column" layout-sm="column" flex>
                        <div flex>
                            <div layout="row" layout-xs="column">
                                <div flex="60" flex-sm="50" class="dateTimeInfo">
                                    <md-input-container style="margin-top:40px;" class="md-block">
                                        <label for="DateOfAccident">Date of Accident</label>
                                        <md-datepicker flex ng-model="vm.Incident.DateOfAccident" md-max-date="vm.maxDate" md-placeholder="Enter Date" name="DateOfAccident"
                                            id="DateOfAccident" required></md-datepicker>
                                        <div ng-messages="AddIncident.DateOfAccident.$error" md-auto-hide="false" ng-show="AddIncident.DateOfAccident.$touched">
                                            <div ng-message when="required"><span>Date of Accident is required.</span></div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div flex="40" flex-sm="50" class="dateTimeInfo ">
                                    <div class="md-cyan-theme ">
                                        <label for="TimeOfAccident" class=" md-required"><span style="opacity: 0.5;">Time of Accident</span></label>
                                        <div uib-timepicker ng-model="vm.Incident.TimeOfAccident" name="TimeOfAccident" id="TimeOfAccident" ng-change="changed()"
                                            hour-step="1" minute-step="1" show-meridian="ismeridian" required></div>
                                        <div ng-messages="AddIncident.TimeOfAccident.$error" md-auto-hide="false" ng-show="AddIncident.TimeOfAccident.$touched">
                                            <div ng-message when="required"><span style="color:red;">Time of accident is required.</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div flex>
                            <div layout="row" layout-xs="column">
                                <md-input-container flex="50" class="parent-mrg">
                                    <div flex class="mrgR-10">
                                        <p>Was parent informed? If yes,then how?</p>
                                        <md-radio-group layout="row" class="md-primary" ng-change="vm.stateChange()" ng-model="vm.Incident.ParentInformed" ng-init="vm.Incident.ParentInformed = 'false'">
                                            <md-radio-button value="true" class="md-primary">Yes</md-radio-button>
                                            <md-radio-button value="false" class="md-primary">No</md-radio-button>

                                        </md-radio-group>
                                    </div>


                                </md-input-container>
                                <md-input-container flex="50" class="mrgR-10 des-mrgT">
                                    <label for="ParentDescription">Description</label>
                                    <textarea ng-model="vm.Incident.ParentDescription" ng-disabled="!vm.disable" name="ParentDescription" id="ParentDescription"
                                        ng-maxlength="100"></textarea>
                                    <div ng-messages="AddIncident.ParentDescription.$error" md-auto-hide="false" ng-show="AddIncident.ParentDescription.$touched">
                                        <!--<div ng-message when="required"> <span translate>School name is required</span> </div>-->
                                        <!--<div ng-message when="minlength"><span>Minimum 2 character is required.</span></div>-->
                                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                    </div>
                    <div layout="row" layout-xs="column" flex>


                        <!--<div flex="30" flex-sm="50" flex-xs="50" class="dateTimeInfo">
                    <md-input-container style="margin-top:40px;" class="md-block">
                        <label for="DateOfAccident">Date of Accident</label>
                        <md-datepicker flex ng-model="vm.Incident.DateOfAccident"  md-max-date="vm.maxDate" md-placeholder="Enter Date" name="DateOfAccident"
                             id="DateOfAccident" required></md-datepicker>
                        <div ng-messages="AddIncident.DateOfAccident.$error" md-auto-hide="false" ng-show="AddIncident.DateOfAccident.$touched">
                            <div ng-message when="required"><span>Date of Accident is required.</span></div>
                        </div>
                    </md-input-container>
                </div>-->
                        <!--<div flex="20" flex-xs="50" flex-sm="50" class="dateTimeInfo ">
                    <div class="md-cyan-theme ">
                        <label for="TimeOfAccident" class=" md-required"><span style="opacity: 0.5;">Time of Accident</span></label>
                        <div uib-timepicker ng-model="vm.Incident.TimeOfAccident" name="TimeOfAccident" id="TimeOfAccident" ng-change="changed()"
                            hour-step="1" minute-step="1" show-meridian="ismeridian" required></div>
                        <div ng-messages="AddIncident.TimeOfAccident.$error" md-auto-hide="false" ng-show="AddIncident.TimeOfAccident.$touched">
                            <div ng-message when="required"><span style="color:red;">Time of accident is required.</span></div>
                        </div>
                    </div>
                </div>-->
                        <!--<md-input-container flex="25" flex-xs="50" flex-sm="50" class="parent-mrg">
                    <div flex class="mrgR-10">
                        <p>Was parent informed? If yes,then how?</p>
                        <md-radio-group layout="row" class="md-primary" ng-change="vm.stateChange()" ng-model="vm.Incident.ParentInformed" ng-init="vm.Incident.ParentInformed = 'false'">
                            <md-radio-button value="true" class="md-primary">Yes</md-radio-button>
                            <md-radio-button value="false" class="md-primary">No</md-radio-button>

                        </md-radio-group>
                    </div>


                </md-input-container>-->
                        <!--<md-input-container  flex="25" flex-sm="100" flex-xs="50"  class="mrgR-10 des-mrgT">
                    <label for="ParentDescription">Description</label>
                    <textarea ng-model="vm.Incident.ParentDescription" ng-disabled="!vm.disable" name="ParentDescription" id="ParentDescription"
                        ng-maxlength="100"></textarea>
                    <div ng-messages="AddIncident.ParentDescription.$error" md-auto-hide="false" ng-show="AddIncident.ParentDescription.$touched">
                        
                        <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                    </div>
                </md-input-container>-->

                    </div>
                    <div layout="row" layout-xs="column" class="Description">
                        <div flex class="mrgR-10 md-cyan-theme">

                            <label for="DescriptionOfInjury" class="Description md-required"><span style="opacity: 0.5;">Description of the injury</span></label>
                            <md-input-container class="md-block">
                                <text-angular class="email-content" required md-input-name="DescriptionOfInjury" ng-maxlength="100" id="DescriptionOfInjury"
                                    ng-model="vm.Incident.DescriptionOfInjury" ta-target-toolbars="editor-toolbar"></text-angular>
                                <div ng-messages="AddIncident.DescriptionOfInjury.$error" md-auto-hide="false" ng-show="AddIncident.DescriptionOfInjury.$touched">
                                    <div ng-message when="required"><span>Description of Injury is required.</span></div>
                                    <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex class="mrgL-10">
                            <label style="opacity:0.5;">Action taken</label>
                            <md-input-container class="md-block">
                                <text-angular class="email-content" name="ActionTaken" ng-model="vm.Incident.ActionTaken" ta-target-toolbars="editor-toolbar"></text-angular>
                            </md-input-container>
                            <div ng-messages="AddIncident.ActionTaken.$error" md-auto-hide="false" ng-show="AddIncident.ActionTaken.$touched">
                                <div ng-message when="maxlength"><span>Maximum 100 character is allowed.</span></div>
                            </div>
                        </div>
                    </div>
                    <md-dialog-actions layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-show="id == 0" ng-click="vm.addIncident(AddIncident)" ng-disabled="AddIncident.$invalid">
                            Send </md-button>
                        <md-button class="md-primary md-raised" ng-show="id > 0" ng-disabled="AddIncident.$invalid">
                            Update </md-button>
                        <md-button class="md-warn md-raised" ng-href="/incident"> Cancel </md-button>
                    </md-dialog-actions>
            </form>
            </div>
        </md-card>
    </div>
    <mdp-time-picker name="timeFormat" ng-model="currentTimeText" mdp-format="HH:mm A">
        <div ng-messages="demoForm.timeFormat.$error">
            <div ng-message="required">This is required</div>
            <div ng-message="format">Invalid format</div>
        </div>
    </mdp-time-picker>

    <link rel="stylesheet" href="../customapp/css/bootstrap.css">