
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>
				<I></I>Incident Report <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'incidents' : 'incident'}} selected )</span></h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padding-20 ">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Participant</label>
								<input type="text" label="name" name="name" id="name" ng-model="query.ParticipantName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex>
							 <label for="Reporter name" translate>Reported By</label>
                        <md-select name="StaffInfoId" id="StaffInfoId"  ng-model="query.StaffInfoId" >
                            <md-option value="{{Staff.ID}}" ng-repeat="Staff in vm.AllStaff">{{ Staff.FirstName}} {{Staff.LastName}}</md-option>
                        </md-select>
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetincidentList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
<md-card>
	<div class="padding-20">

				<h3><strong>Participant Name :</strong> {{ParticipantName}} </h3>
				<h3><strong>Reported By :</strong> {{StaffName}} </h3>
		
		</div>
		<div >


			<!--<div ng-if="vm.NoData==false" class="margin-top-20">-->
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
					<thead md-head md-order="query.order" md-on-reorder="vm.GetincidentList">
						<tr md-row>
							<!--<th md-column><span>#</span></th>-->
							<th md-column><span>{{vm.columns.ProfilePic}}</span></th>
							<th md-column md-order-by="Name"><span>{{vm.columns.Name}}</span></th>
							<th md-column md-order-by="ReporterName"><span>{{vm.columns.ReporterName}}</span></th>
							<th md-column md-order-by="PlaceOfAccident"><span>{{vm.columns.PlaceOfAccident}}</span></th>
							<th md-column md-order-by="DateOfAccident"><span>{{vm.columns.DateOfAccident}}</span></th>
							<th md-column md-order-by="DateOfReport"><span>{{vm.columns.DateOfReport}}</span></th>
							<th md-column ng-if="vm.IsVisibleActionButton==true"><span>Details</span></th>
							<th md-column ng-if="vm.IsVisibleActionButton==false"><span>ACTION</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="incident" md-select-id="incident.ID" ng-repeat="incident in vm.incidentList">
							<!--<td md-cell>{{ $index + 1 }}</td>-->
							<!-----------Palak---------->

							<td md-cell>
								<a style="cursor:pointer" ng-click="vm.viewDetails(incident.ID)">
									<img ng-src="{{vm.ImageUrlPath}}{{incident.IncidentParticipant[0].StudentInfo.ImagePath}}" height="100" width="100" err-src="assets/images/avatars/avatar-5.png"
									/>
								</a>
							</td>

		   <!--Palak-->
		<td md-cell ng-if="incident.IsRead==true"><a style="cursor:pointer" ng-click="vm.viewDetails(incident.ID)">{{incident.IncidentParticipant[0].StudentInfo.FirstName}} {{incident.IncidentParticipant[0].StudentInfo.LastName}}</a></td>
		<td md-cell ng-if="incident.IsRead==false"><a style="color:red" ng-click="vm.viewDetails(incident.ID)">{{incident.IncidentParticipant[0].StudentInfo.FirstName}} {{incident.IncidentParticipant[0].StudentInfo.LastName}}</a></td>
		<td md-cell>{{incident.StaffInfo.FullName}}</td>
		<td md-cell>{{incident.PlaceOfAccident}}</td>
		<td md-cell>{{incident.DateOfAccident| date:'MM/dd/yyyy'}}</td>
		<td md-cell>{{incident.DateOfReport| date:'MM/dd/yyyy'}}</td>
		<td md-cell ng-if="vm.IsVisibleActionButton==true">
			<md-button class="md-raised md-primary" ng-click="vm.viewDetails(incident.ID)">View</md-button>
		</td>
		<td md-cell style="min-width:60px; white-space:nowrap;" ng-if="vm.IsVisibleActionButton==false">
			<a class="md-primary" ng-click="vm.editincident(incident)" style="cursor:pointer">
				<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
				<md-tooltip>Edit</md-tooltip>
			</a> &nbsp;
			<a class="md-primary" ng-click="vm.showDeleteIncidentConfirmDialoue($event,incident.ID)" style="cursor:pointer">
				<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
				</md-icon>
				<md-tooltip>Delete</md-tooltip>
			</a>
		</td>
		</tr>
		</tbody>
		</table>
		</md-table-container>
		<div ng-if="vm.NoData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Incidence list found.</h2>
                </md-input-container>
            </div>

		
		<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.incidentCount}}"
			md-on-paginate="vm.GetincidentList" md-page-select></md-table-pagination>
	</div>
</md-card>
</div>

<md-button ng-href="/incident/add" ng-if="vm.IsVisibleActionButton==false" class="md-fab md-accent md-fab-bottom-right md-hue-3 addbtn-pos"
	aria-label="Add incident">
	<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
	<md-tooltip>Add incident</md-tooltip>
</md-button>


