<div>
    <md-toolbar>
		<div class="md-toolbar-tools">
		<h2>Incident Report Details</h2>
		</div>
	</md-toolbar>
<div class="padding-20">
<md-card class="padding-20">
    <div class="md-list-item-text">
       
                           
        <div layout="row" layout-xs="column" flex>
            <md-input-container flex class="    mrgR-10">
                <label>Participant</label>
            <input type="Participant" ng-ini name="Participant" ng-disabled="true" ng-model="vm.ParticipantName">
            </md-input-container>
            <md-input-container flex class="mrgL-10">
                <label>Age of child</label>
                <input type="Participant" ng-ini name="AgeOfChild" ng-disabled="true" ng-model="vm.AgeOfChild">
            </md-input-container>
        </div>

        <div layout="row" layout-xs="column" flex>
            <div flex=50>
                <md-input-container flex class="mrgR-10">
                    <label for="Reporter name" translate>Reported By</label>
                    <input type="ReporterName" ng-ini name="ReporterName" ng-disabled="true" ng-model="vm.StaffName">
                </md-input-container>
            </div>
            <div flex=25>
                <md-input-container flex class="mrgL-10">
                    <label for="DateOfAccident">Date of Accident</label>
                    <input type="DateOfAccident"  name="DateOfAccident"  ng-disabled="true" ng-value="vm.DateOfAccident|date">
                </md-input-container>
            </div>
            <div flex=25>
                <md-input-container flex class="mrgL-10">
                    <label>Time of Accident</label>
                    <input type="TimeOfAccident"  name="TimeOfAccident" ng-disabled="true" ng-value="vm.TimeOfAccident|ampmtime">
                </md-input-container>
            </div>
        </div>

        <div layout="row" layout-xs="column" flex>
            <md-input-container flex class="mrgR-10">
                <label for="Name">Parent Name</label>
                <input type="text" label="ParentName" name="ParentName" ng-disabled="true" ng-model="vm.ParentName">
            </md-input-container>
            <md-input-container flex class="mrgL-10">
                <label for="Name">Phone Number</label>
                <input ng-model="vm.PhoneNumber" ui-mask="{{'(999) 999-9999'}}" placeholder="(___) ___-____" ng-disabled="true">
            </md-input-container>
        </div>

        <div layout="row" layout-xs="column" flex>
            <md-input-container flex class="mrgR-10">
                <label for="Address">Place of Accident</label>
                <input ng-model="vm.PlaceOfAccident" name="PlaceOfAccident" ng-disabled="true" id="PlaceOfAccident"></input>
            </md-input-container>
            <md-input-container flex class="mrgL-10">
                <label for="NatureOfInjuryReceived">Nature of Injury</label>
                <input ng-model="vm.NatureOfInjury" name="NatureOfInjuryReceived" ng-disabled="true" id="NatureOfInjuryReceived"></input>
            </md-input-container>
        </div>
        <div layout="row" layout-xs="column" flex>

            <md-input-container flex class="mrgR-10">
                <label>Involved Participants</label>
                <input type="OtherParticipant" ng-disabled="true" ng-model="vm.OtherParticipants">
            </md-input-container>
            <md-input-container flex class="mrgL-10">
                <label for="Other">Other treatment</label>
                <input name="OtherTreatment" ng-disabled="true" ng-model="vm.OtherTreatment">
            </md-input-container>
        </div>
        <div layout="row" layout-xs="column" flex>
            <md-input-container flex class="mrgR-10 adminFirst">
                <p>First aid administered?</p>
                <md-radio-group layout="row" ng-disabled="true" ng-model="vm.FirstAidAdministered" >
                    <md-radio-button value='true' class="md-primary">Yes</md-radio-button>
                    <md-radio-button value='false' class="md-primary">No</md-radio-button>
                </md-radio-group>
                <!--<label for="Firstaidadministered">First aid administered?</label>-->
                <!--<label ng-if="vm.FirstAidAdministered==false">Yes</label>-->
                <!--<label ng-if="vm.FirstAidAdministered==false">No</label>-->
            </md-input-container>
            <md-input-container flex class="mrgL-10 adminFirst">
                <p>Doctor Required?</p>
                <md-radio-group ng-disabled="true" layout="row" ng-model="vm.DoctorRequired" >
                    <md-radio-button value='true' class="md-primary">Yes</md-radio-button>
                    <md-radio-button value='false' class="md-primary">No</md-radio-button>
                </md-radio-group>
            </md-input-container>

        </div>
           <div layout="row" layout-xs="column">
            <div flex class="mrgR-10">
               
                <md-input-container class="md-block">
                   <p>Was parent informed? If yes,then how?</p>
                        <md-radio-group layout="row" class="md-primary" ng-change="vm.stateChange()" ng-disabled="true" ng-model="vm.ParentInformed">
                            <md-radio-button value="true" class="md-primary">Yes</md-radio-button>
                            <md-radio-button value="false" class="md-primary">No</md-radio-button>

                        </md-radio-group>
                </md-input-container>
            </div>
            <div flex class="mrgL-10">
               
                <md-input-container  style="margin-top:54px;"  class="md-block">
                   <label for="ParentDescription">Description</label>
                    <textarea ng-model="vm.ParentDescription" ng-disabled="!vm.disable" name="ParentDescription" id="ParentDescription"
                        ng-maxlength="100"></textarea>

                </md-input-container>

            </div>
        </div>
        <div layout="row" layout-xs="column">
            <div flex class="mrgR-10">
                <label for="Description">Description of the injury</label>
                <md-input-container class="md-block">
                    <text-angular ta-disabled ="true"  class="email-content" name="DescriptionOfInjury" id="DescriptionOfInjury" ng-model="vm.DescriptionOfInjury"
                        ta-target-toolbars="editor-toolbar" required></text-angular>

                </md-input-container>
            </div>
            <div flex class="mrgL-10">
                <label>Action taken</label>
                <md-input-container class="md-block">
                    <text-angular ta-disabled ="true"  class="email-content" name="ActionTaken" ng-model="vm.ActionTaken" ta-target-toolbars="editor-toolbar"></text-angular>
                </md-input-container>

            </div>
        </div>


        <div layout="row" layout-xs="column" flex>
            <div flex class="mrgR-10">
                <md-checkbox class="md-primary" value="1" ng-model="vm.IsRead" aria-label="Primary Checkbox">
                    Read
                </md-checkbox>
            </div>
        </div>
    </div>
    <div class="button-toolbar padding-right-20 margin-bottom-20" layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="vm.updateIsRead(vm.Incident.IsRead)">Update</md-button>
    </div>
    </md-card>
</div>
</div>