<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Add Staff Skill</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="addStaffSkill">
            <h2>Staff Skill Information</h2>
     

            <div layout layout-xs="column" flex>
                  <md-input-container flex>
                    <label for="SkillMasterId">Skill</label>
                    <md-select name="SkillMasterId" id="SkillMasterId" ng-model="vm.staffskill.SkillMasterId" required>
                        <md-option ng-repeat="option in vm.AllSkillMaster" value="{{option.ID}}">{{option.Skill}}</md-option>
                    </md-select>
                    <div ng-messages="addStaffSkill.SkillMasterId.$error" md-auto-hide="false" ng-show="addStaffSkill.SkillMasterId.$touched">
                        <div ng-message when="required"><span>Please choose Skill.</span></div>
                    </div>
                </md-input-container>
                 <md-input-container flex>
                    <label for="Description">Description</label>
                    <input type="Description"  label="Description" name="Description" id="Description" ng-model="vm.staffskill.Description">
                </md-input-container>
            </div>


            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addStaffSkill(addStaffSkill) " ng-disabled="addStaffSkill.$invalid"
                    translate="Add" aria-label="{{'Add' | triTranslate}}">Add</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>