<div class="example-code md-whiteframe-z1 margin-bottom-80">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Staff Skill List </h2>
			<span flex></span>
			<!--<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
			</md-button>-->
		</div>
	</md-toolbar>
	<div class="padded-content-page whitebg">
		<!--<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="Name">To Do</label>
								<input type="Name" ng-maxlength="100" label="Name" name="Name" id="Name" ng-model="vm.query.Name" >
								<div ng-messages="Search.Name.$error" md-auto-hide="false" ng-show="Search.Name.$touched">
									<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
								</div>
							</md-input-container>
						</div>

						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="SkillMasterId">Skill</label>
								<md-select name="SkillMasterId" id="SkillMasterId" ng-model="vm.query.SkillMasterId" >
									<md-option ng-repeat="option in vm.AllSkillMaster" value="{{option.ID}}">{{option.Skill}}</md-option>
								</md-select>
							</md-input-container>
						</div>

						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetStaffSkillList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>-->

		<div class="margin-top-20">
				
			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="vm.selected" md-progress="vm.promise">
					<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetStaffSkillList">
						<tr md-row>
							<!--<th md-column><span>#</span></th>-->
							<th md-column md-order-by="SkillMasterId"><span>Skill</span></th>
							<th md-column md-order-by="Description"><span>Description</span></th>
							<th md-column><span>ACTION</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="staffskill" md-select-id="staffskill.ID" ng-repeat="staffskill in vm.staffskillList ">
							<!--<tr md-row md-auto-select md-select="toDo" md-select-id="toDo.ID" ng-repeat="toDo in vm.toDoList">-->
							<!--<td md-cell>{{ $index + 1 }} </td>-->
							<td md-cell>{{staffskill.SkillMaster.Skill}}</td>
							<td md-cell>{{staffskill.Description}}</td>
							<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.showUpdateStaffSkillDialoue($event,staffskill)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
									<md-tooltip>Edit</md-tooltip>
								</a> &nbsp;

								<a class="md-primary" ng-click="vm.showDeleteStaffSkillConfirmDialoue($event,staffskill.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
									<md-tooltip>Delete</md-tooltip>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Staff Skill list found.</h2>
                </md-input-container>
            </div>
			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.staffskillCount}}"
				md-on-paginate="vm.GetStaffSkillList" md-page-select></md-table-pagination>
			<!--</div>-->

		</div>
	
	</div>
</div>

	<md-button ng-click="vm.showAddStaffSkillDialoue($event,staffskill)" class="md-fab addbtn-pos md-accent md-fab-bottom-right md-hue-3"
			aria-label="Add Staff Skill">
			<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
			<md-tooltip>Add Staff Skill</md-tooltip>
		</md-button>