<div>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Add Skill</h2>
		</div>
	</md-toolbar>
	<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
	<md-card flex>
		<form name="registerSkill">
			<md-card-content>
				<md-whiteframe class="md-whiteframe-z5 margin-20">
					<div layout layout-xs="column" flex>
						<md-input-container flex>
							<label for="Category">Category</label>
							<md-select placeholder="select Category" name="category" id="category" ng-model="vm.skill.CategoryId" ng-required="true">
								<md-option ng-value="categorylist.ID" ng-repeat="categorylist in CategoryList">{{categorylist.Name}}<//md-option>
							</md-select>
							<div ng-messages="registerSkill.CategoryId.$error" md-auto-hide="false" ng-show="registerSkill.CategoryId.$touched">
								<div ng-message when="required"><span>Please choose Category.</span></div>
							</div>
						</md-input-container>
						<md-input-container flex>
							<label for="Skill">Skill</label>
							<input type="text" label="Skill" name="Skill" id="Skill" ng-model="vm.skill.Skill" md-maxlength="50" required>
							<div ng-messages="registerSkill.Skill.$error" md-auto-hide="false" ng-show="registerSkill.Skill.$touched">
								<div ng-message when="required"><span>Please enter skill.</span></div>
							</div>
						</md-input-container>
					</div>
					<div layout layout-xs="column" flex>
						<md-input-container flex>
							<label for="Subskill">Subskill</label>
							<input type="text" label="Subskill" name="Subskill" id="Subskill" ng-model="vm.skill.Subskill" md-maxlength="50">
							<div ng-messages="registerSkill.Subskill.$error" md-auto-hide="false" ng-show="registerSkill.Subskill.$touched">
								<div ng-message when="required"><span>Please enter subskill.</span></div>
							</div>
						</md-input-container>
						<md-input-container flex>
							<label for="Details">Details</label>
							<input type="text" label="Details" name="Details" id="Details" ng-model="vm.skill.Details" md-maxlength="100" required>
							<div ng-messages="registerSkill.Details.$error" md-auto-hide="false" ng-show="registerSkill.Details.$touched">
								<div ng-message when="required"><span>Please enter Details.</span></div>
							</div>
						</md-input-container>
					</div>
					<div layout layout-xs="column" flex>
						<md-input-container flex>
							<label for="DayRequired">Day Required</label>
							<input type="number" label="Day Required" name="DayRequired" id="DayRequired" ng-model="vm.skill.DaysRequired" ng-maxlength="3"
								ng-pattern="/^[0-9]*$/ " required>
							<div ng-messages="registerSkill.DayRequired.$error ||registerSkill.DayRequired.$invalid
                                        " md-auto-hide="false " ng-show="registerSkill.DayRequired.$touched ">
								<div ng-message when="required "><span>Please enter Days Required.</span></div>
								<div ng-message when="pattern ">Please enter only numbers.</div>
								<div ng-message when="maxlength ">Maximum length is 3</div>
							</div>
						</md-input-container>
						<md-input-container flex>
							<label for="ClassesRequired ">Classes Required</label>
							<input type="number " label="Classes Required " name="ClassesRequired " id="ClassesRequired
                                        " ng-model="vm.skill.ClassesRequired " ng-pattern="/^[0-9]*$/ " ng-maxlength="2"
								required>
							<div ng-messages="registerSkill.ClassesRequired.$error " md-auto-hide="false
                                        " ng-show="registerSkill.ClassesRequired.$touched ">
								<div ng-message when="required "><span>Please enter Classes Required.</span></div>
								<div ng-message="pattern ">Please enter only numbers.</div>
								<div ng-message when="maxlength ">Maximum length is 2</div>
							</div>
						</md-input-container>

					</div>
					<div layout layout="row " layout-align="end center ">
						<md-button class="md-raised md-primary margin-left-0 margin-top-10 margin-bottom-10" ng-click="vm.addSkill(registerSkill) "ng-disabled="registerSkill.$invalid ">Save</md-button>
						<md-button class="md-raised md-warn margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-href="#/skills" ng-disabled="login.$invalid ">Cancel</md-button>
					</div>
				</md-whiteframe>
			</md-card-content>
		</form>
	</md-card>
</div>