<div class="example-code md-whiteframe-z1 margin-bottom-20">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Skilss Details <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'skills' : 'skill'}} selected )</span></h2>
            <span flex></span>
            <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
                <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Search</h1>
        </md-toolbar>
        <div class="padded-content-page">
            <md-content class="overflowVisible">
                <div layout layout-xs="column" flex>
                    <md-input-container flex>
                        <label for="name">Search Skill</label>
                        <input type="text" label="name" name="name" id="name" ng-model="query.name">
                    </md-input-container>
                </div>
                <div layout layout-xs="column" flex>
                    <md-input-container flex class="text-center">
                        <md-button class="md-primary md-raised" ng-click="vm.GetSkillList()">Search</md-button>
                        <md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
                        <md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
                    </md-input-container>
                </div>
            </md-content>
        </div>
    </md-sidenav>
    <div class="margin-top-20">
        <md-table-container>
            <table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" md-row-select multiple ng-model="selected"
                md-progress="vm.promise">
                <thead md-head md-order="query.order" md-on-reorder="vm.GetSkillList">
                    <tr md-row>
                        <th md-column><span>#</span></th>
                        <!--<th md-column md-order-by="Category"><span>{{vm.columns.Category}}</span></th>-->
                        <th md-column md-order-by="Skill"><span>{{vm.columns.Skill}}</span></th>
                        <th md-column md-order-by="Subskill"><span>{{vm.columns.Subskill}}</span></th>
                        <th md-column md-order-by="Detail"><span>{{vm.columns.Detail}}</span></th>
                        <th md-column md-order-by="DaysReq"><span>{{vm.columns.DaysReq}}</span></th>
                        <th md-column md-order-by="ClassesReq"><span>{{vm.columns.ClassesReq}}</span></th>
                        <th md-column><span>ACTION</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-auto-select md-select="skill" @*md-select-id="skill.ID" *@ ng-repeat="skill in vm.skillList">
                        <td md-cell>{{ $index + 1 }}</td>
                        <!--<td md-cell>{{skill.categoryId}}</td>-->
                        <td md-cell>{{skill.skill}}</td>
                        <td md-cell>{{skill.SubSkill}}</td>
                        <td md-cell>{{skill.Details}}</td>
                        <td md-cell>{{skill.DaysRequired}}</td>
                        <td md-cell>{{skill.ClassesRequired}}</td>
                        <td md-cell>
                            <a class="md-primary" ng-click="vm.showUpdateSkillDialoue($event,skill)" style="cursor:pointer">
                                </>
                                <md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
                            </a> &nbsp;
                            <a class="md-primary" ng-click="vm.showDeleteSkillConfirmDialoue($event,skill.ID)" style="cursor:pointer">
                                <md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
                                </md-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.skillCount}}"
            md-on-paginate="vm.GetSkillList" md-page-select></md-table-pagination>
    </div>
  
</div>
<!--</div>-->
  <md-button ng-href="#/skills/add" class="md-fab md-accent md-fab-bottom-right md-hue-3" aria-label="Add Skill">
        <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
        <md-tooltip>Add Skills</md-tooltip>
    </md-button>