<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Update Skill</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="registerSkill">
            <h2>Skill Information</h2>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Category">Category</label>
                    <md-select placeholder="select Category" name="category" id="category" ng-model="vm.skill.CategoryId" ng-required="true">
                        <md-option ng-value="categorylist.ID" ng-repeat="categorylist in CategoryList">{{categorylist.Name}}<//md-option>
                    </md-select>
                    <div ng-messages="registerSkill.CategoryId.$error" md-auto-hide="false" ng-show="registerSkill.CategoryId.$touched">
                        <div ng-message when="required"><span>Please choose Category.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="Skill">Skill</label>
                    <input type="text" label="Skill" name="Skill" id="Skill" ng-model="vm.skill.Skill" md-maxlength="50" required>
                    <div ng-messages="registerSkill.Skill.$error" md-auto-hide="false" ng-show="registerSkill.Skill.$touched">
                        <div ng-message when="required"><span>Please enter skill.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="Details">Details</label>
                    <input type="text" label="Details" name="Details" id="Details" ng-model="vm.skill.Details" md-maxlength="100" required>
                    <div ng-messages="registerSkill.Details.$error" md-auto-hide="false" ng-show="registerSkill.Details.$touched">
                        <div ng-message when="required"><span>Please enter Details.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-xs="column" flex>
                <md-input-container flex>
                    <label for="Subskill">Subskill</label>
                    <input type="text" label="Subskill" name="Subskill" id="Subskill" ng-model="vm.skill.Subskill" md-maxlength="50">
                    <div ng-messages="registerSkill.Subskill.$error" md-auto-hide="false" ng-show="registerSkill.Subskill.$touched">
                        <div ng-message when="required"><span>Please enter skill.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="DayRequired">Day Required</label>
                    <input type="text" label="Day Required" name="DayRequired" id="DayRequired" ng-model="vm.skill.DaysRequired" md-maxlength=3
                        ng-pattern="/^[0-9]*$/" required>
                    <div ng-messages="registerSkill.DayRequired.$error ||registerSkill.DayRequired.$invalid" md-auto-hide="false" ng-show="registerSkill.DayRequired.$touched">
                        <div ng-message when="required"><span>Please enter Days Required.</span></div>
                        <div ng-message when="pattern">Please enter only numbers.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="ClassesRequired">Classes Required</label>
                    <input type="text" label="Classes Required" name="ClassesRequired" id="ClassesRequired" ng-model="vm.skill.ClassesRequired"
                        ng-pattern="/^[0-9]*$/" md-maxlength="2" required>
                    <div ng-messages="registerSkill.ClassesRequired.$error" md-auto-hide="false" ng-show="registerSkill.ClassesRequired.$touched">
                        <div ng-message when="required"><span>Please enter Classes Required.</span></div>
                        <div ng-message="pattern">Please enter only numbers.</div>
                    </div>
                </md-input-container>

            </div>
            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateSkill(registerSkill)"
                    ng-disabled="registerSkill.$invalid" translate="Update" aria-label="{{'Update' | triTranslate}}">Update</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="hide()" ng-disabled="login.$invalid"
                    translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>