.seed-list { list-style: lower-greek;}
.fontsize16{ font-size:16px;}
.colorgreen{ color:#4caf50;}
.whitebg{ background:#fff !important;}

.whitebg-p {
	background:#fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}
.mrgl-class{ margin-left:10px;}
.mrgR-class{ margin-right:10px;}
.margin-left-5{margin-left: 5px;}
.mrgL-20{margin-left: 20px;}
@media(max-width: 1280px) {
.mrgl-class{ margin-left:0px;}
.mrgR-class{ margin-right:0px;}

.attedance-info .md-button.md-icon-button {
    margin: 0 0px;
    width: 24px;
    padding: 0;
    height: 24px;
}
.attedance-info .md-icon-button + .md-datepicker-input-container {
    margin-left: 5px;
}

}
@media(max-width: 768px) {
.mrgL-20{margin-left: 0;margin-right: 0 !important;border-top: 1px solid #ddd}
}
@media(max-width: 767px) {
.attedance-info .mrgL-10{ margin-left: 0;}


}
.md-fab-bottom-right.addbtn-pos{
  position: absolute;
  bottom:6px !important;
  right: 80px !important;
}