<div class="dashboard-container overlay-10 padded-content-page">
    <!--<md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Dashboard</h2>
    </div>
  </md-toolbar>-->
    <div>

        <div class="drag-container" layout="row" layout-xs="column" layout-margin dragula='"drag-analytics-container"'>
            <tri-widget style="cursor:pointer;" palette-background="deep-orange:500" ng-click="vm.redirectTotimeclock()" content-layout="row"
                content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="fa fa-clock-o"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 padhrs font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.TotalHours"></p>
                    <p class="md-body-2 nowrap opacity-60 margin-top-0 margin-bottom-0" translate>Total Hours</p>
                </div>
            </tri-widget>
            <tri-widget style="cursor:pointer;" palette-background="triCyan:500" content-layout="row" ng-click="vm.redirectToEvents()"
                content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-accounts-alt"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="vm.EventCount" decimals="0"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Events</p>
                </div>
            </tri-widget>
            <tri-widget style="cursor:pointer;" palette-background="indigo:500" content-layout="row" ng-click="vm.redirectToLeave()"
                content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-account-box-o"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.LeaveCount" decimals="0"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Leaves</p>
                </div>
            </tri-widget>
            <tri-widget style="cursor:pointer;" palette-background="teal:500" content-layout="row" ng-click="vm.redirectToAttendance()"
                content-layout-align="space-between center" content-padding>
                <div>
                    <md-icon class="font-size-6 opacity-50 margin-left-10" md-font-icon="zmdi zmdi-check-all"></md-icon>
                </div>
                <div layout="column" layout-align="center end">
                    <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="vm.AttendanceCount" decimals="0"></p>
                    <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Attendance</p>
                </div>
            </tri-widget>
        </div>



        <div layout="row" layout-xs="column" layout-margin>

            <tri-widget  title="Clock Details" class="profiletab" flex-xs="100" content-padding>
  

                <div flex class="padding-0">
                    <!--<h4 class="margin-top-0 margin-bottom-5">Staff Status</h4>-->
                    <md-list class="padding-0 padding-bottom-10">
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-xs="column">
                                    <h3 flex="70" flex-xs="100">Current Status:</h3>
                                    <p flex ng-if="vm.InTime!=null && vm.OutTime==null " translate>Clocked in</p>
                                    <p flex ng-if="vm.OutTime!=null || (vm.InTime==null && vm.OutTime==null)"
                                        translate>Not clocked in</p>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-list class="padding-0 padding-bottom-10">
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-xs="column">
                                    <h3 flex="70" flex-xs="100">Started at:</h3>
                                    <p flex  ng-if="vm.StartTime!=null" translate>{{vm.StartTime}}</p>
                                    <p flex ng-if="vm.StartTime==null" translate>Not clocked in</p>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                      <md-list class="padding-0 padding-bottom-10">
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <div layout="row" layout-xs="column">
                                    <h3 flex="70" flex-xs="100">Today's total working time:</h3>
                                    <p flex  ng-if="vm.TotalHours<=0 && vm.StartTime!=null && vm.OutTime==null" translate> Not clocked out</p>
                                    <p flex ng-if="vm.TotalHours<=0 && vm.StartTime==null && vm.OutTime==null" translate>Not clocked in</p>
                                     <p flex ng-if="vm.TotalHours<=0 && vm.StartTime!=null && vm.OutTime!=null" translate>Not clocked in</p>
                                      <p flex ng-if="vm.TotalHours>0"  translate>{{vm.TotalHours}} Hours</p>
                                       
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>



                    <!--<h3 class="opacity-80 margin-0 margin-right-20 padding-left-0" ng-if="vm.StartTime!=null" translate>Started at : {{vm.StartTime}}</h3>
                    <h3 class="opacity-80 margin-0 margin-right-20 padding-left-0" ng-if="vm.StartTime==null" translate>Started at : Not clocked in</h3>-->

                    <!--<h3 class="opacity-80 margin-0 margin-right-20 padding-left-0" ng-if="vm.TotalHours<=0 && vm.StartTime!=null && vm.OutTime==null"
                        translate>Today's total working time : Not clocked out</h3>-->
                    <!--<h3 class="opacity-80 margin-0 margin-right-20 padding-left-0" ng-if="vm.TotalHours<=0 && vm.StartTime==null && vm.OutTime==null"
                        translate>Today's total working time : Not clocked in</h3>-->
                    <!--<h3 class="opacity-80 margin-0 margin-right-20 padding-left-0" ng-if="vm.TotalHours<=0 && vm.StartTime!=null && vm.OutTime!=null"
                        translate>Today's total working time : Not clocked in</h3>-->
                    <!--<h3 class="opacity-80 margin-0 margin-right-20 padding-left-0" ng-if="vm.TotalHours>0" translate>Today's total working time : {{vm.TotalHours}}</h3>-->

                    <md-divider class="padding-0"></md-divider>
                    <md-list class="overflow-auto padding-top-10" style="height:300px;">
                        <div layout="row" layout-align="center center" ng-if="vm.TimesheetViewModelData.length==0">
                            <h2>No Records!</h2>
                        </div>
                        <div layout="row" ng-repeat="data in vm.TimesheetViewModelData">
                            <md-list-item class="padding-0" flex="60">
                                <div class="md-list-item-text">
                                    <h3>{{data.Name}}</h3>
                                    <!--<p>Care Taker</p>-->
                                </div>
                            </md-list-item>
                            <span flex></span>
                            <div flex class="font-size-1 text-right sales-dashboard padding-right-10">
                                <span class="status status-complete margin-top-20 margin-bottom-20">{{data.TotalHours}} Hours</span></div>

                        </div>
                        <md-divider></md-divider>

                    </md-list>
                </div>
            </tri-widget>


            <tri-widget title="Summary" content-padding>
                <div layout="row" layout-align="center center" ng-if="vm.data1.length==0">
                    <h2>No Records!</h2>
                </div>
                <canvas flex class="chart-doughnut" chart-data="vm.data1" chart-legend="true" chart-labels="vm.labels1"></canvas>
            </tri-widget>
        </div>
        <div layout="row" layout-xs="column" layout-margin>

        </div>


    </div>
</div>