<div class="example-code md-whiteframe-z1 margin-bottom-10">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Staff Schedule List </h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<!--<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
			</md-button>-->
		</div>
	</md-toolbar>
	<div class="padded-content-page">
		<!--<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="Name">To Do</label>
								<input type="Name" ng-maxlength="100" label="Name" name="Name" id="Name" ng-model="vm.query.Name" >
								<div ng-messages="Search.Name.$error" md-auto-hide="false" ng-show="Search.Name.$touched">
									<div ng-message when="maxlength"><span>Maximum length is 100.</span></div>
								</div>
							</md-input-container>
						</div>

						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="SkillMasterId">Skill</label>
								<md-select name="SkillMasterId" id="SkillMasterId" ng-model="vm.query.SkillMasterId" >
									<md-option ng-repeat="option in vm.AllSkillMaster" value="{{option.ID}}">{{option.Skill}}</md-option>
								</md-select>
							</md-input-container>
						</div>

						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetStaffScheduleList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>-->

		<div class="margin-top-20">
			<div ng-if="vm.NoData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Staff Schedule list found.</h2>
                </md-input-container>
            </div>
			<div ng-if="vm.NoData==false" class="margin-top-20">
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="vm.selected" md-progress="vm.promise">
					<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetStaffScheduleList">
						<tr md-row>
							<th md-column><span>#</span></th>
							<th md-column md-order-by="Title"><span>Title</span></th>
							<th md-column md-order-by="Date"><span>Start Date</span></th>
							<th md-column><span>Start Time</span></th>
							<th md-column><span>End Date</span></th>
							<th md-column><span>End Time</span></th>
							<th md-column><span>Class</span></th>
							<th md-column><span>Room</span></th>
							<th md-column><span>Lesson</span></th>
							<!--<th md-column><span>ACTION</span></th>-->
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="staffschedule" md-select-id="staffschedule.ID" ng-repeat="staffschedule in vm.staffscheduleList ">
							<!--<tr md-row md-auto-select md-select="toDo" md-select-id="toDo.ID" ng-repeat="toDo in vm.toDoList">-->
							<td md-cell>{{ $index + 1 }} </td>
							<td md-cell>{{staffschedule.Title}}</td>
							<td md-cell>{{staffschedule.Date | date:'MM/dd/yyyy'}}</td>
							<td md-cell>{{staffschedule.Time | ampmtime }}</td>
							<td md-cell>{{staffschedule.EndDate | date:'MM/dd/yyyy'}}</td>
							<td md-cell>{{staffschedule.EndTime | ampmtime }}</td>
							<td md-cell>{{staffschedule.Class.ClassName}}</td>
							<td md-cell>{{staffschedule.Room.Name}}</td>
							<td md-cell>{{staffschedule.LessonPlan.Name}}</td>
							<!--<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.showDeleteStaffSkillConfirmDialoue($event,staffskill.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
								</a>
							</td>-->
						</tr>
					</tbody>
				</table>
			</md-table-container>

			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.staffscheduleCount}}"
				md-on-paginate="vm.GetStaffScheduleList" md-page-select></md-table-pagination>
			</div>
		</div>
	</div>
</div>