
<form name="registerPosition">
	<h2>Add Position</h2>
				<div layout layout-xs="column" flex>
					<md-input-container flex>
						<label for="Position">Position</label>
						<input type="text" label="Position" name="Position" id="Position" ng-model="vm.Position.Name" md-maxlength="50" required>
						<div ng-messages="registerPosition.Position.$error" md-auto-hide="false" ng-show="registerPosition.Position.$touched">
							<div ng-message when="required"><span>Please enter Position.</span></div>
						</div>
					</md-input-container>
				</div>
				<div layout layout-xs="column" flex>
				</div>
				<div layout layout="row" layout-align="end center">
					<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addPosition(form.registerPosition)"
						ng-disabled="registerPosition.$invalid" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>
					<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.clear(form.registerPosition)"
						ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
				</div>
			<!--</md-whiteframe>-->
		<!--</md-card-content>-->
	<!--</md-card>-->
</form>
<!--</md-content>-->