
    <form name="paymentForm">
      <div>
       
        <div layout layout-xs="column" flex>
          <md-input-container flex class="mrgR-10">
            <label translate>Fees Type</label>
            <md-select name="FeesType" ng-model="vm.class.FeeTypeId"  required>
                <md-option value="{{Type.ID}}" ng-repeat="Type in vm.AllFeesType">{{ Type.Name }}</md-option>
            </md-select>
            <div ng-messages="paymentForm.FeesType.$error" md-auto-hide="false" ng-show="paymentForm.FeesType.$touched">
              <div ng-message when="required"><span>Please select Fees Type.</span></div>
            </div>
          </md-input-container>
          <md-input-container flex class="mrgL-10">
            <label translate>Amount($)</label>
            <input type="number" name="Amount" ng-model="vm.class.Fees" min="0"    required>
            <div ng-messages="paymentForm.Amount.$error" md-auto-hide="false" ng-show="paymentForm.Amount.$touched">
              <div ng-message when="required"><span>Amount is required.</span></div>
              <div ng-message when="min"><span>Amount must be greater than 0.</span></div>
            </div>
          </md-input-container>
        </div>      
      </div>
      <div class="button-toolbar" layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="vm.updatePayment(paymentForm,vm.class)" ng-disabled="paymentForm.$invalid">Update</md-button>
      </div>
    </form>
