<form name="formMealPattern">
	<div layout="row" layout-xs="column">
		<div flex="100" flex-xs="100">
			<p class="margin-bottom-0">&nbsp;</p>
			<div layout="row"  layout-xs="column">
				<div flex="40">
					<md-input-container class="md-block mrgR-10">
						<label translate>Age Group</label>
						<md-select name="AgeGroup" id="AgeGroup" required ng-model="vm.mealPattern.AgeGroupId" ng-change="vm.getItems(vm.mealPattern.MealTypeId)">
							<md-option value="{{ item.ID}}" ng-repeat="item in  vm.AllFoodMaster">{{ item.Agegroup}} </md-option>
						</md-select>
						<div ng-messages="formMealPattern.AgeGroup.$error" md-auto-hide="false" ng-show="formMealPattern.AgeGroup.$touched">
							<div ng-message when="required"><span>Please select age group.</span></div>
						</div>
					</md-input-container>
				</div>
				<div flex="20">
					<md-input-container class="md-block mrgR-10">
						<label translate>Meal type</label>
						<md-select name="MealTypeId" id="MealTypeId" required ng-model="vm.mealPattern.MealTypeId" ng-change="vm.getItems(vm.mealPattern.MealTypeId)">
							<md-option value="{{MealType.ID}}" ng-repeat="MealType in vm.AllMealTypes">{{ MealType.Name }}</md-option>
						</md-select>
						<div ng-messages="formMealPattern.MealTypeId.$error" md-auto-hide="false" ng-show="formMealPattern.MealTypeId.$touched">
							<div ng-message when="required"><span>Please select meal type.</span></div>
						</div>
					</md-input-container>
				</div>
				<div flex="40">
					<md-input-container class="md-block mrgR-10">
						{{ItemList}}
						<div ng-repeat="Item in vm.ItemList">
						<md-checkbox class="md-primary" value="Item.ID" 
						ng-model="Item.IsChecked"   
						aria-label="Primary Checkbox">
							{{Item.MealItem.Name}}
						</md-checkbox>
						</div>
					</md-input-container>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div layout layout="row" layout-align="end center">		
		<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.AddFoodMealPattern(vm.mealPattern,formMealPattern)"
			ng-disabled="formMealPattern.$invalid||vm.ItemList.length<=0" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>
		<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.ClearFields(formMealPattern)"
			 translate="Reset" aria-label="{{'Log in' | triTranslate}}">Reset</md-button>
	</div>
</form>
