<md-whiteframe class="md-whiteframe-z5 flex layout-column margin-bottom-20">
<div class="padded-content-page">
	 <div layout layout-xs="column" flex>
     	<md-input-container flex>
            <label>From Date</label>
            <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
        <md-input-container flex>
             <label>To Date</label>
    		<md-datepicker ng-model="registration" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
         <md-input-container flex>
         	<md-card-actions layout="row" layout-align="end center">
              <md-button class="md-primary md-raised"  translate="Go"></md-button>
              <md-button class="md-accent md-raised" translate="Reset"></md-button>
            </md-card-actions>
        </md-input-container>
     </div>


  <div class="clear"></div>
</div>

 </md-whiteframe>

<div>
  <md-table-container>
    <md-card-actions layout="row" layout-align="end center ">
      <md-button class="md-primary">
        <md-icon md-font-icon="fa fa-print"></md-icon>
        Print</md-button>
    </md-card-actions>
    <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
      <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
        <tr md-row>
          <th md-column>Name</th>
          <th md-column>Date</th>
          <th md-column>Day</th>
          <th md-column>In-Time</th>
          <th md-column>Out-Time</th>
          <th md-column>Attendance By</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row >
          <td md-cell>Katie Green</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>Monday</td>
          <td md-cell>10.00 AM</td>
          <td md-cell>4.00pm</td>
          <td md-cell>Samuel</td>
        </tr>
        <tr md-row >
          <td md-cell>Sam Allardyce</td>
          <td md-cell>08/11/2016</td>
          <td md-cell>Tuesday</td>
          <td md-cell>10.00 AM</td>
          <td md-cell>4.00pm</td>
          <td md-cell>Christina</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
</div>
<md-button ng-click="vm.showAddAttendaceDialoue()" class="md-fab md-accent md-fab-bottom-right md-hue-3" aria-label="Add Attendance">
            <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
            <md-tooltip>Add Attendance</md-tooltip>
        </md-button>
 </div>