<md-card flex flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
	<md-card-content>
		<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
			<h2>Enrolled List</h2>
			<span flex></span>
      <span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight1()" ng-hide="vm.isOpenRight1()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon whiteColor" md-font-icon="zmdi zmdi-filter-list" class="whiteColor"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right1">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<div layout layout-xs="column" flex>
						<md-input-container flex>
							<label for="Name">Name</label>
							<input type="text" label="Name" name="Name" id="Name" ng-model="query.ParticipantName">
						</md-input-container>
						<md-input-container flex="50">
							<label for="Status">Status</label>
							<md-select name="Status" id="Status" ng-model="query.StatusId">
								<md-option value="1">Enrolled</md-option>
								<md-option value="0">Cancelled</md-option>
							</md-select>
						</md-input-container>	
					</div>
					<div layout layout-xs="column" flex>
						<!--<md-input-container flex="50">
							<md-datepicker flex md-placeholder="Enter Date" ng-model="query.StartDate" name="Date" id="Date" ng-model-options="{ timezone: 'utc' }"
								class='margin0'></md-datepicker>
						</md-input-container>-->
						
					</div>
					<div layout layout-xs="column" flex>
						<md-input-container flex class="text-center">
							<md-button class="md-primary md-raised" ng-click="vm.GetStudentScheduleList()">Search</md-button>
							<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
							<md-button ng-click="vm.close1()" class="md-warn md-raised">Close</md-button>
						</md-input-container>
					</div>
				</md-content>

			</div>
		</md-sidenav>
		<div class="margin-left-10">
			<p>
				<h3>Participant Name : {{ParticipantName}}</h3>
				<h3>Start Date : {{StartDate | date:'MM/dd/yyyy'}}</h3>
				<h3>Status : {{Status}}</h3>
			</p>
		</div>
		<div class="margin-top-20 margin-left-10 margin-right-10">
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
					<thead md-head md-order="query.order" md-on-reorder="vm.GetStudentScheduleList">
						<tr md-row>
							<th md-column><span>{{vm.columns.Image}}</span></th>
							<th md-column md-order-by="StudentName"><span>{{vm.columns.StudentName}}</span></th>
							<th md-column md-order-by="ClassName"><span>{{vm.columns.ClassName}}</span></th>
							<th md-column md-order-by="StartDate"><span>{{vm.columns.StartDate}}</span></th>
							<th md-column ><span>{{vm.columns.Status}}</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="schedule" md-select-id="schedule.ID" ng-repeat="schedule in vm.ScheduleList">
							<td md-cell><img ng-src="{{vm.ImageUrlPath}}{{schedule.ImagePath}}" err-src="assets/images/avatars/avatar-5.png" /></td>
							<td md-cell>{{schedule.StudentFullName}}</td>
							<td md-cell>{{schedule.ClassName}}</td>
							<td md-cell>{{schedule.Startdate | date:'MM/dd/yyyy'}}</td>
							<td md-cell>{{schedule.EnrollStatus}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<div ng-if="vm.NoData==true" layout layout-xs="column" flex>
				<md-input-container flex class="text-center">
					<h2>No Enroll list found.</h2>
				</md-input-container>
			</div>
			<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page-select md-page="query.page"
				md-total="{{vm.ScheduleCount}}" md-on-paginate="vm.GetStudentListByFamily"></md-table-pagination>
	</md-card-content>
</md-card>