<md-tabs class="example-tabs-nopadding" md-dynamic-height md-border-bottom>
  <md-tab label="Enroll List">
    <div class="md-tabs-content">
      <div>
        <div ng-if="vm.NoData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Enroll list found.</h2>
                </md-input-container>
            </div>
			<div ng-if="vm.NoData==false" class="margin-top-20">
        <md-table-container >
          <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
            <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
              <tr md-row>
                <th md-column>Student</th>
                <th md-column>Gender</th>
                <th md-column>Age</th>
                <th md-column>Start Date</th>
                <th md-column>End Date</th>
                <th md-column>Mon</th>
                <th md-column>Tue</th>
                <th md-column>Wed</th>
                <th md-column>Thu</th>
                <th md-column>Fri</th>
                <th md-column>Sat</th>
                <th md-column>&nbsp;</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row >
                <td md-cell><a ng-click="wait($event)">Katie Green</a></td>
                <td md-cell>Female</td>
                <td md-cell>1 yr 3 months</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell><md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary" ng-click="vm.dropboxfrom($event)">Drop</md-button>
                    <md-button class="md-primary" ng-click="vm.showTabDialog($event)" >Transfer</md-button>
                  </md-card-actions></td>
              </tr>
              <tr md-row >
                <td md-cell>Katie Green</td>
                <td md-cell>Female</td>
                <td md-cell>1 yr 3 months</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell><md-card-actions layout="row" layout-align="end center ">
                    <md-button class="md-primary" >Drop</md-button>
                    <md-button class="md-primary"  >Transfer</md-button>
                  </md-card-actions></td>
              </tr>
              <tr md-row >
                <td md-cell>Katie Green</td>
                <td md-cell>Female</td>
                <td md-cell>1 yr 3 months</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell>10.00am-4.00pm</td>
                <td md-cell><md-card-actions layout="row" layout-align="end center ">
                    <md-button class="md-primary" >Drop</md-button>
                    <md-button class="md-primary"  >Transfer</md-button>
                  </md-card-actions></td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
      </div>
    </div>
  </md-tab>
  <md-tab label="Future Enrollment">
    <div class="md-tabs-content">
      <div>
        <md-table-container>
          <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
            <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
              <tr md-row>
                <th md-column>Student</th>
                <th md-column>Gender</th>
                <th md-column>Age</th>
                <th md-column>Start Date</th>
                <th md-column>End Date</th>
                <th md-column>Mon</th>
                <th md-column>Tue</th>
                <th md-column>Wed</th>
                <th md-column>Thu</th>
                <th md-column>Fri</th>
                <th md-column>Sat</th>
                <th md-column>Status</th>
                <th md-column>&nbsp;</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row >
                <td md-cell><a ng-click="">Ryan Green</a></td>
                <td md-cell>Female</td>
                <td md-cell>1 yr 3 months</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>Payment Pending</td>
                <td md-cell>
                	<md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary" ng-click="vm.dropboxformcancel($event)">Cancel</md-button>
                  </md-card-actions>
                </td>
              </tr>
              <tr md-row >
                <td md-cell>Ryan Green</td>
                <td md-cell>Female</td>
                <td md-cell>1 yr 3 months</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>Registration incomplete</td>
                <td md-cell>
                	<md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary" >Cancel</md-button>
                  </md-card-actions>
                </td>
              </tr>
              <tr md-row >
                <td md-cell>Ryan Green</td>
                <td md-cell>Female</td>
                <td md-cell>1 yr 3 months</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>08/11/2016</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>-</td>
                <td md-cell>Payment Pending</td>
                <td md-cell>
                	<md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary" >Cancel</md-button>
                  </md-card-actions>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
      </div>
    </div>
  </md-tab>
</md-tabs>
