<md-progress-linear md-mode="indeterminate" ng-show="vm.showProgressbar"></md-progress-linear>
<h3>Add Instructor</h3>
<md-whiteframe class="md-whiteframe-z5 flex layout-column margin-bottom-20">
  <div class="padded-content-page">
    <form name="formInstructor">
      <div layout="row" layout-xs="column">

        <div flex>
          <md-select placeholder="Instructor" name="instructorcombo" id="instructorcombo" ng-model="vm.instructor.StaffId" class="mrgR-10"
            required>
            <md-option ng-repeat="Staff in vm.AllStaffs" value={{Staff.ID}}>{{Staff.Name}}</md-option>
          </md-select>
          <div ng-messages="formInstructor.instructorcombo.$error" md-auto-hide="false" ng-show="formInstructor.instructorcombo.$touched">
            <div ng-message when="required"><span>Please choose instructor.</span></div>
          </div>
        </div>
      </div>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" translate="Add" ng-click="vm.addMappedInstructor(formInstructor)" ng-disabled="formInstructor.$invalid" >Add</md-button>
         <md-button class="md-primary md-raised" translate="Add" ng-click="vm.updateMappedInstructor(formInstructor)" ng-disabled="formInstructor.$invalid" ng-show="Id>0">Update</md-button>
         <md-button class="md-accent md-raised"  ng-click="vm.reset()">Reset</md-button>
      </md-card-actions>
    </form>
  </div>
</md-whiteframe>

<h3>Instructor</h3>
<md-table-container>
  <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
    <thead md-head md-order="query.order" md-on-reorder="vm.GetAllMappedInstructorList">
      <tr md-row>
        <th md-column><span>#</span></th>
        <th md-column md-order-by="InstructorName">{{vm.columns.InstructorName}}</th>
        <th md-column md-order-by="PositionName">{{vm.columns.PositionName}}</th>
        <th md-column md-order-by="Email">{{vm.columns.Email}}</th>
        <th md-column><span>ACTION</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-auto-select md-select="instructor" @*md-select-id="instructor.ID" *@ ng-repeat="instructor in vm.mapppedInstructorList">
        <td md-cell>{{ $index + 1 }}</td>
        <td md-cell>{{instructor.InstructorName}}</td>
        <td md-cell>{{instructor.PositionName}}</td>
        <td md-cell>{{instructor.Email}}</td>
        <td md-cell style="min-width:60px">
          <a class="md-primary" ng-click="vm.editMapppedInstructor($event,instructor)" style="cursor:pointer">
            <md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
          </a> &nbsp;
          <a class="md-primary" ng-click="vm.showDeleteInstructorConfirmDialoue($event,instructor)" style="cursor:pointer">
            <md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
            </md-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-page-select md-page="query.page" md-total="{{vm.mapppedInstructorListCount}}"
  md-on-paginate="vm.GetAllMappedInstructorList"></md-table-pagination>