<div>
  <h3 class="left-heading">Lessong Plan</h3>
  <md-card-actions layout="row" layout-align="end center ">
    <md-button class="md-primary">
      <md-icon md-font-icon="fa fa-envelope-o"></md-icon>
      Email</md-button>
    <md-button class="md-primary">
      <md-icon md-font-icon="fa fa-print"></md-icon>
      Print</md-button>
    <md-button class="md-primary md-raised"  translate="Add Lesson"></md-button>
    <md-button class="md-accent md-raised" translate="Copy Lesson Plan"></md-button>
  </md-card-actions>
  <div class="clear"></div>
  <md-table-container class="lesson-table" >
    <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise">
      <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
        <tr md-row>
          <th md-column>Date</th>
          <th md-column>Lesson Name</th>
          <th md-column>Theme</th>
          <th md-column>Order</th>
          <th md-column>Details</th>
          <th md-column>Instructor Comments</th>
          <th md-column class="text-center">Action</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row >
          <td md-cell><md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker></td>
          <td md-cell><md-input-container class="md-block">
              <input type="text">
            </md-input-container></td>
          <td md-cell><md-input-container class="md-block">
              <input type="text">
            </md-input-container></td>
          <td md-cell><md-input-container class="md-block">
              <input type="text">
            </md-input-container></td>
          <td md-cell><md-input-container class="md-block">
              <input type="text">
            </md-input-container></td>
          <td md-cell><md-input-container class="md-block">
              <input type="text">
            </md-input-container></td>
          <td md-cell><md-card-actions layout="row" layout-align="end center ">
              <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-cloud-upload"></md-icon>
              </md-button>
              <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-trash"></md-icon>
              </md-button>
              <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-floppy-o"></md-icon>
              </md-button>
            </md-card-actions></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
</div>
