<div class="example-code md-whiteframe-z1 margin-bottom-10">
	<md-toolbar>
		<div class="md-toolbar-tools">
		</div>
	</md-toolbar>
	<div class="padded-content-page">
		<md-whiteframe class="md-whiteframe-z5 flex layout-column">
			<div class="padded-content-page">
				<div layout layout-xs="column" flex>
					<md-input-container flex>
						<label for="name">Name</label>
						<input type="text" label="name" name="name" id="name" ng-model="query.name">
					</md-input-container>
					<md-input-container flex>
						<label for="studentclass">Class</label>
						<md-select placeholder="select class" name="studentclass" id="studentclass" ng-model="query.studentclass" ng-disabled="true">
							<md-option value="1">Infant</md-option>
							<md-option value="2">Pre School</md-option>
							<md-option value="3">Toddler</md-option>
						</md-select>
					</md-input-container>
					<md-input-container flex>
						<label for="status">Status</label>
						<md-select placeholder="select status" name="status" id="status" ng-model="query.status" ng-disabled="true">
							<md-option value="1">Present</md-option>
							<md-option value="2">Absent</md-option>
						</md-select>
					</md-input-container>
					<md-input-container flex class="text-center">
						<md-button class="md-primary md-raised" ng-click="vm.GetStudentList()">Search</md-button>
					</md-input-container>
				</div>
			</div>
		</md-whiteframe>
		<div class="margin-top-20">
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped"  ng-model="selected"
					md-progress="vm.promise">
					<thead md-head md-order="query.order" md-on-reorder="vm.GetStudentList">
						<tr md-row>
							<th md-column><span>#</span></th>
							<th md-column md-order-by="FirstName"><span>{{vm.columns.Name}}</span></th>
							<th md-column md-order-by="Gender"><span>{{vm.columns.Gender}}</span></th>
							<th md-column md-order-by="BirthDate"><span>{{vm.columns.BirthDate}}</span></th>
							<th md-column md-order-by="StartDate"><span>{{vm.columns.Startdate}}</span></th>
							<th md-column md-order-by="EndDate"><span>{{vm.columns.Enddate}}</span></th>
							<th md-column><span>ACTION</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="student" md-select-id="student.ID" ng-repeat="student in vm.studentList">
							<td md-cell>{{ $index + 1 }}</td>
							<td md-cell><a style="cursor:pointer" ng-click="vm.detailStudentInfo($event,student)">{{student.FullName}}</a></td>
							<td md-cell>{{student.Gender}}</td>
							<td md-cell>{{student.Dateofbirth}}</td>
							<td md-cell>{{student.Startdate}}</td>
							<td md-cell>{{student.Enddate}}</td>
							<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.mapStudentToWaitList(student.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-plus" aria-hidden="true"></md-icon>
								</a> &nbsp;
							</td>
						</tr>
					</tbody>
				</table>                
			</md-table-container>
			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.studentCount}}"
				md-on-paginate="vm.GetStudentList" md-page-select></md-table-pagination>
		</div>
	</div>
</div>