<div>
<div>
		<md-card flex flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
			<md-card-content>
				<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
				<md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always" md-dynamic-height>
					<md-tab label="Meal Pattern">
						<div flex ng-controller="FoodManagementMealPatternController as vm">
							<md-content class="md-padding" ng-include="'app/class/classdetails/views/details/pages/addmealpattern.tmpl.html'"></md-content>

							<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
								<h2>Meal Pattern List</h2>
								<span flex></span>
								<span><h3>Search</h3></span>
								<md-button ng-click="vm.toggleRight3()" ng-hide="vm.isOpenRight3()" class="md-icon-button" aria-label="Settings">
									<md-icon md-font-icon="zmdi zmdi-filter-list" class="whiteColor searchIcon"></md-icon>
									<md-tooltip>Search</md-tooltip>
								</md-button>
							</div>
							<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right3">
								<md-toolbar class="md-theme-light">
									<h1 class="md-toolbar-tools">Search</h1>
								</md-toolbar>
								<div class="padded-content-page">
									<md-content class="overflowVisible">
										<form id="Search">
											<div layout="row" layout-xs="column">

												<div flex>
													<md-input-container class="md-block mrgR-10">
														<label translate>Meal type</label>
														<md-select name="MealTypeId" id="MealTypeId" ng-model="vm.query.MealTypeId">
															<md-option value="{{MealType.ID}}" ng-repeat="MealType in vm.AllMealTypes">{{ MealType.Name }}</md-option>
														</md-select>

													</md-input-container>
												</div>
												<div flex>
													<md-input-container class="md-block mrgL-10">
														<label for="name">Item Name</label>
														<input type="text" label="Name" name="Name" id="Name" ng-model="vm.query.ItemName" ng-maxlength="100">
													</md-input-container>
												</div>
											</div>
											<div layout layout-xs="column" flex>
												<md-input-container flex class="text-center">
													<md-button class="md-primary md-raised" ng-click="vm.GetFoodMealList()">Search</md-button>
													<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
													<md-button ng-click="vm.close3()" class="md-warn md-raised">Close</md-button>
												</md-input-container>
											</div>
										</form>
									</md-content>
								</div>
							</md-sidenav>

							<md-content ng-include="'app/class/classdetails/views/details/pages/meallist.tmpl.html'"></md-content>
						</div>
					</md-tab>
				</md-tabs>
			</md-card-content>
		</md-card>
	</div>
</div>