<form name="positionList">
	<md-table-container>
		<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" md-progress="vm.promise"
			ng-model="vm.selected">
			<thead md-head md-order="vm.query.order" md-on-reorder="vm.GetFoodMealList">
				<tr md-row>
					<th ><span>{{vm.columns.Age}}</span></th>
					<th md-column md-order-by="Meal"><span>{{vm.columns.Meal}}</span></th>
					<th md-column md-order-by="Item"><span>{{vm.columns.Item}}</span></th>
					<th md-column><span>ACTION</span></th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-auto-select md-select="item" @*md-select-id="item.ID" *@ ng-repeat="item in vm.foodMealList">
					<td md-cell>{{item.AgeGroup}}</td>
					<td md-cell>{{item.FoodManagementMealPatternItemsInfos[0].FoodManagementMaster.MealType.Name}}</td>
					<td md-cell><span ng-repeat="data in item.FoodManagementMealPatternItemsInfos">{{data.FoodManagementMaster.MealItem.Name}}<br/></span></td>
					<td md-cell>
						<a class="md-primary" ng-click="vm.showUpdateFoodMealDetailsConfirmDialoue($event,item)" style="cursor:pointer">
							<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
							<md-tooltip>Edit</md-tooltip>
						</a> &nbsp;
						<a class="md-primary" ng-click="vm.showDeleteFoodMealDetailsConfirmDialoue($event,item)" style="cursor:pointer">
							<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
							</md-icon>
							<md-tooltip>Delete</md-tooltip>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
		<md-input-container flex class="text-center">
			<h2>No list found.</h2>
		</md-input-container>
	</div>
	<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.foodMealListCount}}"
		md-on-paginate="vm.GetFoodMealList" md-page-select></md-table-pagination>
</form>