<h3>Schedule</h3>

<md-whiteframe class="md-whiteframe-z5 flex layout-column margin-bottom-20">
<div class="padded-content-page">
<div layout layout-xs="column" flex>
	<md-input-container flex>
        <label>From Date</label>
        <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
    </md-input-container>
      <md-input-container flex>
        <label>To Date</label>
    <md-datepicker ng-model="registration" md-placeholder="Enter date"></md-datepicker>
    </md-input-container>  
  <md-input-container flex>
       	<md-select placeholder="Instructor" ng-model="Instructor" class="mrg-inst">
      <md-option value="1">Instructor 1</md-option>
      <md-option value="2">Instructor 2</md-option>
    </md-select>
    </md-input-container>  
 </div>
<md-card-actions layout="row" layout-align="end center">
  <md-button class="md-primary md-raised"  translate="Search"></md-button>
</md-card-actions>

</div>
</md-whiteframe>
<div>
 <md-card-actions layout="row" layout-align="end center ">
      <md-button class="md-primary">
        <md-icon md-font-icon="fa fa-print"></md-icon>
        Print</md-button>
    </md-card-actions>
  <md-table-container class="lesson-table">
   
    <table md-table class="md-primary md-data-table table-striped" ng-model="vm.selected" md-progress="vm.promise" >
      <thead  md-head md-order="vm.query.order" md-on-reorder="vm.getUsers" >
        <tr md-row>
          <th md-column>Date</th>
          <th md-column>Time</th>
          <th md-column>Room</th>
          <th md-column>Enrolled Students</th>
          <th md-column class="text-center">Action</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row >
          <td md-cell>08/11/2016</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>Room 1</td>
          <td md-cell>10</td>
          <td md-cell class="text-center">
          <md-button class="md-primary">
                Detail
              </md-button>
           <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-trash"></md-icon>
              </md-button> <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-pencil-square-o"></md-icon>
              </md-button></td>
        </tr>
       <tr md-row >
          <td md-cell>08/11/2016</td>
          <td md-cell>10.00am-4.00pm</td>
          <td md-cell>Room 1</td>
          <td md-cell>10</td>
          <td md-cell class="text-center"> <md-button class="md-primary">
                Detail
              </md-button> <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-trash"></md-icon>
              </md-button> <md-button class="md-primary">
                <md-icon md-font-icon="fa fa-pencil-square-o"></md-icon>
              </md-button></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page-select md-page="vm.query.page" md-total="{{vm.users.total_count}}" md-on-paginate="vm.getUsers"></md-table-pagination>
</div>