<h3>Class Details</h3>
<md-card  class="tri-wizard-card md-whiteframe-z1" tri-wizard>
  <md-card-content>
    <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
      <md-tab id="account">
        <md-tab-label> <span class="oxy-step-label">1</span> <span translate>Account details</span> </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <form name="accountForm" tri-wizard-form novalidate>
              <div>
                <div layout="row" layout-xs="column">
                  <div flex>
                    <md-input-container class="md-block mrgR-10">
                      <label for="email">email</label>
                      <input id="email" label="email" name="email" type="email" ng-model="user.email" ng-pattern="emailFormat" pattern=".{6,100}" allow-pattern="(\d|[a-z\@\.\_])" required/>
                      <div ng-messages="login.email.$error" md-auto-hide="false" ng-show="login.email.$touched">
                        <div ng-message="required"> Please enter your email address. </div>
                        <div ng-message="email"> Please enter a valid email address. </div>
                      </div>
                    </md-input-container>
                  </div>
                  <div flex>
                    <md-select placeholder="Category" ng-model="category" class="mrgL-10" >
                      <md-option value="1">Infrant</md-option>
                      <md-option value="2">Toddler</md-option>
                      <md-option value="3">After Scholl</md-option>
                    </md-select>
                  </div>
                </div>
                <div layout="row" layout-xs="column">
                  <div flex>
                    <md-select placeholder="Status" ng-model="status" class="mrgR-10">
                      <md-option value="1">Active</md-option>
                      <md-option value="2">Inactive</md-option>
                    </md-select>
                  </div>
                  <div flex>
                    <md-input-container class="md-block mrgL-10">
                      <label>Enroll  Capacity</label>
                      <input type="text">
                    </md-input-container>
                  </div>
                </div>
              </div>
            </form>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab id="address" ng-disabled="accountForm.$invalid">
        <md-tab-label> <span class="oxy-step-label">2</span> <span translate>Your address</span> </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <form name="addressForm" tri-wizard-form>
              <div>
                <div layout="row" layout-xs="column">
                  <div flex>
                    <md-select placeholder="Session" ng-model="session" class="mrgR-10" required>
                      <md-option value="1">2015-2016</md-option>
                      <md-option value="2">2016</md-option>
                    </md-select>
                  </div>
                  <div flex>
                    <md-select placeholder="Room" ng-model="room" class="mrgL-10">
                      <md-option value="1">Room 1</md-option>
                      <md-option value="2">Room 2</md-option>
                    </md-select>
                  </div>
                </div>
                <p>Days</p>
                <div layout="row" layout-xs="column">
                  <div flex>
                    <md-checkbox class="md-primary" ng-model="checkboxes.monday" aria-label="Primary Checkbox"> Mon </md-checkbox>
                  </div>
                  <div flex>
                    <md-checkbox class="md-primary" ng-model="checkboxes.tuesday" aria-label="Primary Checkbox"> Tue </md-checkbox>
                  </div>
                  <div flex>
                    <md-checkbox class="md-primary" ng-model="checkboxes.wednesday" aria-label="Primary Checkbox"> Wed </md-checkbox>
                  </div>
                  <div flex>
                    <md-checkbox class="md-primary" ng-model="checkboxes.thursday" aria-label="Primary Checkbox"> Thu </md-checkbox>
                  </div>
                  <div flex>
                    <md-checkbox class="md-primary" ng-model="checkboxes.friday" aria-label="Primary Checkbox"> Fri </md-checkbox>
                  </div>
                  <div flex>
                    <md-checkbox class="md-primary" ng-model="checkboxes.saturday" aria-label="Primary Checkbox"> Sat </md-checkbox>
                  </div>
                </div>
              </div>
            </form>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab id="billing" ng-disabled="addressForm.$invalid">
        <md-tab-label> <span class="oxy-step-label">3</span> <span translate>Billing details</span> </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <form name="billingForm" tri-wizard-form>
              <div layout="row" layout-xs="column">
                <div flex>
                  <p class="margin-bottom-0">Min. Age</p>
                  <div layout="row" layout-xs="column">
                    <div flex>
                      <md-select placeholder="Year" ng-model="year" class="mrgR-10">
                        <md-option value="1">1 Year</md-option>
                        <md-option value="2">2 Year</md-option>
                        <md-option value="3">3 Year</md-option>
                      </md-select>
                    </div>
                    <div flex>
                      <md-select placeholder="Months" ng-model="months" class="mrgR-10 mrgL-10">
                        <md-option value="1">1 Month</md-option>
                        <md-option value="2">2 Months</md-option>
                        <md-option value="3">3 Months</md-option>
                      </md-select>
                    </div>
                  </div>
                </div>
                <div flex>
                  <p class="mrgL-10 margin-bottom-0">Max. Age</p>
                  <div layout="row" layout-xs="column">
                    <div flex>
                      <md-select placeholder="Year" ng-model="year1" class="mrgR-10 mrgL-10">
                        <md-option value="1">1 Year</md-option>
                        <md-option value="2">2 Year</md-option>
                        <md-option value="3">3 Year</md-option>
                      </md-select>
                    </div>
                    <div flex>
                      <md-select placeholder="Months" ng-model="months1" class="mrgL-10">
                        <md-option value="1">1 Month</md-option>
                        <md-option value="2">2 Months</md-option>
                        <md-option value="3">3 Months</md-option>
                      </md-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="margin-bottom-20">
                <div class="col-25">
                  <p>Age Cutoff Date</p>
                  <md-datepicker ng-model="agecutoff" md-placeholder="Enter date"></md-datepicker>
                </div>
                <div class="col-25">
                  <p class="mrgL-10">Registration Start Date</p>
                  <md-datepicker ng-model="registration" md-placeholder="Enter date"></md-datepicker>
                </div>
                <div class="col-25">
                  <p class="mrgL-10">Class Start Date</p>
                  <md-datepicker ng-model="startdate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <div class="col-25">
                  <p class="mrgL-10">Class End Date</p>
                  <md-datepicker ng-model="enddate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <div style="clear:both"></div>
              </div>
            </form>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab id="confirm" ng-disabled="billingForm.$invalid">
        <md-tab-label> <span class="oxy-step-label">4</span> <span translate>Confirmation</span> </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
          
            <div layout="row" layout-xs="column">
              <div flex>
                <md-input-container class="md-block mrgR-10">
                  <label>Star Time</label>
                  <input type="text">
                </md-input-container>
              </div>
              <div flex>
                <md-input-container class="md-block mrgL-10">
                  <label>End Time</label>
                  <input type="text">
                </md-input-container>
              </div>
            </div>
            <div layout="row" layout-xs="column">
              <div flex>
                <md-input-container class="md-block">
                  <label>Description</label>
                  <textarea></textarea>
                </md-input-container>
              </div>
            </div>
            
          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 3" ng-disabled="triWizard.prevStepDisabled()" translate="Previous"></md-button>
    <md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.currentStep > 2" ng-disabled="triWizard.nextStepDisabled()" translate="Next"></md-button>
    <md-button class="md-accent md-raised" ng-click="triWizard.currentStep = 3" ng-show="triWizard.currentStep > 2" translate="Send"></md-button>
  </md-card-actions>
  </div>
</md-card>
