<md-dialog class="mobile-fullwidth-dialog" flex="60" flex-xs="100">
	<md-toolbar ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
		<div class="md-toolbar-tools">
			<h2>Update Food Meal details</h2>
		</div>
	</md-toolbar>
	<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
	<md-dialog-content class="md-dialog-content">
		<form name="formMealPattern">
			<div layout="row" layout-xs="column">

				<div flex="100" flex-xs="100">
					<p class="margin-bottom-0">&nbsp;</p>
					<div layout="row" layout-xs="column">
						<div flex>
							<md-input-container class="md-block mrgR-10">
								<label translate>Age Group</label>
								<md-select name="AgeGroup" id="AgeGroup" required ng-model="vm.mealPattern.AgeGroupId" ng-change="vm.getItems(vm.mealPattern.MealTypeId)">
									<md-option value="{{item.ID}}" ng-repeat="item in  vm.AllFoodMaster">{{ item.Agegroup}} </md-option>
								</md-select>
								<div ng-messages="formMealPattern.AgeGroup.$error" md-auto-hide="false" ng-show="formMealPattern.AgeGroup.$touched">
									<div ng-message when="required"><span>Please select Age Group</span></div>
								</div>
							</md-input-container>
						</div>
						<div flex>
							<md-input-container class="md-block mrgR-10">
								<label translate>Meal type</label>
								<md-select name="MealTypeId" id="MealTypeId" required ng-model="vm.mealPattern.MealTypeId" ng-change="vm.getItems(vm.mealPattern.MealTypeId)">
									<md-option value="{{MealType.ID}}" ng-repeat="MealType in vm.AllMealTypes">{{ MealType.Name }}</md-option>
								</md-select>
								<div ng-messages="formMealPattern.MealTypeId.$error" md-auto-hide="false" ng-show="formMealPattern.MealTypeId.$touched">
									<div ng-message when="required"><span>Please select Meal Type</span></div>
								</div>
							</md-input-container>
						</div>
						<div flex>
							<md-input-container class="md-block mrgR-10">
								{{ItemList}}
								<div ng-repeat="Item in vm.ItemList">
									<md-checkbox class="md-primary" value="Item.ID" ng-model="Item.IsChecked" aria-label="Primary Checkbox">
										{{Item.MealItem.Name}}
									</md-checkbox>
								</div>
							</md-input-container>
						</div>
					</div>
				</div>
			</div>
			<div layout layout="row" layout-align="end center">
				<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.updateFoodData(vm.mealPattern)"
					ng-disabled="registerPosition.$invalid ||vm.ItemList.length<=0" translate="Save" aria-label="{{'Save' | triTranslate}}">Update</md-button>
				<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.cancelClick()"
					ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
			</div>
		</form>
	</md-dialog-content>
</md-dialog>