<div class="example-code md-whiteframe-z1 margin-bottom-10">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Waitlist Student Details <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Enrolls' : 'Enroll'}} selected )</span></h2>
			<span flex></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padded-content-page">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Participant</label>
								<input type="text" label="name" name="name" id="name" ng-model="query.ParticipantName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetFutureEnrolledStudent()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
    <div class="margin-top-40">
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped"  ng-model="selected"
					md-progress="vm.promise">
					<thead md-head md-order="query.order" md-on-reorder="vm.GetFutureEnrolledStudent">
						<tr md-row>
							<th md-column><span>#</span></th>
							<th md-column><span>{{vm.columns.Image}}</span></th>
							<th md-column md-order-by="FirstName"><span>{{vm.columns.FirstName}}</span></th>
							<th md-column md-order-by="LastName"><span>{{vm.columns.LastName}}</span></th>
							<th md-column><span>{{vm.columns.ClassName}}</span></th>
							<th md-column md-order-by="StartDate"><span>{{vm.columns.StartDate | date:'MM/dd/yyyy'}}</span></th>
							<th md-column md-order-by="Room"><span>{{vm.columns.Room}}</span></th>
							<th md-column><span>ACTION</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="schedule" md-select-id="schedule.ID" ng-repeat="schedule in vm.ScheduleList">
							<td md-cell>{{ $index + 1 }}</td>
							<td md-cell><img ng-src="{{vm.ImageUrlPath}}{{schedule.ImagePath}}" err-src="assets/images/avatars/avatar-5.png"/></td>
							<td md-cell>{{schedule.FirstName}}</td>
							<td md-cell>{{schedule.LastName}}</td>
							<td md-cell>{{schedule.ClassName}}</td>
							<td md-cell>{{schedule.Startdate| date:"dd-MM-yyyy"}}</td>
							<td md-cell>{{schedule.RoomName}}</td>
							<td md-cell style="min-width:60px">
								<a class="md-primary" ng-click="vm.showUpdateFutureStudentDialoue($event,schedule)" style="cursor:pointer">
									</>
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
								</a> &nbsp;
								<a class="md-primary" ng-click="vm.showDeleteFutureStudentConfirmDialoue($event,schedule)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15, 20, 50, 100]" md-page-select md-page="query.page"
				md-total="{{vm.participantScheduleCount}}" md-on-paginate="vm.GetFutureEnrolledStudent"></md-table-pagination>
		</div>
	</div>
