<style type="text/css">
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*body {
    background-color: #192837;
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 20px;
    margin: 0;
  }*/
  
  /*.container {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 30px;
    -webkit-transform: translate(-50%, -50%);
  }*/
  
  input {
    border: none;
    color: black;
    
    /*font-size: 20px;*/
    line-height: 43px;
    padding: 0 0.75em;
    width: 400px;
    -webkit-transition: all 0.35s ease-in;
  }
  
  /*input:focus {
    outline: none;
    border: none;
  }*/
  
  textarea {
    background-color: #070F24;
    border: 1px solid #122435;
    color: #606B88;
    padding: 0.5em;
    width: 100%;
    -webkit-transition: all 0.35s ease-in;
  }
  
  input:active,
  input:focus,
  textarea:active,
  textarea:focus {
    outline: none;
  }
  
  /*.btn {
    background-color: #126178;
    border: 1px solid #549EAF;
    color: #549EAF;
    cursor: pointer;
    display: inline-block;
    font-family: "Titillium Web";
    font-size: 20px;
    line-height: 43px;
    padding: 0 0.75em;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.35s ease-in;
  }*/
  
  .btn:hover {
    background-color: #1888A9;
    color: #183035;
  }
  
  .debug {
    bottom: 0;
    position: fixed;
    right: 0;
  }
  
  .debug__content {
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.35s ease-in;
  }
  
  .debug__content.is-active {
    display: block;
    max-height: 500px;
  }
  
  .debug__btn {
    width: 100%;
  }
  
  .spoken-response {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.35s ease-in;
  }
  
  .spoken-response.is-active {
    max-height: 400px;
  }
  
  .spoken-response__text {
    background-color: wheat;
    color: saddlebrown;
    padding: 1em;
    border-radius: 31px;
  }
  
  .font30 {
    font-size: 40px !important;
  }
  .speak-dropdown .md-button.md-icon-button{
      width:50px;
  }
  
  .speak-dropdown .zmdi-mic{ font-size:20px;}
  /*.md-button.md-fab {
    width: 90px;
    height: 90px;
  }*/
#menu_container_3.md-open-menu-container.md-active{
    top:50px !important;
}


</style>

<div class="md-toolbar-tools">

    <!--<md-menu ng-show="vm.languages.length > 0">
        <md-button class="md-icon-button" aria-label="language" ng-click="$mdOpenMenu()" aria-label="change language">
            <md-icon md-font-icon="zmdi zmdi-globe-alt"></md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item>
                <md-button>test 1</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>-->

    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-menu">
            <md-tooltip>Hide Menu</md-tooltip>

        </md-icon>
    </md-button>

    <h2 hide-xs flex>
        <span ng-repeat="crumb in vm.breadcrumbs.crumbs">
            <span translate>{{crumb.name}}</span>
        <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last"></md-icon>
        </span>
    </h2>
    <!--<h3 hide-xs flex>
        <span translate>Timezone : {{vm.TimeZone}}</span>
    </h3>-->
    <md-switch class="md-warn" ng-model="switches.hideMenu" ng-change="vm.hideMenu(switches.hideMenu)" style="font-size: initial;"
        ng-init="switches.hideMenu = false" aria-label="Primary Switch" ng-init="switches.primary = true">
        {{vm.menuswitchText}}
    </md-switch>

    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleFullScreen()" aria-label="toggle fullscreen">
        <md-icon md-font-icon ng-class="vm.fullScreenIcon"></md-icon>
        <md-tooltip>Full Screen</md-tooltip>
    </md-button>

    <md-menu class="speak-dropdown">
        <md-button  id="rec" class="md-icon-button md-warn" aria-label="language" ng-click="$mdOpenMenu()" aria-label="change language">
           <i class="fa fa-microphone" style="font-size:20px;" aria-hidden="true"><md-tooltip>Voice Assistance</md-tooltip></i>
        </md-button>
        <md-menu-content  id="mainBox" width="4" class="padding-20">
            <md-menu-item >
                 <div><input id="speech" placeholder="Speak..." ng-disabled="true" style="background-color: white; font-size:20px" type="text"></div>
            </md-menu-item>
            <md-menu-item>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <md-menu>

        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">
            <img class="toolbar-user-avatar" ng-src="{{vm.ImageUrlPath}}{{vm.defaultUser.Image}}" err-src="assets/images/avatars/avatar-5.png"> {{vm.defaultUser.profileName}}
            <md-tooltip ng-hide="temp==1">Settings</md-tooltip>
             <md-tooltip ng-if="temp==1">Logout</md-tooltip> 
        </md-button>

        <md-menu-content width="4">
            <md-menu-item ng-hide="temp==1">
                <md-button ng-click="vm.UserSetting()" ng-hide="temp==1" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <span>Profile</span>
                </md-button>
            </md-menu-item>
            <md-menu-divider ng-hide="temp==1"></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="vm.Logout()" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                    <span>Logout</span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>