<md-dialog class="mobile-fullwidth-dialog" flex="40" flex-sm="60"  flex-xs="100">
    <md-toolbar class="toolbar-default" ng-style="{ 'background-color': vm.selectedColor.backgroundColor, color: vm.selectedColor.textColor }">
        <div class="md-toolbar-tools">
            <h2>Apply Leave - {{StaffName | uppercase}} </h2> 
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="md-dialog-content">
        <form name="ApplyLeaveForm">
            <h2>Attendance Information</h2>
            <!--<div layout layout-xs="column">
                <md-input-container flex>
                    <md-select placeholder="Select Staff" name="staff" id="staff" ng-model="vm.ApplyLeaveVm.StaffId" required>
                        <md-option value="{{staff.ID}}" ng-repeat="staff in vm.StaffList">{{ staff.Name }}</md-option>
                    </md-select>
                    <div ng-messages="ApplyLeaveForm.staff.$error" md-auto-hide="false" ng-show="ApplyLeaveForm.staff.$touched">
                        <div ng-message when="required"><span>Staff is required.</span></div>
                    </div>
                </md-input-container>
            </div>-->
            <div layout="row" layout-xs="column" flex class="attedance-info">
                <md-input-container flex class="md-block">
                    <!--<label for="LeaveFromDate">Leave Start Data</label>-->
                     <md-datepicker flex ng-model="vm.ApplyLeaveVm.LeaveFromDate" md-min-date="vm.currentData" md-placeholder="Enter Date" name="LvFromDate"
                        id="LvFromDate" ng-change="vm.setLeaveEndDate(vm.ApplyLeaveVm.LeaveFromDate)" ng-model-options="{ timezone: 'utc' }"
                        required></md-datepicker>
                    <div ng-messages="ApplyLeaveForm.LvFromDate.$error" md-auto-hide="false" ng-show="ApplyLeaveForm.LvFromDate.$touched">
                        <div ng-message when="required"><span>Please enter start date.</span></div>
                    </div>
                </md-input-container>
                <md-input-container flex  class="md-block">
                  
                    <!--<label for="LeaveToDate">Leave End Data</label>-->
                   <md-datepicker flex ng-model="vm.ApplyLeaveVm.LeaveToDate" md-min-date="vm.ApplyLeaveVm.LeaveFromDate" 
                        md-placeholder="Enter Date" name="LvToDate" id="LvToDate" ng-model-options="{ timezone: 'utc' }" required></md-datepicker>
                    <div ng-messages="ApplyLeaveForm.LvToDate.$error" md-auto-hide="false" ng-show="ApplyLeaveForm.LvToDate.$touched">
                        <div ng-message when="required"><span>Please enter end date.</span></div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container flex class="mrgR-10">
                    <label translate>Comment</label>
                    <textarea name="Remarks" ng-model="vm.ApplyLeaveVm.Remarks"></textarea>
                    <div ng-messages="ApplyLeaveForm.Remarks.$error" md-auto-hide="false" ng-show="ApplyLeaveForm.Remarks.$touched">
                    </div>
                </md-input-container>
            </div>
            <div layout layout="row" layout-align="end center">
                <md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.ApplyLeave()"
                    ng-disabled="ApplyLeaveForm.$invalid" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>
                <md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.cancelClick()"
                    ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>