<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>{{Title}}<span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Staffs' : 'Staff'}} selected )</span></h2>
        <span flex></span>
        <span><h3>Search</h3></span>
        <md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
            <md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
            <md-tooltip>Search</md-tooltip>
        </md-button>
    </div>
</md-toolbar>
 <md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Search</h1>
        </md-toolbar>
        <div class="padded-content-page">
            <md-content>
                <form name="Search" name="LeaveForm">
                    <div layout layout-xs="column" flex>
                        <md-input-container flex class="mrgL-10">
                            <label for="staffname">Leave Status</label>
                            <md-select name="LeaveStatusId" id="LeaveStatusId" ng-model="vm.query.LeaveStatusId">
								<md-option value="{{LeaveStatus.ID}}" ng-repeat="LeaveStatus in vm.AllLeaveStatus">{{ LeaveStatus.Name }}</md-option>
							</md-select>
                        </md-input-container>
                    </div>

                    <div layout layout-xs="column" flex>
                        <md-input-container flex>
                            <label for="FromDate"> From Date</label>
                            <md-datepicker flex md-placeholder="From Date" ng-model="vm.query.LeaveStartDate" ng-model-options="{ timezone: 'utc' }"
                                ng-change="vm.setClassEndDate()" name="FromDate" id="FromDate" required></md-datepicker>
                            <div ng-messages="Search.FromDate.$error" md-auto-hide="false" ng-show="Search.FromDate.$touched">
                                <div ng-message when="required"><span>Please enter start date.</span></div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="ToDate">To Date</label>
                            <md-datepicker flex md-placeholder="To Date" ng-model="vm.query.LeaveEndDate" md-min-date="vm.query.LeaveStartDate" ng-model-options="{ timezone: 'utc' }"
                                name="ToDate" id="ToDate" required></md-datepicker>
                            <div ng-messages="Search.ToDate.$error" md-auto-hide="false" ng-show="Search.ToDate.$touched">
                                <div ng-message when="required"><span>Please enter end date.</span></div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout layout-xs="column" flex>
                        <md-input-container flex class="text-center">
                            <md-button class="md-primary md-raised" ng-click="vm.GetStaffLeaveList()" ng-disabled="Search.$invalid">Search</md-button>
                            <md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
                            <md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
                        </md-input-container>
                    </div>
                </form>
            </md-content>
        </div>
    </md-sidenav>
<div class="padding-20">
   
    <md-card>
        <div class="padding-20">

            <h3><strong>Leave Status :</strong> {{LeaveStatus}} </h3>
            <h3 ng-hide="isFilterShow"><strong>Period :</strong> {{fromDate | date:'MM/dd/yyyy'}} - {{toDate | date:'MM/dd/yyyy'}} </h3>
            <h3 ng-show="isFilterShow"><strong>Period :</strong> {{Period}} </h3>

        </div>
        <div class="">

            <!--<div ng-if="vm.NoData==false" class="margin-top-20">-->
            <md-table-container class="lesson-table">
                <form name="attendanceForm">
                    <table md-table class="md-primary md-data-table table-bordered table-striped" ng-model="vm.selected" md-progress="vm.promise">
                        <thead md-head md-order="vm.query.order" md-on-reorder="vm.GetStaffLeaveList">
                            <tr md-row>
                                <!--<th md-column md-order-by="id"><span>#</span></th>-->
                                <th md-column md-order-by="Name">{{vm.columns.Name}}</th>
                                <th md-column md-order-by="FromDate">{{vm.columns.FromDate}}</th>
                                <th md-column md-order-by="ToDate">{{vm.columns.ToDate}}</th>
                                <th md-column>{{vm.columns.Remark}}</th>
                                <th md-column md-order-by="Status">{{vm.columns.Status}}</th>
                                <th md-column ng-if="isShow">{{vm.columns.Action}}</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row @* md-select-id="LeaveList.StaffId" *@ ng-repeat="LeaveList in vm.StaffLeaveList track by $index">
                                <!--<td md-cell>{{ $index + 1 }}</td>-->
                                <td md-cell><a style="cursor:pointer" ng-click="vm.DetailStaffInfo($event,LeaveList.Staff)">{{LeaveList.Staff.FullName}}</td>
                                <td md-cell>{{LeaveList.LeaveFromDate| date:'MM/dd/yyyy'}}</td>
                                <td md-cell>{{LeaveList.LeaveToDate| date:'MM/dd/yyyy'}}</td>
                                <td md-cell>{{LeaveList.Remarks}}</td>
                                <td md-cell>{{LeaveList.Status.Name}}</td>
                                <td md-cell style="min-width:60px" ng-if="isShow">
                                    <md-button class="md-primary md-raised" ng-click="vm.ApproveLeave(LeaveList)"
                                        aria-label="Save" ng-disabled="LeaveList.Status.Name === 'Approved'">Approve</md-button>
                                    <md-button class="md-primary md-raised" ng-click="vm.DeclineLeave(LeaveList)" ng-disabled="LeaveList.Status.Name === 'Declined'" aria-label="Save">Decline</md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </md-table-container>
            <div ng-if="vm.StaffLeaveList==0" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Staff leave list found.</h2>
                </md-input-container>
            </div>
            <md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.staffLeaveCount}}"
				md-on-paginate="vm.GetStaffLeaveList" md-page-select></md-table-pagination>
        <!--</div>-->
        <!--<div layout="row" layout-align="end center" class="margin-bottom-20" ng-if="!isShow" flex>
            <!--<md-button ng-href="#/staff/applyleave" class="md-fab md-accent md-fab-bottom-right md-hue-3" aria-label="Apply Leave">
                <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                <md-tooltip>Apply Leave</md-tooltip>
            </md-button>-->
           
        <!--</div>-->
    </div>
    </md-card>
</div>
 <md-button class="md-fab md-accent md-fab-bottom-right md-hue-3" ng-if="vm.DisableApplyLeave==1" aria-label="fab button" ng-click="vm.openApplyLeaveModel()">
                <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                <md-tooltip>Apply Leave</md-tooltip>
            </md-button>