
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Staff List <span ng-show="selected.length">({{selected.length}} {{selected.length > 1 ? 'Staffs' : 'Staff'}} selected )</span></h2>
			<span flex></span>
			<span><h3>Search</h3></span>
			<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
				<md-icon class="searchIcon" md-font-icon="zmdi zmdi-filter-list"></md-icon>
				<md-tooltip>Search</md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padding-20">
		<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Search</h1>
			</md-toolbar>
			<div class="padded-content-page">
				<md-content class="overflowVisible">
					<form id="Search">
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="name">Name</label>
								<input type="text" label="name" name="name" id="name" ng-model="query.StaffName" ng-pattern="/^[a-zA-Z\s]*$/" ng-maxlength="100">
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex>
								<label for="Position">Position</label>
								<md-select placeholder="Select Position" name="Position" id="Position" ng-model="query.PositionId">
									<md-option value="{{Position.ID}}" ng-repeat="Position in vm.AllPosition">{{ Position.Name }}</md-option>
								</md-select>
							</md-input-container>
						</div>
						<div layout layout-xs="column" flex>
							<md-input-container flex class="text-center">
								<md-button class="md-primary md-raised" ng-click="vm.GetStaffList()">Search</md-button>
								<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
								<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
							</md-input-container>
						</div>
					</form>
				</md-content>
			</div>
		</md-sidenav>
		<md-card>
		<div class="padding-20">
		
				<h3><strong>Staff Name :</strong> {{Staff}} </h3>
				<h3><strong>Position : </strong>{{Position}} </h3>
		
		</div>
		<div >
		
			<!--<div ng-if="vm.NoStaffData==false" class="margin-top-20">-->
			<md-table-container>
				<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped" ng-model="selected" md-progress="vm.promise">
					<thead md-head md-order="query.order" md-on-reorder="vm.GetStaffList">
						<tr md-row>
							<!--<th md-column><span>#</span></th>-->
							<th md-column><span>{{vm.columns.ProfilePic}}</span></th>
							<th md-column md-order-by="FirstName"><span>{{vm.columns.Name}}</span></th>
							<th md-column><span>{{vm.columns.IsTimeClockUser}}</span></th>
							<th md-column md-order-by="PhoneNumber"><span>{{vm.columns.PhoneNumber}}</span></th>
							<th md-column md-order-by="Email"><span>{{vm.columns.Email}}</span></th>
							<th md-column md-order-by="Gender"><span>{{vm.columns.Gender}}</span></th>
							<th md-column md-order-by="DateHired"><span>{{vm.columns.DateHired}}</span></th>
							<th md-column md-order-by="Designation"><span>{{vm.columns.Position}}</span></th>
							<th md-column><span>{{vm.columns.Status}}</span></th>
							<th md-column><span>ACTION</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select md-select="staff" md-select-id="staff.ID" ng-repeat="staff in vm.staffList">
							<!--<td md-cell>{{ $index + 1 }}</td>-->
							<!-----------Palak---------->

							<td md-cell>
								<a style="cursor:pointer" ng-click="vm.detailStaffInfo($event,staff)">
									<img ng-src="{{vm.ImageUrlPath}}{{staff.ImagePath}}" height="100" width="100" err-src="assets/images/avatars/avatar-5.png"
									/>
								</a>
							</td>
						
							</md-table-container>
								
						
			<!--</div>-->
				
							   <!--Palak-->
							<td md-cell><a style="cursor:pointer" ng-click="vm.detailStaffInfo($event,staff)">{{staff.FullName}}</a></td>
							<td md-cell ng-if="staff.IsTimeClockUser==true">Yes</td>
							<td md-cell ng-if="staff.IsTimeClockUser==false||staff.IsTimeClockUser==Null">No</td>
							<td md-cell>{{staff.PhoneNumber}}</td>
							<td md-cell>{{staff.Email}}</td>
							<td md-cell>{{staff.GenderName}}</td>
							<td md-cell>{{staff.DateHiredString | date:'MM/dd/yyyy'}}</td>
							<td md-cell>{{staff.PositionName}}</td>

							<td md-cell>Active</td>

							<td md-cell style="min-width:85px">
								<a class="md-primary" ng-click="vm.editStaff($event,staff)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
									<md-tooltip>Edit</md-tooltip>
								</a> 
								<a class="md-primary" ng-click="vm.showDeleteStaffConfirmDialoue($event,staff.ID)" style="cursor:pointer">
									<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
									</md-icon>
									<md-tooltip>Delete</md-tooltip>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<div ng-if="vm.staffList==0" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Staff list found.</h2>
                </md-input-container>
            </div>
			<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.staffCount}}"
				md-on-paginate="vm.GetStaffList" md-page-select></md-table-pagination>
		</div>
		</md-card>
		
	</div>

<md-button ng-href="/staff/add" class="md-fab md-accent md-fab-bottom-right md-hue-3 addbtn-pos" aria-label="Add Staff">
			<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
			<md-tooltip>Add Staff</md-tooltip>
		</md-button>