<template>
  <div class="wrapper">
  <section>
        <div class="content-wrapper">
          <h4 class="page_header">
            <em class="icon-organization"></em> Classes
            <span class="float-right">
              <a href="javascript:void(0)" id="hfAddClass" class="btn btn-link text-success" data-toggle="modal" data-target="#addClassModal">
                <i class="icon-plus"></i>&nbsp;&nbsp;Add Class
              </a>
              <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select View
              </button>
               </span>
                </h4>
     <b-container fluid>
                <b-row>
              <!--<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">All Classes</a>
                <a class="dropdown-item" href="#">After School</a>
                <a class="dropdown-item" href="#">Infant/Newborn</a>
                <a class="dropdown-item" href="#">Pre-K</a>
                <a class="dropdown-item" href="#">Toddler</a>
              </div>-->
          <b-col md="6" class="my-1">
          <b-form-group horizontal label="Filter" class="mb-0">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="Type to Search" />
              <b-input-group-button>
                <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
              </b-input-group-button>
            </b-input-group>
          </b-form-group>
        </b-col>
              <b-col md="6" class="my-1">
        <b-form-group horizontal label="Per page" class="mb-0">
          <b-form-select :options="pageOptions" v-model="perPage" />
        </b-form-group>
      </b-col>
        </b-row>
   </b-container>        
           <b-row>
            <b-col>
      <b-table id="tblClasses" class="table table-striped table-hover" show-empty
                  stacked="md"
                  :items="items"
                  :fields="fields"
                  :current-page="currentPage"
                  :per-page="perPage"
                  :filter="filter"
                  :sort-by.sync="sortBy"
                  :sort-desc.sync="sortDesc"
                  @filtered="onFiltered"
          >
      <template slot="name"slot-scope="row">{{row.value.first}} {{row.value.last}}</template>
      <template slot="isActive" slot-scope="row" ><span class="badge badge-success">{{row.value?'Yes :)':'No :('}}</span></template>
      <template slot="actions" slot-scope="row">
      <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
     <a href="javascript:void(0)"  size="sm" @click.stop="info(row.item, row.index, $event.target)" class="mr-1">
         <i class="material-icons">mode_edit</i>
        </a>
       <a  href="javascript:void(0)" size="sm"  class="text-danger" onclick='swal("Warning!", "You are about to delete a class! This will remove it from the active class list and will remove the teacher and students from it. Are you sure you wish to delete this class?", "warning", {dangerMode: true,buttons: true});'>
        <i class="material-icons"> delete_forever</i>
        </a>
        
      </template>
         <template slot="row-details" slot-scope="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
          </ul>
        </b-card>
      </template>
      </b-table>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
      <!-- Info modal -->
         
     <b-modal id="modalInfo"  centered  @hide="resetModal" :title="modalInfo.title"   ok-only>
      <form @submit.stop.prevent="handleSubmit">
        <b-form-input type="text"
                      placeholder="Enter your name"
                      ></b-form-input>
                          <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Class Name
                    <small class="text-danger">*</small>
                  </label>
                  <input type="text" class="form-control" v-model="clsModel.ClassName" id="txtClassName" name="txtClassName">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Location
                    <small class="text-danger">*</small>
                  </label>
                  <select class="form-control" id="ddlAgencyLocations" v-model="clsModel.AgencyLocationInfoId" required>
                   <option v-for="item in this.AgencyLocations" v-bind:value="item.ID">{{item.LocationName}} </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Category
                    <small class="text-danger">*</small>
                  </label>
                  <select class="form-control" id="ddlCategory" v-model="clsModel.CategoryId" required>
                     <option v-for="item in this.CategoryData" v-bind:value="item.ID">{{item.Name}} </option>
                 </select>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Room
                    <small class="text-danger">*</small>
                  </label>
                  <select class="form-control" id="ddlRoom" v-model="clsModel.RoomId" required>
                     <option v-for="item in this.RoomData" v-bind:value="item.ID">{{item.Name}} </option>
                 </select>
                </div>
              </div>
            </div>
             <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Status
                    <small class="text-danger">*</small>
                  </label>
                  <select class="form-control" id="ddlStatus" v-model="clsModel.ClassStatusId" required>
                     <option v-for="item in this.StatusData" v-bind:value="item.ID">{{item.Name}} </option>
                 </select>
                  </select>
                </div>
              </div>
              <div class="col-6"> 
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Enrollment Capacity
                    <small class="text-danger">*</small>
                  </label>
                   <input type="text" class="form-control" v-model="clsModel.EnrollCapacity" id="txtEnrollCapacity" name="txtEnrollCapacity">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Start Date
                    <small class="text-danger">*</small>
                  </label>
                  <!-- <input type="text" class="form-control" v-model="model.ClassStartDate" id="txtStartDate" required> -->
                    <date-picker type="date"    format='MM/DD/YYYY'  v-model="clsModel.ClassStartDate" lang="en"  id="txtStartDate"></date-picker>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">End Date
                    <small class="text-danger">*</small>
                  </label>
                  <date-picker   type="date" format='MM/DD/YYYY' v-model="clsModel.ClassEndDate" lang="en"  id="txtStartDate"></date-picker>
                  <!-- <input type="date" class="form-control" id="txtEndDate" v-model="model.ClassEndDate" required> -->
                </div>
              </div>
            </div>
      </form>
    </b-modal>


             <!-- <table id="tblClasses" class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Class</th>
                    <th>Category</th>
                    <th>Enrollment</th>
                    <th class="text-center">Status</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Infant 1</td>
                    <td>Infant/Newborn</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="15">15 of 15</div>
                      </div>
                    </td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                      <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#editClassModal"><i class="material-icons">mode_edit</i></a>
                      <a href="javascript:void(0)" class="text-danger" onclick='swal("Warning!", "You are about to delete a class! This will remove it from the active class list and will remove the teacher and students from it. Are you sure you wish to delete this class?", "warning", {dangerMode: true,buttons: true});'><i class="material-icons">delete_forever</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>Infant 2</td>
                    <td>Infant/Newborn</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 33%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="15"></div>
                        <div class="progress-bar bg-inverse-light" role="progressbar" style="width: 67%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="15">5 of 15</div>
                      </div>
                    </td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                      <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#editClassModal"><i class="material-icons">mode_edit</i></a>
                      <a href="javascript:void(0)" class="text-danger" onclick='swal("Warning!", "You are about to delete a class! This will remove it from the active class list and will remove the teacher and students from it. Are you sure you wish to delete this class?", "warning", {dangerMode: true,buttons: true});'><i class="material-icons">delete_forever</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>Toddler 1</td>
                    <td>Toddler</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-yellow-dark" role="progressbar" style="width: 75%;" aria-valuenow="12" aria-valuemin="0" aria-valuemax="15">12 of 15</div>
                        <div class="progress-bar bg-inverse-light" role="progressbar" style="width: 25%;" aria-valuenow="3" aria-valuemin="0" aria-valuemax="15"></div>
                      </div>
                    </td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                      <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#editClassModal"><i class="material-icons">mode_edit</i></a>
                      <a href="javascript:void(0)" class="text-danger" onclick='swal("Warning!", "You are about to delete a class! This will remove it from the active class list and will remove the teacher and students from it. Are you sure you wish to delete this class?", "warning", {dangerMode: true,buttons: true});'><i class="material-icons">delete_forever</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>Toddler 2</td>
                    <td>Toddler</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="15">15 of 15</div>
                      </div>
                    </td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                      <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#editClassModal"><i class="material-icons">mode_edit</i></a>
                      <a href="javascript:void(0)" class="text-danger" onclick='swal("Warning!", "You are about to delete a class! This will remove it from the active class list and will remove the teacher and students from it. Are you sure you wish to delete this class?", "warning", {dangerMode: true,buttons: true});'><i class="material-icons">delete_forever</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>Toddler 3</td>
                    <td>Toddler</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%;" aria-valuenow="2" aria-valuemin="0" aria-valuemax="15"></div>
                        <div class="progress-bar bg-inverse-light" role="progressbar" style="width: 90%;" aria-valuenow="13" aria-valuemin="0" aria-valuemax="15">2 of 15</div>
                      </div>
                    </td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                      <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#editClassModal"><i class="material-icons">mode_edit</i></a>
                      <a href="javascript:void(0)" class="text-danger" onclick='swal("Warning!", "You are about to delete a class! This will remove it from the active class list and will remove the teacher and students from it. Are you sure you wish to delete this class?", "warning", {dangerMode: true,buttons: true});'><i class="material-icons">delete_forever</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>Pre-K 1</td>
                    <td>Pre-K</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-yellow-dark" role="progressbar" style="width: 95%;" aria-valuenow="14" aria-valuemin="0" aria-valuemax="15">14 of 15</div>
                        <div class="progress-bar bg-inverse-light" role="progressbar" style="width: 5%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="15"></div>
                      </div>
                    </td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                      <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#editClassModal"><i class="material-icons">mode_edit</i></a>
                      <a href="javascript:void(0)" class="text-danger" onclick='swal("Warning!", "You are about to delete a class! This will remove it from the active class list and will remove the teacher and students from it. Are you sure you wish to delete this class?", "warning", {dangerMode: true,buttons: true});'><i class="material-icons">delete_forever</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>Pre-K 2</td>
                    <td>Pre-K</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 45%;" aria-valuenow="7" aria-valuemin="0" aria-valuemax="15">7 of 15</div>
                        <div class="progress-bar bg-inverse-light" role="progressbar" style="width: 55%;" aria-valuenow="8" aria-valuemin="0" aria-valuemax="15"></div>
                      </div>
                    </td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                      <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#editClassModal"><i class="material-icons">mode_edit</i></a>
                      <a href="javascript:void(0)" class="text-danger" onclick='swal("Warning!", "You are about to delete a class! This will remove it from the active class list and will remove the teacher and students from it. Are you sure you wish to delete this class?", "warning", {dangerMode: true,buttons: true});'><i class="material-icons">delete_forever</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>After School</td>
                    <td>After School</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-yellow-dark" role="progressbar" style="width: 90%;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="30">27 of 30</div>
                        <div class="progress-bar bg-inverse-light" role="progressbar" style="width: 10%;" aria-valuenow="3" aria-valuemin="0" aria-valuemax="30"></div>
                      </div>
                    </td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                      <a href="javascript:void(0)" class="" data-toggle="modal" data-target="#editClassModal"><i class="material-icons">mode_edit</i></a>
                      <a href="javascript:void(0)" class="text-danger" onclick='swal("Warning!", "You are about to delete a class! This will remove it from the active class list and will remove the teacher and students from it. Are you sure you wish to delete this class?", "warning", {dangerMode: true,buttons: true});'><i class="material-icons">delete_forever</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>-->
            </b-col>
          </b-row>
        </div>
      </section>
  </div>
</template>

<script>
const items = [
  { isActive: true, age: 40, name: { first: "Dickerson", last: "Macdonald" } },
  { isActive: false, age: 21, name: { first: "Larsen", last: "Shaw" } },
  {
    isActive: false,
    age: 9,
    name: { first: "Mini", last: "Navarro" },
    _rowVariant: "success"
  },
  { isActive: false, age: 89, name: { first: "Geneva", last: "Wilson" } },
  { isActive: true, age: 38, name: { first: "Jami", last: "Carney" } },
  { isActive: false, age: 27, name: { first: "Essie", last: "Dunlap" } },
  { isActive: true, age: 40, name: { first: "Thor", last: "Macdonald" } },
  {
    isActive: true,
    age: 87,
    name: { first: "Larsen", last: "Shaw" },
    _cellVariants: { age: "danger", isActive: "warning" }
  },
  { isActive: false, age: 26, name: { first: "Mitzi", last: "Navarro" } },
  { isActive: false, age: 22, name: { first: "Genevieve", last: "Wilson" } },
  { isActive: true, age: 38, name: { first: "John", last: "Carney" } },
  { isActive: false, age: 29, name: { first: "Dick", last: "Dunlap" } }
];
import Vue from "vue";
import VueEvents from "vue-events";
Vue.use(VueEvents);
import bTable from "bootstrap-vue/es/components/table/table";
export default {
  name: "Classes",
  data() {
    return {
            clsModel: {
        ClassName: "",
        AgencyLocationInfoId: "",
        CategoryId: "",
        RoomId: "",
        ClassStatusId: "",
        EnrollCapacity: "",
        ClassStartDate: new Date(),
        ClassEndDate: new Date(),
        AgencyId: localStorage.agencyId
      },
      RoomData: [],
      CategoryData: [],
      AgencyLocations: [],
      StatusData: [],
      QueryData: {
        AgencyID: localStorage.agencyId
      },
      items: items,
      fields: [
        { key: "name", label: "Person Full name", sortable: true },
        {
          key: "age",
          label: "Person age",
          sortable: true,
          class: "text-center"
        },
        { key: "isActive", label: "is Active" },
        { key: "actions", label: "Actions" }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: items.length,
      pageOptions: [5, 10, 15],
      sortBy: null,
      sortDesc: false,
      filter: null,
      modalInfo: { title: "", content: "" }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields.filter(f => f.sortable).map(f => {
        return { text: f.label, value: f.key };
      });
    }
  },
  methods: {
    info(item, index, button) {
      this.modalInfo.title = `Row index: ${index}`;
      this.modalInfo.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", "modalInfo", button);
    },
    resetModal() {
      this.modalInfo.title = "";
      this.modalInfo.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>

