<template>
    <div class="custom-actions">
      <b-button class="ui basic button" @click="showModal"><i class="edit icon"></i></b-button>
      <b-button class="ui basic button" @click="showModal"><i class="delete icon"></i></b-button>
    <b-modal ref="myModalRef" size="lg" hide-footer title="Add class">
  <form>
    
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Class Name
                    <small class="text-danger">*</small>
                  </label>
                  <input type="text" class="form-control" v-model="clsModel.ClassName" id="txtClassName" name="txtClassName">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Location
                    <small class="text-danger">*</small>
                  </label>
                  <select class="form-control" id="ddlAgencyLocations" v-model="clsModel.AgencyLocationInfoId" required>
                   <option v-for="item in this.AgencyLocations" v-bind:value="item.ID">{{item.LocationName}} </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Category
                    <small class="text-danger">*</small>
                  </label>
                  <select class="form-control" id="ddlCategory" v-model="clsModel.CategoryId" required>
                     <option v-for="item in this.CategoryData" v-bind:value="item.ID">{{item.Name}} </option>
                 </select>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Room
                    <small class="text-danger">*</small>
                  </label>
                  <select class="form-control" id="ddlRoom" v-model="clsModel.RoomId" required>
                     <option v-for="item in this.RoomData" v-bind:value="item.ID">{{item.Name}} </option>
                 </select>
                </div>
              </div>
            </div>
             <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Status
                    <small class="text-danger">*</small>
                  </label>
                  <select class="form-control" id="ddlStatus" v-model="clsModel.ClassStatusId" required>
                     <option v-for="item in this.StatusData" v-bind:value="item.ID">{{item.Name}} </option>
                 </select>
                  </select>
                </div>
              </div>
              <div class="col-6"> 
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Enrollment Capacity
                    <small class="text-danger">*</small>
                  </label>
                   <input type="text" class="form-control" v-model="clsModel.EnrollCapacity" id="txtEnrollCapacity" name="txtEnrollCapacity">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Start Date
                    <small class="text-danger">*</small>
                  </label>
                  <!-- <input type="text" class="form-control" v-model="model.ClassStartDate" id="txtStartDate" required> -->
                    <date-picker type="date"    format='MM/DD/YYYY'  v-model="clsModel.ClassStartDate" lang="en"  id="txtStartDate"></date-picker>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">End Date
                    <small class="text-danger">*</small>
                  </label>
                  <date-picker   type="date" format='MM/DD/YYYY' v-model="clsModel.ClassEndDate" lang="en"  id="txtStartDate"></date-picker>
                  <!-- <input type="date" class="form-control" id="txtEndDate" v-model="model.ClassEndDate" required> -->
                </div>
              </div>
            </div>
        <div class="modal-footer">
          <button  class="btn btn-success" type="button" @click="saveUpdate()" >
            <i class="icon-plus" style="margin-right:10px;" ></i> Add Class</button>
          <button type="button"  class="btn btn-secondary" @click=" hideModal()">Close</button>
        </div>  
        </form>


    </b-modal>
    </div>
  </template>

  <script>
import DatePicker from "vue2-datepicker";
export default {
  components: { DatePicker },
  data() {
    return {
      clsModel: {
        ClassName: "",
        AgencyLocationInfoId: "",
        CategoryId: "",
        RoomId: "",
        ClassStatusId: "",
        EnrollCapacity: "",
        ClassStartDate: new Date(),
        ClassEndDate: new Date(),
        AgencyId: localStorage.agencyId
      },
      RoomData: [],
      CategoryData: [],
      AgencyLocations: [],
      StatusData: [],
      QueryData: {
        AgencyID: localStorage.agencyId
      }
    };
  },
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  methods: {
    itemAction(action, data, index) {
      console.log("custom-actions: " + action, data.name, index);
    },
    showModal() {
      this.getCategory();
      this.getRooms();
      this.getAgencyLocations();
      this.getStatus();
      this.$refs.myModalRef.show();
    },
    hideModal() {
      this.$refs.myModalRef.hide();
    },
    getCategory: function() {
      this.$store
        .dispatch("LOAD_CATEGORY", { model: this.QueryData })
        .then(response => {
          this.CategoryData = response.category;
        });
    },
    getRooms: function() {
      this.$store
        .dispatch("LOAD_ROOMS", { model: this.QueryData })
        .then(response => {
          this.RoomData = response.room;
        });
    },
    getAgencyLocations: function() {
      this.$store
        .dispatch("LOAD_AGENCYLOCATION", { model: this.QueryData })
        .then(response => {
          if (response.IsSuccess) this.AgencyLocations = response.Content;
        });
    },
    getStatus: function() {
      this.$store
        .dispatch("LOAD_STATUS", { model: this.QueryData })
        .then(response => {
          if (response.IsSuccess) this.StatusData = response.Content;
        });
    },
    saveUpdate: function() {
      this.$Progress.start();
      this.$store
        .dispatch("ADD_CLASS", { clsModel: this.clsModel })
        .then(response => {
          if (response.ReturnStatus) {
            this.$Progress.finish();
            this.$toaster.success(response.ReturnMessage[0]);
          }
        });
    }
  },
  beforeMount() {}
};
</script>

  <style>
.custom-actions button.ui.button {
  padding: 8px 8px;
}
.custom-actions button.ui.button > i.icon {
  margin: auto !important;
}
</style>