<!--<md-content class="padded-content-page">-->
<form name="registerGradeLevel" id="gradeLevelForm">
	<!--<md-card flex>-->
		<!--<md-card-content>-->
			<!--Child Information-->
			<!--<md-whiteframe class="md-whiteframe-z5 margin-20">-->
				<!--<h2>Category Information</h2>-->
				<h2>Add Grade Level</h2>
				<div layout layout-xs="column" flex>

					<md-input-container flex>
						<label for="GradeLevel">Grade Level</label>
						<input type="text" label="GradeLevel" name="GradeLevel" id="GradeLevel" ng-model="vm.GradeLevel.Name" md-maxlength="50" required>
						<div ng-messages="registerGradeLevel.GradeLevel.$error" md-auto-hide="false" ng-show="registerGradeLevel.GradeLevel.$touched">
							<div ng-message when="required"><span>Please enter grade level.</span></div>
						</div>
					</md-input-container>
				</div>
				<div layout layout-xs="column" flex>
				</div>
				<div layout layout="row" layout-align="end center">
					<md-button class="md-raised md-primary margin-left-0  margin-top-10 margin-bottom-10" ng-click="vm.addGradeLevel(registerGradeLevel)"
						ng-disabled="registerGradeLevel.$invalid" translate="Save" aria-label="{{'Save' | triTranslate}}">Save</md-button>
					<md-button class="md-raised md-primary margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="vm.loginClick()"
						ng-disabled="login.$invalid" translate="Cancel" aria-label="{{'Log in' | triTranslate}}">Cancel</md-button>
				</div>
			<!--</md-whiteframe>-->
		<!--</md-card-content>-->
	<!--</md-card>-->
</form>
<!--</md-content>-->