
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Family</h2>
		</div>
	</md-toolbar>
	<div class="padding-20">
	<md-card flex flex="100" class="tri-wizard-card md-whiteframe-z1" tri-wizard>
		<md-card-content>
			<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
			<md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always" md-dynamic-height>
				<md-tab label="Grade level">
					<div flex ng-controller="GradeLevelController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Family/Views/addgradelevel.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Grade Level List</h2>
							<span flex></span>
							<span><h3>Search</h3></span>
							<md-button ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()" class="md-icon-button" aria-label="Settings">
								<md-icon md-font-icon="zmdi zmdi-filter-list" class="whiteColor searchIcon"></md-icon>
								<md-tooltip>Search</md-tooltip>
							</md-button>
						</div>
						<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right">
							<md-toolbar class="md-theme-light">
								<h1 class="md-toolbar-tools">Search</h1>
							</md-toolbar>
							<div class="padded-content-page">
								<md-content class="overflowVisible">
									<form id="Search">
										<div layout layout-xs="column" flex>
											<md-input-container flex>
												<label for="name">Grade Level</label>
												<input type="text" label="name" name="name" id="name" ng-model="query.name" ng-maxlength="100">
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="text-center">
												<md-button class="md-primary md-raised" ng-click="vm.GetGradeLevelList()">Search</md-button>
												<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
												<md-button ng-click="vm.close()" class="md-warn md-raised">Close</md-button>
											</md-input-container>
										</div>
									</form>
								</md-content>
							</div>
						</md-sidenav>
						<md-content ng-include="'app/Tools/Family/Views/gradelevellist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Info Source">
					<div flex ng-controller="InfoSourceController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Family/Views/addinfosource.tmpl.html'"></md-content>
						<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Info Source List</h2>
							<span flex></span>
							<span><h3>Search</h3></span>
							<md-button ng-click="vm.toggleRight1()" ng-hide="vm.isOpenRight1()" class="md-icon-button" aria-label="Settings">
								<md-icon md-font-icon="zmdi zmdi-filter-list" class="whiteColor searchIcon"></md-icon>
								<md-tooltip>Search</md-tooltip>
							</md-button>
						</div>
						<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right1">
							<md-toolbar class="md-theme-light">
								<h1 class="md-toolbar-tools">Search</h1>
							</md-toolbar>
							<div class="padded-content-page">
								<md-content class="overflowVisible">
									<form id="Search">
										<div layout layout-xs="column" flex>
											<md-input-container flex>
												<label for="name">Info Source</label>
												<input type="text" label="name" name="name" id="name" ng-model="query.name" ng-maxlength="100">
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="text-center">
												<md-button class="md-primary md-raised" ng-click="vm.GetInfoSourceList()">Search</md-button>
												<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
												<md-button ng-click="vm.close1()" class="md-warn md-raised">Close</md-button>
											</md-input-container>
										</div>
									</form>
								</md-content>
							</div>
						</md-sidenav>
						<md-content ng-include="'app/Tools/Family/Views/infosourcelist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Membership Type">
					<div flex ng-controller="MembershipTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Family/Views/addmembership.tmpl.html'"></md-content>
						<div class="md-toolbar-tools md-toolbar" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Membership Type List</h2>
							<span flex></span>
							<span><h3>Search</h3></span>
							<md-button ng-click="vm.toggleRight2()" ng-hide="vm.isOpenRight2()" class="md-icon-button" aria-label="Settings">
								<md-icon md-font-icon="zmdi zmdi-filter-list" class="whiteColor searchIcon"></md-icon>
								<md-tooltip>Search</md-tooltip>
							</md-button>
						</div>
						<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right2">
							<md-toolbar class="md-theme-light">
								<h1 class="md-toolbar-tools">Search</h1>
							</md-toolbar>
							<div class="padded-content-page">
								<md-content class="overflowVisible">
									<form id="Search">
										<div layout layout-xs="column" flex>
											<md-input-container flex>
												<label for="name">Membership Type</label>
												<input type="text" label="name" name="name" id="name" ng-model="query.name" ng-maxlength="100">
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="text-center">
												<md-button class="md-primary md-raised" ng-click="vm.GetMembershipTypeList()">Search</md-button>
												<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
												<md-button ng-click="vm.close2()" class="md-warn md-raised">Close</md-button>
											</md-input-container>
										</div>
									</form>
								</md-content>
							</div>
						</md-sidenav>
						<md-content ng-include="'app/Tools/Family/Views/membershiplist.tmpl.html'"></md-content>
					</div>
				</md-tab>
				<md-tab label="Relationship Type">
					<div flex ng-controller="RelationshipTypeController as vm">
						<md-content class="md-padding" ng-include="'app/Tools/Family/Views/addrelationshiptype.tmpl.html'"></md-content>
						<div class="md-toolbar-tools" style="color:rgb(255,255,255);background-color:rgb(0,188,212) !important">
							<h2>Relationship Type List</h2>
							<span flex></span>
							<span><h3>Search</h3></span>
							<md-button ng-click="vm.toggleRight3()" ng-hide="vm.isOpenRight3()" class="md-icon-button" aria-label="Settings">
								<md-icon md-font-icon="zmdi zmdi-filter-list" class="whiteColor searchIcon"></md-icon>
								<md-tooltip>Search</md-tooltip>
							</md-button>
						</div>
						<md-sidenav class="md-sidenav-right md-whiteframe-5dp" style="min-width:50%" md-component-id="right3">
							<md-toolbar class="md-theme-light">
								<h1 class="md-toolbar-tools">Search</h1>
							</md-toolbar>
							<div class="padded-content-page">
								<md-content class="overflowVisible">
									<form id="Search">
										<div layout layout-xs="column" flex>
											<md-input-container flex>
												<label for="name">Relationship Type</label>
												<input type="text" label="name" name="name" id="name" ng-model="query.name" ng-maxlength="100">
											</md-input-container>
										</div>
										<div layout layout-xs="column" flex>
											<md-input-container flex class="text-center">
												<md-button class="md-primary md-raised" ng-click="vm.GetRelationshipTypeList()">Search</md-button>
												<md-button class="md-accent md-raised" ng-click="vm.reset()">Reset</md-button>
												<md-button ng-click="vm.close3()" class="md-warn md-raised">Close</md-button>
											</md-input-container>
										</div>
									</form>
								</md-content>
							</div>
						</md-sidenav>
						<md-content ng-include="'app/Tools/Family/Views/relationshiplist.tmpl.html'"></md-content>
					</div>
				</md-tab>
			</md-tabs>
		</md-card-content>
	</md-card>
	</div>
