<div class="padding-20">
	
		<h3><strong>Grade Level :</strong> {{GradeLevel}} </h3>
	
</div>

<form name="gradeLevelList">
	<div >
			
			<!--<div ng-if="vm.NoToDoData==false" class="margin-top-20">-->
	<md-table-container>
		<md-progress-linear ng-show="vm.showProgressbar" md-mode="indeterminate"></md-progress-linear>
		<table md-table class="md-primary md-data-table table table-bordered table-hover table-striped"  ng-model="selected"
			md-progress="vm.prom">
			<thead md-head md-order="query.order" md-on-reorder="vm.GetGradeLevelList">
				<tr md-row>
					<!--<th md-column><span>#</span></th>-->
					<th md-column md-order-by="Name"><span>{{vm.columns.Name}}</span></th>
					<th md-column><span>ACTION</span></th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-auto-select md-select="gradeLevel" @*md-select-id="gradeLevel.ID" *@ ng-repeat="gradeLevel in vm.gradeLevelList">
					<!--<td md-cell>{{ $index + 1 }}</td>-->
					<td md-cell>{{gradeLevel.Name}}</td>
					<td md-cell>
						<a class="md-primary" ng-click="vm.showUpdateGradeLevelDialoue($event,gradeLevel)" style="cursor:pointer">
							<md-icon style="font-size: 16px; height: 16px; width: 16px;" class="md-cyan-theme material-icons fa fa-edit" aria-hidden="true"></md-icon>
							<md-tooltip>Edit</md-tooltip>
							</a> &nbsp;
						<a class="md-primary" ng-click="vm.showDeleteGradeLevelConfirmDialoue($event,gradeLevel)" style="cursor:pointer">
							<md-icon style="font-size: 16px; height: 18px; width: 16px;" class="md-cyan-theme material-icons zmdi zmdi-delete" aria-hidden="true">
							<md-tooltip>Delete</md-tooltip>
							</md-icon>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<div ng-if="vm.NoToDoData==true" layout layout-xs="column" flex>
                <md-input-container flex class="text-center">
                    <h2>No Grade level list found.</h2>
                </md-input-container>
            </div>
	<md-table-pagination md-limit-options="[5, 10, 15, 20, 50, 100]" md-limit="query.limit" md-page="query.page" md-total="{{vm.gradeLevelCount}}"
		md-on-paginate="vm.GetGradeLevelList" md-page-select></md-table-pagination>
			<!--</div>-->
	</div>
</form>