<template>
  <div class="wrapper">
    <SideBar-component></SideBar-component>
    <header-component></header-component>
    <router-view></router-view>
    <Footer-component></Footer-component>
    
  </div>
</template>
<script>
import HeaderComponent from '../Layouts/header.vue';
import SideBarComponent from '../Layouts/sidebar.vue';
import FooterComponent from '../Layouts/footer.vue';

export default {
  name: 'DashView',
  data () {
    return {
      msg: 'DashView'
    }
  },
  components:{
    HeaderComponent,
    SideBarComponent,
    FooterComponent
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1,
  h2 {
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #42b983;
  }
</style>