<template>
      <footer>
        <div class="row">
          <div class="col-6">
            &copy; 2017 - <a href="http://oncelogix.com" class="text-secondary" target="_blank">OnceLogix, LLC</a> -
            All rights reserved.
          </div>
          <div class="col-6 text-right">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="javascript:void(0)" class="text-secondary" data-toggle="modal" data-target="#termsModal">Site Terms & Conditions</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" class="text-secondary" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-secondary">Help Center</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" class="text-secondary" data-toggle="modal" data-target="#versionModal">version 0.3.1</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
</template>
<script>
export default {
  name: 'FooterComponent',
  data () {
    return {
      
    }
  }
}
</script>