<template>
    <nav class="navbar navbar-light fixed-top nav-top-menu">
        <a class="navbar-brand" href="#"><img src="src/assets/images/pinwheel_64.png" style="max-height:28px;margin-top:-4px;margin-right:4px;" /> Pinwheel Care
            <small
                style="margin-left:12px;" class="text-secondary">Child Care Center</small>
        </a>
        <ul class="nav navbar-right pinwheel-nav-alerts">
            <li>
                <div class="dropdown">
                    <a class="text-success" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-24">watch_later</i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h4>Clocked In</h4>
                                <p><i class="material-icons md-48 text-success">watch_later</i></p>
                                <h6><strong>Time In:</strong> 8:02 AM<br /><strong>Total:</strong> 7.05 hrs</h6>
                                <p><button type="button" class="btn btn-warning">Clock Out</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><i class="material-icons md-24 text-muted">notifications</i></li>
            <li><a href="#"><i class="material-icons md-24">account_circle</i></a></li>
            <li><a href="#"><i class="material-icons md-24">power_settings_new</i></a></li>
        </ul>
    </nav>

</template>
<script>
export default {
  name: 'HeaderComponent',
  data () {
    return {
      
    }
  }
}
</script>