<template>
    <aside class="aside">
        <div class="aside-inner">
          <nav class="sidebar">
            <ul class="nav">
              <li class="nav-heading ">
                 <span data-localize="sidebar.heading.HEADER">Main Navigation</span>
              </li>
              <li>
                <a href="/Dashboard">
                  <em class="icon-speedometer"></em> Dashboard
                </a>
              </li>
              <li>
                <a href="messages.html">
                  <em class="icon-speech"></em> Messages
                </a>
              </li>
              <li>
                <a href="timeclock.html">
                  <em class="icon-clock"></em> Time Clock
                </a>
              </li>
              <li>
                <a href="tasklist.html">
                  <em class="icon-check"></em> Task List
                </a>
              </li>
              <li class="nav-heading ">
                 <span data-localize="sidebar.heading.HEADER">Participants</span>
              </li>
              <li>
                <a href="/Participant"><em class="icon-people"></em> Participants</a>
              </li>
              <li>
                <a href="/Classes"><em class="icon-organization"></em> Classes</a>
              </li>
              <li>
                <a href="attendance.html"><em class="icon-user-following"></em> Attendance</a>
              </li>
              <li>
                <a href="dailyreport.html"><em class="icon-notebook"></em> Daily Report</a>
              </li>
              <li class="nav-heading ">
                 <span data-localize="sidebar.heading.HEADER">Facility &nbsp;&nbsp;&nbsp;&nbsp;</span>
              </li>
              <li>
                <a  href="#/Staffs"><em class="icon-user"></em> Staff &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              </li>
              <li>
                <a href="calendar.html"><em class="icon-calendar"></em> Calendar</a>
              </li>
              <li>
                <a href="menuplanner.html"><em class="icon-cup"></em> Menu Planner</a>
              </li>
              <li class="nav-heading ">
                 <span data-localize="sidebar.heading.HEADER">Administration</span>
              </li>
              <li>
                <a href="settings.html"><em class="icon-settings"></em> Settings</a>
              </li>
              <li>
                <a href="reports.html"><em class="icon-book-open"></em> Reports</a>
              </li>
              <li class="nav-heading ">
                 <span data-localize="sidebar.heading.HEADER">Extra Pages</span>
              </li>
              <li>
                <a href="elements.html"><em class="icon-chemistry"></em> Elements Doc</a>
              </li>
              <li>
                <a href="blank.html"><em class="icon-doc"></em> Blank Template</a>
              </li>
              <li>
                <a href="welcome.html"><em class="icon-heart"></em> Welcome/Set-up</a>
              </li>
              <li>
                <a href="login.html"><em class="icon-login"></em> Log-in Page</a>
              </li>
              <li>
                <a href="registration.html"><em class="icon-note"></em> Registration Page</a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
    
</template>
<script>
export default {
  name: 'SideBarComponent',
  data () {
    return {
      
    }
  }
}
</script>