// Overrides

a {
  color: #00BCD4;
}

body[md-theme="dark"] {
  background-color: #3a3a3a;
}
.md-dark-theme {
  color: rgba(255, 255, 255, .7) !important;
  a {
    color: #ffffff;
  }
}
md-list {
  padding-top: 0px;
  padding-bottom: 0px;
}
.md-list-item-inner {
  max-width: 100%;
  box-sizing: border-box;
}

.email-inbox-list-item p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

md-card md-card-content {
  display: block;
}

ui-gmap-google-map img {
  max-width: none;
}

#footer .md-toolbar-tools h2 {
  font-size: 1.2rem; //1.8rem;
  line-height: 1.6rem; //2.2rem;
}

// datepicker background
md-datepicker, md-datepicker .md-datepicker-input {
  background: none !important;
}
.md-calendar-day-header th {
  vertical-align: middle;
}

// md-data-table stop transition on toolbars

.md-table-toolbar {
  transition: none;
}

// Fix for ie11 dashboards table-layout
@media screen and (max-width: $layout-breakpoint-xs) {
  .os-windows .layout-column > .flex, .layout-xs-column > .flex {
      flex-basis: auto;
  }
}
