<div class="full-image-background mb-bg-fb-02" layout="row" layout-fill>
    <div class="animate-wrapper" flex layout="column">
        <div id="ui-login" class="agency-frame" ui-view flex layout="column" layout-align="start center"></div>
    </div>
</div>
