.seed-list {
  list-style: lower-greek;
}
.mrgR-10{ margin-right:10px;}
.mrgL-10{ margin-left:10px;}
.classpage md-input-container .md-errors-spacer {min-height:0;}
.col-25{width:25%; float:left;}
.classpage md-radio-button { display: inline-block; margin-right: 16px;}
.select-font-size label{font-size: 18px;}
md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child{font-size: 16px;}
@media(max-width: 1100px) {
.col-25{width:50%;}
}
@media (max-width: 600px) {
.mrgR-10{ margin-right:0px;}
.mrgL-10{ margin-left:0px;}
.col-25{width:100%;}
}